<template>
  <div
    id="product"
    class="overflow-hidden">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :categories="categories"
      :category="category"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        :class="{'nav-open': activeModal === 'sideNav'}">
        <div
          class="bg-cover bg-center bg-no-repeat mb-30 header-banner"/>
        <div class="px-15 sm:flex">
          <reward-points
            v-if="user !== null"
            :user="user"/>
        </div>
        <div class="px-15 py-30 sm:flex sm:justify-center sm:items-center sm:flex-col sm:m-auto sm:py-50 max-w-960">
          <div class="my-30 sm:mx-50">
            <div class="flex flex-col sm:justify-center sm:items-center">
              <h2 class="mb-0 sm:text-4xl">
                🍕 PIZZA ROULETTE 🍕
              </h2>
              <h3>
                Crust me, you won't want to miss this!
              </h3>
            </div>
            <p>
              <b>Thursday, March 12th</b>, Runner is teaming up with Big Trouble pizza. We will be randomly selecting 10 orders to receive a free pizza.
              You get the drinks, we'll bring the zah!
            </p>
            <h3>
              You knead the dough for the drinks!
            </h3>
            <p>
              The more you order, the better your chances are to win. Tell your friends, it's a vibe.
            </p>
            <p>
              If you haven't heard of Big Trouble Pizza, they're HOT up-and-comers in this chapter of Toronto's pizza history, taking a modern twist on
              classic styles with their signature light, tasty, and highly digestible crust.
            </p>
            <p>
              They've got two locations in downtown Toronto, China Town &amp; The Annex.
              Check em' out online at bigtroublepizza.com or on the gram @bigtroublepizza and show em' some love. If you don't know, now you know 🍕🔥
            </p>
          </div>
          <div class="flex justify-center items-center">
            <button-component
              :text="'BACK TO SHOPPING'"
              :font-size="'14px'"
              :font-weight="'700'"
              :color="'red'"
              :fill="true"
              :wrap-width="'200px'"
              :height="'48px'"
              @click.native="goToHome"/>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.header-banner {
  @media (min-width: 640px) {
    height: 350px;
    background-image: url('https://runner-file-manager.s3.amazonaws.com/ducky/RunnerPizzaDayBannerDesktop.jpg')
  }
  @media (min-width: 2560px) {
    height: 450px;
  }
  height: 200px;
  background-image: url('https://runner-file-manager.s3.amazonaws.com/ducky/RunnerPizzaDayBannerMobile.jpg')
}
.max-w-960 {
  @media (min-width: 640px) {
    max-width: 960px;
  }
}
.px-150 {
  padding-left: 150px;
  padding-right: 150px;
}
.h-150 {
  height: 150px;
}
.nav-open {
  margin-left: 250px !important;
}
p {
  line-height: 21px;
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    menuStatus() {
      return this.$store.getters.menuStatus;
    },
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    category() {
      return JSON.parse(this.pageAttributes).category;
    },
    breadCrumbs() {
      return JSON.parse(this.pageAttributes).breadCrumbs;
    },
    categories() {
      return JSON.parse(this.pageAttributes).categories;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;
    if (this.subDomain !== 'www') {
      window.location.href = `https://www.${this.domain}/pizza-roulette`;
    }
    try {
      await this.validate({
        domain: this.domain,
        storeId: this.storeId,
        secret: this.secret,
        userId: this.userId,
        accessToken: this.accessToken,
      });
    } catch (error) {
      console.log(error);
    }
    this.isLoading = false;
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    goToHome() {
      location.href = `https://${this.subDomain}.${this.domain}/`;
    },
  },
};
</script>
