<template>
  <div
    id="product"
    class="overflow-hidden">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :categories="categories"
      :category="category"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        :class="{'nav-open': menuStatus}">
        <div class="banner"/>
        <div class="reward-reorder">
          <reward-points
            v-if="user !== null"
            :user="user"/>
        </div>
        <div class="usual">
          <div class="title">
            USUAL
          </div>
          <div class="description">
            Our wines are made in small, sustainably farmed batches with no additives.
            The grapes are curated from the healthiest, tastiest crops each season,
            so once they hit the barrels, we let them do their
            thing with minimal intervention - no added sugars,
            no added sulfites - the natural way.
          </div>
          <!-- MAKE COMPONENT -->
          <span class="contents-wrapper">
            <div class="bottle-banner">
              <img :src="images.red2015">
            </div>
            <div class="contents">
              <div class="content-title">
                Red 2015
              </div>
              <div class="content-info">
                187 mL Bottle | Sonoma County, CA
              </div>
              <div class="content-description">
                A bright, satisfying sip of bing cherries, dark chocolate, and fresh violets.
                Our red blend is expertly made in small batches from
                sustainably farmed grapes with no additives and minimal
                intervention—the real way.
              </div>
              <div
                class="content-levels">
                <div class="sugar">
                  <img :src="icons.sugar">
                  <div class="sugar-content">
                    <div>
                      Sugar content
                    </div>
                    <div>
                      8 g/L
                    </div>
                  </div>
                </div>
                <div class="alcohol">
                  <img :src="icons.alcohol">
                  <div class="alcohol-content">
                    <div>
                      Alcohol/Vol
                    </div>
                    <div>
                      13.7%
                    </div>
                  </div>
                </div>
              </div>
              <div class="price">
                $9.95
              </div>
              <button
                class="add-to-cart"
                @click="goToProduct(redProduct, domain)">
                Add To Cart
              </button>
            </div>
          </span>
          <!-- END COMPONENT -->
          <span class="contents-wrapper">
            <div class="bottle-banner">
              <img :src="images.rose2018">
            </div>
            <div class="contents">
              <div class="content-title">
                Rosé 2018
              </div>
              <div class="content-info">
                187 mL Bottle | Santa Barbara, CA
              </div>
              <div class="content-description">
                A crisp, easy-drinking Rosé with notes of strawberry, rose petal, and rhubarb.
                Expertly made in small batches from sustainably farmed grapes with no additives and
                minimal intervention—the real way.
              </div>
              <div
                style="padding-top: 10px;"
                class="content-levels">
                <div class="sugar">
                  <img :src="icons.sugar">
                  <div class="sugar-content">
                    <div>
                      Sugar content
                    </div>
                    <div>
                      2 g/L
                    </div>
                  </div>
                </div>
                <div class="alcohol">
                  <img :src="icons.alcohol">
                  <div class="alcohol-content">
                    <div>
                      Alcohol/Vol
                    </div>
                    <div>
                      13%
                    </div>
                  </div>
                </div>
              </div>
              <div class="price">
                $9.95
              </div>
              <button
                class="add-to-cart"
                @click="goToProduct(roseProduct, domain)">
                Add To Cart
              </button>
            </div>
          </span>

          <span class="contents-wrapper">
            <div class="bottle-banner">
              <img
                :src="images.combo"
                style="width: 565px;">
            </div>
            <div
              style="grid-template-rows: 65px 65px 145px 75px 90px;"
              class="contents">
              <div class="content-title">
                Do the combo
              </div>
              <div class="content-info">
                One Red and one Rosé
              </div>
              <div class="content-description">
                Grab a pack that’s half Red, half Rosé.
                The Rosé is crisp and easy-drinking with notes of strawberry, rose petal, and rhubarb.
                The Red is bright and satisfying with notes of bing cherries, dark chocolate, and fresh violets.
                You’ll need both at some point, and a fresh glass is always the answer.
              </div>
              <img
                style="width: 298px; height: 132px; margin-top: 10px; margin-bottom: 10px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1565881598/usual/UsualWineCombopack.png">
              <div
                class="price">
                $19.90
              </div>
              <button
                class="add-to-cart"
                @click="goToProduct(combo, domain)">
                Add To Cart
              </button>
            </div>
            <!-- END USUAL -->
          </span>
        </div>
        <div class="no-additives">
          <div class="title">
            No additives
          </div>
          <div class="description">
            Our wines are made the natural way: in small,
            sustainably farmed batches with nothing added to artificially preserve, or augment the taste.
            There’s no need. Our grapes are carefully sourced for taste, so once they hit the barrels,
            we let them do their thing with minimal intervention. It’s not the only way to make wine,
            but it’s the Usual way.
          </div>
          <div class="sugar-sulfites">
            <div class="no-sugar">
              <div
                class="wrap-title"
                style="display: flex;">
                <img
                  :src="icons.sugarcubes">
                <div
                  class="title sugar">
                  No added sugar
                </div>
              </div>
              <div class="description">
                You’re here to drink wine, not grape soda.
                No reason to artificially sweeten the best grapes that California has to offer.
              </div>
            </div>
            <div class="no-sulfites">
              <div
                class="wrap-title"
                style="display: flex;">
                <img
                  :src="icons.sulfites">
                <div
                  class="title sulfites">
                  No added sulfites
                </div>
              </div>
              <div class="description">
                Although common to add extra sulfites to ensure “freshness,” we don’t. Period.
                This means less chemicals, less hangovers, and more fun.
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <!-- <img :src="images.footer"> -->
          <span class="title-description-wrap">
            <div class="title">
              USUAL Wines
            </div>
            <div class="description">
              We curate sustainably farmed grape varieties from different
              regions to show off all the delicious
              nuances California’s microclimates have to offer -
              warm and coastal for the Rosé, and cool,
              misty mountains for the Red. The premise is nothing new: source the tastiest grapes,
              treat them right, and let them shine.
            </div>
          </span>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.add-to-cart {
  @media (min-width: 640px) {
    width: 300px;
    height: 45px;
  }
  text-align: center;
  background-color: #F83F40;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  width: 100%;
  padding: 15px 0 15px 0;
  box-shadow: 0px 5px 16px -5px #F83F40;
}
.banner {
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708470/usual/UsualBanner.png');
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708469/usual/UsualBannerFooter.png');
  height: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-description-wrap {
  position: absolute;
  top: 0px;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 50px;
  .title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  @media (min-width: 640px) {
    background-color: rgba(47,47,47,0.4);
    width: 50%;
  }
}
.contents-wrapper {
  @media (min-width: 640px) {
    display: grid;
    grid-auto-flow: column;
    column-gap: 102px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer {
  position: relative;
  img {
    width: 100%;
  }
  .title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    @media (min-width: 640px) {
    }
  }
  .description {
    color: white;
    font-size: 16px;
    @media (min-width: 640px) {
    }
  }
}
.no-additives {
  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
  }
  border-top: 1px #EFEFEF solid;
  padding: 80px 20px 80px 20px;
  .title {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 20px;
    @media (min-width: 640px) {
      font-size: 30px;
    }
  }
  .description {
    font-size: 16px;
    line-height: 21px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .sugar-sulfites {
    @media (min-width: 640px) {
      display: grid;
      grid-auto-flow: column;
      gap: 185px;
    }
    .no-sugar {
      .wrap-title {
        img {
          width: 50px;
          height: 50px;
        }
      }
      .title.sugar {
        margin-left: 10px;
        flex: 1;
        align-self: center;
        padding-bottom: 0px !important;
      }
    }
    .no-sulfites {
      @media (min-width: 640px) {
        margin-left: 5px;
      }
      .wrap-title {
        img {
          padding-left: 11px;
          @media (min-width: 640px) {
            padding-left: 0px;
          }
          width: 50px;
          height: 50px;
        }
      }
      .title.sulfites {
        margin-left: 10px;
        @media (min-width: 640px) {
          margin-left: 10px;
        }
        flex: 1;
        align-self: center;
        padding-bottom: 0px !important;
      }
    }
  }
}
.usual {
  @media (min-width: 640px) {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    padding: 0px;
  }
  padding: 20px;
  .title {
    font-size: 22px;
    font-weight: 600;
    padding: 25px 0 55px 0;
    @media (min-width: 640px) {
      font-size: 40px;
    }
  }
  .description {
    font-size: 16px;
    line-height: 26px;
    border-bottom: 1px #efefef solid;
    padding-bottom: 45px;
  }
  .bottle-banner {
    display: flex;
    justify-content: center;
    img {
      max-width: 548px;
      max-height: 548px;
    }
  }
  .contents {
    padding-top: 35px;
    padding-bottom: 35px;
    display: block;
    @media (min-width: 640px) {
      padding-top: 0px;
      padding-bottom: 0px;
      padding: 0px;
    }
    .content-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
      @media (min-width: 640px) {
        font-size: 40px;
      }
    }
    .content-info {
      color: #acacac;
      margin-bottom: 40px;
      font-size: 17px;
      font-weight: 500;
    }
    .content-description {
      font-size: 19px;
      line-height: 25px;
      font-weight: lighter;
      @media (min-width: 640px) {
        font-size: 14px;
      }
    }
    .content-levels {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      @media (min-width: 640px) {
        padding-top: 10px !important;
      }
      .sugar {
        display: flex;
        justify-content: left;
        @media (min-width: 640px) {
          justify-content: unset;
        }
        flex: 1;
        .sugar-content {
          margin-left: 10px;
          margin-top: 10px;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
      .alcohol {
        display: flex;
        justify-content: left;
        @media (min-width: 640px) {
          justify-content: unset;
        }
        flex: 1;
        .alcohol-content {
          margin-left: 10px;
          margin-top: 10px;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .price {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 30px;
      @media (min-width: 640px) {
        font-size: 35px;
      }
    }
    .quantity {
      margin-bottom: 25px;
      @media (min-width: 640px) {
      }
      div {
        font-size: 16px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
        margin-right: 20px;
      }
      .minus-btn {
        img {
          width: 20px;
        }
        border: 1px #ACACAC solid;
        border-radius: 4px;
        height: 35px;
        width: 35px;
      }
      .plus-btn {
        img {
          width: 20px;
        }
        border: 1px #ACACAC solid;
        border-radius: 4px;
        height: 35px;
        width: 35px;
      }
    }
    .add-to-cart-btn {
      @media (min-width: 640px) {
        width: 300px;
        height: 45px;
      }
      button {
        color: white;
      }
      text-align: center;
      background-color: #F83F40;
      border-radius: 4px;
      width: 50%;
      padding: 15px 0 15px 0;
      box-shadow: 0px 5px 16px -5px #F83F40;
    }
  }
}
.icon.star {
  width: 35px;
  height: 35px;
  align-self: center;
  margin-top: 30px;
  @media (min-width: 640px) {
    width: 25px;
    height: unset;
    align-self: center;
    margin-top: 25px;
  }
}
.reward-reorder {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
  @media (min-width: 640px) {
    // margin-right: 205px;
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    display: flex;
    justify-content: flex-end;
    align-content: unset;
    margin-top: 50px;
  }
  .reward {
    margin: 10px;
    flex: 1;
    @media (min-width: 640px) {
      flex: unset;
      width: 250px;
    }
  }
  .reorder {
    margin: 10px;
    flex: 1;
    align-self: center;
    text-align: -webkit-center;
    @media (min-width: 640px) {
      flex: 0 0 155px;
    }
  }
}
.reorder-btn {
  cursor: pointer;
  border-radius: 4px;
  background: #58DFA9;
  color: white;
  width: 100%;
  height: 60px;
  @media (min-width: 640px) {
    height: 40px;
    margin-top: 17px;
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
}
.progress-bar {
  background-color: #efefef;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 9px;
  div {
    height: 9px;
  }
}
.reward-box {
  display: flex;

  .pts-box {
    @media (min-width: 640px) {
      display: flex;
    }
    @media(max-width: 1335px) {
      grid-template-rows: 1fr 1fr;
    }
    margin-left: 9px;
    display: grid;
    grid-template-rows: 20px 40px;
    margin-top: 30px;
    .reward-text {
      @media (min-width: 640px) {
       display: inline-flex;
       span {
         font-size: 15px !important;
       }
      }
    }
    .pts {
      @media (min-width: 640px) {
        margin-left: 33px;
       display: inline-flex;
       span {
         font-size: 15px !important;
       }
      }
    }
  }
}
.nav-open {
  margin-left: 250px !important;
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      redProduct: {},
      roseProduct: {},
      both: [],
      isLoading: false,
      redAmt: 0,
      roseAmt: 0,
      comboAmt: 0,
      combo: {},
      images: {
        banner: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708470/usual/UsualBanner.png',
        footer: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708469/usual/UsualBannerFooter.png',
        red2015: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708294/usual/UsualWineRed.png',
        rose2018: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708293/usual/UsualWineRose.png',
        combo: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708293/usual/UsualWineCombo.png',
      },
      icons: {
        reorder: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavReOrder.png',
        star: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png',
        sugar: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708291/usual/UsualIconSugar.png',
        alcohol: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565708291/usual/Group_85.png',
        minus: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053220/runner%20v4/icons/IconMinusGrey.png',
        plus: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png',
        sugarcubes: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565714031/usual/UsualIconSugarcubes.png',
        sulfites: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1565714031/usual/UsualIconSulphite.png',
      },
    };
  },
  computed: {
    menuStatus() {
      return this.$store.getters.menuStatus;
    },
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    category() {
      return JSON.parse(this.pageAttributes).category;
    },
    breadCrumbs() {
      return JSON.parse(this.pageAttributes).breadCrumbs;
    },
    categories() {
      return JSON.parse(this.pageAttributes).categories;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    // if (this.subDomain != 'lcbo') {
    //   location.href = `https://lcbo.${this.domain}/usual`;
    // }
    try {
      await this.validate({
        domain: this.domain,
        storeId: this.storeId,
        secret: this.secret,
        userId: this.userId,
        accessToken: this.accessToken,
      });
      await this.getRedProduct();
      await this.getRoseProduct();
      await this.getCombo();
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    async getRedProduct() {
      this.isLoading = true;
      await axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/products/18345`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.redProduct = response.data.data;
          this.both.push(this.redProduct);
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getRoseProduct() {
      this.isLoading = true;
      await axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/products/18344`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.roseProduct = response.data.data;
          this.both.push(this.roseProduct);
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getCombo() {
      this.isLoading = true;
      await axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/products/19529`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.combo = response.data.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    goToProduct(product, domain) {
      location.href = `https://lcbo.${domain}/product/${product.attributes.slug}`;
    },
  },
};
</script>
