#add-to-cart {
    padding: $spacer-smaller;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: $spacer;
    margin-bottom: $spacer-small;

    @media screen and (min-width: $medium) {
        grid-template-columns: 1fr 119px;
    }

    .counter {
        border: 1px solid #aeaeae;
        display: grid;
        grid-template-columns: repeat(3, auto);
        border-radius: 35px;

        input {
            border-radius: $border-radius-small;
            height: auto;
            font-size: 20px;
            text-align: center;
            padding: 0;
            border: 0;
        }

        .button {
            font-size: 18px;
            line-height: 1;
            min-height: 50px;
            border-radius: 35px;
            background-color: transparent;
            color: #aeaeae;

            &:hover {
                transform: none;
                box-shadow: none;
            }
        }
    }

    .button {
        margin-bottom: 0;
    }
}

