#address {
    overflow: auto;

    .main-address-wrap {
        margin: 0 auto;
        max-width: 600px;
    }

    .form-wrap {
        margin-bottom: $spacer;
    }
}

.address-list {

    .address {
        display: grid;
        cursor: pointer;
        grid-template-columns: 30px auto 100px;
        grid-gap: $spacer-small;
        align-items: center;
        padding: $spacer-small;
        margin-bottom: $spacer-small;

        &.is-selected {
            background-color: $green;
        }

        .printable_address {

            span {
                font-weight: 600;
            }
        }

        .delete {
            justify-self: end;

            .button {
                background-color: $red;
                color: $white;
            }
        }

        .checkbox {
            border: 0;
            justify-items: end;

            input {
                cursor: pointer;

                &:focus {
                    outline: 0;
                }
            }
        }
    }
}