.algolia-autocomplete {
    width: 100%;
}

.aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}

.aa-suggestion {
    padding: 12px;
    cursor: pointer;
}

.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}

.aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35);
}