.badge {
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 2px 8px;

    &.badge--red {
        background-color: $red;
        color: $white;
    }
}