#breadcrumbs {

    ul {
        margin: 0 auto;
        padding: $spacer 0;
        text-align: center;

        li {
            display: inline-block;
            list-style-type: none;
            text-align: center;

            a {
                color: $gray-dark;
                font-weight: 600;
                padding: 0 $spacer-smaller;
                text-transform: uppercase;
            }
        }
    }
}