#bundle {

    .search-wrap {
        margin: $spacer 0 0;
    }

    .info-wrap  {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: $spacer;
        align-items: center;
        margin-bottom: $spacer;

        @media screen and (min-width: $medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        .image {

            img {
                width: 100%;
            }
        }
    }

    .info {
        display: grid;
        grid-gap: $spacer-small;

        .title-wrap {
            grid-template-columns: 100%;
            margin-bottom: 0;

            h1 {
                font-size: 36px;
                text-align: center;
            }
        }

        .price {
            text-align: center;

            .sale-price {
                color: $red;
                font-size: 28px;
                font-weight: 600;
            }

            .normal-price {
                color: $gray-dark;
                font-size: 28px;
                font-weight: 600;
            }

            .is-sale {
                display: inline-grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .normal-price {
                    font-size: 20px;
                    padding: 0 $spacer-smaller;
                }
            }
            
        }

        .rating {
            justify-content: center;
        }
    }

    .description {
        margin-bottom: $spacer;

        &:last-child {
            margin-bottom: 0;
        }

        p {
            font-size: 20px;
        }
    }

    .stock {

        .in-stock, .out-of-stock {
            display: grid;
            grid-template-columns: 20px auto;
            grid-gap: $spacer-small;
            justify-content: center;
            align-items: center;

            img {
                width: 20px;
            }

            span {
                font-size: 22px;
                font-weight: 600;
            }
        }
    }

    .items {
        display: grid;
        grid-gap: $spacer-small;
        margin-bottom: $spacer;

        .item {
            display: grid;
            grid-template-columns: 70px auto 30px;
            grid-gap: $spacer-small;
            padding: $spacer-small;
            color: $gray-dark;
            align-items: center;

            .image {

                img {
                    height: 70px;
                }
            }

            .item__info {
                display: inline-grid;
                grid-gap: $spacer-smaller;

                .title {
                    font-weight: 600;
                }

                .package {
                    align-self: end;

                    span {
                        font-style: italic;
                        font-weight: 600;
                    }
                }

                .description {
                    padding: 0;
                    margin-bottom: 0;
                }
            }

            .quantity {
                align-self: center;

                span {
                    font-size: 28px;
                    font-weight: 600;
                }
            }
        }
    }

    .details {
        display: inline-grid;
        grid-gap: $spacer;

        .detail {
            display: inline-grid;
            grid-gap: $spacer-small;

            .details__key {
                font-weight: 600;
            }
        }
    }
}

.bundles-scroller {
    overflow-x: visible;

    @supports (display: grid) {
        overflow-x: scroll;
        grid-template-columns: repeat(8, 350px);
        grid-column-gap: $spacer-small;
    }

    .bundle {
        float: left;
        margin-right: $spacer;
        width: 100%;

        @supports (display: grid) {
            margin-right: 0;
        }

        @media screen and (min-width: $medium) {
            width: calc(33.3333% - 20px);

            @supports (display: grid) {
                width: auto;
            }
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n + 7) {
            display: none;

            @supports (display: grid) {
                display: grid;
            }
        }
    }
}

.bundle {
    display: grid;
    grid-template-rows: 200px auto;
    margin-bottom: $spacer;

    .image {
        border-radius: 12px 12px 0 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .info {
        background-color: $white;
        border-radius: 0 0 12px 12px;
        overflow: hidden;
        padding: $spacer-small;
        min-height: 120px;

        @supports (display: grid) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: $spacer-small;
            grid-row: 3;
            min-height: 1px;
        }

        .details {
            float: left;
            width: 50%;

            @supports (display: grid) {
                display: inline-grid;
                grid-template-rows: repeat(2, 1fr);
                grid-row-gap: 5px;
                float: none;
                width: auto;
            }

            .title {
                margin-bottom: 5px;

                @supports (display: grid) {
                    margin-bottom: 0;
                }

                h3 {
                    color: $gray-dark;
                    font-size: 18px;
                }
            }

            .price {
                margin-bottom: 5px;

                .sale-price {
                    color: $red;
                    font-size: 22px;
                    font-weight: 600;
                }

                .normal-price {
                    color: $gray-dark;
                    font-size: 22px;
                    font-weight: 600;
                }

                .is-sale {
                    display: inline-grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;

                    .normal-price {
                        font-size: $font-size-small;
                        padding: 0 $spacer-smaller;
                    }
                }

            }

            .reviews {
                align-items: end;
            }
        }

        .gift-this {
            text-align: right;
            float: right;

            @supports (display: grid) {
                float: none;
            }

            .button {
                background-color: $red;
                color: $white;
            }
        }
    }
}

#bundles {
    margin-bottom: $spacer;

    .search-wrap {
        margin: $spacer 0;
    }

    .description {
        margin-bottom: $spacer;

        p {
            font-size: 20px;
        }
    }

    .processes {
        display: grid;
        grid-gap: $spacer;
        margin-bottom: $spacer;

        @media screen and (min-width: $medium) {
            grid-template-columns: repeat(3, 1fr);
        }

        .process {
            
            .image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 8px;
                height: 150px;
                margin-bottom: $spacer;
            }

            p {
                font-size: 20px;
                margin-bottom: $spacer-small;
            }
        }
    }

    .bundles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $spacer;

        @media screen and (min-width: $medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        .bundle {
            display: block;

            @supports(display: grid) {
                display: grid;
                margin-bottom: 0;
            }
        }
    }
}