.button {
	background-color: $white;
	border: 0;
	border-radius: $border-radius;
	display: inline-block;
	cursor: pointer;
	font-weight: 600;
	padding: $button-padding;
	text-align: center;
	white-space: no-wrap;
	vertical-align: center;
	transition: all .15s ease;

	&:hover {
		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
		transform: translateY(-1px);
	}

	&:focus {
		outline: 0;
	}

	&.button--large {
		border-radius: $border-radius-small;
		padding: 0 $spacer-small;
		font-size: 18px;
		height: 50px;
		line-height: 50px;
	}

	&.button--primary {
		background-color: $red;
		color: $white;
	}

	&.button--secondary {
		background-color: $gray-dark;
		color: $white;
	}
}

.button-close {
    background-color: $white;
    border: 1px solid $gray-dark;
    border-radius: 100%;
    cursor: pointer;
    height: $spacer;
    width: $spacer;
	position: absolute;
	top: $spacer-small;
	right: $spacer-small;

	&:focus {
		outline: 0;
	}
}

.button-add {
	background-color: $red;
	color: $white;
	font-size: 20px;
}

.button-round {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $white;
	border: 1px solid $gray-light;
	border-radius: 100%;
	height: $spacer;
	width: $spacer;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}
}

#cart-button {
	position: fixed;
	cursor: pointer;
	display: grid;
	justify-content: center;
	align-items: center;
	box-shadow: $box-shadow-strong;
	background-color: $white;
	border: 1px solid $gray-light;
	width: $spacer-large;
	height: $spacer-large;
	border-radius: 100%;
	bottom: $spacer;
	right: -100px;
	transition: 0.3s ease all;
	z-index: 900;

	&.active {
		right: $spacer;
		transition: 0.3s ease all;
	}

	img {
		max-width: $spacer;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

#support {
	margin-bottom: $spacer;
	padding: 0 $spacer-small;

	.title-wrap {
		margin-bottom: $spacer !important;
		grid-template-columns: 100%;

		h2 {
			text-align: center;
		}
	}

	.buttons {
		display: grid;
		grid-gap: $spacer-small;
		grid-template-columns: repeat(2, auto);

		.button {
			cursor: pointer;
			border: 1px solid $gray-light;
			height: 50px;
		}
	}
}

.button--table {
	border: 1px solid $gray-dark;
	margin-bottom: 0;
}

.button--facebook {
	background-color: #4267b2;
	color: $white;
	margin-bottom: ($spacer * 2) !important;
	width: 100%;
}

.button--store-closed {
	height: auto !important;
	line-height: 1 !important;
	padding: $spacer-small !important;
}

.button--banner {
	border-radius: 30px;
	background-color: transparent;
	color: $white;
	text-transform: uppercase;
	padding: $spacer-small $spacer;

	&:hover {
		color: $white;
	}
}

.button--disabled {
	background-color: $gray-dark;
}

