#cart {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1800;
}

.cart-wrap {
    margin: 0 auto;
    max-width: 600px;

    .is-gift {
        cursor: pointer;
        display: grid;
        grid-template-columns: 40px auto $spacer;
        grid-gap: $spacer-small;
        padding: $spacer-small;
        background-color: $green;
        align-items: center;
        margin-bottom: $spacer;

        &.not-gift {
            background-color: $gray-light;
        }

        .image {

            img {
                width: 40px;
            }
        }

        span {
            font-size: 18px;
            font-weight: 400;
        }

        .checkbox {
            border: 0;
            justify-self: end;

            &:focus {
                outline: 0;
            }
        }
    }

    .cart-items {
        display: grid;
        grid-gap: $spacer-small;
        margin-bottom: $spacer;
        .cart-item {
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-gap: $spacer-small;
            padding: $spacer-small;
            label {
                margin: 0 !important;
            }
            .vue-switcher-theme--custom {
                &.vue-switcher-color--red {
                    div {
                        background-color: lighten(#50E3C2, 10%);
                        &:after {
                            // for the circle on the switch 
                            background-color: darken(#50E3C2, 5%);
                        }
                    }
                    &.vue-switcher--unchecked {
                        div {
                            background-color: lighten(#50E3C2, 30%);
                            &:after {
                                background-color: lighten(#50E3C2, 10%);
                            }
                        }
                    }
                }
            }
            .image {
                align-self: center;

                img {
                    width: 60px;
                }
            }
            .info {
                display: inline-grid;
                grid-gap: $spacer-smaller;
                .counter {
                    display: grid;
                    max-width: 200px;
                    grid-template-columns: ($spacer * 2) auto ($spacer * 2);
                    grid-gap: $spacer-smaller;

                    .decrement, .increment, .delete {
                        border: 1px solid $gray-light;
                        margin-bottom: 0;
                    }

                    .delete {
                        background-color: $red;
                        color: $white;
                    }

                    input {
                        padding: $spacer-smaller;
                        text-align: center;
                        height: 50px;
                        min-width: 50px;
                    }
                }

                .price {

                    span {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .coupon {
        margin-bottom: $spacer;

        input {
            border: 1px solid $gray-light;
            text-align: center;
            text-transform: uppercase;
        }

        .notification {
            margin-top: $spacer;
        }
    }
}

.numbers {
    display: grid;
    grid-gap: $spacer-small;
    margin-bottom: $spacer;

    .number {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 18px;
        font-weight: 600;

        &.total {
            font-size: 22px;
        }

        .value {
            justify-self: end;
        }
    }
}

.confirm {
    display: grid;
    grid-template-columns: 1;
}
