#cart-starter {

    .info {
        padding: ($spacer * 2) $spacer-small;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $spacer;
    }
}