#filters {
    margin-bottom: $spacer;

    .title-wrap {
        grid-template-columns: 170px auto;

        .expander {
            cursor: pointer;

            span {
                font-size: 30px;
            }
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, 170px);
        grid-gap: $spacer-small;
        margin-bottom: $spacer;

        li {
            display: grid;
            grid-template-columns: $spacer auto;
            grid-gap: $spacer-small;
            align-items: center;
            list-style-type: none;
        }
    }
}