// input[type="text"], 
// input[type="email"], 
// input[type="password"], 
// input[type="number"], 
// input[type="tel"], 
// textarea,
// select {
//     background-color: $white;
//     border: 1px solid #cecece;
//     border-radius: $border-radius-small;
//     color: $input-color;
//     font-size: $input-font-size;
//     height: 50px;
//     padding: $input-padding;
//     line-height: normal;
//     width: 100%;
//     -webkit-appearance: none;

//     &:focus {
//         outline: 0;
//     }

//     &.input--icon {
//         background-position: $spacer-small center;
//         background-repeat: no-repeat;
//         background-size: 15px;
//         padding-left: $spacer-large;
//     }
// }

// textarea {
//     min-height: 200px;
//     padding: $spacer;
// }

// // Remove inner increment/decrement
// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     margin: 0;
// }

// .form-wrap {
//     display: grid;
//     align-items: center;
//     grid-template-columns: 100%; 

//     label {
//         font-weight: 600;
//     }
// }

// .form-wrap-double {
//     grid-gap: $spacer-small;

//     @media screen and (min-width: $medium) {
//         grid-template-columns: repeat(2, minmax(50px, 1fr));
//     }
// }

// .form-wrap-triple {
//     grid-gap: $spacer-smaller;

//     @media screen and (min-width: $medium) {
//         grid-template-columns: repeat(3, minmax(50px, 1fr));
//     }
// }

// .checkbox {
//     border: 1px solid $gray-dark;
//     border-radius: 100%;
//     cursor: pointer;
//     -webkit-appearance: none;
//     margin-right: $spacer-small;
//     height: $spacer;
//     width: $spacer;

//     &:checked {
//         background-color: $gray-dark;
//     }

//     &:focus {
//         outline: 0;
//     }
// }

// /* Change the white to any color ;) */
// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 30px white inset;
// }