// .header-wrap {
//     background-color: $white;
//     grid-template-rows: 40px 40px;
//     left: 0;
//     position: fixed;
//     right: 0;
//     top: 0;
//     z-index: 700;
//     height: 80px;

//     &.hidden {
//         height: 40px;
//         box-shadow: $box-shadow-strong;
//     }

//     @supports (display: grid) {
//         display: grid;
//     }

//     &.store-status-active {
//         grid-template-rows: auto 54px 34px;
//     }
// }

.store-status {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    min-height: 34px;
    background-color: $white;
    border-bottom: 2px solid $red;

    span {
        color: $red;
        margin: 0;
        text-align: center;
    }
}

.cart-updated {
    background-color: $red;
    position: absolute;
    top: 0px;
    height: 34px;
    transition: 0.3s ease all;
    line-height: 34px;
    width: 100%;
    text-align: center;
    z-index: -1;

    @supports (display: grid) {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &.active {
        top: 88px;
        transition: 0.3s ease all;
    }

    h1 {
        color: $white;
    }
}

// header {
//     align-items: center;
//     background-color: $white;
//     border-bottom: 1px solid $gray-light;
//     height: 40px;
//     z-index: 990;

//     @supports (display: grid) {
//         display: grid;
//         grid-template-columns: 180px auto;

//         @media screen and (min-width: $medium) {
//             grid-template-columns: 180px auto auto;
//         }
//     }

//     .logo {
//         cursor: pointer;
//         float: left;
//         position: relative;

//         img {
//             height: 40px;
//         }

//         .domain-dropdown {
//             position: absolute;
//             top: 0;
//             left: 0;
//             margin: 0;
//             padding: 0;

//             li {
                
//                 a {
//                     overflow: hidden;
//                     max-width: 164px;
//                     display: block;
//                 }
//             }
//         }
//     }

//     .info {
//         display: grid;
//         align-items: center;
//         justify-content: right;
//         grid-template-columns: repeat(3, 1fr);
//         grid-gap: $spacer-small;

//         @media screen and (min-width: $medium) {
//             grid-template-columns: repeat(5, 40px);
//             grid-gap: $spacer-small;
//         }

//         .cart {
//             position: relative;

//             .cart-amount {
//                 background-color: $red;
//                 border-radius: 100%;
//                 position: absolute;
//                 top: -10px;
//                 right: -10px;
//                 width: 20px;
//                 height: 20px;
//                 font-size: 10px;
//                 text-align: center;
//                 line-height: 20px;
//                 color: $white;
//             }
//         }

//         .account-name, .account {
//             display: none;

//             @media screen and (min-width: $medium) {
//                 display: block;
//             }
//         }

//         * {
//             text-align: center;
//             cursor: pointer;
//         }

//         a {
//             color: $gray-dark;
//         }

//         img {
//             width: 15px;
//             height: 15px;
//         }

//         .main-menu-icon {
//             cursor: pointer;
//         }
//     }

//     .categories {
//         display: none;
//         list-style-type: none;
//         margin: 0;
//         padding: 0;
//         float: left;

//         @media screen and (min-width: $medium) {
//             display: block;
//         }

//         @supports (display: grid) {
//             grid-template-columns: repeat(5, auto);

//             @media screen and (min-width: $medium) {
//                 display: grid;
//             }
//         }

//         li {
            
//             .categories__dropdown-menu {
//                 display: none;
//                 background-color: $white;
//                 border-left: 1px solid $gray-light;
//                 border-right: 1px solid $gray-light;
//                 border-bottom: 1px solid $gray-light;
//                 position: fixed;
//                 left: 0;
//                 right: 0;
//                 padding: 0;

//                 .wrap {
//                     display: grid;
//                     grid-template-columns: repeat(4, 1fr);
//                     margin: 0 auto;
//                     padding: $spacer;
//                     max-width: 1000px;

//                     .dropdown-section {

//                         p {
//                             margin-bottom: $spacer-small;
//                         }

//                         ul {
//                             margin: 0;
//                             padding: 0;

//                             li {
//                                 border-bottom: 0;
//                                 padding: 0;

//                                 a {
//                                     font-weight: 300;
//                                     text-align: left;
//                                 }

//                                 .sale {
//                                     color: $red;
//                                     font-weight: 600;
//                                 }
//                             }
//                         }
//                     }
//                 }

//                 li {
//                     border-right: 0 !important;
//                     border-bottom: 1px solid $gray-light;
//                     width: 100%;

//                     &:last-child {
//                         border-bottom: 0;
//                     }
//                 }
//             }
//         }

//         li:hover {

//             .categories__dropdown-menu {
//                 display: block;
//             }
//         }

//         li {
//             border-right: 1px solid $gray-light;
//             display: inline-block;
//             position: relative;

//             &.current-tab {

//                 &::after {
//                     content: '';
//                     height: 3px;
//                     width: 100%;
//                     position: absolute;
//                     left: 0;
//                     right: 0;
//                     bottom: 0;
//                     background-color: $red;
//                 }
//             }
//         }

//         a {
//             color: $gray-dark;
//             display: block;
//             height: 40px;
//             line-height: 40px;
//             font-weight: 600;
//             text-align: center;

//             span {
//                 display: block;
//                 float: right;
//             }

//             .menu-icon {
//                 float: left;

//                 img {
//                     max-height: 20px;
//                 }
//             }
//         }
//     }

//     .page-title {
//         position: absolute;
//         right: 40px;
//         top: 0;
//         height: 40px;
//         line-height: 40px;

//         @supports (display: grid) {
//             position: relative;
//             right: auto;
//         }
//     }
// }

.address-wrap {
    background-color: $white;
    cursor: pointer;
    border-bottom: 1px solid #ececec;
    height: 40px;
    padding: 0 $spacer-small;
    transform: translateY(0);
    transition: 0.1s ease all;
    visibility: visible;

    &.hidden {
        transform: translateY(-40px);
        transition: 0.1s ease all;
        visibility: hidden;
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: 60px auto 60px;
        align-items: center;
    }

    .navigation-icon {
        text-align: left;
        float: left;
        height: auto;
        width: 33.3333%;
        line-height: 34px;
        height: 34px;   

        @supports (display: grid) {
            float: none;
            width: auto;         
        }
        
        img {
            width: 15px;
        }
    }

    .address {
        text-align: center;
        float: left;
        width: 33.3333%;
        height: 40px;
        line-height: 40px;

        @supports (display: grid) {
            float: none;
            height: auto;
            width: auto;
            text-align: center;
            line-height: 1;
        }

        span {
            font-size: 14px;
            font-weight: 700;
        }
    }

    .edit {
        text-align: right;
        float: left;
        width: 33.3333%;
        height: 34px;
        line-height: 34px;

        @supports (display: grid) {
            float: none;
            width: auto;
        }
    

        .button {
            background-color: none;
            box-shadow: none;
            border-radius: 30px;
            border: 2px solid $gray-dark;
            color: $gray-dark;
            margin-bottom: 0;
            padding: 3px 15px;
            line-height: 1;
            text-transform: uppercase;

            &:hover {
                transform: translateY(0);
            }
        }
    }
}