#is-loading-page {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //z-index: 99999;
}