#menu {
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .menu-wrap {
        margin: 0 auto;
        max-width: 600px;

        ul {
            list-style-type: none;
            padding: 0 $spacer;

            li {
                display: grid;
                grid-template-columns: $spacer auto;
                grid-gap: $spacer-small;
                align-items: center;
                overflow: hidden;

                .menu-icon {
                    display: none;

                    @supports(display: grid) {
                        display: block;
                    }
                }

                a {
                    display: grid;
                    color: $gray-dark;
                    height: 50px;
                    line-height: 50px;
                }
            }
        }
    }

    .menu-wrap__refer-a-friend {
        border: 2px solid $red;
        border-radius: 14px;
        padding: $spacer-small;
        display: block;
        grid-gap: $spacer;
        grid-template-columns: $spacer auto;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        width: 100%;

        @supports(display: grid) {
            display: grid;
        }
    }

    .menu-wrap__login, .menu-wrap__logout, .menu-wrap__register {
        border: 2px solid $gray-dark;
        border-radius: 14px;
        display: block;
        color: $gray-dark;
        grid-template-columns: 100%;
        padding: $spacer-small;
        align-items: center;
        justify-content: center;
        margin-bottom: $spacer-small;
        font-weight: 600;
        text-align: center;
        width: 100%;

        @supports(display: grid) {
            display: grid;
        }
    }
}