.notification {
    color: $white;
    display: grid;
    padding: $spacer-small;
    margin-top: $spacer-small;

    &--success {
        background-color: $green !important;
        //background-image: url('/assets/v2/')
    }

    &--warning {
        background-color: $red !important;
    }

    span {
        color: $white;
    }
}