.overlay {
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: ($spacer * 2) $spacer-small;
    z-index: 1900;

    &--dark {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.overlay--notification {
    display: grid;
    grid-gap: $spacer;
    border: 4px solid $gray-dark;
    justify-content: center;
    width: 300px;
    height:  500px;
    transform: translate(-50%, -50%);
    top:  50%;
    left: 50%;
    border-radius: 12px;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 0 $spacer-small $spacer-small;

    @media screen and (min-width: $medium) {
        width: 400px;
    }

    .image {
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 12px 12px 0 0;
        overflow: hidden;   

        img {
            width: 100%;
        }
    }

    .content {
        display: grid;
        grid-gap: $spacer;

        .title {
            text-align: center; 
        }

        .message {
            text-align: center;
        }

        .acknowledgment {
            display: grid;
            align-self: end;
        }
    }
}