// Explore
#explore {

    .summary {

        .content {
            text-align: center;
            margin-bottom: $spacer;

            h1 {
                margin-bottom: $spacer;
            }
        }

        .steps-wrapper {
            margin-left: -$spacer-small;
            margin-right: -$spacer-small;
            margin-bottom: $spacer;
            background-position: top left, right bottom;
            background-repeat: no-repeat, no-repeat;
            overflow: auto;

            @media screen and (min-width: $medium) {
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
        }

        .steps {
            margin: 0 auto;
            width: 1000px;
            display: grid;
            grid-gap: $spacer;
            grid-template-columns: 1fr 1fr 1fr;

            @media screen and (min-width: $medium) {
                max-width: 1000px;
                padding: 0;
            }

            .step {
                text-align: left;
                padding: 30px;
                
                @media screen and (min-width: $medium) {
                    text-align: center;
                }

                img {
                    height: 40px;
                    margin-bottom: $spacer-small;
                }

                h2 {
                    font-size: 16px;
                    margin-bottom: $spacer-small;
                }
            }
        }
    }
}

.welcome-message {
    font-size: 28px;
    margin-bottom: $spacer;

    span {
        color: $red;
    }
}

.explore-top {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: $spacer-small;

    @media screen and (min-width: $medium) {
        grid-template-columns: 66.66666% 33.33333%;
        margin-bottom: $spacer-small;
    }

    &.guest {
        grid-template-rows: repeat(1, auto);
        margin-bottom: $spacer-small;

        @media screen and (min-width: $medium) {
            grid-template-columns: 100%;
            margin-bottom: $spacer;
        }
    }

    .search-banner {
        align-items: center;
        display: inline-grid;
        align-items: end;
        height: 200px;
        padding: $spacer-small;
        position: relative;

        @media screen and (min-width: $medium) {
            height: 300px;
        }

        .search-wrap {
            text-align: center;
            position: absolute;
            bottom: 15px;
            left: 15px;
            right: 15px;
            
            h1 {
                color: $white;
                font-size: 36px;
                font-weight: 600;
                margin-bottom: $spacer-small;
            }

            .input-fake {
                background-color: $white;
                background-position: $spacer-small center;
                background-repeat: no-repeat;
                background-size: 15px;
                cursor: pointer;
                padding-left: $spacer-large;
                box-shadow: $box-shadow;
                border-radius: $border-radius-small;
                height: $button-height;
                width: 100%;
            }
        }
    }

    .tools {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $spacer-small;
        margin-bottom: $spacer;

        @media screen and (min-width: $medium) {
            grid-template-columns: auto;
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: 0;
        }

        .reorder, .favourites {
            cursor: pointer;
            display: grid;
            grid-template-rows: 1fr auto;
            grid-gap: $spacer-small;

            .image {
                display: grid;
                align-items: center;
                justify-items: center;
                height: 100px;

                @media screen and (min-width: $medium) {
                    height: 100%;
                }

                img {
                    width: 40px;
                }
            }

            span {

                @media screen and (min-width: $medium) {
                    text-align: center;
                }
            }
        }
    }
}

.featured {
    clear: left;
}

.features-scroller {
    grid-template-columns: repeat(5, 350px);
    grid-column-gap: $spacer-small;

    .feature {
        margin-bottom: $spacer;

        .badge {
            margin-bottom: $spacer-smaller;
        }

        .image {
            height: 200px;
        }

        h1 {
            margin-bottom: $spacer-small;
        }
    }
}

.cart-starters {
    margin-bottom: $spacer;

    .cart-starters-scroller {
        grid-template-columns: repeat(4, 150px);
        grid-column-gap: $spacer-small;

        @media screen and (min-width: $medium) {
            justify-content: center;
        }

        .cart-starter {
            display: inline-grid;
            grid-template-rows: auto 40px;

            .image {
                height: 200px;
                margin-bottom: $spacer-small;
            }

            .title {

                h3 {
                    color: $gray-dark;
                }
            }
        }
    }
}

.loyalty {
    display: none;
    clear: left;

    @supports(display: grid) {
        display: block;
    }

    .points-wrap {
        margin-bottom: $spacer;
        overflow: hidden;

        @supports (display: grid) {
            display: grid;
            grid-gap: $spacer;       
        }

        @media screen and (min-width: $medium) {
            grid-template-columns: 33.3333% 66.6666%;
        }
    }

    .point-box {

        @media screen and (min-width: $medium) {
            float: left;
        }

        @supports (display: grid) {
            display: grid;
            float: none;
            grid-template-rows: auto $spacer auto;
        }

        .info {
            overflow: hidden;

            @supports (display: grid) {
                align-items: center;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .balance {
                float: left;
                width: 50%;

                @supports (display: grid) {
                    display: inline-grid;
                    float: none;
                    grid-template-rows: 60px auto;
                    width: auto;
                }

                .logo {

                    img {
                        height: 60px;
                    }
                }

                h2 {
                    font-size: 55px;
                    font-weight: 300;
                    margin-bottom: $spacer-small;
                    text-align: center;

                    span {
                        color: $gray-middle;
                        display: block;
                        font-size: 14px;
                    }
                }
            }

            .away {
                padding: $spacer-small;
                float: right;
                text-align: center;
                align-items: center;
                width: 50%;

                @supports (display: grid) {
                    float: none;
                    display: inline-grid;
                    grid-template-rows: repeat(2, 1fr);
                    justify-items: center;
                    width: auto;
                }

                .graph {
                    align-items: center;
                    display: grid;
                    justify-items: center;
                    margin-bottom: $spacer;

                    @supports (display: grid) {
                        margin-bottom: 0;
                    }

                    img {
                        width: 50px;
                    }
                }

                h2 {
                    color: $red;
                    font-size: 18px;
                    line-height: 1;
                    text-align: center;

                    span {
                        color: $gray-dark;
                        display: block;
                        font-size: 12px;
                        font-weight: 500;
                        margin-top: 4px;
                    }
                }
            }
        }

        .disclaimer {
            align-self: center;
            padding: 0 $spacer-small;
            text-align: center;
            
            span {
                color: $gray-middle;
                display: block;
                font-size: 10px;
                height: 30px;
                line-height: 30px;

                @supports (display: grid) {
                    height: auto;
                    line-height: 1;
                }
            }
        }

        .invite {
            background-color: $red;
            border-radius: 0 0 12px 12px;
            padding: $spacer-small 0;
            text-align: center;

            span {
                color: $white;
                display: block;
                font-size: 15px;
                font-weight: 800;
                line-height: 1;
            }
        }
    }

    .points-explainer {

        @media screen and (min-width: $medium) {
            float: right;
        }

        @supports (display: grid) {
            display: grid;
            float: none;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 100%;
        }
    }
}

// Categories
.categories {

    .search-wrap {
        margin-bottom: $spacer;

        input {
            border: 1px solid $gray-light;
        }
    }

    .categories {

        .category-wrap {
            margin-bottom: $spacer;
            
            .image {
                display: block;
                height: 200px;
            }
        }    
    }
}

// Category
.category {

    .search-wrap {
        margin: $spacer 0;

        input {
            border: 1px solid $gray-light;
        }
    }
}

// Gifts
.gifts {

    .description {
        margin-bottom: $spacer;
    }
}

// Favourites
#favourites {

    .favourites-wrap {
        margin: 0 auto;
        max-width: 900px;
    }

    .hero-image {
        height: 200px;
        margin-bottom: $spacer;
    }

    .description {
        margin-bottom: $spacer;
    }

    .button {
        background-color: $red;
        color: $white;
        margin-bottom: $spacer;
    }

    .favourites-wrap {
        margin-bottom: $spacer;

        .favourite {
            display: grid;
            grid-template-columns: 100px auto 30px;
            grid-gap: $spacer-small;
            padding: $spacer-small;
            margin-bottom: $spacer-small;

            &:last-child {
                margin-bottom: 0;
            }
            
            .image {
                
                img {
                    height: 70px;
                }
            }

            .favourite__info {
                display: inline-grid;

                .package {
                    align-self: end;

                    span {
                        font-style: italic;
                        font-weight: 600;
                    }
                }
            }

            .favourited {
                align-self: center;

                .icon-favourite {
                    cursor: pointer;

                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}

// Checkout
#checkout {

    .cart-wrap {

        .cart-items {
            margin-bottom: 0;
        }

        .cart-item {
            box-shadow: none;

            .title {
                grid-template-columns: 100%;
            }
        }
    }
}

#checkoutOrderDetails, #checkoutPayment {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.checkout-card {
    margin-bottom: $spacer;
    padding: $spacer-small;

    .title {
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
        margin-bottom: $spacer-small;

        &--review {
            grid-template-columns: 40px auto 60px;

            .edit {
                justify-self: end;

                .button {
                    background-color: $red;
                    color: $white;
                    margin-bottom: 0 !important;
                }
            }
        }

        .title-wrap {
            margin-bottom: 0;
        }

        .icon {

            img {
                width: 20px;
            }
        }
    }

    &.tips {
        background-color: $blue-light;
        margin-bottom: $spacer * 2;

        .tip-wrap {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $spacer-small;

            .tip {
                justify-content: center;

                .button {
                    border-radius: $border-radius-small;
                    color: $gray-light;
                    width: 100%;
                    height: 50px;
                }

                &.is-selected {

                    .button {
                        border: 1px solid $blue;
                        color: $gray-dark;
                    }
                }
            }
        }

        .tip--other {
            margin-top: $spacer-small;
        }
    }

    .instructions {

        p {
            margin-bottom: $spacer-small;
        }
    }

    .details {
        display: grid;
        grid-gap: $spacer-small;

        &.details-double {
            grid-template-columns: repeat(2, 1fr);
        }

        .detail {
            display: grid;
            grid-gap: $spacer-smaller;

            .key {
                font-weight: 600;
            }
        }
    }

    .note {

        p {
            font-style: italic;
        }
    }

    .gift-icon-wrap {
        display: grid;
        grid-template-rows: 32px;
        align-items: center;
        justify-items: end;

        img {
            width: 40px;
        }
    }

    .card-info {
        display: grid;
        grid-template-columns: 60px 1fr 1fr;
        align-items: center;

        .image {

            img {
                max-width: $spacer;
            }
        }

        .number {
            justify-self: end;
        }
    }

    .times {
        display: grid;
        grid-gap: $spacer-small;
        
        .time {
            display: grid;
            grid-template-columns: 50px auto;
            align-items: center;
            grid-gap: $spacer-small;
        }
    }

    .schedule-time {

        .schedule-time__box {
            margin-bottom: $spacer-small;

            &--desktop {
                display: none;

                @media screen and (min-width: $medium) {
                    display: block;
                }
            }

            &--mobile {
                display: block;

                @media screen and (min-width: $medium) {
                    display: none;
                }
            }
        }
    }
}

.credit-cards {

    .credit-card {
        display: grid;
        grid-template-columns: $spacer auto;
        border-bottom: 1px solid #eaeaea;
        grid-gap: $spacer-small;
        padding: $spacer-small;

        .image {
            display: grid;
            align-items: center;

            img {
                max-width: $spacer;
            }
        }

        .info {
            display: grid;
            grid-template-columns: auto auto 30px;
            grid-gap: $spacer-small;
            align-items: center;

            .is-selected {
                text-align: right;
            }

            .remove-card {
                text-align: right;
            }
        }
    }
}

.new-card {
    padding: $spacer-small;
    margin-bottom: $spacer;
}

.send-gift, .review-order, .place-order {
    display: grid;
    margin-bottom: $spacer;
}

.disclaimer {

    p {
        font-style: italic;
        margin-bottom: 0;
    }
}

.is-19 {
    display: grid;
    grid-template-columns: $spacer auto;
    grid-gap: $spacer-small;
}

#account-details {

    .form-wrap {
        margin-bottom: $spacer;
    }
}

// Password Reset
#send-password-reset, #password-reset {
    background-color: $gray-light;
    position: relative;
    min-height: 600px;
    
    .form-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;

        input[type="email"], input[type="password"] {
            margin-bottom: $spacer-small;
        }

        @media screen and (min-width: $medium) {
            width: 500px;
        }
    }
}

// Press & Media
#press-media {

    .press-pieces {
        display: grid;
        grid-template-columns: 100%;

        @media screen and (min-width: $medium) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $spacer;
        }

        .press-piece {
            text-align: center;

            .title-wrap {
                grid-template-columns: 100%;

                h2 {
                    color: $gray-dark;
                }
            }

            .image {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 150px;
            }
        }
    }
}

#error {
    display: grid;
    align-content: center;
    min-height: 80vh;

    .error-message {
        display: grid;
        justify-content: center;
        align-items: center;

        h1 {
            margin-bottom: $spacer;
        }
    }
}