.pagination {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacer-small;
    margin-bottom: $spacer;

    button {
        background-color: $gray-light;
        height: $button-height;
        width: 100%;
    }
}