 .product-scroller {
    
    @supports (display: grid) {
        grid-template-columns: repeat(5, 175px);
        grid-column-gap: $spacer-small;

        @media screen and (min-width: $medium) {
            justify-content: center;
        }
    }
}

.product-wrap {
    margin-bottom: $spacer;

    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, auto);
        grid-column-gap: $spacer-small;

        @media screen and (min-width: $medium) {
            grid-template-columns: repeat(auto-fill, 175px);
        }
    }
}

// .product {
//     margin-bottom: $spacer-small;
//     float: left;
//     margin-right: $spacer-small;
//     width: calc(50% - 15px);

//     @supports (display: grid) {
//         width: auto;
//     }

//     &:lnth-child(2n) {
//         margin-right: 0;
//     }
    
//     .image {
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: 150px;
//         height: 275px;
//         margin-bottom: $spacer-small;
//         position: relative;


//         .wine-rating {
//             width: 40px;
//             height: 40px;
//             line-height: 40px;
//             right: 10%;
//             top: 40%;
//             font-size: 15px;
//             font-weight: 500;
//         }
//     }

//     .title {
//         margin-bottom: $spacer-smaller;

//         h3 {
//             color: $gray-dark;
//             font-weight: 400;
//             min-height: 40px;
//         }
//     }

//     .package {
//         span {
//             color: $gray-dark;
//             font-size: $font-size-small;
//             font-style: italic;
//             font-weight: 600;
//         }
//     }

//     .price {
//         letter-spacing: 1px;
//         margin-bottom: $spacer-smaller;

//         .sale-price {
//             color: $red;
//             font-size: 18px;
//             font-weight: 600;
//         }

//         .normal-price {
//             color: $gray-dark;
//             font-size: 18px;
//             font-weight: bold;
//         }

//         .is-sale {
//             display: inline-grid;
//             grid-template-columns: repeat(2, 1fr);
//             align-items: center;

//             .normal-price {
//                 font-size: $font-size-small;
//                 padding: 0 $spacer-smaller;
//             }
//         }
//     }
// }

.wine-rating {
    background-image: url(/assets/v2/icons/Wine-Rating.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    transform: translate(-50%, -50%);
    right: 30%;
    top: 30%;
}

#product {

    .search-wrap {
        margin-top: $spacer;
    }

    .info-wrap  {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: $spacer;
        margin: 0 auto $spacer;
        max-width: 800px;
        align-items: center;
        padding: 0 $spacer-small;

        @media screen and (min-width: $medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        .image {

            img {
                width: 100%;
            }
        }
    }

    .info {
        text-align: left;

        .title-wrap {
            grid-template-columns: 100%;
            justify-content: center;
            margin-bottom: $spacer-small;

            h1 {
                font-size: 36px;
                line-height: 28px;
                text-align: center;
            }
        }

        .rating {
            margin-bottom: $spacer-small;
        }

        .price {
            text-align: left;

            .sale-price {
                color: $red;
                font-size: 28px;
                font-weight: 600;
            }

            .normal-price {
                color: $gray-dark;
                font-size: 28px;
                font-weight: 600;
            }

            .is-sale {
                display: inline-grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                .normal-price {
                    font-size: 20px;
                    padding: 0 $spacer-smaller;
                }
            }
        }

        .description {
            p {
                letter-spacing: 1.4px;
                line-height: 1.6;
            }
        }
        .package {
            text-align: left;
            span {
                font-style: italic;
                font-weight: 400;
            }
        }
        .style {
            text-align: center;
            margin-bottom: $spacer-small;
            span {
                font-size: 25px;
                font-weight: 600;
            }
        }
    }

    .details {
        display: grid;
        grid-gap: $spacer;
        justify-content: start;

        .detail {
            display: inline-grid;
            grid-gap: $spacer-small;
            text-align: left;

            .details__key {
                font-weight: 600;
            }
        }
    }

    .reviews {
        margin-bottom: $spacer;
    }
}