.rating {

    @supports (display: grid) {
        display: inline-grid;
        grid-column-gap: 5px;
        grid-template-columns: repeat(5, 15px);
    }

    .star {
        background-image: url('/assets/v2/icons/Star-Full@3x.png');
        background-position: center;
        background-size: cover;
        height: 15px;
        width: 15px;
        float: left;
        margin-right: 5px;

        @supports (display: grid) {
            float: none;
            margin-right: 0;
        }
    }

    .no-star {
        background-image: url('/assets/v2/icons/Star-Gray@3x.png');
        background-position: center;
        background-size: cover;
        height: 15px;
        width: 15px;
    }

    .half-star {
        background-image: url('/assets/v2/icons/Star-Half@3x.png');
        background-position: center;
        background-size: cover;
        height: 15px;
        width: 15px;
    }
}

#rate-product {

    .star {
        background-image: url('/assets/v2/icons/Star-Gray@3x.png');
        background-position: center;
        background-size: cover;
        cursor: pointer;
        height: $spacer;
        width: $spacer;
        float: left;
        margin-right: $spacer-smaller;

        &.active {
            background-image: url('/assets/v2/icons/Star-Full@3x.png');
        }
    }
}