#reviews {
    display: grid;
    justify-items: center;

    .logged-in {
        margin-bottom: $spacer;
        
        @media screen and (min-width: $medium) {
            min-width: 400px;
        }
    }

    .add-review {
        margin-bottom: $spacer;
        text-align: center;
    }

    .no-reviews {
        margin-bottom: $spacer;

        h2 {
            color: $gray-light;
        }
    }

    .create-review {
        display: grid;
        grid-gap: $spacer;

        #rate-product, &__title, &__body {
            display: grid;
            grid-gap: $spacer-small;
        }
    }

    .reviews {
        width: 100%;

        @supports (display: grid) {
            display: grid;
            grid-gap: $spacer;
        }

        .review {
            border-bottom: 1px solid $gray-light;
            padding-bottom: $spacer;

            @supports (display: grid) {
                display: grid;
                grid-gap: $spacer-small;
            }

            &:last-child {
                border-bottom: 0;
            }

            &__title {
                font-weight: 600;
            }

            .was-review-helpful {
                text-align: right;
                
                @supports (display: grid) {
                    display: grid;
                    grid-template-columns: auto 50px 50px;
                    align-items: center;
                }

                span {
                    font-size: 12px;
                }

                a {
                    color: $gray-dark;
                    font-size: 12px;

                    img {
                        max-width: 20px;
                    }
                }
            }
        }
    }
}