.scroller {
    display: grid;
    margin-bottom: $spacer;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;

    @media screen and (min-width: $medium) {
        overflow-x: hidden;

        @supports (display: grid) {
            overflow: visible;
        }
    }
}