#search {

    .search-wrap {
        grid-template-columns: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

.search-wrap {
    display: grid;
    grid-gap: $spacer;
    grid-template-columns: 100%;
    margin: 0;

    &.is-logged-in {
        grid-template-rows: 60px 60px;

        @media screen and (min-width: $medium) {
            grid-template-columns: minmax(60%, auto) auto;
            grid-template-rows: 100%;
        }
    }

    input {
        border-radius: 24px;
        color: $gray-dark;

        &::placeholder {
            color: $gray-dark;
        }
    }

    .logged-in-buttons {
        display: grid;
        grid-gap: $spacer-small;
        grid-template-columns: repeat(2, minmax(auto, 150px));
        justify-content: center;

        @media screen and (min-width: $medium) {
            justify-content: right;
        }

        .button {
            align-items: center;
            border-radius: 24px;
            border: 1px solid #cecece;
            box-shadow: none;
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: $spacer-small;
            justify-content: center;

            &:hover {
                transform: translateY(0);
            }

            img {
                margin: 0;
            }
        }
    }
}