.tabbed {

    &__nav {
        border-left: 1px solid $gray-light;
        border-right: 1px solid $gray-light;
        border-top: 1px solid $gray-light;
        padding: 0;
        margin: 0;
        
        @supports (display: grid) {
            align-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: stretch;
        }

        li {
            background-color: $gray-light;
            cursor: pointer;
            list-style-type: none;
            line-height: $spacer * 2;
            height: $spacer * 2;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;

            &.active {
                background-color: $white;
            }
        }
    }

    &__body {
        padding: $spacer-small;
        border-left: 1px solid $gray-light;
        border-right: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;

        *:last-child {
            margin-bottom: 0;
        }
    }
}