.table {
    border-collapse: collapse;
    margin-bottom: $spacer;
    width: 100%;

    thead {
        border-bottom: 1px solid $gray-light;

        th {
            background-color: $gray-light;
            text-align: center;
            padding: $spacer-small;
        }
    }

    tbody {
        
        td {
            padding: $spacer-small;
            text-align: center;
            vertical-align: center;
        }
    }
}