#tools {
    display: grid;
    grid-gap: $spacer-small;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-bottom: $spacer;

    @media screen and (min-width: $medium) {
        grid-template-columns: 150px 150px;
    }

    .button-tool {
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        border: 1px solid $gray-lighter;
        height: $button-height;

        img {
            width: 20px;
        }

        span {
            justify-self: end;
            color: $gray-middle;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
}