h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 14px;
	font-weight: 300;
}

.page-title {
	padding: 0 $spacer-small;
	text-align: right;
}

.title-wrap {
	display: grid;
	align-items: center;
	grid-template-columns: 75% 25%;
	min-height: 32px;
	margin-bottom: $spacer;
	position: relative;

	&--no-icon
	 {
		 grid-template-columns: 100%;
	 }

	h1 {
		font-size: 28px;
		float: left;
	}

	h2 {
		float: left;
	}

	a {
		color: $gray-dark;
		font-size: 12px;
		font-weight: bold;
		text-align: right;
		text-transform: uppercase;
		float: right;
		min-height: 32px;
		line-height: 32px;
	}
}