.page-regular {
    padding-top: 88px;
}

.page-large {
    padding-top: 80px;
}

.wrapper--large {
    max-width: 1000px !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 $spacer-small;
}

.promotion-banner {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;

    &--secondary {
        width: auto;
        left: auto;
        right: auto;
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
        margin-bottom: $spacer;
    }

    img {
        width: 25px;
    }
    
    span {
        padding: 0 $spacer;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
}

.page-banner {
    margin-top: $header-height;
}

.margin-b {
    margin-bottom: $spacer;
}

.margin-b-small {
    margin-bottom: $spacer-small !important;
}

.margin-b-large {
    margin-bottom: $spacer !important;
}

.margin-b-none {
    margin-bottom: 0 !important;
}

.no-padding {
    padding: 0;
}

.padding-b-none {
    padding-bottom: 0;
}

.padding-b-small {
    padding-bottom: $spacer-small;
}

.text-a-center {
    justify-content: center;
    text-align: center;
}