// Colors
$white: #ffffff;
$red: #F83E40;
$gray-dark: #313131;
$gray-middle: #bcbcbc;
$gray-light: #ececec;
$gray-lighter: #f4f4f4;
$green: #50E3C2;
$blue: #4A90E2;
$blue-light: #ECF4FC;

// Spacing
$spacer-smaller: 5px;
$spacer-small: 15px;
$spacer: 30px;
$spacer-large: 60px;

// Fonts
$font-family-base: 'sofia-pro', 'Helvetica', sans-serif !important;
$font-size-base: 14px;
$font-size-small: 12px;
$font-weight-base: 300;

$line-height-base: 1.15;

$body-color: $gray-dark;
$body-bg: $white;

$headings-margin-bottom: $spacer;

$paragraph-margin-bottom: $spacer;

$button-padding: 5px 15px;
$button-padding-large: 8px 20px;

$dt-font-weight: 300;

$link-color: $red;
$link-hover-color: $red;

$table-cell-padding: 5px;

//Forms
$input-color: $gray-dark;
$input-font-size: 12px;
$input-height: 60px;
$input-padding: 5px $spacer;

// Box Shadows
$box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
$box-shadow-strong: 2px 5px 8px 0 rgba(0, 0, 0, 0.12);

// Border Radius
$border-radius-smaller: 4px;
$border-radius-small: 8px;
$border-radius: 12px;

$header-height: 80px;

// Buttons
$button-height: 60px;

// Breakpoints

$medium: 768px;
$large: 960px;
$x-large: 1200px;