<template>
  <div
    id="master-layout">
    <moon-loader-wrapper
      :full-screen="true"
      :is-loading="isLoading"/>
    <fixed-header
      v-if="!isLoading"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :domain="domain"
      :sub-domain="subDomain"
      :stores="stores"
      :user="user"
      :store="store"/>
    <search-v3
      :sub-domain="subDomain"
      :stores="stores"/>
    <transition name="slide">
      <new-side-nav
        v-if="activeModal == 'sideNav' &&!isLoading"
        :user="user"
        :domain="domain"
        :sub-domain="subDomain"
        :selected-address="selectedAddress"
        :category="category"
        :tags="tags"
        :categories="categories" />
    </transition>
    <favourites
      :domain="domain"
      :sub-domain="subDomain" />
    <new-stores-modal
      v-if="activeModal == 'stores'"
      :inventory-id="inventoryId"
      :stores="stores"
      :user="user"
      :sub-domain="subDomain"
      :selected-address="selectedAddress"
      :domain="domain" />
    <address-input-modal
      v-if="activeModal == 'addressInput'"
      :user="user"
      :domain="domain"
      :stores="stores"
      :active-modal="activeModal"/>
    <slot />
    <transition name="fade">
      <new-scroll-to-top v-if="offSetTop"/>
    </transition>
    <main-footer
      :class="{'footerExpand': activeModal == 'sideNav'}"
      :domain="domain"
      :active-modal="activeModal"/>
    <global-notification-modal
      :store="store"
      :domain="domain"/>
  </div>
</template>

<style lang="scss" scoped>
// animations start
.slide-leave-active,
.slide-enter-active {
  transition: 0.5s;
  @media (min-width: 640px) {
    transition: 0s;
  }
}
.slide-enter {
  transform: translate(-100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
// animations end
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.footerExpand {
  @media (min-width: 640px) {
    margin-left: 300px !important;
  }
}
</style>

<script>

export default {
  props: {
    stores: {
      type: Array,
      default: null,
      required: false,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    subDomain: {
      type: String,
      default: '',
      required: true,
    },
    activeModal: {
      type: String,
      default: '',
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: false,
      required: true,
    },
    domain: {
      type: String,
      default: '',
      required: true,
    },
    tags: {
      type: Array,
      default: null,
      required: false,
    },
    offSetTop: {
      type: Boolean,
      default: false,
      required: false,
    },
    category: {
      type: Object,
      default: null,
      required: false,
    },
    categories: {
      type: String,
      default: null,
      required: false,
    },
    cart: {
      type: Object,
      default: null,
      required: false,
    },
    selectedAddress: {
      type: Object,
      default: null,
      required: false,
    },
    store: {
      type: Object,
      default: null,
      required: false,
    },
  },
};
</script>
