<template>
  <div
    v-show="cartStatus"
    id="cart"
    @click.self="toggleCart">
    <notifications
      group="errors"
      position="bottom left" />
    <div
      v-if="cart"
      class="cart-list">
      <div
        class="cart-top"
        @click="toggleCart">
        <div v-if="store.attributes">
          <img
            :src="store.attributes.options.navigationLogo"
            alt="">
        </div>
        <h2 class="back m-b-0">
          Back
        </h2>
        <h2 class="m-b-0">
          Cart
        </h2>
        <a
          href=""
          class="support">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062134/runner/stores/navPhone.svg"
            alt="">
        </a>
      </div>
      <div class="wrap">
        <div class="store-info">
          <div class="logo">
            <div v-if="store.attributes">
              <img
                :src="store.attributes.options.storeLogo"
                alt="">
            </div>
          </div>
          <div class="info">
            <h3
              v-if="store.attributes"
              class="m-b-0">
              {{ store.attributes.title }}
            </h3>
            <h3
              v-else-if="!store.attributes"
              class="m-b-0">
              n/a
            </h3>
            <p
              v-if="store.attributes"
              class="m-b-0">
              Next delivery: {{ store.attributes.options.nextDeliveryTime }}
            </p>
            <p
              v-else-if="!store.attributes"
              class="m-b-0">
              Next delivery: n/a
            </p>
          </div>
          <div class="cart-total">
            ${{ (cart.attributes.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </div>
        </div>
      </div>
      <div class="wrap">
        <h2>
          Items
        </h2>
        <div class="products">
          <div
            v-for="(product) in cart.attributes.products"
            class="product">
            <div class="image">
              <img
                :src="product.image"
                alt="">
            </div>
            <div class="info">
              <div
                v-if="product"
                class="title">
                {{ product.title }}
              </div>
              <div
                v-else-if="!product"
                class="title">
                n/a
              </div>
              <div class="packaging">
                {{ product.packaging }}
              </div>
            </div>
            <div class="price">
              ${{ (product.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
            </div>
            <div class="quantity">
              <button
                @click="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity - 1,
                  'allowSub': product.allowSub
              })">
                -
              </button>
              <input
                :value="product.quantity"
                type="number">
              <button
                v-if="inventoryId !== 11"
                @click="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity + 1,
                  'allowSub': product.allowSub
              })">
                +
              </button>
            </div>
            <div
              v-if="inventoryId !== 11"
              class="allow-sub">
              <toggle-button
                v-model="product.allowSub"
                :height="25"
                :width="40"
                color="#50E3C2"
                @change="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity,
                  'allowSub': product.allowSub
              })"/>
              <span
                v-if="product.allowSub"
                class="allow-text">
                Allow closes substitution if this product is out of stock.
              </span>
              <span
                v-else
                class="dont-allow-text">
                Don't allow closes substitution if this product is out of stock.
              </span>
            </div>
          </div>
        </div>
      </div>
      <gift-cart
        v-if="inventoryId === 11"
        :user="user"
        :cart="cart"
        :domain="domain"/>
      <div class="wrap">
        <h2>
          Coupon
        </h2>
        <div
          class="coupon-apply"
          @click="toggleCouponInput">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542069752/runner/stores/cartCoupon.svg"
            alt="">
          <span>
            Apply Coupon
          </span>
          <img
            :class="{'arrow-rotated': couponInputIsShown}"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
            alt="">
        </div>
        <div
          v-show="couponInputIsShown"
          class="coupon-input">
          <div
            v-if="cart.attributes.coupon !== null"
            class="input-wrap">
            <input
              v-model="cart.attributes.coupon.code"
              type="text">
            <button
              class="clear"
              @click="updateCart({
                'couponCode': 'CLEARCOUPON'
            })">
              Clear
            </button>
          </div>
          <div
            v-else
            class="input-wrap">
            <input
              v-model="newCouponCode"
              type="text"
              placeholder="CODE">
            <button
              class="apply"
              @click="updateCart({
                'couponCode': newCouponCode
            })">
              Apply
            </button>
          </div>
        </div>
      </div>
      <div class="wrap">
        <h2>
          Total
        </h2>
        <div class="totals">
          <ul>
            <li>
              <span>
                Item Total
              </span>
              <span>
                ${{ (cart.attributes.subTotal / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-if="cart.attributes.rewardPoints">
              <span>
                Savings: Reward Points
              </span>
              <span>
                -${{ (cart.attributes.rewardPoints / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-else-if="cart.attributes.coupon !== null">
              <span>
                Savings (coupon: {{ cart.attributes.coupon.code }})
              </span>
              <span>
                -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-else-if="cart.attributes.discount != 0">
              <span>
                Savings:
              </span>
              <span>
                -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-if="cart.attributes.serviceFee">
              <span>
                Service Fee
              </span>
              <span>
                ${{ (cart.attributes.serviceFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Delivery
              </span>
              <span>
                ${{ (cart.attributes.deliveryFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Tax
              </span>
              <span>
                ${{ (cart.attributes.tax / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li class="total">
              <span>
                Total
              </span>
              <span>
                ${{ (cart.attributes.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="wrap">
        <div class="checkout">
          <button
            v-if="isAuthenticated !== true"
            :href="'https://www.' + domain + '/login'"
            class="bg-red text-white font-bold h-50 text-lg rounded w-full">
            Login
          </button>
          <button
            v-else
            class="bg-red text-white font-bold h-50 text-lg rounded w-full"
            @click.prevent="checkout">
            <span v-if="!isLoading">
              Checkout
            </span>
            <pulse-loader
              :loading="isLoading"
              color="#ffffff"
              size="10px"/>
          </button>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="cart-list">
        <div
          class="cart-top"
          @click="toggleCart">
          <div v-if="store.attributes">
            <img
              :src="store.attributes.options.navigationLogo"
              alt="">
          </div>
          <h2 class="back m-b-0">
            Back
          </h2>
          <h2 class="m-b-0">
            Cart
          </h2>
          <a
            href=""
            class="support">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062134/runner/stores/navPhone.svg"
              alt="">
          </a>
        </div>
        <div class="wrap">
          <p>
            You have no items in your cart :)
          </p>
          <button
            class="rounded bg-red text-white font-semibold h-50 pl-10 pr-10"
            @click="toggleCart">
            Continue Shopping
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.cart-list {
  background-color: #f7f7f7;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  overflow-x: hidden;
  border-left: 1px solid #e4e4e4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media screen and (min-width: 768px) {
    width: 500px;
    left: auto;
    border-left: none;
  }
}
.wrap {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
  h2 {
    font-size: 22px;
  }
}
.cart-top {
  display: grid;
  align-items: center;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  h2 {
    cursor: pointer;
  }
  .back {
    text-align: right;
  }
  .support {
    text-align: right;
  }
  img {
    max-width: 80px;
  }
}
.store-info {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-gap: 15px;
  align-items: center;
  .logo {
    img {
      max-width: 50px;
    }
  }
  .info {
    display: grid;
    grid-gap: 10px;
  }
  .cart-total {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
  }
}
.product {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-content: center;
  grid-gap: 10px;
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .image {
    img {
      width: 100%;
    }
  }
  .info {
    display: grid;
    grid-gap: 10px;
    align-content: center;
    align-items: center;
    .title {
      font-size: 15px;
      font-weight: 600;
    }
    .packaging {
      font-size: 13px;
      font-style: italic;
    }
  }
  .quantity {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 5px;
    align-items: center;
    input, button {
      width: 50px;
      -webkit-appearance: none;
      height: 50px;
      border: 1px solid #e4e4e4;
      border-radius: 6px;
      display: grid;
      align-content: center;
      font-weight: 900;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  .price {
    display: grid;
    align-content: center;
    text-align: right;
    font-size: 18px;
    font-weight: 900;
  }
  .allow-sub {
    grid-column: 1/4;
    grid-row: 3;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    .dont-allow-text {
      color: #F83E40;
    }
  }
}
.coupon-apply {
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  .arrow-rotated {
    transform: rotate(90deg);
  }
  span {
    color: #50E3C2;
    font-size: 18px;
    font-weight: 600;
  }
}
.coupon-input {
  .input-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    input {
      text-align: center;
      border-radius: 8px;
      -webkit-appearance: none;
      height: 50px;
      border: 1px solid #e4e4e4;
      border-radius: 6px;
      display: grid;
      align-content: center;
      font-size: 18px;
      font-weight: 100;
      cursor: pointer;
    }
    button {
      cursor: pointer;
      border: 0;
      -webkit-appearance: none;
      color: #ffffff;
      background-color: #50E3C2;
      font-size: 18px;
      border-radius: 8px;
      height: 50px;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
}
.totals {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      span {
        font-size: 18px;
      }
      span:first-child {
        text-align: left;
      }
      span:last-child {
        text-align: right;
      }
    }
    .total {
      span {
        font-weight: 900;
      }
    }
  }
}
.checkout {
  .button {
    cursor: pointer;
    height: 50px;
    color: #ffffff;
    background-color: #F83E40;
    display: grid;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
  }
}
</style>

<script>
import { checkoutStarted } from '../../mixins/analytics';

export default {
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    cart: {
      type: Object,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      couponInputIsShown: false,
      newCouponCode: '',
      isLoading: false,
      serviceFee: 500,
    };
  },
  computed: {
    giftOptions() {
      return this.$store.getters.giftOptions;
    },
    giftItemsTotal() {
      return this.giftOptions.tag.runnerPrice + this.giftOptions.card.runnerPrice + this.cart.attributes.subTotal;
    },
    giftTotal() {
      return this.giftOptions.tag.runnerPrice + this.giftOptions.card.runnerPrice + (this.cart.attributes.total - 999) + this.serviceFee;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    cartStatus() {
      return this.$store.getters.cartStatus;
    },
    store() {
      return this.$store.getters.store;
    },
    inventoryId() {
      return this.$store.getters.inventoryId;
    },
  },
  methods: {
    checkoutStarted,
    toggleCart() {
      this.$store.commit('TOGGLE_CART_STATUS');
    },
    toggleCouponInput() {
      this.couponInputIsShown = !this.couponInputIsShown;
    },
    async updateCart(value) {
      let data;
      const anonymousId = window.analytics.user().anonymousId();

      if ('couponCode' in value) {
        data = {
          userId: this.user.id,
          cartId: this.cart.id,
          anonymousId,
          payload: {
            couponCode: value.couponCode,
          },
        };

        try {
          await this.$store.dispatch('updateCart', data);
        } catch (error) {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.message,
            duration: -1,
          });
        }
      }

      if ('productId' in value) {
        data = {
          anonymousId,
          userId: this.user.id,
          cartId: this.cart.id,
          payload: {
            products: [
              {
                id: value.productId,
                quantity: value.quantity,
                allowSub: value.allowSub,
              },
            ],
          },
        };

        // find product in current cart
        const cartProduct = this.cart.attributes.products.find(product => product.id == value.productId);
        const quantityDifference = value.quantity - cartProduct.quantity;

        if (quantityDifference < 0) {
          this.sendGARemoveFromCart(cartProduct);
        } else {
          this.sendGAAddToCart(cartProduct);
        }

        if (value.quantity > 0) {
          try {
            await this.$store.dispatch('updateCart', data);
          } catch (error) {
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: error.response.data.message,
              duration: -1,
            });
          }
        } else {
          const confirm = window.confirm('Are You Sure You Want To Remove This Item From Your Cart?');

          if (confirm === true) {
            this.$store.dispatch('updateCart', data);
          }
        }
      }
    },
    checkout() {
      this.isLoading = true;
      const data = {
        cart: this.cart,
        products: this.cart.attributes.products,
        storeId: this.store.id,
        domain: this.domain,
        subDomain: this.subDomain,
        inventoryId: this.inventoryId,
      };

      this.checkoutStarted(data);

      window.location.href = `https://${this.subDomain}.${this.domain}/checkout`;
    },
    sendGAAddToCart(product) {
      window.dataLayer.push({
        event: 'addToCart',
        ecommerce: {
          currencyCode: 'CAN',
          add: {
            products: [
              {
                name: product.title,
                id: product.id,
                price: (product.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                variant: product.packaging,
                quantity: 1,
                dimension1: String(this.store.id),
              },
            ],
          },
        },
      });
    },
    sendGARemoveFromCart(product) {
      window.dataLayer.push({
        event: 'removeFromCart',
        ecommerce: {
          currencyCode: 'CAN',
          add: {
            products: [
              {
                name: product.title,
                id: product.id,
                price: (product.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                variant: product.packaging,
                quantity: 1,
                dimension1: String(this.store.id),
              },
            ],
          },
        },
      });
    },
  },
};
</script>
