* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: $font-family;
  background-color: $bgGrey;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.title {
  font-size: 30px;
  font-weight: 400;
  color: $black;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: $grey;
}
.sub-text {
  font-size: 20px;
  color: $lightGrey;
  font-weight: 400;
}
.card--store-front__title {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.card--store-front__logo {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
