// background
.bg-cover {
  background-size: cover;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-center {
  background-position: center;
}
// margin
.m-0 {
  margin: 0;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
} 
.ml-auto {
  margin-left: auto;
}
// display
.block {
  display: block;
}
// padding
.p-30 {
  padding: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-10 {
  padding-left: 10px !important;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.uppercase {
  text-transform: uppercase;
}
// grid
.grid {
  display: grid;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.g-gap-0 {
  grid-gap: 0;
}
.g-gap-30 {
  grid-gap: 30px;
}
// align/justify
.jc-center {
  justify-content: center;
}
.ji-center {
  justify-items: center;
}
.ac-center {
  align-content: center;
}
.ai-center {
  align-items: center;
}
.align-end {
  align-self: end
}
// text
.text-right {
  text-align: right;
}
// width
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}