.vc-container {
  position: absolute !important;
  top: 85px;
  right: 0;
  border-radius: 0 !important;
  border-left: 1px solid #ededed !important;
  border-bottom: 1px solid #ededed !important;
  border-right: 1px solid #ededed !important;
  border-top: 0 !important;
}