// DOM ELEMENTS
// ==========================================================================

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0px;
}


// HEADER
// ==========================================================================

.c-body {
    width: 100%;
    height: 100%;
    background-color: $background-blue;
}

header.c-header {
    flex-direction: column;
    justify-content: center;
    background-color: #323C46;

    @media #{$small-and-up} {
        display: flex;
        flex-direction: row;
    }

}

.c-box {
    flex: 1;
    display: flex;
    font-size: 12px;
    font-weight: 600px;
    color: $white;
    text-transform: uppercase;
}

.c-logo {

    img{
        height: 60px;
    }

}

.c-search {
    text-align: right;
    
    @media #{$small-and-up}{
        flex: 2;  
        line-height: 60px;
        justify-content: flex-end;
        padding-right:20px;
    }
    
    input{
        margin: 20px;
        background: none;
        border:none;
    }

}

.c-nav {

    @media #{$small-and-up}{
        flex: 2;  
    }

    .c-active {
        border-bottom:3px solid $red;
    }

}

.c-item {
    flex:1;
    text-align:center;

    @media #{$small-and-up}{
        height: 60px;
        line-height: 60px;
    }
}

.c-hotkeys {
    text-align: center;

    .c-item {
        line-height: 65px !important;
    }

}

// TITLES
// ==========================================================================

.c-title {
    color: #000;
    font-size: 30px; 
    padding:50px 30px;
    margin-top: 50px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}

// CONTAINERS
// ==========================================================================

.c-container {
    flex-direction: column;

    @media #{$small-and-up}{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:10px;
    } 


}

.c-card {
    display: flex;
    flex-direction: column;
    background-color: $card-background;
    color: $white;  
    justify-content: center;
    min-height: 200px;
    padding: 10px;
    text-align:center;
    margin: 10px;
    
    @media #{$small-and-up}{
        width: calc(33.333333% - 20px);
        margin: 10px;
    }    

    .c-card-value {
        flex: 1;
        font-size: 60px;
        font-weight: 100;
        letter-spacing: 5px;
        line-height: 150px;

        img{
            margin: 15px;
        }

    }

    .c-card-title {
        height: 25px;
        font-size: 12px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: left;
        padding-left: 20px;

    }

}

.c-graph {
    letter-spacing: 10px;
    text-transform: uppercase;
    
    @media #{$small-and-up}{
        width: calc(66.66666% - 20px);

        img {
            height: 300px;
        }
    }   
}