#carousel-wrapper {
  z-index: 100;
  .button {
    background-color: #ffffff;
    color: #003556;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 24px;
    padding: 5px 15px;
  }
}
.related-products .VueCarousel-navigation-next,
.related-products .VueCarousel-navigation-prev {
  background-color: transparent !important;
  padding: 0 !important;
}
.related-products .VueCarousel-navigation-next::after {
  content: "";
  background-size: 50px;
  display: inline-block;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141068/runner%20v4/icons/ProductIconArrow.png');
  position: absolute;
  top: -85px;
  right: -10px;
  width: 50px;
  height: 50px;
}
.related-products .VueCarousel-navigation-prev::after {
  content: "";
  background-size: 50px;
  display: inline-block;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1561153859/runner%20v4/icons/ProductIconArrowleft.png');
  position: absolute;
  top: -85px;
  left: -10px;
  width: 50px;
  height: 50px;
}
.layout-3 .VueCarousel-navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -25px;
}
.layout-3 .VueCarousel-navigation-next,
.layout-3 .VueCarousel-navigation-prev {
  background-color: transparent !important;
  padding: 0 !important;
}
.layout-3 .VueCarousel-navigation-next::after {
  content: "";
  background-size: 50px;
  display: inline-block;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141068/runner%20v4/icons/ProductIconArrow.png');
  width: 50px;
  height: 50px;
}

.layout-3 .VueCarousel-navigation-prev::after {
  content: "";
  background-size: 50px;
  display: inline-block;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1561153859/runner%20v4/icons/ProductIconArrowleft.png');
  width: 50px;
  height: 50px;
}
.VueCarousel-navigation-prev,
.VueCarousel-navigation-next {
  transform: none !important;
  background-color: #ffffff !important;
  min-height: 50px;
  -webkit-appearance: none;
}
.VueCarousel-wrapper {
  max-width: 100vw;
  @media screen and (min-width: 768px) {
    width: 100% !important;
    max-width: 100%;
  }
}
.layout-3 {
  .VueCarousel-wrapper {
    padding: 10px;
    @media screen and (min-width: 768px) {
      padding: 15px;
    }
    .VueCarousel-slide a {
      margin: 0 5px;
      border-radius: 10px;
    }
    h1, h2, span {
      text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.2);
    }
  }
}
.carousel {
  display: none;
  justify-items: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  @supports(display: grid) {
    display: grid;
  }
  .VueCarousel-slide {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
    padding: 0 30px;
    height: 255px;
    max-width: 100vw;
    @supports(display: grid) {
      display: grid;
    }
    @media screen and (min-width: 768px) {
      width: 100% !important;
      max-width: 100%;
    }
    .copy {
      text-align: center;
      h1,
      h2 {
        margin-bottom: 0;
        color: #ffffff;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.2);
      }
      h2 {
        font-size: 16px;
        @media screen and (min-width: 768px) {
          font-size: 22px;
        }
      }
      h1 {
        margin-bottom: 30px;
        font-size: 30px;
        @media screen and (min-width: 768px) {
          font-size: 48px;
        }
      }
    }
  }
  .slide-1 {
    background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/f_auto,q_auto/v1537997013/rush/mainCarousel/1/imageMobile.jpg');
    @media screen and (min-width: 768px) {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/f_auto,q_auto/v1538000229/rush/mainCarousel/1/imageDesktop.jpg');
    }
  }
  .slide-2 {
    background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1542740019/runner/stores/runner/mainCarousel/referAFriendMobile.jpg');
    @media screen and (min-width: $medium) {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1542639249/runner/stores/runner/mainCarousel/referAFriendDesktop.jpg');
    }
  }
  .slide-3 {
    background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1542835586/runner/stores/runner/mainCarousel/winerackMobile.jpg');
    @media screen and (min-width: $medium) {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1542835535/runner/stores/runner/mainCarousel/winerackDesktop.jpg');
    }
  }
  img {
    height: 100%;
  }
  .product-carousel {
    display: none;
    @supports(display: grid) {
      display: block;
    }
  }
}
.legacy-carousel {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  @supports(display: grid) {
    display: none;
  }
  .slide-1 {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/f_auto,q_auto/v1537824087/rush/mainCarousel/1/imageMobile.jpg');
    @media screen and (min-width: 768px) {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/f_auto,q_auto/v1537824087/rush/mainCarousel/1/imageDesktop.jpg');
    }
    .copy {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1,
      h2 {
        color: #ffffff;
        margin-bottom: 0;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.2);
      }
      h2 {
        font-size: 16px;
        @media screen and (min-width: 768px) {
          font-size: 22px;
        }
      }
      h1 {
        margin-bottom: 30px;
        font-size: 30px;
        @media screen and (min-width: 768px) {
          font-size: 48px;
        }
      }
    }
  }
}
