.runner-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr:hover {
    th,
    td {
      background-color: #f7fafc;
    }
  }
  th,
  td {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e3e8ee;
  }
}