h1 {
  font-size: 46px;
}
// margin
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-0-md {
  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}
.m-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-15-md {
  @media (min-width: 640px) {
    margin-bottom: 15px;
  }
}
.mb-60 {
  margin-bottom: 60px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.py-15 {
  padding-left: 15px;
  padding-right: 15px;
}
// forms
.f-w-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.f-w-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
// position
.fixed-md {
  @media (min-width: 640px) {
    position: fixed;
  }
}
// grid
.grid {
  display: grid;
}
.grid-2  {
  grid-template-columns: 1fr 1fr;
}
.grid-2-md {
  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}
.g-gap-15 {
  grid-gap: 15px;
}
.g-gap-30 {
  grid-gap: 30px;
}
.g-g-15 {
  grid-gap: 15px;
}
// width
.w-full {
  width: 100%;
}
.mw-768 {
  max-width: 768px;
}
// text
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
// font
.fs-30 {
  font-size: 30px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}
// flex
.flex {
  display: flex;
}
.ai-center {
  align-items: center;
}
.jc-center {
  justify-content: center;
}
.ji-center {
  justify-items: center;
}
// decoration
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
.linethrough {
  text-decoration: line-through;
}
// display
.block {
  display: block;
}
.hidden {
  display: none;
}
// colors
.c-444444 {
  color: #444444;
}
.c-acacac {
  color: #acacac;
}
.c-ffffff {
  color: #ffffff;
}
// style
.fw-600 {
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}
// background
.bg-f83f40 {
  background-color: #f83f40;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
// ul
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
// random
.cursor {
  cursor: pointer;
}
