<template>
  <div
    id="button-component"
    :class="{'center': centered}"
    :style="{width: wrapWidth}">
    <button
      :class="{'disabled': disabled}"
      :disabled="disabled"
      :style="{backgroundColor: chosenBackgroundColour, boxShadow: boxShadowReturn, border: border, letterSpacing: letterSpacing, fontSize: fontSize, fontWeight: fontWeight, color: chosenColour, width: width, height: height}"
      class="button-component">
      <img
        v-if="icon"
        :class="{'invert': iconInvert}"
        :style="{width: iconWidth, marginRight: iconSpacing}"
        :src="icon"
        class="image">
      <span
        v-if="!isLoading"
        :style="{color: textColor}">
        {{ text }}
      </span>
      <pulse-loader
        :loading="isLoading"
        color="#ffffff"
        size="10px"/>
    </button>
  </div>
</template>

<style lang="scss" scoped>
button:hover {
  filter: brightness(1.25) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}
.button-component {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.image {
  max-width: 35px;
}
.invert {
  filter: invert(1) brightness(10);
}
.center {
  display: flex;
  justify-content: center;
}
</style>

<script>
// ALL COLORS:
// Background colors: 'teal', 'red'
// Border colors: 'grey',
// Canont have both bg or border at the same time
export default {
  props: {
    text: {
      type: String,
      default: 'n/a',
      required: true,
    },
    color: {
      type: String,
      default: 'white',
      required: false,
    },
    textColor: {
      type: String,
      default: '',
      required: false,
    },
    fontSize: {
      type: String,
      default: '13px',
      required: false,
    },
    fontWeight: {
      type: String,
      default: '',
      required: false,
    },
    letterSpacing: {
      type: String,
      default: '1px',
      required: false,
    },
    width: {
      type: String,
      default: '100%',
      required: false,
    },
    wrapWidth: {
      type: String,
      default: '100%',
      required: false,
    },
    height: {
      type: String,
      default: '40px',
      required: false,
    },
    boxShadow: {
      type: Boolean,
      default: true,
      required: false,
    },
    fill: {
      type: Boolean,
      default: true,
      required: false,
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false,
    },
    icon: {
      type: String,
      default: null,
      required: false,
    },
    iconWidth: {
      type: String,
      default: null,
      required: false,
    },
    iconSpacing: {
      type: String,
      default: null,
      required: false,
    },
    iconInvert: {
      type: Boolean,
      default: false,
      required: false,
    },
    centered: {
      type: Boolean,
      default: false,
      required: false,
    },
    isLoading: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
  computed: {
    chosenBackgroundColour() {
      if (this.fill === true) {
        if (this.color === 'teal') {
          return '#58DFA9';
        }
        if (this.color === 'red') {
          return '#F83F40';
        }
      }
      return '#fff';
    },
    border() {
      if (this.fill === false) {
        if (this.color === 'grey') {
          return '1px solid #ACACAC';
        }
        if (this.color === 'teal') {
          return '1px solid #58dfa9';
        }
        return `1px solid ${this.color}`;
      }
      return false;
    },
    chosenColour() {
      if (this.fill) {
        return '#fff';
      }
      if (this.color === 'grey') {
        return '#ACACAC';
      }
      if (this.color === 'teal') {
        return '#58dfa9';
      }
      return this.color;
    },
    boxShadowReturn() {
      if (this.boxShadow === false) {
        return false;
      }
      if (this.color !== 'white') {
        return `0px 10px 20px -10px ${this.chosenBackgroundColour}`;
      }
      return false;
    },
  },
};
</script>
