<template>
  <div id="about">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        :class="{'sideNavOpen': activeModal == 'sideNav'}"
        class="box-wrap">
        <h1
          class="title text-xl">
          About Runner
        </h1>
        <div style="line-height: 26px; margin-bottom: 30px;">
          <p>
            We are an online alcohol and goods marketplace. It's that simple. Your order gets delivered on-demand in under 2 hours.
          </p>
          <p>
            All drivers that work with us are fully licensed, completely legal, and very friendly.
          </p>
          <p>
            We hope your experience with us is enjoyable.
          </p>
        </div>
        <h2 class="title-offer text-lg">
          What We Offer
        </h2>
        <ul style="margin-bottom: 45px;">
          <li style="margin-bottom: 30px !important;">
            Hundreds of different wines and vintages included. Anything you can get at the LCBO can be delivered to you!
          </li>
          <li style="margin-bottom: 30px !important;">
            Beers: IPAs, Lagers, Ales, Stouts, etc.
          </li>
          <li style="margin-bottom: 30px !important;">
            Spirits/Alcohols/Liquors
          </li>
        </ul>
        <h2
          style="margin-bottom: 30px !important;"
          class="text-lg">
          Cans & Cannots
        </h2>
        <div class="cans-cannots">
          <div>
            <span class="checkmark">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567781327/runner%20v4/icons/FaqIconCheckmark.png">
            </span>
            <div>
              Your order CAN be delivered to residences
            </div>
          </div>
          <div class="mobile">
            <span class="checkmark">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567781327/runner%20v4/icons/FaqIconCheckmark.png">
            </span>
            <div>
              Your order CAN be delivered to hotels
            </div>
          </div>
          <div>
            <span class="cross">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567781327/runner%20v4/icons/FaqIconX.png">
            </span>
            <div>
              Your order CANNOT be delivered to business addresses
            </div>
          </div>
          <div class="desktop">
            <span class="checkmark">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567781327/runner%20v4/icons/FaqIconCheckmark.png">
            </span>
            <div>
              Your order CAN be delivered to hotels
            </div>
          </div>
          <div>
            <span class="cross">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567781327/runner%20v4/icons/FaqIconX.png">
            </span>
            <div>
              Your order CANNOT be delivered to parking lots or parks
            </div>
          </div>
        </div>
        <p style="margin-bottom: 30px !important;">
          ** ID MUST be presented upon dropoff
        </p>
        <p style="margin-bottom: 50px !important;">
          Runner currently services downtown Toronto, Etobicoke & Mississauga.
        </p>
        <h2 class="text-lg">
          Hours Of Operation:
        </h2>
        <div class="hours">
          <div>
            <div>
              Monday - Friday:
            </div>
            <div>
              11:00am - 9:30pm
            </div>
          </div>
          <div>
            <div>
              Saturday - Sunday:
            </div>
            <div>
              11:00am - 5:00pm
            </div>
          </div>
        </div>
        <h2 class="text-lg">
          Press Inquiries
        </h2>
        <p>
          For media inquiries, please contact <a href="mailto:press@getrunner.io">press@getrunner.io</a>
        </p>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.desktop {
  display: none !important;
  @media (min-width: 640px) {
    display: unset !important;
  }
}
.mobile {
  margin-bottom: 30px;
  @media (min-width: 640px) {
    display: none !important;
  }
}
.nav-open {
  @media (min-width: 640px) {
    transform: translateX(300px);
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 45px;
    background: #FFF;
  }
}
#about {
  margin: 15px;
  @media (min-width: 640px) {
    margin: 0px;
  }
}
.title-offer {
  margin-bottom: 25px !important;
}
.title {
  margin-bottom: 28px;
  font-size: 23px !important;
  @media (min-width: 640px) {
    font-size: 33px !important;
  }
}
.checkmark {
  img {
    width: 22px;
    margin-right: 5px;
  }
}
.cross {
  img {
    width: 22px;
    margin-right: 5px;
  }
}
h1 {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 15px !important;
}
h2 {
  font-size: 19px;
  @media (min-width: 640px) {
    font-size: 22px;
  }
  font-weight: 600;
  margin-bottom: 15px !important;
}
p {
  font-size: 15px;
  margin-bottom: 15px !important;
}
.hours {
  display: grid;
  row-gap: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}
li {
  font-size: 15px;
  margin-bottom: 15px !important;
}
.cans-cannots {
  display: grid;
  row-gap: 15px;
  @media (min-width: 640px) {
    grid-template-columns: 380px 450px;
  }
  margin-bottom: 25px;
  div {
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    @media (min-width: 640px) {
      display: unset;
    }
  }
}
</style>


<script>
import { mapGetters, mapActions } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
  },
};
</script>
