<template>
  <div id="settings">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <notifications
        group="errors"
        position="bottom left" />
      <notifications
        group="success"
        position="bottom left" />
      <div
        v-if="user"
        :class="{'sideNavOpen': activeModal == 'sideNav'}"
        class="box-wrap">
        <div
          class="settings">
          <div class="title">
            Account Settings
          </div>
          <!-- DEFAULT -->
          <div
            v-if="!userIsEditing"
            class="non-editable">
            <div class="top-layer">
              <div class="names">
                <span
                  class="first-name sm:mr-15">
                  <h3>
                    First Name
                  </h3>
                  <span class="user-info">
                    {{ firstName }}
                  </span>
                </span>
                <span
                  class="last-name">
                  <h3>
                    Last Name
                  </h3>
                  <span class="user-info">
                    {{ lastName }}
                  </span>
                </span>
              </div>
              <div class="email-phone">
                <span
                  style="flex: 1 !important;"
                  class="email sm:mr-15">
                  <h3>
                    Email
                  </h3>
                  <span class="user-info">
                    {{ email }}
                  </span>
                </span>
                <span
                  style=""
                  class="phone">
                  <h3>
                    Phone Number
                  </h3>
                  <span class="user-info">
                    {{ phoneNumber | phoneNumber }}
                  </span>
                </span>
              </div>
              <div class="birthday">
                <h3 style="display: block;">
                  Birthday
                </h3>
                <span class="month">
                  <span class="user-info">
                    {{ birthdayMonth }}
                  </span>
                </span>
                <span
                  style="margin-left: 0 !important; margin-right: 0 !important;"
                  class="day">
                  <span class="user-info">
                    {{ '/ '+ birthdayDay + ' /' }}
                  </span>
                </span>
                <span class="year">
                  <span class="user-info">
                    {{ birthdayYear }}
                  </span>
                </span>
              </div>
              <div class="add-finish-btns">
                <button-component
                  :text="'EDIT ACCOUNT'"
                  :color="'grey'"
                  :fill="false"
                  :width="'100%'"
                  :height="'40px'"
                  :wrap-width="'100%'"
                  @click.native="toggleUserEdit"/>
              </div>
            </div>
          </div>
          <!-- STOP DEFAULT -->
          <!-- START USER IS EDITING -->
          <div
            v-else-if="userIsEditing">
            <div>
              <div class="flex flex-col mb-15 sm:flex-row">
                <span class="flex flex-col sm:mb-0 mb-15">
                  <h3>
                    First Name
                  </h3>
                  <input
                    :class="{ 'input--error': $v.firstName.$error}"
                    v-model="firstName"
                    class="border p-10 rounded-sm sm:mr-15"
                    placeholder="First Name"
                    @input="setFirstName($event.target.value)">
                  <p
                    v-if="!$v.firstName.required && $v.firstName.$dirty"
                    class="error text-red mb-0"
                  >
                    A first name is required.
                  </p>
                </span>
                <span class="flex flex-col">
                  <h3>
                    Last Name
                  </h3>
                  <input
                    :class="{ 'input--error': $v.lastName.$error}"
                    v-model="lastName"
                    class="border p-10 rounded-sm"
                    placeholder="Last Name"
                    @input="setLastName($event.target.value)">
                  <p
                    v-if="!$v.lastName.required && $v.lastName.$dirty"
                    class="error text-red mb-0"
                  >
                    A last name is required.
                  </p>
                </span>
              </div>
              <div class="flex flex-col mb-15 sm:flex-row">
                <span class="flex flex-col sm:mb-0 mb-15">
                  <h3>
                    Email
                  </h3>
                  <input
                    :class="{ 'input--error': $v.email.$error}"
                    v-model="email"
                    class="border p-10 rounded-sm sm:mr-15"
                    placeholder="Email"
                    @input="setEmail($event.target.value)">
                  <p
                    v-if="(!$v.email.email || !$v.email.required) && $v.email.$dirty"
                    class="error text-red mb-0"
                  >
                    A valid email is required.
                  </p>
                </span>
                <span class="flex flex-col">
                  <h3>
                    Phone Number
                  </h3>
                  <the-mask
                    :mask="['###-###-####']"
                    :class="{ 'input--error': $v.phoneNumber.$error}"
                    v-model="phoneNumber"
                    type="tel"
                    class="border p-10 rounded-sm"
                    placeholder="Phone Number"
                    @input.native="setPhoneNumber($event.target.value)"/>
                  <p
                    v-if="(!$v.phoneNumber.minLength || !$v.phoneNumber.required) && $v.phoneNumber.$dirty"
                    class="error text-red mb-0"
                  >
                    A valid phone number is required.
                  </p>
                </span>
              </div>
              <div class="flex flex-col mb-15">
                <h3 style="display: block;">
                  Birthday
                </h3>
                <div class="flex flex-row">
                  <select
                    id=""
                    :class="{ 'input--error': $v.birthdayMonth.$error}"
                    v-model="birthdayMonth"
                    class="appearance-none p-10 rounded-sm bg-white border mr-10"
                    name="birthday_month"
                    @input.native="setBirthdayMonth($event.target.value)">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                  </select>
                  <select
                    :class="{ 'input--error': $v.birthdayDay.$error}"
                    v-model="birthdayDay"
                    class="appearance-none p-10 rounded-sm bg-white border mr-10"
                    name="birthday_day"
                    @input.native="setBirthdayDay($event.target.value)">
                    <option
                      v-for="n in 31"
                      :value="n"
                      :key="n">{{ n }}</option>
                  </select>
                  <select
                    id=""
                    :class="{ 'input--error': $v.birthdayYear.$error}"
                    v-model="birthdayYear"
                    class="appearance-none p-10 rounded-sm bg-white border mr-10"
                    name="birthday_year"
                    @input.native="setBirthdayYear($event.target.value)">
                    <option
                      v-for="n in 80"
                      :value="thisYear - n"
                      :key="n">{{ thisYear - n }}</option>
                  </select>
                </div>
                <p
                  v-if="(!$v.birthdayYear.required && $v.birthdayYear.$dirty) || (!$v.birthdayMonth.required && $v.birthdayMonth.$dirty) || (!$v.birthdayDay.required && $v.birthdayDay.$dirty)"
                  class="error text-red mb-15 mt-15">
                  A valid birthday is required.
                </p>
              </div>
              <div class="add-finish-btns">
                <button-component
                  :text="'CANCEL'"
                  :color="'grey'"
                  :fill="false"
                  :width="'100%'"
                  :height="'40px'"
                  :wrap-width="'100%'"
                  style="margin-right: 15px;"
                  @click.native="cancelUserEdit"/>
                <button-component
                  :text="'SAVE EDITS'"
                  :color="'red'"
                  :fill="true"
                  :box-shadow="false"
                  :width="'100%'"
                  :height="'40px'"
                  :wrap-width="'100%'"
                  @click.native="saveUserEdits"/>
              </div>
            </div>
          </div>
          <!-- STOP USER IS EDITING -->
          <!-- PASSWORD STUFF -->
          <!-- NON EDITABLE PASS -->
          <div
            v-if="!passwordIsEditable"
            class="bottom-layer">
            <div
              class="title"
              style="font-size: 17px; font-weight: 300; margin-bottom: 0px;">
              Current Password
            </div>
            <input
              v-model="typedInPassword"
              type="password"
              class="current-password">
            <div
              v-if="wrongPassword"
              style="color: #f83f40;">
              Incorrect password.
            </div>
            <div class="add-finish-btns">
              <button-component
                :text="'CHANGE PASSWORD'"
                :color="'grey'"
                :fill="false"
                :width="'100%'"
                :height="'40px'"
                :wrap-width="'100%'"
                @click.native="togglePasswordEdit(user.id)"/>
            </div>
          </div>
          <!-- stop non editable -->
          <!-- EDITABLE PASS -->
          <div
            v-if="passwordIsEditable && !wrongPassword"
            class="bottom-layer">
            <div
              class="title"
              style="font-size: 17px; font-weight: 300; margin-bottom: 0px;">
              Current Password
            </div>
            <input
              v-model="typedInPassword"
              type="password"
              class="current-password"
              disabled>
            <div
              class="title"
              style="font-size: 17px; font-weight: 300; margin-bottom: 0px;">
              New Password
            </div>
            <input
              v-model="newPassword"
              placeholder="Enter Password..."
              type="password"
              class="current-password">
            <input
              v-model="confirmNewPassword"
              style="marign-top: 0px;"
              placeholder="Confirm Password..."
              type="password"
              class="current-password">
            <div
              v-if="confirmPasswordWrong"
              style="color: #f83f40;">
              Password does not match.
            </div>
            <div class="add-finish-btns">
              <button-component
                :text="'CANCEL'"
                :color="'grey'"
                :fill="false"
                :width="'100%'"
                :height="'40px'"
                :wrap-width="'100%'"
                style="margin-right: 15px;"
                @click.native="cancelPasswordEdit"/>
              <button-component
                :text="'SAVE PASSWORD'"
                :color="'red'"
                :fill="true"
                :box-shadow="false"
                :width="'100%'"
                :letter-spacing="'2px'"
                :height="'40px'"
                :wrap-width="'100%'"
                @click.native="changePassword(userId)"/>
            </div>
          </div>
        </div>
      <!-- stop editable pass -->
      </div>
      <div
        v-else-if="!user"
        class="box-wrap">
        <p
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="bg-white p-30">
          Please <a href="/login">log in</a> or <a href="/register"> sign up!</a>
        </p>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.input--error {
  border: 1px solid red;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.nav-open {
  margin-left: 250px;
}
.non-editable {
  .user-info {
    margin-bottom: 20px;
  }
}
.top-layer {
  border-bottom: 1px #EFEFEF solid;
  margin-bottom: 25px;
  display: grid;
  input {
    border-radius: 4px;
    border: 1px #EFEFEF solid;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .names {
    display: flex;
    flex-flow: column;
    .first-name {
      display: flex;
      flex-flow: column;
      margin-bottom: 5px;
    }
    .last-name {
      display: flex;
      flex-flow: column;
    }
    @media screen and (min-width: 640px) {
      flex-flow: unset;
      .first-name {
        width: 23%;
        flex: 1;
        display: grid;
        margin-bottom: 0px;
      }
      .last-name {
        display: grid;
        margin-left: 0;
        width: 0%;
        flex: 3;
      }
    }
  }
  .email-phone {
    display: grid;
    .email {
        display: grid;
        flex: 1
      }
      .phone {
        display: grid;
        flex: 1;
      }
    @media screen and (min-width: 640px) {
      display: flex;
      .email {
        display: grid;
        flex: 1
      }
      .phone {
        margin-left: 0 !important;
        width: 0% !important;
        flex: 3 !important;
        display: grid;
        flex: 1;
        margin-left: 40px;
      }
    }
  }
  .birthday {
    display: block;
    margin-bottom: 10px;

    @media screen and (min-width: 640px) {
      .day {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
.bottom-layer {
  input {
    border-radius: 4px;
    border: 1px #EFEFEF solid;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    background-color: #F9F9F9;
    padding-top: 20px;
    padding-bottom: 36px;
  }
}
.settings {
  border: 1px #EFEFEF solid;
  padding: 40px;
  @media (min-width: 640px) {
    margin-top: 25px;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 15px;
  }
  background-color: white;
}
.add-finish-btns {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  @media (min-width: 640px) {
    width: 250px;
  }
  .add-cancel-btn {
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    border: 1px #acacac solid;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: #ACACAC;
  }
  .add-save-btn {
    text-align: center;
    cursor: pointer;
    background-color: #F83F40;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    text-align: center;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-left: 25px;
    box-shadow: 0 11px 15px -2px rgba(248, 63, 64, 0.5);
  }
   @media screen and (min-width: 640px) {

  }
}
.title {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 500;
}
h3 {
  font-weight: 100;
  display: inline;
  margin-bottom: 10px;
}
</style>

<script>
import { mapActions, mapGetters } from 'vuex';
import { required, email, minLength } from 'vuelidate/lib/validators';
import { identify } from '../mixins/analytics';
import api from '../mixins/api';

export default {
  filters: {
    phoneNumber(value) {
      return value.replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      thisYear: '',
      firstName: '',
      lastName: '',
      email: '',
      phoneNumber: '',
      isLoading: false,
      userDetails: {},
      birthdayMonth: '',
      birthdayDay: '',
      birthdayYear: '',
      userIsEditing: false,
      passwordIsEditable: false,
      newPassword: '',
      confirmNewPassword: '',
      typedInPassword: '',
      wrongPassword: false,
      confirmPasswordWrong: false,
    };
  },
  computed: {
    userDetailsUpdated() {
      return this.userDetails;
    },
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    if (this.user) {
      await this.getUserDetails(this.user.id);
    }
    this.segmentIdentify();

    this.isLoading = false;
  },
  validations: {
    firstName: {
      required,
    },
    lastName: {
      required,
    },
    phoneNumber: {
      required,
      minLength: minLength(12),
    },
    email: {
      required,
      email,
    },
    birthdayDay: {
      required,
    },
    birthdayMonth: {
      required,
    },
    birthdayYear: {
      required,
    },
    validationGroup: ['birthdayDay', 'birthdayMonth', 'birthdayYear'],
  },
  methods: {
    identify,
    setFirstName(value) {
      this.firstName = value;
      this.$v.firstName.$touch();
    },
    setLastName(value) {
      this.lastName = value;
      this.$v.lastName.$touch();
    },
    setPhoneNumber(value) {
      this.phoneNumber = value;
      this.$v.phoneNumber.$touch();
    },
    setEmail(value) {
      this.email = value;
      this.$v.email.$touch();
    },
    setBirthdayDay(value) {
      if (value !== 'Day') {
        this.birthdayDay = value;
        this.$v.birthdayDay.$touch();
      }
    },
    setBirthdayMonth(value) {
      if (value !== 'Month') {
        this.birthdayMonth = value;
        this.$v.birthdayMonth.$touch();
      }
    },
    setBirthdayYear(value) {
      if (value !== 'Year') {
        this.birthdayYear = value;
        this.$v.birthdayYear.$touch();
      }
    },
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    async changePassword(userId) {
      if (this.newPassword === this.confirmNewPassword) {
        this.confirmPasswordWrong = false;

        await api().put(`/users/${this.user.id}`, {
          data: {
            attributes: {
              password: this.newPassword,
            },
          },
        })
          .catch((error) => {
            this.$notify({
              group: 'error',
              type: 'error',
              title: 'Error has occured.',
              text: 'Error has occured, password has not been updated.',
              duration: -1,
            });
          });

        this.passwordIsEditable = false;
        this.getUserDetails(this.user.id);
        this.typedInPassword = '';
        this.newPassword = '';
        this.confirmNewPassword = '';
      } else {
        this.confirmPasswordWrong = true;
      }
    },
    async togglePasswordEdit(userId) {
      this.isLoading = true;
      if (this.typedInPassword === '') {
        this.wrongPassword = true;
        this.isLoading = false;
        return;
      }
      try {
        await api().put(`/users/${this.user.id}/update-password`, {
          data: {
            attributes: {
              oldPassword: this.typedInPassword,
            },
          },
        });
        this.passwordIsEditable = true;
        this.wrongPassword = false;
      } catch (error) {
        this.wrongPassword = true;
        this.isLoading = false;
        // bandaid fix for backend bug, backend 500's because of array/wrong value problems
        if (error.response.status === 500) {
          this.passwordIsEditable = true;
          this.wrongPassword = false;
        }
      }
      this.isLoading = false;
    },
    cancelPasswordEdit() {
      this.passwordIsEditable = false;
    },
    toggleUserEdit() {
      this.userIsEditing = true;
    },
    cancelUserEdit() {
      this.userIsEditing = false;
      this.getUserDetails(this.user.id);
    },
    getUserpassword() {
      this.userPassword = response;
    },
    async getUserDetails(userId) {
      this.isLoading = true;
      const response = await api().get(`/users/${userId}`)
        .catch((error) => {
          console.log(error);
        });

      this.thisYear = new Date().getFullYear();
      this.email = response.data.data ? response.data.data.attributes.email : null;
      this.firstName = response.data.data ? response.data.data.attributes.firstName : null;
      this.lastName = response.data.data ? response.data.data.attributes.lastName : null;
      this.phoneNumber = response.data.data ? response.data.data.attributes.phoneNumber : null;
      const userDetails = response.data.data;
      this.userDetails = userDetails;
      this.birthdayMonth = moment(userDetails.attributes.dateOfBirth).format('LL').split(' ')[0];
      this.birthdayDay = moment(userDetails.attributes.dateOfBirth).format('LL').split(' ')[1].slice(0, -1);
      this.birthdayYear = moment(userDetails.attributes.dateOfBirth).format('LL').split(' ')[2];
      this.isLoading = false;
    },
    saveUserEdits() {
      if (document.querySelector('.input--error') !== null) {
        this.$nextTick(() => {
          window.scrollTo({
            top: 0,
            behavior: 'smooth',
          });
          document.querySelector('.input--error').focus();
        });
        return;
      }
      const formattedDate = moment(`${this.birthdayMonth} ${this.birthdayDay} ${this.birthdayYear}`).format('L');
      const formattedBirthMonth = formattedDate.split('/')[0];
      const formattedBirthDay = formattedDate.split('/')[1];
      const formattedBirthYear = formattedDate.split('/')[2];
      const totalNewDate = `${formattedBirthYear}-${formattedBirthMonth}-${formattedBirthDay}`;
      this.userDetails.attributes.dateOfBirth = totalNewDate;
      this.userDetails.attributes.firstName = this.firstName;
      this.userDetails.attributes.lastName = this.lastName;
      this.userDetails.attributes.phoneNumber = this.phoneNumber;
      this.userDetails.attributes.email = this.email;

      api().put(`/users/${this.user.id}`, {
        data: {
          type: 'users',
          attributes: this.userDetails.attributes,
        },
      })
        .then((res) => {
          this.getUserDetails(this.user.id);
          this.cancelUserEdit();

          this.$notify({
            group: 'success',
            type: 'success',
            title: 'succcess',
            text: 'profile updated',
            duration: -1,
          });
        })
        .catch((error) => {
          console.log(error);

          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
  },
};
</script>
