<template>
  <div
    id="addresses">
    <notifications
      group="errors"
      position="bottom left" />
    <master-layout
      v-if="store"
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        v-if="user"
        class="box-wrap">
        <div
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="addresses">
          <div class="title">
            Addresses
          </div>
          <!-- address list-->
          <div
            v-for="(address, index) in user.attributes.addresses"
            v-show="!isLoading"
            :key="index"
            class="options">
            <span v-if="!address.addressIsEditable && address">
              <img
                v-if="address.attributes.selected == 1"
                class="marker-icon"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPinRed.png">
              <img
                v-else
                class="marker-icon"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493813/runner%20v4/icons/ChecloutIconPin.png"
                @click="chooseAddress(address)">
              <div class="addresses-list">
                <div style="display: inline-grid; margin-bottom: 15px;">
                  <span>
                    {{ address.attributes.formattedAddress.split(',')[0] }}
                    <span v-if="address.attributes.unitNumber">
                      Unit {{ address.attributes.unitNumber }}
                    </span>
                  </span>
                  <span
                    v-if="address.attributes.formattedAddress.includes(',')"
                    style="color:#B1B1B1; font-size: 12.5px;">
                    {{ address.attributes.formattedAddress.split(',')[1] + ', ' + address.attributes.formattedAddress.split(',')[2] }}
                  </span>
                </div>
                <span class="edit-btns">
                  <img
                    class="delete-btn"
                    style="margin-left: 20px;"
                    src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavClose.png"
                    @click="deleteAddress(address)">
                </span>
              </div>
            </span>
          </div>
          <!-- address add btn -->
          <div
            v-if="!addingNewAddress"
            style="margin-top: 25px; display: inline-flex;">
            <button-component
              :text="'Add New Address'"
              :font-size="'13px'"
              :font-weight="'100'"
              :letter-spacing="'0px'"
              :color="'red'"
              :fill="false"
              :width="'280px'"
              :height="'40px'"
              :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053400/runner%20v4/icons/IconPlusRed.png'"
              :icon-width="'15px'"
              :icon-spacing="'10px'"
              @click.native="toggleAddressAdd"
            />
          </div>
          <!-- adding new address -->
          <div
            v-if="addingNewAddress"
            class="new-address-box">
            <div
              class="title"
              style="font-size: 17px; font-weight: 300; margin-bottom: 20px; margin-top: 20px;">
              Add New Address
            </div>
            <div class="add-inputs">
              <div>
                <div class="add-title">
                  Street Address
                </div>
                <input
                  id="account_address"
                  :class="{ 'input--error': addressDropDownError }"
                  v-model="newAddress"
                  autocomplete="off"
                  class="add-input-bar"
                  placeholder="Address..."
                  type="text"
                  @focus="bindAutoComplete">
                <p
                  v-if="addressEmpty"
                  style="color: #f83f40">
                  Please select an address from the autopopulated list.
                </p>
                <p
                  v-if="addressChanged"
                  style="color: #f83f40">
                  Please re-select an address from the autopopulated list.
                </p>
              </div>
              <div>
                <div class="add-title">
                  Unit Number (Optional)
                </div>
                <input
                  id="unit-number-input"
                  v-model="newUnitNumber"
                  class="add-input-bar"
                  placeholder="Unit Number...">
              </div>
              <div>
                <div class="add-title">
                  Business Name (Optional)
                </div>
                <input
                  id="business-name-input"
                  v-model="newBusinessName"
                  class="add-input-bar"
                  placeholder="Business Name...">
              </div>
              <div>
                <div class="add-title">
                  Postal Code (Autofill)
                  <span class="relative">
                    <p
                      v-if="tooltipHover"
                      class="tooltip bg-white p-10 absolute w-200 border text-xs tooltip-pin-x tooltip-pin-y shadow">
                      Example of address to auto-populate postal code: 123 Address, City A1A 1A1
                    </p>
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavSupport.png"
                      alt="tooltip"
                      class="w-15 opacity-50 cursor-pointer hover:opacity-75"
                      @mouseover="tooltipHover = true"
                      @mouseleave="tooltipHover = false">
                  </span>
                </div>
                <input
                  v-mask="'A#A #A#'"
                  id="postal-code-input"
                  v-model="newPostalCode"
                  disabled
                  class="add-input-bar"
                  type="text"
                  placeholder="L5B 2C9">
                <p
                  v-if="address_error"
                  style="color: #f83f40">
                  You must re-select an address with a full valid postal code.
                </p>
              </div>
              <div>
                <div class="add-title">
                  Instructions for Runner (Optional)
                </div>
                <textarea
                  id="instructions-input"
                  v-model="instructionsAdd"
                  class="add-input-area"
                  placeholder="Instructions..."/>
                <span class="instruction-text">
                  {{ instructionsAdd.length }}/500
                </span>
              </div>
              <div class="button-components">
                <button-component
                  :fill="false"
                  :color="'grey'"
                  :text="'CANCEL'"
                  :width="'100%'"
                  :height="'35px'"
                  :font-size="'12px'"
                  @click.native="closeAddressAdd"/>
                <button-component
                  v-if="userId !== null"
                  :fill="true"
                  :color="'red'"
                  :text="'SAVE NEW ADDRESS'"
                  :width="'100%'"
                  :height="'35px'"
                  :font-size="'12px'"
                  @click.native="addAddress"/>
                <button-component
                  v-else-if="userId === null"
                  :fill="true"
                  :color="'red'"
                  :text="'  SAVE NEW ADDRESS'"
                  :width="'100%'"
                  :height="'35px'"
                  :font-size="'12px'"
                  @click.native="addAddress"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-else
        class="box-wrap">
        <p
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="bg-white p-30">
          Please <a href="/login">log in</a> or <a href="/register"> sign up!</a>
        </p>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.input--error {
  border: 1px solid red !important;
}
.tooltip:after {
  background-color: white;
  content: "\00a0";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  transform: rotate(47deg) skew(5deg);
  -moz-transform: rotate(47deg) skew(5deg);
  -ms-transform: rotate(47deg) skew(5deg);
  -o-transform: rotate(47deg) skew(5deg);
  -webkit-transform: rotate(47deg) skew(5deg);
  box-shadow: 2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: 35px;
  bottom: -7px;
}
.tooltip-pin-x {
  left: -37px;
}
.tooltip-pin-y {
  bottom: 0px;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.button-components {
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    left: 0px;
    column-gap: 20px;
    padding: 20px;
    background: #fff;
  @media (min-width: 640px) {
    display: grid;
    position: unset;
    bottom: unset;
    left: unset;
    background: unset;
    padding: unset;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    column-gap: 20px;
    margin-top: 30px;
  }
}
.instruction-text {
  position:unset;
  @media (min-width:640px) {
    position: relative;
  }
  bottom: -18px;
  left: -47px;
  color: #ACACAC;
}
.add-inputs {
  display: grid;
  .add-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .add-input-bar {
    border: 1px #EFEFEF solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 100%;
    @media (min-width: 640px) {
      width: 365px;
    }
    font-weight: 100;
    margin-bottom: 10px;
  }
  .add-input-area {
    border: 1px #EFEFEF solid;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    @media (min-width: 640px) {
      width: 366px;
    }
    height: 100px;
    font-weight: 100;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
.addresses {
  border: 1px #EFEFEF solid;
  background-color: white;
  padding: 15px;
  @media screen and (min-width: 640px) {
    border: 1px #EFEFEF solid;
    padding: 40px;
    background-color: white;
  }
}
.marker-icon {
  width: 10px;
  margin-left: 3px;
  margin-top: 2px;
  position: absolute;
  cursor: pointer;
}
.add-address-btn {
  border: 1px #f83f40 solid;
  color:red;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  cursor: pointer;
}
.edit-btns {
  margin-top: 5px;
  float: right;
  .default-btn {
    cursor: pointer;
    border: 1px #f83f40 solid;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    color: red;
    border-radius: 4px;
    padding-right: 25px;
  }
  .edit-btn {
    cursor: pointer;
    border: 1px #acacac solid;
    padding: 10px;
    padding-left: 60px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding-right: 60px;
    color: #acacac;
    border-radius: 4px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .delete-btn {
    display: inline;
    width: 15px;
    cursor:pointer;
  }
}
.title {
  font-size: 21px;
  font-weight: 500;
}
.options {
  margin-top: 20px;
  border-bottom: 1px #EFEFEF solid;
  display: grid;
  .addresses-list {
    margin-left: 20px;
  }
}
</style>

<script>
import { mapActions, mapGetters } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      addressDropDownError: false,
      autocomplete: '',
      inputs: {
        route: 'long_name',
        country: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        postal_code: 'short_name',
      },
      userAddresses: {},
      addingNewAddress: false,
      instructionsAdd: '',
      newAddress: '',
      addressEmpty: false,
      newAddressEdit: '',
      newUnitNumber: '',
      newBusinessName: '',
      address_error: false,
      postalCode: '',
      newPostalCode: '',
      addressArray: {},
      isLoading: false,
      needPostalCode: false,
      addressChanged: false,
      tooltipHover: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    closeAddressEdit(address) {
      address.addressIsEditable = false;
    },
    closeAddressAdd() {
      this.addingNewAddress = false;
      this.needPostalCode = false;
      this.address_error = false;
      this.addressEmpty = false;
      this.addressArray = {};
      this.newAddress = '';
      this.newAddressEdit = '';
      this.newUnitNumber = '';
      this.newBusinessName = '';
      this.newPostalCode = '';
    },
    toggleEditAddress(address) {
      if (address.addressIsEditable === null) {
        address.addressIsEditable = true;
      }
      address.addressIsEditable = !address.addressIsEditable;

      for (let i = 0; i < this.userAddresses.length; i++) {
        if (address.attributes === this.userAddresses[i].attributes) {
          this.userAddresses[i] = address;
        }
      }
    },
    toggleAddressAdd() {
      this.addingNewAddress = !this.addingNewAddress;
    },
    async saveAddressEdit(address) {
      this.isLoading = true;
      address.addressIsEditable = false;

      const response = await axios({
        method: 'put',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
        data: {
          data: {
            type: 'addresses',
            attributes: {
              businessName: address.attributes.businessName,
              formattedAddress: this.newAddressEdit,
              instructions: address.attributes.instructions,
              lat: address.attributes.lat,
              lng: address.attributes.lng,
              postalCode: address.attributes.postalCode,
              unitNumber: address.attributes.unitNumber,
            },
          },
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });

      this.isLoading = false;
    },
    async deleteAddress(address) {
      this.isLoading = true;
      const response = await axios({
        method: 'delete',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
      this.isLoading = false;
    },
    async setDefaultAddress(address) {
      const response = await axios({
        method: 'put',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
        data: {
          data: {
            type: 'addresses',
            attributes: {
              selected: 1,
            },
          },
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
    },
    async addAddress() {
      if (!this.newPostalCode) {
        this.address_error = true;
      }
      if (!Object.keys(this.addressArray).length) {
        this.addressEmpty = true;
        this.$notify({
          group: 'errors',
          type: 'error',
          title: 'Error',
          text: 'Invalid Street Address',
          duration: 10000,
        });
      } else {
        this.addressEmpty = false;
      }
      await this.validatePostalCode(this.domain, this.newPostalCode)
        .then(() => {
          if (this.stores.length > 0) {
            console.log();
          } else {
            this.address_error = true;
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: 'Invalid Postal Code',
              duration: 10000,
            });
          }
        });
      if (this.addressEmpty || this.addressChanged || this.address_error) {
        this.addressDropDownError = true;
      } else {
        this.addressDropDownError = false;
      }
      if (this.address_error || this.addressEmpty) {
        this.$nextTick(() => {
          const domRect = document.querySelector('.input--error') ? document.querySelector('.input--error').getBoundingClientRect() : null;
          window.scrollTo({
            top: domRect ? (domRect.top + document.documentElement.scrollTop) : 0,
            behavior: 'smooth',
          });
          if (document.querySelector('.input--error')) {
            document.querySelector('.input--error').focus();
          }
        });
        return;
      }
      if (!this.address_error && !this.addressEmpty) {
        // guest add to cookie
        if (this.newAddress !== this.addressArray.printable_address) {
          this.addressChanged = true;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: 'Please choose again from the autopopulated list',
            duration: 10000,
          });
        } else {
          this.addressChanged = false;
        }
        if (this.addressEmpty || this.addressChanged) {
          this.addressDropDownError = true;
        } else {
          this.addressDropDownError = false;
        }
        if (this.address_error || this.addressDropDownError) {
          this.$nextTick(() => {
            const domRect = document.querySelector('.input--error') ? document.querySelector('.input--error').getBoundingClientRect() : null;
            window.scrollTo({
              top: domRect ? (domRect.top + document.documentElement.scrollTop) : 0,
              behavior: 'smooth',
            });
            if (document.querySelector('.input--error')) {
              document.querySelector('.input--error').focus();
            }
          });
          return;
        }
        if (!this.user) {
          const tempAddress = {
            attributes: {
              formattedAddress: this.addressArray.printable_address,
              lat: this.addressArray.lat,
              lng: this.addressArray.lng,
              unitNumber: this.newUnitNumber,
              instructions: this.instructionsAdd,
              businessName: this.newBusinessName,
              postalCode: this.newPostalCode,
            },
          };
          this.$store.commit('SET_SELECTED_ADDRESS', tempAddress);
          window.location.href = '/';
        }
        if (!this.addressChanged && !this.adress_error && !this.addressEmpty) {
          const response = await axios({
            method: 'post',
            url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses`,
            headers: {
              Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
            },
            data: {
              data: {
                type: 'addresses',
                attributes: {
                  formattedAddress: this.addressArray.printable_address,
                  lat: this.addressArray.lat,
                  lng: this.addressArray.lng,
                  unitNumber: this.newUnitNumber,
                  instructions: this.instructionsAdd,
                  businessName: this.newBusinessName,
                  postalCode: this.newPostalCode,
                },
              },
            },
          })
            .catch((error) => {
              this.address_error = true;
              this.$notify({
                group: 'errors',
                type: 'error',
                title: 'Error',
                text: error.response.data.errors.error,
                duration: -1,
              });
            });
          this.addingNewAddress = false;
          const tempAddress = {
            attributes: {
              formattedAddress: this.addressArray.printable_address,
              lat: this.addressArray.lat,
              lng: this.addressArray.lng,
              unitNumber: this.newUnitNumber,
              instructions: this.instructionsAdd,
              businessName: this.newBusinessName,
              postalCode: this.newPostalCode,
            },
          };
          this.addressArray = {};
          this.newAddress = '';
          this.newAddressEdit = '';
          this.newUnitNumber = '';
          this.newBusinessName = '';
          this.newPostalCode = '';
          const accessToken = this.$cookie.get('token', { domain: this.domain });
          const userId = this.$cookie.get('userId', { domain: this.domain });

          this.$store.dispatch('getUser', {
            accessToken,
            userId,
          });
        }
      }
    },
    async chooseAddress(address) {
      this.isLoading = true;
      await this.setDefaultAddress(address);
      window.location.href = '/';
    },
    bindAutoComplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('account_address')),
        {
          bounds: cityBounds,
          types: [
            'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
      this.newAddress = this.addressArray.printable_address;
      this.postalCode = '';
      this.addressChanged = false;
    },
    pipeAddress() {
      const data = {};
      const place = this.autocomplete.getPlace();
      this.addressEmpty = false;

      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i++) {
          if (place.address_components[i].types[0] === 'postal_code') {
            place.lat = place.geometry.location.lat();
            place.lng = place.geometry.location.lng();
            this.postalCode = place.address_components[i].long_name;
            place.postalCode = this.postalCode;

            this.validatePostalCode(this.domain, this.postalCode)
              .then(() => {
                // if (this.stores.length > 0) {
                //   this.updateUserAddress(place)
                //     .then((response) => {
                //       location.reload();
                //     });
                if (this.stores.length > 0) {
                  this.address_error = false;
                } else {
                  this.storeOutOfBoundsPostalCode()
                    .then((response) => {
                      this.$cookie.set('inventoryId', 1, { domain: this.domain });
                      this.toggleAddressIsOutOfBounds();
                    })
                    .catch((error) => {
                      this.$notify({
                        group: 'errors',
                        type: 'error',
                        title: 'Error',
                        text: error.response.data.errors.error,
                        duration: -1,
                      });
                    });
                }
              })
              .catch((error) => {
                this.$notify({
                  group: 'errors',
                  type: 'error',
                  title: 'Error',
                  text: error.response.data.errors.error,
                  duration: -1,
                });
              });
          } else {
            this.address_error = true;
          }
          data.printable_address = place.formatted_address;
          data.lat = place.geometry.location.lat();
          data.lng = place.geometry.location.lng();


          this.newAddress = data.printable_address;
          this.newAddressEdit = data.printable_address;
          this.addressArray.printable_address = data.printable_address;
          this.addressArray.lat = data.lat;
          this.addressArray.lng = data.lng;
          // this.newPostalCode = data.postal_code;
          this.newPostalCode = this.postalCode;
        }
      } else {
        this.address_error = true;
      }
    },
    async validatePostalCode(domain, postalCode) {
      await this.$store.dispatch('validatePostalCode', {
        domain,
        postalCode,
      });
    },
    async storeOutOfBoundsPostalCode() {
      const postalCode = this.postalCode.substring(0, 3);

      await axios
        .post(`https://api.${this.domain}/runner/v4/postal-codes/out-of-bounds`, {
          data: {
            type: 'out of bounds postal codes',
            attributes: {
              postalCode,
            },
          },
        })
        .then((response) => {
          this.stores = response.data.data;
        })
        .catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    toggleAddressIsOutOfBounds() {
      this.addressIsOutOfBounds = !this.addressIsOutOfBounds;
    },
  },
};
</script>
