<template>
  <div id="career-page">
    <master-layout
      :is-loading="isLoading"
      :stores="stores"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :postal-code="postalCode"
      :sub-domain="subDomain"
      :active-modal="activeModal">
      <div
        :class="{'sideNavOpen': activeModal == 'sideNav'}"
        class="box-wrap">
        <div class="banner-wrap">
          <div class="banner">
            <div class="header">
              Join the Runner team!
            </div>
            <div class="selection">
              <div>
                <select v-model="jobSelection">
                  <option
                    disabled
                    selected
                    value="">Choose a job...</option>
                  <option>Android Engineer</option>
                  <option>iOS Engineer</option>
                  <option>Graphic Designer</option>
                </select>
              </div>
              <div>
                <select v-model="citySelection">
                  <option
                    disabled

                    value="">Select City...</option>
                  <option>Toronto</option>
                  <option>Mississauga</option>
                </select>
              </div>
              <div class="button-wrap">
                <button-component
                  :text="'GO'"
                  :color="'red'"
                  :wrap-width="'100px'"
                  :fill="true"
                  @click.native="applyJobCitySelection()"/>
              </div>
            </div>
            <div class="selection-desktop">
              <span>
                What are you interested in?
              </span>
              <div style="margin-right: 15px; width: 200px;">
                <select v-model="jobSelection">
                  <option
                    disabled
                    selected
                    value="">Choose a job...</option>
                  <option>Android Engineer</option>
                  <option>iOS Engineer</option>
                  <option>Graphic Designer</option>
                </select>
              </div>
              <span>
                in
              </span>
              <div style="margin-right: 15px; width: 200px;">
                <select v-model="citySelection">
                  <option
                    disabled

                    value="">Select City...</option>
                  <option>Toronto</option>
                  <option>Mississauga</option>
                </select>
              </div>
              <div class="button-wrap">
                <button-component
                  :text="'GO'"
                  :width="'90px'"
                  :color="'red'"
                  :fill="true"
                  @click.native="applyJobCitySelection()"/>
              </div>
            </div>
          </div>
        </div>
        <div
          class="career-page">
          <div class="box-info">
            <div class="title">
              Become a Runner
            </div>
            <div class="info">
              Do you enjoy biking? perhaps Driving? Explore your own city while delivering Runner’s products.
            </div>
            <div
              class="interested-btn">
              <button-component
                :text="`I'M INTERESTED`"
                :color="'teal'"
                :height="'35px'"
                :font-size="'12px'"
                :fill="true"
                class="mb-30"
              />
            </div>
          </div>
          <div class="featured-jobs">
            Featured Jobs
          </div>
          <div class="box-info job-box">
            <div class="title city">
              TORONTO
            </div>
            <div class="job-wrap">
              <div class="type-wrap">
                <div class="job-type">
                  Android Engineer
                </div>
                <div class="position-type">
                  Full Time
                </div>
              </div>
              <div class="info">
                You will play an important part in our mobile engineering practice, implementing new features, improving performance, and building…
              </div>
            </div>
          </div>
          <div class="box-info job-box">
            <div class="job-wrap">
              <div class="type-wrap">
                <div class="job-type">
                  iOS Engineer
                </div>
                <div class="position-type">
                  Full Time
                </div>
              </div>
              <div class="info">
                We are looking for thoughtful, well-rounded iOS engineers to join our team and help build an application that millions of people use every day…
              </div>
            </div>
          </div>
          <div class="box-info job-box">
            <div class="job-wrap">
              <div class="type-wrap">
                <div class="job-type">
                  Graphic Designer
                </div>
                <div class="position-type">
                  Part Time
                </div>
              </div>
              <div class="info">
                Design, build and execute the visual of Runner marketeing contents. Ability to conceptualize across a broad range of aesthetics and styles…
              </div>
            </div>
          </div>
          <div class="box-info job-box">
            <div class="title city">
              MISSISSAUGA
            </div>
            <div class="job-wrap">
              <div class="type-wrap">
                <div class="job-type">
                  Android Engineer
                </div>
                <div class="position-type">
                  Full Time
                </div>
              </div>
              <div class="info">
                You will play an important part in our mobile engineering practice, implementing new features, improving performance, and building…
              </div>
            </div>
          </div>
          <div class="box-info job-box">
            <div class="job-wrap">
              <div class="type-wrap">
                <div class="job-type">
                  iOS Engineer
                </div>
                <div class="position-type">
                  Full Time
                </div>
              </div>
              <div class="info">
                We are looking for thoughtful, well-rounded iOS engineers to join our team and help build an application that millions of people use every day…
              </div>
            </div>
          </div>
          <div class="box-info job-box">
            <div class="job-wrap">
              <div class="type-wrap">
                <div class="job-type">
                  Graphic Designer
                </div>
                <div class="position-type">
                  Part Time
                </div>
              </div>
              <div class="info">
                Design, build and execute the visual of Runner marketeing contents. Ability to conceptualize across a broad range of aesthetics and styles…
              </div>
            </div>
            <div
              class="see-more-wrap">
              <button-component
                :color="'grey'"
                :fill="false"
                :centered="true"
                :text="'SEE MORE'"
                :width="'300px'"
                @click.native="seeMore()"/>
            </div>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.interested-btn {
  @media (min-width: 640px) {
    width: 300px;
    display: inline-flex;
  }
}
.selection-desktop {
  display: none;
  @media (min-width: 640px) {
    display: flex;
    span {
      font-size: 20px;
      font-weight: 400;
      margin-right: 15px;
    }
    div {
      select {
        width: 100%;
        height: 35px;
        padding: 5px 10px;
      }
    }
  }
}
.box-wrap {
  margin: 0px;
  @media (min-width: 640px) {
    margin: 50px 250px;
  }
}
.city {
  letter-spacing: 2px;
  color: #B5B5B5;
  text-transform: uppercase;
  font-size: 18px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
.job-type {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px !important;
}
.position-type {
  font-size: 17px;
  color: #B5B5B5;
  margin-bottom: 25px !important;
}
.info {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 26px;
}
.box-info {
  border-bottom: 1px #EFEFEF solid;
  margin-bottom: 30px;
  padding: 0px 15px;
  @media (min-width: 640px) {
    padding: 0px;
  }
}
.featured-jobs {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 0px 15px;
  @media (min-width: 640px) {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
    padding: 0px;
  }
}
.job-box {
  @media (min-width: 640px) {
    .city {
      font-size: 19px !important;
      font-weight: 500 !important;
      margin-bottom: 50px !important;
    }
    .job-wrap {
      display: flex;
      .type-wrap {
        display: flex;
        flex-flow: column;
        min-width: 260px;
      }
    }
  }
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
button {
  outline: none;
}
#invite-friends {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
.invite-friends {
  @media (min-width: 640px) {
    background: #FFFFFF;
    border: 1px #EFEFEF solid;
  }
}
.invitation-box {
  @media (min-width: 640px) {
    width: 55%;
  }
  display: grid;
  padding: 20px;
  .title {
    font-size: 24px;
    font-weight: 500;
  }
  .info {
    @media (min-width: 640px) {
      color: #444444;
    }
    color: #acacac;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.button-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @media (min-width: 640px) {
    display: unset;
  }
}
.send-invite {
  @media (min-width: 640px) {
    width: 30%;
    margin-bottom: 40px;
  }
  color: #FFFFFF;
  background-color: #58DFA9;
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px #58dfa9;
  margin-bottom: 10px;
  justify-content: center;
}
.go-btn {
  @media (min-width: 640px) {
    width: 90px;
    margin-bottom: 40px;
  }
  color: #FFFFFF;
  background-color: #F83F40;
  width: 90px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px #F83F40;
  margin-bottom: 10px;
  justify-content: center;
  letter-spacing: 2px
}
.see-more-wrap {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
}
.see-more {
  @media (min-width: 640px) {
    width: 288px;
    margin-bottom: 40px;
  }
  color: #ACACAC;
  border: 1px #ACACAC solid;
  width: 280px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  justify-content: center;
  letter-spacing: 2px
}
.phone-info {
  div {
    font-size: 17px;
    margin-bottom: 5px;
  }
  input {
    border-radius: 4px;
    border: 1px #EFEFEF solid;
    width: 100%;
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    color: #ACACAC;
  }
}
.divider {
  display: flex;
  hr {
    border-width: 0.5px;
    border-color: #f0f0f0;
    margin-top: 28px;
    width: 100%;
  }
  span {
    color: #ACACAC;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.email-info {
  div {
    font-size: 17px;
    margin-bottom: 5px;
  }
  input {
    border-radius: 4px;
    border: 1px #EFEFEF solid;
    width: 100%;
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    color: #ACACAC;
  }
}
.banner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @media (min-width: 640px) {
    margin-bottom: 0px;
  }
  .banner {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(247,131,144,0.86);
    color: #FFFFFF;
    width: 100%;
    row-gap: 50px;
    padding: 150px 25px;
    .header {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      @media (min-width: 640px) {
        font-size: 60px;
      }
    }
    .selection {
      @media (min-width: 640px) {
        display: none;
      }
      font-size: 15px;
      display: grid;
      row-gap: 15px;
      div {
        select {
          width: 100%;
          padding: 5px 10px;
        }
      }
    }
  }
}
.nav-open {
  @media (min-width: 640px) {
    transform: translateX(300px);
  }
}
</style>

<script>
import { mapGetters } from 'vuex';
// import important from '../mixins/important';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  mixins: [
    // important,
  ],
  data() {
    return {
      userId: this.$cookie.get('userId', { domain: this.domain }),
      isLoading: false,
      jobSelection: '',
      citySelection: '',
    };
  },
  computed: {
    ...mapGetters([
      'user',
    ]),
    menuStatus() {
      return this.$store.getters.menuStatus;
    },
  },
  mounted() {
  },
  methods: {
    seeMore() {
      alert('UNDER CONSTRUCTION');
    },
    applyJobCitySelection() {
      alert('UNDER CONSTRUCTION');
    },
  },
};
</script>
