<template>
  <div
    v-scroll="handleScroll"
    id="category">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :tags="tags"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :categories="categories"
      :category="category"
      :active-modal="activeModal"
      :cart="cart"
      :off-set-top="offSetTop"
      :selected-address="selectedAddress"
      :store="store">
      <div
        :class="{ sideNavOpen: activeModal == 'sideNav' }"
        class="category">
        <div
          v-if="category.banner_image"
          :style="{backgroundImage: 'url(' + category.banner_image + ')'}"
          class="banner-image" />
        <div class="mb-15 w-250 mt-30 ml-30">
          <reward-points
            v-if="user"
            :user="user"
            class="reward-pts"/>
        </div>
        <div
          class="wrapper sm:border-t">
          <div class="mb-30">
            <div
              v-if="categories"
              class="filter-btns-mobile">
              <div
                v-for="c in JSON.parse(categories)"
                :key="c.id"
                :class="{'highlighted': category.id === c.id}"
                class="filter-btn">
                <a
                  :href="'https://' + subDomain + '.' + domain + '/category/' + c.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')"
                  style="height: 40px; border-radius: 6px; display: flex; align-items: center; padding: 0px 15px; background-color: #efefef; color: #444;">
                  <img
                    v-if="c.pillImage"
                    :alt="c.title"
                    :src="c.pillImage ? c.pillImage : null"
                    style="margin-right: 10px;"
                    class="h-50 cursor-pointer rounded-sm">
                  <span>
                    {{ c.title }}
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="flex ai-center mb-30">
            <bread-crumbs
              :category-id="category.id"
              :bread-crumbs="breadCrumbs"
              :domain="domain"
              :sub-domain="subDomain"/>
          </div>
          <filter-side-nav
            v-if="!isLoading && Object.keys(tags).length"
            :user="user"
            :domain="domain"
            :selected-address="selectedAddress"
            :sub-domain="subDomain"
            :category="category"
            :tags="tags"
            :categories="categories" />
          <span class="fs-24 block mb-30">
            {{ category.title }}
          </span>
          <div v-if="products.length === 0 && isLoading === false">
            <div class="no-products">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconClosed.png"
                alt="">
              <div>
                No products exist, try removing some filters.
              </div>
            </div>
          </div>
          <div class="product-wrap mb-30">
            <product-card
              v-for="(product, index) in products"
              :index="index + 1"
              :key="product.id"
              :domain="domain"
              :stores="stores"
              :store-id="storeId"
              :sub-domain="subDomain"
              :user-id="user ? user.id : null"
              :product="product"/>
          </div>
          <pagination
            v-if="paginationData.current_page !== undefined"
            :pagination-data="paginationData"/>
          <div
            v-if="category.description"
            style="margin-top: 30px;"
            v-html="category.description"/>
        </div>
      </div>
      <new-secondary-copy
        :category="category"
        :class="{ sideNavOpen: activeModal == 'sideNav' }" />
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.w-250 {
  width: 250px;
}
.filter-btns-mobile {
  display: flex;
  overflow: auto;
  height: 50px;
  -webkit-overflow-scrolling: touch;
  .has-filters {
    border: 1px #018449 solid !important;
  }
  .filter-btn {
    display: flex;
    border-radius: 4px;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
}
.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.reward-pts {
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
}
.wrapper {
  padding: 10px 15px 30px 15px;
  @media (min-width: 640px) {
    padding: 30px;
  }
}
.banner-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: none;
  @media (min-width: 640px) {
    display: block;
  }
}
.product-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  @media (min-width: 640px) {
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fill, 180px)
  }
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 150px;
  }
}
</style>

<script>
import {
  mapGetters, mapState, mapMutations, mapActions,
} from 'vuex';
import { productListView, productListFiltered, identify } from '../mixins/analytics';


export default {
  directives: {
    scroll: {
      inserted(el, binding) {
        const f = function (evt) {
          if (binding.value(evt, el)) {
            window.removeEventListener('scroll', f);
          }
        };
        window.addEventListener('scroll', f);
      },
    },
  },
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      paginationData: {},
      pageString: '',
      filterTagString: '',
      filterRatingString: '',
      filterPriceString: '',
      sortString: '',
      offSetTop: false,
      params: {},
      queryString: '',
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    category() {
      return JSON.parse(this.pageAttributes).category;
    },
    breadCrumbs() {
      return JSON.parse(this.pageAttributes).breadCrumbs;
    },
    categories() {
      return JSON.parse(this.pageAttributes).categories;
    },
    products() {
      return JSON.parse(this.pageAttributes).products.data;
    },
    tags() {
      return JSON.parse(this.pageAttributes).tags;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    if (window.location.href.indexOf('postalCode') === -1) {
      let url = window.location.href;
      if (url.indexOf('?') > -1) {
        url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
      } else {
        url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
      }
      window.location.href = url;
    }
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }
    await this.getUrlParameters();

    await this.getProducts();

    this.segmentIdentify();
    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    productListView,
    productListFiltered,
    handleScroll(evt, el) {
      this.offSetTop = window.scrollY > 1000;
    },
    async getUrlParameters() {
      const url = new URL(window.location.href);
      const queryString = url.search;
      const searchParameters = new URLSearchParams(queryString);
      const page = searchParameters.get('page');
      const filterTag = searchParameters.get('filter[tags]');
      const filterRating = searchParameters.get('filter[averageRating]');
      const filterPrice = searchParameters.get('filter[price]');
      const sort = searchParameters.get('sort');

      if (page) {
        this.pageString = `&page=${page}`;
        this.params.page = page;
      }
      if (sort) {
        this.sortString = `&sort=${sort}`;
        this.params.sort = sort;
      }
      if (filterTag) {
        this.filterTagString = `&filter[tags]=${filterTag}`;
        this.params['filter[tags]'] = filterTag;
      }
      if (filterRating) {
        this.filterRatingString = `&filter[averageRating]=${filterRating}`;
        this.params['filter[averageRating]'] = filterRating;
      }
      if (filterPrice) {
        this.filterPriceString = `&filter[price]=${filterPrice}`;
        this.params['filter[price]'] = filterPrice;
      }

      this.queryString = Object.keys(this.params).map(key => `${key}=${this.params[key]}`).join('&');

      this.isLoading = false;
    },
    async getProducts() {
      try {
        this.paginationData = JSON.parse(this.pageAttributes).meta;

        const data = {
          category: this.category,
          products: this.products,
          subDomain: this.subDomain,
          domain: this.domain,
          storeId: this.storeId,
          inventoryId: this.inventoryId,
          filters: this.params || null,
        };

        this.productListView(data);
        this.productListFiltered(data);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
