<template>
  <div
    v-if="inventoryId && user"
    id="checkout">
    <notifications
      group="errors"
      position="bottom left" />
    <address-changed-modal
      v-if="addressChanged"
      :domain="domain"/>
    <div class="checkout__desktop hidden md:block">
      <div class="header flex justify-center border-b border-grey-lightest border-solid">
        <a
          :href="'https://www.' + domain + '/'"
          class="self-center">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1541525002/runner/stores/storeLogo.png"
            alt="">
        </a>
      </div>
      <div
        v-show="pageLoading"
        class="h-screen grid content-center"
        style="grid-template-columns: 1fr; justify-items: center;">
        <pulse-loader
          :loading="pageLoading"
          color="#000000"
          size="10px"/>
      </div>
      <div
        v-show="!pageLoading"
        v-if="availableDeliveryTimes && user && customer && cart && store"
        class="desktop-wrap pl-15 pr-15">
        <div class="overflow-hidden">
          <div class="checkout-top border-b-15 border-grey-lightest border-solid">
            <a :href="'https://' + subDomain + '.' + domain + '/'">
              <img
                :src="Object.keys(store).length > 0 ? store.attributes.options.navigationLogo : ''"
                style="max-width: 100px;"
                alt="Navigation Logo">
            </a>
            <h2/>
            <h2 class="mb-0">
              Checkout
            </h2>
            <button @click.prevent="toggleZenDesk">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062134/runner/stores/navPhone.svg"
                alt="">
            </button>
          </div>
          <div
            v-if="inventoryId === '11' || inventoryId === '23'"
            class="mb-15 border-b-15 border-grey-lightest border-solid">
            <h2 class="mb-15 pt-15 pl-15">
              Recipient Details
            </h2>
            <div class="grid grid-columns-2 grid-gap-15 px-15 mb-15">
              <input
                v-model="gift.firstName"
                type="text"
                placeholder="First Name"
                class="border border-grey-lighter h-50 px-15">
              <input
                v-model="gift.lastName"
                type="text"
                placeholder="Last Name"
                class="border border-grey-lighter h-50 px-15">
            </div>
            <div class="grid grid-columns-2 grid-gap-15 px-15 mb-15">
              <input
                v-model="gift.email"
                type="email"
                placeholder="Email"
                class="border border-grey-lighter h-50 px-15">
              <the-mask
                :mask="['###-###-####']"
                v-model="gift.phoneNumber"
                name="phone_number"
                class="appearance-none h-50 px-15 rounded border border-grey-lighter"
                placeholder="Phone Number"
                type="tel"/>
            </div>
            <div
              class="px-15 mb-15">
              <textarea
                v-if="giftContainsCard"

                id="personalMessage"
                :value="giftOptions.personalMessage"
                class="p-15 w-full border border-grey-lighter rounded"
                name=""
                cols="30"
                rows="10"
                placeholder="Personal Note..."
                @input="setGiftMessage($event.target.value)"/>
              <div v-else>
                <p class="mb-15">
                  * Please select a gift card in your shopping cart if you'd like a personal message *
                </p>
                <button
                  style="border: 1px solid black; cursor: pointer;"
                  class="h-30 rounded px-15"
                  @click="goBack">
                  <span class="text-lg font-semibold">
                    Go Back
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="details">
            <h2 class="mb-15 pt-15 pl-15">
              Delivery Details
            </h2>
            <ul class="steps border-b-15 border-grey-lightest border-solid">
              <li
                :class="{'border-2 border-green': selectedAddress ? !selectedAddress.attributes.formattedAddress : true, 'border-b': selectedAddress ? selectedAddress.attributes.formattedAddress : false}"
                class="step border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div
                  class="step__header relative"
                  @click="toggleDesktopAddress">
                  <div
                    v-if="selectedAddress ? !selectedAddress.attributes.formattedAddress : true"
                    class="alert bg-green absolute text-white w-25 h-25 bg-center bg-no-repeat"/>
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126195/runner/stores/address.svg"
                      alt="">
                  </div>
                  <div class="info flex items-center">
                    <p
                      v-if="selectedAddress ? selectedAddress.attributes.formattedAddress : false"
                      class="text-lg mb-0 font-semibold">
                      {{ selectedAddress.attributes.formattedAddress }}
                    </p>
                    <p
                      v-else
                      class="text-lg mb-0 font-semibold">
                      Please enter or select address
                    </p>
                  </div>
                  <div class="arrow">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <div
                  v-show="desktopAddressIsShown"
                  class="step__body">
                  <checkout-address
                    :user="user"
                    :domain="domain"
                    :sub-domain="subDomain"/>
                </div>
              </li>
              <li class="step border-b border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div
                  class="step__header"
                  @click="toggleDesktopDeliveryDateTime">
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126340/runner/stores/time.svg"
                      alt="">
                  </div>
                  <div class="info flex items-center">
                    <p
                      v-if="orderDateTime"
                      class="text-lg mb-0 font-semibold">
                      {{ orderDateTime | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
                    </p>
                    <p
                      v-else
                      class="text-lg mb-0 font-semibold">
                      Please select a delivery time
                    </p>
                  </div>
                  <div class="arrow">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <div
                  v-show="desktopDeliveryDateTimeIsShown"
                  class="step__body">
                  <div class="delivery-date">
                    <h2>
                      Delivery Date
                    </h2>
                    <div class="delivery-dates-wrap">
                      <div class="delivery-dates">
                        <div
                          v-for="(deliveryDate, index) in availableDeliveryTimes"
                          v-if="deliveryDate.regularTimeSlots.length > 0"
                          :key="index"
                          :class="{active: index === activeDate, veryHidden: index == 0 && closedForTheDay}"
                          class="delivery-date"
                          @click="setDeliveryDate(index, deliveryDate)">
                          <span v-if="deliveryDate.id === 1">
                            Today
                          </span>
                          <span v-else-if="deliveryDate.id === 2">
                            Tomorrow
                          </span>
                          <span v-else>
                            {{ deliveryDate.date | moment('dddd') }}
                          </span>
                          <span>
                            {{ deliveryDate.date | moment('MMMM Do') }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="delivery-time">
                    <h2>
                      Delivery Time
                    </h2>
                    <div class="delivery-times">
                      <ul>
                        <li
                          v-for="(deliveryTime, index) in availableDeliveryTimes[activeDate].regularTimeSlots"
                          :key="index"
                          :class="{active: index === activeTime}"
                          @click="setDeliveryTime(index)">
                          <span>
                            {{ deliveryTime.interval }}
                          </span>
                          <span class="price">
                            ${{ (deliveryTime.regularPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step border-b border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div
                  class="step__header"
                  @click="toggleDesktopPhoneNumber">
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126422/runner/stores/phone.svg"
                      alt="">
                  </div>
                  <div class="info flex items-center">
                    <p class="text-lg mb-0 font-semibold">
                      {{ phoneNumber || user.attributes.phoneNumber }}
                    </p>
                  </div>
                  <div class="arrow">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <div
                  v-show="desktopPhoneNumberIsShown"
                  class="step__body">
                  <input
                    v-mask="'###-###-####'"
                    class="mb-15 h-50 p-15 appearance-none border rounded w-full"
                    placeholder="555-555-5555"
                    type="text"
                    @blur="updatePhoneNumber">
                </div>
              </li>
              <li class="step border-b border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div
                  class="step__header"
                  @click="toggleDesktopInstructions">
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126501/runner/stores/instructions.svg"
                      alt="">
                  </div>
                  <div class="info flex items-center">
                    <p
                      v-if="selectedAddress && selectedAddress.attributes.instructions"
                      class="text-lg mb-0 font-semibold">
                      {{ selectedAddress.attributes.instructions }}
                    </p>
                    <p
                      v-else
                      class="text-lg mb-0 font-semibold">
                      Delivery Instructions
                    </p>
                  </div>
                  <div class="arrow">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <div
                  v-show="desktopInstructionsIsShown"
                  class="step__body">
                  <p
                    v-if="user.attributes.addresses.length === 0"
                    class="text-lg mb-0 font-semibold">
                    Please first enter address
                  </p>
                  <form
                    v-else
                    class="address-form"
                    autocomplete="off">
                    <div class="form-wrap">
                      <textarea
                        :value="selectedAddress ? selectedAddress.attributes.instructions : ''"
                        class="p-15 w-full mb-15 p-15 appearance-none border rounded"
                        cols="30"
                        rows="10"
                        placeholder="Instructions for delivery (Optional)"
                        @blur="setInstructions"/>
                    </div>
                  </form>
                </div>
              </li>
              <li
                :class="{'border-2 border-green': customer.attributes.sources.total_count === 0, 'border-b': customer.attributes.sources.total_count !== 0}"
                class="step border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div
                  class="step__header"
                  @click="toggleDesktopPayment">
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542243131/runner/stores/payment.svg"
                      alt="">
                  </div>
                  <div class="info flex items-center">
                    <p
                      v-if="customer.attributes.sources.total_count !== 0 && Object.keys(customer.attributes.sources).length > 0"
                      class="text-lg mb-0 font-semibold">
                      {{ customer.attributes.sources.data[0].brand + ' that ends in ' + customer.attributes.sources.data[0].last4 }}
                    </p>
                    <p
                      v-else
                      class="text-lg mb-0 font-semibold">
                      Payment Method
                    </p>
                  </div>
                  <div class="arrow">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <div
                  v-show="desktopPaymentIsShown"
                  class="step__body">
                  <payment-method
                    :domain="domain"
                    :customer="customer"
                    :user="user"/>
                </div>
              </li>
            </ul>
            <ul class="steps border-b-15 border-grey-lightest border-solid">
              <li class="step border-b border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div
                  class="step__header"
                  @click="toggleDesktopCoupon">
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542069752/runner/stores/cartCoupon.svg"
                      alt="">
                  </div>
                  <div class="info flex items-center">
                    <p
                      v-if="cart.attributes.coupon"
                      class="text-lg mb-0 font-semibold text-green">
                      {{ cart.attributes.coupon.code + ' - $' + (cart.attributes.coupon.value / 100) + ' OFF' }}
                    </p>
                    <p
                      v-else
                      class="text-lg mb-0 font-semibold text-green">
                      Coupon
                    </p>
                  </div>
                  <div class="arrow">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <div
                  v-show="desktopCouponIsShown"
                  class="step__body">
                  <form
                    class="address-form"
                    autocomplete="off">
                    <div
                      class="mb-15 pr-15"
                      style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                      <input
                        v-model="couponCode"
                        class="p-15 w-full mb-15 p-15 appearance-none border rounded"
                        type="text">
                      <button
                        class="bg-green rounded h-50"
                        @click.prevent="setCoupon(couponCode)">
                        <span
                          v-if="!isLoading"
                          class="text-white text-lg font-semi-bold">
                          Apply
                        </span>
                        <pulse-loader
                          :loading="isLoading"
                          color="#ffffff"
                          size="10px"/>
                      </button>
                      <button
                        class="bg-green rounded h-50"
                        @click.prevent="setCoupon('CLEARCOUPON')">
                        <span
                          v-if="!isLoading"
                          class="text-white text-lg font-semi-bold">
                          Clear
                        </span>
                        <pulse-loader
                          :loading="isLoading"
                          color="#ffffff"
                          size="10px"/>
                      </button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
            <div class="border-b-15 border-grey-lightest border-solid pt-15 pb-15">
              <checkout-cart :cart="cart"/>
            </div>
            <ul class="steps border-b-15 border-grey-lightest border-solid">
              <li class="step border-b border-grey-lightest border-solid pl-15 pr-15 cursor-pointer">
                <div class="tip">
                  <div class="heading">
                    <h2 class="pt-15">
                      Tip
                    </h2>
                    <span class="pt-15 pr-15 font-semibold">
                      ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                    </span>
                  </div>
                  <p>
                    A tip is not required, but encouraged. %100 goes to your hard working Runner!
                  </p>
                  <ul class="tip-amounts mb-15">
                    <li
                      v-for="(tip, index) in tips"
                      :class="{active: activeTip === index}"
                      :key="index"
                      @click="setTip(index)">
                      {{ tip.title }}
                    </li>
                  </ul>
                  <div
                    v-if="activeTip === 3"
                    class="tip-other">
                    <input
                      :placeholder="tips[3].value"
                      v-model="tips[3].value"
                      type="number"
                      min="0">
                  </div>
                </div>
              </li>
            </ul>
            <div class="p-15">
              <div
                v-if="storeClosed"
                class="bg-white flex border border-red h-50 text-red justify-center items-center rounded mb-15">
                !! We are done taking orders for the night. The next available delivery time is tomorrow !!
              </div>
              <div style="display: grid; grid-gap: 30px; grid-template-columns: 1fr 1fr; align-items: center;">
                <span class="text-lg font-semibold">
                  Total ${{ (cart.attributes.total / 100 + tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
                <button
                  :disabled="!user.attributes.addresses || customer.attributes.sources.total_count === 0 || disabledTemp"
                  class="h-50 bg-red rounded"
                  @click="delayCheckout">
                  <span
                    v-if="!isLoading"
                    class="text-lg font-semibold text-white">
                    Place Order
                  </span>
                  <pulse-loader
                    :loading="isLoading"
                    color="#ffffff"
                    size="10px"/>
                </button>
              </div>
              <div style="font-size: 0.8rem; margin-top: 20px;">
                The listed prices of alcohol include a small service fee on top of local retail prices. For more information, visit our <a :href="'https://www.' + domain + '/terms-conditions'">Terms & Conditions</a>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar pt-15">
          <div class="border-b-2 border-grey-lightest border-solid pb-30">
            <div
              v-if="storeClosed"
              class="bg-white flex border border-red p-15 text-red justify-center items-center rounded mb-15">
              !! We are done taking orders for the night. The next available delivery time is tomorrow !!
            </div>
            <button
              :disabled="!user.attributes.addresses || customer.attributes.sources.total_count === 0 || disabledTemp"
              class="h-50 text-lg font-semibold text-white bg-red rounded w-full"
              @click="delayCheckout">
              <span
                v-if="!isLoading"
                class="text-lg font-semibold text-white">
                Place Order
              </span>
              <pulse-loader
                :loading="isLoading"
                color="#ffffff"
                size="10px"/>
            </button>
          </div>
          <div>
            <ul class="list-reset border-b-2 border-grey-lightest border-solid py-30 mb-0">
              <li
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Item Total
                </span>
                <span class="text-right">
                  ${{ (cart.attributes.subTotal / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                v-if="inventoryId === '11' || inventoryId === '23'"
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Service Fee
                </span>
                <span class="text-right">
                  ${{ (serviceFee / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Delivery
                </span>
                <span class="text-right">
                  ${{ (cart.attributes.deliveryFee / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Tax
                </span>
                <span class="text-right">
                  ${{ (cart.attributes.tax / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                v-if="cart.attributes.coupon"
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Coupon
                </span>
                <span
                  v-if="cart.attributes.coupon.value"
                  class="text-right">
                  - ${{ (cart.attributes.coupon.value / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                v-if="cart.attributes.incentive"
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Savings:
                </span>
                <span
                  v-if="cart.attributes.incentive.value"
                  class="text-right">
                  - ${{ (cart.attributes.incentive.value / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold">
                <span class="font-bold">
                  Order Subtotal
                </span>
                <span class="text-right">
                  ${{ (cart.attributes.total / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
            </ul>
            <ul class="list-reset py-30">
              <li
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold mb-15">
                <span>
                  Tip
                </span>
                <span class="text-right">
                  ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
              <li
                style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px;"
                class="font-semibold">
                <span class="font-bold">
                  Order Total
                </span>
                <span class="text-right">
                  ${{ (cart.attributes.total / 100 + tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout__mobile">
      <div class="checkout-top">
        <a :href="'https://' + subDomain + '.' + domain + '/'">
          <img
            :src="Object.keys(store).length > 0 ? store.attributes.options.navigationLogo : ''"
            style="max-width: 100px;"
            alt="Navigation Logo">
        </a>
        <h2
          class="back m-b-0"
          @click="stepBack">
          Back
        </h2>
        <h2 class="m-b-0">
          Delivery
        </h2>
        <a
          href="#"
          class="support"
          @click.prevent="toggleZenDesk">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062134/runner/stores/navPhone.svg"
            alt="">
        </a>
      </div>
      <div v-if="(inventoryId === '11' || inventoryId === '23') && orderStep === 0">
        <h2 class="pl-15">
          Recipient Details
        </h2>
        <div class="grid grid-columns-2 grid-gap-15 px-15 mb-15">
          <input
            v-model="gift.firstName"
            type="text"
            placeholder="First Name"
            class="border border-grey-lighter h-50 px-15">
          <input
            v-model="gift.lastName"
            type="text"
            placeholder="Last Name"
            class="border border-grey-lighter h-50 px-15">
        </div>
        <div class="grid grid-columns-2 grid-gap-15 px-15 mb-15">
          <input
            v-model="gift.email"
            type="email"
            placeholder="Email"
            class="border border-grey-lighter h-50 px-15">
          <the-mask
            :mask="['###-###-####']"
            v-model="gift.phoneNumber"
            name="phone_number"
            class="appearance-none h-50 px-15 rounded border"
            placeholder="Phone Number"
            type="tel"/>
        </div>
        <div
          class="px-15 mb-15">
          <textarea
            v-if="giftContainsCard"
            id="personalMessage"
            :value="giftOptions.personalMessage"
            class="p-15 w-full border border-grey-lighter rounded"
            name=""
            cols="30"
            rows="10"
            placeholder="Personal Note..."
            @input="setGiftMessage($event.target.value)"/>
          <div v-else>
            <p class="mb-15">
              * Please select a gift card in your shopping cart if you'd like a personal message *
            </p>
            <button
              style="border: 1px solid black; cursor: pointer;"
              class="h-30 rounded px-15"
              @click="goBack">
              <span class="text-lg font-semibold">
                Go Back
              </span>
            </button>
          </div>
        </div>
        <div class="confirm pl-15 pr-15">
          <button @click="orderStep = 1">
            Next
          </button>
        </div>
      </div>
      <div
        v-if="orderStep === 1"
        class="delivery">
        <div class="delivery-date">
          <h2 class="pl-15">
            Delivery Date
          </h2>
          <div class="delivery-dates-wrap mb-30">
            <div class="delivery-dates">
              <div
                v-for="(deliveryDate, index) in availableDeliveryTimes"
                v-show="deliveryDate.regularTimeSlots.length > 0"
                :key="index"
                :class="{active: index === activeDate, veryHidden: index == 0 && closedForTheDay}"
                class="delivery-date"
                @click="setDeliveryDate(index, deliveryDate)">
                <span v-if="index === 0">
                  Today
                </span>
                <span v-else-if="index === 1">
                  Tomorrow
                </span>
                <span v-else>
                  {{ deliveryDate.date | moment('dddd') }}
                </span>
                <span>
                  {{ deliveryDate.date | moment('MMMM Do') }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="delivery-time p-0">
          <h2 class="pl-15">
            Delivery Time
          </h2>
          <div class="delivery-times">
            <ul>
              <li
                v-for="(deliveryTime, index) in availableDeliveryTimes[activeDate].regularTimeSlots"
                :key="index"
                :class="{active: index === activeTime}"
                @click="setDeliveryTime(index)">
                <span>
                  {{ deliveryTime.interval }}
                </span>
                <span class="price">
                  ${{ (deliveryTime.regularPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="confirm pl-15 pr-15">
          <button @click="orderStep = 2">
            Next
          </button>
        </div>
      </div>
      <div
        v-show="orderStep === 2"
        class="address">
        <div class="wrap">
          <h2>
            Address
          </h2>
          <div class="address-add">
            <checkout-address
              :user="user"
              :domain="domain"
              :sub-domain="subDomain"/>
          </div>
          <div class="confirm">
            <button
              :disabled="user.attributes.addresses.length === 0"
              @click="orderStep = 3">
              Next
            </button>
          </div>
        </div>
      </div>
      <div
        v-show="orderStep === 3"
        class="address">
        <div class="wrap">
          <h2>
            Instructions
          </h2>
          <textarea
            :value="selectedAddress ? selectedAddress.attributes.instructions : ''"
            class="p-15 w-full mb-15 p-15 appearance-none border rounded"
            cols="30"
            rows="10"
            placeholder="Instructions for delivery (Optional)"
            @blur="setInstructions"/>
          <div class="confirm">
            <button
              :disabled="user.attributes.addresses.length === 0"
              @click="orderStep = 4">
              Next
            </button>
          </div>
        </div>
      </div>
      <div
        v-if="customer && orderStep === 4"
        class="payment">
        <h2>
          Select A Payment Method
        </h2>
        <payment-method
          :customer="customer"
          :user="user"/>
        <div class="confirm">
          <button
            :disabled="customer.attributes.sources.total_count === 0"
            @click="orderStep = 5">
            Next
          </button>
        </div>
      </div>
      <div
        v-if="orderStep === 5"
        class="review">
        <h2>
          Delivery Details
        </h2>
        <ul class="delivery-details">
          <li @click="orderStep = 2">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126195/runner/stores/address.svg"
                alt="">
            </div>
            <div class="detail">
              <div>
                <p v-if="selectedAddress">
                  {{ selectedAddress.attributes.formattedAddress }}
                </p>
                <p v-else>
                  Please add address
                </p>
              </div>
            </div>
            <div class="arrow">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                alt="">
            </div>
          </li>
          <li @click="orderStep = 1">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126340/runner/stores/time.svg"
                alt="">
            </div>
            <div class="detail">
              <p>
                {{ orderDateTime | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
              </p>
            </div>
            <div class="arrow">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                alt="">
            </div>
          </li>
          <li
            v-if="user.attributes.addresses"
            @click="orderStep = 3">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126501/runner/stores/instructions.svg"
                alt="">
            </div>
            <div class="detail">
              <p v-if="!selectedAddress || !selectedAddress.instructions">
                Add Delivery Instructions
              </p>
              <p v-else-if="selectedAddress.attributes.instructions">
                {{ selectedAddress.attributes.instructions }}
              </p>
            </div>
            <div class="arrow">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                alt="">
            </div>
          </li>
        </ul>
        <h2>
          Payment
        </h2>
        <ul class="payment-details">
          <li @click="orderStep = 4">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542126195/runner/stores/address.svg"
                alt="">
            </div>
            <p v-if="Object.keys(customer.attributes.sources).length > 0">
              {{ customer.attributes.sources.data[0].brand }} **** **** **** {{ customer.attributes.sources.data[0].last4 }}
            </p>
            <div class="arrow">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                alt="">
            </div>
          </li>
          <li class="coupon">
            <div class="icon">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542069752/runner/stores/cartCoupon.svg"
                alt="">
            </div>
            <p v-if="!cart.attributes.coupon">
              Apply Promo Code
            </p>
            <p v-else>
              {{ cart.attributes.coupon.code }} ${{ (cart.attributes.coupon.value / 100) }}OFF
            </p>
            <div class="arrow">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                alt="">
            </div>
          </li>
        </ul>
        <div class="border-b-15 border-grey-lightest border-solid pt-15 mb-15 pb-15">
          <checkout-cart :cart="cart"/>
        </div>
        <div class="tip mb-30">
          <div class="heading">
            <h2>
              Tip
            </h2>
            <span>
              ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
            </span>
          </div>
          <p>
            A tip is not required, but encouraged. %100 goes to your hard working Runner!
          </p>
          <ul class="tip-amounts">
            <li
              v-for="(tip, index) in tips"
              :class="{active: activeTip === index}"
              :key="index"
              @click="setTip(index)">
              {{ tip.title }}
            </li>
          </ul>
          <div
            v-if="activeTip === 3"
            class="tip-other mb-15">
            <input
              :placeholder="tips[3].value"
              v-model="tips[3].value"
              type="number"
              min="0">
          </div>
        </div>
        <div class="total">
          <h2>
            Total
          </h2>
          <span>
            ${{ (cart.attributes.total / 100 + tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
          </span>
        </div>
        <div class="pay">
          <div
            v-if="storeClosed"
            class="bg-white border border-red text-red flex h-50 text-white justify-center items-center rounded mb-15 p-15">
            !! We are done taking orders for the night. The next available delivery time is tomorrow !!
          </div>
          <button
            :disabled="!user.attributes.addresses || customer.attributes.sources.total_count === 0 || disabledTemp"
            @click="delayCheckout">
            <span v-if="!isLoading">
              Place Order
            </span>
            <pulse-loader
              :loading="isLoading"
              color="#ffffff"
              size="10px"/>
          </button>
        </div>
        <div style="font-size: 0.8rem; margin-top: 20px;">
          The listed prices of alcohol include a small service fee on top of local retail prices. For more information, visit our <a :href="'https://www.' + domain + '/terms-conditions'">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(15px);
  }
}
.alert {
  right: 30px;
  top: 24px;
  background-size: 15px;
  border-radius: 100%;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1547495661/icons/notification.png');
  animation: bounce 2s infinite;
}
#checkout {
  margin: 0 auto;
}
.veryHidden {
  display: none !important;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.checkout__desktop {
  .header {
    height: 50px;
    a {
      max-width: 150px;
      img {
        width: 100%;
      }
    }
  }
  .desktop-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;
    max-width: 1000px;
  }
  .steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .step__header {
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-gap: 15px;
    height: 75px;
    .icon {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .arrow {
      display: grid;
      justify-content: end;
      align-items: center;
    }
  }
}
.checkout__mobile {
  max-width: 1000px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.wrap {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  h2 {
    font-size: 22px;
  }
}
.confirm {
  display: grid;
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto 15px;
  button {
    color: #ffffff;
    font-size: 18px;
    background-color:#50E3C2;
    cursor: pointer;
    border-radius: 8px;
    height: 50px;
    align-items: center;
    -webkit-appearance: none;
    border: none;
    &:disabled {
      background-color: #e4e4e4;
    }
  }
}
.checkout-top {
  display: grid;
  align-items: center;
  grid-gap: 15px;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  max-width: 1000px;
  button {
    text-align: right;
  }
  .back {
    text-align: right;
  }
  .support {
    text-align: right;
  }
}
.payment,
.review, {
  background-color: #ffffff;
  max-width: 1000px;
  padding: 15px;
}
.delivery-dates-wrap {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  .delivery-dates {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, 150px);
    width: 5000px;
    cursor: pointer;
    .delivery-date {
      display: grid;
      justify-content: center;
      border: 1px solid #eeeeee;
      border-radius: 8px;
      height: 70px;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      span:first-child {
        font-size: 18px;
        font-weight: 900;
      }
      span:nth-child(2) {
        font-size: 14px;
      }
    }
  }
}
.active {
  background-color: #50E3C2;
  color: #ffffff;
  border: 0;
}
.delivery-times {
  ul {
    padding: 0;
    li {
      cursor: pointer;
      list-style-type: none;
      height: 50px;
      display: grid;
      align-content: center;
      align-items: center;
      border-bottom: 1px solid #e4e4e5;
      padding: 0 15px;
      grid-template-columns: 1fr 75px;
      grid-gap: 15px;
      span {
        font-size: 16px;
      }
      .price {
        text-align: right;
        font-weight: 900;
        font-size: 16px
      }
    }
  }
}
.address {
  max-width: 1000px;
  margin: 0 auto 15px;
}
.addresses {
  margin-bottom: 15px;
}
.cards,
.addresses {
  display: grid;
  grid-gap: 15px;
  .address {
    grid-template-columns: 1fr 30px !important;
  }
  .card,
  .address {
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 15px;
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    .card-image {
      img {
        width: 100%;
      }
    }
    .number,
    span {
      color: #9b9b9b;
      font-size: 14px;
    }
    .selected {
      display: grid;
      justify-content: center;
      align-content: center;
      .outer-circle {
        width: 20px;
        height: 20px;
        border: 1px solid #e4e4e4;
        border-radius: 100%;
        align-content: center;
        justify-content: center;
        display: grid;
      }
      input {
        display: none;
      }
    }
  }
  .active {
    background-color: #ffffff;
    border: 2px solid #50E3C2;
    .number,
    span {
      color: #50E3C2;
    }
    .selected {
      .outer-circle {
        border: 2px solid #50E3C2;
        .inner-circle {
          height: 10px;
          width: 10px;
          background-color:#50E3C2;
          border-radius: 100%;
        }
      }
    }
  }
}
.save-card {
  display: grid;
  height: 50px;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #50E3C2;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.review-order {
  display: grid;
  height: 50px;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #F83E40;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.delivery-details,
.payment-details {
  padding: 0;
  li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 15px;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    &:first-child {
      padding-top: 0;
    }
    p {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
    }
    span {
      color: #9b9b9b;
      font-size: 14px;
    }
    .arrow {
      display: grid;
      justify-items: end;
    }
  }
  .coupon {
    p {
      color: #50E3C2;
    }
  }
}
.tip {
  .heading {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
    span {
      text-align: right;
    }
  }
  p {
    font-style: italic;
    font-size: 14px;
  }
  .tip-amounts {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    li {
      list-style-type: none;
      cursor: pointer;
      border: 1px solid #e4e4e4;
      height: 50px;
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      font-weight: 600;
    }
    .active {
      background-color: #50E3C2;
      color: #ffffff;
      border: 0;
    }
  }
  .tip-other {
    input {
      height: 50px;
      border: 1px solid #e4e4e4;
      border-radius: 8px;
      display: grid;
      align-content: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  margin-bottom: 30px;
  h2 {
    margin-bottom: 0;
  }
  span {
    text-align: right;
    font-weight: 900;
    font-size: 22px;
  }
}
.pay {
  display: grid;
  button {
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    border-radius: 8px;
    background-color: #F83E40;
    height: 50px;
    display: grid;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    align-content: center;
    justify-content: center;
  }
}
</style>

<script>
import { required } from 'vuelidate/lib/validators';
import { mapActions, mapGetters } from 'vuex';
import { isMobile } from 'mobile-device-detect';
import api from '../mixins/api';
import { identify } from '../mixins/analytics';

export default {
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      disabledTemp: false,
      addressChanged: false,
      storeClosed: false,
      isLoading: false,
      pageLoading: true,
      activeTime: 0,
      activeDate: 0,
      availableDeliveryTimes: [
        {
          date: '',
          regularTimeSlots: [
            {
              hour: '',
            },
          ],
        },
      ],
      orderStep: 0,
      unitNumber: '',
      businessName: '',
      instructions: '',
      phoneNumber: '',
      activeTip: 0,
      postalCodeIsValid: false,
      couponCode: 'COUPON CODE',
      tips: [
        {
          title: '10%',
          value: 0.1,
        },
        {
          title: '15%',
          value: 0.15,
        },
        {
          title: '20%',
          value: 0.20,
        },
        {
          title: 'Other',
          value: 5,
        },
      ],
      closedForTheDay: false,
      desktopAddressIsShown: false,
      desktopDeliveryDateTimeIsShown: false,
      desktopPhoneNumberIsShown: false,
      desktopInstructionsIsShown: false,
      desktopPaymentIsShown: false,
      desktopCouponIsShown: false,
      serviceFee: 500,
      gift: {
        firstName: null,
        lastName: null,
        email: null,
        phoneNumber: null,
      },
      cartItems: [],
    };
  },
  computed: {
    // activeDate() {
    //   return this.availableDeliveryTimes[0].regularTimeSlots.length > 0 ? 0 : 1;
    // },
    giftContainsCard() {
      const prodCardArr = ['20093', '20092', '20091', '20090', '20089', '20088', '20087'];
      if (typeof this.cart !== 'undefined' && this.cart) {
        const card = Object.keys(this.cart).length > 0 ? this.cart.attributes.products.map(product => prodCardArr.includes(product.id)) : [];
        return card.includes(true);
      }
      return false;
    },
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    categories() {
      return JSON.stringify(JSON.parse(this.pageAttributes).categories);
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
    giftOptions() {
      return this.$store.getters.giftOptions;
    },
    addAddressIsShown() {
      return typeof this.$store.state.v3.addAddressIsShown !== 'undefined' ? this.$store.state.v3.addAddressIsShown : false;
    },
    tipAmount: {
      get() {
        if (this.activeTip === 3) {
          return this.tips[3].value * 100;
        }
        if (typeof this.cart !== 'undefined' && this.cart) {
          return Object.keys(this.cart).length > 0 ? (this.tips[this.activeTip].value * this.cart.attributes.subTotal) : 0;
        }
        return 0;
      },
    },
    orderDateTime() {
      if (this.availableDeliveryTimes[this.activeDate].regularTimeSlots.length > 0) {
        return `${this.availableDeliveryTimes[this.activeDate].date} ${this.availableDeliveryTimes[this.activeDate].regularTimeSlots[this.activeTime].hour}:00:00`;
      }
      return false;
    },
    customer() {
      return this.$store.getters.customer;
    },
  },
  created() {
    zE('webWidget', 'hide');
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    await this.getCustomer();

    if (this.inventoryId !== '11' && this.inventoryId !== '23' && this.inventoryId !== '13') {
      this.orderStep = 1;
    }

    this.getAvailableDeliveryTimes();
    this.checkIfStoreClosed();
    if (typeof this.cart !== 'undefined' && this.cart) {
      if (Object.keys(this.cart).length > 0 ? this.cart.attributes.products.filter(product => (product.id == 7752)) : false) {
        this.checkoutWithBelgianMoonProduct();
      }
    }

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    delayCheckout() {
      this.disabledTemp = true;

      // Re-enable after 5 seconds
      this.timeout = setTimeout(() => {
        this.disabledTemp = false;
      }, 5000);

      this.checkout();
    },
    checkoutWithBelgianMoonProduct() {
      window.dataLayer.push({ event: 'checkoutWithBelgianMoonProduct' });
    },
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    checkIfStoreClosed() {
      const now = moment();
      let closingTime = moment({ hour: 21, minute: 30 });

      if (now.isoWeekday() == 7) {
        closingTime = moment({ hour: 18 });
      }

      if (closingTime.diff(now, 'minutes') <= 0) {
        this.storeClosed = true;
      }
    },
    stepBack() {
      if (this.orderStep > 1) {
        this.orderStep = parseInt(this.orderStep) - 1;
      } else if (this.orderStep === 1 && (this.inventoryId === '11' || this.inventoryId === '23')) {
        this.orderStep = parseInt(this.orderStep) - 1;
      } else if (this.orderStep === 0) {
        location.href = `https://${this.subDomain}.${this.domain}/`;
      } else {
        location.href = `https://${this.subDomain}.${this.domain}/`;
      }
    },
    async getCustomer() {
      await this.$store.dispatch('getCustomer')
        .then((response) => {
          this.pageLoading = false;
        });
    },
    async getAvailableDeliveryTimes() {
      const inventoryId = this.$cookie.get('inventoryId', { domain: this.domain }) || 1;

      await api().get(`inventories/${inventoryId}/available-delivery-times`)
        .then((res) => {
          this.availableDeliveryTimes = res.data.data;

          if (this.availableDeliveryTimes[0].regularTimeSlots.length < 1 && this.inventoryId != '11' && this.inventoryId != '23') {
            this.activeDate = 0;
            for (let i = 0; i < this.availableDeliveryTimes.length; i += 1) {
              if (this.availableDeliveryTimes[i].regularTimeSlots.length > 0) {
                this.activeDate = i;
                break;
              }
            }
            this.closedForTheDay = true;
          } else if (this.availableDeliveryTimes[0].regularTimeSlots.length < 1) {
            this.activeDate = 0;
            for (let i = 0; i < this.availableDeliveryTimes.length; i += 1) {
              if (this.availableDeliveryTimes[i].regularTimeSlots.length > 0) {
                this.activeDate = i;
                break;
              }
            }
          }
        }).catch((error) => {
          this.cardErr = error.response.data.errors;
        });
    },
    setDeliveryDate(index, deliveryDate) {
      this.activeDate = index;
      this.deliveryDate = deliveryDate.date;
    },
    setDeliveryTime(value) {
      this.activeTime = value;
    },
    setCoupon(value) {
      // this.isLoading = true;

      const data = {
        userId: this.user.id,
        cartId: this.cart.id,
        payload: {
          couponCode: value,
        },
      };

      this.$store.dispatch('updateCart', data)
        .then((response) => {
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
          alert('Sorry, this coupon code is invalid');
          this.isLoading = false;
        });
    },
    setTip(value) {
      this.activeTip = value;
      this.tipAmount = this.tips[value].value;
    },
    setTipManually(value) {
      this.tipAmount = Number(value);
    },
    checkout() {
      this.isLoading = true;
      let isGift = false;
      let giftDetails = null;

      if (this.inventoryId === '11' || this.inventoryId === '23') {
        isGift = true;
        giftDetails = {
          firstName: this.gift.firstName,
          lastName: this.gift.lastName,
          email: this.gift.email,
          phoneNumber: this.gift.phoneNumber,
          personalMessage: this.giftOptions.personalMessage,
        };
      }

      const anonymousId = window.analytics.user().anonymousId();
      const device = isMobile ? 2 : 1;

      axios({
        method: 'post',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/orders`,
        data: {
          data: {
            attributes: {
              inventoryId: this.inventoryId,
              anonymousId,
              userId: this.user.id,
              tip: this.tipAmount,
              orderDateTime: this.orderDateTime,
              appVersion: 'Version 3.02',
              isGift,
              giftDetails,
              device,
            },
          },
        },
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
      })
        .then((response) => {
          this.isLoading = false;
          this.addressChanged = false;

          location.href = `https://${this.subDomain}.${this.domain}/confirmation?orderId=${response.data.data.id}&storeId=${this.store.id}`;
        }).catch((error) => {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: (typeof error.response !== 'undefined' && typeof error !== 'undefined') ? error.response.data.errors.error : 'An error has occured.',
            duration: -1,
          });
          if ((typeof error.response !== 'undefined' && typeof error !== 'undefined') ? error.response.data.errors.error === 'It looks like you\'ve changed your address. Please create a new cart based upon your NEW location\'s inventory by going back to the storefront.' : false) {
            this.addressChanged = true;
          }
        });
    },
    toggleZenDesk() {
      zE('webWidget', 'toggle');
    },
    toggleDesktopAddress() {
      this.desktopAddressIsShown = !this.desktopAddressIsShown;
    },
    toggleDesktopDeliveryDateTime() {
      this.desktopDeliveryDateTimeIsShown = !this.desktopDeliveryDateTimeIsShown;
    },
    toggleDesktopPhoneNumber() {
      this.desktopPhoneNumberIsShown = !this.desktopPhoneNumberIsShown;
    },
    toggleDesktopInstructions() {
      this.desktopInstructionsIsShown = !this.desktopInstructionsIsShown;
    },
    toggleDesktopPayment() {
      this.desktopPaymentIsShown = !this.desktopPaymentIsShown;
    },
    toggleDesktopCoupon() {
      this.desktopCouponIsShown = !this.desktopCouponIsShown;
    },
    updatePhoneNumber(e) {
      this.phoneNumber = e.target.value;
    },
    setStoreCookie() {
      this.$cookie.delete('storeId', { domain: this.domain });
      this.$cookie.set('storeId', this.store.id, { domain: this.domain });
    },
    async setInstructions(e) {
      const instructions = e.target.value;
      const addressId = this.selectedAddress.id;
      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });
      const payload = {
        data: {
          type: 'addresses',
          id: addressId,
          attributes: {
            instructions,
          },
        },
      };

      try {
        const response = await api().put(`users/${userId}/addresses/${addressId}`, payload);

        this.$store.dispatch('getUser', {
          accessToken,
          userId,
        });
      } catch (error) {
        console.error(error);
      }
    },
    setGiftMessage(text) {
      this.$store.commit('SET_GIFT_MESSAGE', text);
    },
    goBack() {
      window.location.href = '/';
    },
    sendGACheckout() {
      if (this.cart && Object.keys(this.cart).length > 0) {
        this.cart.attributes.products.forEach((p) => {
          const item = {};
          item.id = String(p.id);
          item.name = p.title;
          item.price = (p.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
          item.brand = p.producer || '';
          item.category = p.category || '';
          item.variant = p.packaging;
          item.quantity = p.quantity;
          item.dimension1 = String(this.store.id);
          this.cartItems.push(item);
        });
      }

      window.dataLayer.push({
        event: 'checkout',
        ecommerce: {
          checkout: {
            actionField: { step: 1 },
            products: this.cartItems,
          },
        },
      });
    },
  },
};
</script>
