<template>
  <div
    v-if="user && order"
    id="confirmation">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        v-if="store.attributes"
        :class="{'sideNavOpen': activeModal == 'sideNav'}">
        <div v-if="Object.keys(order).length > 0">
          <moon-loader-wrapper
            :full-screen="true"
            :is-loading="isLoading"/>
          <div class="wrap">
            <div class="title-wrap">
              <h1>
                Order Confirmation #{{ order.id }}
              </h1>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Order Details
                  </th>
                </tr>
              </thead>
              <tbody v-if="order.attributes">
                <tr>
                  <td>
                    Scheduled For: {{ order.attributes.scheduledTime | moment('dddd, MMMM Do YYYY, h:mm:ss a') }}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.attributes.customer.firstName }} {{ order.attributes.customer.lastName }}
                  </td>
                </tr>
                <tr v-if="!order.attributes.gift">
                  <td>
                    {{ order.attributes.address.address }}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.attributes.customer.email }}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.attributes.customer.phoneNumber }}
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td>
                    N/A
                  </td>
                </tr>
                <tr>
                  <td>
                    N/A
                  </td>
                </tr>
                <tr>
                  <td>
                    N/A
                  </td>
                </tr>
                <tr>
                  <td>
                    N/A
                  </td>
                </tr>
                <tr>
                  <td>
                    N/A
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              v-if="order.attributes.gift"
              class="table">
              <thead>
                <tr>
                  <th>
                    Recipient Details
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ order.attributes.gift.firstName }} {{ order.attributes.gift.lastName }}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.attributes.address.address }}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.attributes.gift.email }}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.attributes.gift.phoneNumber }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Personal Message:<br > {{ order.attributes.gift.message }}
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Instructions
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  {{ order.attributes.instructions ? order.attributes.instructions: 'No Instructions' }}
                </td>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Delivery Time
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td v-if="order.attributes.scheduledTime">
                    {{ order.attributes.scheduledTime }}
                  </td>
                  <td>
                    Please keep your phone close by, we will be calling you if any of your products do not exist. Because the LCBO is asking our couriers to leave quickly, we will be calling once.

                    ~ 3 Hours * Please note that usually orders are usually approx. 1 hour delivery, however due to the current circumstances, orders have generally been taking long. Please stay safe :)
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="4">
                    Order Items
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in order.attributes.items"
                  :key="item.id">
                  <td>
                    {{ item.title }}
                  </td>
                  <td>
                    {{ item.quantity }}
                  </td>
                  <td>
                    ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                  <td>
                    {{ item.allowSub ? 'Allow Substitution' : 'Don\'t Allow Substitution' }}
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2">
                    Cost
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Subtotal:
                  </td>
                  <td>
                    ${{ (order.attributes.subTotal).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Delivery:
                  </td>
                  <td>
                    ${{ (order.attributes.delivery).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
                <tr v-if="order.attributes.serviceFee">
                  <td>
                    Service Fee:
                  </td>
                  <td>
                    ${{ (order.attributes.serviceFee).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Tax:
                  </td>
                  <td>
                    ${{ (order.attributes.displayTaxTotal).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
                <tr v-if="order.attributes.discount != 0">
                  <td>
                    Discount:
                  </td>
                  <td>
                    -${{ (order.attributes.discount).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Tip:
                  </td>
                  <td>
                    ${{ (order.attributes.tip).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Total:
                  </td>
                  <td v-if="order.attributes.gift">
                    ${{ (order.attributes.total).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                  <td v-else>
                    ${{ (order.attributes.total).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="banner">
              <a :href="'https://www.' + domain + '/account/invite-friends'">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542731573/runner/stores/confirmationFooter.jpg"
                  alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.nav-open {
  margin-left: 250px;
}
.banner {
  margin-bottom: 30px;
  text-align: center;
  img {
    max-width: 580px;
    width: 100%;
  }
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}
.title-wrap {
  h1 {
    font-size: 24px;
  }
}
.table {
  margin-bottom: 30px;
  width: 100%;
  th {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
  }
  td {
    padding: 10px 0;
  }
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';
import api from '../mixins/api';
import { identify } from '../mixins/analytics';

export default {
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      orderItems: [],
      order: {},
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    orderId() {
      return JSON.parse(this.pageAttributes).orderId;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    await this.getOrder(this.userId, this.orderId);
    this.isLoading = false;

    this.segmentIdentify();

    const optIn = document.createElement('script');
    optIn.setAttribute('src', 'https://apis.google.com/js/platform.js?onload=renderOptIn');
    optIn.async = true;
    optIn.defer = true;
    document.head.appendChild(optIn);
  },
  methods: {
    identify,
    ...mapActions([
      'validate',
    ]),
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    async getOrder(userId, orderId) {
      const response = await api().get(`/users/${userId}/orders/${orderId}`)
        .catch((error) => {
          console.log(error);
        });

      const order = typeof response !== 'undefined' ? response.data.data : null;
      this.order = typeof response !== 'undefined' ? response.data.data : null;

      if (order) {
        order.attributes.items.forEach((i) => {
          const item = {};
          item.id = String(i.id);
          item.name = i.title;
          item.price = (i.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
          item.retailPrice = (i.retailPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
          item.brand = i.producer || '';
          item.category = i.category;
          item.variant = i.packaging;
          item.quantity = i.quantity;
          item.dimension1 = String(this.storeId);
          this.orderItems.push(item);
        });
      }

      setTimeout(() => {
        window.dataLayer.push({
          event: 'purchase',
          ecommerce: {
            purchase: {
              actionField: {
                id: this.order ? String(this.order.id) : '',
                affiliation: this.store,
                revenue: this.order ? this.order.attributes.total : '',
                tax: this.order ? this.order.attributes.display_tax_total : '',
                shipping: this.order ? this.order.attributes.delivery : '',
                coupon: this.order.attributes.coupon || '',
              },
              products: this.orderItems,
              dimension1: this.order ? String(this.order.id) : '',
            },
          },
        });
        window.renderOptIn = function () {
          window.gapi.load('surveyoptin', () => {
            window.gapi.surveyoptin.render({
              merchant_id: 121280876,
              order_id: '121121',
              email: this.order.customer.email,
              delivery_country: 'CA',
              estimated_delivery_date: moment().format('YYYY-MM-DD'),
            });
          });
        };
      }, 2000);
    },
  },
};
</script>
