<template>
  <div id="errorNotFound">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div class="error-not-found">
        <div class="inner-box">
          <h1>
            404
          </h1>
          <h2>
            Oops! Page not found
          </h2>
          <p>
            The page you requested could not be found
          </p>
          <button-component
            :disabled="isLoading"
            :is-loading="isLoading"
            :text="'Shop All Stores'"
            :color="'red'"
            :fill="true"
            class="mb-30"
            @click.native="goToExplore(domain)"/>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
#errorNotFound {
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1569599706/runner%20v4/images/404page_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.error-not-found {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 15px;
  min-height: 100vh;
  @media (min-width: 640px) {
    padding: 30px;
  }
}
.inner-box {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px !important;
  }
}
.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 100px 0px;
  text-align: center;
}
</style>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640' && this.subDomain != 'www') {
      this.setActiveModal('sideNav');
    }

    if (this.accessToken) {
      this.$cookie.set('token', this.accessToken, { domain: this.domain });
      this.$cookie.set('userId', this.userId, { domain: this.domain });
    }

    if (this.subDomain == 'www') {
      this.setLastSubDomain('www');
    } else {
      this.setLastSubDomain(this.subDomain);
    }

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    ...mapMutations([
      'SET_ACTIVE_MODAL',
    ]),
    setActiveModal(activeModal) {
      this.SET_ACTIVE_MODAL(activeModal);
    },
    setLastSubDomain(value) {
      this.$cookie.set('lastSubDomain', value, { domain: this.domain });
    },
    goToExplore(domain) {
      location.href = `https://www.${domain}`;
    },
  },
};
</script>
