<template>
  <div id="explore">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :categories="categories"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        v-if="store.attributes"
        :class="{'sideNavOpen': activeModal == 'sideNav'}">
        <new-store-layout
          v-for="layout in sortedLayout"
          :stores="stores"
          :store-id="storeId"
          :inventory-id="inventoryId"
          :domain="domain"
          :sub-domain="subDomain"
          :user="user"
          :key="layout.sortOrder"
          :layout="layout" />
      </div>
      <new-secondary-copy :category="{slug: 'explore'}" />
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px !important;
  }
}
.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 100px 0px;
  text-align: center;
}
</style>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import { identify, promotionViewed } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    sortedLayout() {
      function compare(a, b) {
        if (a.attributes.sortOrder < b.attributes.sortOrder) { return -1; }
        if (a.attributes.sortOrder > b.attributes.sortOrder) { return 1; }

        return 0;
      }

      return this.store.attributes.layout.sort(compare);
    },
    categories() {
      return JSON.stringify(JSON.parse(this.pageAttributes).categories);
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (this.accessToken) {
      this.$cookie.set('token', this.accessToken, { domain: this.domain });
      this.$cookie.set('userId', this.userId, { domain: this.domain });
    }

    if (this.subDomain == 'www') {
      this.setLastSubDomain('www');
    } else {
      this.setLastSubDomain(this.subDomain);
    }

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    ...mapActions([
      'validate',
    ]),
    ...mapMutations([
      'SET_ACTIVE_MODAL',
    ]),
    promotionViewed,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    setActiveModal(activeModal) {
      this.SET_ACTIVE_MODAL(activeModal);
    },
    segmentPromotionViewed() {
      this.promotionViewed(data);
    },
    setLastSubDomain(value) {
      this.$cookie.set('lastSubDomain', value, { domain: this.domain });
    },
  },
};
</script>
