<template>
  <div id="faq">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        class="faq-wrap">
        <div class="title-wrap">
          <h1>
            FAQ
          </h1>
        </div>
        <div class="title-wrap">
          <h2>
            How Does Runner Work?
          </h2>
        </div>
        <p>
          Simple. You can use either our website or our <a href="https://runner.app.link/HmLnEJ9C9E">iOS app</a> to browse our selection of <strong>thousands of Beer, Wine & Spirits</strong>. Just add what you're looking for to your cart, pay with either credit card or debit, and have your order or gift delivered directly to the delivery address in under 2 hours!
        </p>
        <div class="title-wrap">
          <h2>
            What Is Our Delivery Range?
          </h2>
        </div>
        <p>
          We currently deliver in <strong>Toronto</strong> and <strong>select areas of Mississauga</strong>
        </p>
        <div class="maps">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567780732/runner%20v4/images/FaqTorontomap.png"
            alt="">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567780732/runner%20v4/images/FaqMississaugamap.png"
            alt="">
        </div>
        <p>
          We are legally <strong>only allowed to deliver to residences and hotels</strong>.
        </p>
        <p>
          If you are not sure, you can type your address in any of the address inputs across the site and it will let you know whether or not we deliver to your area.
        </p>
        <div class="title-wrap">
          <h2>
            What Are Our Hours?
          </h2>
        </div>
        <p>
          We are open from <strong>11am - 9:30pm Monday to Saturday</strong>. And on <strong>Sunday</strong>, we are open <strong>11am - 6pm</strong> We take orders up until we close, and continue delivering until all orders are complete.
        </p>
        <div class="title-wrap">
          <h2>
            Do We Have a Minimum Delivery?
          </h2>
        </div>
        <p>
          <strong>Nope!</strong> We most certainly do not! Order as little, or as much as your heart desires :)
        </p>
        <div class="title-wrap">
          <h2>
            Do We Offer Gift Deliveries?
          </h2>
        </div>
        <div>
          <strong>Yes we do!</strong> of course we do! Why not check out our gift section <a :href="'https://gift.' + domain">Here</a>
          <div
            class="spacing"
            style="margin: 30px 0px;">
            Alternativey, you can send <strong>any of our products as a gift</strong>. Just choose to send your order as a gift <strong>in your shopping cart</strong> and we will ask you the lucky recipient's details. We even deliver it with a <strong>hand-written</strong> note :)
          </div>
        </div>
        <div class="title-wrap">
          <h2>
            How is Pricing Calculated?
          </h2>
        </div>
        <p>
          We include a small service percentage on products, and charge a flat <strong>$9.99 delivery fee</strong>.
        </p>
        <p>
          <strong>Gifts cost an extra $5</strong> for the nice box that they are wrapped in and the hand-written note. Right now, we are a small team. This allows us to keep the lights on and will hopefully allow us to continuously improve out technology for you.
        </p>
        <p>
          We are legally required to charge tax on the delivery and service fees. Tips are entirely optional.
        </p>
        <div class="title-wrap">
          <h2>
            How Long Does Delivery Take?
          </h2>
        </div>
        <p>
          Delivery takes between 1-2 hours dependant on traffic and your location. We always <strong>strive for 1 hour</strong> though. As well, you can track the status of your order always by checking clicking <a href="/orders">Here</a> :)
        </p>
        <div class="title-wrap">
          <h2>
            How Much Is Delivery?
          </h2>
        </div>
        <p>
          Our delivery fee is <strong>$9.99</strong>
        </p>
        <div class="title-wrap">
          <h2>
            How Is This Legal?
          </h2>
        </div>
        <p>
          All delivery companies that work with Runner are fully licensed by the AGCO. This means that are all legally allowed to deliver alcohol to your door. Furthermore, they are all fully Smart Serve Certified and are extremely polite and courteous.
        </p>
        <div class="title-wrap">
          <h2>
            Do We Have An App?
          </h2>
        </div>
        <p>
          Yes! Runner currently has an iOS app, <a href="https://appsto.re/ca/yaDHkb.i">Download here</a>. We're currently working on our Android app, but in the mean time, our web app works great for non iOS users :)
        </p>
        <div class="title-wrap">
          <h2>
            How Do Our Rewards Points Work?
          </h2>
        </div>
        <p
          style="margin-bottom: 30px;">
          You earn Reward Points for each order thar you complete. Once you reach 1000 Reward Points, they can be cashed in for money off of the delivery price. Please note that the minimum legal delivery price in the GTA (Great Toronto Area) is $6.00 and Runner has a %12 markup. Thus, the order must be above $60 in order to use your Reward Points. This way, Runner is still charging a minimum of $6 for the delivery. Sorry, we wish we didn't have to.
        </p>
        <p>
          Please check out our Rewards System at <a href="https://www.getrunner.io/rewards">www.getrunner.io/rewards</a>
        </p>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.faq-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  @media (min-width: 640px){
    padding: 30px;
  }
}
.spacing {
  line-height: 20px;
}
.maps {
  display: grid;
  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }
  row-gap: 25px;
  margin-bottom: 30px;
}
h1 {
  font-size: 24px;
  @media (min-width: 640px) {
    font-size: 40px;
  }
  font-weight: 600;
}
h2 {
  font-size: 18px;
  font-weight: 600;
  @media (min-width: 640px) {
    font-size: 22px;
  }
}
p {
  font-size: 15px;
  line-height: 20px
}
</style>
<script>
import { mapGetters, mapActions } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
  },
};
</script>
