<template>
  <div
    id="invite-friends">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div class="box-wrap">
        <div
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="invite-friends">
          <div class="banner-wrap">
            <div class="banner">
              <div class="header">
                GET WITH YOUR FRIENDS!
              </div>
              <div class="footer">
                Get $10 Give $10
              </div>
            </div>
          </div>
          <div class="invitation-box">
            <div class="title">
              Invite Friends
            </div>
            <div class="info">
              Invite your friends and we’ll give them $10 off  their first purchase.
              For each friend you invite, you’ll get $10 credit to use on any Runner orders.
            </div>
            <div class="phone-info mb-15">
              <div>
                Phone Number
              </div>
              <the-mask
                v-model="friendPhoneNum"
                mask="###-###-####"
                class="h-50 rounded px-15 appearance-none border mr-15"
                placeholder="Phone Number..."
                type="tel"/>
            </div>
            <button-component
              :color="'teal'"
              :fill="true"
              :text="'SEND INVITE'"
              :width="'300px'"
              :height="'35px'"
              @click.native="sendInvite('text')"/>
            <div class="divider">
              <hr>
              <span>
                OR
              </span>
              <hr>
            </div>
            <div class="email-info mb-15">
              <div>
                Email
              </div>
              <input
                v-model="friendEmail"
                type="email"
                placeholder="Email...">
            </div>
            <button-component
              :color="'teal'"
              :fill="true"
              :text="'SEND INVITE'"
              :width="'300px'"
              :height="'35px'"
              class="mb-15"
              @click.native="sendInvite('email')"/>
            <p
              v-if="successSent && !isLoading"
              class="ml-5 ">
              Invite successfully sent to friend.
            </p>
            <p v-if="emptyInputs && !isLoading">
              At least one input field needs to be complete.
            </p>
          </div>
        </div>
      </div>
    </master-layout>
    <notifications
      :duration="-1"
      position="bottom right"
      group="invited" />
    <notifications
      :duration="-1"
      position="bottom right"
      group="errors" />
  </div>
</template>

<style lang="scss" scoped>
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
button {
  outline: none;
}
.invite-friends {
  @media (min-width: 640px) {
    background: #FFFFFF;
    border: 1px #EFEFEF solid;
  }
}
.invitation-box {
  @media (min-width: 640px) {
    width: 55%;
  }
  display: grid;
  padding: 20px;
  .title {
    font-size: 24px;
    font-weight: 500;
  }
  .info {
    @media (min-width: 640px) {
      color: #444444;
    }
    color: #acacac;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.button-wrap {
  display: flex;
  justify-content: center;
  @media (min-width: 640px) {
    display: unset;
  }
}
.send-invite {
  @media (min-width: 640px) {
    width: 30%;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  color: #FFFFFF;
  background-color: #58DFA9;
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px #58dfa9;
  margin-bottom: 10px;
  justify-content: center;
}
.phone-info {
  div {
    font-size: 17px;
    margin-bottom: 5px;
  }
  input {
    border-radius: 4px;
    border: 1px #EFEFEF solid;
    width: 100%;
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    color: #ACACAC;
  }
}
.divider {
  display: flex;
  hr {
    border-width: 0.5px;
    border-color: #f0f0f0;
    margin-top: 28px;
    width: 100%;
  }
  span {
    color: #ACACAC;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.email-info {
  div {
    font-size: 17px;
    margin-bottom: 5px;
  }
  input {
    border-radius: 4px;
    border: 1px #EFEFEF solid;
    width: 100%;
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    color: #ACACAC;
  }
}
.banner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .banner {
    @media (min-width: 640px) {
      padding: 35px;
    }
    background-color: rgba(247,131,144,0.86);
    color: #FFFFFF;
    width: 100%;
    padding: 25px;
    border-radius: 4px;
    .header {
      font-size: 30px;
      font-weight: 600;
      padding: 12px 12px 0px 12px;
      @media (min-width: 640px) {
        padding: 12px 12px 0px 12px;
      }
    }
    .footer {
      font-size: 24px;
      font-weight: 600;
      padding: 12px;
    }
  }
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      friendPhoneNum: '',
      friendEmail: '',
      successSent: false,
      emptyInputs: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    async sendInvite(type) {
      if (!this.$cookie.get('token')) {
        this.$notify({
          group: 'errors',
          type: 'error',
          title: 'Error',
          text: 'Please login or register first to refer a friend',
          duration: -1,
        });

        return false;
      }
      if (this.friendPhoneNum || this.friendEmail) {
        const data = {
          data: {
            attributes: {},
          },
        };
        if (type === 'email') {
          data.data.attributes.contactInfo = this.friendEmail;
          data.data.attributes.type = type;
        } else {
          data.data.attributes.contactInfo = this.friendPhoneNum;
          data.data.attributes.type = type;
        }
        const response = await axios({
          method: 'post',
          url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/refer-a-friend`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
          },
          data,
        })
          .catch((error) => {
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: error.response.data.errors.error,
              duration: -1,
            });
          });

        this.friendEmail = null;
        this.friendPhoneNum = null;
        this.successSent = true;
        this.emptyInputs = false;
        this.$notify({
          group: 'invited',
          type: 'success',
          title: 'Invitation Sent',
          text: 'Your invitation has successfully been sent. Once they make a purchase, you will be awarded your Reward Points',
        });
      } else {
        this.emptyInputs = true;
      }
    },
  },
};
</script>
