<template>
  <div>
    <div
      id="login"
      class="bg-center bg-no-repeat bg-cover content-center justify-center">
      <notifications
        group="errors"
        position="bottom left" />
      <div class="login-wrap">
        <div class="login-box">
          <div class="runner-logo">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/StoreFrontNavRunner.png"
              alt="">
          </div>
          <div class="top">
            <div class="title">
              Log In
            </div>
            <div class="facebook-google">
              <div
                class="facebook"
                @click="loginWithFacebook()">
                <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567005141/runner%20v4/icons/IconFacebookLogo.png">
                Sign in with Facebook
              </div>
              <div
                class="google"
                @click="loginWithGoogle()">
                <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567005141/runner%20v4/icons/IconGoogleLogo.png">
                Sign in with Google
              </div>
            </div>
          </div>
          <div class="divider">
            <hr>
            <span>
              OR
            </span>
            <hr>
          </div>
          <div class="bottom">
            <div class="user-info">
              <form class="email-password">
                <div class="input-wrap">
                  <div class="header">
                    Email
                  </div>
                  <input
                    :class="{'input--error': $v.email.$error}"
                    v-model="email"
                    class="input-info h-50 rounded px-15 appearance-none border"
                    name="email"
                    type="email"
                    placeholder="example@email.com"
                    @input="setEmail($event.target.value)">
                  <div
                    v-if="(!$v.email.email || !$v.email.required) && $v.email.$dirty"
                    class="error text-red mb-15"
                  >
                    A valid email is required.
                  </div>
                </div>
                <div class="input-wrap">
                  <div class="header">
                    Password
                  </div>
                  <input
                    :class="{'input--error': $v.password.$error}"
                    v-model="password"
                    autocomplete="off"
                    class="input-info h-50 rounded px-15 appearance-none border"
                    name="password"
                    type="password"
                    placeholder="Password..."
                    @input="setPassword($event.target.value)"
                    @keyup.13="loginUser">
                  <div
                    v-if="!$v.password.required && $v.password.$dirty"
                    class="error text-red mb-15"
                  >
                    A password is required.
                  </div>
                </div>
              </form>
              <div class="remember-me-btn">
                <toggle-button
                  v-model="rememberMe"
                  :height="25"
                  :width="40"
                  class="mr-15"
                  color="#50E3C2"/>
                <span style="min-width: 32%;">
                  Remember Me
                </span>
                <a
                  :href="'https://www.' + domain + '/password/reset'"
                  style="width: 100%; color: #ACACAC; line-height: 17px; text-align: right;">
                  Forgot password?
                </a>
              </div>
              <button-component
                :disabled="isLoading"
                :is-loading="isLoading"
                :text="'LOG IN'"
                :color="'red'"
                :fill="true"
                class="mb-30"
                @click.native="loginUser"/>
              <div class="new-user">
                <p class="">
                  New to Runner?
                  <a :href="'https://www.' + domain + '/register'">
                    Sign Up
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main-footer
      :domain="domain"
      :active-modal="activeModal"/>
  </div>
</template>

<style lang="scss" scoped>
.input--error {
  border: 1px solid red;
}
.runner-logo {
  display: none;
  @media (min-width: 640px) {
    display: inherit;
    position: relative;
    top: -25px;
    left: -100px;
    width: 150px;
  }
}
#login {
  @media (min-width: 640px) {
    min-height: 100vh;
    background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/f_auto,q_auto/v1542216025/runner/stores/loginDesktop.jpg');
  }
}
.top {
  padding: 30px 30px 0px 30px;
}
.bottom {
  padding: 0px 30px 30px 30px;
}
.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 640px) {
    width: 600px;
    height: 100vh;
    position: absolute;
    background-color: #fff;
  }
  .login-box {
    width: 100%;
    @media (min-width: 640px) {
      width: 400px;
    }
    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
.facebook-google {
  font-size: 16px;
  img {
    margin-right: 15px;
  }
  .facebook {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .google {
    cursor: pointer;
    align-items: center;
    display: flex;
  }
}
.user-info {
  .email-password {
    .header {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .input-info{
      width: 100%;
    }
    .input-wrap {
      margin-bottom: 20px;
    }
  }
}
.remember-me-btn {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.new-user {
  text-align: center;
}
.login-btn {
  background-color: #F83F40;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;
  border-radius: 4px;
  /* margin-left: 25px; */
  box-shadow: 0 11px 15px -2px rgba(248, 63, 64, 0.5);
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
}
.divider {
  display: flex;
  hr {
    border-width: 0.5px;
    border-color: #f0f0f0;
    margin-top: 28px;
    width: 100%;
  }
  span {
    color: #ACACAC;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      rememberMe: false,
      email: '',
      password: '',
      isLoading: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
      'anonymousId',
    ]),
  },
  async mounted() {
    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });
  },
  validations: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    setEmail(value) {
      this.email = value;
      this.$v.email.$touch();
    },
    setPassword(value) {
      this.password = value;
      this.$v.password.$touch();
    },
    async loginUser() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        this.$nextTick(() => {
          const domRect = document.querySelector('.input--error').getBoundingClientRect();
          window.scrollTo(
            domRect.left + document.documentElement.scrollLeft,
            domRect.top + document.documentElement.scrollTop,
          );
          document.querySelector('.input--error').focus();
        });
      }
      const anonymousId = window.analytics ? window.analytics.user().anonymousId() : '';
      this.isLoading = true;
      let response;

      const payload = {
        data: {
          type: 'login credentials',
          attributes: {
            email: this.email,
            password: this.password,
            anonymousId,
          },
        },
      };

      try {
        response = await api().post('login', payload);
      } catch (e) {
        console.error(e);
        this.isLoading = false;

        this.$notify({
          group: 'errors',
          type: 'error',
          title: 'Error',
          text: typeof e.response !== 'undefined' ? e.response.data.errors.error : 'An error has occured.',
          duration: -1,
        });
      }

      if (typeof (response) !== 'undefined') {
        if (this.rememberMe === false) {
          this.$cookie.set('token', response.data.data.attributes.accessToken, { domain: this.domain });
          this.$cookie.set('userId', response.data.data.attributes.user.id, { domain: this.domain });
        } else {
          this.$cookie.set('token', response.data.data.attributes.accessToken, { domain: this.domain, expires: '1M' });
          this.$cookie.set('userId', response.data.data.attributes.user.id, { domain: this.domain, expires: '1M' });
        }

        this.loading = false;
        const lastUrl = this.$cookie.get('lastUrl', { domain: this.domain });

        if (lastUrl) {
          window.location.href = lastUrl;
        } else {
          window.location.href = `https://www.${this.domain}`;
        }
      }
    },
    loginWithFacebook() {
      this.isLoading = true;
      window.location.href = `https://www.${this.domain}/login/facebook`;
    },
    loginWithGoogle() {
      this.isLoading = true;
      window.location.href = `https://www.${this.domain}/login/google`;
    },
    resetPassword() {
      window.location.href = `https://www.${this.domain}/password/email/`;
    },
  },
};
</script>
