<template>
  <div>
    <div
      id="contact-us"
      :class="{'nav-open': menuStatus}">
      <div
        class="contact-us">
        <div class="title">
          Contact us
        </div>
        <div class="customer-service-info">
          <div>
            Customer service representatives are available:
          </div>
          <div class="schedule">
            <div class="weekdays">
              <div style="font-weight: 400">
                Monday-Friday:
              </div>
              <div>
                11am - 9:30pm
              </div>
            </div>
            <div class="weekends">
              <div style="font-weight: 400">
                Saturday - Sunday:
              </div>
              <div>
                11am - 5:00pm
              </div>
            </div>
          </div>
        </div>

        <div class="question-info">
          <span class="question-details">
            <div style="font-size: 18px; font-weight: 400">
              Have a question?
            </div>
            <div>
              One of our lovely service representative would be happy to help get in touch
              using your preferred method below.
            </div>
          </span>
          <div class="actions">
            <div class="phone">
              <img :src="icons.headset">
              <img :src="icons.arrow">
              <div>
                Call: 647-360-8262
              </div>
            </div>
            <div class="email">
              <img :src="icons.email">
              <img :src="icons.arrow">
              <div>
                Email
              </div>
            </div>
            <div class="live-chat">
              <img :src="icons.chat">
              <img :src="icons.arrow">
              <div>
                Live Chat
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <moon-loader-wrapper
      :full-screen="true"
      :is-loading="isLoading"/>
    <main-footer
      :domain="domain"
      :active-modal="activeModal"/>
  </div>
</template>

<style lang="scss" scoped>
button {
  outline: none;
}
#contact-us {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
.contact-us {
  @media (min-width: 640px) {
    background: #FFFFFF;
    border: 1px #EFEFEF solid;
  }
}
.customer-service-info {
  display: grid;
  .title {
    font-size: 24px;
    font-weight: 500;
  }
}
.question-info {
  .question-details {
    display: none;
    @media (min-width: 640px) {
      display: unset;
    }
  }
}
.actions {
  display: grid;
  .phone {
    display: flex;
  }
  .email {
    display: flex;
  }
  .live-chat {
    display: flex;
  }
}
.nav-open {
  @media (min-width: 640px) {
    transform: translateX(300px);
  }
}
</style>

<script>
import { mapGetters } from 'vuex';
// import important from '../mixins/important';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  mixins: [
    // important,
  ],
  data() {
    return {
      userId: this.$cookie.get('userId', { domain: this.domain }),
      isLoading: false,
      friendPhoneNum: '',
      friendEmail: '',
      icons: {
        arrow: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png',
        headset: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493599/runner%20v4/icons/IconSupport.png',
        email: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1564457002/runner%20v4/icons/FooterIconEmail.png',
        chat: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1564457002/runner%20v4/icons/FooterIconChat.png',
      },
    };
  },
  computed: {
    ...mapGetters([
      'user',
    ]),
    menuStatus() {
      return this.$store.getters.menuStatus;
    },
  },
  mounted() {
  },
  methods: {

  },
};
</script>
