<template>
  <div
    v-if="inventoryId"
    id="checkout">
    <notifications
      group="errors"
      position="bottom left" />
    <address-changed-modal
      v-if="addressChanged"
      :domain="domain"/>
    <div class="checkout__desktop hidden md:block">
      <div class="header flex justify-center border-b border-grey-lightest border-solid">
        <a
          :href="'https://www.' + domain + '/'"
          class="self-center">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1541525002/runner/stores/storeLogo.png"
            alt="">
        </a>
      </div>
      <div
        v-show="pageLoading"
        class="h-screen grid content-center"
        style="grid-template-columns: 1fr; justify-items: center;">
        <pulse-loader
          :loading="pageLoading"
          color="#000000"
          size="10px"/>
      </div>
      <div
        v-show="!pageLoading"
        v-if="availableDeliveryTimes && user && customer && cart && store"
        class="desktop-wrap pl-15 pr-15">
        <div class="overflow-hidden">
          <div class="checkout-top border-b-15 border-grey-lightest border-solid">
            <h2 class="mb-0 bold-light">
              Checkout
            </h2>
            <a :href="'https://' + subDomain + '.' + domain + '/'">
              <img
                :src="store.attributes.options.navigationLogo"
                style="max-width: 100px;"
                alt="">
            </a>
            <button @click.prevent="toggleZenDesk">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062134/runner/stores/navPhone.svg"
                alt="">
            </button>
          </div>
          <div class="details">
            <div
              v-if="inventoryId === '11' || inventoryId === '23'">
              <h2>
                Recipient Details
              </h2>
              <p>
                The last mile is always the hardest. To coordinate delivery, we will be in contact with your recipient.
              </p>
              <p>
                Don’t worry, we are discrete!
              </p>
              <div
                v-if="inventoryId === '11' || inventoryId === '23'"
                class="delivery-list-wrap cursor-pointer mb-15"
                @click="toggleDesktopGiftDetails">
                <div class="list-header">
                  <h2>
                    Recipient Details
                  </h2>
                  <div class="arrow">
                    <img
                      :class="{rotateArrow: giftDetailsIsShown}"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                      alt="">
                  </div>
                </div>
                <li>
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1566851909/runner%20v4/icons/IconAccountBlack.png"
                      alt="">
                  </div>
                  <div class="detail">
                    <p
                      v-if="!gift.firstName || !gift.lastName"
                      style="color: #B5B5B5;">
                      Add Recipients Name
                    </p>
                    <p v-else-if="gift.firstName">
                      {{ gift.firstName }} {{ gift.lastName }}
                    </p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561051301/runner%20v4/icons/CheckoutIconPhone.png"
                      alt="">
                  </div>
                  <div class="detail">
                    <p
                      v-if="!gift.phoneNumber"
                      style="color: #B5B5B5;">
                      Add Recipients Phone Number
                    </p>
                    <p v-else-if="gift.phoneNumber">
                      {{ gift.phoneNumber | phoneNumberFilter }}
                    </p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564457002/runner%20v4/icons/FooterIconEmail.png"
                      alt="">
                  </div>
                  <div class="detail">
                    <p
                      v-if="!gift.email"
                      style="color: #B5B5B5;">
                      Add Recipients Email
                    </p>
                    <p v-else-if="gift.email">
                      {{ gift.email }}
                    </p>
                  </div>
                </li>
                <li
                  v-if="Object.keys(giftOptions).length">
                  <div class="icon">
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052383/runner%20v4/icons/CheckoutIconPencil.png"
                      alt="">
                  </div>
                  <div class="detail">
                    <p
                      v-if="!giftOptions.personalMessage"
                      style="color: #B5B5B5;">
                      Add Personal Message
                    </p>
                    <p v-else-if="giftOptions.personalMessage">
                      {{ giftOptions.personalMessage }}
                    </p>
                  </div>
                </li>
              </div>
              <new-recipient-details
                v-if="giftDetailsIsShown"
                :user="user"
                :gift="gift"/>
              <new-personal-message
                v-if="giftDetailsIsShown && giftContainsCard"
                :gift-options="giftOptions"/>
              <p
                v-else
                class="px-10 flex flex-col text-center">
                * Please select a gift card in your shopping cart if you'd like a personal message *
                <a href="/"> Press here to go back </a>
              </p>
            </div>
            <div class="store-info border-b-1">
              <div class="title3">
                Order Details
              </div>
              <div class="info">
                <span style="display: grid;">
                  <img
                    :src="store.attributes.options.storeLogo"
                    alt="">
                  Store
                </span>
                <span style="display:grid; margin-left: 50px;">
                  <div>
                    Next delivery within:
                  </div>
                  <div>
                    <img
                      style="width: 15px; height: 15px;"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png">
                    {{ store.attributes.options.nextDeliveryTime }}
                  </div>
                  <div style="color: #ACACAC;">
                    Delivery fee: $9.99
                  </div>
                </span>
              </div>
              <!-- <div class="cart-total">
            ${{ (cart.attributes.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </div> -->
            </div>
            <ul class="steps border-grey-lightest border-solid">
              <li
                :class="{'border-2 border-green': !selectedAddress.attributes.formattedAddress}"
                class="step border-grey-lightest border-solid cursor-pointer">
                <div
                  class="delivery-list-wrap"
                  @click="toggleDesktopAddress">
                  <div class="list-header">
                    <h2>
                      Delivery Address
                    </h2>
                    <div class="arrow">
                      <img
                        :class="{rotateArrow: desktopAddressIsShown}"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                        alt="">
                    </div>
                  </div>
                  <li>
                    <div class="icon">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPinRed.png"
                        alt="">
                    </div>
                    <div class="detail">
                      <div
                        v-if="selectedAddress"
                        style="display: inline-grid; margin-bottom: 15px;">
                        <div class="address-text">
                          {{ selectedAddress.attributes.formattedAddress.split(',')[0] }},
                          <span v-if="selectedAddress.attributes.unitNumber">
                            Unit {{ selectedAddress.attributes.unitNumber }}
                          </span>
                          <span
                            v-if="selectedAddress.attributes.formattedAddress.includes(',')"
                            style="color:#B1B1B1; font-size: 12.5px;">
                            {{ selectedAddress.attributes.formattedAddress.split(',')[1] + ', ' + selectedAddress.attributes.formattedAddress.split(',')[2] }}
                          </span>
                        </div>
                      </div>
                      <p v-else>
                        Please add address
                      </p>
                    </div>
                  </li>
                </div>
                <div
                  v-show="desktopAddressIsShown"
                  class="step__body">
                  <new-checkout-address
                    :user="user"
                    :domain="domain"
                    :sub-domain="subDomain"/>
                </div>
              </li>
              <li class="step border-b border-grey-lightest border-solid cursor-pointer">
                <div
                  class="delivery-list-wrap"
                  @click="toggleDesktopDeliveryDateTime">
                  <div class="list-header">
                    <h2>
                      Delivery Time
                    </h2>
                    <div class="arrow">
                      <img
                        :class="{rotateArrow: desktopDeliveryDateTimeIsShown}"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                        alt="">
                    </div>
                  </div>
                  <li>
                    <div class="icon">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png"
                        alt="">
                    </div>
                    <div class="detail">
                      <p
                        v-if="orderDateTime"
                        class="text-lg mb-0 font-semibold">
                        {{ orderDateTime | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
                      </p>
                      <p
                        v-else
                        class="text-lg mb-0 font-semibold">
                        Please select a delivery time
                      </p>
                    </div>
                  </li>
                </div>
                <div
                  v-show="desktopDeliveryDateTimeIsShown"
                  class="step__body"
                  style="padding: 15px 0px;">
                  <div class="delivery-date">
                    <div class="delivery-dates-wrap">
                      <div class="delivery-dates">
                        <div
                          v-for="(deliveryDate, index) in availableDeliveryTimes"
                          v-if="deliveryDate.regularTimeSlots.length > 0"
                          :key="index"
                          :class="{active: index === activeDate, veryHidden: index == 0 && closedForTheDay}"
                          class="delivery-date"
                          @click="setDeliveryDate(index, deliveryDate)">
                          <span v-if="index === 0">
                            TODAY
                          </span>
                          <span v-else>
                            {{ deliveryDate.date | moment('ddd') }}
                          </span>
                          <span>
                            {{ deliveryDate.date | moment('MMM Do') }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="delivery-time">
                    <div class="delivery-times">
                      <ul>
                        <li
                          v-for="(deliveryTime, index) in availableDeliveryTimes[activeDate].regularTimeSlots"
                          :key="index"
                          @click="setDeliveryTime(index)">
                          <img
                            v-if="index === activeTime"
                            class="radio-img"
                            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonRed.png"
                            alt="">
                          <img
                            v-else
                            class="radio-img"
                            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonGrey.png"
                            alt="">
                          <span>
                            {{ deliveryTime.interval }}
                          </span>
                          <span class="price">
                            ${{ (deliveryTime.regularPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step border-b border-grey-lightest border-solid cursor-pointer">
                <div
                  :class="{borderGone: desktopPhoneNumberIsShown}"
                  class="delivery-list-wrap"
                  @click="toggleDesktopPhoneNumber">
                  <div
                    class="list-header">
                    <h2>
                      Mobile Number
                    </h2>
                    <div class="arrow">
                      <img
                        :class="{rotateArrow: desktopPhoneNumberIsShown}"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                        alt="">
                    </div>
                  </div>
                  <li>
                    <div class="icon">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561051301/runner%20v4/icons/CheckoutIconPhone.png"
                        alt="">
                    </div>
                    <div class="info flex items-center">
                      <p class="mb-0">
                        {{ (phoneNumber || user.attributes.phoneNumber) | phoneNumberFilter }}
                      </p>
                    </div>
                  </li>
                </div>
                <div
                  v-show="desktopPhoneNumberIsShown"
                  class="step__body mt-15">
                  <h3>
                    Phone Number
                  </h3>
                  <input
                    v-mask="'###-###-####'"
                    class="mb-15 h-50 p-15 appearance-none border rounded w-full"
                    placeholder="555-555-5555"
                    type="text"
                    @blur="updatePhoneNumber">
                </div>
              </li>
              <li class="step border-b border-grey-lightest border-solid cursor-pointer">
                <div
                  :class="{borderGone: desktopInstructionsIsShown}"
                  class="delivery-list-wrap"
                  @click="toggleDesktopInstructions">
                  <div
                    class="list-header">
                    <h2>
                      Delivery Instructions
                    </h2>
                    <div class="arrow">
                      <img
                        :class="{rotateArrow: desktopInstructionsIsShown}"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                        alt="">
                    </div>
                  </div>
                  <li>
                    <div class="icon">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052383/runner%20v4/icons/CheckoutIconPencil.png"
                        alt="">
                    </div>
                    <div class="info flex items-center">
                      <p
                        v-if="selectedAddress && selectedAddress.attributes.instructions"
                        class="mb-0">
                        {{ selectedAddress.attributes.instructions }}
                      </p>
                      <p
                        v-else
                        style="color: #B5B5B5;"
                        class="mb-0">
                        Add delivery instructions...
                      </p>
                    </div>
                  </li>
                </div>
                <div
                  v-show="desktopInstructionsIsShown"
                  class="step__body">
                  <p
                    v-if="user.attributes.addresses.length === 0"
                    class="text-lg mb-0 font-semibold">
                    Please first enter address
                  </p>
                  <form
                    v-else
                    class="address-form"
                    autocomplete="off">
                    <div class="form-wrap">
                      <textarea
                        :value="selectedAddress.attributes.instructions || ''"
                        class="delivery-text p-15 w-full mb-15 p-15 appearance-none border rounded"
                        cols="30"
                        rows="10"
                        placeholder="Add delivery instructions..."
                        @blur="setInstructions"/>
                    </div>
                  </form>
                </div>
              </li>
              <li
                :class="{'border-2 border-green': customer.attributes.sources.total_count === 0, 'border-b': customer.attributes.sources.total_count !== 0}"
                class="step border-grey-lightest border-solid  cursor-pointer">
                <div
                  class="delivery-list-wrap"
                  @click="toggleDesktopPayment">
                  <div class="list-header">
                    <h2>
                      Payment Method
                    </h2>
                    <div class="arrow">
                      <img
                        :class="{rotateArrow: desktopPaymentIsShown}"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                        alt="">
                    </div>
                  </div>
                  <li v-if="customer.attributes.sources.data[0]">
                    <div class="icon">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonRed.png"
                        alt="">
                    </div>
                    <div class="card-image payment-desktop">
                      <img
                        v-if="customer.attributes.sources.data[0].brand === 'Visa'"
                        class="w-30"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconVisa.png"
                        alt="">
                      <img
                        v-else-if="customer.attributes.sources.data[0].brand === 'MasterCard'"
                        class="w-30"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconMastercard.png"
                        alt="">
                      <img
                        v-else-if="customer.attributes.sources.data[0].brand === 'American Express'"
                        class="w-30"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconAmericanexpress.png"
                        alt="">
                      <img
                        v-else
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/genericCard.png"
                        alt="">
                      <p>
                        •••• •••• •••• {{ customer.attributes.sources.data[0].last4 }}
                      </p>
                    </div>
                  </li>
                  <li
                    v-else
                    class="null-payment">
                    <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png">
                    <p>
                      Add a payment method...
                    </p>
                  </li>
                </div>
                <div
                  v-show="desktopPaymentIsShown"
                  class="step__body">
                  <new-payment-method
                    :domain="domain"
                    :customer="customer"
                    :user="user"/>
                </div>
              </li>
            </ul>
            <ul class="steps">
              <li class="step">
                <div class="coupon">
                  <div style="font-size: 20px; padding-bottom: 16px;">
                    Apply Discount
                  </div>
                  <p v-if="cart.attributes.coupon">
                    {{ cart.attributes.coupon.code }} ${{ (cart.attributes.coupon.value / 100) }}OFF
                  </p>
                  <div
                    class="coupon-apply"
                    @click="toggleDesktopCoupon">
                    <button class="coupon-btn">
                      Apply Coupon
                    </button>
                  </div>
                </div>
                <div
                  v-show="desktopCouponIsShown"
                  class="step__body">
                  <form
                    class="address-form"
                    autocomplete="off">
                    <div
                      class="mb-15 pr-15"
                      style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                      <input
                        v-model="couponCode"
                        placeholder="COUPON CODE"
                        class="p-15 w-full mb-15 p-15 appearance-none border rounded"
                        type="text">
                      <button
                        class="bg-green rounded h-50"
                        @click.prevent="setCoupon(couponCode)">
                        <span
                          v-if="!isLoading"
                          class="text-white text-lg font-semi-bold">
                          Apply
                        </span>
                        <pulse-loader
                          :loading="isLoading"
                          color="#ffffff"
                          size="10px"/>
                      </button>
                      <button
                        class="bg-green rounded h-50"
                        @click.prevent="setCoupon('CLEARCOUPON')">
                        <span
                          v-if="!isLoading"
                          class="text-white text-lg font-semi-bold">
                          Clear
                        </span>
                        <pulse-loader
                          :loading="isLoading"
                          color="#ffffff"
                          size="10px"/>
                      </button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
            <div class="border-b-1 border-grey-lightest border-solid pt-15">
              <new-checkout-cart :cart="cart"/>
            </div>
            <ul class="steps">
              <li class="step">
                <div class="tip">
                  <div class="heading">
                    <h2 class="pt-15">
                      Tip
                    </h2>
                    <span class="pt-15 pr-15 font-semibold">
                      ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                    </span>
                  </div>
                  <p>
                    A tip is not required, but encouraged. 100% goes to your hard working Runner!
                  </p>
                  <ul class="tip-amounts mb-15">
                    <li
                      v-for="(tip, index) in tips"
                      :class="{active: activeTip === index}"
                      :key="index"
                      @click="setTip(index)">
                      {{ tip.title }}
                    </li>
                  </ul>
                  <div
                    v-if="activeTip === 3"
                    class="tip-other">
                    <p class="mb-15">
                      How much would you like to tip?
                    </p>
                    <input
                      :placeholder="tips[3].value"
                      v-model="tips[3].value"
                      type="number"
                      min="0">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="footer-total p-15">
            <div
              v-if="storeClosed"
              class="bg-white flex border border-red h-50 text-red justify-center items-center rounded mb-15">
              !! We are done taking orders for the night. The next available delivery time is tomorrow !!
            </div>
            <div v-else>
              <div class="totals">
                <h2>
                  Order Total
                </h2>
                <ul>
                  <li>
                    <span>
                      Points earned
                    </span>
                    <span>
                      <img
                        style="width: 20px; margin-right: 5px;"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                      <!-- {{ totalRewardPts }} -->
                      100
                    </span>
                  </li>
                  <li class="total">
                    <span>
                      Total
                    </span>
                    <span>
                      ${{ (cart.attributes.total / 100 + tipAmount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="pay">
                <button
                  :disabled="!user.attributes.addresses || customer.attributes.sources.total_count === 0"
                  class="place-order-btn"
                  @click="checkout">
                  <div>
                    <span class="cart-length-footer">
                      {{ cart.attributes.products.length }}
                    </span>
                    <span
                      v-if="!isLoading"
                      class="text">
                      PLACE ORDER
                    </span>
                    <pulse-loader
                      :loading="isLoading"
                      color="#ffffff"
                      size="10px"/>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar pt-15">
          <div
            v-if="storeClosed"
            class="border-b-2 border-grey-lightest border-solid pb-30">
            <div
              class="bg-white flex border border-red p-15 text-red justify-center items-center rounded mb-15">
              !! We are done taking orders for the night. The next available delivery time is tomorrow !!
            </div>
          </div>
          <div>
            <div class="totals border-b-1">
              <h2>
                Order Total
              </h2>
              <ul>
                <li>
                  <span>
                    Points earned
                  </span>
                  <span>
                    <img
                      style="width: 20px; margin-right: 5px;"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                    <!-- {{ totalRewardPts }} -->
                    100
                  </span>
                </li>
                <li>
                  <span>
                    Subtotal
                  </span>
                  <span>
                    ${{ (cart.attributes.subTotal / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li v-if="cart.attributes.rewardPoints">
                  <span>
                    Savings: Reward Points
                  </span>
                  <span>
                    -${{ (cart.attributes.rewardPoints / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li v-else-if="cart.attributes.coupon !== null">
                  <span>
                    Savings (coupon: {{ cart.attributes.coupon.code }})
                  </span>
                  <span>
                    -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li v-else-if="cart.attributes.discount != 0">
                  <span>
                    Savings:
                  </span>
                  <span>
                    -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li v-if="cart.attributes.serviceFee">
                  <span>
                    Service Fee
                  </span>
                  <span>
                    ${{ (cart.attributes.serviceFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li>
                  <span>
                    Delivery fee
                  </span>
                  <span>
                    ${{ (cart.attributes.deliveryFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li>
                  <span>
                    Tax
                  </span>
                  <span>
                    ${{ (cart.attributes.tax / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
                <li>
                  <span>
                    Tip
                  </span>
                  <span>
                    ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                  </span>
                </li>
                <li class="total">
                  <span>
                    Total
                  </span>
                  <span>
                    ${{ (cart.attributes.total / 100 + tipAmount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </span>
                </li>
              </ul>
            </div>
            <div>
              <div class="coupon">
                <div style="font-size: 20px; padding-bottom: 16px;">
                  Apply Discount
                </div>
                <p v-if="!cart.attributes.coupon">
                  Apply Promo Code
                </p>
                <p v-else>
                  {{ cart.attributes.coupon.code }} ${{ (cart.attributes.coupon.value / 100) }}OFF
                </p>
                <div
                  class="coupon-apply"
                  @click="toggleCouponInput">
                  <button class="coupon-btn">
                    Apply Coupon
                  </button>
                </div>
                <div
                  v-show="couponInputIsShown"
                  class="coupon-input">
                  <div
                    class="input-wrap">
                    <input
                      v-model="couponCode"
                      placeholder="COUPON CODE"
                      class="p-15 w-full mb-15 p-15 appearance-none border rounded"
                      type="text">
                    <button
                      class="bg-green rounded h-50"
                      @click.prevent="setCoupon(couponCode)">
                      <span
                        v-if="!isLoading"
                        class="text-white text-lg font-semi-bold">
                        Apply
                      </span>
                      <pulse-loader
                        :loading="isLoading"
                        color="#ffffff"
                        size="10px"/>
                    </button>
                    <button
                      class="bg-green rounded h-50"
                      @click.prevent="setCoupon('CLEARCOUPON')">
                      <span
                        v-if="!isLoading"
                        class="text-white text-lg font-semi-bold">
                        Clear
                      </span>
                      <pulse-loader
                        :loading="isLoading"
                        color="#ffffff"
                        size="10px"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="pay">
              <button
                :disabled="!user.attributes.addresses || customer.attributes.sources.total_count === 0"
                class="place-order-btn"
                @click="checkout">
                <div>
                  <span class="cart-length">
                    {{ cart.attributes.products.length }}
                  </span>
                  <span
                    v-if="!isLoading"
                    class="text">
                    PLACE ORDER
                  </span>
                  <pulse-loader
                    :loading="isLoading"
                    color="#ffffff"
                    size="10px"/>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout__mobile">
      <div
        class="cart-top">
        <div style="padding-top: 8px;">
          <img
            style="transform: rotate(-180deg); width: 10px; margin-bottom: 5px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141158/runner%20v4/icons/ProductCardIconArrow.png">
          <span
            style="font-size: 16px; padding-left: 5px;"
            @click="stepBack">
            Back
          </span>
        </div>
        <img
          :src="store.attributes.options.navigationLogo"
          style="height: 35px;"
          alt="">
        <a
          href=""
          class="support"
          @click.prevent="toggleZenDesk">
          <img
            style="width: 35px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493599/runner%20v4/icons/IconSupport.png"
            alt="">
        </a>
      </div>
      <div class="cart-text">
        Checkout
      </div>
      <div
        v-if="orderStep === 5"
        style="border-bottom: 1px solid #EFEFEF; padding-bottom: 30px;"
        class="wrap">
        <div class="store-info">
          <div class="logo">
            <img
              style="height: 50px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1543003345/icons/HeaderNavLogoRunner.png"
              alt="">
          </div>
          <div class="title2">
            Order Details
          </div>
          <div class="title">
            Cart
          </div>
          <div class="info">
            <span style="display: grid;">
              <img
                :src="store.attributes.options.storeLogo"
                alt="">
              Store
            </span>
            <span style="display:grid; margin-left: 50px;">
              <div>
                Next delivery within:
              </div>
              <div>
                <img
                  style="width: 15px; height: 15px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png">
                {{ store.attributes.options.nextDeliveryTime }}
              </div>
              <div style="color: #ACACAC;">
                Delivery fee: $9.99
              </div>
            </span>
          </div>
          <!-- <div class="cart-total">
            ${{ (cart.attributes.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </div> -->
        </div>
      </div>
      <div
        v-if="inventoryId === '11' || inventoryId === '23' && orderStep === 2">
        <div
          class="recipient-details-wrap">
          <new-recipient-details
            :gift="gift"
            :user="user"
            class="border-b-1 mb-15"/>
          <h3>
            Address
          </h3>
          <new-checkout-address
            :user="user"
            :domain="domain"
            :sub-domain="subDomain"
            style="z-index: 999999;"/>
        </div>
        <div class="confirm pl-15 pr-15">
          <button-component
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 3"/>
        </div>
      </div>
      <div
        v-if="orderStep === 1"
        class="delivery">
        <div class="delivery-date">
          <div v-if="inventoryId === '11' || inventoryId === '23'">
            <h2 class="pl-15">
              Recipient Details
            </h2>
            <p class="pl-15">
              The last mile is always the hardest. To coordinate delivery, we will be in contact with your recipient.
              Don’t worry, we are discrete!
            </p>
          </div>
          <h2 class="pl-15">
            Delivery Time
          </h2>
          <div class="delivery-dates-wrap mb-30">
            <div class="delivery-dates">
              <div
                v-for="(deliveryDate, index) in availableDeliveryTimes"
                :key="index"
                :class="{active: index === activeDate, veryHidden: index == 0 && closedForTheDay}"
                class="delivery-date"
                @click="setDeliveryDate(index, deliveryDate)">
                <span v-if="index === 0">
                  TODAY
                </span>
                <span v-else>
                  {{ deliveryDate.date | moment('ddd') }}
                </span>
                <span>
                  {{ deliveryDate.date | moment('MMM Do') }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="delivery-time p-0">
          <div class="delivery-times">
            <ul>
              <li
                v-for="(deliveryTime, index) in availableDeliveryTimes[activeDate].regularTimeSlots"
                :key="index"
                @click="setDeliveryTime(index)">
                <img
                  v-if="index === activeTime"
                  class="radio-img"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonRed.png"
                  alt="">
                <img
                  v-else
                  class="radio-img"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonGrey.png"
                  alt="">
                <span>
                  {{ deliveryTime.interval }}
                </span>
                <span class="price">
                  ${{ (deliveryTime.regularPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="confirm pl-15 pr-15">
          <button-component
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 2"/>
        </div>
      </div>
      <div
        v-show="inventoryId !== '11' && inventoryId !== '23' && orderStep === 2"
        class="address">
        <div class="wrap">
          <h2>
            Address
          </h2>
          <div class="address-add">
            <new-checkout-address
              :user="user"
              :domain="domain"
              :sub-domain="subDomain"
              style="z-index: 999999;"/>
          </div>
        </div>
        <div class="confirm pl-15 pr-15">
          <button-component
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 3"/>
        </div>
      </div>
      <div
        v-show="orderStep === 3"
        class="address">
        <div class="wrap">
          <h2>
            Delivery Instructions (Optional)
          </h2>
          <textarea
            :value="selectedAddress.attributes.instructions || ''"
            class="delivery-text p-15 w-full mb-15 p-15 appearance-none border rounded"
            cols="30"
            rows="10"
            placeholder="Add delivery instructions..."
            @blur="setInstructions"/>
        </div>
        <div class="confirm pl-15 pr-15">
          <button-component
            :disabled="user.attributes.addresses.length === 0"
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 4"/>
        </div>
      </div>
      <div
        v-if="customer && orderStep === 4"
        class="payment">
        <div class="wrap">
          <h2>
            Payment Method
          </h2>
          <new-payment-method
            :customer="customer"
            :user="user"/>
        </div>
        <div
          class="confirm"
          style="padding: 0px 15px;">
          <button-component
            v-if="inventoryId !== '11' && inventoryId !== '23'"
            :disabled="customer.attributes.sources.total_count === 0"
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 5"/>
          <button-component
            v-if="inventoryId === '11' || inventoryId === '23'"
            :disabled="customer.attributes.sources.total_count === 0"
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 6"/>
        </div>
      </div>
      <div
        v-show="inventoryId === '11' || inventoryId === '23' && orderStep === 6"
        class="address">
        <div
          v-if="giftContainsCard"
          class="wrap">
          <h2>
            Personal Message
          </h2>
          <new-personal-message
            :gift-options="giftOptions"/>
        </div>
        <p
          v-else
          class="px-10 flex flex-col text-center">
          * Please select a gift card in your shopping cart if you'd like a personal message *
          <a href="/"> Press here to go back </a>
        </p>
        <div class="confirm pl-15 pr-15">
          <button-component
            :text="'NEXT'"
            :font-size="'14px'"
            :font-weight="'700'"
            :color="'red'"
            :fill="true"
            :height="'48px'"
            class="button-modal-component"
            @click.native="orderStep = 5"/>
        </div>
      </div>
      <div
        v-if="orderStep === 5"
        class="review">
        <ul class="delivery-details">
          <div
            class="delivery-list-wrap"
            @click="orderStep = 2">
            <div class="list-header">
              <h2>
                Delivery Address
              </h2>
              <div class="arrow">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                  alt="">
              </div>
            </div>
            <li>
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPinRed.png"
                  alt="">
              </div>
              <div class="detail">
                <div
                  v-if="selectedAddress"
                  style="display: inline-grid; margin-bottom: 15px;">
                  <div class="address-text">
                    {{ selectedAddress.attributes.formattedAddress.split(',')[0] }},
                    <span v-if="selectedAddress.attributes.unitNumber">
                      Unit {{ selectedAddress.attributes.unitNumber }}
                    </span>
                    <span
                      v-if="selectedAddress.attributes.formattedAddress.includes(',')"
                      style="color:#B1B1B1; font-size: 12.5px;">
                      {{ selectedAddress.attributes.formattedAddress.split(',')[1] + ', ' + selectedAddress.attributes.formattedAddress.split(',')[2] }}
                    </span>
                  </div>
                </div>
                <p v-else>
                  Please add address
                </p>
              </div>
            </li>
          </div>
          <div
            class="delivery-list-wrap"
            @click="orderStep = 1">
            <div class="list-header">
              <h2>
                Delivery Time
              </h2>
              <div class="arrow">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                  alt="">
              </div>
            </div>
            <li>
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png"
                  alt="">
              </div>
              <div class="detail">
                <p>
                  {{ orderDateTime | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}
                </p>
              </div>
            </li>
          </div>
          <div
            v-if="inventoryId === '11' || inventoryId === '23'"
            class="delivery-list-wrap"
            @click="orderStep = 2">
            <div class="list-header">
              <h2>
                Recipient Details
              </h2>
              <div class="arrow">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                  alt="">
              </div>
            </div>
            <li>
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1566851909/runner%20v4/icons/IconAccountBlack.png"
                  alt="">
              </div>
              <div class="detail">
                <p
                  v-if="!gift.firstName || !gift.lastName"
                  style="color: #B5B5B5;">
                  Add Recipients Name
                </p>
                <p v-else-if="gift.firstName">
                  {{ gift.firstName }} {{ gift.lastName }}
                </p>
              </div>
            </li>
            <li>
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561051301/runner%20v4/icons/CheckoutIconPhone.png"
                  alt="">
              </div>
              <div class="detail">
                <p
                  v-if="!gift.phoneNumber"
                  style="color: #B5B5B5;">
                  Add Recipients Phone Number
                </p>
                <p v-else-if="gift.phoneNumber">
                  {{ gift.phoneNumber | phoneNumberFilter }}
                </p>
              </div>
            </li>
            <li>
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564457002/runner%20v4/icons/FooterIconEmail.png"
                  alt="">
              </div>
              <div class="detail">
                <p
                  v-if="!gift.email"
                  style="color: #B5B5B5;">
                  Add Recipients Email
                </p>
                <p v-else-if="gift.email">
                  {{ gift.email }}
                </p>
              </div>
            </li>
          </div>
          <div
            class="delivery-list-wrap"
            @click="orderStep = 3">
            <div class="list-header">
              <h2>
                Delivery Instructions
              </h2>
              <div class="arrow">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                  alt="">
              </div>
            </div>
            <li
              v-if="user.attributes.addresses">
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052383/runner%20v4/icons/CheckoutIconPencil.png"
                  alt="">
              </div>
              <div class="detail">
                <p
                  v-if="!selectedAddress || !selectedAddress.attributes.instructions"
                  style="color: #B5B5B5;">
                  Add Delivery Instructions
                </p>
                <p v-else-if="selectedAddress.attributes.instructions">
                  {{ selectedAddress.attributes.instructions }}
                </p>
              </div>
            </li>
          </div>
        </ul>
        <ul class="payment-details">
          <div
            class="delivery-list-wrap"
            @click="orderStep = 4">
            <div class="list-header">
              <h2>
                Payment Method
              </h2>
              <div class="arrow">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                  alt="">
              </div>
            </div>
            <li v-if="customer.attributes.sources.data[0]">
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonRed.png"
                  alt="">
              </div>
              <div class="card-image">
                <img
                  v-if="customer.attributes.sources.data[0].brand === 'Visa'"
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/visa.png"
                  alt="">
                <img
                  v-else-if="customer.attributes.sources.data[0].brand === 'MasterCard'"
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138560/runner/stores/mastercard.png"
                  alt="">
                <img
                  v-else-if="customer.attributes.sources.data[0].brand === 'American Express'"
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/amex.png"
                  alt="">
                <img
                  v-else
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/genericCard.png"
                  alt="">
                <p>
                  •••• •••• •••• {{ customer.attributes.sources.data[0].last4 }}
                </p>
              </div>
            </li>
            <li
              v-else
              class="null-payment">
              <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png">
              <p>
                Add a payment method...
              </p>
            </li>
          </div>
          <div
            class="delivery-list-wrap"
            @click="orderStep = 6">
            <div class="list-header">
              <h2>
                Personal Message
              </h2>
              <div class="arrow">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
                  alt="">
              </div>
            </div>
            <li
              v-if="Object.keys(giftOptions).length">
              <div class="icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052383/runner%20v4/icons/CheckoutIconPencil.png"
                  alt="">
              </div>
              <div class="detail">
                <p
                  v-if="!giftOptions.personalMessage"
                  style="color: #B5B5B5;">
                  Add Personal Message
                </p>
                <p v-else-if="giftOptions.personalMessage">
                  {{ giftOptions.personalMessage }}
                </p>
              </div>
            </li>
          </div>
          <div class="coupon">
            <div style="font-size: 20px; padding-bottom: 16px;">
              Apply Discount
            </div>
            <p v-if="cart.attributes.coupon">
              {{ cart.attributes.coupon.code }} ${{ (cart.attributes.coupon.value / 100) }}OFF
            </p>
            <div
              class="coupon-apply"
              @click="toggleCouponInput">
              <button class="coupon-btn">
                Apply Coupon
              </button>
            </div>
            <div
              v-show="couponInputIsShown"
              class="coupon-input">
              <div
                class="input-wrap">
                <input
                  v-model="couponCode"
                  placeholder="COUPON CODE"
                  class="p-15 w-full mb-15 p-15 appearance-none border rounded"
                  type="text">
                <button
                  class="bg-green rounded h-50"
                  @click.prevent="setCoupon(couponCode)">
                  <span
                    v-if="!isLoading"
                    class="text-white text-lg font-semi-bold">
                    Apply
                  </span>
                  <pulse-loader
                    :loading="isLoading"
                    color="#ffffff"
                    size="10px"/>
                </button>
                <button
                  class="bg-green rounded h-50"
                  @click.prevent="setCoupon('CLEARCOUPON')">
                  <span
                    v-if="!isLoading"
                    class="text-white text-lg font-semi-bold">
                    Clear
                  </span>
                  <pulse-loader
                    :loading="isLoading"
                    color="#ffffff"
                    size="10px"/>
                </button>
              </div>
            </div>
          </div>
        </ul>
        <div class="border-b-1 border-grey-lightest border-solid p-15 mb-15">
          <new-checkout-cart :cart="cart"/>
        </div>
        <div class="tip border-b-1 mb-30">
          <div class="heading">
            <h2>
              Tip
            </h2>
            <span>
              ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
            </span>
          </div>
          <p>
            A tip is not required, but encouraged. 100% goes to your hard working Runner!
          </p>
          <ul class="tip-amounts">
            <li
              v-for="(tip, index) in tips"
              :class="{active: activeTip === index}"
              :key="index"
              @click="setTip(index)">
              {{ tip.title }}
            </li>
          </ul>
          <div
            v-if="activeTip === 3"
            class="tip-other mb-15 mt-15">
            <p class="mb-15">
              How much would you like to tip?
            </p>
            <input
              :placeholder="tips[3].value"
              v-model="tips[3].value"
              type="number"
              min="0">
          </div>
        </div>
        <div class="totals border-b-1">
          <h2>
            Order Total
          </h2>
          <ul>
            <li>
              <span>
                Points earned
              </span>
              <span>
                <img
                  style="width: 20px; margin-right: 5px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                <!-- {{ totalRewardPts }} -->
                100
              </span>
            </li>
            <li>
              <span>
                Subtotal
              </span>
              <span>
                ${{ (cart.attributes.subTotal / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-if="cart.attributes.rewardPoints">
              <span>
                Savings: Reward Points
              </span>
              <span>
                -${{ (cart.attributes.rewardPoints / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-else-if="cart.attributes.coupon !== null">
              <span>
                Savings (coupon: {{ cart.attributes.coupon.code }})
              </span>
              <span>
                -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-else-if="cart.attributes.discount != 0">
              <span>
                Savings:
              </span>
              <span>
                -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-if="cart.attributes.serviceFee">
              <span>
                Service Fee
              </span>
              <span>
                ${{ (cart.attributes.serviceFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Delivery fee
              </span>
              <span>
                ${{ (cart.attributes.deliveryFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Tax
              </span>
              <span>
                ${{ (cart.attributes.tax / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Tip
              </span>
              <span>
                ${{ (tipAmount / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
              </span>
            </li>
            <li class="total">
              <span>
                Total
              </span>
              <span>
                ${{ (cart.attributes.total / 100 + tipAmount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
          </ul>
        </div>
        <div class="pay">
          <div
            v-if="storeClosed"
            class="bg-white border border-red text-red flex h-50 text-white justify-center items-center rounded mb-15 p-15">
            !! We are done taking orders for the night. The next available delivery time is tomorrow !!
          </div>
          <button
            class="place-order-btn"
            @click="checkout">
            <div>
              <span class="cart-length">
                {{ cart.attributes.products.length }}
              </span>
              <span
                v-if="!isLoading"
                class="text">
                PLACE ORDER
              </span>
              <pulse-loader
                :loading="isLoading"
                color="#ffffff"
                size="10px"/>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(15px);
  }
}
.null-payment {
  color: rgb(181, 181, 181);
  p {
    margin-bottom: 0;
    font-weight: 100 !important;
    font-size: 14px !important;
  }
}
.rotateArrow {
  transform: rotate(90deg);
}
.borderGone {
  border-bottom: unset !important;
}
.footer-total {
  margin: 30px 0px;
  background-color: #fff;
  border: 1px solid #EFEFEF;
}
.recipient-details-wrap {
  overflow-x: scroll;
  height: 750px;
  padding: 15px;
}
h3 {
  margin-bottom: 10px;
  font-weight: 100;
}
.sidebar {
  background-color: #fff;
  padding: 15px 30px;
  width: 150%;
  height: 850px;
  border: 1px solid #EFEFEF;
  position: relative;
  top: 80px;
}
.bold {
  font-weight: 600;
}
.bold-light {
  font-weight: 500;
}
.details {
  border: 1px solid #EFEFEF;
  background-color: #fff;
  @media (min-width: 640px) {
    padding: 10px 50px;
  }
}
.place-order-btn:hover {
  opacity: 0.8;
}
.place-order-btn {
  box-shadow: 0px 8px 10px -5px rgba(248, 62, 64, 0.9);
  div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  .cart-length {
    border: 1px solid white;
    padding: 2px 8px;
    font-weight: 100;
    margin-left: 10px;
    position: absolute;
    left: 15px;
    @media (min-width: 640px) {
      left: 45px;
      padding: 4px 8px;
      font-size: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-length-footer {
    border: 1px solid white;
    padding: 2px 8px;
    font-weight: 100;
    margin-left: 10px;
    position: relative;
    @media (min-width: 640px) {
      left: -180px;
      padding: 4px 8px;
      font-size: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 14px;
  }
}
.totals {
  padding: 0px 15px;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      span {
        font-size: 16px;
      }
      span:first-child {
        text-align: left;
      }
      span:last-child {
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .total {
      span {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
}
.coupon-apply {
  .coupon-btn {
    border: 1px #ACACAC solid;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }
  cursor: pointer;
  display: flex;
  justify-content: center;
  .arrow-rotated {
    transform: rotate(90deg);
  }
  span {
    color: #50E3C2;
    font-size: 18px;
    font-weight: 600;
  }
}
.coupon-input {
  margin-top: 30px;
  .input-wrap {
    display: grid;
    grid-gap: 15px;
    input {
      text-align: center;
      border-radius: 8px;
      -webkit-appearance: none;
      height: 50px;
      border: 1px solid #e4e4e4;
      border-radius: 6px;
      display: grid;
      align-content: center;
      font-size: 18px;
      font-weight: 100;
      cursor: pointer;
    }
    button {
      cursor: pointer;
      border: 0;
      -webkit-appearance: none;
      color: #ffffff;
      background-color: #50E3C2;
      font-size: 18px;
      border-radius: 8px;
      height: 50px;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
}
.delivery-list-wrap:hover {
  background-color: #f9f9f97a;
}
.delivery-list-wrap {
  @media (min-width: 640px) {
    border-bottom: 1px solid #efefef;
    padding: 15px 0px;
    .list-header {
      margin-bottom: 15px;
    }
    li {
      display: flex;
      flex-flow: row;
      img {
        width: 13px;
        margin-right: 15px;
      }
    }
  }
  padding: 15px;
  .detail {
    p {
      font-size: 14px;
      font-weight: 100;
    }
  }
  .card-image {
      display: flex;
      flex-flow: row;
      img {
        margin-right: 15px;
      }
      p {
        font-weight: 100;
        font-size: 14px;
        color: #444444;
      }
  }
}
.payment-desktop {
  img {
    width: 35px !important;
    height: 25px;
  }
}
.list-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin-bottom: 0px;
  }

  img {
    width: 6px;
  }
}
.address-text {
  color: #444440;
}
.cart-text {
  border: 1px solid #EFEFEF;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 25px 30px 25px;
  display: block;
  background-color: #F9F9F9;
  margin-bottom: 15px;
  @media (min-width: 640px) {
    display: none;
  }
}
.cart-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
  h2 {
    cursor: pointer;
  }
  .back {
    text-align: right;
  }
  .support {
    text-align: right;
  }
}
.store-info {
  display: grid;
  @media (min-width: 640px) {
    padding: 15px 0px;
  }
  .title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    display: none;
    @media (min-width: 640px) {
      display: unset;
    }
  }
  .title2 {
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    @media (min-width: 640px) {
      display: none;
    }
  }
  .title3 {
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
  }
  .logo {
    display: none;
    text-align: center;
    @media (min-width: 640px) {
      display: unset;
    }
  }
  .info {
    display: flex;
    p {
      margin-left: 20px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  .cart-total {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
  }
}
h2 {
  font-weight: 100;
  font-size: 20px;
}
.delivery-text {
  padding: 10px;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052383/runner%20v4/icons/CheckoutIconPencil.png');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y: 11px;
  background-position-x: 7px;
  text-indent: 20px;
  font-weight: 100;
}
.alert {
  right: 30px;
  top: 24px;
  background-size: 15px;
  border-radius: 100%;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1547495661/icons/notification.png');
  animation: bounce 2s infinite;
}
#checkout {
  margin: 0 auto;
}
.veryHidden {
  display: none !important;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.checkout__desktop {
  background-color: #F9F9F9;
  .header {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #EFEFEF;
    a {
      max-width: 150px;
      img {
        width: 100%;
      }
    }
  }
  .desktop-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;
    max-width: 1000px;
  }
  .steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .step__header {
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-gap: 15px;
    height: 75px;
    .icon {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .arrow {
      display: grid;
      justify-content: end;
      align-items: center;
    }
  }
}
.checkout__mobile {
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.wrap {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  h2 {
    font-size: 22px;
  }
}
.confirm {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: grid;
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto 15px;
}
.checkout-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-width: 1000px;
  button {
    text-align: right;
  }
  .back {
    text-align: right;
  }
  .support {
    text-align: right;
  }
}
.payment,
.review {
  background-color: #ffffff;
  max-width: 1000px;
  ul {
    margin-bottom: 0px;
  }
}
.radio-img {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.delivery-dates-wrap {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  .delivery-dates {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 0px 15px;
    cursor: pointer;
    .delivery-date {
      display: flex;
      justify-content: center;
      flex-flow: column;
      min-width: fit-content;
      padding: 0px 5px;
      border: 1px solid #eeeeee;
      border-radius: 8px;
      height: 85px;
      align-content: center;
      text-align: center;
      margin-right: 15px;
      span:first-child {
        font-size: 18px;
        font-weight: 900;
      }
      span:nth-child(2) {
        font-size: 14px;
      }
    }
  }
}
.active {
  background-color: #50E3C2;
  color: #ffffff;
  border: 0;
}
.delivery-times {
  height: 650px;
  @media (min-width: 640px) {
    height: 100%;
  }
  ul {
    padding: 0;
    li {
      cursor: pointer;
      list-style-type: none;
      height: 50px;
      display: flex;
      flex-flow: row;
      align-content: center;
      align-items: center;
      padding: 0 15px;
      span {
        font-size: 16px;
        min-width: 46%;
      }
      .price {
        text-align: right;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}
.address {
  max-width: 1000px;
  margin: 0 auto 15px;
}
.addresses {
  margin-bottom: 15px;
}
.cards,
.addresses {
  display: grid;
  grid-gap: 15px;
  .address {
    grid-template-columns: 1fr 30px !important;
  }
  .card,
  .address {
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 15px;
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    .card-image {
      img {
        width: 100%;
      }
    }
    .number,
    span {
      color: #9b9b9b;
      font-size: 14px;
    }
    .selected {
      display: grid;
      justify-content: center;
      align-content: center;
      .outer-circle {
        width: 20px;
        height: 20px;
        border: 1px solid #e4e4e4;
        border-radius: 100%;
        align-content: center;
        justify-content: center;
        display: grid;
      }
      input {
        display: none;
      }
    }
  }
  .active {
    background-color: #ffffff;
    border: 2px solid #50E3C2;
    .number,
    span {
      color: #50E3C2;
    }
    .selected {
      .outer-circle {
        border: 2px solid #50E3C2;
        .inner-circle {
          height: 10px;
          width: 10px;
          background-color:#50E3C2;
          border-radius: 100%;
        }
      }
    }
  }
}
.save-card {
  display: grid;
  height: 50px;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #50E3C2;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.review-order {
  display: grid;
  height: 50px;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #F83E40;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.delivery-list-wrap:last-child {
  padding-bottom: 0px;
}
.delivery-details,
.payment-details {
  padding: 0;
  li {
    margin: 0px -15px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 15px 1fr 30px;
    grid-gap: 15px;
    padding: 15px 15px 30px 15px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    // &:first-child {
    //   padding-top: 0;
    // }
    p {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
    }
    span {
      color: #9b9b9b;
      font-size: 14px;
    }
    .arrow {
      display: grid;
      justify-items: end;
    }
    .icon {
      width: 12px;
      position: relative;
      bottom: 3px;
    }
  }
}
.coupon {
  border-bottom: 1px solid #EFEFEF;
  padding: 0px 15px 15px 15px;
  @media (min-width: 640px) {
    padding: 30px 15px;
  }
}
.border-b-1 {
  border-bottom: 1px solid #EFEFEF;
}
.tip {
  padding: 15px;
  .heading {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    h2 {
      margin-bottom: 0;
    }
    span {
      text-align: right;
    }
  }
  p {
    font-size: 14px;
  }
  .tip-amounts {
    display: flex;
    justify-content: space-between;
    @media (min-width: 640px) {
      justify-content: flex-start;
      li {
        margin-right: 15px;
      }
    }
    padding-left: 0px;
    li {
      width: 68px;
      height: 63px;
      list-style-type: none;
      cursor: pointer;
      color: #B5B5B5;
      border: 1px solid #C4C4C4;
      height: 50px;
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      font-weight: 600;
    }
    .active {
      background-color: #50E3C2;
      color: #ffffff;
      border: 0;
    }
  }
  .tip-other {
    input {
      height: 50px;
      border: 1px solid #e4e4e4;
      border-radius: 8px;
      display: grid;
      align-content: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  margin-bottom: 30px;
  h2 {
    margin-bottom: 0;
  }
  span {
    text-align: right;
    font-weight: 900;
    font-size: 22px;
  }
}
.pay {
  display: grid;
  padding: 15px;
  button {
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    border-radius: 8px;
    background-color: #F83E40;
    height: 50px;
    display: grid;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    align-content: center;
    justify-content: center;
  }
}
</style>

<script>
import { required } from 'vuelidate/lib/validators';
import { mapActions, mapGetters } from 'vuex';
import api from '../mixins/api';
import { identify } from '../mixins/analytics';

export default {
  filters: {
    phoneNumberFilter(value) {
      return value.replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      giftDetailsIsShown: false,
      couponInputIsShown: false,
      addressChanged: false,
      storeClosed: false,
      isLoading: false,
      pageLoading: true,
      activeDate: 0,
      activeTime: 0,
      availableDeliveryTimes: [
        {
          date: '',
          regularTimeSlots: [
            {
              hour: '',
            },
          ],
        },
      ],
      orderStep: 1,
      unitNumber: '',
      businessName: '',
      instructions: '',
      phoneNumber: '',
      activeTip: 0,
      postalCodeIsValid: false,
      couponCode: '',
      tips: [
        {
          title: '10%',
          value: 0.1,
        },
        {
          title: '15%',
          value: 0.15,
        },
        {
          title: '20%',
          value: 0.20,
        },
        {
          title: 'Other',
          value: 5,
        },
      ],
      closedForTheDay: false,
      desktopAddressIsShown: false,
      desktopDeliveryDateTimeIsShown: false,
      desktopPhoneNumberIsShown: false,
      desktopInstructionsIsShown: false,
      desktopPaymentIsShown: false,
      desktopCouponIsShown: false,
      serviceFee: 500,
      gift: {
        firstName: null,
        lastName: null,
        email: null,
        phoneNumber: null,
      },
      cartItems: [],
    };
  },
  computed: {
    giftContainsCard() {
      const prodCardArr = ['20093', '20092', '20091', '20090', '20089', '20088', '20087'];
      const card = this.cart.attributes.products.map(product => prodCardArr.includes(product.id));
      return card.includes(true);
    },
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    categories() {
      return JSON.stringify(JSON.parse(this.pageAttributes).categories);
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
    giftOptions() {
      return this.$store.getters.giftOptions;
    },
    addAddressIsShown() {
      return this.$store.state.v3.addAddressIsShown;
    },
    tipAmount: {
      get() {
        if (this.activeTip === 3) {
          return this.tips[3].value * 100;
        }
        return this.tips[this.activeTip].value * this.cart.attributes.subTotal;
      },
    },
    orderDateTime() {
      return `${this.availableDeliveryTimes[this.activeDate].date} ${this.availableDeliveryTimes[this.activeDate].regularTimeSlots[this.activeTime].hour}:00:00`;
    },
    customer() {
      return this.$store.getters.customer;
    },
  },
  created() {
    zE('webWidget', 'hide');
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    await this.getCustomer();

    if (this.inventoryId !== '11' && inventoryId !== '23') {
      this.orderStep = 1;
    }
    this.getAvailableDeliveryTimes();
    this.checkIfStoreClosed();
    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    checkIfStoreClosed() {
      const now = moment();
      let closingTime = moment({ hour: 21, minute: 30 });

      if (now.isoWeekday() == 7) {
        closingTime = moment({ hour: 18 });
      }

      if (closingTime.diff(now, 'minutes') <= 0) {
        this.storeClosed = true;
      }
    },
    stepBack() {
      if ((this.inventoryId === '11' || this.inventoryId === '23') && this.orderStep === 6) {
        this.orderStep = 5;
      } else if ((this.inventoryId === '11' || this.inventoryId === '23') && this.orderStep === 5) {
        this.orderStep = 7;
      }
      if (this.orderStep !== 1) {
        this.orderStep = parseInt(this.orderStep) - 1;
      } else {
        location.href = `https://${this.subDomain}.${this.domain}/`;
      }
    },
    toggleCouponInput() {
      this.couponInputIsShown = !this.couponInputIsShown;
    },
    async getCustomer() {
      await this.$store.dispatch('getCustomer')
        .then((response) => {
          this.pageLoading = false;
        });
    },
    async getAvailableDeliveryTimes() {
      const inventoryId = this.$cookie.get('inventoryId', { domain: this.domain }) || 1;

      await api().get(`inventories/${inventoryId}/available-delivery-times`)
        .then((res) => {
          this.availableDeliveryTimes = res.data.data;

          if (this.availableDeliveryTimes[0].regularTimeSlots.length < 1 && this.inventoryId !== '11' && inventoryId !== '23') {
            this.activeDate = 1;
            this.closedForTheDay = true;
          }
        }).catch((error) => {
          this.cardErr = error.response.data.errors;
        });
    },
    setDeliveryDate(index, deliveryDate) {
      this.activeDate = index;
      this.deliveryDate = deliveryDate.date;
    },
    setDeliveryTime(value) {
      this.activeTime = value;
    },
    setCoupon(value) {
      // this.isLoading = true;

      const data = {
        userId: this.user.id,
        cartId: this.cart.id,
        payload: {
          couponCode: value,
        },
      };

      this.$store.dispatch('updateCart', data)
        .then((response) => {
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
          alert('Sorry, this coupon code is invalid');
          this.isLoading = false;
        });
    },
    setTip(value) {
      this.activeTip = value;
      this.tipAmount = this.tips[value].value;
    },
    setTipManually(value) {
      this.tipAmount = Number(value);
    },
    checkout() {
      this.isLoading = true;
      let isGift = false;
      let giftDetails = null;

      if (this.inventoryId === '11' || this.inventoryId === '23') {
        isGift = true;
        giftDetails = {
          firstName: this.gift.firstName,
          lastName: this.gift.lastName,
          email: this.gift.email,
          phoneNumber: this.gift.phoneNumber,
          giftOptions: [
            this.giftOptions.card.id,
            this.giftOptions.tag.id,
          ],
          personalMessage: this.giftOptions.personalMessage,
        };
      }

      const anonymousId = window.analytics.user().anonymousId();

      axios({
        method: 'post',
        url: `https://api.${this.domain}/v3/runner/payment/create`,
        data: {
          data: {
            attributes: {
              inventoryId: this.inventoryId,
              anonymousId,
              userId: this.user.id,
              tip: this.tipAmount,
              device: 1,
              orderDateTime: this.orderDateTime,
              appVersion: 'Version 3.02',
              isGift,
              giftDetails,
            },
          },
        },
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
      })
        .then((response) => {
          this.isLoading = false;
          this.addressChanged = false;

          location.href = `${`https://${this.subDomain}.${this.domain}/confirmation?orderId=`}${response.data.data.id}&storeId=${this.store.id}`;
        }).catch((error) => {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
          if (error.response.data.errors.error === 'It looks like you\'ve changed your address. Please create a new cart based upon your NEW location\'s inventory by going back to the storefront.') {
            this.addressChanged = true;
          }
        });
    },
    toggleZenDesk() {
      zE('webWidget', 'toggle');
    },
    toggleDesktopAddress() {
      this.desktopAddressIsShown = !this.desktopAddressIsShown;
    },
    toggleDesktopGiftDetails() {
      this.giftDetailsIsShown = !this.giftDetailsIsShown;
    },
    toggleDesktopDeliveryDateTime() {
      this.desktopDeliveryDateTimeIsShown = !this.desktopDeliveryDateTimeIsShown;
    },
    toggleDesktopPhoneNumber() {
      this.desktopPhoneNumberIsShown = !this.desktopPhoneNumberIsShown;
    },
    toggleDesktopInstructions() {
      this.desktopInstructionsIsShown = !this.desktopInstructionsIsShown;
    },
    toggleDesktopPayment() {
      this.desktopPaymentIsShown = !this.desktopPaymentIsShown;
    },
    toggleDesktopCoupon() {
      this.desktopCouponIsShown = !this.desktopCouponIsShown;
    },
    updatePhoneNumber(e) {
      this.phoneNumber = e.target.value;
    },
    setStoreCookie() {
      this.$cookie.delete('storeId', { domain: this.domain });
      this.$cookie.set('storeId', this.store.id, { domain: this.domain });
    },
    async setInstructions(e) {
      const instructions = e.target.value;
      const addressId = this.selectedAddress.id;
      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });
      const payload = {
        data: {
          type: 'addresses',
          id: addressId,
          attributes: {
            instructions,
          },
        },
      };

      try {
        const response = await api().put(`users/${userId}/addresses/${addressId}`, payload);

        this.$store.dispatch('getUser', {
          accessToken,
          userId,
        });
      } catch (error) {
        console.error(error);
      }
    },
    setGiftMessage() {
      this.$store.commit('SET_GIFT_MESSAGE', document.querySelector('#personalMessage').value);
    },
    sendGACheckout() {
      this.cart.attributes.products.forEach((p) => {
        const item = {};
        item.id = String(p.id);
        item.name = p.title;
        item.price = (p.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        item.brand = p.producer || '';
        item.category = p.category || '';
        item.variant = p.packaging;
        item.quantity = p.quantity;
        item.dimension1 = String(this.store.id);
        this.cartItems.push(item);
      });

      window.dataLayer.push({
        event: 'checkout',
        ecommerce: {
          checkout: {
            actionField: { step: 1 },
            products: this.cartItems,
          },
        },
      });
    },
  },
};
</script>
