<template>
  <div
    id="payment-methods">
    <master-layout
      v-if="store"
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div class="box-wrap">
        <div
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="payment-methods">
          <div class="title mb-20 font-medium">
            Payment Methods
          </div>
          <!-- address list-->
          <moon-loader-wrapper
            :is-loading="isLoading"/>
          <notifications
            group="errors"
            position="bottom left" />
          <div
            v-if="customer.attributes.sources.total_count !== 0"
            class="grid grid-gap-15">
            <div
              v-for="(card, index) in customer.attributes.sources.data"
              :key="index"
              class="cards cursor-pointer"
              @click="setCard(card.id)">
              <img
                v-if="card.id === customer.attributes.default_source"
                class="radio-img"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonRed.png"
                alt="">
              <img
                v-else
                class="radio-img"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonGrey.png"
                alt="">
              <div class="card-image">
                <img
                  v-if="card.brand === 'Visa'"
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/visa.png"
                  alt="">
                <img
                  v-else-if="card.brand === 'MasterCard'"
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138560/runner/stores/mastercard.png"
                  alt="">
                <img
                  v-else-if="card.brand === 'American Express'"
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/amex.png"
                  alt="">
                <img
                  v-else
                  class="w-30"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/genericCard.png"
                  alt="">
              </div>
              <div class="info whitespace-no-wrap">
                <div class="number text-right">
                  •••• •••• •••• {{ card.last4 }}
                </div>
              </div>
              <button-component
                :fill="false"
                :color="'grey'"
                :text="'REMOVE'"
                :width="'100px'"
                :height="'30px'"
                :font-size="'12px'"
                class="flex justify-end"
                @click.native="deleteCard(card.id)"/>
            </div>
            <div class="button-wrap">
              <button-component
                v-show="!addPaymentIsShown"
                :text="'Add New Payment'"
                :font-size="'13px'"
                :font-weight="'100'"
                :letter-spacing="'0px'"
                :color="'red'"
                :fill="false"
                :width="'300px'"
                :height="'40px'"
                :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053400/runner%20v4/icons/IconPlusRed.png'"
                :icon-width="'15px'"
                :icon-spacing="'10px'"
                class="add-btn"
                @click.native="toggleAddPaymentIsShown(true)"
              />
            </div>
          </div>
          <div v-else>
            <div class="grid">
              <button
                v-show="!addPaymentIsShown"
                class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
                @click="toggleAddPaymentIsShown(true)">
                <span v-if="!isLoading">
                  Add Card
                </span>
                <pulse-loader
                  :loading="isLoading"
                  color="#000000"
                  size="10px"/>
              </button>
              <button
                v-show="addPaymentIsShown"
                class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
                @click="toggleAddPaymentIsShown(false)">
                Close
              </button>
            </div>
          </div>
          <div
            v-if="addPaymentIsShown"
            class="add-payment">
            <h2>
              Add A Payment Method
            </h2>
            <p>
              Please add a credit card or a Visa/Mastercard debit card to your account. We do not accept cash payments or payment upon delivery.
            </p>
            <div class="card-images">
              <img
                class="card-image"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconVisa.png">
              <img
                class="card-image"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconMastercard.png">
              <img
                class="card-image"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconAmericanexpress.png">
            </div>
            <card
              :class="{ complete }"
              :stripe="stripeKey"
              class="stripe-card mb-15"
              @change="complete = $event.complete"/>
            <p class="note">
              ** Please note that the zip/postal code requested is that associated with the payment method itself, not the delivery address.
            </p>
          </div>
          <div
            v-if="addPaymentIsShown"
            class="button-components">
            <button-component
              :fill="false"
              :color="'grey'"
              :text="'CANCEL'"
              :width="'100%'"
              :height="'35px'"
              :font-size="'12px'"
              @click.native="toggleAddPaymentIsShown(false)"/>
            <button-component
              v-if="!complete"
              :disabled="!complete"
              :fill="true"
              :color="'red'"
              :text="'SAVE NEW PAYMENT'"
              :width="'100%'"
              :height="'35px'"
              :font-size="'12px'"/>
            <button-component
              v-else-if="complete"
              :disabled="!complete"
              :fill="true"
              :color="'red'"
              :text="'SAVE NEW PAYMENT'"
              :width="'100%'"
              :height="'35px'"
              :font-size="'12px'"
              @click.native="getToken"/>
            <pulse-loader
              :loading="isLoading"
              color="#ffffff"
              size="10px"/>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.add-btn {
  display: flex;
  justify-content: center;
  @media (min-width: 640px) {
    display: unset;
    justify-content: unset;
  }
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 50px 60px;
    background: #F9F9F9;
  }
}
.block-text-bottom {
  font-style: italic;
  width: 80%;
  @media screen and (min-width: 640px) {
    width: 50%;
    padding-bottom: 20px;
  }
}
.input-box {
  border-radius: 4px;
  border: 1px #EFEFEF solid;
  padding: 10px;
  display: flex;
  width: 335px;
  margin-bottom: 10px;
  .card-image {
    margin-right: 20px;
  }
  input {
    width: 55px;
  }
}
.card-images {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-image {
  width: 35px;
}
.nav-open {
  margin-left: 250px;
}
.button-components {
  display: flex;
  flex-flow: wrap-reverse;
  margin-top: 30px;
  @media (min-width: 640px) {
    display: grid;
    position: unset;
    bottom: unset;
    left: unset;
    background: unset;
    padding: unset;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    column-gap: 20px;
    margin-top: 30px;
  }
}
.instruction-text {
  position: relative;
  bottom: -18px;
  left: -47px;
  color: #ACACAC;
}
.add-inputs {
  display: grid;
  .add-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .add-input-bar {
    border: 1px #EFEFEF solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 365px;
    font-weight: 100;
    margin-bottom: 10px;
  }
  .add-input-area {
    border: 1px #EFEFEF solid;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    width: 366px;
    height: 100px;
    font-weight: 100;
  }
}
#payment-methods {
  // background-color: #F9F9F9;
  // @media screen and (min-width: 640px) {
  //   background-color: #F9F9F9;
  //   padding-top: 20px;
  //   padding-bottom: 36px;
  //   padding-top: 20px;
  //   padding-bottom: 36px;
  // }
}
.payment-methods {
  padding: 20px;
  background-color: white;
  @media screen and (min-width: 640px) {
    border: 1px #EFEFEF solid;
    padding: 40px;
    margin-top: 25px;
    margin-right: 56px;
    margin-bottom: 15px;
    background-color: white;
    margin-top: 25px;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 15px;
  }
}
.toggle-icon {
  width: 15px;
  margin-left: 3px;
  margin-top: 2px;
  position: absolute;
  cursor: pointer;
}
.add-address-btn {
  border: 1px #f83f40 solid;
  color:red;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  cursor: pointer;
}
.edit-btns {
  margin-top: 5px;
  float: right;
  .default-btn {
    cursor: pointer;
    border: 1px #f83f40 solid;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    color: red;
    border-radius: 4px;
    padding-right: 25px;
  }
  .edit-btn {
    cursor: pointer;
    border: 1px #acacac solid;
    padding: 10px;
    padding-left: 60px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding-right: 60px;
    color: #acacac;
    border-radius: 4px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .delete-btn {
    display: inline;
    width: 15px;
    cursor:pointer;
  }
}
.title {
  font-size: 21px;
}
.options {
  margin-top: 20px;
  border-bottom: 1px #EFEFEF solid;
  display: grid;
  .addresses-list {
    margin-left: 20px;
  }
}
.button-components {
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  left: 0px;
  column-gap: 20px;
  padding: 20px;
  background: #fff;
  @media (min-width: 640px) {
    display: grid;
    position: unset;
    bottom: unset;
    left: unset;
    background: unset;
    padding: unset;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    column-gap: 20px;
    margin-bottom: 30px;
  }
}
.cards {
  display: flex;
  align-items: center;
  flex-flow: row;
  padding: 20px 30px;
  margin: 0px -30px;
  border-bottom: 1px solid #EFEFEF;
  .radio-img {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
  .card-image {
    margin-right: 10px;
  }
}
.button-wrap {
  margin-bottom: 30px;
}
.note {
  line-height: 23px;
  font-size: 14px;
  font-style: italic;
}
h2 {
  font-weight: 100;
  font-size: 20px;
}
.card-images {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-image {
  width: 35px;
}
</style>

<script>
import { Card, createToken } from 'vue-stripe-elements-plus';
import { mapActions, mapGetters } from 'vuex';
import api from '../mixins/api';

export default {
  components: {
    Card,
  },
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      complete: false,
      addPaymentIsShown: false,
    };
  },
  computed: {
    stripeKey() {
      if (window.domain === 'getrunner.io') {
        return 'pk_live_h65mTFQnbtKT7tsWkrg4I9rG';
      }
      return 'pk_test_lFJwkqmRIXGq8OCbpmQOkwkW';
    },
    customer() {
      return this.$store.getters.customer;
    },
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  created() {

  },
  async mounted() {
    try {
      if (window.innerWidth > '640') {
        this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
      }
      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.isLoading = true;
      await this.validate({
        domain: this.domain,
        storeId: this.storeId,
        secret: this.secret,
        userId,
        accessToken,
      });

      await this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
      await this.getCustomer();
      this.isLoading = false;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    getToken() {
      this.isLoading = true;

      createToken()
        .then((data) => {
          this.addCard(data.token.id);
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async addCard(token) {
      const payload = {
        data: {
          type: 'stripe tokens',
          id: token,
        },
      };

      await api().post(`users/${this.user.id}/stripe/customer/sources`, payload)
        .then((response) => {
          this.addPaymentIsShown = false;
          this.getCustomer()
            .then((response) => {
              this.isLoading = false;
              this.addPaymentIsShown = false;
              this.complete = false;
            })
            .catch((error) => {
              this.$notify({
                group: 'errors',
                type: 'error',
                title: 'Error',
                text: error.response.data.errors.error,
                duration: -1,
              });
            });
        }).catch((error) => {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async setCard(value) {
      this.isLoading = true;
      this.activeCard = value;
      const payload = {
        data: {
          type: 'stripe sources',
          id: value,
        },
      };

      await api().put(`users/${this.user.id}/stripe/customer/sources/${value}`, payload)
        .then((response) => {
          this.getCustomer();
          this.isLoading = false;
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async deleteCard(value) {
      this.isLoading = true;
      const payload = {
        data: {
          type: 'stripe sources',
          id: value,
        },
      };

      await api().delete(`users/${this.user.id}/stripe/customer/sources/${value}`, payload)
        .then((response) => {
          this.getCustomer();
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
      this.isLoading = false;
    },
    async getCustomer() {
      this.isLoading = true;
      try {
        const response = await api().get(`users/${this.user.id}/stripe/customer`);

        this.$store.commit('SET_CUSTOMER', response.data.data);
      } catch (error) {
        console.error(error);
      }
      this.isLoading = false;
    },
    toggleAddPaymentIsShown(value) {
      this.addPaymentIsShown = value;
    },
  },
};
</script>
