<template v-if="productStores">
  <div id="search-results">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div class="wrap">
        <div :class="{ sideNavOpen: activeModal == 'sideNav' }">
          <div>
            <div class="result-text">
              <h5>
                Search results for
              </h5>
              <span v-if="numTotalProducts === 0">
                &nbsp; "{{ query }}" ({{ numTotalProducts }} match)
              </span>
              <span v-else>
                &nbsp; "{{ query }}" ({{ numTotalProducts }} matches)
              </span>
            </div>
            <h2 class="mb-0 fw-600">
              Available in the following stores:
            </h2>
            <div
              v-for="store in productStores"
              :key="store.id"
              class="stores-wrap">
              <div class="store-title-wrap">
                <img
                  :src="store.attributes.storeLogo"
                  style="width: 34px; margin-right: 11px;"
                  alt="">
                {{ store.attributes.title }}
              </div>
              <div
                class="category"
                style="margin-bottom: 30px;">
                <product-card
                  v-for="(product, index) in store.attributes.products"
                  :domain="domain"
                  :key="index"
                  :user-id="user ? user.id : null"
                  :index="index + 1"
                  :query="query"
                  :stores="stores"
                  :sub-domain="store.attributes.subDomain"
                  :product="product"
                  :store-id="store.id"
                  is-search/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="productStores.length <= 0"
        class="empty">
        <img
          class="mb-15"
          style="width: 200px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconClosed.png"
          alt="">
        <p>
          Sorry, but we cannot find this product in an inventory near you.
        </p>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.stores-wrap {
  padding: 30px 0px 0px 0px;
  border-bottom: 1px solid #EFEFEF;
}
.stores-wrap:last-child {
  border-bottom: unset;
}
.store-title-wrap {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: flex-end;
}
.result-text {
  display: flex;
  flex-flow: row;
  h5 {
    font-weight: 100;
    font-size: 16px;
  }
  span {
    font-weight: bolder;
    font-size: 16px;
  }
}
.empty {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 150px;
  }
}
.wrap {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.category {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 200px);
  }
}
.pagination {
  display: grid;
  padding: 0 30px;
  justify-content: end;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  max-width: 1000px;
  margin: 0 auto;
  a {
    height: 50px;
    background-color: red;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 8px;
    color: #ffffff;
  }
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';
import { productsSearched, identify } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      query: '',
      products: [],
      impressions: [],
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
      'addressIsValid',
    ]),
    productStores() {
      const stores = [];
      if (this.products) {
        this.products.forEach((p) => {
          p.attributes.stores.forEach((s) => {
            s.attributes.products = [];

            if (!_.some(stores, s)) {
              s.attributes.products.push(p);
              stores.push(s);
            } else {
              const t = stores.find(store => store.id == s.id);
              t.attributes.products.push(p);
            }
          });
        });
      }
      if (stores && stores.length > 0) {
        return _.orderBy(stores, ['id'], ['desc']);
      }
      return [];
    },
    numTotalProducts() {
      let total = 0;
      this.productStores.forEach((s) => {
        total += s.attributes.products.length;
      });
      return total;
    },
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
    });

    const params = (new URL(document.location)).searchParams;
    const query = params.get('q');
    this.query = query;
    let postalCode;

    if (!this.addressIsValid || !this.selectedAddress) {
      postalCode = 'M6J 2M5';
    } else {
      postalCode = this.selectedAddress.attributes.postalCode;
    }

    await this.getProducts(query, postalCode);

    this.segmentIdentify();
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    productsSearched,
    ...mapActions([
      'validate',
    ]),
    goToHome() {
      window.location.href = '/';
    },
    toggleSearch() {
      this.$store.commit('TOGGLE_SEARCH_STATUS');
    },
    async getProducts(query, postalCode) {
      const data = {
        query,
        storeId: this.storeId,
        inventoryId: this.inventoryId,
      };
      const response = await axios.get(`https://api.${this.domain}/runner/v4/search?q=${query}&postalCode=${postalCode}`)
        .catch((error) => {
          console.log(error);
        });

      const products = typeof response !== 'undefined' ? response.data.data : null;
      this.products = products;
      this.isLoading = false;
      this.productsSearched(data);
      if (products) {
        this.sendGAProductImpressions(products);
      }
    },
    sendGAProductImpressions(products) {
      products.forEach((p, index) => {
        const impression = {};
        impression.id = String(p.id);
        impression.name = p.attributes.title;
        impression.price = (p.attributes.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        impression.retailPrice = (p.attributes.retailPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        impression.brand = p.attributes.producer || '';
        impression.category = p.attributes.category || '';
        impression.variant = p.attributes.packaging;
        impression.list = `Search: ${this.query}`;
        impression.position = index + 1;
        impression.dimension1 = String(this.storeId);
        this.impressions.push(impression);
      });

      window.dataLayer.push({
        ecommerce: {
          currencyCode: 'CAD',
          impressions: this.impressions,
        },
      });
    },
  },
};
</script>
