<template>
  <div id="order-details">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        class="box-wrap overflow-x-hidden">
        <div
          v-if="selectedOrder && Object.keys(selectedOrder).length > 0"
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="order-details">
          <div class="order-details-grid">
            <div class="title-header">
              <!-- <img
            :src="icons.arrow"
            style="transform: rotate(180deg);"
            @click="toggleOrderDetails({})"> -->
              <a
                style="cursor:pointer; color: #ADADAD;"
                href="/account/orders">
                Order History
              </a>
              <img
                :src="icons.arrow"
                style="width: 10px;">
              <span style="color: black;">
                Order Details (#{{ orderId }})
              </span>
            </div>
            <div class="order-details-info-wrap">
              <span class="order-store-icon">
                <img :src="icons.lcbo">
              </span>
              <div class="order-details-info">
                <div style="font-size: 20px; font-weight: 400;">
                  Order #{{ selectedOrder.id }}
                </div>
                <div
                  v-if="selectedOrder.attributes"
                  class="order-placed">
                  Order placed {{ selectedOrder.attributes.createdAt | moment('LLLL') }}
                </div>
                <div
                  v-else
                  class="order-placed">
                  Order placed N/A
                </div>
              </div>
            </div>
            <div
              class="status-text">
              Status
            </div>
            <div class="flex flex-col justify-center items-center py-50 sm:py-0 sticky">
              <div
                v-if="selectedOrder.attributes.status === 5"
                class="flex flex-col justify-center items-center p-10">
                <img
                  :src="icons.crossmark"
                  class="mb-15">
                <div
                  class="inprogress-text mb-15">
                  Cancelled
                </div>
              </div>
              <div
                v-else-if="selectedOrder.attributes.status === 7"
                class="flex flex-col justify-center items-center p-10">
                <img
                  :src="icons.checkmark"
                  class="w-33 mb-15">
                <div
                  v-if="selectedOrder.attributes.scheduledTime"
                  class="inprogress-text mb-15">
                  Scheduled for {{ selectedOrder.attributes.scheduledTime | moment('LLLL') }}
                </div>
              </div>
              <div
                v-else
                :class="{'relative': activeModal === 'sideNav'}"
                class="flex justify-center items-center w-full mb-50">
                <li
                  :class="{'active': selectedOrder.attributes.status === 0}">
                  1
                  <span class="text-black">
                    Processing
                  </span>
                </li>
                <li
                  :class="{'active': selectedOrder.attributes.status === 1}">
                  2
                  <span class="text-black">
                    Picking up
                  </span>
                </li>
                <li
                  :class="{'active': selectedOrder.attributes.status === 2}">
                  3
                  <span class="text-black">
                    En route
                  </span>
                </li>
                <li
                  :class="{'active': selectedOrder.attributes.status >= 3}">
                  4
                  <span class="text-black">
                    Delivered
                  </span>
                </li>
              </div>
              <div class="flex flex-col">
                <button-component
                  :fill="false"
                  :color="'grey'"
                  :text="'CONTACT SUPPORT'"
                  :width="'100%'"
                  :height="'35px'"
                  :font-size="'12px'"
                  class="mb-15 sm:px-0 px-15"
                  @click.native="goToSupport"/>
                <p class="mb-0 sm:px-0 px-15">
                  ** Please contact our support team for any necessary changes needed.
                </p>
              </div>
            </div>
            <div class="order-details-points-wrap">
              <span>
                <img
                  :src="icons.star"
                  style="width: 36px;">
              </span>
              <span>
                <img
                  :src="icons.arrow"
                  class="arrow-icon">
              </span>
              <div class="order-details-points">
                <div style="font-size: 21px; font-weight: 300;">
                  Earn more points!
                </div>
                <div style="font-size: 13px;">
                  By leaving a product review
                </div>
              </div>
              <span class="desktop-review">
                <!-- <span style="color: #ACACAC; font-size: 18px; text-decoration: underline;">
                Write a review
              </span> -->
                <span style="color: #ACACAC; font-size: 18px;">
                  (Under construction)
                </span>
                <!-- <img
                :src="icons.greystar"
                style="width: 14px; margin-left: 4.5px; margin-bottom: 7px;"> -->
              </span>
            </div>
            <div class="order-details-delivery-wrap">
              <div style="font-size: 21px;">
                Delivery Details
              </div>
              <div class="order-details-delivery-grid">
                <div class="order-details-delivery">
                  <span>
                    <img
                      :src="icons.delivery.point"
                      style="width: 12px; height: 16px;">
                  </span>
                  <div style="display: grid; padding-left: 10px;">
                    <div>
                      {{ selectedOrder.attributes.address.address.split(',')[0] }}
                    </div>
                    <div style="color: #b1b1b1;">
                      {{ selectedOrder.attributes.address.address.split(',')[1] + ', ' + selectedOrder.attributes.address.address.split(',')[2] }}
                    </div>
                  </div>
                </div>
                <div style="display: flex; padding: 10px;">
                  <span>
                    <img
                      :src="icons.delivery.clock"
                      style="width: 15px; height: 15px; margin-bottom: 4px;">
                  </span>
                  <div
                    v-if="selectedOrder.attributes.status === 3"
                    style="padding-left: 9px;">
                    Delivered
                  </div>
                  <div
                    v-else-if="selectedOrder.attributes.status === 5"
                    style="padding-left: 9px;">
                    Cancelled
                  </div>
                  <div
                    v-else
                    style="padding-left: 9px;">
                    Not yet delivered
                  </div>
                  <!-- <span v-else>
                  <div
                    v-if="!isOver2Hrs(selectedOrder.attributes.schedule_time, selectedOrder.attributes.delivered_at)"
                    style="padding-left: 10px;">
                    Less than 2h
                  </div>
                  <div
                    v-else-if="isOver2Hrs(selectedOrder.attributes.schedule_time, selectedOrder.attributes.delivered_at)"
                    style="padding-left: 10px;">
                    More than 2h
                  </div>
                </span> -->
                </div>
                <div style="display: flex; padding: 10px;">
                  <span>
                    <img
                      :src="icons.delivery.phone"
                      style="width: 15px; height: 15px; margin-bottom: 4px;">
                  </span>
                  <div style="padding-left: 10px;">
                    {{ selectedOrder.attributes.customer.phoneNumber | phoneNumber }}
                  </div>
                </div>
                <div class="button-components-wrap">
                  <button-component
                    v-if="selectedOrder.attributes.status === 3 || selectedOrder.attributes.status === 5"
                    :text="'RE-ORDER'"
                    :font-size="'12px'"
                    :color="'teal'"
                    :height="'35px'"
                    :fill="true"
                    :icon="icons.reorder"
                    :icon-width="'30px'"
                    :icon-invert="true"
                    @click.native="reOrderItems(selectedOrder.attributes.inventoryId, selectedOrder.attributes.store)"/>
                  <button-component
                    v-else
                    :text="'RE-ORDER'"
                    :font-size="'12px'"
                    :color="'teal'"
                    :height="'35px'"
                    :fill="true"
                    :icon="icons.reorder"
                    :icon-width="'30px'"
                    :icon-invert="true"
                    :disabled="true"/>
                  <button-component
                    :text="'SEND RECEIPT'"
                    :disabled="true"
                    :font-size="'12px'"
                    :height="'35px'"
                    :fill="false"
                    :color="'grey'"
                    @click.native="disabledAlert"
                  />
                </div>
              </div>
            </div>
            <div
              v-if="selectedOrder.attributes.courier"
              class="order-details-runner-wrap">
              <div style="font-size: 19px; padding-bottom: 19px;">
                Your Runner
              </div>
              <div style="display: flex;">
                <span
                  v-if="selectedOrder.attributes.courier.firstName"
                  class="runner-circle">
                  {{ selectedOrder.attributes.courier.firstName[0] }}
                </span>
                <span
                  v-else
                  class="runner-circle">
                  ?
                </span>
                <div class="order-details-runner">
                  <div
                    v-if="selectedOrder.attributes.courier.firstName"
                    class="ml-10 mt-5 text-lg">
                    {{ selectedOrder.attributes.courier.firstName + ' ' + selectedOrder.attributes.courier.lastName }}
                  </div>
                  <div
                    v-else
                    class="ml-10 mt-5 text-lg">
                    No runner currently assigned
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div style="font-size: 19px; padding: 18px 0px 24px 18px;">
                Items
              </div>
              <div class="order-details-items-wrap">
                <span
                  v-if="!showMore"
                  class="conditional-item">
                  <!-- <div
                  v-for="(content, index) in selectedOrder.attributes.items.slice(0, 2)"
                  :key="index"
                  class="images"> -->
                  <div
                    v-for="(content, index) in selectedOrder.attributes.items"
                    :key="index"
                    class="images">
                    <span
                      style="display: flex;">
                      <span>
                        <img
                          :src="content.image"
                          style="width: 69px; height: 93px;">
                      </span>
                      <div
                        style="display: grid; padding-top: 10px;"
                        class="content-info">
                        <div style="font-weight: 800; display: flex;">
                          <span style="flex: 0 0 230px;">
                            {{ content.title }}
                          </span>
                          <span
                            class="content-price"
                            style="flex: 0;">
                            ${{ content.runnerPrice / 100 }}
                          </span>
                        </div>
                        <div style="color: #ACACAC; display: flex;">
                          <span style="flex: 0 0 200px;">
                            {{ content.packaging }}
                          </span>
                          <span style="font-size: 19px; float: right; color: black; flex: 0;">
                            {{ content.quantity }}
                          </span>
                        </div>
                        <!-- <div style="font-weight: 800">
                  x substition product
                </div> -->
                      </div>
                    </span>
                  </div>
                  <!-- <button
                  v-if="selectedOrder.attributes.items.length > 3"
                  class="show-more"
                  @click="toggleShowMore()">
                  <span>
                    + {{ selectedOrder.attributes.items.length - 3 }}
                  </span>
                </button> -->
                </span>
                <span
                  v-else
                  class="conditional-item">
                  <div
                    v-for="(content, index) in selectedOrder.attributes.items"
                    :key="index"
                    class="images">
                    <span
                      style="display: flex;">
                      <span>
                        <img
                          :src="content.image"
                          style="width: 69px; height: 93px;">
                      </span>
                      <div
                        style="display: grid; padding-top: 10px;"
                        class="content-info">
                        <div style="font-weight: 800">
                          {{ content.title }}
                        </div>
                        <div style="color: #ACACAC;">
                          {{ content.packaging }}
                          <span style="font-size: 19px; float: right; color: black;">
                            {{ content.quantity }}
                          </span>
                        </div>
                        <!-- <div style="font-weight: 800">
                  x substition product
                </div> -->
                      </div>
                      <span
                        class="content-price"
                        style="">
                        ${{ content.runnerPrice / 100 }}
                      </span>
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div
              class="order-details-total-wrap">
              <div style="display: grid; row-gap: 10px;">
                <div style="display: flex;">
                  <span
                    class="total-title"
                    style="font-size: 19px; font-weight: 500;">
                    Total
                  </span>
                  <span
                    class="totals"
                    style="font-size: 19px; font-weight: 500">
                    ${{ selectedOrder.attributes.total }}
                  </span>
                </div>
                <div style="display: flex;">
                  <span class="total-title">
                    Delivery fee
                  </span>
                  <span
                    class="totals">
                    ${{ selectedOrder.attributes.delivery }}
                  </span>
                </div>
                <div style="display: flex;">
                  <span class="total-title">
                    Tip
                  </span>
                  <span
                    class="totals">
                    ${{ selectedOrder.attributes.tip }}
                  </span>
                </div>
                <div style="display: flex;">
                  <span class="total-title">
                    Tax
                  </span>
                  <span
                    class="totals">
                    ${{ selectedOrder.attributes.displayTaxTotal }}
                  </span>
                </div>
                <div style="display: flex;">
                  <span class="total-title">
                    Subtotal
                  </span>
                  <span
                    class="totals">
                    ${{ selectedOrder.attributes.subTotal }}
                  </span>
                </div>
                <div style="display: flex;">
                  <span class="total-title">
                    Points earned
                  </span>
                  <span
                    class="totals"
                    style="display: flex; margin-right: 22px;">
                    <img
                      :src="icons.star"
                      style="width: 20px;  margin-right: 5px;">
                    <span>
                      <!-- {{ totalRewardPts }} -->
                      100
                    </span>
                  </span>
                </div>
              </div>
              <div class="signature-wrap">
                <img
                  :src="selectedOrder.attributes.signature"
                  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        v-if="supportClicked"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
        class="arrow bounce fa fa-arrow-down fa-2x cursor-pointer">
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.w-33 {
  width: 33px;
}
.arrow {
  position: absolute;
  left: 50%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #F83E40;
  @media (min-width: 640px) {
    margin: 0 100px;
  }
  margin: 0 30px;
  display: inline-block;
  color: white;
  position: relative;
  span {
    color: black;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes slideInFromLeft {
  0% {
    width: 0em;
  }
  100% {
    transform: 5em;
  }
}
@keyframes slideInFromLeft2 {
  0% {
    width: 0em;
  }
  50% {
    width: 0em;
  }
  100% {
    transform: 5em;
  }
}
@keyframes slideInFromLeft3 {
  0% {
    width: 0em;
  }
  80% {
    width: 0em;
  }
  100% {
    transform: 5em;
  }
}

li::before{
  content: '';
  position: absolute;
  top: .9em;
  @media (min-width: 640px) {
    left: -16em;
    width: 17em;
  }
  left: -5em;
  width: 5em;
  background: #F7F7F7;
  z-index: -1;
}

li:nth-child(2)::before {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
li:nth-child(3)::before {
  animation: 1s ease-out 0s 1 slideInFromLeft2;
}
li:nth-child(4)::before {
  animation: 1.3s ease-out 0s 1 slideInFromLeft3;
}

li:first-child::before {
  display: none;
}

.active {
  background: #F83E40;
}

.active ~ li {
  background: #FFF;
  color: #F83E40;
  border: 1px solid #F83E40;
}

li::before {
  border: 1px solid #F83E40;
}
.active ~ li::before {
  border: 1px solid #F7F7F7;
}

.status-change {
  border-bottom: 2px solid #f83e40 !important;
}
.text-change {
  color: #fff !important;
}
.signature-wrap {
  img {
    width: 364px;
  }
}
.button-components-wrap {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @media (min-width: 640px) {
    width: 500px;
  }
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 150px;
  }
}
.show-more {
  border: 1px #ACACAC solid;
  width: 52px;
  height: 52px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 100;
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 50px 60px;
    background: #F9F9F9;
  }
}
.status-text {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  left: 15px;
  top: 10px;
  @media (min-width: 640px) {
    top: 0px;
    font-weight: 100;
  }
}
.title-header {
  margin: 10px;
  @media (min-width: 640px) {
    margin: 0px;
    color: #ADADAD;
    padding: 30px 0px 0px 16px;
  }
}
.order-details {
  @media (min-width: 640px) {
    min-width: 800px;
    .order-placed {
      display: none;
    }
    background-color: #FFFFFF;
  }
  .reorder-btn-mobile {
    cursor: pointer;
    border-radius: 4px;
    background: #58DFA9;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    @media (min-width: 640px) {
      flex: 0 0 288px;
    }
  }
  .reorder-btn-mobile-disabled {
    border-radius: 4px;
    background: #58dfa947;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    @media (min-width: 640px) {
      flex: 0 0 288px;
    }
  }
  .receipt-btn-mobile {
    cursor: pointer;
    border-radius: 4px;
    border: 1px #acacac solid;
    color: #acacac;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    margin-left: 12px;
    @media (min-width: 640px) {
      flex: 0 0 288px;
    }
  }
  .order-details-grid {
    display: grid;
  }
  .order-details-info-wrap {
    display: flex;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .order-store-icon {
      @media (min-width: 640px) {
        display: none;
        border-bottom: none;
      }
    }
    .order-details-info {
      display: grid;
      padding-left: 10px;
      @media (min-width: 640px) {
        padding-left: 0px;
      }
    }
    @media (min-width: 640px) {
      border-bottom: none;
    }
  }
  .order-details-status-wrap {
    .inprogress-text{
      font-size: 24px;
        @media (min-width: 640px) {
          font-size: 18px;
        }
    }
    .earnings-text {
      display: none;
      @media (min-width: 640px) {
        display: unset;
        font-size: 16px;
        margin-left: 187px;
      }
    }
    display:flex;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    justify-content: center;
    @media (min-width: 640px) {
      justify-content: left;
    }
    .order-details-status {
      display: grid;
      text-align: center;
      font-size: 20px;
      .status-box {
          img {
            width: 36px;
          }
          @media (min-width: 640px) {
            display: flex;
            img {
              width: 28px;
              margin-right: 16px;
            }
          }
      }
    }
  }
  .order-details-points-wrap {
    .arrow-icon {
      @media (min-width: 640px) {
        display: none;
      }
    }
    display: flex;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .order-details-points {
      display: grid;
      margin-left: 21.3px;
    }
    .desktop-review {
      display: none;
      @media (min-width: 640px) {
        margin-left: 98px;
        display: unset;
        align-self: center;
        justify-content: center;
      }
    }
  }
  .order-details-delivery-wrap {
    display: grid;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .order-details-delivery-grid {
      display: grid;
      .order-details-delivery {
      display: flex;
      padding: 10px;
     }
    }
  }
  .order-details-runner-wrap {
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .runner-circle {
      background: palevioletred;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      color: white;
    }
    .order-details-runner {

    }
  }
  .order-details-items-wrap {
    display: grid;
    border-bottom: 1px #efefef solid;
    padding-bottom: 15px;
    .content-price {
      font-weight: 600;
      font-size: 21px;
      position: absolute;
      right: 34px;
      @media (min-width: 640px) {
        position: unset;
        // margin-top: 5px;
        // margin-left: 40px;
      }
    }
    @media (min-width: 640px) {
      display: flex;
      .conditional-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        .content-price {

        }
      }
    }
    .order-details-items {

    }
  }
  .order-details-total-wrap {
    display: grid;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .total-title {
      flex: 1;
      @media (min-width: 640px) {
        flex: 0 0 255px;
      }
    }
    .totals {
      flex: 0;
      @media (min-width: 640px) {
        flex: 0;
      }
    }
    .order-details-total {
    }
  }
  @media (min-width: 640px) {
  }
}
.reorder-btn {
  @media (min-width: 640px) {
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    right: 25px;
    background: #58DFA9;
    color: white;
    width: 171px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
  }
}
.content-wrap {
  @media (min-width: 640px) {
    display: flex;
    padding-top: 33px;
    .content-box {
      display: flex;
      .content-info {
        display: grid;
      }
    }
  }
}
.order-box {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px #f1f1f1 solid;
  padding-top: 15px;
  .info {
    padding: 0px 19px 0px 19px;
  }
}
.title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  @media (min-width: 640px) {
    text-align: left;
  }
}
.arrow-icon {
  width: 16px;
  position: absolute;
  right: 20px;
  margin-top: 15px;
  @media (min-width: 640px) {
  }
}
.sub-header {
  font-size: 20px;
  margin-bottom: 31px;
}
.current-order {
  display: grid;
  padding: 22px 19px 16px 19px;
}
.your-orders {
  display: grid;
  padding: 22px 19px 16px 19px;
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      supportClicked: false,
      showMore: false,
      orders: {},
      selectedOrder: {},
      isLoading: false,
      showingOrderDetails: false,
      currentOrders: [],
      pastOrders: [],
      icons: {
        arrow: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png',
        lcbo: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1549909636/icons/LCBOicon.png',
        reorder: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavReOrder.png',
        checkmark: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561043245/runner%20v4/icons/OrderhistoryIconCheckmark.png',
        crossmark: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561047610/runner%20v4/icons/IconX.png',
        greystar: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png',
        star: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png',
        delivery: {
          point: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPin.png',
          clock: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png',
          phone: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561051301/runner%20v4/icons/CheckoutIconPhone.png',
        },
      },
      meta: {
        current_page: 1,
        last_page: null,
        prev: null,
      },
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    orderId() {
      return JSON.parse(this.pageAttributes).orderId;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
    totalRewardPts() {
      let sum = 0;
      if (this.selectedOrder.attributes) {
        for (let i = 0; i < this.selectedOrder.attributes.items.length; i++) {
          sum += (parseFloat(this.selectedOrder.attributes.items[i].rewardPoints));
        }
      }
      return sum;
    },
    currentOrdersUpdate() {
      return this.currentOrders;
    },
    pastOrdersUpdate() {
      return this.pastOrders;
    },
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    await this.getOrder(this.orderId);
    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    goToSupport() {
      this.$nextTick(() => {
        const domRect = document.querySelector('.quick-links').getBoundingClientRect();
        window.scrollTo({
          left: domRect.left + document.documentElement.scrollLeft,
          top: domRect.top + document.documentElement.scrollTop,
          behavior: 'smooth',
        });
        document.querySelector('.quick-links ul li').focus();
      });
      this.supportClicked = true;
      setTimeout(() => { this.supportClicked = false; }, 10000);
    },
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    disabledAlert() {
      alert('Under Construction.');
    },
    toggleShowMore() {
      this.showMore = !this.showMore;
    },
    isOver2Hrs(scheduleTime, deliveredAt) {
      const timeDifference = deliveredAt.duration(moment().diff(scheduleTime));
      const hours = timeDifference.asHours();
      if (hours > 2) {
        return true;
      }
      return false;
    },
    toggleOrderDetails(order) {
      this.showingOrderDetails = !this.showingOrderDetails;
      this.selectedOrder = order;
    },
    reOrderItems(inventoryId, store) {
      if (this.user.id !== null) {
        this.$store.commit('SET_INVENTORY_ID', inventoryId);

        axios({
          method: 'post',
          url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/orders/${this.selectedOrder.id}/re-order`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
          },
          data: {
            data: {
              type: 'addresses',
              attributes: {
                inventoryId,
              },
            },
          },
        })
          .then(() => {
            window.location.href = `https://${store.subDomain}.${this.domain}`;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.$cookie.set('postalCode', this.newPostalCode, { domain: this.domain });
      }
    },
    async getOrder(orderId) {
      const userId = this.$cookie.get('userId', { domain: this.domain });

      const response = await axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/users/${userId}/orders/${orderId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const order = typeof response !== 'undefined' ? response.data.data : null;
      this.selectedOrder = order;
    },
  },
};
</script>
