<template>
  <div
    v-if="user"
    id="orders">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div class="box-wrap">
        <div
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="orders">
          <div
            class="orders">
            <div
              v-if="currentOrders.length > 0"
              class="current-order">
              <div class="sub-header">
                Current Order
              </div>
              <div
                v-for="(order, index) in currentOrdersUpdate"
                :key="index"
                class="order-box cursor-pointer"
                @click="toggleOrderDetails(order)">
                <span>
                  <img
                    :src="icons.lcbo"
                    style="padding: 0px 0px 0px 19px;">
                </span>
                <span style="display: flex;">
                  <img
                    :src="icons.arrow"
                    class="arrow-icon">
                </span>
                <div class="info">
                  <div>
                    #{{ order.id }}
                  </div>
                  <div>
                    Rewards earned:
                    <span>
                      <!-- {{ totalRewardPts(order) }} -->
                      100
                    </span>
                  </div>
                  <div
                    v-if="order.attributes.deliveredAt !== null && order.attributes.status === 3"
                    style="color: #d8d8d8;">
                    Delivered {{ order.attributes.deliveredAt | moment('LLLL') }}
                  </div>
                  <div v-else-if="order.attributes.scheduleTime !== null && order.attributes.status === 7">
                    Scheduled {{ order.attributes.scheduleTime | moment('LLLL') }}
                  </div>
                  <div v-else>
                    <span style="color: #B8B8B8; font-size: 14px;">
                      In Progress
                    </span>
                  </div>
                  <div
                    v-if="order.isShown !== true"
                    class="content-wrap">
                    <div
                      v-for="(content, index) in order.attributes.items.slice(0, 3)"
                      v-show="showingOrderUpdate[order.id] !== true || order.isShown === false"
                      :key="index"
                      class="images">
                      <span class="content-box">
                        <span>
                          <img
                            :src="content.image"
                            style="width: 69px; height: 93px; border-radius: 8px; padding-right: 2px;">
                        </span>
                        <div class="content-info">
                          <div style="font-weight: 800">
                            {{ content.title }}
                          </div>
                          <div style="color: #ACACAC;">
                            {{ content.packaging }}
                          </div>
                          <div style="font-weight: 600;">
                            ${{ content.runnerPrice / 100 }}
                          </div>
                        </div>
                      </span>
                    </div>
                    <!-- <button
                  v-if="order.attributes.items.length > 3"
                  class="show-more"
                  @click="toggleShowMore(order)"> -->
                    <button
                      v-if="order.attributes.items.length > 3"
                      class="show-more"
                      @click="toggleOrderDetails(order)">
                      <span>
                        + {{ order.attributes.items.length - 3 }}
                      </span>
                    </button>
                  </div>
                  <div
                    class="content-wrap">
                    <div
                      v-for="(content, index) in order.attributes.items"
                      v-show="showingOrderUpdate[order.id] === true || order.isShown === true"
                      :key="index"
                      class="images">
                      <span class="content-box">
                        <span>
                          <img
                            :src="content.image"
                            style="width: 69px; height: 93px; border-radius: 8px; padding-right: 2px;">
                        </span>
                        <div class="content-info">
                          <div style="font-weight: 800">
                            {{ content.title }}
                          </div>
                          <div style="color: #ACACAC;">
                            {{ content.packaging }}
                          </div>
                          <div style="font-weight: 600;">
                            ${{ content.runnerPrice / 100 }}
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="your-orders">
              <div class="title">
                Order History
              </div>
              <div
                v-for="(order, index) in pastOrdersUpdate"
                :key="index"
                class="order-box cursor-pointer"
                @click="toggleOrderDetails(order)">
                <span>
                  <img
                    :src="order.attributes.store.logo"
                    style="padding: 0px 0px 0px 19px; max-width: 50px;">
                </span>
                <span style="display: flex;">
                  <img
                    :src="icons.arrow"
                    class="arrow-icon">
                </span>
                <span
                  class="reorder-btn"
                  @click="reOrderItems(order.id, user.id, order.attributes.inventoryId, order.attributes.store)">
                  <img
                    :src="icons.reorder"
                    style="width: 30px; filter: invert(1) brightness(2);">
                  <span style="">
                    RE-ORDER
                  </span>
                </span>
                <div class="info">
                  <div>
                    #{{ order.id }}
                  </div>
                  <div>
                    Rewards earned:
                    <span>
                      <!-- {{ totalRewardPts(order) }} -->
                      100
                    </span>
                  </div>
                  <div
                    v-if="order.attributes.deliveredAt !== null && order.attributes.status === 3"
                    style="color: #d8d8d8;">
                    Delivered {{ order.attributes.deliveredAt | moment('LLLL') }}
                  </div>
                  <div v-else-if="order.attributes.scheduleTime !== null && order.attributes.status === 7">
                    Scheduled at {{ order.attributes.deliveredAt | moment('LLLL') }}
                  </div>
                  <div
                    v-else-if="order.attributes.status === 5"
                    style="color: #f83d41;">
                    Cancelled at {{ order.attributes.createdAt | moment('LLLL') }}
                  </div>
                  <div v-else>
                    Ordered at {{ order.attributes.createdAt | moment('LLLL') }}
                  </div>
                  <div class="content-wrap">
                    <div
                      v-if="order.isShown !== true"
                      class="content-wrap">
                      <div
                        v-for="(content, index) in order.attributes.items.slice(0, 3)"
                        v-show="showingOrderUpdate[order.id] !== true || order.isShown === false"
                        :key="index"
                        class="images">
                        <span class="content-box">
                          <span>
                            <img
                              :src="content.image"
                              style="width: 69px; height: 93px; border-radius: 8px; padding-right: 2px;">
                          </span>
                          <div class="content-info">
                            <div style="font-weight: 800">
                              {{ content.title }}
                            </div>
                            <div style="color: #ACACAC;">
                              {{ content.packaging }}
                            </div>
                            <div style="font-weight: 600;">
                              ${{ content.runnerPrice / 100 }}
                            </div>
                          </div>
                        </span>
                      </div>
                      <button
                        v-if="order.attributes.items.length >3"
                        class="show-more"
                        @click="toggleOrderDetails(order)">
                        <span>
                          + {{ order.attributes.items.length - 3 }}
                        </span>
                      </button>
                    </div>
                    <div
                      class="content-wrap">
                      <div
                        v-for="(content, index) in order.attributes.items"
                        v-show="showingOrderUpdate[order.id] === true || order.isShown === true"
                        :key="index"
                        class="images">
                        <span class="content-box">
                          <span>
                            <img
                              :src="content.image"
                              style="width: 69px; height: 93px; border-radius: 8px; padding-right: 2px;">
                          </span>
                          <div class="content-info">
                            <div style="font-weight: 800">
                              {{ content.title }}
                            </div>
                            <div style="color: #ACACAC;">
                              {{ content.packaging }}
                            </div>
                            <div style="font-weight: 600;">
                              ${{ content.runnerPrice / 100 }}
                            </div>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="pastOrders.length === 0">
                <div class="no-products">
                  <img
                    src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconClosed.png"
                    alt="">
                  <div>
                    You do not have any past orders.
                  </div>
                </div>
              </div>
              <pagination
                v-if="paginationData.current_page !== undefined"
                :pagination-data="paginationData"
                class="pagination"/>
            </div>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  img {
    width: 200px;
  }
}
.pagination {
  margin: 20px;
}
.images {
  flex: 1;
}
.show-more {
  display: none;
  @media (min-width: 640px) {
    display: unset;
    border: 1px #ACACAC solid;
    width: 52px;
    height: 52px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 100;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
.orders {
  @media (min-width: 640px) {
    background-color: #FFFFFF;
  }
}
.order-details {
  .reorder-btn-mobile {
    cursor: pointer;
    border-radius: 4px;
    background: #58DFA9;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    @media (min-width: 640px) {
      display: none;
    }
  }
  .receipt-btn-mobile {
    cursor: pointer;
    border-radius: 4px;
    border: 1px #acacac solid;
    color: #acacac;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    margin-left: 12px;
    @media (min-width: 640px) {
      display: none;
    }
  }
  .order-details-grid {
    display: grid;
  }
  .order-details-info-wrap {
    display: flex;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .order-details-info {
      display: grid;
      padding-left: 16px;
    }
  }
  .order-details-status-wrap {
    .status-text{
      font-size: 18px;
      position: absolute;
      left: 25px;
      display: flex;
      top: 160px;
    }
    display:flex;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    justify-content: center;
    .order-details-status {
      display: grid;
      text-align: center;
      font-size: 20px;
    }
  }
  .order-details-points-wrap {
    display: flex;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .order-details-points {
      display: grid;
      margin-left: 21.3px;
    }
  }
  .order-details-delivery-wrap {
    display: grid;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .order-details-delivery-grid {
      display: grid;
      .order-details-delivery {
      display: flex;
      padding: 10px;
     }
    }
  }
  .order-details-runner-wrap {
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
    .runner-circle {
      background: palevioletred;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      color: white;
    }
  }
  .order-details-items-wrap {
    display: grid;
    border-bottom: 1px #efefef solid;
    padding-bottom: 15px;
  }
  .order-details-total-wrap {
    display: grid;
    border-bottom: 1px #efefef solid;
    padding: 30px 16px 31px 16px;
  }
  @media (min-width: 640px) {
    display: none;
  }
}
.reorder-btn {
  display: none;
  @media (min-width: 640px) {
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    right: 66px;
    background: #58DFA9;
    color: white;
    width: 171px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
  }
}
.content-wrap {
  display: none;
  @media (min-width: 640px) {
    display: flex;
    padding-top: 20px;
    .content-box {
      display: flex;
      .content-info {
        display: grid;
      }
    }
  }
}
.order-box {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px #f1f1f1 solid;
  padding-top: 15px;
  .info {
    padding: 0px 19px 0px 19px;
  }
}
.order-box:hover {
  opacity: 0.7;
}
.title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  @media (min-width: 640px) {
    text-align: left;
    padding-top: 18px;
    margin-bottom: 15px;
    margin-left: 18px;
  }
}
.arrow-icon {
  cursor: pointer;
  width: 16px;
  position: absolute;
  right: 20px;
  margin-top: 15px;
  @media (min-width: 640px) {
    width: 25px;
    align-self: center;
    position: absolute;
    right: 65px;
    margin-top: 0px;
  }
}
.sub-header {
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 18px;
}
.current-order {
  display: grid;
  padding: 22px 19px 16px 19px;
}
.your-orders {
  display: grid;
  padding: 22px 19px 16px 19px;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 150px;
  }
}
</style>

<script>
import { mapActions, mapGetters } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },

  data() {
    return {
      showingOrder: {},
      showMore: false,
      orders: {},
      selectedOrder: {},
      isLoading: false,
      showingOrderDetails: false,
      currentOrders: [],
      pastOrders: [],
      icons: {
        arrow: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png',
        reorder: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavReOrder.png',
        checkmark: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561043245/runner%20v4/icons/OrderhistoryIconCheckmark.png',
        crossmark: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561047610/runner%20v4/icons/IconX.png',
        star: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png',
        delivery: {
          point: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPin.png',
          clock: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png',
          phone: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561051301/runner%20v4/icons/CheckoutIconPhone.png',
        },
      },
      paginationData: {},
      params: {},
      queryString: '',
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
    showingOrderUpdate() {
      return this.showingOrder;
    },
    menuStatus() {
      return this.$store.getters.menuStatus;
    },
    currentOrdersUpdate() {
      return this.currentOrders;
    },
    pastOrdersUpdate() {
      return this.pastOrders;
    },
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    await this.getUrlParameters();
    await this.getUserOrders();
    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    toggleShowMore(order) {
      if (order.isShown === null) {
        order.isShown = true;
      }
      order.isShown = !order.isShown;
      for (let i = 0; i < order.length; i++) {
        this.showingOrder[order[i].id] = order.isShown;
      }
      this.$forceUpdate();
    },
    totalRewardPts(order) {
      let sum = 0;
      for (let i = 0; i < order.attributes.items.length; i++) {
        sum += (parseFloat(order.attributes.items[i].rewardPoints));
      }
      return sum;
    },
    toggleOrderDetails(order) {
      this.showingOrderDetails = !this.showingOrderDetails;
      this.selectedOrder = order;
      location.href = `https://${this.subDomain}.${this.domain}/account/orders/${order.id}`;
    },
    reOrderItems(orderId, userId, inventoryId, store) {
      if (this.user && this.user.id !== null) {
        this.$store.commit('SET_INVENTORY_ID', inventoryId);
        const currentStore = this.stores.find(s => s.id == store.id);

        axios({
          method: 'post',
          url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/orders/${orderId}/re-order`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
          },
          data: {
            data: {
              type: 'addresses',
              attributes: {
                inventoryId: currentStore.attributes.inventoryId,
              },
            },
          },
        })
          .then((res) => {
            location.href = `https://${store.subDomain}.${domain}`;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.$cookie.set('postalCode', this.newPostalCode, { domain: this.domain });
      }
    },
    async getUrlParameters() {
      const url = new URL(window.location.href);
      const queryString = url.search;
      const searchParameters = new URLSearchParams(queryString);
      const page = searchParameters.get('page');
      if (page) {
        this.params.page = page;
      }

      this.queryString = Object.keys(this.params).map(key => `${key}=${this.params[key]}`).join('&');
    },
    async getUserOrders() {
      if (this.user) {
        const response = await axios({
          method: 'get',
          url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/orders?${this.queryString}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
        })
          .catch((error) => {
            console.log(error);
          });

        const orders = typeof response !== 'undefined' ? response.data.data : null;
        this.orders = orders;
        this.paginationData = typeof response !== 'undefined' ? response.data.meta : null;

        for (let i = 0; i < this.orders.length; i++) {
          if (this.orders[i].attributes.status !== 3 && this.orders[i].attributes.status !== 5) {
            this.currentOrders.push(this.orders[i]);
          } else if ((this.orders[i].attributes.status === 3 || this.orders[i].attributes.status === 5)) {
            this.pastOrders.push(this.orders[i]);
          }
        }
      }
    },
  },
};
</script>
