<template>
  <div v-scroll="handleScroll">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :categories="categories"
      :category="category"
      :active-modal="activeModal"
      :cart="cart"
      :off-set-top="offSetTop"
      :selected-address="selectedAddress"
      :store="store">
      <div
        id="product"
        :class="{'sideNavOpen': activeModal == 'sideNav'}">
        <div
          v-if="!isLoading && product"
          class="product">
          <div class="breadcrumbs">
            <bread-crumbs
              :bread-crumbs="breadCrumbs"
              :domain="domain"
              :sub-domain="subDomain"/>
            <span
              v-if="product"
              class="product-title">
              {{ product.title }}
            </span>
            <span v-else>
              n/a
            </span>
          </div>
          <div
            class="grid grid-2-md ai-center"
            style="grid-gap: 30px;">
            <div
              v-if="product && product.images.length == 1"
              class="image">
              <img
                v-lazy="product.images[0].image"
                :src="product.images[0].image"
                class="product-image"
                alt>
            </div>
            <div
              v-else
              class="image">
              <carousel
                :per-page="1"
                :min-swipe-distance="48">
                <slide
                  v-for="(image, index) in sortedProductImages"
                  :key="index">
                  <img
                    v-lazy="image.image"
                    :src="image.image"
                    class="product-image"
                    alt="">
                </slide>
              </carousel>
            </div>
            <div>
              <h1
                v-if="product"
                class="mb-10 fs-30 c-444444">
                {{ product.title }}
              </h1>
              <h1
                v-else
                class="mb-10 fs-30 c-444444">
                n/a
              </h1>
              <span
                class="mb-10 block c-acacac"
              >
                {{ product.packaging }} | Product #{{ product.id }}
              </span>
              <div class="flex mb-15">
                <span
                  v-if="product.average_rating"
                  class="rating mr-10 fs-14 c-444444 fw-600"
                >
                  {{ Number(product.average_rating / 100).toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 }) }}
                </span>
                <span
                  v-else
                  class="c-444444 mr-10">- -</span>
                <div
                  v-if="product.average_rating"
                  class="mr-10">
                  <star-rating
                    :rating="Number(product.average_rating)"
                    :increment="0.1"
                    :show-rating="false"
                    :star-size="10"
                    :border-width="1"
                    inactive-color="white"
                    active-color="#ffdd7a"
                    border-color="#ffdd7a"
                    read-only
                  />
                </div>
                <div
                  v-if="product.average_rating && product.reviews"
                  class="underline fs-14 c-acacac"
                  style="cursor: pointer;"
                  @click="goToReview()"
                >
                  Read all {{ product.reviews.length }} reviews
                </div>
                <div
                  v-else
                  style="cursor: pointer; border-bottom: 1px solid currentColor; text-decoration: none; padding-bottom: 1px;"
                  class="underline fs-14 c-acacac"
                  @click="goToReview()">
                  Be the first to add a review!
                </div>
              </div>
              <div v-if="product.incentives.length > 0">
                <div
                  v-for="incentive in product.incentives"
                  :key="incentive.id"
                  class="deal flex ai-center mb-5">
                  <span class="badge mr-10 fs-12">
                    DEAL
                  </span>
                  <span class="fs-12 fw-600">
                    Buy {{ incentive.attributes.minimum_quantity }}, Get
                    ${{ (incentive.attributes.savings / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} Off!!
                  </span>
                </div>
              </div>
              <div v-if="!product.limited_time_offer_price">
                <h1 class="block fs-30 mb-15 c-444444">
                  ${{ (product.runner_price / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </h1>
                <div class="tools">
                  <a
                    class="mr-15 "
                    href>
                    <img
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561149598/runner%20v4/icons/IconShare.png"
                      alt
                    >
                  </a>
                  <a
                    class="favourite"
                    @click="toggleIsUserFavourite">
                    <img
                      v-if="!isFavourite"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561047741/runner%20v4/icons/IconFavourite.png"
                      alt
                    >
                    <img
                      v-else
                      src="/assets/v2/icons/Favourites-Heart-Fill@3x.png"
                      alt="">
                  </a>
                </div>
              </div>
              <div v-else>
                <div class="flex mb-15 ai-center">
                  <h1 class="block fs-30 mb-0 mr-15 c-444444">
                    ${{ (product.limited_time_offer_price / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                  </h1>
                  <span class="linethrough sale">
                    ${{ ((product.runner_price) / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                  </span>
                </div>
              </div>
              <div class="mb-15">
                <div v-if="product.quantity > 0">
                  <img
                    style="width: 13px; margin-bottom: 1px;"
                    src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561043226/runner%20v4/icons/AccountIconCheckmark.png"
                    alt="">
                  <span class="c-4444444 fw-600">
                    Available
                  </span>
                </div>
                <div v-else-if="!admin">
                  <span class="out-of-stock">
                    Unavailable
                  </span>
                </div>
              </div>
              <add-to-cart
                :domain="domain"
                :sub-domain="subDomain"
                :store="store"
                :product="product"
                :user="user" />
            </div>
          </div>
          <div class="grid grid-2-md g-gap-30 mb-60">
            <div class="c-444444">
              <h2 class="fw-400 mb-20">
                Why You'll Love it
              </h2>
              <p class="long-description mb-10">{{ product.long_description }}</p>
              <!-- <a
              href
              class="underline c-acacac">Read more</a> -->
            </div>
            <div class="c-444444 desktop-only">
              <div
                class="flex flex-row justify-between items-center mb-20 cursor-pointer hover-bg"
                @click="specificationToggled = !specificationToggled">
                <h2
                  style="text-align: left;"
                  class="fw-400 mb-0">Specifications</h2>
                <img
                  :class="{'rotated': !specificationToggled}"
                  class="w-25"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
                  alt="">
              </div>
              <transition name="list">
                <ul
                  v-if="specificationToggled === true"
                  class="list-reset">
                  <li class="grid grid-2 mb-10">
                    <span>Alcohol/Vol</span>
                    <span
                      class="text-right c-acacac"
                    >{{ (product.alcohol_content / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}%</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>Made in</span>
                    <span class="text-right c-acacac">{{ product.producing_country || 'Unknown' }}</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>By</span>
                    <span class="text-right c-acacac">{{ product.producer || 'Unknown' }}</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>Sugar Content</span>
                    <span
                      class="text-right c-acacac"
                    >{{ (product.sugar_content / 100) }}g/L</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>Product ID</span>
                    <span class="text-right c-acacac">
                      {{ product.id }}
                    </span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>SKU</span>
                    <span class="text-right c-acacac">
                      {{ product.sku }}
                    </span>
                  </li>
                </ul>
              </transition>
            </div>
            <div
              class="c-444444 border-bottom-fix"
              style="display: none;">
              <h2 class="fw-400 mb-20">
                Key Values
              </h2>
              <div class="grid-4">
                <img
                  src="https://runner-file-manager.s3.amazonaws.com/icons/DietValueDairyFreeIcon.png"
                  alt="">
                <img
                  src="https://runner-file-manager.s3.amazonaws.com/icons/DietValueGlutenFreeIcon.png"
                  alt="">
                <img
                  src="https://runner-file-manager.s3.amazonaws.com/icons/DietValueGrainFreeIcon.png"
                  alt="">
                <img
                  src="https://runner-file-manager.s3.amazonaws.com/icons/DietValueKetoIcon.png"
                  alt="">
                <img
                  src="https://runner-file-manager.s3.amazonaws.com/icons/DietValueNutFreeIcon.png"
                  alt="">

              </div>
            </div>
            <div class="c-444444 mobile-only border-bottom-fix">
              <div
                class="flex flex-row justify-between items-center mb-20 cursor-pointer hover-bg"
                @click="specificationToggled = !specificationToggled">
                <h2
                  style="text-align: left;"
                  class="fw-400 mb-0">Specifications</h2>
                <img
                  :class="{'rotated': !specificationToggled}"
                  class="w-25"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
                  alt="">
              </div>
              <transition name="list">
                <ul
                  v-if="specificationToggled === true"
                  class="list-reset">
                  <li class="grid grid-2 mb-10">
                    <span>Alcohol/Vol</span>
                    <span
                      class="text-right c-acacac"
                    >{{ (product.alcohol_content / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}%</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>Made in</span>
                    <span class="text-right c-acacac">{{ product.producing_country || 'Unknown' }}</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>By</span>
                    <span class="text-right c-acacac">{{ product.producer || 'Unknown' }}</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>Sugar Content</span>
                    <span
                      class="text-right c-acacac"
                    >{{ (product.sugar_content / 100) }}g/L</span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>Product ID</span>
                    <span class="text-right c-acacac">
                      {{ product.id }}
                    </span>
                  </li>
                  <li class="grid grid-2 mb-10">
                    <span>SKU</span>
                    <span class="text-right c-acacac">
                      {{ product.sku }}
                    </span>
                  </li>
                </ul>
              </transition>
            </div>
            <div
              class="c-444444"
              style="display: none;">
              <h2
                style="text-align: left;"
                class="fw-400 mb-20">Specifications</h2>
              <ul class="list-reset">
                <li class="grid grid-2 mb-10">
                  <span>Alcohol/Vol</span>
                  <span
                    class="text-right c-acacac"
                  >{{ (product.alcohol_content / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}%</span>
                </li>
                <li class="grid grid-2 mb-10">
                  <span>Made in</span>
                  <span class="text-right c-acacac">{{ product.producing_country || 'Unknown' }}</span>
                </li>
                <li class="grid grid-2 mb-10">
                  <span>By</span>
                  <span class="text-right c-acacac">{{ product.producer || 'Unknown' }}</span>
                </li>
                <li class="grid grid-2 mb-10">
                  <span>Sugar Content</span>
                  <span
                    class="text-right c-acacac"
                  >{{ (product.sugar_content / 100) }}g/L</span>
                </li>
                <li class="grid grid-2 mb-10">
                  <span>Product ID</span>
                  <span class="text-right c-acacac">
                    {{ product.id }}
                  </span>
                </li>
                <li class="grid grid-2 mb-10">
                  <span>SKU</span>
                  <span class="text-right c-acacac">
                    {{ product.sku }}
                  </span>
                </li>
              </ul>
              <div
                style="display: none;"
                class="flex flex-row justify-between items-center mb-20 cursor-pointer hover-bg"
                @click="ingredientsToggled = !ingredientsToggled">
                <h2
                  style="text-align: left;"
                  class="fw-400 mb-0">Ingredients &amp; Nutritional Info </h2>
                <img
                  :class="{'rotated': !ingredientsToggled}"
                  class="w-25"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
                  alt="">
              </div>
              <transition
                name="list"
                style="display: none;">
                <ul
                  v-if="ingredientsToggled === true"
                  class="list-reset">
                  <h4 class="mb-10 text-grey">
                    About 2 servings per container
                  </h4>
                  <h4 class="mb-10">
                    Serving Size 1 can (330g)
                  </h4>
                  <div class="border-4 mb-10"/>
                  <h4 class="mb-10">
                    Amount per serving
                  </h4>
                  <div class="border-4 mb-10"/>
                  <h4 class="mb-10">
                    Calories
                  </h4>
                  <div class="border-4 mb-10"/>
                  <h4 class="mb-10 text-right">
                    %  Daily Values*
                  </h4>
                  <div class="border-1 mb-10"/>
                  <div class="flex flex-row justify-between items-center w-full">
                    <div class="w-full">
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-0">
                          Total Fat
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="ml-15 mb-10 font-hairline">
                          Saturated Fat
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="ml-15 mb-10 font-hairline">
                          Trans Fat
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-0">
                          Cholesterol
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-0">
                          Sodium
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-bold">
                            20mg
                          </h4>
                          <h4 class="mb-0 font-bold">
                            1%
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-0">
                          Total Carbohydrates
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-bold">
                            26g
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="ml-15 mb-10 font-hairline">
                          Net Carbs
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            26g
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="ml-15 mb-10 font-hairline">
                          Fiber
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            -
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            0%
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="ml-15 mb-10 font-hairline">
                          Sugar
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-hairline">
                            26g
                          </h4>
                          <h4 class="mb-0 font-hairline">
                            0%
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-0">
                          Protein
                        </h4>
                        <div class="flex flex-end justify-between min-w-100">
                          <h4 class="mb-0 font-bold">
                            0g
                          </h4>
                          <h4 class="mb-0 font-bold">
                            -
                          </h4>
                        </div>
                      </div>
                      <div class="border-1 mb-10"/>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-10 font-hairline">
                          Vitamin A
                        </h4>
                        <div class="flex flex-end">
                          <h4 class="mb-0 font-hairline">
                            0%
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-10 font-hairline">
                          Vitamin C
                        </h4>
                        <div class="flex flex-end">
                          <h4 class="mb-0 font-hairline">
                            0%
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-10 font-hairline">
                          Calcium
                        </h4>
                        <div class="flex flex-end">
                          <h4 class="mb-0 font-hairline">
                            0%
                          </h4>
                        </div>
                      </div>
                      <div class="flex flex-row justify-between items-center w-full mb-15">
                        <h4 class="mb-10 font-hairline">
                          Iron
                        </h4>
                        <div class="flex flex-end">
                          <h4 class="mb-0 font-hairline">
                            0%
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-4 mb-10"/>
                  <p class="mb-0">
                    <b> Ingredients </b>:
                    water, water, water, water, water, water,
                    water, water, water, water, water, water,
                    water, water, water, water, water, water,
                  </p>
                </ul>
              </transition>
            </div>
          </div>
          <related-products
            v-if="product.category_id && inventoryId"
            :domain="domain"
            :sub-domain="subDomain"
            :product-id="product.id"
            :category-id="product.category_id"
            :store-id="storeId"
            :inventory-id="inventoryId"/>
          <reviews
            v-if="product.id"
            :user="user"
            :active-modal="activeModal"
            :product-id="product.id"
            :domain="domain"/>
        </div>
        <div v-else>
          <div class="no-inventory">
            <img
              class="mb-15"
              style="width: 200px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconClosed.png"
              alt="">
            <p>
              Sorry, this product does not seem to be available in an inventory near you.
            </p>
            <button-component
              :disabled="isLoading"
              :is-loading="isLoading"
              :text="'CONTINUE SHOPPING'"
              :color="'red'"
              :fill="true"
              :width="'300px'"
              centered
              class="mb-30"
              @click.native="goToExplore(subDomain, domain)"/>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
// animation
.list-enter-active, .list-leave-active {
  transition: all 0.2s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}
// animation end
.border-bottom-fix {
  border-bottom: 1px solid #E8E8E8;
  margin: 0px -15px 0px -15px;
  padding: 0px 15px 15px 15px;
  @media (min-width: 640px) {
    border-bottom: unset;
    margin: unset;
    padding: unset;
  }
}
.mobile-only {
  display: unset;
  @media (min-width: 640px) {
    display: none;
  }
}
.desktop-only {
  display: none;
  @media (min-width: 640px) {
    display: unset;
  }
}
.min-w-100 {
  min-width: 100px;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  img {
    width: 85px;
  }
}
.hover-bg:hover {
  opacity: 0.75;
}
.rotated {
  transform: rotate(270deg);
}
.product-image {
  border-radius: 8px;
}
.product-title {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  @media (min-width: 640px) {
    display: inline;
    font-size: 14px;
    margin-bottom: 0px;
    position: relative;
    top: -1px;
  }
}
.sale {
  color: #f83f40;
}
.no-inventory {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  @media (min-width: 640px) {
    padding: 30px;
  }
}
#product {
  overflow-x: hidden;
}
.long-description {
  font-size: 18px;
  line-height: 25px;
  @media (min-width: 640px) {
    font-size: 14px;
    line-height: 21px;
  }
}
.breadcrumbs {
  @media (min-width: 640px) {
    display: flex;
    min-width: 105%;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.domain-nav-margin {
  margin-top: 20px;
}
.sub-domain-nav-margin {
  margin-top: 41px;
}
.nav-open {
  margin-left: 250px;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.sideNavOpen.footer {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.product {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px 15px;
}
.star {
  width: 20px;
  height: 20px;
}
.deal {
  .badge {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #008449;
    border-radius: 3px;
    padding: 2px 8px;
    color: #ffffff;
  }
  color: #008449;
}
.tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tools img {
  width: 25px;
}
.out-of-stock {
  color: #ffffff;
  padding: 4px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  background-color: #aeaeae;
}
.favourite {
  cursor: pointer;
}
</style>

<script>
import StarRating from 'vue-star-rating';
import { mapGetters, mapActions } from 'vuex';
import { Carousel, Slide } from 'vue-carousel';
import { productViewed, identify } from '../mixins/analytics';
import api from '../mixins/api';

export default {
  directives: {
    scroll: {
      inserted(el, binding) {
        const f = function (evt) {
          if (binding.value(evt, el)) {
            window.removeEventListener('scroll', f);
          }
        };
        window.addEventListener('scroll', f);
      },
    },
  },
  components: {
    StarRating,
    Carousel,
    Slide,
  },
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      reviews: [],
      isFavourite: false,
      favourites: [],
      offSetTop: false,
      specificationToggled: true,
      ingredientsToggled: true,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    productId() {
      return JSON.parse(this.pageAttributes).product.id;
    },
    product() {
      return JSON.parse(this.pageAttributes).product;
    },
    category() {
      return JSON.parse(this.pageAttributes).category;
    },
    breadCrumbs() {
      return JSON.parse(this.pageAttributes).breadCrumbs;
    },
    categories() {
      return JSON.parse(this.pageAttributes).categories;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    sortedProductImages() {
      function compare(a, b) {
        if (a.index < b.index) { return -1; }
        if (a.index > b.index) { return 1; }

        return 0;
      }

      return this.product.images.sort(compare);
    },
    admin() {
      const urlParams = new URLSearchParams(window.location.search);

      if (urlParams.has('admin')) {
        return true;
      }
      return false;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    try {
      if (window.location.href.indexOf('postalCode') === -1) {
        let url = window.location.href;
        if (url.indexOf('?') > -1) {
          url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        } else {
          url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        }
        window.location.href = url;
      }
      this.isLoading = true;

      await this.validate({
        domain: this.domain,
        storeId: this.storeId,
        secret: this.secret,
        userId: this.userId,
        accessToken: this.accessToken,
      });
      await this.getProduct();

      this.setNavFalseOnMount();
      this.segmentIdentify();
      this.isLoading = false;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    productViewed,
    goToReview() {
      window.scrollTo({
        top: document.getElementById('reviews').offsetTop,
        behavior: 'smooth',
      });
    },
    handleScroll(evt, el) {
      this.offSetTop = window.scrollY > 1000;
    },
    setNavFalseOnMount() {
      if (window.matchMedia('(max-width: 768px)').matches) {
        setTimeout(() => {
          this.$store.commit('TOGGLE_MENU_STATUS');
        });
      }
    },
    async getProduct() {
      try {
        // analytics
        const data = {
          product: this.product,
          subDomain: this.subDomain,
          domain: this.domain,
          storeId: this.storeId,
          inventoryId: this.inventoryId,
        };

        this.productViewed(data);
        // not necessary clicked but viewed so commented productClicked()
        // this.productClicked(this.product);
        if (this.isAuthenticated) {
          this.getUserFavourites();
        }
      } catch (error) {
        console.error(error);
      }
    },
    async toggleIsUserFavourite() {
      if (this.isFavourite) {
        await this.removeFromFavourites();
      } else {
        await this.addToFavourites(this.domain, this.user ? this.user.id : '', this.product ? this.product.id : '', this.storeId);
      }
    },
    async addToFavourites(domain, userId, productId, storeId) {
      if (userId && productId) {
        if (!this.isAuthenticated) {
          alert('Sorry, you must login to add this product to favourites');
        }
        const payload = {
          data: {
            type: 'user favourites',
            attributes: {
              storeId,
              productId,
            },
          },
        };

        await api().post(`https://api.${domain}/runner/v4/users/${userId}/favourites`, payload)
          .then((response) => {
            this.getUserFavourites();

            const data = {
              product: this.product,
              storeId: this.storeId,
              userId: this.user.id,
            };
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        // go to login
        // then once logged in go back same page
        this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
        window.location.href = `https://www.${domain}/login`;
      }
    },
    async removeFromFavourites() {
      const favourite = this.favourites.find(favourite => favourite.attributes.productId == this.product.id);

      await api().delete(`https://api.${this.domain}/runner/v4/users/${this.user.id}/favourites/${favourite.id}`)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getUserFavourites() {
      await api().get(`https://api.${this.domain}/runner/v4/users/${this.user.id}/favourites`)
        .then((response) => {
          this.favourites = response.data.data;
          const favourites = response.data.data;
          const isFavourite = favourites.find(favourite => favourite.attributes.productId == this.product.id);

          if (isFavourite) {
            this.isFavourite = true;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    goToExplore(subDomain, domain) {
      location.href = `https://${subDomain}.${domain}`;
    },
  },
};
</script>
