<template>
  <div>
    <div
      id="login"
      class="bg-center bg-no-repeat bg-cover content-center justify-center">
      <notifications
        group="errors"
        position="bottom left" />
      <div
        :class="{'full-height': registrationStep == 0}"
        class="login-wrap">
        <div class="login-box">
          <div class="runner-logo">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/StoreFrontNavRunner.png"
              alt="">
          </div>
          <div v-if="registrationStep === 0">
            <div class="top">
              <div class="title">
                Sign Up
              </div>
              <div
                v-if="referrer"
                class="referred">
                Your friend <span style="font-weight: 600;">{{ referrer.attributes.firstName }}</span> has given you 1000 Reward Points. Simply sign up below to use them!
              </div>
              <div class="facebook-google">
                <div
                  class="facebook"
                  @click="loginWithFacebook()">
                  <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567005141/runner%20v4/icons/IconFacebookLogo.png">
                  Continue with Facebook
                </div>
                <div
                  class="google"
                  @click="loginWithGoogle()">
                  <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567005141/runner%20v4/icons/IconGoogleLogo.png">
                  Continue with Google
                </div>
              </div>
            </div>
            <div class="divider">
              <hr>
              <span>
                OR
              </span>
              <hr>
            </div>
            <div class="bottom">
              <div class="user-info">
                <form class="email-password">
                  <div class="input-wrap">
                    <div class="header">
                      Email
                    </div>
                    <input
                      :class="{'input--error': $v.email.$error}"
                      v-model="email"
                      class="input-info h-50 rounded px-15 appearance-none border"
                      name="email"
                      type="email"
                      placeholder="example@email.com"
                      @input="setEmail($event.target.value)">
                    <div
                      v-if="(!$v.email.email || !$v.email.required) && $v.email.$dirty"
                      class="error text-red mb-15"
                    >
                      A valid email is required.
                    </div>
                  </div>
                  <div class="input-wrap">
                    <div class="header">
                      Password
                    </div>
                    <input
                      :class="{'input--error': $v.password.$error}"
                      v-model="password"
                      autocomplete="off"
                      class="input-info h-50 rounded px-15 appearance-none border"
                      name="password"
                      type="password"
                      placeholder="Password..."
                      @keyup.13="registerUser"
                      @input="setPassword($event.target.value)">
                    <div
                      v-if="!$v.password.required && $v.password.$dirty"
                      class="error text-red mb-15"
                    >
                      A password is required.
                    </div>
                  </div>
                </form>
                <!-- <button
                  :disabled="isLoading"
                  class="continue-btn"
                  @click="registerUser">
                  <span v-if="!isLoading">
                    CONTINUE
                  </span>
                  <pulse-loader
                    :loading="isLoading"
                    color="#ffffff"
                    size="10px"/>
                </button> -->
                <button-component
                  :disabled="isLoading"
                  :is-loading="isLoading"
                  :text="'CONTINUE'"
                  :color="'teal'"
                  class="mb-30"
                  @click.native="registerUser"/>
                <div class="user-exist">
                  <p class="">
                    Already have an account? <a :href="'https://www.' + domain + '/login'">Log in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div v-else-if="registrationStep === 1">
            <div class="top">
              <div
                class="font-bold text-lg text-grey cursor-pointer mb-15"
                @click="registrationStep = 0">
                Back
              </div>
              <div class="title mb-30">
                Sign Up
              </div>
            </div>
            <div class="registration-wrap">
              <div class="form-wrap">
                <div>
                  <div class="input-header">
                    First Name
                  </div>
                  <input
                    v-model="firstName"
                    :class="{ 'input--error': $v.firstName.$error}"
                    class="appearance-none h-50 px-15 rounded border"
                    name="first_name"
                    type="text"
                    placeholder="First Name"
                    @input="setFirstName($event.target.value)">
                  <div
                    v-if="!$v.firstName.required && $v.firstName.$dirty"
                    class="error text-red mb-15"
                  >
                    First name is required.
                  </div>
                </div>
                <div>
                  <div class="input-header">
                    Last Name
                  </div>
                  <input
                    :class="{ 'input--error': $v.lastName.$error}"
                    v-model="lastName"
                    class="appearance-none h-50 px-15 rounded border"
                    name="last_name"
                    type="text"
                    placeholder="Last Name"
                    @input="setLastName($event.target.value)">
                  <div
                    v-if="!$v.lastName.required && $v.lastName.$dirty"
                    class="error text-red mb-15"
                  >
                    Last name is required.
                  </div>
                </div>
                <div>
                  <div class="input-header">
                    Phone Number
                  </div>
                  <the-mask
                    :class="{ 'input--error': $v.phoneNumber.$error}"
                    :mask="['###-###-####']"
                    v-model="phoneNumber"
                    name="phone_number"
                    class="appearance-none h-50 px-15 rounded border"
                    placeholder="Phone Number"
                    type="tel"
                    @input.native="setPhoneNumber($event.target.value)"/>
                  <div
                    v-if="!$v.phoneNumber.required && $v.phoneNumber.$dirty"
                    class="error text-red mb-15">
                    A valid phone number is required.
                  </div>
                </div>
              </div>
              <div class="input-header">
                Birthday
              </div>
              <div class="form-wrap mb-30">
                <div class="f-w-3 g-g-15">
                  <select
                    id=""
                    :class="{ 'input--error': $v.birthdayMonth.$error}"
                    v-model="birthdayMonth"
                    class="appearance-none h-50 px-15 rounded bg-white border"
                    name="birthday_month"
                    @input.native="setBirthdayMonth($event.target.value)">
                    <option :value="null">Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <select
                    :class="{ 'input--error': $v.birthdayDay.$error}"
                    v-model="birthdayDay"
                    class="appearance-none h-50 px-15 rounded bg-white border"
                    name="birthday_day"
                    @input.native="setBirthdayDay($event.target.value)">
                    <option :value="null">Day</option>
                    <option
                      v-for="n in 31"
                      :value="n"
                      :key="n">{{ n }}</option>
                  </select>
                  <select
                    id=""
                    :class="{ 'input--error': $v.birthdayYear.$error}"
                    v-model="birthdayYear"
                    class="appearance-none h-50 px-15 rounded bg-white border"
                    name="birthday_year"
                    @input.native="setBirthdayYear($event.target.value)">
                    <option :value="null">Year</option>
                    <option
                      v-for="n in 80"
                      :value="thisYear - n"
                      :key="n">{{ thisYear - n }}</option>
                  </select>
                </div>
                <div
                  v-if="(!$v.birthdayYear.required && $v.birthdayYear.$dirty) || (!$v.birthdayMonth.required && $v.birthdayMonth.$dirty) || (!$v.birthdayDay.required && $v.birthdayDay.$dirty)"
                  class="error text-red mb-15 mt-15">
                  A valid birthday is required.
                </div>
              </div>
              <div class="shopping-area">
                <div class="shopping-area-wrap">
                  <span class="header">
                    Shopping area
                  </span>
                  <span class="info">
                    Store inventories vary by location, please add the postal code you will be shopping in.
                  </span>
                </div>
                <div>
                  <div class="input-header">
                    Delivery Address
                  </div>
                  <input
                    autocomplete="false"
                    name="hidden"
                    type="text"
                    style="display:none;">
                  <input
                    id="addressInput"
                    :class="{ 'input--error': $v.newAddress.$error || address_error || postal_code_address_error}"
                    v-model="newAddress"
                    class="w-full px-15 appearance-none h-50 px-15 rounded border"
                    autocomplete="off"
                    placeholder="Delivery Address..."
                    @focus="bindAutoComplete"
                    @input="setNewAddress($event.target.value)">
                  <div
                    v-if="(!$v.newAddress.required && $v.newAddress.$dirty) || address_error"
                    class="error text-red mb-15"
                  >
                    Please select an address from the dropdown.
                  </div>
                  <div
                    v-else-if="postal_code_address_error"
                    class="error text-red mb-15"
                  >
                    This address does not have a postal code. Please select again from the drop down.
                  </div>
                </div>
                <div>
                  <div class="input-header">
                    Unit Number (Optional)
                    <span class="relative">
                      <p
                        v-if="tooltipHover"
                        class="tooltip bg-white p-10 absolute w-200 border text-xs tooltip-pin-x tooltip-pin-y shadow">
                        Specific delivery instructions can be added upon checkout
                      </p>
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavSupport.png"
                        alt="tooltip"
                        class="w-15 opacity-50 cursor-pointer hover:opacity-75"
                        @mouseover="tooltipHover = true"
                        @mouseleave="tooltipHover = false">
                    </span>
                  </div>
                  <input
                    v-model="unitNumber"
                    class="w-full px-15 appearance-none h-50 px-15 rounded border"
                    placeholder="Unit Number...">
                </div>
              </div>
              <div class="is-nineteen">
                <toggle-button
                  v-model="isLegalAge"
                  :height="25"
                  :width="40"
                  class="mr-15"
                  color="#50E3C2"/>
                <span class="text-grey mb-0">
                  By checking this, you agree that you are over 19 years of age.
                </span>
              </div>
              <!-- <button
                :disabled="isLoading"
                class="continue-btn"
                @click="registerUser">
                <span v-if="!isLoading">
                  SIGN UP
                </span>
                <pulse-loader
                  :loading="isLoading"
                  color="#ffffff"
                  size="10px"/>
              </button> -->
              <button-component
                :disabled="isLoading"
                :is-loading="isLoading"
                :text="'SIGN UP'"
                :color="'teal'"
                class="mb-30"
                @click.native="registerUser"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main-footer
      :domain="domain"
      :active-modal="activeModal"/>
  </div>
</template>

<style lang="scss" scoped>
.input--error {
  border: 1px solid red;
}
.tooltip:after {
  background-color: white;
  content: "\00a0";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  transform: rotate(47deg) skew(5deg);
  -moz-transform: rotate(47deg) skew(5deg);
  -ms-transform: rotate(47deg) skew(5deg);
  -o-transform: rotate(47deg) skew(5deg);
  -webkit-transform: rotate(47deg) skew(5deg);
  box-shadow: 2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: 35px;
  bottom: -7px;
}
.tooltip-pin-x {
  left: -37px;
}
.tooltip-pin-y {
  bottom: 0px;
}
.shopping-area-wrap {
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
  .header {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .info {
    font-size: 16px;
    font-weight: 100;
  }
}
.referred {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid rgb(88, 223, 169);
  border-radius: 4px;
}
.runner-logo {
  display: none;
  @media (min-width: 640px) {
    display: inherit;
    position: relative;
    top: -25px;
    left: -100px;
    width: 150px;
  }
}
.full-height {
  min-height: 100vh;
}
.is-nineteen {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.shopping-area {
  margin-bottom: 15px;
}
.input-header {
  margin-bottom: 5px;
  font-size: 17px;
}
input {
  width: 100%;
  margin-bottom: 10px;
}
.registration-wrap {
  padding: 0px 30px 30px 30px;
}
#login {
  @media (min-width: 640px) {
    min-height: 100vh;
    background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/f_auto,q_auto/v1542216025/runner/stores/loginDesktop.jpg');
  }
}
.top {
  padding: 30px 30px 0px 30px;
}
.bottom {
  padding: 0px 30px 30px 30px;
}
.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 640px) {
    width: 600px;
    height: 120vh;
    background-color: #fff;
  }
  @media(max-height: 840px) {
    height: 1000px;
  }
  .login-box {
    width: 100%;
    @media (min-width: 640px) {
      width: 400px;
    }
    .title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
.facebook-google {
  font-size: 16px;
  img {
    margin-right: 15px;
  }
  .facebook {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .google {
    cursor: pointer;
    align-items: center;
    display: flex;
  }
}
.user-info {
  .email-password {
    .header {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .input-info{
      width: 100%;
    }
    .input-wrap {
      margin-bottom: 20px;
    }
  }
}
.remember-me-btn {
  display: none;
  align-items: center;
  margin-bottom: 25px;
}
.user-exist {
  text-align: center;
}
.continue-btn {
  cursor: pointer;
  border-radius: 4px;
  background: #58DFA9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
}
.divider {
  display: flex;
  hr {
    border-width: 0.5px;
    border-color: #f0f0f0;
    margin-top: 28px;
    width: 100%;
  }
  span {
    color: #ACACAC;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
    invitingUser: {
      type: Object,
      default: null,
      required: null,
    },
  },
  data() {
    return {
      registrationStep: 0,
      thisYear: '',
      firstName: null,
      lastName: null,
      unitNumber: null,
      phoneNumber: null,
      email: null,
      password: null,
      ageRange: null,
      avatar: null,
      birthdayMonth: null,
      birthdayDay: null,
      birthdayYear: null,
      isLegalAge: null,
      errors: {},
      isLoading: false,
      facebookId: null,
      googleId: null,
      isGift: false,
      addressIsOutOfBounds: false,
      address: {},
      newAddress: '',
      address_error: false,
      postal_code_address_error: false,
      tooltipHover: false,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    referrer() {
      return JSON.parse(this.pageAttributes).referrer || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  async mounted() {
    if (this.secret) {
      this.registrationStep = 1;
      this.setUserDetails(this.secret);
    }
    this.getCurrentYear();
    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });
  },
  validations: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
    phoneNumber: {
      required,
    },
    firstName: {
      required,
    },
    lastName: {
      required,
    },
    newAddress: {
      required,
    },
    birthdayDay: {
      required,
    },
    birthdayMonth: {
      required,
    },
    birthdayYear: {
      required,
    },
    validationGroup: ['birthdayDay', 'birthdayMonth', 'birthdayYear'],
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    setEmail(value) {
      this.email = value;
      this.$v.email.$touch();
    },
    setPassword(value) {
      this.password = value;
      this.$v.password.$touch();
    },
    setPhoneNumber(value) {
      this.phoneNumber = value;
      this.$v.phoneNumber.$touch();
    },
    setFirstName(value) {
      this.firstName = value;
      this.$v.firstName.$touch();
    },
    setLastName(value) {
      this.lastName = value;
      this.$v.lastName.$touch();
    },
    setNewAddress(value) {
      this.newAddress = value;
      this.$v.newAddress.$touch();
    },
    setBirthdayDay(value) {
      if (value !== 'Day') {
        this.birthdayDay = value;
        this.$v.birthdayDay.$touch();
      }
    },
    setBirthdayMonth(value) {
      if (value !== 'Month') {
        this.birthdayMonth = value;
        this.$v.birthdayMonth.$touch();
      }
    },
    setBirthdayYear(value) {
      if (value !== 'Year') {
        this.birthdayYear = value;
        this.$v.birthdayYear.$touch();
      }
    },
    setUserDetails(secret) {
      const user = JSON.parse(secret);

      if (user.firstName != 'Firstname') {
        this.email = user.email;
        this.firstName = user.firstName;
        this.lastName = user.lastName;
        this.avatar = user.avatar;
        this.facebookId = user.facebookId;
        this.googleId = user.googleId;
      } else {
        this.email = user.email;
        this.avatar = user.avatar;
        this.facebookId = user.lastName;
      }
    },
    async registerUser() {
      if (this.registrationStep === 1) {
        this.$v.$touch();
      }
      if (this.$v.$anyError || this.postal_code_address_error || this.address_error) {
        this.$nextTick(() => {
          const domRect = document.querySelector('.input--error') ? document.querySelector('.input--error').getBoundingClientRect() : null;
          window.scrollTo(
            domRect ? (domRect.left + document.documentElement.scrollLeft) : 0,
            domRect ? (domRect.top + document.documentElement.scrollTop) : 0,
          );
          if (document.querySelector('.input--error')) {
            document.querySelector('.input--error').focus();
          }
        });
      }
      const anonymousId = window.analytics.user().anonymousId();

      if (this.registrationStep === 1) {
        this.isLoading = true;
        if (!Object.keys(this.address).length) {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: 'Please select an address from the autopopulated list.',
            duration: 5000,
          });

          return null;
        }
        if (!this.address.postalCode) {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: 'This address does not have a postal code or is out of bounds from our delivery.',
            duration: 5000,
          });
          return null;
        }
        if (this.unitNumber) {
          this.address.unitNumber = this.unitNumber;
        }
        const payload = {
          data: {
            type: 'users',
            attributes: {
              firstName: this.firstName,
              lastName: this.lastName,
              phoneNumber: this.phoneNumber,
              dateOfBirth: `${this.birthdayYear}-${this.birthdayMonth}-${this.birthdayDay}`,
              email: this.email,
              password: this.password,
              isLegalAge: this.isLegalAge,
              gender: this.gender,
              ageRange: this.ageRange,
              avatarImage: this.avatar,
              facebookId: this.facebookId,
              address: this.address,
              anonymousId,
            },
          },
        };
        if (this.facebookId) {
          payload.facebookId = this.facebookId;
        }

        if (this.googleId) {
          payload.googleId = this.googleId;
        }

        try {
          const response = await api().post('register', payload);
          this.$cookie.set('token', response.data.data.attributes.accessToken, { domain: this.domain });
          this.$cookie.set('userId', response.data.data.attributes.user.id, { domain: this.domain });
          this.isLoading = false;

          const lastUrl = this.$cookie.get('lastUrl', { domain: this.domain });

          if (lastUrl) {
            window.location.href = lastUrl;
          } else {
            window.location.href = `https://www.${this.domain}`;
          }
        } catch (error) {
          if (error.response.data.errors.error.includes('users_email_unique')) {
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: 'A user with this email already exist.',
              duration: -1,
            });
          } else if (error.response.data.errors.error.includes('users_phone_number_unique')) {
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: 'A user with this phone number already exist.',
              duration: -1,
            });
          } else {
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: error.response.data.errors.error,
              duration: -1,
            });
          }
          this.isLoading = false;
        }
      } else {
        this.$v.$touch();
        if (this.$v.$anyError) {
          this.$nextTick(() => {
            const domRect = document.querySelector('.input--error') ? document.querySelector('.input--error').getBoundingClientRect() : null;
            window.scrollTo(
              domRect ? (domRect.left + document.documentElement.scrollLeft) : 0,
              domRect ? (domRect.top + document.documentElement.scrollTop) : 0,
            );
            if (document.querySelector('.input--error')) {
              document.querySelector('.input--error').focus();
            }
          });
        }
        if (this.$v.email.$invalid || this.$v.password.$invalid) {
          this.registrationStep = 0;
        } else {
          this.registrationStep = 1;
          this.$v.$reset();
        }
      }
    },
    getCurrentYear() {
      this.thisYear = new Date().getFullYear();
    },
    loginWithFacebook() {
      this.isLoading = true;
      window.location.href = `https://www.${this.domain}/login/facebook`;
    },
    loginWithGoogle() {
      this.isLoading = true;
      window.location.href = `https://www.${this.domain}/login/google`;
    },
    bindAutoComplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('addressInput')),
        {
          bounds: cityBounds,
          types: [
            'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
      this.newAddress = this.address.printable_address;
    },
    pipeAddress() {
      const place = this.autocomplete.getPlace();

      if (typeof place !== 'undefined' && typeof place.address_components !== 'undefined') {
        this.address_error = false;
        for (let i = 0; i < place.address_components.length; i++) {
          if (place.address_components[i].types[0] === 'postal_code') {
            place.lat = place.geometry.location.lat();
            place.lng = place.geometry.location.lng();
            place.postalCode = place.address_components[i].long_name;
            this.address_error = false;
            this.postal_code_address_error = false;

            this.validatePostalCode(this.domain, place.postalCode)
              .then((response) => {
                if (this.stores.length > 0) {
                  this.updateUserAddress(place)
                    .then((response) => {
                    });
                } else {
                  this.storeOutOfBoundsPostalCode()
                    .then((response) => {
                      this.toggleAddressIsOutOfBounds();
                      this.postalCodeCheck = false;
                    })
                    .catch((error) => {
                      console.log(error);
                    });
                }
              })
              .catch((error) => {
                console.log(error);
              });
          } else {
            this.postal_code_address_error = true;
          }
          this.address.printable_address = place.formatted_address;
          this.address.lat = place.geometry.location.lat();
          this.address.lng = place.geometry.location.lng();
          this.address.unitNumber = this.unitNumber;
          this.newAddress = this.address.printable_address;
        }
      } else {
        this.address_error = true;
      }
    },
    async validatePostalCode(domain, postalCode) {
      await this.$store.dispatch('validatePostalCode', {
        domain,
        postalCode,
      });
    },
    async storeOutOfBoundsPostalCode() {
      const postalCode = this.postalCode.substring(0, 3);

      if (postalCode) {
        try {
          await axios.post(`https://api.${this.domain}/runner/v4/postal-codes/out-of-bounds`, {
            data: {
              type: 'out of bounds postal codes',
              attributes: {
                postalCode,
              },
            },
          });
        } catch (error) {
          console.error(error);
        }
      }
    },
    storeAddressInCookie(address) {
      this.$cookie.set('selectedAddress', JSON.stringify(address), { domain: this.domain });
    },
    async updateUserAddress(address) {
      const formattedAddress = {
        type: 'user addresses',
        attributes: {
          formattedAddress: address.formatted_address,
          placeId: address.place_id,
          lat: address.lat,
          lng: address.lng,
          postalCode: address.postalCode,
        },
      };

      this.storeAddressInCookie(formattedAddress);
      this.address = formattedAddress.attributes;
    },
    toggleAddressIsOutOfBounds() {
      this.addressIsOutOfBounds = !this.addressIsOutOfBounds;
      this.isLoading = false;
    },
  },
};
</script>
