<template>
  <div id="reward-points">
    <master-layout
      :is-loading="isLoading"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        v-if="user"
        class="box-wrap">
        <div
          :class="{'sideNavOpen': activeModal == 'sideNav'}"
          class="reward-points">
          <div class="title">
            Reward Points
          </div>
          <div
            class="mobile-tabs">
            <button
              :class="{'active-tab': tabStatus === 'balance'}"
              @click="balanceTab()">
              Balance
            </button>
            <button
              :class="{'active-tab': tabStatus === 'earn'}"
              @click="earnTab()">
              Earn
            </button>
            <button
              :class="{'active-tab': tabStatus === 'history'}"
              @click="historyTab()">
              History
            </button>
          </div>
          <span v-if="chosenTab === 'balance' || desktopView === true">
            <div class="reward-pts-box-wrap">
              <div class="reward-pts-box">
                <div>
                  <div class="tooltip">
                    <img
                      style="width: 20px; float: right;"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1559159204/partners/businessIconsTooltip.svg"
                      alt=""
                      @click="toggleInfo">
                    <div
                      v-if="showingTooltip"
                      class="box">
                      <div
                        class="info">
                        {{ info }}
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="typeof user !== 'undefined'"
                  class="info-box">
                  <span class="reward-box">
                    <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052016/runner%20v4/icons/OnboardingIconRewards.png">
                    <span class="pts-box">
                      <div>
                        <span style="font-weight: 400; font-size: 21px;">
                          {{ user.attributes.firstName }}
                        </span>
                        <span style="font-size: 21px;">
                          Reward points
                        </span>
                      </div>
                      <div>
                        <span style="font-size: 35px; font-weight: 400;">
                          {{ user.attributes.rewardPointsBalance }}
                        </span>
                        <span style="color: #c3c3c3;">
                          / 1000
                        </span>
                      </div>
                    </span>
                  </span>
                  <div class="progress-bar">
                    <div
                      :style="{ width: 0.1 * user.attributes.rewardPointsBalance + '%' }"
                      style="color: #ffdd7a; background-color: #ffdd7a; border-radius: 6px">
                      .
                    </div>
                  </div>
                  <div v-if="user.attributes.rewardPointsBalance === 0">
                    Start earning some points to earn a free delivery!
                  </div>
                  <div v-else-if="user.attributes.rewardPointsBalance < 300">
                    Earn more points to earn a free delivery!
                  </div>
                  <div v-else-if="user.attributes.rewardPointsBalance < 500">
                    You're almost half way for a free delivery!
                  </div>
                  <div v-else-if="user.attributes.rewardPointsBalance === 500">
                    You're half way for a free delivery!
                  </div>
                  <div v-else-if="user.attributes.rewardPointsBalance > 500 && user.attributes.rewardPointsBalance < 1000">
                    You're almost there for a free delivery!
                  </div>
                  <div v-else-if="user.attributes.rewardPointsBalance >= 1000">
                    You have a free delivery!
                  </div>
                </div>
              </div>
              <div
                v-if="desktopView === true"
                style=" padding: 50px;"
                class="desktop-view-free-delivery">
                <div
                  style="font-size: 19px; font-weight: 300;"
                  class="sub-title free-delivery">
                  FREE Delivery
                </div>
                <div
                  style="padding-top: 35px;"
                  class="paragraph free-delivery">
                  Every 1,000 points you collect,
                  you will recieve a FREE delivery on your next purchase.
                  No fees, no strings, straight delivery with a smile.
                </div>
              </div>
            </div>
            <div class="fyi-box-wrap">
              <div class="fyi-box">
                <div class="sub-title free-delivery">
                  FREE Delivery
                </div>
                <div class="paragraph free-delivery">
                  Every 1,000 points you collect,
                  you will recieve a FREE delivery on your next purchase.
                  No fees, no strings, straight delivery with a smile.
                </div>
                <div class="sub-title">
                  Ways to earn
                </div>
                <div class="paragraph">
                  Earn 100 points on every purchase.
                  Refer you friends and write reviews to gain more points!
                </div>
              </div>
            </div>
          </span>
          <span v-if="chosenTab === 'earn' || desktopView === true">
            <div class="options">
              <span class="option-wrap">
                <div class="option">
                  <div class="option-info">
                    <span class="option-points">
                      <img
                        style="width: 40px;"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                      <span style="display: inline-grid;">
                        <span style="font-size: 21px;">
                          1000
                        </span>
                        <span>
                          points
                        </span>
                      </span>
                    </span>
                    <span class="option-headers">
                      <div class="option-header">
                        Refer a friend
                      </div>
                      <div class="option-sub-header">
                        Invite your friends. Give $10 get $10.
                      </div>
                    </span>
                  </div>
                  <div class="option-button">
                    <!-- <button class="button">
                    INVITE FRIEND
                  </button> -->
                    <button-component
                      :text="'INVITE FRIEND'"
                      :color="'teal'"
                      :fill="false"
                      @click.native="goToInvite"
                    />
                  </div>
                </div>
              </span>

              <span class="option-wrap">
                <div class="option">
                  <div class="option-info">
                    <span class="option-points">
                      <img
                        style="width: 40px;"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                      <span style="display: inline-grid;">
                        <span style="font-size: 21px;">
                          1000
                        </span>
                        <span>
                          points
                        </span>
                      </span>
                    </span>
                    <span class="option-headers">
                      <div class="option-header">
                        Invited by a friend
                      </div>
                      <div class="option-sub-header">
                        Register with the link sent from a friend or use the invite code.
                      </div>
                    </span>
                  </div>
                </div>
              </span>

              <span class="option-wrap">
                <div class="option">
                  <div class="option-info">
                    <span class="option-points">
                      <img
                        style="width: 40px;"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                      <span style="display: inline-grid;">
                        <span style="font-size: 21px;">
                          500
                        </span>
                        <span>
                          points
                        </span>
                      </span>
                    </span>
                    <span class="option-headers">
                      <div class="option-header">
                        Tag us on Instagram
                      </div>
                      <div class="option-sub-header">
                        Tag @runnerdelivery and earn points!
                      </div>
                    </span>
                  </div>
                  <div class="option-button">
                    <!-- <button class="button">
                    CONNECT TO INSTAGRAM
                  </button> -->
                    <button-component
                      :text="'CONNECT TO INSTAGRAM'"
                      :color="'teal'"
                      :fill="false"
                      @click.native="goToInstagram"
                    />
                  </div>
                </div>
              </span>

              <span class="option-wrap">
                <div class="option">
                  <div class="option-info">
                    <span class="option-points">
                      <img
                        style="width: 40px;"
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                      <span style="display: inline-grid;">
                        <span style="font-size: 21px;">
                          500
                        </span>
                        <span>
                          points
                        </span>
                      </span>
                    </span>
                    <span class="option-headers">
                      <div class="option-header">
                        First review
                      </div>
                      <div class="option-sub-header">
                        Be the first to review a product.
                      </div>
                    </span>
                  </div>
                  <div class="option-button">
                    <!-- <a
                    href="/"
                    class="button">
                    SHOP NOW
                  </a> -->
                    <button-component
                      :text="'SHOP NOW'"
                      :color="'teal'"
                      :fill="false"
                      @click.native="goToHome"
                    />
                  </div>
                </div>
              </span>
            </div>
          <!-- <div class="show-more">
            Show more
          </div> -->
          </span>
          <span v-if="chosenTab === 'history' || desktopView === true">
            <div class="reward-history">
              <div class="reward-history-title">
                Reward Points History
              </div>
              <div
                v-for="(action, index) in (typeof userRewardHistory === 'array') ? userRewardHistory.slice(0, rewardActionNumShow): []"
                v-show="userRewardHistory.length > 0"
                :key="index"
                class="reward-action">
                <div
                  v-if="typeof action !== 'undefined'"
                  class="reward-info">
                  <div
                    v-if="action.attributes.type === 0"
                    class="info-title">
                    Registration
                  </div>
                  <div
                    v-if="action.attributes.type === 1"
                    class="info-title">
                    Referred a friend
                  </div>
                  <div
                    v-if="action.attributes.type === 2"
                    class="info-title">
                    Completed an order
                  </div>
                  <div
                    v-if="action.attributes.type === 3"
                    class="info-title">
                    Cancel purchase
                  </div>
                  <div
                    v-if="action.attributes.type === 4"
                    class="info-title">
                    Rewards Points Discount
                  </div>
                  <div
                    v-if="action.attributes.type === 5"
                    class="info-title">
                    Referrer awarded
                  </div>
                  <div
                    v-if="action.attributes.type === 6"
                    class="info-title">
                    Reward Dispatch
                  </div>
                  <div
                    v-if="action.attributes.type === 7"
                    class="info-title">
                    Review approved
                  </div>
                  <div
                    v-if="action.attributes.type === 8"
                    class="info-title">
                    Promo Purchase
                  </div>
                  <div class="info-date">
                    {{ action.attributes.createdAt | moment('LLLL') }}
                  </div>
                </div>
                <span
                  v-if="typeof action !== 'undefined' && (action.attributes.type === 3 || action.attributes.type === 4)"
                  class="info-value"
                  style="color:#f83f41;">
                  {{ action.attributes.value }}
                </span>
                <span
                  v-else-if="typeof action !== 'undefined'"
                  class="info-value">
                  +{{ action.attributes.value }}
                </span>
              </div>
              <div class="p-20">
                You have no reward points.
              </div>
            </div>
            <div
              v-if="rewardActionNumShow < userRewardHistory.length"
              class="show-more"
              @click="showMoreRewardActions">
              Show more
            </div>
          </span>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
button {
  outline: none;
}
.reward-points {
  @media (min-width: 640px) {
  }
}
.desktop-view-free-delivery {
  display: none;
    @media (min-width: 640px) {
    display: unset;
    width: 100%;
  }
}
.reward-pts-box-wrap {
  @media (min-width: 640px) {
    background-color: #F9F9F9;
  }
  display: flex;
  justify-content: center;
  margin: 20px;
}
.fyi-box-wrap{
  display: flex;
  justify-content: center;
  margin: 20px;
  @media (min-width: 640px) {
    border-top: 1px #EFEFEF solid;
    border-left: 1px #EFEFEF solid;
    border-right: 1px #EFEFEF solid;
    background: white;
    margin: 0px;
  }
}
.fyi-box {
  display: grid;
  width: 90%;
  .sub-title{
    margin: 25px 0px 25px 0px;
    font-size: 22px;
    font-weight: 300;
    @media (min-width: 640px) {
      font-weight: 600;
    }
  }
  .sub-title.free-delivery {
    @media (min-width: 640px) {
      display: none;
    }
  }
  .paragraph.free-delivery {
    @media (min-width: 640px) {
      display: none;
    }
  }
  .paragraph {
    @media (min-width: 640px) {
      padding-bottom: 30px;
    }
  }
}
.show-more {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #acacac;
  @media (min-width: 640px) {
    background-color: #FFFFFF;
    border: 1px #efefef solid;
  }
}
.reward-history {
    @media (min-width: 640px) {
      padding: 40px;
      margin-top: 40px;
      background-color: #FFFFFF;
      border-top: 1px #EFEFEF solid;
      border-left: 1px #EFEFEF solid;
      border-right: 1px #EFEFEF solid;
    }
  .reward-history-title {
    display: none;
    @media (min-width: 640px) {
      padding: 20px;
      display: unset;
      font-size: 21px;
      font-weight: 600;
    }
  }
  .reward-action {
    display: flex;
    padding-bottom: 33px;
    padding-top: 33px;
    border-bottom: 1px #efefef solid;
    .reward-info {
      display: grid;
      flex: 1;
      margin-left: 23px;
      .info-title {
        font-size: 19px;
      }
      .info-date {
        font-size: 12px;
      }
    }
    .info-value {
      font-size: 26px;
      margin-right: 23px;
    }
  }
}
.options {
    @media (min-width: 640px) {
      background-color: #FFFFFF;
      // border-top: 1px #EFEFEF solid;
      border-left: 1px #EFEFEF solid;
      border-right: 1px #EFEFEF solid;
    }
    display: grid;
    grid-row-gap: 25px;
  .option-wrap {
    display: flex;
    justify-content: center;
    border-bottom: 1px #efefef solid;
    padding-bottom: 25px;
    @media (min-width: 640px) {
      padding-top: 25px;
      justify-content: left;
      margin-left: 45px;
      margin-right: 45px;
    }
  }
  .option {
    display: grid;
    width: 80%;
    grid-row-gap: 25px;
    @media (min-width: 640px) {
      // grid-template-columns: 1fr 1fr 0fr;
      grid-template-columns: 4fr 2fr 3fr;
    }
    .option-info{
      display: flex;
      .option-points {
        flex: 3;
        @media(min-width: 640px) {
          flex: 7;
        }
      }
      .option-headers {
        display: grid;
        margin-top: 3px;
        flex: 9;
        @media (min-width: 640px) {
          flex: 18;
        }
        .option-header {
          font-size: 21px;
        }
        .option-sub-header {
          font-size: 13px;
        }
      }
    }
    .option-button {
      justify-content: center;
      align-items: center;
      display: flex;
      .button {
        @media(min-width: 640px) {
          width: 100%;
        }
        width: 83%;
        color: #58dfa9;
        border-radius: 4px;
        border: 1px #58dfa9 solid;
        padding: 10px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
.reward-pts-box {
  @media(min-width: 640px) {
  }
  background-color: #FFFFFF;
  box-shadow: 0px 8px 14px -5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%;
  img {
    width: 100px;
  }
  display: inline-grid;
  .info-box {
    display: grid;
    .progress-bar {
      background-color: #efefef;
      border-radius: 6px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .reward-box {
      display: flex;
      .pts-box {
        @media(max-width: 1335px) {
          grid-template-rows: 1fr 1fr;
        }
        display: grid;
        grid-template-rows: 20px 40px;
        margin-top: 30px;
      }
    }
  }
}
.title {
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
  @media (min-width: 640px) {
    display: none;
  }
}
.mobile-tabs {
  @media (min-width: 640px) {
    display: none;
  }
  margin: 36px 10px 52px 10px;
  justify-content: center;
  display: flex;
  button {
    flex: 1;
    color: #acacac;
    cursor: pointer;
  }
  .active-tab {
    color: #ff4252;
    border-bottom: 3px solid  #F83F41;
    padding-bottom: 9px;
  }
}
.nav-open {
  @media (min-width: 640px) {
    transform: translateX(300px);
  }
}
</style>

<script>
import { mapActions, mapGetters } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      windowWidth: window.innerWidth,
      meta: {
        current_page: 1,
        last_page: null,
        prev: null,
      },
      chosenTab: 'balance',
      showingTooltip: false,
      userRewardHistory: [],
      isLoading: false,
      rewardActionNumShow: 5,
    };
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
    tabStatus() {
      return this.chosenTab;
    },
    desktopView() {
      return this.windowWidth >= 640;
    },
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });

    if (window.innerWidth > '640') {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    }

    await this.getUserRewardHistory();
    this.segmentIdentify();

    this.isLoading = false;
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
    goToInvite() {
      window.location.href = '/account/invite-friends';
    },
    goToInstagram() {
      window.location.href = 'https://www.instagram.com';
    },
    goToHome() {
      window.location.href = '/';
    },
    toggleInfo() {
      this.showingTooltip = !this.showingTooltip;
    },
    balanceTab() {
      this.chosenTab = 'balance';
    },
    earnTab() {
      this.chosenTab = 'earn';
    },
    historyTab() {
      this.chosenTab = 'history';
    },
    showMoreRewardActions() {
      this.rewardActionNumShow = this.rewardActionNumShow + 5;
    },
    async getUserRewardHistory() {
      const response = await axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/reward-points`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
        },
      })
        .catch((error) => {
          console.log(error);
        });

      this.userRewardHistory = response.data.data;
    },
  },
};
</script>
