<template>
  <div id="application-runner">
    <master-layout
      :is-loading="isLoading"
      :stores="stores"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :postal-code="postalCode"
      :sub-domain="subDomain"
      :active-modal="activeModal">
      <div
        :class="{'sideNavOpen': activeModal == 'sideNav'}"
        class="box-wrap">
        <div
          class="">
          <div
            class="title mb-30">
            Become a Runner
          </div>
          <div class="page-info mb-30">
            Please fill in the form below. No experience required.
          </div>
          <div class="user-inputs-wrapper">
            <div class="user-inputs">
              <div class="input-title mb-10">
                First Name
              </div>
              <input
                v-model="firstName"
                placeholder="First Name...">
            </div>
            <div class="user-inputs">
              <div class="input-title mb-10">
                Last Name
              </div>
              <input
                v-model="lastName"
                placeholder="Last Name...">
            </div>
            <div class="user-inputs">
              <div class="input-title mb-10">
                Email
              </div>
              <input
                v-model="email"
                placeholder="Email...">
            </div>
            <div class="user-inputs">
              <div class="input-title mb-10">
                Phone Number
              </div>
              <input
                v-model="phoneNum"
                placeholder="Phone Number...">
            </div>
          </div>
          <div class="user-radios-wrapper">
            <div class="user-radios">
              <!-- beginning -->
              <div class="radio-title mb-30">
                Which vehicle do you own?
              </div>
              <div class="radios">
                <div class="input-wrapper">
                  <input
                    id="bike"
                    v-model="vehicle"
                    value="bike"
                    class="fancy-radio"
                    hidden
                    name="vehicle-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="bike">
                    <span style="color: #444440;">
                      Bike
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="car"
                    v-model="vehicle"
                    value="car"
                    class="fancy-radio"
                    hidden
                    name="vehicle-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="car">
                    <span style="color: #444440;">
                      Car
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="bothVehicle"
                    v-model="vehicle"
                    value="bothVehicle"
                    class="fancy-radio"
                    hidden
                    name="vehicle-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="bothVehicle">
                    <span style="color: #444440;">
                      Both
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
              </div>
              <!-- ending -->
              <!-- beginning -->
              <div class="radio-title mb-30">
                You're looking for a:
              </div>
              <div class="radios">
                <div class="input-wrapper">
                  <input
                    id="partTime"
                    v-model="jobType"
                    value="partTime"
                    class="fancy-radio"
                    hidden
                    name="job-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="partTime">
                    <span style="color: #444440;">
                      Part-time
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="fullTime"
                    v-model="jobType"
                    value="fullTime"
                    class="fancy-radio"
                    hidden
                    name="job-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="fullTime">
                    <span style="color: #444440;">
                      Full-time
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="bothPosition"
                    v-model="jobType"
                    value="bothPosition"
                    class="fancy-radio"
                    hidden
                    name="job-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="bothPosition">
                    <span style="color: #444440;">
                      Both
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
              </div>
              <!-- ending -->
              <div
                style="border-bottom: 0px;"
                class="user-inputs-wrapper">
                <div class="user-inputs">
                  <div class="input-title mb-30">
                    You want to become a Runner in which city?
                  </div>
                  <select v-model="citySelection">
                    <option
                      disabled
                      selected
                      value="">Select City...</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Mississauga">Mississauga</option>
                  </select>
                </div>
              </div>
              <!-- beginning -->
              <div class="radio-title mb-30">
                Are you over 19 years old?
              </div>
              <div class="radios">
                <div class="input-wrapper">
                  <input
                    id="overNineteen"
                    v-model="over19"
                    value="overNineteen"
                    class="fancy-radio"
                    hidden
                    name="age-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="overNineteen">
                    <span style="color: #444440;">
                      Yes
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="notNineteen"
                    v-model="over19"
                    value="notNineteen"
                    class="fancy-radio"
                    hidden
                    name="age-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="notNineteen">
                    <span style="color: #444440;">
                      No
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
              </div>
              <!-- ending -->
              <!-- beginning -->
              <div class="radio-title mb-30">
                Please confirm you are eligible to work in Canada.
              </div>
              <div class="radios">
                <div class="input-wrapper">
                  <input
                    id="eligibleCanada"
                    v-model="eligible"
                    class="fancy-radio"
                    value="eligibleCanada"
                    hidden
                    name="eligible-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="eligibleCanada">
                    <span style="color: #444440;">
                      Yes
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="notEligibleCanada"
                    v-model="eligible"
                    class="fancy-radio"
                    value="notEligibleCanada"
                    hidden
                    name="eligible-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="notEligibleCanada">
                    <span style="color: #444440;">
                      No
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
              </div>
              <!-- ending -->
              <!-- beginning -->
              <div class="radio-title mb-30">
                Do you have a criminal record?
              </div>
              <div class="radios">
                <div class="input-wrapper">
                  <input
                    id="criminal"
                    v-model="criminal"
                    class="fancy-radio"
                    value="criminal"
                    hidden
                    name="criminal-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="criminal">
                    <span style="color: #444440;">
                      Yes
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    id="notCriminal"
                    v-model="criminal"
                    value="notCriminal"
                    class="fancy-radio"
                    hidden
                    name="criminal-radio-group"
                    type="radio">
                  <label
                    class="fancy-radio-label"
                    for="notCriminal">
                    <span style="color: #444440;">
                      No
                    </span>
                    <span class="fancy-radiobutton">
                      <span class="radiobutton-dot"/>
                    </span>
                  </label>
                </div>
              </div>
            <!-- ending -->
            </div>
            <div class="interested-btn">
              <button-component
                :text="'APPLY NOW'"
                :color="'teal'"
                :height="'35px'"
                class="mb-30"
                @click.native="sendApplication()"/>
            </div>
          </div>
        </div>
      </div>
    </master-layout>
  </div>
</template>

<style lang="scss" scoped>
.interested-btn {
  @media (min-width: 640px) {
    width: 300px;
    display: inline-flex;
  }
}
.button-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @media (min-width: 640px) {
    display: unset;
  }
}
.send-invite {
  @media (min-width: 640px) {
    width: 288px;
    margin: 40px 0px;
  }
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #58DFA9;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px -10px #58dfa9;
  margin-bottom: 10px;
  justify-content: center;
}
select {
  border: 1px #EFEFEF solid;
  width: 100%;
  height: 50px;
  padding: 0px 15px;
}
.box-wrap {
  margin: 20px;
  @media (min-width: 640px) {
    margin: 25px 450px;
  }
    @media (min-width: 768PX) {
    margin: 25px 150px;
  }
}
.user-inputs-wrapper {
  margin: 0px -20px;
  padding: 0px 20px;
  border-bottom: 1px #EFEFEF solid;
  margin-bottom: 30px;
  .user-inputs {
    input {
      border: 1px #EFEFEF solid;
      width: 100%;
      height: 50px;
      padding: 0px 15px;
      margin-bottom: 20px;
    }
  }
}
.user-radios-wrapper {
  margin: 0px -20px;
  padding: 0px 20px;
  border-bottom: 1px #EFEFEF solid;
  margin-bottom: 30px;
  .user-radios {
    .radios {
      display: inline-flex;
      flex-flow: column;
      input {

      }
    }
  }
}
.title {
  font-size: 25px;
  font-weight: 500;
}
.page-info {
  font-size: 16px;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}

//CUSTOM RADIO CSS
// Settings
$color: #888;
$active-color: #F83D41;
$checkbox-size: 16px;
$check-dash: 48;
$radio-dot-size: 7px;
$ani-speed-fast: 0.5s;
$ani-speed-faster: 0.3s;
$ani-speed-fastest: 0.15s;

@keyframes checkmarkAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
@mixin container() {
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

// Content

body {
    color: $color;
}

.wrapper {
    @include container;
}

.input-wrapper {
    margin-bottom: 10px;
    position: relative;
}

.fancy-check-label,
.fancy-radio-label {
    display: inline-block;
    line-height: $checkbox-size + 4;
    padding-left: $checkbox-size * 1.8;
    position: relative;
    user-select: no-select;
}

.fancy-check-label {
    .crappy-browser & .checkmark-path {
        opacity: 0;
    }

    .modern-browser & {
        transition: color $ani-speed-faster;
    }

    .fancy-check:checked + & {
        color: $active-color;

        .fancy-checkbox {
            border-color: $active-color;
        }

        .checkmark-path {

            .modern-browser & {
                animation: checkmarkAnimation $ani-speed-fast 0s forwards;
            }

            .crappy-browser & {
                opacity: 1;
                stroke-dasharray: 0;
                stroke-dashoffset: 0;
            }
        }
    }
}

.fancy-label--text {
    position: relative;
}

.fancy-radio-label {

    .fancy-radio:checked + & {
        color: $active-color;

        .fancy-label--text::before {
            transition: transform $ani-speed-fastest;
            transform: scaleX(1);
        }

        .fancy-radiobutton {
            border-color: $active-color;
            transition: border-color $ani-speed-fast;
        }

        .radiobutton-dot {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            transition: opacity $ani-speed-fastest, transform $ani-speed-fastest;
        }
    }
}

.fancy-checkbox,
.fancy-radiobutton {
    margin-top: 3px;
    border: solid 2px $color;
    display: block;
    height: $checkbox-size;
    position: absolute;
        left: 0;
        top: 0;
    width: $checkbox-size;

    .modern-browser & {
        transition: border-color $ani-speed-faster;
    }
}

.fancy-checkbox {
    border-radius: 3px;
}
.fancy-radiobutton {
    border-radius: 50%;
}

.radiobutton-dot {
    background-color: currentColor;
    border-radius: 50%;
    height: $radio-dot-size;
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: $radio-dot-size;
}

// SVG
.checkmark {
    height: $checkbox-size;
    opacity: 1;
    width: 100%;

    .checkmark-path {
        stroke: $active-color;
        stroke-width: 2px;
        transform-origin: 50% 50%;
        stroke-miterlimit: 10;
        opacity: 1;

        // Works only in modern browsers, not IE 11 or EDGE
        stroke-dasharray: $check-dash;
        stroke-dashoffset: $check-dash;
    }
}
// END CUSTOM RADIO CSS
</style>

<script>
import { mapGetters } from 'vuex';
// import important from '../mixins/important';

export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  mixins: [
    // important,
  ],
  data() {
    return {
      userId: this.$cookie.get('userId', { domain: this.domain }),
      isLoading: false,
      jobSelection: '',
      citySelection: '',
      firstName: '',
      lastName: '',
      email: '',
      phoneNum: '',
      vehicle: '',
      jobType: '',
      over19: '',
      eligible: '',
      criminal: '',
    };
  },
  computed: {
    ...mapGetters([
      'user',
    ]),
    menuStatus() {
      return this.$store.getters.menuStatus;
    },
  },
  mounted() {
  },
  methods: {
    sendApplication() {
      alert('UNDER CONSTRUCTION');
    },
  },
};
</script>
