<template>
  <div id="terms-conditions">
    <master-layout
      :is-loading="isLoading"
      :page-attributes="pageAttributes"
      :user="user"
      :domain="domain"
      :stores="stores"
      :sub-domain="subDomain"
      :active-modal="activeModal"
      :cart="cart"
      :selected-address="selectedAddress"
      :store="store">
      <div
        class="m-auto p-30"
        style="max-width: 800px;">
        <div class="title-wrap">
          <h1>
            Terms & Conditions
          </h1>
        </div>
        <p>
          Runner (“RUNNER”) owns and operates the website located at http://www.getrunner.io “website” and iOS app located at <a href="https://itunes.apple.com/ca/app/runner/id1250283544?mt=8">iTunes</a>. These terms of use apply to all users of the app/website, including users who upload any materials to the app/website, users who use services provided through this app/website, and users who simply view the content on or available through this app/website.
        </p>
        <p>
          By using this app/website and/or the service, you represent and warrant that you are at least the age of majority in the province of Ontario and that you are legally capable of entering into these terms of use.
        </p>
        <p>
          By using this app/website and/or the service you indicate your acceptance of these terms of use. If you do not accept these terms of use, then do not use this app/website or any of its content or services. These terms of use may be amended or updated by RUNNER from time to time without notice and the terms of use may have changed since your last visit to this app/website. It is your responsibility to review these terms of use for any changes. Your use after any amendments or updates of these terms of use shall signify your assent to and acceptance of such revised terms. Any new features that may be added to this app/website or the service from time to time will be subject to these terms of use, unless stated otherwise. You should visit this page periodically to review these terms of use.
        </p>
        <ol>
          <li>
            <strong>The “Service”</strong>. RUNNER provides a platform that facilitates the connection between registered users seeking to order liquor through the app/website. If you use the service to place an order for liquor delivery, by placing such an order, you represent and warrant that you are at least of legal drinking age in Ontario, which is nineteen (19) years of age.
          </li>
          <li>
            <strong>Account Registration</strong>. All information you provide must be accurate and complete. You are fully responsible and liable for the security of your account and password and any/all use and misuse. You agree to notify us immediately of any unauthorized use of your account. We do not assume any responsibility or liability for any damages arising from or related to any activity occurring under your account.
          </li>
          <li>
            <strong>How to Use the Service</strong>. To place your order, begin by selecting the items from the app/website and place them in your cart. Next, enter the delivery address. Then proceed to the checkout and make the applicable payment including any taxes and delivery fees. You may provide a tip at this point. You also have the option to provide special instructions to RUNNER - for example, regarding special directions.
          </li>
          <li>
            <strong>Payment Information</strong>. All payment methods must be valid, authentic and you must be authorized to use them. If a charge is not authorized or accepted, we reserve the right to cancel your order without notice and with no further obligation or liability to you. We reserve the right to change the payment methods that we accept at any time.
          </li>
          <li>
            <strong>Prices and Fees</strong>. Prices for products are subject to change, without notice. The liquor prices listed on our app/website may differ from the retail prices charged for such items by the applicable liquor stores. Our prices may be higher or lower than retail prices. Unless otherwise indicated, prices displayed on our app/website are quoted in Canadian dollars and include an administrative fee charged by us for administering the service. Prices displayed do not include applicable taxes or delivery charges. You are responsible for paying all fees and applicable taxes associated with products you order with a valid payment method. Items in your shopping cart will always reflect the most recent price displayed on the item's product detail page. This price may differ from the price shown for the item when you first placed it in your cart. Placing an item in your cart doesn't reserve the price shown at that time. It is also possible that an item's price may decrease between the time you place it in your cart and the time you purchase it. Tax charges are based on applicable federal, state, provincial and harmonized sales tax rates based on the delivery address associated with your order.
          </li>
          <li>
            <strong>Limited Refunds</strong>. Generally, all purchases are final. However, if you receive a product that you did not order, the product is spoiled, or if a product you ordered was not available at the store, we will, at our option, either provide you with a refund or a credit in the amount you paid for such product, provided that you notify us of the problem within 24 hours of receiving the delivery.
          </li>
          <li>
            <strong>Product Descriptions and Availability</strong>. All features, specifications, products and prices of products are subject to change at any time without notice. We have made every effort to display as accurately as possible the products that appear on the app/website, however we make no representation as to the completeness, accuracy, or currency of any information on the app/website. We reserve the right to make changes in information about price, description, or availability without notice.
          </li>
          <li>
            <strong>Liquor Delivery Terms</strong>. Deliveries may only be completed on certain dates and times according to regulatory requirements. If you request a liquor delivery at a time that we are unable to provide such delivery, your order will be posted for the next available date and time and you will have the opportunity to accept or decline to proceed with such order. Liquor ordered through the Service can only be delivered to a residential address. Deliveries cannot be made to hospitals or institutions that provide alcohol addiction treatment. It is the User’s responsibility to ensure that he or she, or another person who resides at the place of delivery and who is at least 19 years of age, is present at the residential address to receive the liquor delivery at the selected delivery time (“Eligible Individual”). In order to receive a liquor delivery, the Eligible Individual must sign a receipt provided by RUNNER and must present to the RUNNER representative government-issued identification which includes a photograph of the Eligible Individual and states his or her date of birth (“Required Documentation”) for inspection. RUNNER will accept one of the following as Required Documentation:
            <ul>
              <li>
                A driver’s licence issued by the province of Ontario with a photograph of the person to whom the licence was issued;
              </li>
              <li>
                A passport;
              </li>
              <li>
                A Canadian citizenship card with a photograph of the person to whom the card was issued;
              </li>
              <li>
                A Canadian armed forces identification card with a photograph of the person to whom the card was issued;
              </li>
              <li>
                A secure certificate of Indian status issued by the Government of Canada;
              </li>
              <li>
                A photo-identification card issued by the Liquor Control Board of Ontario; and
              </li>
              <li>
                A permanent resident card issued by the Government of Canada.
              </li>
            </ul>
            If there is no Eligible Individual to receive the delivery and/or if the Required Documentation is not provided, the RUNNER representative will not deliver the liquor and RUNNER will provide you with a credit in the amount you paid for such product, less the delivery fee and less the administrative fee charged by us for administering the Service. RUNNER reserves the right at all times to refuse delivery for any reason whatsoever, including if:
            <ul>
              <li>
                The RUNNER representative is not satisfied that the individual receiving the order at the residential address is an Eligible Individual;
              </li>
              <li>
                The RUNNER representative is not satisfied with the Required Documentation provided to him or her;
              </li>
              <li>
                The RUNNER representative determines, in his or her sole opinion, that the Eligible Individual to be intoxicated or apparently intoxicated;
              </li>
              <li>
                RUNNER or the RUNNER representative suspects that the liquor was purchased for or will be consumed by individuals under the legal drinking age; or
              </li>
              <li>
                RUNNER or the RUNNER representative is not satisfied that the delivery can be made in compliance with the applicable laws and these Terms of Use.
              </li>
            </ul>
            If delivery is refused, RUNNER will provide you with a credit in the amount you paid for such product, less the delivery fee and less the administrative fee charged by us for administering the Service.
          </li>
          <li>
            <strong>Content</strong>. All information, data, text, software, music, sound, photographs, graphics, video, messages or other materials, whether publicly posted or privately transmitted to the app/website by viewers or Users whether in forums or otherwise (“User Content”), is the sole responsibility of such viewers or Users. This means that the viewer or User, and not RUNNER, are entirely responsible for all such material uploaded, posted, emailed, transmitted or otherwise made available by using the Service. RUNNER does not control or actively monitor User Content and, as such, does not guarantee the accuracy, integrity or quality of such content. Users acknowledge that by using the Service, they may be exposed to materials that are offensive, indecent or objectionable. Under no circumstances will RUNNER be liable in any way for any materials, including, but not limited to, for any errors or omissions in any materials or any defects or errors in any printing or manufacturing, or for any loss or damage of any kind incurred as a result of the viewing or use of any materials posted, emailed, transmitted or otherwise made available via the Service.
          </li>
          <li>
            <strong>Restrictions on User Content and Use of the Service</strong>. RUNNER reserves the right at all times (but will have no obligation) to remove or refuse to distribute any User Content and to terminate Users or reclaim usernames. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce these Terms of Use, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to User support requests, or (v) protect the rights, property or safety of our Users, RUNNER representatives and the public. In using the app/website, You shall not:
            <ul>
              <li>
                Copy any content unless expressly permitted to do so herein;
              </li>
              <li>
                Upload, post, email, transmit or otherwise make available any material that:
                <ul>
                  <li>
                    is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, pornographic, libelous, invasive of another's privacy, hateful, or racially or ethnically objectionable, encourages criminal behavior, gives rise to civil liability, violates any law, or is otherwise objectionable;
                  </li>
                  <li>
                    you do not have a right to make available under any law or under a contractual relationship;
                  </li>
                  <li>
                    infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party (including privacy rights);
                  </li>
                  <li>
                    is or contains unsolicited or unauthorized advertising, solicitations for business, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;
                  </li>
                  <li>
                    contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or data or the app/website or that of any Users or viewers of the app/website or that compromises a User’s privacy; or
                  </li>
                  <li>
                    contains any falsehoods or misrepresentations or create an impression that You know is incorrect, misleading, or deceptive, or any material that could damage or harm minors in any way;
                  </li>
                </ul>
              </li>
              <li>
                Impersonate any person or entity or misrepresent their affiliation with a person or entity;
              </li>
              <li>
                Forge headers or otherwise manipulate identifiers in order to disguise the origin of any material transmitted to or through the app/website or impersonate another person or organization;
              </li>
              <li>
                Interfere with or disrupt the app/website or RUNNER representatives or networks connected to the app/website, or disobey any requirements, procedures, policies or regulations of networks connected to the app/website or probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures;
              </li>
              <li>
                Intentionally or unintentionally violate any applicable local, state, national or international law or regulation;
              </li>
              <li>
                Collect or store personal data about other Users or viewers, without their permission;
              </li>
              <li>
                License, sell, rent, lease, transfer, assign, distribute, or host the app/website;
              </li>
              <li>
                Modify, translate, make derivative works of, disassemble, decompile, reverse compile or reverse engineer any part of the app/website, except to the extent the foregoing restrictions are expressly prohibited by applicable law; or
              </li>
              <li>
                Register for the Service on behalf of a group or corporate entity.
              </li>
            </ul>
            You also agree not to access the app/website in a manner that utilizes the resources of the app/website more heavily than would be the case for an individual person using a conventional web browser. Notwithstanding the foregoing, operators of public search engines may use spiders or other bots for the purpose of creating publicly available searchable indices of the materials on this app/website.
          </li>
          <li>
            <strong>License of Content</strong>. By submitting, posting or displaying User Content on or through the Service, you grant us (and our agents) a non-exclusive, royalty-free license (with the right to sublicense) to use, copy, modify, transmit, display and distribute such User Content. RUNNER will not be responsible or liable for any use of User Content in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any User Content that you submit.
          </li>
          <li>
            <strong>End User License</strong>. Except for User Content, this app/website, and the information and materials that it contains, are the property of RUNNER and its licensors, and are protected from unauthorized copying and dissemination by copyright law, trademark law, and other intellectual property laws. Subject to the terms of this Agreement, RUNNER grants you a non-transferable, non-exclusive, license to use the app/website for your use. Nothing in the Terms gives you a right to use the RUNNER names, trademarks, logos, domain names, and other distinctive brand features without our prior written consent. You shall not attempt to override or circumvent any of the usage rules or restrictions on the app/website. Any future release, update, or other addition to functionality of the app/website shall be subject to the terms of these Terms.
          </li>
          <li>
            <strong>Feedback</strong>. If You provide RUNNER with any suggestions, comments or other feedback relating to any aspect of the app/website and/or Service ("Feedback"), RUNNER may use such Feedback in the app/website or in any other RUNNER products or services (collectively, "RUNNER Offerings"). Accordingly, You agree that: (a) RUNNER is not subject to any confidentiality obligations in respect to the Feedback, (b) the Feedback is not confidential or proprietary information of You or any third party and You have all of the necessary rights to disclose the Feedback to RUNNER, (c) RUNNER (including all of its successors and assigns and any of the RUNNER Offerings) may freely use, reproduce, publicize, license, distribute, and otherwise commercialize Feedback in any RUNNER Offerings, and (d) You are not entitled to receive any compensation or re-imbursement of any kind from RUNNER or any of the other Users of the app/website in respect of the Feedback.
          </li>
          <li>
            <strong>Advertising</strong>. You acknowledge and agree that the app/website may contain advertisements. If You elect to have any business dealings with anyone whose products or services may be advertised on the app/website, You acknowledge and agree that such dealings are solely between You and such advertiser and You further acknowledge and agree that RUNNER shall not have any responsibility or liability for any losses or damages that You may incur as a result of any such dealings. You shall be responsible for obtaining access to the app/website and acknowledge that such access may involve third-party fees (such as Internet service provider access or data fees). You shall be solely responsible for any such fees and also for obtaining any equipment that is required to access the app/website. It is your responsibility to ascertain whether any information or materials downloaded from the app/website are free of viruses, worms, Trojan Horses, or other items of a potentially destructive nature.
          </li>
          <li>
            <strong>Links & Third-Party Websites</strong>. This app/website (including User Content) may contain links to other websites that are not owned or controlled by RUNNER. In no event shall any reference to any third party, third party product or service be construed as an approval or endorsement by RUNNER of that third party, third party product or service. RUNNER is also not responsible for the content of any linked websites. Any third-party websites or services accessed from the Website are subject to the terms and conditions of those websites and or services and You are responsible for determining those terms and conditions and complying with them. The presence on the app/website of a link to any other website(s) does not imply that RUNNER endorses or accepts any responsibility for the content or use of such websites, and You hereby release RUNNER from all liability and/damages that may arise from Your use of such websites or receipt of services from any such websites. While RUNNER does not prohibit linking to third party website and content, it does not wish to be linked to or from any third-party web site which contains, posts or transmits any of the prohibited content as set out in these Terms of Use. RUNNER reserves the right to prohibit or remove (or require You to remove) any link to the Website, including, without limitation, any link which contains or makes available any content or information of the foregoing nature, at any time.
          </li>
          <li>
            <strong>Release</strong>. User acknowledges and agrees that RUNNER does not supervise or control interactions between Users and RUNNER representatives, and because RUNNER cannot guarantee the true identity, age, or background of RUNNER representatives, User agrees that the User bears all risk and the User agrees to release RUNNER (and their officers, directors, shareholders, agents, employees, affiliates, subsidiaries, and third party partners) (actual and consequential) of every loss or damage of any kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, now and in the future, arising out of or in any way connected with User’s interactions and transactions with RUNNER representatives or for any acts or omissions by any RUNNER representatives. User further waives any and all rights and benefits otherwise conferred by any statutory or non-statutory law of any jurisdiction that would purport to limit the scope of a release or waiver.
          </li>
          <li>
            <strong>Disclaimer of Representations, Warranties and Conditions</strong>. The app/website, service, and all materials provided therein are provided "as is." RUNNER specifically disclaims all representations, warranties and conditions, either express, implied, statutory, by usage of trade, course of dealing or otherwise including but not limited to any implied warranties of timeliness, reliability, safety, merchantability, non-infringement, title, satisfactory quality or fitness for a particular purpose of any products or goods obtained through the service. any products, goods, information or material obtained through the use of the service is at your own discretion and risk and you will be solely responsible for any loss that results from using any such products, goods, information or material. RUNNER does not warrant, endorse, guarantee, provide any conditions or representations, or assume any responsibility for any product or service advertised or offered by any third party through the app/website or the service, and RUNNER shall not be a party to any transaction that you may enter into with any such third party. RUNNER will not be liable for any type of content exchanged by means of the service or for any interactions or transactions between users and RUNNER representatives or stores.
          </li>
          <li>
            <strong>Limitation of Liability</strong>. Under no circumstances shall RUNNER be liable for any direct, indirect, incidental, special, consequential, exemplary or other damages whatsoever, including, without limitation, any damages that result from (i) your use of or your inability to use this app/website or the service, (ii) the cost of procurement of substitute goods, data, information or services, (iii) errors, mistakes, or inaccuracies in the materials on the app/website, (iv) personal injury or property damage of any kind whatsoever arising from or relating to your use of the service, any bugs, viruses, trojan horses, or any other files or data that may be harmful to computer or communication equipment or data that may have been transmitted to or through the app/website, or (v) any errors or omissions in any material on the app/website or any other loss or damage of any kind arising from or relating to your use of the app/website. These limitations shall apply even if RUNNER has been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, RUNNER's liability to you for any damages arising from or related to this agreement (for any cause whatsoever and regardless of the form of the action), will at all times be limited to the greater of (a) fifty u.s. dollars ($50) or (b) amounts you’ve paid RUNNER in the prior 12 months (if any). the foregoing limitations shall apply to the fullest extension permitted by law in the applicable jurisdiction.
          </li>
          <li>
            <strong>Indemnification</strong>. You shall indemnify and hold RUNNER and its subsidiaries, affiliates, officers, agents, and employees, harmless from all claims, actions, proceedings, demands, damages, losses, costs, and expenses (including reasonable attorneys' fees), incurred in connection with any materials submitted, posted, transmitted or made available by you through the service and/or any violation by you of these terms of use, any applicable law or regulation, or any rights of any third party including RUNNER representatives or liquor stores, or for any losses or damages incurred in connection with your purchase of any liquor using the service including without limitation personal injury and property damage.
          </li>
          <li>
            <strong>Termination</strong>. RUNNER may, under certain circumstances and without prior notice, immediately terminate Your ability to access the app/website or any portions thereof. Cause for such termination shall include, but not be limited to, (a) breaches or violations of these Terms of Use or any other agreement that You may have with RUNNER (including, without limitation, non-payment of any fees owed in connection with the app/website or otherwise owed by You to RUNNER), (b) requests by law enforcement or other government agencies, (c) a request by You, (d) discontinuance or material modification to the app/website (or any part thereof), (e) unexpected technical, security or legal issues or problems, and/or (f) participation by You, directly or indirectly, in fraudulent or illegal activities. Termination of Your access to the app/ebsite may also include removal of some or all of the materials uploaded by You. You acknowledge and agree that all terminations may be made by RUNNER in its sole discretion and that RUNNER shall not be liable to You or any third-party for any termination of Your access to this app/website or for the removal of any of the materials uploaded by You. Any termination of these Terms of Use by RUNNER shall be in addition to any and all other rights and remedies that RUNNER may have.
          </li>
          <li>
            <strong>Availability & Updates</strong>. RUNNER may alter, suspend, or discontinue this app/website and/or the Service at any time and for any reason or no reason, without notice. The app/website and/or Service may be unavailable from time to time due to maintenance or malfunction of computer or network equipment or other reasons. RUNNER may periodically add or update the information and materials on this app/website and/or the Service without notice.
          </li>
          <li>
            <strong>Security</strong>. Information sent or received over the Internet is generally unsecure and RUNNER cannot and does not make any representation or warranty concerning security of any communication to or from the app/website or any representation or warranty regarding the interception by third parties of personal or other information. You are responsible for safeguarding the password that you use to access the Service and you are responsible for any activities or actions under your password. You agree to keep your password secure. RUNNER will not be liable for any loss or damage arising from your failure to comply with these requirements.
          </li>
          <li>
            <strong>General</strong>. These Terms of Use, together with our Privacy Policy constitutes the entire agreement between the parties relating to the app/website, the Service and all related activities. These Terms of Use shall not be modified except in writing signed by both parties or by a new posting of these Terms of Use issued by RUNNER. If any part of these Terms of Use is held to be unlawful, void, or unenforceable, that part shall be deemed severed and shall not affect the validity and enforceability of the remaining provisions. These Terms of Use (and any other documents referenced herein) shall be governed by the laws of the Province of Ontario without regard to choice of law principles. The failure of RUNNER to exercise or enforce any right or provision under these Terms of Use shall not constitute a waiver of such right or provision. Any waiver of any right or provision by RUNNER must be in writing and shall only apply to the specific instance identified in such writing. You may not assign the Terms of Use, or any rights or licenses granted hereunder, whether voluntarily, by operation of law, or otherwise without RUNNER's prior written consent. We may assign these Terms of Use to anyone at any time.
          </li>
          <li>
            <strong>Alcohol Prices</strong>. Runner is unable to stock and store alcohol in the Ontario region. Because of this, we are limited to picking up alcohol at normal retail prices, rather than wholesale like most common businesses. To help with our businesses expenses, we add a 12% service fee on-top of retail prices. This allows us to continue to develop our technology, and employ exemplary service representatives able to help you at a moments notice.
          </li>
        </ol>
        <p>
          If you have any questions about these Terms of Use, or if you wish to make any complaint or claim with respect to the app/website or the Service, please contact us at <a href="mailto:support@getrunner.io">support@getrunner.io</a>.
        </p>
        <p>
          Effective Date: February 1, 2017
        </p>
      </div>
    </master-layout>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { identify } from '../mixins/analytics';

export default {
  props: {
    pageAttributes: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  async mounted() {
    this.isLoading = true;

    await this.validate({
      domain: this.domain,
      storeId: this.storeId,
      secret: this.secret,
      userId: this.userId,
      accessToken: this.accessToken,
    });
    this.segmentIdentify();

    this.isLoading = false;
  },
  computed: {
    domain() {
      return JSON.parse(this.pageAttributes).domain;
    },
    subDomain() {
      return JSON.parse(this.pageAttributes).subDomain;
    },
    storeId() {
      return JSON.parse(this.pageAttributes).storeId;
    },
    secret() {
      return JSON.parse(this.pageAttributes).secret || null;
    },
    accessToken() {
      return JSON.parse(this.pageAttributes).accessToken || null;
    },
    userId() {
      return JSON.parse(this.pageAttributes).userId || null;
    },
    ...mapGetters([
      'user',
      'selectedAddress',
      'stores',
      'cart',
      'activeModal',
      'store',
      'inventoryId',
    ]),
  },
  methods: {
    identify,
    segmentIdentify() {
      const data = {
        userId: this.user ? this.user.id : null,
        address: this.selectedAddress ? this.selectedAddress.attributes : null,
        age: this.user ? moment().diff(this.user.attributes.dateOfBirth, 'years') : null,
        avatar: this.user ? this.user.attributes.avatarImage : null,
        birthday: this.user ? moment().toISOString(this.user.attributes.dateOfBirth) : null,
        createdAt: this.user ? moment().toISOString(this.user.attributes.createdAt) : null,
        email: this.user ? this.user.attributes.email : null,
        firstName: this.user ? this.user.attributes.firstName : null,
        gender: this.user ? this.user.attributes.gender : 'female',
        lastName: this.user ? this.user.attributes.lastName : null,
        phone: this.user ? this.user.attributes.phoneNumber : null,
        inventoryId: this.inventoryId || null,
        storeId: this.storeId || null,
      };

      this.identify(data);
    },
    ...mapActions([
      'validate',
    ]),
  },
};
</script>
