<template>
  <div
    id="acc-menu">
    <ul class="page-list">
      <li v-if="user">
        <a :href="'https://www.' + domain + '/account/settings'">
          Account Settings
        </a>
      </li>
      <li v-if="user">
        <a :href="'https://www.' + domain + '/account/orders'">
          Order History
        </a>
      </li>
      <li v-if="user">
        <a :href="'https://www.' + domain + '/account/reward-points'">
          Reward Points
        </a>
      </li>
      <li v-if="user">
        <a :href="'https://www.' + domain + '/account/payment-methods'">
          Payment Methods
        </a>
      </li>
      <li v-if="user">
        <a :href="'https://www.' + domain + '/account/addresses'">
          Addresses
        </a>
      </li>
      <li v-if="user">
        <a :href="'https://www.' + domain + '/account/invite-friends'">
          Invite Friends
        </a>
      </li>
      <li
        v-if="user"
        class="logout"
        @click="logout">
        <a>
          Log Out
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
#acc-menu {
  background:white;
  box-shadow: 0px 10px 13px -5px rgba(0, 0, 0, .3);
  position: absolute;
  top: 60px;
  right: 14px;
  border: 1px solid #dae1e7;
}
.logout {
  cursor: pointer;
  font-weight: 600;
}
.page-list {
  width: 200px;
  list-style: none;
  padding: 35px;
  margin-bottom: 0px;
  li {
    text-align: left;
    margin-bottom: 20px;
    a {
      color: #444444;
    }
  }
  li:last-child {
    margin-bottom: 0px;
  }
  li:hover {
    a {
      color: #F83F40;
      font-weight: 400;
    }
  }
}
</style>

<script>
import api from '../mixins/api';

export default {
  props: {
    domain: {
      type: String,
      required: true,
      default: null,
    },
    user: {
      type: Object,
      required: true,
      default: null,
    },
    subDomain: {
      type: String,
      default: null,
      required: false,
    },
  },
  data() {
    return {

    };
  },
  methods: {
    logout() {
      this.$cookie.delete('userId', { domain: this.domain });
      this.$cookie.delete('accessToken', { domain: this.domain });
      this.$cookie.delete('token', { domain: this.domain });
      location.href = `https://${this.subDomain}.${this.domain}`;
    },
  },
};
</script>
