<template>
  <div
    id="addressInputModal"
    class="fixed"
    @click.self="setActiveModal('none')">
    <div
      v-if="clickedOff"
      class="arrow bounce"
      @click="focusOnInput">
      <img
        style="cursor: pointer;"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
        class="fa fa-arrow-down fa-2x">
    </div>
    <div
      v-click-outside="outside"
      class="fixed modal">
      <img
        style="position: absolute; top: 15px; right: 15px; width: 25px; cursor: pointer;"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavClose.png"
        @click="setActiveModal('none')">
      <div
        v-if="!addressIsOutOfBounds"
        class="modal-wrap ai-center ji-center p-30">
        <img
          class="icon mb-10"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconLocation.png"
          alt="">
        <span class="modal-title block mb-30 uppercase fs-20 fw-400">
          Enter Delivery Address
        </span>
        <div v-if="!noPostalCode">
          <p class="shop-by-store text-center">
            Inventories vary by location. Let us know where you're shopping for the best experience!
          </p>
          <h6
            v-if="clickedOff"
            style="color: #F83F40;">
            Please enter your delivery address and select from the dropdown list:
          </h6>
          <input
            autocomplete="false"
            name="hidden"
            type="text"
            style="display:none;">
          <input
            id="addressInput"
            ref="addressInput"
            class="w-full px-15"
            autocomplete="new-password"
            placeholder="45 Spadina Ave, Toronto, ON, M5V 3N1"
            @focus="bindAutoComplete">
        </div>
        <transition name="slide-fade">
          <div
            v-if="noPostalCode"
            class="no-postal-code">
            <p class="shop-by-store text-center">
              The address <b>{{ noPostalAddress }}</b> has no postal code.
            </p>
            <h6
              style="color: #F83F40;">
              Please enter a postal code:
            </h6>
            <input
              v-mask="'A#A #A#'"
              id="addressInput"
              v-model="postalCode"
              class="w-full px-15"
              placeholder="M5V 3N1">
          </div>
        </transition>
        <div
          v-if="!user"
          class="login-wrap">
          <div class="divider">
            <hr
              align="left"
              width="23%">
            <p>
              OR
            </p>
            <hr
              align="right"
              width="23%">
          </div>
          <div
            class="button-wrap flex">
            <button-component
              :text="'LOG IN'"
              :font-size="'14px'"
              :font-weight="'700'"
              :color="'red'"
              :fill="true"
              :height="'48px'"
              class="button-modal-component"
              @click.native="goToPage('login')"/>
            <button-component
              :text="'SIGN UP'"
              :font-size="'14px'"
              :font-weight="'700'"
              :color="'teal'"
              :height="'48px'"
              :fill="true"
              class="button-modal-component"
              @click.native="goToPage('register')"/>
          </div>
        </div>
      </div>
      <div
        v-else
        class="grid ai-center ji-center p-30">
        <img
          class="icon mb-10"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconLocation.png"
          alt="">
        <span class="block mb-30 uppercase fs-20 fw-400">
          Sorry!
        </span>
        <p class="text-center">
          We do not deliver to that area yet - Hopefully soon!
        </p>
        <button
          class="add-to-cart bg-f83f40 c-ffffff uppercase py-8 w-full fsize-14"
          @click="setActiveModal('none')"
        >
          Keep Browsing
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
// ANIMATION START
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
// ANIMATION END
$bg: #2d2d37; // Dark blue
$primary: #fd6b21; // Orange

body { background: $bg;}
a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin-top: 55px;
  filter: brightness(4);
  @media (min-width: 640px) {
    margin-top: 85px;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.modal-title {
  text-align: center;
}
.modal-wrap {
  display: flex;
  flex-flow: column;
}
hr {
  margin: 0px 15px;
  border: 1px solid #F0F0F0;
}
.button-wrap {
  justify-content: center;
  .button-modal-component {
    @media (min-width: 640px) {
      width: 263px !important;
    }
  }
  .button-modal-component:first-child {
    margin-right: 15px;
    @media (min-width: 640px) {
      margin-right: 37px;
    }
  }
}
.shop-by-store {
  @media (min-width: 640px) {
    width: 450px;
  }
}
h6 {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: #444440;
  margin-bottom: 10px;
  font-weight: bolder;
}
.login-wrap {
  width: 100%;
}
.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  p {
    margin: 10px 0px;
    color: #ACACAC;
  }
}
#addressInputModal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.darker {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.modal {
  background-color: #ffffff;
  z-index: 999;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0;
  @media (min-width: 640px) {
    width: 70%;
    height: 600px;
    border-radius: 4px;
    top: 120px;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%);
  }
}
.icon {
  width: 100px;
}
#addressInput {
  @media (min-width: 640px) {
    // width: 50%;
  }
  border: 1px solid #cecece;
  border-radius: 4px;
  height: 50px;
  font-weight: 100;
}
button {
  border-radius: 4px;
}
</style>

<script>
import { mapMutations } from 'vuex';

export default {
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: {
    activeModal: {
      type: String,
      default: null,
      required: null,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    user: {
      type: Object,
      default: null,
      required: null,
    },
    stores: {
      type: Array,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      postalCode: null,
      addressIsOutOfBounds: false,
      clickedOff: false,
      noPostalCode: false,
      noPostalAddress: '',
    };
  },
  watch: {
    postalCode() {
      if (this.postalCode.length === 7) {
        this.pipeAddress();
      }
    },
  },
  methods: {
    focusOnInput() {
      this.$refs.addressInput.focus();
    },
    ...mapMutations([
      'SET_ACTIVE_MODAL',
    ]),
    bindAutoComplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
			    (document.getElementById('addressInput')),
			    {
			      bounds: cityBounds,
			      types: [
					    'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
    },
    pipeAddress() {
      const place = this.autocomplete.getPlace();
      if (typeof place !== 'undefined') {
        if (!place.postalCode && 'geometry' in place) {
          this.noPostalCode = true;
          this.noPostalAddress = place.address_components[0].long_name;
          if (this.postalCode) {
            place.postalCode = this.postalCode;
          }
        } else {
          this.noPostalCode = false;
        }
      }
      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i++) {
          if (place.address_components[i].types[0] === 'postal_code' || this.postalCode) {
            place.lat = place.geometry.location.lat();
            place.lng = place.geometry.location.lng();
            if (!this.noPostalAddress || !this.postalCode) {
              this.postalCode = place.address_components[i].long_name;
            }
            place.postalCode = this.postalCode;

            this.validatePostalCode(this.domain, place.postalCode)
              .then((response) => {
                if (this.stores.length > 0) {
                  this.updateUserAddress(place)
                    .then((response) => {
                      location.reload();
                    });
                } else {
                  this.storeOutOfBoundsPostalCode(this.domain, place.postalCode)
                    .then((response) => {
                      this.$cookie.set('inventoryId', 1, { domain: this.domain });
                      this.toggleAddressIsOutOfBounds();
                    })
                    .catch((error) => {
                      console.log(error);
                    });
                }
              })
              .catch((error) => {
                console.log(error);
              });
          } else {
            this.address_error = true;
          }
        }
      } else {
        this.address_error = true;
      }
    },
    async validatePostalCode(domain, postalCode) {
      await this.$store.dispatch('validatePostalCode', {
        domain,
        postalCode,
      });
    },
    async storeOutOfBoundsPostalCode(domain, postalCode) {
      let formattedPostalCode;

      if (postalCode.length > 3) {
        formattedPostalCode = postalCode.substring(0, 3);
      } else {
        formattedPostalCode = postalCode;
      }

      if (formattedPostalCode) {
        try {
          await axios
            .post(`https://api.${domain}/runner/v4/postal-codes/out-of-bounds`, {
              data: {
                type: 'out of bounds postal codes',
                attributes: {
                  postalCode: formattedPostalCode,
                },
              },
            });
        } catch (error) {
          console.error(error);
        }
      }
    },
    storeAddressInCookie(address) {
      this.$cookie.set('selectedAddress', JSON.stringify(address), { domain: this.domain });
      location.reload();
    },
    async updateUserAddress(address) {
      const payload = {
        data: {
          type: 'user addresses',
          attributes: {
            formattedAddress: address.formatted_address,
            placeId: address.place_id,
            lat: address.lat,
            lng: address.lng,
            postalCode: address.postalCode,
          },
        },
      };

      if (this.user) {
        await axios.post(`https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses`, payload)
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.storeAddressInCookie(payload.data);
      }
    },
    setActiveModal(activeModal) {
      this.SET_ACTIVE_MODAL(activeModal);
    },
    toggleAddressIsOutOfBounds() {
      this.addressIsOutOfBounds = !this.addressIsOutOfBounds;
    },
    goToPage(page) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${this.domain}/${page}`;
    },
    outside() {
      this.clickedOff = true;
    },
  },
};
</script>
