<template>
  <div
    v-if="!isClosed"
    id="login-modal"
    class="fixed">
    <div class="fixed modal">
      <img
        class="close-btn"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavClose.png"
        @click="closeModal">
      <div
        class="modal-wrap ai-center ji-center p-30">
        <img
          class="icon mb-10"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078845/runner%20v4/icons/EmptystateIconWarning.png"
          alt="">
        <span class="text-center block mb-30 uppercase fs-20 fw-400">
          OOPS! YOU'VE CHANGED YOUR ADDRESS
        </span>
        <p class="text-center">
          Our inventories are based on delivery address. Hit “Take Me Back” below to shop in your area.
        </p>
        <div
          v-if="!user"
          class="login-wrap">
          <div
            class="button-wrap flex"
            style="width: 100%;">
            <button-component
              :text="'TAKE ME BACK'"
              :font-size="'14px'"
              :font-weight="'700'"
              :color="'red'"
              :fill="true"
              :height="'48px'"
              class="button-modal-component"
              @click.native="goToPage"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.close-btn {
  cursor: pointer;
  width: 20px;
  opacity: 0.5;
  position: absolute;
  top: 24px;
  right: 24px;
}
.text-center {
  text-align: center;
}
.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.button-wrap {
  justify-content: center;
  .button-modal-component {
    @media (min-width: 640px) {
      width: 263px !important;
    }
  }
}
.login-wrap {
  width: 100%;
}
#login-modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.modal {
  background-color: #ffffff;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  z-index: 9999;
  left: 30px;
  right: 30px;
  top: 100px;
  @media (min-width: 640px) {
    width: 400px;
    // top: 50px;
    top: 100px;
    left: 50%;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, .2);
    transform: translateX(-50%);
  }
}
.icon {
  width: 100px;
}
#addressInput {
  border: 1px solid #cecece;
  border-radius: 4px;
  height: 50px;
}
button {
  border-radius: 4px;
}
</style>

<script>
export default {
  props: {
    domain: {
      type: String,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isClosed: false,
    };
  },
  methods: {
    closeModal() {
      this.isClosed = true;
    },
    goToPage() {
      window.location.href = `https://www.${this.domain}`;
    },
  },
};
</script>
