<template>
  <div id="add-to-cart">
    <notifications
      group="errors"
      position="bottom left" />
    <login-modal :domain="domain"/>
    <div class="inputs flex mb-15-md">
      <button
        class="flex ai-center jc-center fs-20 mr-5"
        @click="decrement">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053220/runner%20v4/icons/IconMinusGrey.png"
          alt
        >
      </button>
      <input
        v-model.number="productTotal"
        style="padding-bottom: 4px;"
        min="1"
        class="flex ai-center jc-center text-center fs-20 mr-5"
        type="number"
        placeholder="1"
      >
      <button
        class="flex ai-center jc-center fs-20"
        @click="increment">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png"
          alt
        >
      </button>
    </div>
    <button-component
      v-if="!admin"
      :disabled="product.quantity < 1"
      :text="'Add To Cart'"
      :color="'red'"
      :height="'45px'"
      :font-size="'15px'"
      :class="{'disabled': product.quantity < 1, 'product': product}"
      class="m-20"
      @click.native="addToCart"
    />
    <button-component
      v-else
      :text="'Add To Cart'"
      :color="'red'"
      :height="'45px'"
      :font-size="'15px'"
      class="m-20"
      @click.native="addToCart"
    />
  </div>
</template>

<style lang="scss" scoped>
.m-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  grid-gap: 15px;
  border-top: 1px solid #efefef;
  z-index: 99;
  @media (min-width: 640px) {
    position: relative;
    display: block;
    border: 0;
    padding: 0;
    z-index: 0;
  }
}
.add-to-cart {
  -webkit-box-shadow: 1px 13px 17px -12px rgba(248, 63, 64, 1);
  -moz-box-shadow: 1px 13px 17px -12px rgba(248, 63, 64, 1);
  box-shadow: 1px 13px 17px -12px rgba(248, 63, 64, 1);
  border-radius: 4px;
}
.add-to-cart.product {
  @media (min-width: 640px) {
    height: 48px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
.inputs img {
  width: 15px;
}
.inputs button {
  border: 1px solid #acacac;
  border-radius: 4px;
}
.inputs {
  button,
  input {
    height: 30px;
    width: 30px;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.disabled {
  background-color: #aeaeae !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
</style>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  props: {
    product: {
      type: Object,
      default: null,
      required: true,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
    store: {
      type: Object,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      productTotal: 1,
    };
  },
  computed: {
    ...mapGetters([
      'isAuthenticated',
    ]),
    ...mapState([
      'cart',
      'lastSubDomain',
    ]),
    admin() {
      const urlParams = new URLSearchParams(window.location.search);

      if (urlParams.has('admin')) {
        return true;
      }
      return false;
    },
  },
  mounted() {
    // set add to cart qty if went back to the same page, delete cookie afterwards
    if (this.$cookie.get('atc_qty') !== null) {
      const { qty } = JSON.parse(this.$cookie.get('atc_qty'));
      const { prodId } = JSON.parse(this.$cookie.get('atc_qty'));
      if (this.product.id === prodId) {
        this.productTotal = qty;
        this.$cookie.delete('atc_qty');
      }
    }
  },
  methods: {
    increment() {
      this.productTotal += 1;
    },
    decrement() {
      if (this.productTotal > 0) {
        this.productTotal -= 1;
      }
    },
    async addToCart() {
      const anonymousId = window.analytics ? window.analytics.user().anonymousId() : '';

      if (!this.isAuthenticated) {
        this.$store.commit('TOGGLE_LOGIN_MODAL_STATUS', 'open');
        this.$cookie.set('atc_qty', JSON.stringify({ qty: this.productTotal, prodId: this.product.id }));
      } else if (this.cart && this.cart.attributes.products.length > 0) {
        let type = 'regular';

        if (this.inventoryId === 11) {
          type = 'giftItem';
        }

        const data = {
          userId: this.user.id,
          cartId: this.cart.id || '',
          anonymousId,
          payload: {
            products: [
              {
                id: parseInt(this.product.id),
                title: this.product.title,
                runnerPrice:
                  this.product.limited_time_offer_price
                  || this.product.runner_price,
                quantity: this.productTotal,
                packaging: this.product.packaging,
                allowSub: true,
                type,
                subTotal: 30,
              },
            ],
          },
        };

        try {
          await this.$store.dispatch('updateCart', data);
        } catch (error) {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.message,
            duration: -1,
          });
        }
        this.sendGAAddToCart();

        if (this.lastSubDomain == 'www') {
          location.href = `https://${this.subDomain}.${this.domain}/`;
        }
      } else {
        let type = 'regular';

        if (this.inventoryId === 11) {
          type = 'giftItem';
        }
        const data = {
          userId: this.user.id,
          anonymousId,
          payload: [
            {
              id: parseInt(this.product.id),
              title: this.product.title,
              runnerPrice:
                this.product.limited_time_offer_price
                || this.product.runner_price,
              quantity: this.productTotal,
              packaging: this.product.packaging,
              allowSub: true,
              type,
              subTotal: 30,
            },
          ],
        };

        try {
          await this.$store.dispatch('createCart', data);
        } catch (error) {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.message,
            duration: -1,
          });
        }

        if (this.lastSubDomain == 'www') {
          location.href = `https://${this.subDomain}.${this.domain}/`;
        }

        this.sendGAAddToCart();
      }
    },
    sendGAAddToCart() {
      window.dataLayer.push({
        event: 'addToCart',
        ecommerce: {
          currencyCode: 'CAN',
          add: {
            products: [
              {
                name: this.product.title,
                id: this.product.id,
                price: (this.product.runner_price / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                retailPrice: (this.product.retail_price / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                brand: this.product.producer,
                category: this.product.category,
                variant: this.product.packaging,
                quantity: this.productTotal,
                dimension1: String(this.store.id),
              },
            ],
          },
        },
      });
    },
  },
};
</script>
