<template>
  <div
    v-if="user.attributes.lastName"
    class="flex justify-end items-center">
    <img
      v-if="user.attributes.avatarImage"
      :src="user.attributes.avatarImage"
      class="avatar rounded-full"
      alt="">
    <span
      v-else
      :style="{ height: size + 'px', width: size + 'px' }"
      class="bg-darkgrey text-white flex items-center rounded-full justify-center">
      {{ user.attributes.firstName.charAt(0).toUpperCase() }} {{ user.attributes.lastName.charAt(0).toUpperCase() }}
    </span>
  </div>
</template>

<style lang="scss" scoped>
.bg-darkgrey {
  background-color: #444444;
}
.avatar {
  max-width: 41px;
  max-height: 41px;
  width: 150px;
  height: 150px;
}
</style>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
    size: {
      type: Number,
      required: false,
      default: 30,
    },
  },
};
</script>
