<template>
  <div id="breadcrumbs">
    <ul v-if="categoryId">
      <li
        v-for="(breadCrumb, index) in formattedBreadCrumbs"
        :key="index">
        <a v-if="index == (formattedBreadCrumbs.length - 1)">
          <span>
            {{ breadCrumb.title }}
          </span>
        </a>
        <a
          v-else-if="breadCrumb.slug != '/'"
          :href="'https://' + subDomain + '.' + domain + '/category/' + breadCrumb.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')">
          <span>
            {{ breadCrumb.title }}
          </span>
          <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png">
        </a>
        <a
          v-else
          :href="'https://' + subDomain + '.' + domain">
          <span>
            {{ breadCrumb.title }}
          </span>
          <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png">
        </a>
      </li>
    </ul>
    <ul v-else>
      <li
        v-for="(breadCrumb, index) in formattedBreadCrumbs"
        :key="index">
        <a
          v-if="breadCrumb.slug != '/'"
          :href="'https://' + subDomain + '.' + domain + '/category/' + breadCrumb.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')">
          <span>
            {{ breadCrumb.title }}
          </span>
          <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png">
        </a>
        <a
          v-else
          :href="'https://' + subDomain + '.' + domain">
          <span>
            {{ breadCrumb.title }}
          </span>
          <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png">
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
ul {
  display: flex;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  li {
    color: #444444;
    a {
      display: flex;
      color: #979797;
      margin-right: 10px;
      align-items: center;
      span {
        margin-right: 10px;
      }
      img {
        margin-right: 5px;
        width: 10px;
      }
    }
  }
}
</style>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    categoryId: {
      type: Number,
      required: false,
      default: null,
    },
    breadCrumbs: {
      type: String,
      default: null,
      required: false,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
  },
  computed: {
    formattedBreadCrumbs() {
      return JSON.parse(this.breadCrumbs);
    },
    ...mapGetters([
      'selectedAddress',
    ]),
  },
};
</script>
