<template>
  <div
    v-show="cartStatus"
    id="cart"
    @click.self="toggleCart">
    <notifications
      group="errors"
      position="bottom left" />
    <div
      v-if="cart"
      class="cart-list"
      @scroll="handleScroll">
      <div
        class="cart-top"
        @click="toggleCart">
        <div style="padding-top: 8px;">
          <img
            style="transform: rotate(-180deg); width: 10px; margin-bottom: 5px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141158/runner%20v4/icons/ProductCardIconArrow.png">
          <span style="font-size: 16px; padding-left: 5px;">
            Back
          </span>
        </div>
        <img
          :src="store.attributes ? store.attributes.options.navigationLogo : null"
          style="height: 35px;"
          alt="Navigation Logo">
        <a
          href=""
          class="support"
          @click.prevent="toggleZenDesk">
          <img
            style="width: 35px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493599/runner%20v4/icons/IconSupport.png"
            alt="">
        </a>
      </div>
      <div class="cart-text">
        Cart
      </div>
      <div class="wrap">
        <div class="store-info">
          <div class="logo">
            <img
              style="height: 50px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1543003345/icons/HeaderNavLogoRunner.png"
              alt="">
          </div>
          <div class="title2">
            Order Details
          </div>
          <div class="title">
            Cart
          </div>
          <div class="info">
            <span style="display: grid;">
              <img
                :src="store.attributes ? store.attributes.options.storeLogo : null"
                alt="Store Logo">
              Store
            </span>
            <span style="display:grid; margin-left: 50px;">
              <div>
                Next delivery within:
              </div>
              <div>
                <img
                  style="width: 15px; height: 15px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png">
                {{ typeof store !== 'undefined' ? store.attributes.nextDeliveryTime : 'N/A' }}
              </div>
              <div style="color: #ACACAC;">
                Delivery fee: ${{ (store.attributes.deliveryFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div style="font-size: 20px;">
          Items
        </div>
        <div class="products">
          <div
            v-for="(product, index) in cart.attributes.products"
            :key="index"
            class="product">
            <div class="image">
              <img
                :src="product.image"
                class="product-image"
                alt="">
            </div>
            <div class="info">
              <div class="title">
                {{ product.title }}
              </div>
              <div class="packaging">
                {{ product.packaging }}
              </div>
            </div>
            <div class="price">
              ${{ (product.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
            </div>
            <div class="quantity">
              <button
                @click="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity - 1,
                  'allowSub': product.allowSub
              })">
                <img :src="icons.minus">
              </button>
              <input
                v-model.number="product.quantity"
                min="0"
                type="number"
                placeholder="1"
                @focusout="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity,
                  'allowSub': product.allowSub
                })"
              >
              <button
                v-if="inventoryId != 11"
                @click="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity + 1,
                  'allowSub': product.allowSub
              })">
                <img :src="icons.plus">
              </button>
            </div>
            <div
              v-if="inventoryId != 11"
              class="allow-sub">
              <span
                v-if="product.allowSub"
                class="allow-text">
                Allow closest substitution if this product is out of stock.
              </span>
              <span
                v-else
                class="dont-allow-text">
                Don't allow closest substitution if this product is out of stock.
              </span>
              <toggle-button
                v-model="product.allowSub"
                :height="25"
                :width="40"
                color="#50E3C2"
                @change="updateCart({
                  'productId': product.id,
                  'quantity': product.quantity,
                  'allowSub': product.allowSub
              })"/>
            </div>
          </div>
        </div>
      </div>
      <cart-add-ons
        v-if="store.attributes && store.attributes.cartExtras"
        :user="user"
        :domain="domain"
        :sub-domain="subDomain"
        :cart="cart"
        :cart-extras="store.attributes.cartExtras"/>
      <div class="wrap">
        <div style="font-size: 20px; padding-bottom: 16px;">
          Apply Discount
        </div>
        <div
          class="coupon-apply"
          @click="toggleCouponInput">
          <!-- <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542069752/runner/stores/cartCoupon.svg"
            alt=""> -->
          <button class="coupon-btn">
            Apply Coupon
          </button>
          <!-- <img
            :class="{'arrow-rotated': couponInputIsShown}"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542062975/runner/stores/navArrowRight.svg"
            alt=""> -->
        </div>
        <div
          v-show="couponInputIsShown"
          class="coupon-input">
          <div
            v-if="cart.attributes.coupon !== null"
            class="input-wrap">
            <input
              v-model="cart.attributes.coupon.code"
              type="text">
            <button
              class="clear"
              @click="updateCart({
                'couponCode': 'CLEARCOUPON'
            })">
              Clear
            </button>
          </div>
          <div
            v-else
            class="input-wrap">
            <input
              v-model="newCouponCode"
              type="text"
              placeholder="CODE">
            <button
              class="apply"
              @click="updateCart({
                'couponCode': newCouponCode
            })">
              Apply
            </button>
          </div>
        </div>
      </div>
      <div class="total-wrap wrap">
        <div style="font-size: 20px; padding-bottom: 30px;">
          Order Total
        </div>
        <div class="totals">
          <ul>
            <li>
              <span>
                Points earned
              </span>
              <span>
                <img
                  style="width: 20px; margin-right: 5px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png">
                <!-- {{ totalRewardPts }} -->
                100
              </span>
            </li>
            <li>
              <span>
                Subtotal
              </span>
              <span>
                ${{ (cart.attributes.subTotal / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-if="cart.attributes.rewardPoints">
              <span>
                Savings: Reward Points
              </span>
              <span>
                -${{ (cart.attributes.rewardPoints / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-else-if="cart.attributes.coupon !== null">
              <span>
                Savings (coupon: {{ cart.attributes.coupon.code }})
              </span>
              <span>
                -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-else-if="cart.attributes.discount != 0">
              <span>
                Savings:
              </span>
              <span>
                -${{ (cart.attributes.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li v-if="cart.attributes.serviceFee">
              <span>
                Service Fee
              </span>
              <span>
                ${{ (cart.attributes.serviceFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Delivery fee
              </span>
              <span>
                ${{ (cart.attributes.deliveryFee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li>
              <span>
                Tax
              </span>
              <span>
                ${{ (cart.attributes.tax / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
            <li class="total">
              <span>
                Total
              </span>
              <span>
                ${{ (cart.attributes.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="checkout-wrap wrap">
        <div class="checkout">
          <button
            v-if="isAuthenticated !== true"
            :href="'https://www.' + domain + '/login'"
            class="bg-red text-white font-bold h-50 text-lg rounded w-full">
            Login
          </button>
          <button
            v-else
            class="bg-red text-white font-bold h-50 text-lg rounded w-full"
            @click.prevent="checkout">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <span style="border: 1px white solid; width: 5%; padding: 3px 0px 3px 0px; font-weight: 100; margin-left: 10px;">
                {{ cart.attributes.products.length }}
              </span>
              <span
                v-if="!isLoading"
                style="color: #FFFFFF; font-size: 14px; font-weight: 900; letter-spacing: 1px;	line-height: 14px;">
                {{ checkOutStep }}
              </span>
              <pulse-loader
                :loading="isLoading"
                color="#ffffff"
                size="10px"/>
              <span style="color: #FFFFFF; font-size: 14px; font-weight: 900; letter-spacing: 1px;	line-height: 14px; margin-right: 10px;">
                ${{ (cart.attributes.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="cart-list">
        <div
          class="cart-top"
          @click="toggleCart">
          <div style="padding-top: 8px;">
            <img
              style="transform: rotate(-180deg); width: 10px; margin-bottom: 5px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141158/runner%20v4/icons/ProductCardIconArrow.png">
            <span style="font-size: 16px; padding-left: 5px;">
              Back
            </span>
          </div>
          <img
            v-if="store.attributes && store.attributes.options"
            :src="store.attributes ? store.attributes.options.navigationLogo : null"
            :src="store.attributes.options.navigationLogo"
            <<<<<<<
            HEAD
              ="=&quot;=====&quot;"
          >>>>>>> staging
          style="height: 35px;"
          alt="Navigation Logo">
          <a
            href=""
            class="support"
            @click.prevent="toggleZenDesk">
            <img
              style="width: 35px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493599/runner%20v4/icons/IconSupport.png"
              alt="">
          </a>
        </div>
        <div class="empty-wrap">
          <div class="empty">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078845/runner%20v4/icons/EmptystateIconShoppingcart.png"
              alt="">
            <h2>
              Empty Shopping Cart
            </h2>
            <p>
              You have no items in your cart.
            </p>
            <button
              class="rounded bg-red text-white font-semibold h-50 pl-10 pr-10"
              @click="toggleCart">
              Continue Shopping
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.product-image {
  border-radius: 8px;
}
.total-wrap {
  height: 70%;
  @media (min-width: 640px) {
    height: unset;
  }
}
.checkout-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  @media (min-width: 640px) {
    position: unset;
    width: unset;
  }
}
.cart-text {
  font-size: 24px;
  font-weight: 600;
  padding: 30px 25px 30px 25px;
  display: block;
  @media (min-width: 640px) {
    display: none;
  }
}
#cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.cart-list {
  background-color: #f7f7f7;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  overflow-x: hidden;
  border-left: 1px solid #e4e4e4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media screen and (min-width: 768px) {
    width: 500px;
    left: auto;
    border-left: none;
  }
}
.wrap {
  padding: 35px;
  // margin-bottom: 15px;
  border-bottom: 1px #EFEFEF solid;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
  h2 {
    font-size: 22px;
  }
}
.empty-wrap {
  height: 100%;
  background-color: #fff;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 35px;
  height: 60%;
  // margin-bottom: 15px;
  // border-bottom: 1px #EFEFEF solid;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  img {
    width: 88px;
  }
  p {
    color: #ACACAC;
    margin-bottom: 40px;
  }
  button {
    width: 357px;
    height: 48px;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 1px;
    font-size: 13px;
  }
}
.cart-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  // display: grid;
  // align-items: center;
  // grid-gap: 15px;
  // grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  // padding: 15px;
  // margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  h2 {
    cursor: pointer;
  }
  .back {
    text-align: right;
  }
  .support {
    text-align: right;
  }
}
.store-info {
  display: grid;

  .title {
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    display: none;
    @media (min-width: 640px) {
      display: unset;
    }
  }
  .title2 {
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    @media (min-width: 640px) {
      display: none;
    }
  }
  .logo {
    display: none;
    text-align: center;
    @media (min-width: 640px) {
      display: unset;
    }
    // img {
    //   max-width: 50px;
    // }
  }
  .info {
    display: flex;
    p {
      margin-left: 20px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  .cart-total {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
  }
}
.product {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-content: center;
  grid-gap: 10px;
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .image {
    img {
      width: 100%;
    }
  }
  .info {
    display: grid;
    grid-gap: 10px;
    align-content: center;
    align-items: center;
    .title {
      font-size: 15px;
      font-weight: 600;
    }
    .packaging {
      font-size: 16px;
      color: #ACACAC;
      // font-style: italic;
    }
  }
  .quantity {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: repeat(3, 35px);
    align-items: center;
    div {
      font-size: 16px;
    }
    input {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
     }
    button {
      img {
       width: 20px;
      }
      border: 1px #ACACAC solid;
      border-radius: 4px;
      height: 35px;
      width: 35px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  .price {
    display: grid;
    align-content: center;
    text-align: right;
    font-size: 18px;
    font-weight: 900;
  }
  .allow-sub {
    grid-column: 2/4;
    grid-row: 3;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    @media (min-width: 640px) {
      grid-gap: 145px;
    }
    .dont-allow-text {
      color: #F83E40;
    }
  }
}
.coupon-apply {
  .coupon-btn {
    border: 1px #ACACAC solid;
    color: #B1B1B1;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 4px;
  }
  cursor: pointer;
  display: flex;
  justify-content: center;
  .arrow-rotated {
    transform: rotate(90deg);
  }
  span {
    color: #50E3C2;
    font-size: 18px;
    font-weight: 600;
  }
}
.coupon-input {
  margin-top: 30px;
  .input-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    input {
      text-align: center;
      border-radius: 8px;
      -webkit-appearance: none;
      height: 50px;
      border: 1px solid #e4e4e4;
      border-radius: 6px;
      display: grid;
      align-content: center;
      font-size: 18px;
      font-weight: 100;
      cursor: pointer;
    }
    button {
      cursor: pointer;
      border: 0;
      -webkit-appearance: none;
      color: #ffffff;
      background-color: #50E3C2;
      font-size: 18px;
      border-radius: 8px;
      height: 50px;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }
}
.totals {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      span {
        font-size: 16px;
      }
      span:first-child {
        text-align: left;
      }
      span:last-child {
        text-align: right;
      }
    }
    .total {
      span {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
}
.checkout {
  .button {
    cursor: pointer;
    height: 50px;
    color: #ffffff;
    background-color: #F83E40;
    display: grid;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
  }
}
</style>

<script>
import { checkoutStarted } from '../mixins/analytics';

export default {
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    cart: {
      type: Object,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      checkOutStep: 'CHECKOUT',
      stepCount: 0,
      couponInputIsShown: false,
      newCouponCode: '',
      isLoading: false,
      serviceFee: 500,
      icons: {
        minus: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053220/runner%20v4/icons/IconMinusGrey.png',
        plus: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png',
      },
    };
  },
  computed: {
    totalRewardPts() {
      let sum = 0;
      for (let i = 0; i < this.cart.attributes.products.length; i++) {
        sum += (parseFloat(this.cart.attributes.products[i].rewardPoints));
      }
      return sum;
    },
    giftOptions() {
      return this.$store.getters.giftOptions;
    },
    giftItemsTotal() {
      return this.giftOptions.tag.runnerPrice + this.giftOptions.card.runnerPrice + this.cart.attributes.subTotal;
    },
    giftTotal() {
      return this.giftOptions.tag.runnerPrice + this.giftOptions.card.runnerPrice + (this.cart.attributes.total - 999) + this.serviceFee;
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    cartStatus() {
      return this.$store.getters.cartStatus;
    },
    store() {
      return this.$store.getters.store;
    },
    inventoryId() {
      return this.$store.getters.inventoryId;
    },
  },
  watch: {
    stepCount(val) {
      if (this.store.attributes) {
        if (typeof this.store.attributes.cartExtras !== 'undefined' && val >= this.store.attributes.cartExtras.length) {
          this.checkOutStep = 'CHECKOUT';
        } else {
          this.checkOutStep = `ADD ${(this.store.attributes.cartExtras[val].title).toUpperCase()}`;
        }
      }
    },
  },
  mounted() {
    if (this.store.attributes) {
      if (!this.store.attributes.cartExtras) {
        this.checkOutStep = 'CHECKOUT';
      } else {
        this.checkOutStep = `ADD ${(this.store.attributes.cartExtras[this.stepCount].title).toUpperCase()}`;
      }
    }
  },
  methods: {
    checkoutStarted,
    toggleZenDesk() {
      if (!this.zenWillClose) {
        zE('webWidget', 'show');
        zE('webWidget', 'open');
        this.zenWillClose = true;
      } else {
        zE('webWidget', 'close');
        zE('webWidget', 'hide');
        this.zenWillClose = false;
      }
    },
    isScrolledIntoView(el) {
      const rect = el.getBoundingClientRect();
      const elemTop = rect.top;
      const elemBottom = rect.bottom;

      // Only completely visible elements return true:
      const isVisible = elemTop < window.innerHeight && elemBottom >= 0;
      // Partially visible elements return true:
      // isVisible = elemTop < window.innerHeight && elemBottom >= 0;
      return isVisible;
    },
    handleScroll(e) {
      const y = e.target.scrollTop;
      if (y === 0) {
        this.stepCount = 0;
      }
      // if (this.isScrolledIntoView(document.getElementById('add-ons'))) {
      //   console.log('seen');
      // }
      if (y >= (e.target.scrollHeight - e.target.clientHeight) - 200) {
        this.stepCount = this.store.attributes.cartExtras ? this.store.attributes.cartExtras.length : 0;
      }
    },
    toggleCart() {
      this.$store.commit('TOGGLE_CART_STATUS');
    },
    toggleCouponInput() {
      this.couponInputIsShown = !this.couponInputIsShown;
    },
    async updateCart(value) {
      let data;
      const anonymousId = window.analytics.user().anonymousId();

      if ('couponCode' in value) {
        data = {
          userId: this.user.id,
          cartId: this.cart.id,
          anonymousId,
          payload: {
            couponCode: value.couponCode,
          },
        };

        try {
          await this.$store.dispatch('updateCart', data);
        } catch (error) {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.message,
            duration: -1,
          });
        }
      }

      if ('productId' in value) {
        data = {
          userId: this.user.id,
          cartId: this.cart.id,
          anonymousId,
          payload: {
            products: [
              {
                id: value.productId,
                quantity: value.quantity,
                allowSub: value.allowSub,
              },
            ],
          },
        };

        // find product in current cart
        const cartProduct = this.cart.attributes.products.find(product => product.id == value.productId);
        const quantityDifference = value.quantity - cartProduct.quantity;

        if (quantityDifference < 0) {
          this.sendGARemoveFromCart(cartProduct);
        } else {
          this.sendGAAddToCart(cartProduct);
        }

        if (value.quantity > 0) {
          try {
            await this.$store.dispatch('updateCart', data);
          } catch (error) {
            this.$notify({
              group: 'errors',
              type: 'error',
              title: 'Error',
              text: error.response.data.message,
              duration: -1,
            });
          }
        } else {
          const confirm = window.confirm('Are You Sure You Want To Remove This Item From Your Cart?');

          if (confirm === true) {
            this.$store.dispatch('updateCart', data);
          }
        }
      }
    },
    checkout() {
      if (this.store.attributes && this.store.attributes.cartExtras && this.stepCount < this.store.attributes.cartExtras.length) {
        this.stepCount = this.stepCount + 1;

        document.getElementById('add-ons').childNodes[this.stepCount - 1].scrollIntoView();
      } else {
        this.isLoading = true;

        const data = {
          cart: this.cart,
          products: this.cart.attributes.products,
          storeId: this.store.id,
          domain: this.domain,
          subDomain: this.subDomain,
          inventoryId: this.inventoryId,
        };

        this.checkoutStarted(data);

        window.location.href = `https://${this.subDomain}.${this.domain}/checkout`;
      }
    },
    sendGAAddToCart(product) {
      window.dataLayer.push({
        event: 'addToCart',
        ecommerce: {
          currencyCode: 'CAN',
          add: {
            products: [
              {
                name: product.title,
                id: product.id,
                price: (product.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                variant: product.packaging,
                quantity: 1,
                dimension1: String(this.store.id),
              },
            ],
          },
        },
      });
    },
    sendGARemoveFromCart(product) {
      window.dataLayer.push({
        event: 'removeFromCart',
        ecommerce: {
          currencyCode: 'CAN',
          add: {
            products: [
              {
                name: product.title,
                id: product.id,
                price: (product.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                variant: product.packaging,
                quantity: 1,
                dimension1: String(this.store.id),
              },
            ],
          },
        },
      });
    },
  },
};
</script>
