<template>
  <div
    v-if="!isLoading"
    id="add-ons">
    <div
      v-for="(extra, index) in cartExtras"
      :key="index"
      class="add-ons border-bottom bg-white p-15">
      <div class="title">
        {{ extra.title }}
      </div>
      <p>
        {{ extra.subTitle }}
      </p>
      <div class="gift-cards-wrapper mb-15">
        <ul class="list-reset gift-cards">
          <li
            v-for="addOn in addOns[extra.sortOrder]"
            :key="addOn.id"
            class="selectable-options"
            @click="updateCart({
              'productId': addOn.id,
              'quantity': 1,
              'allowSub': true,
              'type': addOn.type
          }), selectAddOn(addOn)">
            <img
              :class="{'selected': selectedCard.includes(addOn.id)}"
              :src="addOn.attributes.images[0].image"
              class="product-image"
              alt="">
            <div class="content-between">
              <div class="product-title font-bold mb-10">
                {{ addOn.attributes.title }}
              </div>
              <div
                v-if="addOn.attributes.longDescription"
                class="mb-10">
                {{ addOn.attributes.longDescription | truncate(50, '...') }}
              </div>
              <div class="price font-bold">
                ${{ (addOn.attributes.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.product-image {
  border-radius: 8px;
}
.product-title {
  height: 40px;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 16px;
}
.none {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.add-ons {
  padding: 35px;
}
.border-bottom {
  border-bottom: 1px rgba(239,239,239,1) solid;
}
.selected {
  border: #58DFA9 solid 2px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px 0px rgba(88, 223, 169, 0.6);
}
.content-between {
  .price {
    font-size: 20px;
    line-height: 20px;
  }
}
.selectable-options {
  display: flex;
  flex-flow: column;
  cursor: pointer;
  img {
    margin-bottom: 15px;
    min-width: 145px;
  }
}
.gift-cards-wrapper {
  overflow-x: auto;
  margin: -8px;
  padding: 8px;
}
.gift-cards {
  display: flex;
  -webkit-overflow-scrolling: touch;
  li {
    margin-right: 15px;
  }
  li:last-child {
    margin-right: 0px;
  }
}
.title {
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 15px;
}
p {
  font-size: 15px;
  line-height: 20px;
}
</style>

<script>
import api from '../mixins/api';

export default {
  filters: {
    truncate(text, length, suffix) {
      return text.substring(0, length) + suffix;
    },
  },
  mixins: [
    'api',
    // important,
  ],
  props: {
    cartExtras: {
      type: Array,
      default: null,
      required: true,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: 'www',
      required: false,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    cart: {
      type: Object,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      addOns: [],
      isLoading: false,
      selectedCard: [],
    };
  },
  async mounted() {
    try {
      for (let i = 0; i < this.cartExtras.length; i++) {
        this.isLoading = true;
        await this.getExtras(i);
      }
      this.isLoading = false;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    async getExtras(i) {
      try {
        const response = await api().get(`https://api.${this.domain}/${this.cartExtras[i].url}`);
        this.addOns[this.cartExtras[i].sortOrder] = response.data.data;
      } catch (error) {
        console.log(error);
      }
    },
    setGiftMessage() {
      this.$store.commit('SET_GIFT_MESSAGE', document.querySelector('#personalMessage').value);
    },
    selectAddOn(addOn) {
      if (this.selectedCard.includes(addOn.id)) {
        this.selectedCard.splice(this.selectedCard.indexOf(addOn.id), 1);
      } else {
        this.selectedCard.push(addOn.id);
      }
    },
    updateCart(value) {
      let data;

      if ('productId' in value) {
        data = {
          userId: this.user.id,
          cartId: this.cart.id,
          payload: {
            products: [
              {
                id: value.productId,
                quantity: value.quantity,
                allowSub: value.allowSub,
                type: value.type,
              },
            ],
          },
        };
        if (value.quantity > 0) {
          this.$store.dispatch('updateCart', data);
        } else {
          const confirm = window.confirm('Are You Sure You Want To Remove This Item From Your Cart?');

          if (confirm === true) {
            this.$store.dispatch('updateCart', data);
          }
        }
      }
    },
  },
};
</script>
