<template>
  <div
    v-if="favouritesIsOpen"
    id="favourites"
    :class="{'subdomain': subDomain !== 'www'}"
    class="overlay">
    <moon-loader-wrapper
      :full-screen="true"
      :is-loading="isLoading"/>
    <div
      class="back-btn"
      @click="closeFavourites()">
      <img
        style="transform: rotate(180deg); width: 13px; margin-bottom: 3px;"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
        alt="">
      <span>
        Back
      </span>
    </div>
    <div class="favourites-wrap">
      <div class="title-wrap">
        <h2 style="font-size: 24px; font-weight: 600; display: inline;">
          Your Favourites
        </h2>
      </div>
      <div
        v-if="favourites.length <= 0"
        class="no-favourites">
        <div class="no-favourites-box">
          <div style="width: 97%;">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconClosed.png"
              alt="">
          </div>
          <div>
            You have no favourites currently.
          </div>
        </div>
      </div>
      <div
        v-if="!userId"
        class="no-favourites p-30">
        <div class="no-favourites-box">
          <div
            class="register-login">
            <button
              class="flex ai-center jc-center"
              style="margin-right: 15px;"
              @click="goToPage('login')">
              <img
                class="mr-15"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavLogout.png"
                alt="">
              <span class="uppercase">
                Log In
              </span>
            </button>
            <button
              class="flex ai-center jc-center"
              @click="goToPage('register')">
              <img
                class="mr-15"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavLogout.png"
                alt="">
              <span class="uppercase">
                Sign Up
              </span>
            </button>
          </div>
          <div>
            You have have to be logged in to see your favourites.
          </div>
        </div>
      </div>
      <div class="has-favourites">
        <div
          v-if="favourites.length > 0"
          class="favourites-wrap">
          <div
            v-for="(favourite,index) in favourites"
            :key="index"
            class="favourite card">
            <div class="store-logo">
              <img
                :src="favourite.storeLogo"
                style="width: 35px">
              <div>
                {{ favourite.title }}
              </div>
            </div>
            <transition-group name="list">
              <div
                v-for="(product) in favourite.products.slice(0, favourite.productsShown)"
                :key="product.id"
                class="product card">
                <div class="product-info-wrap">
                  <div
                    class="favourited"
                    @click="deleteFavourite(product.attributes.favouriteId)">
                    <div class="icon-favourite">
                      <img
                        src="/assets/v2/icons/Favourites-Heart-Fill@3x.png"
                        alt="">
                    </div>
                  </div>
                  <div class="image">
                    <img
                      :src="product.attributes.image"
                      alt="">
                  </div>
                  <div class="favourite-info">
                    <div class="info-dekstop">
                      <div class="title mb-10">
                        <span>
                          {{ product.attributes.title }}
                        </span>
                      </div>
                      <div class="package mb-10 c-acacac">
                        <span>
                          {{ product.attributes.packaging }}
                        </span>
                      </div>
                    </div>
                    <div class="price">
                      <span>
                        ${{ (product.attributes.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                      </span>
                    </div>
                    <div class="add-to-cart desktop">
                      <button>
                        ADD TO CART
                      </button>
                    </div>
                  </div>
                </div>
                <div class="add-to-cart mobile">
                  <button>
                    ADD TO CART
                  </button>
                </div>
              </div>
            </transition-group>
            <div
              v-if="favourite.productsShown < favourite.products.length"
              class="show-more-wrap">
              <button
                class="show-more"
                @click="showMoreProducts(favourite)">
                SEE MORE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.register-login {
  display: flex;
  font-size: 15px !important;
  align-self: center;
  @media (min-width: 640px) {
    font-size: 20px !important;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    width: fit-content;
    border: 1px solid #acacac;
    border-radius: 4px;
  }
  img {
    width: 40px;
  }
}
.no-favourites {
  display: flex;
  justify-content: center;
  .no-favourites-box {
    display: flex;
    flex-flow: column;
    div {
      padding: 10px 0px;
      font-size: 15px;
      text-align: center;
    }
  }
}
.back-btn {
  position: absolute;
  top: 20px;
  @media (min-width: 640px) {
    display: none;
  }
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.title-wrap {
  @media (min-width: 640px) {
    // margin-bottom: 30px;
  }
}
.store-logo {
  margin-top: 30px;
  display: flex;
  align-items: center;
  div {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}
.info-desktop {
  display: none;
  @media (min-width: 640px) {
    display: grid;
  }
}
.show-more-wrap {
  border-bottom: 1px #EFEFEF solid;
  padding-bottom: 30px;
  @media (min-width: 640px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .show-more {
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    color: #ACACAC;
    width: 100%;
    @media (min-width: 640px) {
      width: 288px;
      height: 48px;
    }
    border: 1px #ACACAC solid;
    border-bottom: 1px #ACACAC solid !important;
    padding: 15px 0px 15px 0px;
  }
}
.icon-favourite {
  cursor: pointer;
  width: 28px;
  height: 24px;
  margin-right: 20px;
}
.favourites-wrap {
  display: grid;
  @media (min-width: 640px) {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
  }
}
.add-to-cart.mobile {
  margin-top: 15px;
  @media (min-width: 640px) {
    display: none;
  }
}
.add-to-cart.desktop {
  display: none;
  @media (min-width: 640px) {
    display: unset;
  }
}
.add-to-cart {
  letter-spacing: 1px;
  line-height: 14px;
  font-size: 13px;
  @media (min-width: 640px) {
    width: 281px;
    height: 48px;
  }
  button {
    color: white;
  }
  text-align: center;
  background-color: #F83F40;
  border-radius: 4px;
  width: 100%;
  padding: 15px 0 15px 0;
  box-shadow: 0px 5px 16px -5px #F83F40;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.has-favourites {
  .favourites-wrap {
    .product.card {
      border-bottom: 1px #EFEFEF solid;
      padding-bottom: 25px;
      padding-top: 25px;
      .product-info-wrap {
        display: flex;
        .favourite-info {
          display: inline-block;
          align-self: center;
          @media (min-width: 640px) {
            display: inline-flex;
            flex-flow: row wrap;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin-left: 43px;
            align-items: center;
            div {
              margin-bottom: 0px !important;
              flex: 1;
            }
            div.price {
              flex: 0 0 200px !important;
            }
          }
          .title {
            font-size: 16px;
            font-weight: 600;
          }
          .price {
            font-size: 17px;
            font-weight: 600;
          }
        }
        .favourited {
          align-self: center;
        }
      }
    }
    .favourite.card {
      border-bottom: 1px #EFEFEF solid;
      :nth-last-child(1) {
        border-bottom: 0px;
      }
      .image {
        width: 90px;
        height: 120px;
      }
    }
  }
}
.overlay.subdomain {
  top: 71px !important;
  @media (min-width: 640px) {
    top: 86px !important;
  }
}
.overlay {
  overflow-y: scroll;
  background-color: #ffffff;
  position: fixed;
  top: 41px;
  @media (min-width: 640px) {
    top: 61px;
  }
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 15px;
  z-index: 100;
}
</style>

<script>
export default {
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      showMore: false,
      favourites: {},
      isLoading: false,
      userId: this.$cookie.get('userId', { domain: this.domain }),
      productsShown: 5,
    };
  },
  computed: {
    favouritesIsOpen() {
      return this.$store.state.activeModal === 'favourites';
    },
  },
  mounted() {
    if (this.$cookie.get('token')) {
      this.getFavourites();
    }
  },
  methods: {
    showMoreProducts(store) {
      if (isNaN(store.productsShown)) {
        store.productsShown = 10;
      } else {
        store.productsShown += 5;
      }
      this.$forceUpdate();
    },
    closeFavourites() {
      this.$store.commit('SET_ACTIVE_MODAL', 'sideNav');
    },
    getFavourites() {
      this.isLoading = true;

      axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/users/${this.userId}/favourites/by-store`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.favourites = response.data;
          for (let i = 0; i < this.favourites.length; i++) {
            this.favourites[i].productsShown = 5;
          }
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteFavourite(id) {
      this.isLoading = true;
      axios({
        method: 'delete',
        url: `https://api.${this.domain}/runner/v4/users/${this.userId}/favourites/${id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.getFavourites();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    goToPage(page) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${this.domain}/${page}`;
    },
  },
};
</script>
