<template>
  <div id="filter-side-nav">
    <div class="sort-btn desktop-only">
      Sort by:
      <select
        v-model="sortOption"
        class="filterSelect"
        style="border: 1px #f3f3f373 solid; margin-left: 10px;"
        @change="applySort()">
        <option
          :value="null">
          None
        </option>
        <option value="price">Price: Low to High</option>
        <option value="-price">Price: High to Low</option>
        <option value="averageRating">Rating: Low to High</option>
        <option value="-averageRating">Rating: High to Low</option>
      </select>
    </div>
    <div class="mobile-only">
      <div
        v-if="categories"
        class="filter-btns-mobile">
        <div class="flex w-full justify-between items-center">
          <div
            :class="{'has-filters' : filters.length !== 0}"
            class="filter-btn">
            <button
              class="filters-toggle"
              @click="setActiveModal('filterSideNav')">
              <span v-if="filters.length === 0">
                <img
                  style="width: 20px"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562948286/runner%20v4/icons/IconFilterGray.png"
                  alt="">
                <span style="color: #ACACAC;">
                  Filters
                </span>
              </span>
              <span v-else>
                <span
                  class="filter-length">
                  {{ filters.length }}
                </span>
                <span style="color: #018449; font-weight: 500;">
                  Filters
                </span>
              </span>
            </button>
          </div>
          <div class="sort-btn">
            Sort by:
            <select
              v-model="sortOption"
              class="filterSelect"
              style="border: 1px #f3f3f373 solid; margin-left: 10px;"
              @change="applySort()">
              <option
                :value="null">
                None
              </option>
              <option value="price">Price: Low to High</option>
              <option value="-price">Price: High to Low</option>
              <option value="averageRating">Rating: Low to High</option>
              <option value="-averageRating">Rating: High to Low</option>
            </select>
          </div>
        </div>
        <div
          v-if="filterSideNavIsShown"
          id="filterSideNav">
          <favourites
            :sub-domain="subDomain"
            :page-attributes="pageAttributes"/>
          <div class="categories-wrap">
            <div
              v-if="category.id !== null"
              class="categories">
              <span class="top-headers">
                <span
                  style="cursor: pointer; margin-top: 7px;"
                  @click="setActiveModal('none')">
                  <img
                    style="transform: rotate(180deg); width: 12px; margin-bottom: 3px;"
                    src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
                    alt="">
                  Back
                </span>
                <span style="font-weight: 500; font-size: 23px; margin-right: 50px;">
                  Filter
                </span>
                <span/>
              </span>
            </div>
            <div
              class="categories"
              style="border-bottom: 0px;">
              <div
                v-if="!Object.keys(groupedFilters).length"
                style="margin: 15px;">
                No filters exist for this category.
              </div>
              <div
                v-for="(slug, index) in groupedFilters"
                v-show="index !== 'user-tag' && index !== 'promo' && index !== 'promotion'"
                :key="index"
                class="selection">
                <div class="headers filter-by">
                  <span style="margin-top: 20px; font-weight: 400; margin-bottom: 5px;">
                    {{ index[0].toUpperCase() + index.substr(1) }}
                  </span>
                  <span/>
                </div>
                <div
                  v-if="index === 'rating'"
                  class="filter-wrap-rating">
                  <div style="display: flex;">
                    <span class="rating flex justify-center">
                      <star-rating
                        :star-size="15"
                        :padding="10"
                        :show-rating="false"
                        :rating="rating"
                        @rating-selected ="setRating"
                      /> &amp; Up
                    </span>
                    <span
                      v-if="Object.keys(ratingFilter).length"
                      style="cursor: pointer; margin-left: 15px; right: 75px; width: 15px; opacity: 0.5;"
                      @click="removeRatingFilter()">
                      &#10005;
                    </span>
                  </div>
                </div>
                <div
                  v-else-if="index === 'price'"
                  class="filter-wrap">
                  <div
                    v-for="(tag, index) in slug"
                    :key="index"
                    class="filters">
                    <input
                      v-model="priceFilter"
                      :value="tag"
                      :id="tag.id"
                      :checked="existingSlugs.includes(tag.slug)"
                      style="padding: 0; margin-top: 3px; margin-right: 10px;"
                      type="radio"
                      name="test"
                      @change="applyFilter()">
                    <label :for="tag.id">
                      {{ tag.title }}
                    </label>
                    <span
                      v-if="Object.keys(priceFilter).length && tag.slug === priceFilter.slug"
                      style="cursor: pointer; margin-left: 15px;"
                      @click="removePriceFilter()">
                      &#10005;
                    </span>
                  </div>
                </div>
                <div
                  v-else
                  class="filter-wrap">
                  <div
                    v-for="(tag, index) in slug"
                    :key="index"
                    class="filters">
                    <input
                      v-model="filters"
                      :value="tag"
                      :id="tag.id"
                      :checked="existingSlugs.includes(tag.slug)"
                      style="padding: 0; margin-top: 3px; margin-right: 10px;"
                      type="checkbox"
                      name="test"
                      @change="applyFilter()">
                    <label :for="tag.id">
                      {{ tag.title }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-wrap">
            <div class="btn-footer">
              <button-component
                :text="'CLEAR ALL'"
                :color="'grey'"
                :fill="false"
                :width="'150px'"
                :height="'50px'"
                :wrap-width="''"
                @click.native="resetFilters()"/>
              <button-component
                :text="'DONE'"
                :color="'red'"
                :fill="true"
                :box-shadow="false"
                :width="'150px'"
                :height="'50px'"
                :wrap-width="''"
                @click.native="setActiveModal('none')"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
// CUSTOM CSS INPUT
// radios
$checkbox-size: 12px;
$margin: 12px;
$margin-small: $margin / 2;
$text-lighter: #ccc;
$brand: #70dfdb;

body {
  font-family: sans-serif;
  color: #444;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin: 30px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: flex-start;
  min-width: 400px;
}

label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside {
  color: $text-lighter;
}

input {
  cursor: pointer;
  outline: none;
  position: relative !important;
  appearance: none;
  margin: $margin-small;
  box-sizing: content-box;
  overflow: hidden;

  // circle
  &:before {
    content: '';
    display: block;
    box-sizing: content-box;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 2px solid $text-lighter;
    transition: 0.2s border-color ease;
  }

  &:checked:before {
    border-color: $brand;
    transition: 0.5s border-color ease;
  }

  &:disabled:before {
    border-color: $text-lighter;
    background-color: $text-lighter;
  }

  // dot
  &:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    background-color: $brand;
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: 100vh;
    transform: translate(-50%, -50%) scale(0);
  }

  &[type="radio"] {
    &:before {
      border-radius: 100vh;
    }

    &:after {
      width: $checkbox-size;
      height: $checkbox-size;
      border-radius: 100vh;
      transform: translate(-50%, -50%) scale(0);
    }

    &:checked:after {
      animation: toggleOnRadio 0.2s ease forwards;
    }
  }

  &[type="checkbox"] {
    &:before {
      border-radius: $checkbox-size / 4;
    }

    &:after {
      width: $checkbox-size * 0.6;
      height: $checkbox-size;
      border-radius: 0;
      transform: translate(-50%, -85%) scale(0) rotate(45deg);
      background-color: transparent;
      box-shadow: 4px 4px 0px 0px $brand;
    }

    &:checked:after {
      animation: toggleOnCheckbox 0.2s ease forwards;
    }
  }

  &[type="checkbox"].filled  {
    &:before {
      border-radius: $checkbox-size / 4;
      transition: 0.2s border-color ease, 0.2s background-color ease;
    }

    &:checked:not(:disabled):before {
      background-color: $brand;
    }

    &:not(:disabled):after {
      box-shadow: 4px 4px 0px 0px white;
    }
  }
}

@keyframes toggleOnCheckbox {
  0% {
    opacity: 0;
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
  }

  100% {
    transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
  }
}

@keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
// END OF CUSTOM CSS FOR INPUTS
.highlighted {
  border: 1px #008449 solid !important;
  a {
    color: #008449 !important;
  }
  font-weight: 600 !important;
}
.sort-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
.rating {
  overflow: hidden;
  }
.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
  position: relative;
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url('https://www.everythingfrontend.com/samples/star-rating/star.png') 0 -16px;
}

.filter-wrap-rating {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
  margin-left: 15px;
  margin-bottom: 15px;
}
.filter-length {
    border: 1px #018449 solid;
    background-color: #018449;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.filter-btns-mobile {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
  -webkit-overflow-scrolling: touch;
  .has-filters {
    border: 1px #018449 solid !important;
  }
  .filter-btn {
    min-height: 30px;
    border-radius: 4px;
    min-width: fit-content;
    border: 1px #ACACAC solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.filters-toggle {

}
.categories-wrap {
  height: 85%;
  overflow: scroll;
}
.footer-wrap {
  position:fixed;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: #fff;
  .btn-footer {
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
  }
}
.top-headers {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.mobile-only {
  @media (min-width: 640px) {
    display: none;
  }
}
.desktop-only {
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
}
.filterSideNavOpen {
  display: unset !important;
}
#fullScreen {
  display: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#filterSideNav {
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  // top: 91px;
  top: 0px;
  @media (min-width: 640px) {
    top: 56px;
  }
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #eaeaea;
  @media screen and (min-width: 640px) {
    width: 300px;
    top: 61px;
  }
}
.quick-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  @media screen and (min-width: 640px) {
    display: none;
  }
  li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    border-right: 1px solid #efefef;
    padding: 15px 0;
    &:last-child {
      border-right: 0;
    }
    img {
      width: 40px;
      margin-bottom: 5px;
    }
  }
}
.shopping-in {
  padding: 0px 15px 25px 15px;
  @media (min-width: 640px) {
    display: none;
  }
}
.rewards {
  @media (min-width: 640px) {
    display: none;
  }
  flex-direction: column;
  img {
    width: 50px;
  }
}
.outer {
  height: 10px;
  background-color: #efefef;
  border-radius: 20px;
  width: 100%;
}
.inner {
  height: 10px;
  background-color: #ffdd7a;
  border-radius: 20px;
}
.categories {
  .selection {
    border-bottom: 1px #EFEFEF solid;
    display: grid;
    .headers.selected {
      display: flex;
      justify-content: space-evenly;
    }
    .headers.filter-by {
      display: flex;
      margin-left: 15px;
      margin-bottom: 10px;
      font-size: 19px;
    }
    .filters {
      display: flex;
      margin-left: 15px;
      margin-bottom: 10px;
      span {
        opacity: 0.5;
        font-size: 8px;
        margin-top: 4px;
        margin-right: 10px;
      }
    }
  }
  border-bottom: 1px solid #efefef;
  padding: 15px 0px;
  ul {
    li {
      cursor: pointer;
      font-size: 18px;
      padding: 15px;
      .category {
        color: #444444;
        display: flex;
        align-items: center;
      }
    }
    .active {
      img {
        transform: rotate(0deg);
      }
    }
    img {
      width: 15px;
      margin-left: auto;
      transform: rotate(-90deg);
    }
  }
}
.standard-nav-items {
  padding: 15px 0;
  @media (min-width: 640px) {
    padding: 10px 30px 30px 30px;
    img {
      display: none;
    }
  }
  ul {
    li {
      @media (min-width: 640px) {
        :hover {
          color: #F83F40;
        }
      }
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 15px 15px;
      img {
        width: 15px;
        margin-left: auto;
        transform: rotate(-90deg);
      }
    }
  }
}
.logout {
  button {
    width: 100%;
    border: 1px solid #acacac;
    border-radius: 4px;
  }
  img {
    width: 40px;
  }
}
.filterSelect {
  -webkit-appearance: none;
  border: 1pc solid #acacac;
  padding: 10px;
}
</style>

<script>
import StarRating from 'vue-star-rating';
import {
  mapGetters,
} from 'vuex';

export default {
  components: {
    StarRating,
  },
  props: {
    user: {
      type: Object,
      default: null,
      required: false,
    },
    selectedAddress: {
      type: Object,
      default: null,
      required: false,
    },
    subDomain: {
      type: String,
      default: null,
      required: false,
    },
    domain: {
      type: String,
      default: 'getrunner.io',
      required: true,
    },
    category: {
      type: Object,
      required: false,
      default: null,
    },
    activeModal: {
      type: String,
      default: 'none',
      required: null,
    },
    categories: {
      type: String,
      default: null,
      required: false,
    },
    tags: {
      type: Array,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      filters: [],
      ratingFilter: {},
      priceFilter: {},
      existingSlugs: [],
      filterSideNavIsShown: false,
      groupedFilters: {},
      rating: 0,
      sortOption: '',
      pageName: '',
    };
  },
  computed: {
    categoryId() {
      return this.category.id;
    },
    formattedCategories() {
      return JSON.parse(this.categories);
    },
  },
  mounted() {
    if (window.location.href.split('?page=')[0].includes('category') || window.location.pathname === '/' || window.location.pathname.includes('product')) {
      this.pageName = 'category';
    } else if (window.location.href.split('?page=')[0].includes('tag')) {
      this.pageName = 'tag';
    }
    this.groupedFilters = _.groupBy(this.tags, 'type');
    this.createSlugTokens(this.getUrlParameters());
    for (let i = 0; i < this.existingSlugs.length; i++) {
      this.completeFiltersBySlugs(this.existingSlugs[i]);
    }
    this.setSortFromURL();
    // if (this.existingSlugs.length > 0 && !window.location.href.includes('page') && window.innerWidth < '640') {
    //   this.setActiveModal('filterSideNav');
    // }
  },
  methods: {
    removeRatingFilter() {
      if (this.filters.includes(this.ratingFilter)) {
        const ratingFilterIndex = this.filters.indexOf(this.ratingFilter);
        this.filters.splice(ratingFilterIndex, 1);
      }
      this.ratingFilter = {};
      this.rating = 0;
      this.applyFilter();
    },
    removePriceFilter() {
      if (this.filters.includes(this.priceFilter)) {
        const priceFilterIndex = this.filters.indexOf(this.priceFilter);
        this.filters.splice(priceFilterIndex, 1);
      }
      this.priceFilter = {};
      this.applyFilter();
    },
    setRating(rating) {
      this.ratingFilter = {
        slug: `rating-${rating}00`,
        title: `Under ${rating} Stars`,
        type: 'rating',
      };
      this.applyFilter();
    },
    removeFilter(index) {
      this.filters.splice(index, 1);
      this.applyFilter();
    },
    setSortFromURL() {
      const url = new URL(window.location.href);
      const queryString = url.search;
      const searchParameters = new URLSearchParams(queryString);
      this.sortOption = searchParameters.get('sort');
    },
    completeFiltersBySlugs(slug) {
      for (let i = 0; i < this.tags.length; i++) {
        if (this.tags[i].slug === slug) {
          this.filters.push(this.tags[i]);
          if (slug.includes('price')) {
            this.priceFilter = this.tags[i];
          }
          if (slug.includes('rating')) {
            this.rating = parseInt(slug.split('-')[1][0], 10);
            this.ratingFilter = this.tags[i];
          }
        }
      }
    },
    createSlugTokens(url) {
      const newStr = url.split('filter');
      const newArr = [];
      const finalArr = [];
      const finalfinalArr = [];
      const returnArr = [];
      let finalReturnArr = [];

      // O(n^6) + n  worst case, need to reduce runtime
      for (let i = 0; i < newStr.length; i++) {
        newArr.push((newStr[i].split(']=')));
      }
      for (let i = 1; i < newArr.length; i++) {
        finalArr.push(newArr[i][1].split(','));
      }
      for (let i = 0; i < finalArr.length; i++) {
        for (let j = 0; j < finalArr[i].length; j++) {
          finalfinalArr.push(finalArr[i][j].split('&'));
        }
      }
      for (let i = 0; i < finalfinalArr.length; i++) {
        for (let j = 0; j < finalfinalArr[i].length; j++) {
          if (!finalfinalArr[i][j] === '' || !finalfinalArr[i][j].includes('page=') || !finalfinalArr[i][j].includes('sort=')) {
            returnArr.push(finalfinalArr[i][j]);
          }
        }
      }

      // question mark checker
      for (let i = 0; i < returnArr.length; i++) {
        finalReturnArr.push((returnArr[i].replace('?', '')));
      }
      finalReturnArr = finalReturnArr.filter(v => v != '');
      this.existingSlugs = finalReturnArr;
    },
    getUrlParameters() {
      const url = new URL(window.location.href);
      const queryString = url.search;
      return queryString;
    },
    resetFilters() {
      this.filters = [];
      this.existingSlugs = [];
      this.priceFilter = {};
      this.ratingFilter = {};
      this.rating = 0;
      this.applyFilter();
    },
    applySort() {
      this.applyFilter();
    },
    applyFilter() {
      let url = '';
      if (this.pageName === 'category') {
        url = new URL(`https://${this.subDomain}.${this.domain}/category/${this.category.slug}`);
      } else if (this.pageName === 'tag') {
        url = new URL(`https://${this.subDomain}.${this.domain}/tag/${this.category.slug}`);
      }
      if (Object.keys(this.ratingFilter).length) {
        this.filters.push(this.ratingFilter);
      }
      if (Object.keys(this.priceFilter).length) {
        this.filters.push(this.priceFilter);
      }
      let resultString = url.toString();
      let filterTagsParam;
      let filterPriceParam;
      let filterRatingParam;
      let newUrl = new URL(resultString);
      for (let i = 0; i < this.filters.length; i++) {
        filterTagsParam = newUrl.searchParams.get('filter[tags]');
        filterPriceParam = newUrl.searchParams.get('filter[price]');
        filterRatingParam = newUrl.searchParams.get('filter[averageRating]');
        resultString = newUrl.toString();
        if (i === 0) {
          if (this.filters[i].type !== 'price' && this.filters[i].type !== 'rating') {
            if (resultString.includes(filterTagsParam)) {
              resultString = `${resultString.slice(0, resultString.indexOf(filterTagsParam))}${this.filters[i].slug},${resultString.slice(resultString.indexOf(filterTagsParam))}`;
            } else if (!resultString.includes(filterTagsParam)) {
              resultString += `?filter[tags]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'price') {
            if (resultString.includes(filterPriceParam)) {
              resultString.replace(filterPriceParam, this.filters[i].slug);
            } else if (!resultString.includes(filterPriceParam)) {
              resultString += `?filter[price]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'rating') {
            if (resultString.includes(filterRatingParam)) {
              resultString.replace(filterRatingParam, this.filters[i].slug);
            } else if (!resultString.includes(filterRatingParam)) {
              resultString += `?filter[averageRating]=${this.filters[i].slug}`;
            }
          }
        } else {
          if (this.filters[i].type !== 'price' && this.filters[i].type !== 'rating') {
            if (resultString.includes(filterTagsParam)) {
              resultString = `${resultString.slice(0, resultString.indexOf(filterTagsParam))}${this.filters[i].slug},${resultString.slice(resultString.indexOf(filterTagsParam))}`;
            } else if (!resultString.includes(filterTagsParam)) {
              resultString += `&filter[tags]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'price') {
            if (resultString.includes(filterPriceParam)) {
              resultString = resultString.replace(filterPriceParam, this.filters[i].slug);
            } else if (!resultString.includes(filterPriceParam)) {
              resultString += `&filter[price]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'rating') {
            if (resultString.includes(filterRatingParam)) {
              resultString = resultString.replace(filterRatingParam, this.filters[i].slug);
            } else if (!resultString.includes(filterRatingParam)) {
              resultString += `&filter[averageRating]=${this.filters[i].slug}`;
            }
          }
        }
        newUrl = new URL(resultString);
      }
      if (this.sortOption !== null) {
        const sortParam = newUrl.searchParams.get('sort');
        if (this.filters.length === 0) {
          if (resultString.includes(sortParam)) {
            resultString.replace(sortParam, this.sortOption);
          } else {
            resultString += `?sort=${this.sortOption}`;
          }
        } else if (this.filters.length > 0) {
          if (resultString.includes(sortParam)) {
            resultString.replace(sortParam, this.sortOption);
          } else {
            resultString += `&sort=${this.sortOption}`;
          }
        }
      }
      if (resultString.indexOf('postalCode') === -1) {
        let url = resultString;
        if (url.indexOf('?') > -1) {
          url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        } else {
          url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        }
        resultString = url;
      }
      location.href = resultString;
    },
    logout() {
      this.$cookie.delete('userId', { domain: this.domain });
      this.$cookie.delete('accessToken', { domain: this.domain });
      this.$cookie.delete('token', { domain: this.domain });
      location.reload();
    },
    login() {
      window.location.href = `https://www.${this.domain}/login`;
    },
    setActiveModal(activeModal) {
      this.$store.commit('SET_ACTIVE_MODAL', activeModal);
      if (activeModal === 'filterSideNav') {
        this.filterSideNavIsShown = true;
      } else if (activeModal === 'none') {
        this.filterSideNavIsShown = false;
      }
    },
  },
};
</script>
