<template>
  <div class="header-wrap sticky pin-t pin-l pin-r">
    <div
      v-if="subDomain !== 'www'"
      class="bg-white">
      <cart
        :user="user"
        :domain="domain"
        :sub-domain="subDomain"
        :cart="cart" />
      <div
        v-click-outside="closeDeliveryInfo"
        class="top"
        style="margin-bottom: 5px; height: 25px; display: grid; grid-template-columns: 111px 1fr;">
        <a
          style="cursor: pointer;"
          class="runner-logo"
          @click="goToRunnerExplore">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/StoreFrontNavRunner.png"
            alt="">
        </a>
        <div
          v-if="outOfBounds"
          class="out-of-bounds-in-store">
          <h4>
            <b>Runner is not available in this location</b>. To continue shopping,&nbsp;
          </h4>
          <h4
            class="underline cursor"
            @click="editAddress(user, domain)">
            <b>click here</b>
          </h4>
          <h4>
            &nbsp;to choose another address.
          </h4>
        </div>
        <a
          :class="{'in-store': outOfBounds}"
          class="delivery-to"
          style="color: #444444; cursor: pointer; display: grid;">
          <div
            :class="{'out-of-bounds-bg': outOfBounds}"
            class="flex ai-center bg-white h-full pl-15 border-b border-grey-lighter justify-between">
            <div
              class="flex flex-row items-center"
              @click="editAddress(user, domain)">
              <span class="mr-10 desktop-only">
                Shopping in:
              </span>
              <span
                v-if="selectedAddress"
                class="fw-600 mr-10">
                {{ selectedAddress.attributes.formattedAddress.split(',')[0] }}
              </span>
              <span
                v-else
                class="fw-600 mr-10">
                Click here to add address
              </span>
            </div>
            <img
              class="w-25 h-25 mr-10 sm:hidden"
              src="https://runner-file-manager.s3.amazonaws.com/icons/IconDeliveryClock.png"
              alt=""
              @click="deliveryInfoShown = true">
          </div>
        </a>
      </div>
      <header v-click-outside="closeDeliveryInfoDesktop">
        <div class="header__main relative">
          <div
            class="menu-icon"
            @click="setActiveModal('sideNav')">
            <img
              v-if="sideNavIsShown"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavClose.png"
              alt="">
            <img
              v-else
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavOpen.png"
              alt="">
          </div>
          <a
            v-if="store.attributes"
            class="logo"
            @click="goToExplore">
            <img
              :src="store.attributes.options.navigationLogo"
              alt="">
          </a>
          <div
            class="search"
            @click.prevent="toggleSearch">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/Search.png"
              alt="">
            <input
              type="text"
              placeholder="Search...">
          </div>
          <!-- <div
            class="delivery-icon-desktop"
            @click="deliveryInfoShownDesktop = true">
            <img
              class="w-25 h-25 mr-10"
              src="https://runner-file-manager.s3.amazonaws.com/icons/IconDeliveryClock.png"
              alt="">
            <h3 class="mb-0">
              delivered before:
              <span
                v-if=" store.attributes.options.nextDeliveryTime.includes('1')"
                class="text-teal">
                {{ moment().add(1, 'hours').format('LT') }}
              </span>
              <span
                v-else-if=" store.attributes.options.nextDeliveryTime.includes('2')"
                class="text-teal">
                {{ moment().add(2, 'hours').format('LT') }}
              </span>
              <span
                v-else
                class="text-teal">
                {{ store.attributes.options.nextDeliveryTime }}
              </span>
            </h3>
          </div> -->
          <div
            class="utilities">
            <div
              class="search-btn"
              @click.prevent="toggleSearch">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1566851966/runner%20v4/icons/IconSearchBlack.png"
                alt="">
              <span>
                Search
              </span>
            </div>
            <div
              class="stores domain"
              @click="setActiveModal('stores')">
              <img
                v-if="!toggledRed"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavStores.png"
                alt="">
              <img
                v-else-if="toggledRed"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavStoresSelected.png"
                alt="">
              <span>
                Stores
              </span>
            </div>
            <div
              v-if="user"
              class="favourites"
              @click="setActiveModal('favourites')">
              <img
                v-if="!favouritesIsShown"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavFavourites.png"
                alt="">
              <img
                v-if="favouritesIsShown"
                style="width: 38px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561050703/runner%20v4/icons/IconFavouriteRed.png"
                alt="">
            </div>
            <div
              v-if="user"
              class="cart domain"
              @click="toggleCart">
              <div class="cart-icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavCart.png"
                  alt="">
              </div>
              <transition
                name="pop">
                <span
                  v-if="cart && store.attributes"
                  :key="cart.attributes.total"
                  :style="{ backgroundColor: store.attributes.options.primaryColor }"
                  class="cart-count">
                  {{ cart.attributes.products.length }}
                </span>
              </transition>
            </div>
            <div
              v-if="!user"
              class="register-login">
              <a
                class="register"
                @click="goToPage('register')">
                Sign Up
              </a>
              <span style="font-size: 18px; margin: 0px 10px 0px 0px;">
                |
              </span>
              <a
                class="login"
                @click="goToPage('login')">
                Login
              </a>
            </div>
            <span
              style="cursor: pointer;"
              @click="openAccMenu" >
              <avatar
                v-click-outside="closeAccMenu"
                v-if="user"
                :user="user"
                :size="41"
                class="avatar"/>
            </span>
            <account-menu
              v-if="accMenuOpen"
              :user="user"
              :domain="domain"
              :sub-domain="subDomain"
            />
          </div>
        </div>
      </header>
      <div
        v-if="deliveryInfoShown || deliveryInfoShownDesktop"
        class="h-screen w-full fixed bg-overlay pin-t-30 delivery-modal-desktop">
        <div class="flex flex-col bg-white p-20">
          <h3
            v-if="store.attributes.options.nextDeliveryTime"
            class="sm:hidden">
            Deliver before
            <span
              v-if=" store.attributes.options.nextDeliveryTime.includes('1')"
              class="text-teal">
              {{ moment().add(1, 'hours').format('LT') }}
            </span>
            <span
              v-else-if=" store.attributes.options.nextDeliveryTime.includes('2')"
              class="text-teal">
              {{ moment().add(2, 'hours').format('LT') }}
            </span>
            <span
              v-else
              class="text-teal">
              {{ store.attributes.options.nextDeliveryTime }}
            </span>
          </h3>
          <p>
            We deliver all your favourite goods to you in under an hour. After
            you place your order, just sit back, relax and we'll see you soon.
          </p>
          <h4 class="font-hairline">
            Delivery Hours
          </h4>
          <h4 class="mb-0 font-hairline">
            Mon-Thurs: 9am-11pm
          </h4>
          <h4 class="mb-0 font-hairline">
            Friday: 9am-12am
          </h4>
          <h4 class="mb-0 font-hairline">
            Saturday: 8am-12am
          </h4>
          <h4 class="mb-0 font-hairline">
            Sunday: 8am-11pm
          </h4>
        </div>
      </div>
    </div>
    <!-- <div
      v-if="true === false"
      class="bg-white"> -->
    <div
      v-else
      class="bg-white">
      <cart-V3
        :domain="domain"
        :sub-domain="subDomain"
        :cart="cart" />
      <header>
        <div class="header__main relative">
          <div
            class="menu-icon"
            @click="setActiveModal('sideNav')">
            <img
              v-if="sideNavIsShown"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavClose.png"
              alt="">
            <img
              v-else
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavOpen.png"
              alt="">
          </div>
          <a
            v-if="store.attributes"
            class="logo"
            @click="goToExplore">
            <img
              v-if="!store.attributes.id === 8"
              :src="store.attributes.options.navigationLogo"
              alt="">
            <img
              v-else
              :src="store.attributes.options.navigationLogo"
              class="runner-img"
              alt="">
          </a>
          <div
            v-if="outOfBounds"
            class="out-of-bounds">
            <div>
              <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPinRed.png">
              <h4>
                Runner is not available in this location.
              </h4>
            </div>
            <div>
              <h4>
                To continue shopping,&nbsp;
              </h4>
              <h4
                class="underline cursor"
                @click="editAddress(user, domain)">
                <b>click here</b>
              </h4>
              <h4>
                &nbsp;to choose another address.
              </h4>
            </div>
          </div>
          <a
            v-else
            class="delivery-to main"
            @click="editAddress(user, domain)">
            <span class="mr-10">
              Shopping in:
            </span>
            <span
              style="display: flex;"
              class="fw-600 mr-10 flex items-center">
              <span
                v-if="selectedAddress"
                class="truncate mr-15"
                style="max-width: 150px;">
                {{ selectedAddress.attributes.formattedAddress.split(',')[0] }}
              </span>
              <span
                v-else
                class="fw-600 mr-10">
                Please click here to add address
              </span>
              <img
                style="width: 11px; height: 11px; margin-top: 3px"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/ShoopingInArrow.png">
            </span>
          </a>
          <div
            class="search main"
            @click.prevent="toggleSearch">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/Search.png"
              alt="">
            <input
              type="text"
              placeholder="Search">
          </div>
          <div
            class="utilities sm:flex sm:items-center sm:justify-end sm:ml-auto">
            <div
              class="search-btn main"
              @click.prevent="toggleSearch">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1566851966/runner%20v4/icons/IconSearchBlack.png"
                alt="">
              <span class="border-r border-grey-light pr-20">
                Search
              </span>
            </div>
            <div
              class="stores"
              @click="setActiveModal('stores')">
              <img
                :class="{'stores-temp-toggled ': toggledRed}"
                class="mr-10"
                src="https://runner-file-manager.s3.amazonaws.com/runner/icons/RunnerLogoSquare.svg"
                alt="">
              <span :class="{'text-red': toggledRed}">
                Stores
              </span>
            </div>
            <div
              v-if="user"
              class="favourites"
              @click="setActiveModal('favourites')">
              <img
                v-if="!favouritesIsShown"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavFavourites.png"
                alt="">
              <img
                v-if="favouritesIsShown"
                style="width: 38px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561050703/runner%20v4/icons/IconFavouriteRed.png"
                alt="">
            </div>
            <div
              v-if="user && subDomain != 'www'"
              class="cart"
              @click="toggleCart">
              <div class="cart-icon">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavCart.png"
                  alt="">
              </div>
              <span
                v-if="cart && store.attributes"
                :style="{ backgroundColor: store.attributes.options.primaryColor }"
                class="cart-count">
                {{ cart.attributes.products.length }}
              </span>
            </div>
            <div
              v-if="!user"
              class="register-login">
              <a
                class="register"
                @click="goToPage('register')">
                Sign Up
              </a>
              <span style="font-size: 18px; margin: 0px 10px 0px 0px;">
                |
              </span>
              <a
                class="login"
                @click="goToPage('login')">
                Login
              </a>
            </div>
            <span
              style="cursor: pointer;"
              @click="openAccMenu" >
              <avatar
                v-click-outside="closeAccMenu"
                v-if="user"
                :user="user"
                :size="41"
                class="avatar"/>
            </span>
            <account-menu
              v-if="accMenuOpen"
              :user="user"
              :domain="domain"
              :sub-domain="subDomain"
            />
          </div>
        </div>
      </header>
    </div>
    <div
      v-if="outOfBounds"
      class="out-of-bounds-mobile">
      <div>
        <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPinRed.png">
        <h4>
          Runner is not available in this location.
        </h4>
      </div>
      <div>
        <h4>
          To continue shopping,
          <span
            class="underline cursor"
            @click="editAddress(user, domain)">
            <b>click here</b>
          </span>
          to choose another address.
        </h4>
      </div>
    </div>
    <div
      v-if="selectedAddress"
      :class="{'hidden' : subDomain !== 'www'}"
      class="bg-white flex justify-center items-center w-full pb-15 sm:hidden">
      <h3 class="mb-0 font-hairline mr-10">
        Shopping in: <b @click="editAddress(user, domain)"> {{ selectedAddress.attributes.postalCode }} </b>
      </h3>
      <img
        class="w-10"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/ShoopingInArrow.png">
    </div>
  </div>
</template>

<style lang="scss" scoped>
.stores-temp-toggled {
  @media (min-width: 640px) {
    box-shadow: unset;
  }
  box-shadow: 0px 3px 10px -1px rgba(239, 65, 67, 0.3);
}
.desktop-only {
  display: none;
  @media (min-width: 640px) {
    display: unset;
  }
}
.hidden {
  display: none !important;
}
.text-teal {
  color: #58DFA9;
}
.delivery-icon-desktop {
  display: none;
  cursor: pointer;
  @media (min-width: 640px) {
    display: flex;
    flex-flow: row;
    position: relative;
    align-items: center;
    margin-left: auto;
  }
}
.delivery-modal-desktop {
  @media (min-width: 640px) {
    height: unset;
    width: 50%;
    background: unset;
    left: 25%;
    top: 90px !important;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    div {}
  }
}
.pin-t-30 {
  top: 30px;
}
.in-store {
  @media (min-width: 640px) {
    display: none !important;
  }
}
.out-of-bounds-bg {
  background-color: #FFE3E3 !important;
}
.out-of-bounds-in-store {
  background: #FFE3E3;
  display: none;
  @media (min-width: 640px) {
    width: 100%;
    display: flex;
  }
  flex-flow: row;
  justify-content: center;
  align-items: center;
  h4 {
    font-weight: 100;
    margin-bottom: 0;
  }
}
.out-of-bounds-mobile {
  @media (min-width: 640px) {
    display: none;
  }
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  padding: 10px 5px;
  img {
    width: 12px;
    margin-right: 5px;
  }
  h4 {
    margin-bottom: 0px;
  }
  div:first-child {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    h4 {
      color: #F83F40;
      font-weight: 400;
    }
  }
  div:nth-child(2) {
    text-align: center;
    h4 {
      font-weight: 100;
    }
  }
}
.out-of-bounds {
  display: none;
  @media (min-width: 640px) {
    width: 100%;
    display: flex;
  }
  justify-content: center;
  align-items: center;
  flex-flow: column;
  img {
    width: 12px;
    margin-right: 5px;
  }
  h4 {
    margin-bottom: 0px;
  }
  div:first-child {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    h4 {
      color: #F83F40;
      font-weight: 400;
    }
  }
  div:nth-child(2) {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    h4 {
      font-weight: 100;
    }
  }
}
.pop-enter-active {
  transition: all .3s ease;
}
.pop-enter{
  width: 30px !important;
  height: 30px !important;
}
a {
  cursor: pointer;
}
.runner-img {
  padding: 8px 0px !important;
  @media (min-width: 640px) {
    padding: 14px 0px !important;
  }
}
.search-btn {
  cursor: pointer;
  width: 25px;
  margin-right: 10px;
  @media(min-width: 640px) {
    width: 30px;
    margin-right: 60px;
    display: flex;
    align-items: center;
  }
  span {
    // text-transform: uppercase;
    display: none;
    @media screen and (min-width: 640px) {
      display: unset;
    }
    font-size: 16px;
    // font-weight: 600;
  }
}
.search-btn.main {
  cursor: pointer;
  width: 30px;
  margin-right: 10px;
  @media(min-width: 640px) {
    width: 30px;
    margin-right: 90px;
    display: flex;
    align-items: center;
  }
}
.delivery-to.main {
  display: none;
  @media (min-width: 640px) {
    color: #444444;
    cursor: pointer;
    display: flex;
    min-width: 86px;
  }
}
.register-login {
  display: none;
  @media (min-width: 640px) {
    display: flex;
    min-width: 100px;
    align-items: center;
    // margin-bottom: 3px;
    margin-left: 25px;
    .register {
      color: black;
      font-size: 18px;
      min-width: 71px;
    }
    .login{
      color: black;
      font-size: 18px;
    }
  }
}
.cart.domain {
  .cart-icon {
    display: block !important;
  }
}
.stores.domain {
  display: none !important;
  @media screen and (min-width: 640px) {
    display: flex !important;
  }
}
.search.main {
  display: none;
}
.user-info {
  position: absolute;
  top: 10px;
  right: 50px;
  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    right: 0;
  }
}
.header-grid {
  grid-template-columns: 1fr 25px;
}
.header-wrap {
  z-index: 990;
  border-bottom: 1px solid #eaeaea;
}
.header__main {
  display: flex;
  align-items: center;
  height: 50px;
  align-content: center;
  padding: 0 10px;
  border-bottom: 0;
  @media screen and (min-width: 640px) {
    padding: 0 15px;
    margin-top: 0px;
    height: 60px;
  }
}
.stores {
  // display: none !important;
  position: relative;
  @media (min-width: 640px) {
    display: flex !important;
    img {
      min-width: 35px !important;
    }
    span {
      display: unset;
    }
  }
  @media screen and (min-width: 768px) {
    cursor: pointer;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    grid-gap: 10px;
  }
  span {
    // text-transform: uppercase;
    display: none;
    @media screen and (min-width: 640px) {
      display: unset;
    }
    font-size: 16px;
    // font-weight: 600;
  }
}
.search {
  display: none;
  width: 50%;
  height: 30px;
  align-items: center;
  display: none;
  align-content: center;
  grid-template-columns: 30px auto;
  border: 1px solid #acacac;
  border-radius: 4px;
  // @media (min-width: 640px) {
  //   display: grid;
  // }
  align-content: center;
  padding: 0 15px;
  margin-right: 10px;
  @media screen and (min-width: 640px) {
    // display: grid;
    // flex-grow: 1;
    // width: 100%;
  }
  input {
    margin-left: 10px;
    -webkit-appearance: none;
    height: 30px;
    background-color: transparent;
    border: none;
    width: 100%;
  }
}
.account {
  display: none;
  @media screen and (min-width: 768px) {
    display: grid;
  }
}
.menu-icon {
  justify-content: start;
  cursor: pointer;
  align-self: center;
  margin-right: 10px;
  img {
    width: 25px;
    max-width: none;
  }
}
.logo {
  justify-self: center;
  cursor: pointer;
  align-self: center;
  margin-right: 10px;
  height: inherit;
  img {
    height: 100%;
    padding: 5px 0px;
    @media screen and (min-width: 768px) {
      min-width: 110px;
      padding: 8px 0px;
    }
  }
}
.utilities {
  display: flex;
  margin-left: auto;
  align-items: center;
  .avatar {
    display: none;
    @media screen and (min-width: 640px) {
      display: unset;
    }
  }
  .favourites {
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    // margin-right: 15px;
    @media screen and (min-width: 640px) {
      display: block;
    }
    img {
      width: 45px;
    }
  }
  .stores {
    display: flex;
    align-items: center;
    @media screen and (min-width: 640px) {
      // width: 114px;
    }
    img {
      width: 35px !important;
    }
  }
}
.cart {
  width: 30px;
  .cart-icon {
    min-width: 30px;
    display: none;
    @media screen and (min-width:640px) {
      display: block;
    }
  }
  cursor: pointer;
  position: relative;
  @media screen and (min-width:640px) {
    margin-right: 15px;
  }
  img {
    width: 30px;
    @media screen and (min-width:640px) {
      width: 45px;
    }
  }
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #ffffff;
    padding: 5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    background-color: #f83e40;
  }
}
.header__postal {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  grid-gap: 15px;
  justify-content: center;
  padding: 5px 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
  span {
    font-size: 14px;
    font-weight: 600;
  }
  .postal-code {
    font-size: 14px;
    font-weight: 900;
  }
}
.header__notification {
  background-color: #50E3C2;
  padding: 5px 15px;
  color: #ffffff;
  display: grid;
  justify-content: center;
  text-align: center;
  span {
    font-weight: 600;
  }
}
.header__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  @media screen and (min-width: 768px) {
    display: none;
  }
  li {
    border-right: 1px solid #e0e0e0;
    list-style-type: none;
    padding: 0 10px;
    &:last-child {
      border-right: 0;
    }
    .icon {
      display: grid;
      align-content: center;
      img {
        max-width: 20px;
      }
    }
    a {
      display: grid;
      grid-template-columns: 30px auto;
      align-items: center;
      justify-content: center;
      grid-gap: 10px;
      height: 40px;
      text-align: center;
      color: #313131;
      font-weight: 900;
      font-style: italic;
      display: grid;
      align-items: center;
      justify-items: center;
    }
  }
}
</style>

<script>
import { cartViewed } from '../mixins/analytics';

export default {
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
    cart: {
      type: Object,
      default: null,
      required: false,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    selectedAddress: {
      type: Object,
      default: null,
      required: false,
    },
    store: {
      type: Object,
      default: null,
      required: true,
    },
    stores: {
      type: Array,
      default: null,
      required: true,
    },
    activeModal: {
      type: String,
      default: '',
      required: true,
    },
  },
  data() {
    return {
      sideNavIsShown: false,
      toggledRed: false,
      favouritesIsShown: false,
      accMenuOpen: false,
      deliveryInfoShown: false,
      deliveryInfoShownDesktop: false,
    };
  },
  computed: {
    inventoryId() {
      return this.$store.getters.inventoryId;
    },
    outOfBounds() {
      if (this.stores.length > 0) {
        return this.stores[0].id === '8' && this.stores.length <= 1;
      }
      return true;
    },
  },
  watch: {
    activeModal(newVal) {
      if (newVal === 'stores') {
        this.toggledRed = true;
      } else {
        this.toggledRed = false;
      }
    },
  },
  mounted() {
    // redirect user if subdomain/store is not in location
    let count = 0;

    if (window.location.href.indexOf('staging') == -1) {
      for (let i = 0; i < this.stores.length; i++) {
        if (this.stores[i].attributes.subDomain !== this.subDomain) {
          count += 1;
        }
        if (count === this.stores.length) {
          this.goToPage('');
        }
      }
    }

    if (this.activeModal === 'sideNav') {
      this.sideNavIsShown = true;
    }
  },
  methods: {
    cartViewed,
    moment() {
      return moment();
    },
    closeDeliveryInfo() {
      this.deliveryInfoShown = false;
    },
    closeDeliveryInfoDesktop() {
      this.deliveryInfoShownDesktop = false;
    },
    openAccMenu() {
      this.accMenuOpen = !this.accMenuOpen;
    },
    closeAccMenu() {
      this.accMenuOpen = false;
    },
    setActiveModal(activeModal) {
      if (this.activeModal === 'none') {
        this.$store.commit('SET_ACTIVE_MODAL', activeModal);
        if (activeModal === 'sideNav') {
          this.sideNavIsShown = !this.sideNavIsShown;
        } else {
          this.sideNavIsShown = false;
        }
        if (activeModal === 'stores') {
          this.toggledRed = !this.toggledRed;
        } else {
          this.toggledRed = false;
        }
        if (activeModal === 'favourites') {
          this.favouritesIsShown = !this.favouritesIsShown;
        } else {
          this.favouritesIsShown = false;
        }
      } else if (this.activeModal === activeModal) {
        this.$store.commit('SET_ACTIVE_MODAL', 'none');
        this.sideNavIsShown = false;
        this.toggledRed = false;
        this.favouritesIsShown = false;
      } else {
        this.$store.commit('SET_ACTIVE_MODAL', activeModal);
        if (activeModal === 'sideNav') {
          this.sideNavIsShown = true;
          this.toggledRed = false;
          this.favouritesIsShown = false;
        }
        if (activeModal === 'stores') {
          this.sideNavIsShown = false;
          this.toggledRed = true;
          this.favouritesIsShown = false;
        }
        if (activeModal === 'favourites') {
          this.sideNavIsShown = false;
          this.toggledRed = false;
          this.favouritesIsShown = true;
        }
      }
    },
    toggleMenu() {
      this.$store.commit('TOGGLE_MENU_STATUS');
    },
    toggleStoreMenu() {
      this.$store.commit('TOGGLE_STORE_MENU_STATUS');
    },
    toggleAccountMenu() {
      this.$store.commit('TOGGLE_ACCOUNT_MENU_STATUS');
    },
    toggleCart() {
      this.$store.commit('TOGGLE_CART_STATUS');

      const data = {
        cart: this.cart,
        storeId: this.store.id,
        inventoryId: this.inventoryId,
      };

      this.cartViewed(data);
    },
    toggleSearch() {
      this.$store.commit('TOGGLE_SEARCH_STATUS');
    },
    goToRunnerExplore() {
      const store = this.stores.find(store => store.id == this.store.id);
      this.$store.commit('SET_INVENTORY_ID', store.attributes.inventoryId);

      if (this.cart) {
        alert('Your cart for this store will be saved. To view this cart again, you must come back to this store.');
      }

      location.href = `https://www.${this.domain}`;
    },
    goToExplore() {
      const store = this.stores.find(store => store.id == this.store.id);
      this.$store.commit('SET_INVENTORY_ID', store.attributes.inventoryId);
      location.href = `https://${this.subDomain}.${this.domain}`;
    },
    goToPage(page) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${this.domain}/${page}`;
    },
    editAddress(user, domain) {
      if (!user) {
        this.$store.commit('SET_ACTIVE_MODAL', 'addressInput');
      } else {
        location.href = `https://www.${domain}/account/addresses`;
      }
    },
  },
};
</script>
