<template>
  <div>
    <div
      v-if="true"
      class="bg-white p-15 mb-15">
      <h2>
        Gift Card
      </h2>
      <p>
        Beautiful stationary with designs form local Canadian artists. A great way to personalize your gift!
      </p>
      <div class="overflow-auto mb-15">
        <ul class="list-reset gift-cards">
          <li
            v-for="giftCard in giftCards"
            :key="giftCard.id"
            :class="{'border-green border-2': giftOptions.card.id == giftCard.id, 'border': giftOptions.card.id != giftCard.id}"
            class="p-15 grid grid-columns-2 border-grey-light rounded grid-gap-10 cursor-pointer"
            @click="updateCart({
              'productId': giftCard.id,
              'quantity': 1,
              'allowSub': true,
              'type': 'giftCard'
          })">
            <img
              :src="giftCard.attributes.image"
              class="rounded"
              alt="">
            <div class="content-between">
              <p class="font-bold mb-10">
                {{ giftCard.attributes.title }}
              </p>
              <p>
                {{ giftCard.attributes.longDescription }}
              </p>
              <p class="font-bold">
                ${{ (giftCard.attributes.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </p>
            </div>
          </li>
          <li
            :class="{'border-green border-2': giftOptions.card.id == 0, 'border': giftOptions.card.id != 0}"
            class="p-15 border-grey-light rounded grid-gap-10 cursor-pointer"
            @click="updateCart({
              'productId': giftOptions.card.id,
              'quantity': 0,
              'allowSub': true,
              'type': 'giftCard'
          })">
            <div class="content-between">
              <p class="font-bold mb-10">
                None
              </p>
              <p class="font-bold">
                $0.00
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- <button class="bg-green text-white font-bold h-50 rounded w-full">
        Skip
      </button> -->
    </div>
    <div
      v-if="giftOptions.card.id != 0"
      class="bg-white p-15 mb-15">
      <h2>
        Personal Message
      </h2>
      <p>
        Include a personal message with your card!
      </p>
      <textarea
        id="personalMessage"
        v-model="giftOptions.personalMessage"
        class="p-15 mb-15 w-full border border-grey-light rounded"
        name=""
        cols="30"
        rows="10"
        @input="setGiftMessage"/>
        <!-- <button class="bg-green text-white font-bold h-50 rounded w-full">
        Continue
      </button> -->
    </div>
    <div
      v-if="true"
      class="bg-white p-15 mb-15">
      <h2>
        Bottle Tag
      </h2>
      <p>
        Beautiful stationary with designs form local Canadian artists. A great way to personalize your gift!
      </p>
      <div class="overflow-auto">
        <ul class="list-reset gift-cards">
          <li
            v-for="bottleTag in bottleTags"
            :class="{'border-green border-2': giftOptions.tag.id == bottleTag.id, 'border': giftOptions.tag.id != bottleTag.id}"
            class="p-15 grid grid-columns-2 border-grey-light rounded grid-gap-10 cursor-pointer"
            @click="updateCart({
              'productId': bottleTag.id,
              'quantity': 1,
              'allowSub': true,
              'type': 'bottleTag'
          })">
            <img
              :src="bottleTag.attributes.image"
              class="rounded"
              alt="">
            <div class="content-between">
              <p class="font-bold mb-10">
                {{ bottleTag.attributes.title }}
              </p>
              <p>
                {{ bottleTag.attributes.longDescription }}
              </p>
              <p class="font-bold">
                ${{ (bottleTag.attributes.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </p>
            </div>
          </li>
          <li
            :class="{'border-green border-2': giftOptions.tag.id == 0, 'border': giftOptions.tag.id != 0}"
            class="p-15 border-grey-light rounded grid-gap-10 cursor-pointer"
            @click="updateCart({
              'productId': giftOptions.tag.id,
              'quantity': 0,
              'allowSub': true,
              'type': 'bottleTag'
          })">
            <div class="content-between">
              <p class="font-bold mb-10">
                None
              </p>
              <p class="font-bold">
                $0.00
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- <button class="bg-green text-white font-bold h-50 rounded w-full mb-15">
        Skip
      </button> -->
    </div>
  </div>
</template>

<style lang="scss" scoped>
.gift-cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 15px;
}
</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: [
    'domain',
    'user',
    'cart',
  ],
  data() {
    return {
      giftCards: [],
      bottleTags: [],
    };
  },
  computed: {
    giftOptions() {
      return this.$store.getters.giftOptions;
    },
  },
  mounted() {
    this.getCards();
    this.getBottleTags();
  },
  methods: {
    async getCards() {
      try {
        const response = await axios({
          method: 'get',
          url: `https://api.${this.domain}/v3/runner/inventories/11/categories/34/products?limit=3`,
        });

        this.giftCards = response.data.data;
      } catch (error) {
        console.error(error);
      }
    },
    async getBottleTags() {
      try {
        const response = await axios({
          method: 'get',
          url: `https://api.${this.domain}/v3/runner/inventories/11/categories/35/products?limit=3`,
        });

        this.bottleTags = response.data.data;
      } catch (error) {
        console.error(error);
      }
    },
    setGiftMessage() {
      this.$store.commit('SET_GIFT_MESSAGE', document.querySelector('#personalMessage').value);
    },
    updateCart(value) {
      let data;

      if ('productId' in value) {
        data = {
          userId: this.user.id,
          cartId: this.cart.id,
          payload: {
            products: [
              {
                id: value.productId,
                quantity: value.quantity,
                allowSub: value.allowSub,
                type: value.type,
              },
            ],
          },
        };
        if (value.quantity > 0) {
          this.$store.dispatch('updateCart', data);
        } else {
          const confirm = window.confirm('Are You Sure You Want To Remove This Item From Your Cart?');

          if (confirm === true) {
            this.$store.dispatch('updateCart', data);
          }
        }
      }
    },
  },
};
</script>
