<template>
  <div
    v-if="globalNotificationModalStatus"
    id="postal-code-modal"
    @click.self="closeModal">
    <div class="modal-box">
      <div class="modal__top">
        <span>
          {{ title }}
        </span>
      </div>
      <div class="modal__middle">
        <p>
          {{ body }}
        </p>
      </div>
      <div class="modal__bottom">
        <div class="buttons">
          <button @click="closeModal">
            <span>
              Okay!
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#postal-code-modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 300px;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  .modal__top {
    padding: 30px;
    background-color: #434343;
    span {
      font-size: 40px;
      font-weight: 900;
      color: #ffffff;
    }
  }
  .modal__middle  {
    padding: 30px;
    p {
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    input {
      height: 50px;
      webkit-appearance: none;
      border: 1px solid #f4f4f4;
      border-radius: 8px;
      padding: 0 15px;
      width: 100%;
      font-size: 22px;
      font-weight: 900;
    }
  }
  .modal__bottom {
    .buttons {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-content: center;
    }
    button {
      background-color: #f1f1f1;
      color: #50E3C2;
      font-size: 20px;
      font-weight: 900;
      height: 50px;
      border: none;
      cursor: pointer;
      display: grid;
      align-content: center;
      justify-content: center;
    }
  }
}
</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: [
    'domain',
  ],
  data() {
    return {
      title: null,
      body: null,
    };
  },
  computed: {
    globalNotificationModalStatus() {
      return this.$store.getters.globalNotificationModalStatus;
    },
  },
  mounted() {
    this.checkForGlobalNotificationCookie();
  },
  methods: {
    async getGlobalNotification() {
      try {
        const response = await api().get('/config/92002993827773499200982773/global-notification');
        const data = JSON.parse(response.data.value);

        if (data.isActive == true) {
          this.title = data.title;
          this.body = data.body;

          setTimeout(() => {
            this.openModal();
          }, 3000);
        }
      } catch (error) {
        console.error(error);
      }
    },
    checkForGlobalNotificationCookie() {
      if (!this.$cookie.get('hasSeenGlobalNotification', { domain: this.domain })) {
        this.getGlobalNotification();
      }
    },
    openModal() {
      this.$store.commit('TOGGLE_GLOBAL_NOTIFICATION_MODAL_STATUS');
    },
    closeModal() {
      this.$cookie.set('hasSeenGlobalNotification', true, { expires: '1D', domain: this.domain });
      this.$store.commit('TOGGLE_GLOBAL_NOTIFICATION_MODAL_STATUS');
    },
  },
};
</script>
