<template>
  <div
    v-if="loginModalStatus === 'open'"
    id="login-modal"
    class="fixed"
    @click.self="closeModal">
    <div class="fixed modal">
      <div
        v-if="!addressIsOutOfBounds"
        class="modal-wrap ai-center ji-center p-30">
        <img
          class="icon mb-10"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052147/runner%20v4/icons/OnboardingIconExclamation.png"
          alt="">
        <span class="block mb-30 uppercase fs-20 fw-400">
          LOGIN or SIGN UP
        </span>
        <p class="text-center">
          Sorry, but in order to add items to your cart, we need to know who you are! Please either login or register by clicking one of the buttons below!
        </p>
        <div
          v-if="!user"
          class="login-wrap">
          <div
            class="button-wrap flex"
            style="width: 100%;">
            <button-component
              :text="'LOG IN'"
              :font-size="'14px'"
              :font-weight="'700'"
              :color="'red'"
              :fill="true"
              :height="'48px'"
              class="button-modal-component"
              @click.native="goToPage('login', domain)"/>
            <button-component
              :text="'SIGN UP'"
              :font-size="'14px'"
              :font-weight="'700'"
              :color="'teal'"
              :height="'48px'"
              :fill="true"
              class="button-modal-component"
              @click.native="goToPage('register', domain)"/>
          </div>
        </div>
      </div>
      <div
        v-else
        class="grid ai-center ji-center p-30">
        <img
          class="icon mb-10"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconLocation.png"
          alt="">
        <span class="block mb-30 uppercase fs-20 fw-400">
          Sorry!
        </span>
        <p class="text-center">
          We do not deliver to that area yet - Hopefully soon!
        </p>
        <button
          class="add-to-cart bg-f83f40 c-ffffff uppercase py-8 w-full fsize-14"
          @click="setActiveModal('none')"
        >
          Keep Browsing
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.button-wrap {
  justify-content: center;
  .button-modal-component {
    @media (min-width: 640px) {
      width: 263px !important;
    }
  }
  .button-modal-component:first-child {
    margin-right: 15px;
    @media (min-width: 640px) {
      margin-right: 37px;
    }
  }
}
.login-wrap {
  width: 100%;
}
#login-modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.modal {
  background-color: #ffffff;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  z-index: 9999;
  left: 30px;
  right: 30px;
  top: 100px;
  @media (min-width: 640px) {
    width: 400px;
    // top: 50px;
    top: 100px;
    left: 50%;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, .2);
    transform: translateX(-50%);
  }
}
.icon {
  width: 100px;
}
#addressInput {
  border: 1px solid #cecece;
  border-radius: 4px;
  height: 50px;
}
button {
  border-radius: 4px;
}
</style>

<script>
export default {
  props: {
    domain: {
      type: String,
      required: true,
      default: null,
    },
  },
  computed: {
    loginModalStatus() {
      return this.$store.getters.loginModalStatus;
    },
  },
  methods: {
    closeModal() {
      this.$store.commit('TOGGLE_LOGIN_MODAL_STATUS', 'closed');
    },
    goToPage(page, domain) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${domain}/${page}`;
    },
  },
};
</script>
