<template>
  <div
    id="footer"
    :class="{'sideNavOpen': activeModal == 'sideNav'}">
    <div class="quick-links">
      <ul>
        <li>
          <a href="mailto:service@getrunner.io">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542906168/icons/email.svg"
              alt="">
            <span>
              Email
            </span>
          </a>
        </li>
        <li>
          <a
            href="#"
            @click.prevent="toggleZenDesk">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542906168/icons/chat.svg"
              alt="">
            <span>
              Live Chat
            </span>
          </a>
        </li>
        <li>
          <a href="tel:6473608262">
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493599/runner%20v4/icons/IconSupport.png"
              alt="">
            <span>
              Call: 647 360 8262
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-wrap">
      <div class="footer-column">
        <div class="footer-text">
          Hours
        </div>
        <ul>
          <li>
            <div>
              Mon - Sat
            </div>
            <div>
              11am - 9:30pm
            </div>
          </li>
          <li>
            <div>
              Sunday
            </div>
            <div>
              11am - 6pm
            </div>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-text">
          Company
        </div>
        <ul>
          <li>
            <a :href="'https://www.' + domain + '/about'">
              About Us
            </a>
          </li>
          <li>
            <a :href="'https://www.' + domain + '/faq'">
              FAQ
            </a>
          </li>
          <!-- <li>
            <a :href="'https://www.' + domain + '/faq'">
              Careers
            </a>
          </li>
          <li>
            <a :href="'https://www.' + domain + '/faq'">
              Contact us
            </a>
          </li> -->
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-text">
          Shop
        </div>
        <ul>
          <li>
            <a :href="'https://lcbo.' + domain">
              LCBO
            </a>
          </li>
          <li>
            <a :href="'https://gift.' + domain">
              Gift
            </a>
          </li>
          <li>
            <a :href="'https://torontolife.' + domain">
              Toronto Life
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="footer-text">
          Invite Friends
        </div>
        <p>
          Invite friends and get $10 off your next purchase.
        </p>
        <!-- <a
          :href="'https://www.' + this.domain + '/refer-a-friend'"
          class="send-invite">
          <span style="font-size: 17px; font-weight: 600;">
            Send Invite
          </span>
        </a> -->
        <button-component
          :text="'Send Invite'"
          :color="'black'"
          :font-size="'17px'"
          :fill="false"
          @click.native="goToPage('account/invite-friends')"
        />
      </div>
      <div class="download-connect">
        <div class="footer-text">
          Download &amp; Connect
        </div>
        <div class="link-wrap">
          <div>
            <ul>
              <li class="app-store">
                <a
                  href="https://runner.app.link/HmLnEJ9C9E"
                  targe="_blank">
                  <img
                    src="/assets/v2/icons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                    alt="App Store Download">
                </a>
              </li>
              <!-- <li v-if="true">
                <g:ratingbadge merchant_id="121280876"/>
              </li> -->
            </ul>
          </div>
          <div>
            <span>
              <a href="https://www.instagram.com/runnerdelivery/">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141440/runner%20v4/icons/SocialmediaIconInstagram.png">
              </a>
            </span>
            <span>
              <a href="https://www.facebook.com/getrunner/">
                <img
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561141516/runner%20v4/icons/SocialmediaIconFacebook.png">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="terms-policy">
      <div>
        <b>
          Runner, Inc.&nbsp;
        </b>
        <span class="terms">
          <a
            :href="'https://www.' + domain + '/terms-conditions'"
            style="cursor: pointer;">
            Terms &amp; Conditions
          </a>
        </span>
        <span class="vertical-line">
          |
        </span>
        <span class="policy">
          <a
            :href="'https://www.' + domain + '/privacy-policy'"
            style="cursor: pointer;">
            Privacy Policy
          </a>
        </span>
      </div>
      <div style="font-size: 0.8rem;">
        The listed prices of alcohol include a small service fee on top of local retail prices. For more information, visit our <a :href="'https://www.' + domain + '/terms-conditions'">Terms & Conditions</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.link-wrap {
  display: flex;
  flex-flow: column;
  @media (min-width: 640px) {
    flex-flow: row;
  }
  div:first-child {
    margin-bottom: 15px;
    @media (min-width: 640px) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
  div:nth-child(2) {
    display: flex;
    flex-flow: row;
    span {
      a {
        img {
          width: 50px;
          @media (min-width: 640px) {
            min-width: 40px;
          }
        }
      }
    }
    span:first-child {
      margin-right: 10px;
    }
  }
}
.vertical-line {
  display: none;
  @media (min-width: 640px) {
    display: unset;
    margin: 0px 5px;
    color: #acacac;
  }
}
li {
  line-height: 21px !important
}
.terms-policy {
  display: flex;
  flex-direction: column;
  b {
    display: none;
    @media (min-width: 640px) {
      display: unset;
    }
  }
  @media (min-width: 640px) {
    justify-content: center;
    align-items: center;
  }
  display: flex;
  flex-flow: column;
  padding: 15px 30px;
  a {
    color: #ACACAC !important;
  }
  .terms {
    margin-bottom: 15px;
    @media (min-width: 640px) {
      margin-bottom: 0px;
    }
  }
}
.footer-text {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 15px;
}
.nav-open {
  margin-left: 250px;
}
#footer {
  background-color: #ffffff;
  border-top: 1px solid #efefef;
}
.footer-wrap {
  display: grid;
  grid-gap: 20px;
  margin: auto;
  padding: 30px;
  max-width: 1280px;
  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.quick-links {
  padding: 30px;
  display: grid;
  align-content: center;
  border-bottom: 1px solid #efefef;
  @media screen and (min-width: 768px) {
    height: 50px;
    margin-bottom: 0px;
  }
  ul {
    display: flex;
    flex-direction: column;
     @media screen and (min-width: 768px) {
      flex-direction: row;
      max-width: 1000px;
      margin: 0 auto;
      padding: 0px;
    }
    li {
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 30px;
      }
      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }
  span {
    font-size: 16px;
  }
  a {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 15px;
    align-items: center;
  }
}
a {
  color: #000000;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
p {
  margin-bottom: 15px;
}
.send-invite {
  border: 1px solid #000000;
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.app-store {
  img {
    max-width: none;
  }
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 150px;
  }
}
</style>

<script>
export default {
  props: {
    activeModal: {
      type: String,
      required: true,
      default: 'none',
    },
    domain: {
      type: String,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      zenWillClose: false,
    };
  },
  created() {
    zE('webWidget', 'hide');
  },
  mounted() {
  },
  methods: {
    toggleZenDesk() {
      if (!this.zenWillClose) {
        zE('webWidget', 'show');
        zE('webWidget', 'open');
        this.zenWillClose = true;
      } else {
        zE('webWidget', 'close');
        zE('webWidget', 'hide');
        this.zenWillClose = false;
      }
    },
    goToPage(page) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${this.domain}/${page}`;
    },
  },
};
</script>
