<template>
  <div>
    <div
      v-if="!fullScreen"
      v-show="isLoading">
      <div class="relative w-full max-w-md m-auto flex-col flex items-center">
        <moon-loader
          :loading="isLoading"
          color="#f83e40"
          size="50px"/>
      </div>
    </div>
    <div
      v-else
      v-show="isLoading"
      class="overlay fixed pin z-50 overflow-auto bg-white flex">
      <div class="relative w-full max-w-md m-auto flex-col flex items-center">
        <moon-loader
          :loading="isLoading"
          color="#f83e40"
          size="50px"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'isLoading',
    'fullScreen',
  ],
};
</script>
