<template>
  <div>
    <moon-loader-wrapper
      :full-screen="true"
      :is-loading="isLoading"/>
    <notifications
      group="errors"
      position="bottom left" />
    <div
      v-if="customer.attributes.sources.total_count !== 0"
      class="grid grid-gap-15">
      <div
        v-for="(card, index) in customer.attributes.sources.data"
        :key="index"
        class="cards cursor-pointer"
        @click="setCard(card.id)">
        <img
          v-if="card.id === customer.attributes.default_source"
          class="radio-img"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonRed.png"
          alt="">
        <img
          v-else
          class="radio-img"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564682240/runner%20v4/icons/IconRadiobuttonGrey.png"
          alt="">
        <div class="card-image">
          <img
            v-if="card.brand === 'Visa'"
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/visa.png"
            alt="">
          <img
            v-else-if="card.brand === 'MasterCard'"
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138560/runner/stores/mastercard.png"
            alt="">
          <img
            v-else-if="card.brand === 'American Express'"
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/amex.png"
            alt="">
          <img
            v-else
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/genericCard.png"
            alt="">
        </div>
        <div class="info">
          <div class="number text-right">
            •••• •••• •••• {{ card.last4 }}
          </div>
        </div>
        <span
          class="lg:hidden group-hover:block absolute pointer w-30 h-30 bg-red rounded text-white font-bold text-xl text-center cursor-pointer"
          style="right: 20px;"
          @click.stop="deleteCard(card.id)">
          &times;
        </span>
      </div>
      <div class="button-wrap">
        <button-component
          v-show="!addPaymentIsShown"
          :text="'Add New Payment'"
          :font-size="'13px'"
          :font-weight="'100'"
          :letter-spacing="'0px'"
          :color="'red'"
          :fill="false"
          :width="'100%'"
          :height="'40px'"
          :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053400/runner%20v4/icons/IconPlusRed.png'"
          :icon-width="'15px'"
          :icon-spacing="'10px'"
          @click.native="toggleAddPaymentIsShown(true)"
        />
      </div>
    </div>
    <div v-else>
      <div class="grid">
        <button
          v-show="!addPaymentIsShown"
          class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
          @click="toggleAddPaymentIsShown(true)">
          <span v-if="!isLoading">
            Add Card
          </span>
          <pulse-loader
            :loading="isLoading"
            color="#000000"
            size="10px"/>
        </button>
        <button
          v-show="addPaymentIsShown"
          class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
          @click="toggleAddPaymentIsShown(false)">
          Close
        </button>
      </div>
    </div>
    <div
      v-if="addPaymentIsShown"
      class="add-payment">
      <h2>
        Add A Payment Method
      </h2>
      <p>
        Please add a credit card or a Visa/Mastercard debit card to your account. We do not accept cash payments or payment upon delivery.
      </p>
      <div class="card-images">
        <img
          class="card-image"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconVisa.png">
        <img
          class="card-image"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconMastercard.png">
        <img
          class="card-image"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561484222/runner%20v4/icons/PaymentIconAmericanexpress.png">
      </div>
      <card
        :class="{ complete }"
        :stripe="stripeKey"
        class="stripe-card mb-15"
        @change="complete = $event.complete"/>
      <p class="note">
        ** Please note that the zip/postal code requested is that associated with the payment method itself, not the delivery address.
      </p>
    </div>
    <div
      v-if="addPaymentIsShown"
      class="button-components">
      <button-component
        :fill="false"
        :color="'grey'"
        :text="'CANCEL'"
        :width="'100%'"
        :height="'35px'"
        :font-size="'12px'"
        @click.native="toggleAddPaymentIsShown(false)"/>
      <button-component
        :disabled="!complete"
        :fill="true"
        :color="'red'"
        :text="'SAVE NEW PAYMENT'"
        :width="'100%'"
        :height="'35px'"
        :font-size="'12px'"
        @click.native="getToken"/>
      <pulse-loader
        :loading="isLoading"
        color="#ffffff"
        size="10px"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.button-components {
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  left: 0px;
  column-gap: 20px;
  padding: 20px;
  background: #fff;
  @media (min-width: 640px) {
    display: grid;
    position: unset;
    bottom: unset;
    left: unset;
    background: unset;
    padding: unset;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    column-gap: 20px;
    margin-bottom: 30px;
  }
}
.cards {
  display: flex;
  align-items: center;
  flex-flow: row;
  padding: 20px 30px;
  margin: 0px -30px;
  border-bottom: 1px solid #EFEFEF;
  .radio-img {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
  .card-image {
    margin-right: 10px;
  }
}
.button-wrap {
  margin-bottom: 30px;
}
.note {
  line-height: 23px;
  font-size: 14px;
  font-style: italic;
}
h2 {
  font-weight: 100;
  font-size: 20px;
}
.card-images {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-image {
  width: 35px;
}
</style>

<script>
import { Card, createToken } from 'vue-stripe-elements-plus';
import api from '../mixins/api';

export default {
  components: {
    Card,
  },
  mixins: [
    'api',
  ],
  props: [
    'user',
  ],
  data() {
    return {
      isLoading: false,
      complete: false,
      addPaymentIsShown: false,
    };
  },
  computed: {
    stripeKey() {
      if (window.domain === 'getrunner.io') {
        return 'pk_live_h65mTFQnbtKT7tsWkrg4I9rG';
      }
      return 'pk_test_lFJwkqmRIXGq8OCbpmQOkwkW';
    },
    customer() {
      return this.$store.getters.customer;
    },
  },
  created() {
    this.getCustomer();
  },
  mounted() {
  },
  methods: {
    getToken() {
      this.isLoading = true;

      createToken()
        .then((data) => {
          this.addCard(data.token.id);
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async addCard(token) {
      const payload = {
        data: {
          type: 'stripe tokens',
          id: token,
        },
      };

      await api().post(`users/${this.user.id}/stripe/customer/sources`, payload)
        .then((response) => {
          this.addPaymentIsShown = false;
          this.getCustomer()
            .then((response) => {
              this.isLoading = false;
              this.addPaymentIsShown = false;
            })
            .catch((error) => {
              this.$notify({
                group: 'errors',
                type: 'error',
                title: 'Error',
                text: error.response.data.errors.error,
                duration: -1,
              });
            });
        }).catch((error) => {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async setCard(value) {
      this.isLoading = true;
      this.activeCard = value;
      const payload = {
        data: {
          type: 'stripe sources',
          id: value,
        },
      };

      await api().put(`users/${this.user.id}/stripe/customer/sources/${value}`, payload)
        .then((response) => {
          this.getCustomer();
          this.isLoading = false;
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async deleteCard(value) {
      this.isLoading = true;
      const payload = {
        data: {
          type: 'stripe sources',
          id: value,
        },
      };

      await api().delete(`users/${this.user.id}/stripe/customer/sources/${value}`, payload)
        .then((response) => {
          this.getCustomer();
          this.isLoading = false;
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    getCustomer() {
      this.$store.dispatch('getCustomer');
    },
    toggleAddPaymentIsShown(value) {
      this.addPaymentIsShown = value;
    },
  },
};
</script>
