<template>
  <div
    id="stores-modal"
    :class="{'sub-domain': subDomain !== 'www'}"
    class="stores-modal">
    <div class="modal-info">
      <div
        v-if="selectedAddress"
        class="address">
        Shopping in: <b @click="editAddress(user, domain)"> {{ selectedAddress.attributes.postalCode }} </b>
        <img
          style="width: 11px; height: 11px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/ShoopingInArrow.png">
      </div>
      <div>
        <h2>
          Choose a Store
        </h2>
        <p>
          You'll see product inventories based on your delivery address
        </p>
      </div>
    </div>
    <div class="filter-btns-mobile mb-30">
      <div
        v-for="(pill, index) in pillsArray"
        :key="index"
        :class="{'highlighted': pill.prettyUrl === chosenPill || pill.title === selectedPill.title}"
        class="filter-btn"
        style="cursor: pointer;"
        @click="selectPill(pill)">
        <div
          style="color: #AEAEAE;"
          class="category">
          <span>
            {{ pill.title }}
          </span>
        </div>
      </div>
    </div>
    <a
      :href="'https://www.' + domain"
      class="runner-banner">
      <div class="banner-wrap">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1559682850/Runner_Red_Long.jpg"
          alt="">
        <span class="title-description-wrap">
          <div class="title">
            See all featured products from all stores.
          </div>
        </span>
      </div>
    </a>
    <div
      v-if="!Object.keys(chosenPill).length"
      class="stores">
      <div
        v-for="store in filteredStores"
        v-show="store.id != 8"
        :key="store.id">
        <a
          class="card"
          style="cursor: pointer;"
          @click="gotToStore(store)">
          <img
            :src="store.attributes.blockImage"
            class="store-image mb-10"
            alt="">
          <div class="flex ai-center">
            <img
              class="delivery-icon mr-5"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png"
              alt="">
            <span class="fw-600 c-444444">
              {{ store.attributes.nextDeliveryTime }}
            </span>
          </div>
          <div class="flex ai-center">
            <span class="mb-10 c-444444">
              {{ store.attributes.aboutText }}
            </span>
          </div>
        </a>
      </div>
    </div>
    <div
      v-else
      class="stores">
      <a
        v-for="(category, index) in categoryFilter"
        v-show="chosenPill.includes(category.slug) && !chosenPill.includes('tag')"
        :key="index"
        class="card"
        @click="gotToStore(category.store, chosenPill)">
        <img
          :src="category.store.attributes.blockImage"
          class="store-image mb-10"
          alt="">
        <div class="flex ai-center">
          <img
            class="delivery-icon mr-5"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png"
            alt="">
          <span class="fw-600 c-444444">
            {{ category.store.attributes.nextDeliveryTime }}
          </span>
        </div>
        <div class="flex ai-center">
          <span class="mb-10 c-444444">
            {{ category.store.attributes.aboutText }}
          </span>
        </div>
      </a>
      <a
        v-for="(category, index) in categoryFilter"
        v-show="chosenPill.includes(category.slug) && chosenPill.includes('tag')"
        :key="index"
        class="card"
        @click="gotToStore(category.store, chosenPill)">
        <img
          :src="category.store.attributes.blockImage"
          class="store-image mb-10"
          alt="">
        <div class="flex ai-center">
          <img
            class="delivery-icon mr-5"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/OrderTime.png"
            alt="">
          <span class="fw-600 c-444444">
            {{ category.store.attributes.nextDeliveryTime }}
          </span>
        </div>
        <div class="flex ai-center">
          <span class="mb-10 c-444444">
            {{ category.store.attributes.aboutText }}
          </span>
        </div>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.modal-info {
  @media (min-width: 640px) {
    // TODO desktop version once recieved UI layout
    display: none;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  .address {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  div:nth-child(2) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
.banner-wrap {
  position: relative;
  height: 138pt;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  @media (min-width: 640px) {
    height: 137px;
  }
  img {
    height: 50px;
    width: 200px;
  }
  .title {
    color: white;
    font-size: 16px;
    text-align: center;
  }
  .description {
    color: white;
    font-size: 16px;
    @media (min-width: 640px) {
    }
  }
}
.filter-btns-mobile {
  display: flex;
  min-height: 26px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 15px 0px;
  @media (min-width: 640px) {
    margin: 30px 0px;
  }
  .has-filters {
    border: 1px #018449 solid !important;
  }
}
.filter-btn {
  border-radius: 4px;
  min-width: fit-content;
  border: 1px #ACACAC solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.highlighted {
  border: 1px #F83F40 solid;
  span {
    color: #F83F40;
  }
  font-weight: 500;
}
.runner-banner {
  background: #f83e41;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
.sub-domain {
  top: 71px !important;
  @media (min-width: 640px) {
    top: 86px !important;
  }
}
#stores-modal {
  overflow-x: hidden !important;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  top: 41px;
  @media (min-width: 640px) {
    top: 61px;
  }
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  -webkit-overflow-scrolling: touch;
}
.search {
  height: 30px;
  align-items: center;
  display: grid;
  align-content: center;
  grid-template-columns: 30px auto;
  border: 1px solid #acacac;
  border-radius: 4px;
  display: grid;
  align-content: center;
  padding: 0 15px;
  input {
    -webkit-appearance: none;
    height: 30px;
    background-color: transparent;
    border: none;
    width: 100%;
  }
}
.stores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  a > img {
    width: 100%;
  }
  @media (min-width: 640px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 200px);
  }
}
.card {
  cursor: pointer;
  .store-image {
    border: 1px solid #979797;
    border-radius: 4px;
  }
}
.delivery-icon {
  width: 25px;
}
</style>

<script>
import { mapState } from 'vuex';
import { storeClicked } from '../mixins/analytics';

export default {
  props: {
    domain: {
      type: String,
      requred: true,
      default: null,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
    stores: {
      type: Array,
      required: true,
      default: null,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    selectedAddress: {
      type: Object,
      default: null,
      required: false,
    },
  },
  computed: {
    ...mapState([
      'chosenPill',
      'inventoryId',
    ]),
    filteredStores() {
      const stores = this.stores.filter(store => store.id != 8);

      function compare(a, b) {
        if (a.attributes.index < b.attributes.index) { return -1; }
        if (a.attributes.index > b.attributes.index) { return 1; }

        return 0;
      }

      return stores.sort(compare);
    },
    categoryFilter() {
      const category = [];

      for (let i = 0; i < this.filteredStores.length; i++) {
        for (let j = 0; j < this.filteredStores[i].attributes.categories.length; j++) {
          this.filteredStores[i].attributes.categories[j].store = this.filteredStores[i];
          category.push(this.filteredStores[i].attributes.categories[j]);
        }
      }

      return category;
    },
  },
  data() {
    return {
      pillsArray: [
        { title: 'Wine', prettyUrl: 'category/wine' },
        { title: 'Beers & Ciders', prettyUrl: 'category/beer-cider' },
        { title: 'Coolers', prettyUrl: 'category/coolers' },
        { title: 'Spirits', prettyUrl: 'category/spirits' },
        { title: 'Vintages', prettyUrl: 'category/wine?filter[tags]=vintage' },
        { title: 'Craft', prettyUrl: 'category/beer-cider?filter[tags]=craft-selects' },
        { title: 'Sale', prettyUrl: 'category/alcohol?filter[tags]=sale' },
      ],
      selectedPill: {},
    };
  },
  mounted() {
    if (this.chosenPill) {
      this.selectedPill.prettyUrl = this.chosenPill;
    }
  },
  methods: {
    storeClicked,
    selectPill(pill) {
      if (pill === this.selectedPill) {
        this.$store.commit('SET_CHOSEN_PILL', {});
        this.selectedPill = {};
        return;
      }
      this.selectedPill = pill;
      this.$store.commit('SET_CHOSEN_PILL', pill.prettyUrl);
    },
    gotToStore(store) {
      if (this.user) {
        const data = {
          store,
          userId: this.user.id,
        };

        this.storeClicked(data);
      } else {
        const data = {
          store,
          userId: null,
        };

        this.storeClicked(data);
      }

      this.$store.commit('SET_INVENTORY_ID', store.attributes.inventoryId);
      if (typeof this.chosenPill === 'string') {
        let url = this.chosenPill;
        if (this.chosenPill.indexOf('category') !== -1) {
          if (url.indexOf('?') > -1) {
            url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
          } else {
            url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
          }
        }
        location.href = `https://${store.attributes.subDomain}.${this.domain}/${url}`;
      } else {
        location.href = `https://${store.attributes.subDomain}.${this.domain}`;
      }
    },
    editAddress(user, domain) {
      if (!user) {
        this.$store.commit('SET_ACTIVE_MODAL', 'addressInput');
      } else {
        location.href = `https://www.${domain}/account/addresses`;
      }
    },
  },
};
</script>
