<template>
  <div id="storeLayout">
    <!-- product carousel -->
    <div
      v-if="layout.id == 1"
      class="layout-1 mb-30">
      <div class="mb-15 flex ai-center">
        <img
          v-if="layout.attributes.icon"
          :src="layout.attributes.icon"
          class="icon"
          alt="">
        <span class="fs-24 fw-600 mr-15">
          {{ layout.attributes.title }}
        </span>
        <a
          class="see-all"
          style="cursor: pointer;"
          @click="goToPage(layout.attributes)">
          {{ layout.attributes.link.title }}
        </a>
      </div>
      <p class="c-acacac fs-16">
        {{ layout.attributes.subTitle }}
      </p>
      <div class="scroll-wrap">
        <div
          v-for="(product, index) in products"
          :key="product.id">
          <product-card
            :stores="stores"
            :index="index + 1"
            :store-id="layout.attributes.link.storeId"
            :manual-sub-domain="layout.attributes.link.subDomain"
            :sub-domain="subDomain"
            :product="product"
            :user-id="user ? user.id : null"
            :domain="domain"/>
        </div>
      </div>
    </div>
    <!-- tower -->
    <div
      v-if="layout.id == 2"
      class="layout-2 mb-30">
      <div class="mb-15 flex ai-center">
        <span class="fs-24 fw-600 mr-15">
          {{ layout.attributes.title }}
        </span>
        <button class="see-all">
          {{ layout.attributes.link.title }}
        </button>
      </div>
      <p class="c-acacac fs-16">
        {{ layout.attributes.subTitle }}
      </p>
      <div class="scroll-wrap">
        <a
          v-for="slide in layout.attributes.carousel"
          :key="slide.sortOrder"
          style="position: relative; cursor: pointer;"
          @click="goToStore(slide)">
          <img
            :src="slide.imageDesktop"
            alt="">
          <div
            v-if="slide.button"
            style="position: absolute; bottom: 35px; left: 60%; transform: translateX(-50%); border-radius: 5px;">
            <button
              class="uppercase"
              style="width: 80%; background-color: #fff; padding: 6px; border-radius: 5px;">
              {{ slide.button.title }}
            </button>
          </div>
        </a>
      </div>
    </div>
    <!-- main carousel -->
    <div
      v-if="layout.id == 3"
      class="layout-3">
      <carousel
        :per-page="1"
        :pagination-enabled="false"
        :autoplay-timeout="7000"
        :navigation-enabled="sortedMainCarousel.length > 1 && isDesktop"
        navigation-prev-label
        navigation-next-label
        autoplay
        class="mb-15">
        <slide
          v-for="slide in sortedMainCarousel"
          :key="slide.sortOrder"
          class="slide">
          <a
            :style="{ 'cursor': 'pointer', backgroundImage: 'url(' + (windowWidth < 640 ? slide.imageMobile : slide.imageDesktop) + ')' }"
            @click="goToStore(slide); slideAdClicked(slide.ads)">
            <div class="flex flex-col">
              <span class="fs-20">
                {{ slide.link.altText }}
              </span>
              <h1 class="carousel-text mb-0">
                {{ slide.link.title }}
              </h1>
              <span class="fs-20">
                {{ slide.link.subTitle }}
              </span>
            </div>
          </a>
        </slide>
      </carousel>
    </div>
    <!-- category pills -->
    <div
      v-if="layout.id == 4"
      class="layout-4 mb-30">
      <div class="scroll-wrap">
        <a
          v-for="slide in layout.attributes.carousel"
          :href="'https://' + slide.link.subDomain + '.' + domain + '/' + slide.link.prettyUrl"
          :key="slide.sortOrder">
          {{ slide.link.title }}
        </a>
      </div>
    </div>
    <!-- single banner -->
    <div
      v-if="layout.id == 5"
      class="layout-5">
      <div
        v-if="layout.attributes.title && layout.attributes.link"
        class="mb-15 flex ai-center">
        <span class="fs-24 fw-600 mr-15">
          {{ layout.attributes.title }}
        </span>
        <button class="see-all">
          {{ layout.attributes.link.title }}
        </button>
      </div>
      <p class="c-acacac fs-16">
        {{ layout.attributes.subTitle }}
      </p>
      <a
        :style="{ backgroundImage: 'url(' + (windowWidth < 640 ? layout.attributes.carousel[0].imageMobile : layout.attributes.carousel[0].imageDesktop) + ')' }"
        :href="'https://' + layout.attributes.carousel[0].link.subDomain + '.' + domain + '/' + layout.attributes.carousel[0].link.prettyUrl"
        class="banner mb-30">
        <span v-if="layout.attributes.carousel[0].link.title">
          {{ layout.attributes.carousel[0].link.title }}
        </span>
      </a>
    </div>
    <!-- tiled -->
    <div
      v-if="layout.id == 6"
      class="layout-6 mb-30">
      <div class="mb-15 flex ai-center">
        <img
          v-if="layout.attributes.icon"
          :src="layout.attributes.icon"
          class="icon"
          alt="">
        <span class="fs-24 fw-600 mr-15">
          {{ layout.attributes.title }}
        </span>
        <button class="see-all">
          {{ layout.attributes.link.title }}
        </button>
      </div>
      <p class="c-acacac fs-16">
        {{ layout.attributes.subTitle }}
      </p>
      <div
        v-if="layout.attributes.images"
        class="top mb-15">
        <div
          :style="{ backgroundImage: 'url(' + layout.attributes.images[0].imageDesktop + ')' }"
          style="background-size: cover;"
          class="image image-1"/>
        <div
          :style="{ backgroundImage: 'url(' + layout.attributes.images[1].imageDesktop + ')' }"
          style="background-size: cover;"
          class="image image-2"/>
      </div>
      <div class="bottom">
        <div
          :style="{ backgroundColor: layout.attributes.blockBgColor }"
          style="min-height: 170px; align-items: flex-start;"
          class="color-block p-15">
          <p class="c-ffffff fs-20 mb-15">
            {{ layout.attributes.blockMessage }}
          </p>
          <button
            class="uppercase"
            style="background-color: #fff; padding: 6px 14px;">
            Shop All
          </button>
        </div>
        <div
          :style="{ backgroundImage: 'url(' + layout.attributes.images[2].imageDesktop + ')' }"
          style="background-size: cover;"
          class="image image-3"/>
      </div>
    </div>
    <!-- category images -->
    <div
      v-if="layout.id == 7"
      class="layout-7 mb-30">
      <div class="mb-15 flex ai-center">
        <span class="fs-24 fw-600 mr-15 text-3xl">
          {{ layout.attributes.title }}
        </span>
        <button
          v-if="layout.attributes.link"
          class="see-all">
          {{ layout.attributes.link.title }}
        </button>
      </div>
      <p class="c-acacac fs-16">
        {{ layout.attributes.subTitle }}
      </p>
      <div class="grid-2 gap-15 items-center justify-center w-full">
        <div
          v-for="slide in layout.attributes.carousel"
          :key="slide.sortOrder"
          class="category-image"
          @click="goToStore(slide)">
          <img
            :src="slide.imageDesktop"
            alt="">
        </div>
      </div>
    </div>
    <!-- reward points -->
    <div
      v-if="layout.id == 8 && user"
      class="layout-8 mb-30 border-b border-grey-lighter">
      <div class="px-15 sm:flex">
        <reward-points
          :user="user"
          class="mb-15"/>
      </div>
      <div class="text-wrap">
        <span class="fs-24 fw-600 mb-15 block mr-15">
          {{ layout.attributes.title }}
        </span>
        <p class="c-acacac fs-16 mb-0">
          {{ layout.attributes.subTitle }}
        </p>
      </div>
    </div>
    <!-- title and description -->
    <div
      v-if="layout.id == 9"
      class="layout-9 mb-30">
      <div class="mb-15 flex ai-center">
        <div>
          <span
            style="font-size: 26px; margin-bottom: 40px;"
            class="fw-600 block mr-15">
            {{ layout.attributes.title }}
          </span>
          <p
            style="color: #444444; line-height: 26px; font-size: 15px; font-weight: 100;"
            class="fs-16">
            {{ layout.attributes.subTitle }}
          </p>
        </div>
      </div>
    </div>
    <!-- wide-tile carousel -->
    <div
      v-if="layout.id == 10"
      class="layout-10 mb-30">
      <div class="mb-15 flex ai-center">
        <img
          v-if="layout.attributes.icon"
          :src="layout.attributes.icon"
          class="icon"
          alt="">
        <span class="fs-24 fw-600 mr-15">
          {{ layout.attributes.title }}
        </span>
        <a
          class="see-all"
          style="cursor: pointer;"
          @click="goToPage(layout.attributes)">
          {{ layout.attributes.link.title }}
        </a>
      </div>
      <p class="c-acacac fs-16">
        {{ layout.attributes.subTitle }}
      </p>
      <div class="scroll-wrap">
        <div
          v-for="slide in layout.attributes.carousel"
          :key="slide.sortOrder"
          class="category-image"
          @click="goToStore(slide)">
          <img
            :src="slide.imageDesktop"
            alt="">
        </div>
      </div>
    </div>
    <div
      v-if="layout.id == 11"
      class="layout-11 mb-30">
      <h1 class="text-3xl font-semibold">
        A one-stop online convenience delivery
      </h1>
      <div class="sm:flex justify-between">
        <div class="sm:w-300">
          <h3 class="mb-10 text-grey-light font-thin">
            STEP 1
          </h3>
          <h2 class="mb-15 text-xl font-semibold">
            Shop our stores
          </h2>
          <p class="text-md">
            -
          </p>
        </div>
        <div class="sm:w-300">
          <h3 class="mb-10 text-grey-light font-thin">
            STEP 2
          </h3>
          <h2 class="mb-15 text-xl font-semibold">
            From our curated goods
          </h2>
          <p class="text-md">
            Browse from our collection of high-quality essentials, alcohol &amp; new trendy products!
          </p>
        </div>
        <div class="sm:w-300">
          <h3 class="mb-10 text-grey-light font-thin">
            STEP 3
          </h3>
          <h2 class="mb-15 text-xl font-semibold">
            Delivered to your door
          </h2>
          <p class="text-md">
            Sit back and have your goods delivered straight to you as a little as 1 hour.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.gap-15 {
  grid-gap: 15px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width:640px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.text-md {
  font-size: 16px;
}
.carousel-text {
  font-size: 24px;
  @media screen and (min-width: 640px) {
    font-size: 30px;
  }
}
.category-image {
  cursor: pointer;
}
.layout-4 {
  padding: 0 10px;
  @media screen and (min-width: 640px) {
    padding: 0px 130px;
  }
  a {
    color: #acacac;
    border: 1px solid #acacac;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 15px;
  }
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.slide {
  a {
    background-size: cover;
    background-position: center;
    display: block;
  }
}
.layout-9 {
  max-width: 1280px;
  margin-left: auto;
  padding: 0 10px;
  margin-right: auto;
  @media screen and (min-width: 640px) {
    padding: 0px 30px;
  }
}
.layout-2, .layout-1 {
  max-width: 1280px;
  margin-left: auto;
  padding: 0 10px;
  margin-right: auto;
  @media screen and (min-width: 640px) {
    padding: 0px 30px;
  }
  .scroll-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    div {
      border-radius: 8px;
      flex: 0 0 auto;
      margin-right: 40px;
      width: 140px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      @media screen and (min-width: 640px) {
        width: 180px;
        margin-right: 60px;
      }
    }
    a {
      border-radius: 8px;
      flex: 0 0 auto;
      margin-right: 15px;
      width: 160px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      @media screen and (min-width: 640px) {
        width: 220px;
        margin-right: 20px;
      }
    }
  }
}
.layout-7 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  @media screen and (min-width: 640px) {
    padding: 0px 30px;
  }
  .scroll-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    a, div {
      border-radius: 8px;
      flex: 0 0 auto;
      margin-right: 15px;
      width: 135px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      @media screen and (min-width: 640px) {
        width: 140px;
        margin-right: 30px;
      }
    }
  }
}
.layout-3 {
  a {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    @media screen and (min-width: 640px) {
      height: 344px;
    }
    h1 {
      font-size: 600;
    }
  }
}
.layout-5 {
  a {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    @media screen and (min-width: 640px) {
      height: 275px;
    }
  }
}
.layout-6 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  @media screen and (min-width: 640px) {
    padding: 0px 30px;
  }
  .top {
    display: grid;
    grid-gap: 15px;
    @media screen and (min-width: 640px) {
      grid-template-columns: 5fr 3fr;
    }
  }
  .bottom {
    display: grid;
    grid-gap: 15px;
    @media screen and (min-width: 640px) {
      grid-template-columns: 3fr 5fr;
    }
  }
  .image {
    height: 250px;
    @media screen and (min-width: 1024px) {
      height: 350px;
    }
  }
  .image-2, .image-3 {
    display: none;
    @media screen and (min-width: 640px) {
      display: block;
    }
  }
  .image, .color-block {
    border-radius: 4px;
  }
  .color-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.layout-8 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  @media screen and (min-width: 640px) {
    padding: 0px 30px;
  }
  .reward-points-wrap {
    display: flex;
    flex-flow: column;
    @media (min-width: 640px) {
      display: flex;
      width: 100%;
      flex-flow: row-reverse;
    }
  }
  .text-wrap {
    display: flex;
    flex-flow: column;
  }
}
.see-all {
  border: 1px solid #adadad;
  border-radius: 5px;
  text-transform: uppercase;
  color: #adadad;
  margin-left: auto;
  padding: 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.layout-10 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  @media screen and (min-width: 640px) {
    padding: 0px 30px;
  }
  .scroll-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    a, div {
      border-radius: 8px;
      flex: 0 0 auto;
      width: 220px;
      margin-right: 30px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.layout-11 {
  @media screen and (min-width: 640px) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
  }
  padding: 0 10px;
}
</style>

<script>
import { Carousel, Slide } from 'vue-carousel';
import { mapGetters } from 'vuex';
import {
  storeClicked, promotionViewed, adClicked, adViewed,
} from '../mixins/analytics';

export default {
  components: {
    Carousel,
    Slide,
  },
  props: {
    layout: {
      type: Object,
      default: null,
      required: true,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: 'www',
      required: false,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
    stores: {
      type: Array,
      default: null,
      required: false,
    },
    storeId: {
      type: String,
      default: null,
      required: true,
    },
    inventoryId: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: true,
      products: [],
    };
  },
  computed: {
    isDesktop() {
      return window.innerWidth > 640;
    },
    sortedMainCarousel() {
      function compare(a, b) {
        if (a.sortOrder < b.sortOrder) { return -1; }
        if (a.sortOrder > b.sortOrder) { return 1; }

        return 0;
      }

      return typeof (this.layout.attributes.carousel) !== 'undefined' ? this.layout.attributes.carousel.sort(compare) : [];
    },
    windowWidth() {
      return window.innerWidth;
    },
    ...mapGetters([
      'selectedAddress',
    ]),
  },
  mounted() {
    if (this.layout.id == 1) {
      this.getProducts();
    }
    for (let i = 0; i < this.sortedMainCarousel.length; i += 1) {
      const { ads } = this.sortedMainCarousel[i];
      if (ads && ads.length > 0) {
        if (this.user) {
          const data = {
            ads,
            userId: this.user.id,
            storeId: this.storeId,
            inventoryId: this.inventoryId,
          };
          this.adViewed(data);
        } else {
          const data = {
            ads,
            userId: null,
            storeId: this.storeId,
            inventoryId: this.inventoryId,
          };
          this.adViewed(data);
        }
      }
    }
  },
  methods: {
    storeClicked,
    promotionViewed,
    adClicked,
    adViewed,
    async getProducts() {
      this.isLoading = true;

      await axios.get(`https://api.${this.domain}/${this.layout.attributes.url}`)
        .then((response) => {
          this.products = response.data.data;
          this.isLoading = false;
          const promotionInventoryId = this.layout.attributes.url.split('inventories/')[1].split('/categories')[0];
          const data = {
            products: this.products,
            promotionId: 'promo-1',
            creative: this.layout.attributes.subTitle,
            categoryId: this.layout.attributes.link.categoryId,
            title: this.layout.attributes.title,
            index: this.layout.attributes.sortOrder,
            promotionSubDomain: this.layout.attributes.link.subDomain,
            subDomain: this.subDomain,
            domain: this.domain,
            promotionStoreId: this.layout.attributes.link.storeId,
            storeId: this.storeId,
            promotionInventoryId,
            inventoryId: this.inventoryId,
          };

          this.promotionViewed(data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    selectCategory(slide) {
      if (slide.type === 'categoryStore') {
        this.$store.commit('SET_CHOSEN_PILL', slide.prettyUrl);
        this.$store.commit('SET_ACTIVE_MODAL', 'stores');
      } else if (slide.type === 'storeFront') {
        const store = this.stores.find(store => store.id == slide.storeId);
        this.$store.commit('SET_INVENTORY_ID', typeof store !== 'undefined' ? store.attributes.inventoryId : -1);
        window.location.href = `https://${slide.subDomain}.${this.domain}/${slide.prettyUrl}`;
      }
    },
    goToStore(slide) {
      const store = this.stores.find(store => store.id == slide.link.storeId);
      this.$store.commit('SET_INVENTORY_ID', typeof store !== 'undefined' ? store.attributes.inventoryId : -1);

      if (this.user) {
        const data = {
          store,
          userId: this.user.id,
        };
        this.storeClicked(data);
      } else {
        const data = {
          store,
          userId: null,
        };
        this.storeClicked(data);
      }
      let url = slide.link.prettyUrl;
      if (slide.link.prettyUrl.indexOf('category') !== -1) {
        if (url.indexOf('?') > -1) {
          url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        } else {
          url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        }
      }
      window.location.href = `https://${slide.link.subDomain}.${this.domain}/${url}`;
    },
    goToPage(layoutAttributes) {
      const store = this.stores.find(store => store.id == layoutAttributes.link.storeId);
      this.$store.commit('SET_INVENTORY_ID', typeof store !== 'undefined' ? store.attributes.inventoryId : -1);

      let url = layoutAttributes.link.prettyUrl;

      if (layoutAttributes.link.prettyUrl.indexOf('category') !== -1) {
        if (url.indexOf('?') > -1) {
          url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        } else {
          url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        }
      }

      window.location.href = `https://${layoutAttributes.link.subDomain}.${this.domain}/${url}`;
    },
    slideAdClicked(ads) {
      if (ads.length > 0) {
        if (this.user) {
          const data = {
            ads,
            userId: this.user.id,
            storeId: this.storeId,
            inventoryId: this.inventoryId,
          };
          this.adClicked(data);
        } else {
          const data = {
            ads,
            userId: null,
            storeId: this.storeId,
            inventoryId: this.inventoryId,
          };
          this.adClicked(data);
        }
      }
    },
  },
};
</script>
