<template>
  <div
    v-show="searchIsOpen"
    id="search"
    class="overlay">
    <div class="btn-wrap mb-30">
      <button
        class="button-close"
        @click="closeSearch">
        <img src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493969/runner%20v4/icons/ProductIconX.png">
      </button>
    </div>
    <div class="form-wrap">
      <input
        id="productSearch"
        type="text"
        class="input desktop"
        autofocus
        name="product"
        placeholder="Search Product...">
    </div>
    <div class="search-wrap">
      <div class="title-wrap">
        <button
          class="back-btn"
          @click="closeSearch">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
            style="transform: rotate(-180deg); width: 15px;">
          Back
        </button>
        <div class="search-txt">
          Search
        </div>
      </div>
      <input
        id="productSearch"
        type="text"
        class="input mobile"
        autofocus
        name="product"
        placeholder="Search Product...">
    </div>
  </div>
</template>

<style lang="scss" scoped>
.input.desktop {
  display: none;
  @media (min-width: 640px) {
    display: unset;
  }
}
.input.mobile {
  @media (min-width: 640px) {
    display: none;
  }
}
.search-txt {
  @media (min-width: 640px) {
    display: none;
  }
}
.back-btn {
  display: flex;
  font-weight: 100;
  @media (min-width: 640px) {
    display: none;
  }
}
.trends{
  display: flex;
  .info {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    @media (min-width: 640px) {
      display: none;
    }
  }
}
.stores-list {
  display: grid;
  .scrollable-list {
    @media (min-width: 640px) {
      // overflow-x: unset;
      overflow-y: hidden;
    }
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    div {
      flex: 1;
    }
    .toronto-life {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1563915079/runner%20v4/images/StorefrontListTorontolife.png');
      width: 142px;
      height: 157px;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .runner-mag {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1563915079/runner%20v4/images/StorefrontListRunnermag.png');
      width: 142px;
      height: 157px;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .buyer {
      background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1562705404/runner%20v4/images/Buyers_CellarsBanner.png');
      width: 142px;
      height: 157px;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
#search {
  .search-wrap {
    grid-template-columns: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}
.overlay {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  z-index: 1900;
}
.title {
  @media (min-width: 640px) {
    color: #C1C1C1;
  }
}
 .delivery-to {
  display: none !important;
  @media screen and (min-width: 768px) {
    display: unset !important;
  }
}
.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    font-size: 22px;
  }
  button {
    position: absolute;
    left: 10px;
  }
}
.btn-wrap {
  width: 100%;
  display: flex;
  place-content: flex-end;
  img {
    width: 25px;
    opacity: 0.5;
  }
  .button-close {
    display: none;
    @media (min-width: 640px) {
      display: unset;
    }
  }
}
.search-wrap {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 100%;
  margin: 0;
  &.is-logged-in {
    grid-template-rows: 60px 60px;
    @media screen and (min-width: 768px) {
        grid-template-columns: minmax(60%, auto) auto;
        grid-template-rows: 100%;
    }
  }
  input {
    border-radius: 24px;
    color: #343434;

    &::placeholder {
        color: #343434;
    }
  }
  .logged-in-buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(auto, 150px));
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: right;
    }
    .button {
      align-items: center;
      border-radius: 24px;
      border: 1px solid #cecece;
      box-shadow: none;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 15px;
      justify-content: center;
      &:hover {
          transform: translateY(0);
      }
      img {
          margin: 0;
      }
    }
  }
}
#productSearch {
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-radius: 24px;
  color: #313131;
  font-size: 12px;
  height: 50px;
  padding: 5px 30px;
  line-height: normal;
  width: 100%;
  -webkit-appearance: none;
}
.form-wrap {
  .logo {
    display: none;
    @media (min-width: 640px) {
      display: unset;
    }
  }
  display: grid;
  @media (min-width: 640px) {
    display: flex;
  }
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 100%
}
</style>

<script>
export default {
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
  },
  computed: {
    searchIsOpen() {
      return this.$store.getters.searchStatus;
    },
  },
  mounted() {
    for (let i = 1; i < 8; i++) {
      this.getStores(i);
    }
    const client = algoliasearch('EWG2ZDNJEQ', '18570a327b9fce163e19ce027f79a3bb');
    let algoliaIndex = '';

    if (this.subDomain === 'winerack') {
      algoliaIndex = 'winerack';
    } else {
      algoliaIndex = 'new_products';
    }

    const index = client.initIndex(algoliaIndex);

    autocomplete('#productSearch', {
      hint: false, autoselect: false,
    }, [
      {
        source: autocomplete.sources.hits(index, {
          hitsPerPage: 5,
        }),
        displayKey: 'name',
        templates: {
          suggestion(suggestion) {
            return `<img style="width: 30px; margin-right: 10px;" src="${suggestion.image}">` + `<span>${suggestion.title}</span>`;
          },
        },
      },
    ]).on('autocomplete:selected', (event, suggestion, dataset) => {
      window.location.href = `/search?q=${suggestion.title}`;
    });
    document.getElementById('productSearch').onkeypress = function (e) {
      if (!e) e = window.event;
      const keyCode = e.charCode || e.keyCode || e.which;

      if (keyCode === 13) {
        window.location.href = `/search?q=${document.getElementById('productSearch').value}&web=true`;

        return false;
      }
    };
  },
  methods: {
    closeSearch() {
      this.$store.commit('TOGGLE_SEARCH_STATUS');
    },
    getStores(tempNum) {
      this.isLoading = true;

      axios({
        method: 'get',
        url: `https://api.${this.domain}/runner/v4/stores/${tempNum}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.stores.push(response.data.data);
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    changeStore(store) {
      if (store.id == '1') {
        location.href = `https://www.${this.domain}/`;
      } else if (store.id == '5') {
        location.href = `https://winerack.${this.domain}/`;
      } else if (store.id == '4') {
        location.href = `https://gift.${this.domain}/`;
      } else if (store.id == '7') {
        location.href = `https://torontolife.${this.domain}/`;
      } else if (store.id == '2') {
        location.href = `https://rush.${this.domain}/`;
      }
    },
  },
};
</script>
