<template>
  <div
    id="sideNav"
    :class="{'margin-subdomain': subDomain !== 'www'}">
    <div
      v-if="user"
      class="welcome-user flex px-15 py-15 ai-center">
      <avatar
        :user="user"
        :size="50"
        class="mr-10" />
      <span class="fs-20">
        Hi, {{ user.attributes.firstName }}
      </span>
    </div>
    <div
      v-else
      class="welcome-user flex px-15 py-15 ai-center">
      <span
        style="width: 45px; height: 45px; margin-right: 10px; background-color: #b9b9b9;"
        class="text-white flex items-center rounded-full justify-center">
        G
      </span>
      <span class="fs-20">
        Hi, Guest
      </span>
    </div>
    <div
      v-if="user && inAccountPages"
      class="welcome-user-desktop flex ai-center">
      <avatar
        :user="user"
        :size="40"
        class="mr-10" />
      <span class="fs-20">
        Hi, {{ user.attributes.firstName }}
      </span>
    </div>
    <a
      class="shopping-in"
      @click="editAddress(user, domain)">
      Shopping in:
      <span
        v-if="selectedAddress"
        style="font-weight: 400">
        {{ selectedAddress.attributes.postalCode }}
        <img
          style="width: 13px; margin-left: 3px; margin-bottom: 3px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/ShoopingInArrow.png">
      </span>
      <span
        v-else-if="!selectedAddress"
        style="font-weight: 400">
        Click here to enter address
        <img
          style="width: 13px; margin-left: 3px; margin-bottom: 3px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/ShoopingInArrow.png">
      </span>
    </a>
    <ul class="quick-nav list-reset">
      <li @click="setActiveModal('favourites')">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavFavourites.png"
          alt="">
        <span>
          Favourites
        </span>
      </li>
      <li @click="goToPage('account/orders')">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavReOrder.png"
          alt="">
        <span style="color: black;">
          Re-Order
        </span>
      </li>
      <li @click="setActiveModal('stores')">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavStores.png"
          alt="">
        <span>
          Stores
        </span>
      </li>
    </ul>
    <div
      v-if="user"
      class="rewards flex px-5 py-15">
      <div class="flex mb-15">
        <img
          class="mr-15"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavRewardIcon.png"
          alt="">
        <div>
          <span class="fs-20">
            Reward Points
          </span>
          <div>
            <span class="fs-20">
              {{ user.attributes.rewardPointsBalance }}
            </span>
            <span class="fs-20 c-acacac">
              / 1000
            </span>
          </div>
        </div>
      </div>
      <div>
        <div class="outer">
          <div
            :style="{ width: rewardBar(user) + '%' }"
            class="inner"/>
        </div>
      </div>
    </div>
    <div
      v-if="categories && subDomain != 'www'"
      class="categories">
      <span class="header-wrap block fs-16 mb-20 font-medium">
        Categories
      </span>
      <span
        v-if="category"
        class="block fs-16 font-medium p-15 flex justify-between mb-15 cursor-pointer hover:bg-gray-300"
        @click="toggleCategoryList">
        {{ category.title }}
        <img
          v-if="categoryListExpanded"
          class="w-15 h-15 cursor-pointer"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/ShoopingInArrow.png"
          alt="">
        <img
          v-else
          class="w-15 h-15 cursor-pointer"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
          alt="">
      </span>
      <ul
        v-if="inExploreStorePage"
        class="category-reset list-reset">
        <li
          v-for="c in formattedCategories"
          v-show="categoryListExpanded"
          :key="c.id"
          class="category-names mb-30">
          <a
            v-if="pageName === 'category'"
            :href="'https://' + subDomain + '.' + domain + '/category/' + c.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')"
            class="category flex justify-between">
            <span class="fs-16">
              {{ c.title }}
            </span>
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
          <a
            v-else-if="pageName === 'tag'"
            :href="'https://' + subDomain + '.' + domain + '/tag/' + c.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')"
            class="category flex justify-between">
            <span class="fs-16">
              {{ c.title }}
            </span>
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
      </ul>
      <ul
        v-else
        class="category-reset list-reset mx-30">
        <transition-group
          name="list"
          tag="li">
          <li
            v-for="c in formattedCategories"
            v-show="categoryListExpanded"
            :key="c.id"
            class="category-names mb-30">
            <a
              v-if="pageName === 'category'"
              :href="'https://' + subDomain + '.' + domain + '/category/' + c.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')"
              class="category flex justify-between">
              <span class="fs-16">
                {{ c.title }}
              </span>
              <span
                v-if="categoryPageOnly && c.productCount > 0"
                class="fs-12">
                ({{ c.productCount }})
              </span>
              <span
                v-else-if="categoryPageOnly && c.productCount < 1"
                class="fs-12">
                (0)
              </span>
            <!-- <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt=""> -->
            </a>
            <a
              v-else-if="pageName === 'tag'"
              :href="'https://' + subDomain + '.' + domain + '/tag/' + c.slug + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')"
              class="category flex justify-between">
              <span class="fs-16">
                {{ c.title }}
              </span>
            </a>
          </li>
        </transition-group>
        <div
          v-if="categoryPageOnly && categoryListExpanded && formattedCategories.filter(cat => cat.productCount > 0).length === 0 "
          class="mb-20"
        >
          No further categories with products exist.
        </div>
      </ul>
      <a
        v-for="m in manualCategories"
        v-show="(category || pageName === 'tag') && category.slug !== m"
        :key="m"
        :href="'https://' + subDomain + '.' + domain + '/category/' + m + '?postalCode=' + (selectedAddress ? selectedAddress.attributes.postalCode : 'M6J1G5')"
        class="block fs-16 font-medium p-15 flex justify-between mb-15 cursor-pointer hover:bg-gray-300">
        {{ normalizeSlug(m) }}
        <img
          class="w-15 h-15 cursor-pointer"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
          alt="">
      </a>
      <a
        v-if="category"
        :href="'https://' + 'cocktailemporium' + '.' + domain + '/'"
        class="block fs-16 font-medium p-15 flex justify-between mb-20 cursor-pointer hover:bg-gray-300">
        Gifts
        <img
          class="w-15 h-15 cursor-pointer"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
          alt="">
      </a>
    </div>
    <div
      v-if="categories && Object.keys(groupedFilters).length"
      class="categories-outer">
      <div class="categories-wrap">
        <div
          v-if="category.id !== null"
          style="border-bottom: 0px;"
          class="categories">
          <span
            class="header-wrap block fs-16 mb-20 font-medium">
            Refine by:
            <img
              v-if="!Object.keys(groupedFilters).length"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </span>
        </div>
        <div
          :class="{'p-15': existingSlugs.length > 0}"
          class="your-selection">
          <div
            v-if="existingSlugs.length > 0"
            class="headers selected mb-10">
            <span style="color: #06864D; font-weight: 400; margin-right: 10px;">
              Your Selection:
            </span>
            <span
              style="color: #ADADAD; text-decoration: underline; cursor: pointer;"
              @click="resetFilters">
              Reset All
            </span>
          </div>
          <div
            v-for="(filter, index) in tempFilters"
            :key="index"
            class="filters">
            <div
              v-if="filter.type === 'rating'"
              style="display: flex; margin-right: 10px;">
              <div
                v-for="(rating, index) in filter.slug.split('-')[1][0] - 0"
                :key="index">
                <img
                  style="width: 20px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561044141/runner%20v4/icons/ProductCardIconStar.png">
              </div>
              <div
                v-for="(n, index) in 5 - ((filter.slug.split('-')[1][0]))"
                :key="index">
                <img
                  style="width: 20px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561044141/runner%20v4/icons/ProductCardIconStarEmpty.png">
              </div>
            </div>
            <div
              v-else
              style="margin-right: 10px;">
              {{ filter.title }}
            </div>
            <span
              style="cursor: pointer;"
              @click="removeFilter(filter, index)">
              &#10005;
            </span>
          </div>
        </div>
      </div>
      <div
        v-if="category.id !== null"
        style="border-bottom: 0px;"
        class="categories">
        <div
          v-for="(slug, index) in groupedFilters"
          v-show="index !== 'user-tag' && index !== 'promo' && index !== 'promotion'"
          :key="index"
          class="selection p-15">
          <div class="headers filter-by">
            <span style="font-weight: 400;">
              {{ index[0].toUpperCase() + index.substr(1) }}
            </span>
            <span/>
          </div>
          <div
            v-if="index === 'rating'"
            class="filter-wrap-rating">
            <!-- <div
              v-for="(tag, index) in slug"
              :key="index"> -->
            <span class="rating flex justify-center">
              <star-rating
                :star-size="15"
                :padding="10"
                :show-rating="false"
                :rating="rating"
                @rating-selected ="setRating"
              /> &amp; Up
              <!-- <input
                  v-model="ratingFilter"
                  :value="{slug: tag.slug, title: tag.title, type: tag.type}"
                  :id="tag.id"
                  :checked="existingSlugs.includes(tag.slug)"
                  type="radio"
                  class="rating-input"
                  name="rating-input-1">
                <label
                  :for="tag.id"
                  class="rating-star"/> -->
            </span>
            <span
              v-if="Object.keys(ratingFilter).length"
              style="cursor: pointer; margin-left: 15px; position: absolute; right: 75px; width: 15px; opacity: 0.5;"
              @click="removeRatingFilter()">
              &#10005;
            </span>
            <!-- </div> -->
          </div>
          <div
            v-else-if="index === 'price'"
            class="filter-wrap">
            <div
              v-for="(tag, index) in slug"
              :key="index"
              class="filters">
              <input
                v-model="priceFilter"
                :value="tag"
                :id="tag.id"
                :checked="existingSlugs.includes(tag.slug)"
                type="radio"
                name="test"
                @change="applyFilter()">
              <label :for="tag.id">
                {{ tag.title }}
              </label>
              <span
                v-if="Object.keys(priceFilter).length && tag.slug === priceFilter.slug"
                style="cursor: pointer; margin-left: 15px;"
                @click="removePriceFilter()">
                &#10005;
              </span>
            </div>
          </div>
          <div
            v-else
            class="filter-wrap">
            <div
              v-for="(tag, index) in slug"
              :key="index"
              class="filters">
              <input
                v-model="filters"
                :value="tag"
                :id="tag.id"
                :checked="existingSlugs.includes(tag.slug)"
                type="checkbox"
                name="test"
                @change="applyFilter()">
              <label :for="tag.id">
                {{ tag.title }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="standard-nav-items">
      <span
        v-if="!inAccountPages"
        class="header-wrap block fs-16 mb-20 font-bold">
        Help &amp; Settings
      </span>
      <ul class="list-reset">
        <li v-if="user && !inAccountPages">
          <a :href="'https://www.' + domain + '/account/settings'">
            Account Settings
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && !inAccountPages">
          <a :href="'https://www.' + domain + '/account/orders'">
            Order History
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && inAccountPages">
          <a :href="'https://www.' + domain + '/account/settings'">
            Account Settings
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && inAccountPages">
          <a :href="'https://www.' + domain + '/account/orders'">
            Order History
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && inAccountPages">
          <a :href="'https://www.' + domain + '/account/reward-points'">
            Reward Points
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && inAccountPages">
          <a :href="'https://www.' + domain + '/account/payment-methods'">
            Payment Methods
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && inAccountPages">
          <a :href="'https://www.' + domain + '/account/addresses'">
            Addresses
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li v-if="user && inAccountPages">
          <a :href="'https://www.' + domain + '/account/invite-friends'">
            Invite Friends
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li>
          <a :href="'https://www.' + domain + '/about'">
            About Us
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
        <li>
          <a :href="'https://www.' + domain + '/faq'">
            FAQ
            <img
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
              alt="">
          </a>
        </li>
      <!-- <li>
          <span>
            Contact Us
          </span>
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png"
            alt="">
        </li> -->
      </ul>
    </div>
    <div class="logout pt-15">
      <button-component
        v-if="user"
        :text="'Log Out'"
        :text-color="'#313131'"
        :font-size="'16px'"
        :font-weight="'100'"
        :color="'#ACACAC'"
        :fill="false"
        :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavLogout.png'"
        :icon-spacing="'15px'"
        @click.native="logout"/>
      <div
        v-else
        class="login-logout-btns">
        <button-component
          :text="'Log In'"
          :text-color="'#313131'"
          :font-size="'16px'"
          :font-weight="'100'"
          :color="'#ACACAC'"
          :fill="false"
          :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavLogout.png'"
          :icon-spacing="'14px'"
          class="login-btn-component"
          @click.native="goToPage('login')"/>
        <button-component
          :text="'Sign Up'"
          :text-color="'#313131'"
          :font-size="'16px'"
          :font-weight="'100'"
          :color="'#ACACAC'"
          :fill="false"
          :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavLogout.png'"
          class="register-btn-component"
          @click.native="goToPage('register')"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
// animation
.list-enter-active, .list-leave-active {
  transition: all 0.2s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}
// animation end
.font-bold {
  font-weight: 600 !important;
}
.categories-outer {
  display: none;
  @media (min-width: 640px) {
    display: unset;
  }
}
.login-logout-btns {
  display: grid;
    .login-btn-component {
      margin-bottom: 15px;
    }
  @media (min-width: 640px) {
    display: flex;
    .login-btn-component {
      margin-bottom: 0px;
      margin-right: 15px;
    }
  }
}
.welcome-user {
  display: flex;
  @media (min-width: 640px) {
    display: none;
  }
}
.welcome-user-desktop {
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
}
// CUSTOM CSS INPUT
// radios
$checkbox-size: 12px;
$margin: 12px;
$margin-small: $margin / 2;
$text-lighter: #ccc;
$brand: #70dfdb;

body {
  font-family: sans-serif;
  color: #444;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin: 30px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: flex-start;
  min-width: 400px;
}

label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside {
  color: $text-lighter;
}

input {
  cursor: pointer;
  outline: none;
  position: relative !important;
  appearance: none;
  box-sizing: content-box;
  overflow: hidden;

  // circle
  &:before {
    content: '';
    display: block;
    box-sizing: content-box;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 2px solid $text-lighter;
    transition: 0.2s border-color ease;
  }

  &:checked:before {
    border-color: $brand;
    transition: 0.5s border-color ease;
  }

  &:disabled:before {
    border-color: $text-lighter;
    background-color: $text-lighter;
  }

  // dot
  &:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    background-color: $brand;
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: 100vh;
    transform: translate(-50%, -50%) scale(0);
  }

  &[type="radio"] {
    &:before {
      border-radius: 100vh;
    }

    &:after {
      width: $checkbox-size;
      height: $checkbox-size;
      border-radius: 100vh;
      transform: translate(-50%, -50%) scale(0);
    }

    &:checked:after {
      animation: toggleOnRadio 0.2s ease forwards;
    }
  }

  &[type="checkbox"] {
    &:before {
      border-radius: $checkbox-size / 4;
    }

    &:after {
      width: $checkbox-size * 0.6;
      height: $checkbox-size;
      border-radius: 0;
      transform: translate(-50%, -85%) scale(0) rotate(45deg);
      background-color: transparent;
      box-shadow: 4px 4px 0px 0px $brand;
    }

    &:checked:after {
      animation: toggleOnCheckbox 0.2s ease forwards;
    }
  }

  &[type="checkbox"].filled  {
    &:before {
      border-radius: $checkbox-size / 4;
      transition: 0.2s border-color ease, 0.2s background-color ease;
    }

    &:checked:not(:disabled):before {
      background-color: $brand;
    }

    &:not(:disabled):after {
      box-shadow: 4px 4px 0px 0px white;
    }
  }
}

@keyframes toggleOnCheckbox {
  0% {
    opacity: 0;
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
  }

  100% {
    transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
  }
}

@keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
// END OF CUSTOM CSS FOR INPUTS
a {
  color: #313131;
}
.header-wrap {
  @media (min-width: 640px) {
  }
}
.category-title {
  @media (min-width: 640px) {
    margin: 0px -30px;
  }
  background-color: #F5F5F5;
  color: #f83e40;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  img {
    width: 15px;
  }
}
.category-names {
  @media (min-width: 640px) {
  }
  :hover {
    color: #F83F40;
  }
}
.margin-subdomain {
  top: 71px !important;
  @media (min-width: 640px) {
    top: 91px !important;
  }
}
.apply-filter-btn {
  display: none;
  padding: 15px;
  @media (min-width: 640px) {
    display: block;
  }
  button {
    display: flex;
    width: 100%;
    height: 40px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #58dfa9;
    justify-content: center;
  }
}
.rating {
  overflow: hidden;
  }
.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
  position: relative;
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url('https://www.everythingfrontend.com/samples/star-rating/star.png') 0 -16px;
}

.filter-wrap-rating {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
  padding: 15px 0px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#sideNav {
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  // top: 91px;
  // top: 61px;
  top: 84px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #eaeaea;
  @media screen and (min-width: 640px) {
    top: 51px;
    width: 300px;
    padding: 30px;
  }
}
.quick-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  @media screen and (min-width: 640px) {
    display: none;
  }
  li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    border-right: 1px solid #efefef;
    padding: 15px 0;
    &:last-child {
      border-right: 0;
    }
    img {
      width: 40px;
      margin-bottom: 5px;
    }
  }
}
.shopping-in {
  padding: 20px;
  padding-top: 0px;
  display: block;
  color: black;
  @media (min-width: 640px) {
    display: none !important;
  }
}
.rewards {
  @media (min-width: 640px) {
    display: none;
  }
  flex-direction: column;
  img {
    width: 50px;
    max-width: 50px;
    max-height: 50px;
  }
}
.outer {
  height: 10px;
  background-color: #efefef;
  border-radius: 20px;
  width: 100%;
}
.inner {
  height: 10px;
  background-color: #ffdd7a;
  border-radius: 20px;
}
.your-selection {
  display: none;
  @media (min-width: 640px) {
    display: block;
  }
  .filters {
    display: flex;
  }
}
.categories {
  display: block;
  margin: 0px 25px;
  @media (min-width: 640px) {
    margin: 0px -30px;
    margin-bottom: 30px;
    padding: 0px 30px;
  }
  .selection {
    border-bottom: 1px #EFEFEF solid;
    display: grid;
    .headers.selected {
      display: flex;
      justify-content: space-evenly;
    }
    .headers.filter-by {
      display: flex;
    }
    .filters {
      display: flex;
      align-content: center;
      align-items: center;
      padding: 15px 0px;
      input {
        margin-right: 15px;
      }
      label {
        margin: 0;
      }
      span {
        opacity: 0.5;
        font-size: 8px;
      }
    }
  }
  border-bottom: 1px solid #efefef;
  padding: 10px 0px;
  ul {
    li {
      cursor: pointer;
      font-size: 18px;
      .category {
        color: #444444;
        display: flex;
        align-items: center;
      }
    }
    .active {
      img {
        transform: rotate(0deg);
      }
    }
    img {
      width: 15px;
      margin-left: auto;
      transform: rotate(-90deg);
    }
  }
}
.standard-nav-items {
  // border-bottom: 1px solid #eaeaea;
  margin: 25px;
  @media (min-width: 640px) {
  margin: 25px 0px;
    img {
      display: none;
    }
  }
  ul {
    li {
      @media (min-width: 640px) {
        :hover {
          color: #F83F40;
        }
      }
      a {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 15px 0px;
      img {
        width: 15px;
        margin-left: auto;
        transform: rotate(-90deg);
      }
    }
  }
}
.logout {
  padding: 30px;
  @media (min-width: 640px) {
    display: none;
  }
  button {
    width: 100%;
    border: 1px solid #acacac;
    border-radius: 4px;
  }
  img {
    width: 40px;
  }
}
</style>

<script>
import StarRating from 'vue-star-rating';

export default {
  components: {
    StarRating,
  },
  props: {
    user: {
      type: Object,
      default: null,
      required: false,
    },
    selectedAddress: {
      type: Object,
      default: null,
      required: false,
    },
    subDomain: {
      type: String,
      default: null,
      required: false,
    },
    domain: {
      type: String,
      default: 'getrunner.io',
      required: true,
    },
    category: {
      type: Object,
      required: false,
      default: null,
    },
    activeModal: {
      type: String,
      default: 'none',
      required: null,
    },
    categories: {
      type: String,
      default: null,
      required: false,
    },
    tags: {
      type: Array,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      filters: [],
      ratingFilter: {},
      priceFilter: {},
      existingSlugs: [],
      tempFilters: [],
      rating: 0,
      inAccountPages: false,
      categoryListExpanded: true,
      inExploreStorePage: true,
      categoryPageOnly: window.location.pathname.includes('category'),
      manualCategories: ['snacks', 'beverages', 'pets', 'alcohol', 'pantry', 'baby', 'house-home', 'pharmacy', 'personal-care'],
      pageName: '',
    };
  },
  computed: {
    groupedFilters() {
      return _.groupBy(this.tags, 'type');
    },
    categoryId() {
      return this.category.id;
    },
    formattedCategories() {
      return JSON.parse(this.categories);
    },
  },
  mounted() {
    if (window.location.href.split('?page=')[0].includes('category') || window.location.pathname === '/' || window.location.pathname.includes('product')) {
      this.pageName = 'category';
    } else if (window.location.href.split('?page=')[0].includes('tag')) {
      this.pageName = 'tag';
    }
    this.tempFilters = this.filters;

    // if (this.tags) {
    //   alert('test');
    //   this.groupedFilters = _.groupBy(this.tags, 'type');
    // }
    this.createSlugTokens(this.getUrlParameters());

    for (let i = 0; i < this.existingSlugs.length; i++) {
      this.completeFiltersBySlugs(this.existingSlugs[i]);
    }

    if (window.location.href.includes('/account/')) {
      this.inAccountPages = true;
    } else {
      this.inAccountPages = false;
    }
    if (!window.location.href.includes('/category/') && !window.location.href.includes('/product/') && !window.location.href.includes('/tag/')) {
      this.inExploreStorePage = true;
    } else {
      this.inExploreStorePage = false;
    }
  },
  methods: {
    normalizeSlug(slug) {
      let returnVal = slug;
      if (slug === 'beer-cider') {
        return 'Beer & Cider';
      }
      if (slug === 'beverages?filter[tags]=rush-specialty-water') {
        return 'Specialty Water';
      }
      returnVal = returnVal[0].toUpperCase() + returnVal.substr(1);
      return returnVal;
    },
    toggleCategoryList() {
      this.categoryListExpanded = !this.categoryListExpanded;
    },
    rewardBar(user) {
      const returnVar = user.attributes.rewardPointsBalance / 1000 * 100;
      if (returnVar > 100) {
        return 100;
      }
      return returnVar;
    },
    goToPage(page) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${this.domain}/${page}`;
    },
    removeRatingFilter() {
      if (this.filters.includes(this.ratingFilter)) {
        const ratingFilterIndex = this.filters.indexOf(this.ratingFilter);
        this.filters.splice(ratingFilterIndex, 1);
      }
      this.ratingFilter = {};
      this.rating = 0;
      this.applyFilter();
    },
    removePriceFilter() {
      if (this.filters.includes(this.priceFilter)) {
        const priceFilterIndex = this.filters.indexOf(this.priceFilter);
        this.filters.splice(priceFilterIndex, 1);
      }
      this.priceFilter = {};
      this.applyFilter();
    },
    setRating(rating) {
      this.ratingFilter = {
        slug: `rating-${rating}00`,
        title: `Under ${rating} Stars`,
        type: 'rating',
      };
      this.applyFilter();
    },
    removeFilter(filter, index) {
      this.filters.splice(index, 1);
      if (filter.type === 'price') {
        this.priceFilter = {};
      }
      if (filter.type === 'rating') {
        this.removeRatingFilter();
      }
      this.applyFilter();
    },
    completeFiltersBySlugs(slug) {
      for (let i = 0; i < this.tags.length; i++) {
        if (this.tags[i].slug === slug) {
          this.filters.push(this.tags[i]);

          if (slug.includes('price')) {
            this.priceFilter = this.tags[i];
          }
          if (slug.includes('rating')) {
            this.rating = parseInt(slug.split('-')[1][0], 10);
            this.ratingFilter = this.tags[i];
          }
        }
      }
    },
    createSlugTokens(url) {
      const newStr = url.split('filter');
      const newArr = [];
      const finalArr = [];
      const finalfinalArr = [];
      const returnArr = [];
      let finalReturnArr = [];

      // O(n^6) + n  worst case, need to reduce runtime
      for (let i = 0; i < newStr.length; i++) {
        newArr.push((newStr[i].split(']=')));
      }
      for (let i = 1; i < newArr.length; i++) {
        finalArr.push(newArr[i][1].split(','));
      }
      for (let i = 0; i < finalArr.length; i++) {
        for (let j = 0; j < finalArr[i].length; j++) {
          finalfinalArr.push(finalArr[i][j].split('&'));
        }
      }
      for (let i = 0; i < finalfinalArr.length; i++) {
        for (let j = 0; j < finalfinalArr[i].length; j++) {
          if (!finalfinalArr[i][j] === '' || !finalfinalArr[i][j].includes('page=')) {
            returnArr.push(finalfinalArr[i][j]);
          }
        }
      }

      // question mark checker
      for (let i = 0; i < returnArr.length; i++) {
        finalReturnArr.push((returnArr[i].replace('?', '')));
      }
      finalReturnArr = finalReturnArr.filter(v => v != '');
      this.existingSlugs = finalReturnArr;
    },
    getUrlParameters() {
      const url = new URL(window.location.href);
      const queryString = url.search;
      return queryString;
    },
    resetFilters() {
      this.filters = [];
      this.existingSlugs = [];
      this.priceFilter = {};
      this.ratingFilter = {};
      this.rating = 0;
      this.applyFilter();
    },
    applyFilter() {
      let url = '';
      if (this.pageName === 'category') {
        url = new URL(`https://${this.subDomain}.${this.domain}/category/${this.category.slug}`);
      } else if (this.pageName === 'tag') {
        url = new URL(`https://${this.subDomain}.${this.domain}/tag/${this.category.slug}`);
      }
      if (Object.keys(this.ratingFilter).length) {
        this.filters.push(this.ratingFilter);
      }
      if (Object.keys(this.priceFilter).length) {
        this.filters.push(this.priceFilter);
      }
      let resultString = url.toString();
      let filterTagsParam;
      let filterPriceParam;
      let filterRatingParam;
      let newUrl = new URL(resultString);
      for (let i = 0; i < this.filters.length; i++) {
        filterTagsParam = newUrl.searchParams.get('filter[tags]');
        filterPriceParam = newUrl.searchParams.get('filter[price]');
        filterRatingParam = newUrl.searchParams.get('filter[averageRating]');
        resultString = newUrl.toString();
        if (i === 0) {
          if (this.filters[i].type !== 'price' && this.filters[i].type !== 'rating') {
            if (resultString.includes(filterTagsParam)) {
              resultString = `${resultString.slice(0, resultString.indexOf(filterTagsParam))}${this.filters[i].slug},${resultString.slice(resultString.indexOf(filterTagsParam))}`;
            } else if (!resultString.includes(filterTagsParam)) {
              resultString += `?filter[tags]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'price') {
            if (resultString.includes(filterPriceParam)) {
              resultString.replace(filterPriceParam, this.filters[i].slug);
            } else if (!resultString.includes(filterPriceParam)) {
              resultString += `?filter[price]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'rating') {
            if (resultString.includes(filterRatingParam)) {
              resultString.replace(filterRatingParam, this.filters[i].slug);
            } else if (!resultString.includes(filterRatingParam)) {
              resultString += `?filter[averageRating]=${this.filters[i].slug}`;
            }
          }
        } else {
          if (this.filters[i].type !== 'price' && this.filters[i].type !== 'rating') {
            if (resultString.includes(filterTagsParam)) {
              resultString = `${resultString.slice(0, resultString.indexOf(filterTagsParam))}${this.filters[i].slug},${resultString.slice(resultString.indexOf(filterTagsParam))}`;
            } else if (!resultString.includes(filterTagsParam)) {
              resultString += `&filter[tags]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'price') {
            if (resultString.includes(filterPriceParam)) {
              resultString = resultString.replace(filterPriceParam, this.filters[i].slug);
            } else if (!resultString.includes(filterPriceParam)) {
              resultString += `&filter[price]=${this.filters[i].slug}`;
            }
          }
          if (this.filters[i].type === 'rating') {
            if (resultString.includes(filterRatingParam)) {
              resultString = resultString.replace(filterRatingParam, this.filters[i].slug);
            } else if (!resultString.includes(filterRatingParam)) {
              resultString += `&filter[averageRating]=${this.filters[i].slug}`;
            }
          }
        }
        newUrl = new URL(resultString);
      }
      if (resultString.indexOf('postalCode') === -1) {
        let url = resultString;
        if (url.indexOf('?') > -1) {
          url += `&postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        } else {
          url += `?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
        }
        resultString = url;
      }
      location.href = resultString;
    },
    logout() {
      this.$cookie.delete('userId', { domain: this.domain });
      this.$cookie.delete('accessToken', { domain: this.domain });
      this.$cookie.delete('token', { domain: this.domain });
      location.href = `https://${this.subDomain}.${this.domain}`;
    },
    setActiveModal(activeModal) {
      this.$store.commit('SET_ACTIVE_MODAL', activeModal);
    },
    editAddress(user, domain) {
      if (!user) {
        this.$store.commit('SET_ACTIVE_MODAL', 'addressInput');
      } else {
        location.href = `https://www.${domain}/account/addresses`;
      }
    },
  },
};
</script>
