<template>
  <div
    v-if="category.slug === 'explore' || category.slug === 'wine' || category.slug === 'beer' || category.slug === 'spirits'"
    id="category-info">
    <div class="main-content">
      <div v-if="category.slug === 'explore'">
        <h2 class="title margin-b-large">
          Alcohol Delivery in Toronto & Mississauga
        </h2>
        <p>
          Welcome to Runner, Toronto, Mississauga and Etobicoke's best alcohol delivery service. Similar to dial a bottle from the past, we take a fresh approach to alcohol delivery in Toronto. At home or on the go, get Runner to deliver your wine, liquor, and beer anywhere in Toronto.
        </p>
      </div>
      <div v-if="category.slug === 'wine'">
        <h2 class="title margin-b-large">
          Same Day Wine Delivery Toronto & Mississauga
        </h2>
        <p>
          Runner delivers wine directly to your door in Toronto, Mississauga and Etobicoke. Wine delivery has never been this easy and fast. Select from thousands of varietals and LCBO Vintages, there is no maximum or minimum, and delivery takes under 2 hours!
        </p>
      </div>
      <div v-if="category.slug === 'spirits'">
        <h2 class="title margin-b-large">
          Liquor Delivery Toronto & Mississauga
        </h2>
        <p>
          Home delivery of spirits in Toronto, Mississauga and Etobicoke has never been so easy. Runner is your go-to online liquor store. Our seamless alcohol delivery app and website make it as easy to order booze online, as it is to order a pizza! Forget dial a bottle services, choose Runner. Runner alcohol delivery does the heavy lifting for you, we have the entire LCBO selection of rum, scotch, whiskey, bourbon, vodka, available for 2 hour delivery within Toronto & Mississauga.
        </p>
      </div>
      <div v-if="category.slug === 'beer'">
        <h2 class="title margin-b-large">
          Toronto & Mississauga Beer Delivery
        </h2>
        <p>
          Runner is the beer store of choice for your delivery needs. Our beer delivery takes under two hours and you can select from thousands of products. Runner delivers craft beer as well as fan favourites like Budweiser, Stella and Corona.
        </p>
      </div>
      <div
        class="button button--large"
        @click="activateSeeMore">
        <span v-if="seeMoreIsActivate">
          See Less
        </span>
        <span v-else>
          Read more
        </span>
      </div>
    </div>
    <div
      v-if="seeMoreIsActivate"
      class="secondary-content">
      <div v-if="category.slug === 'explore'">
        <div class="category">
          <h4 class="subtitle">
            Easy to Use, Fast Alcohol Delivery
          </h4>
          <p>
            Simply create an account, select the products you would like to purchase and tell us where to deliver! We deliver directly from the LCBO, so we have the largest selection of beer wine and liquor, available in under 2 hours. Forget long lines and heavy bags, let Runner to the heavy lifting.
          </p>
        </div>
        <div class="category">
          <h4 class="subtitle">
            LCBO Delivery
          </h4>
          <p>
            Get LCBO delivery direct in Toronto, Mississauga and Etobicoke in under 2 hours using our website, mobile app, or call! There are no minimums on Runner, you can order as much or as little as you'd like. Runner is the future of dial a bottle services in Toronto.
          </p>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Runner Booze Delivery Area
          </h4>
          <p>
            Our legal alcohol delivery app, website and call service is available in downtown Toronto, North York, East York, Etobicoke, Lawrence Park, midtown Toronto, Yorkville, Forest Hill, Rosedale, Parkdale, The Junction, Bloordale, Danforth, Mississauga and more. Liquor delivery has never been so easy!
          </p>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Toronto, Mississauga and Etobicoke Hotel Alcohol Delivery
          </h4>
          <p>
            We understand the dilemma travelers face when they come to Ontario. Finding a liquor store is hard! Runner is an online booze delivery service, so we bring the alcohol store to you. We deliver to all hotels within our Toronto delivery range.
          </p>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Scheduled Deliveries
          </h4>
          <p>
            For the planned individual, you may schedule your liquor delivery in Toronto, Mississauga and Etobicoke up to 30 days in advance! Like clockwork, we’ll be there with your order at a time that suits you best.
          </p>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Gift Alcohol
          </h4>
          <p>
            Runner makes alcohol gift delivery easy. Who doesn't like a wine delivered to them?! Simply choose the alcohol you'd like to send, tell us the recipient details, and your gift will be delivered in pretty packaging with a handwritten note. Send a bottle of wine or liquor in Toronto to your family, friends, or clients. Last minute gift ideas have never been this easy.
          </p>
        </div>
      </div>
      <div v-if="category === 'wine'">
        <div class="category">
          <p>
            Selecting your wine can be difficult, but Runner makes finding what you're looking for easy. We have the most popular wine varietals and categories listed below to make things a smooth as the wine you'll have delivered to your door.
          </p>
          <h4 class="subtitle">
            Wine On Sale
          </h4>
          <p>
            Sometimes you want to try something new. There's never a better time to the Cabernet Sauvignon or Pino Grigio you've been thinking about than when it's on sale. Find our sale items listed here.
          </p>
          <a
            href="/sale"
            class="button">
            Shop Sales
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Wine Under $20
          </h4>
          <p>
            Good wine doesn't have to break the bank! There are excellent wine choices from under $20, and they can be delivered to you in under 2 hours! Order now and Runner will deliver your wine before dinner.
          </p>
          <a
            href="/wine?price=1&" class="
            button">
            Shop Wine Under $20
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Cabernet Sauvignon Delivered
          </h4>
          <p>
            Cabernet Sauvignon is one of Runner's most popular varietals. With the full selection of the LCBO Cabernet Sauvignon from California, Chile, Argentina, we have everything you'll need to pair with your dinner.
          </p>
          <a
            href="/wine?varietals=Cabernet%20Sauvignon&" class="
            button">
            Shop Cabernet Sauvignon
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Merlot Delivered
          </h4>
          <p>
            Another popular Runner red varietal is merlot. Merlot is one of the primary grapes used in Bordeaux wine and carries velvety tannins with intense plum and blackberry fruit. Shop the best selection of LCBO Merlots online, and have it delivered to your door in under 2 hours.
          </p>
          <a
            href="/wine?varietals=Merlot&" class="
            button">
            Shop Merlots
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Pinot Gigio
          </h4>
          <p>
            The top 5 Pinot Grigio at the LCBO can be found on Runner, and many more! From Barefoot, to Trapiche, to Folonari Pinot Grigio, we have the full wine selection available for delivery in Toronto, Mississauga and Etobicoke, in under two hours.
          </p>
          <a
            href="/wine?varietals=Pinot%20Grigio&" class="
            button">
            Shop Pinot Grigios
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Champagne Delivery Toronto and Mississauga
          </h4>
          <p>
            Runner delivers Champagne in Toronto, Mississauga and Etobicoke in under 2 hours. Pop your bottles in style, have Runner deliver your Moet & Chandon, Veuve Clicquot,  and Ace of Spades. See our Champagne delivery selection by clicking below.
          </p>
          <a
            href="/wine?filters=Champagne&" class="
            button">
            Shop Champagne
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Wine Gift Delivery
          </h4>
          <p>
            A great use for Runner is to deliver wine gifts to your family, friends, colleagues, or clients. Runner's easy gifting checkout process allows you to send a bottle (or bottles) of wine in a nice package in a flash!
          </p>
          <p>
            Simply click the "this is a gift" option at checkout and your wine gift will be sent on the day you requested!
          </p>
          <a
            href="/wine?price=3&" class="
            button">
            Shop Wines
          </a>
        </div>
      </div>
      <div v-if="category.slug === 'spirits'">
        <div class="category">
          <h4 class="subtitle">
            Whiskey & Scotch Delivery
          </h4>
          <p>
            We have all of your favourite Whiskeys like Jack Daniel's, Jim Beam, Woodford Reserve, Crown Royal. We also have some harder to find brands like Three Monkey's, Bowmore, Writer's Tears. Shop all the Whiskey we have for delivery!
          </p>
          <a
            href="/spirits?filters=Whisky/Whiskey&" class="
            button">
            Shop Whiskey
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Vodka Delivery
          </h4>
          <p>
            Vodka is one of Runner's top-selling categories. We have brands at all price points, from regular to premium. Have your Smirnoff, Absolut, Stolichnaya, Crystal Head, Tito's Handmade, or Finlandia delivered to your door!
          </p>
          <a
            href="/spirits?filters=Vodka&" class="
            button">
            Shop Vodka
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Bourbon Delivery
          </h4>
          <p>
            Runner has Bourbon available from many of your favourite brands. In two hours or less you can have Breckenridge, Bulliet, Knob Creek and more delivered to your doorstep.
          </p>
          <a
            href="/query?product=bourbon&" class="
            button">
            Shop Bourbon
          </a>
        </div>
      </div>
      <div v-if="category.slug === 'beer'">
        <div class="category">
          <h4 class="subtitle">
            Stella Artois
          </h4>
          <p>
            Stella Artois can be delivered to your door in under 2 hours! Runner carries the entire Stella range, and delivers to anywhere within our Toronto delivery range.
          </p>
          <a
            href="/query?product=stella%20artois&" class="
            button">
            Shop Stella
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Budweiser
          </h4>
          <p>
            Classic Budweiser beer is a crowd favourite, and especially when it's delivered from the beer store to your door. Order Budweiser now and get it in less than two hours anywhere in Toronto.
          </p>
          <a
            href="/query?product=budweiser&" class="
            button">
            Shop Budweiser
          </a>
        </div>
        <div class="category">
          <h4 class="subtitle">
            Corona
          </h4>
          <p>
            There is nothing like a Corona on a hot day. Enjoy the sun and forget carrying your beer all the way home. Let Runner do the heavy lifting and have Corona delivered directly to your door.
          </p>
          <a
            href="/query?product=corona&" class="
            button">
            Shop Corona
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.title {
  font-size: 22px;
  font-weight: 600;
}
.subtitle {
  font-size: 15px;
  font-weight: 100;
}
#category-info {
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1567706785/runner%20v4/images/RunnerFooterMap.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 0%;
  padding: 0px 0px 85px 0px;
  @media (min-width: 640px) {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: right;
  }
}
.category {
  padding: 20px;
}
p {
  letter-spacing: 0.50px;
  line-height: 1.7;
  &:last-of-type {
    margin-bottom: 15px;
  }
}
h3 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 24px;
}
h4 {
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 0.25px;
}
.button {
  font-size: 14px;
  border: 2px solid #ADADAD;
  border-radius: 4px;
  color: #ADADAD;
}
.button--large {
  cursor: pointer;
  font-size: 14px;
  position: relative;
  bottom: 25px;
  border-radius: 4px;
  width: 165px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  margin: 20px;
  p {
    margin-bottom: 45px;
  }
  @media (min-width: 640px) {
    display: flex;
    flex-flow: column;
    position: relative;
    bottom: -60px;
    line-height: 20px;
  }
}
</style>

<script>
// import important from '../mixins/important';

export default {
  mixins: [
    // important,
  ],
  props: {
    category: {
      type: Object,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      seeMoreIsActivate: false,
    };
  },
  methods: {
    activateSeeMore() {
      this.seeMoreIsActivate = !this.seeMoreIsActivate;
    },
  },
};
</script>
