<template>
  <div
    id="scroll-to-top">
    <transition>
      <div
        class="scroll-to-top">
        <div
          class="icon-wrap"
          @click="goToTop()">
          <img
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561494208/runner%20v4/icons/IconArrowdown.png">
        </div>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.scroll-to-top {
  position: fixed;
  bottom: 90px;
  @media (min-width: 640px) {
    bottom: 25px;
  }
  right: 25px;
  .icon-wrap {
    cursor: pointer;
    background-color: #fff;
    border-radius: 145%;
    border: 1px solid;
    padding: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    img {
      width: 20px;
      transform: rotate(180deg);
    }
  }
}
</style>

<script>
export default {
  data() {
    return {
    };
  },
  mounted() {
  },
  methods: {
    goToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    },
  },
};
</script>
