<template>
  <div>
    <ul
      v-if="paginationData.last_page > 1"
      class="list-reset">
      <li v-if="paginationData.current_page != 1">
        <a @click="changePage('previous')">
          <img
            class="previous"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
            alt="">
        </a>
      </li>
      <li
        v-for="(page, index) in resultPagination"
        :key="index">
        <a
          :class="{'active': paginationData.current_page == page}"
          @click="changePage(page, index)">
          {{ page }}
        </a>
      </li>
      <li v-if="paginationData.current_page != paginationData.last_page">
        <a @click="changePage('next')">
          <img
            class="next"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavArrowRight.png"
            alt="">
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
ul {
  display: flex;
  justify-content: flex-end;
  li {
    margin-right: 5px;
  }
}
a:hover {
  background-color: #cecece;
  border-radius : 4px;
}
a {
  color: #444444;
  padding: 4px 12px;
  cursor: pointer;
}
.active {
  background-color: #efefef;
  color: #000000;
  border-radius: 4px;
}
.next, .previous {
  width: 10px;
}
.previous {
  transform: rotate(-180deg);
}
</style>

<script>
export default {
  props: {
    paginationData: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      resultPagination: [],
    };
  },
  mounted() {
    this.pagination(this.paginationData.current_page, this.paginationData.last_page);
  },
  methods: {
    pagination(c, m) {
      const current = c;
      const last = m;
      const delta = 2;
      const left = current - delta;
      const right = current + delta + 1;
      const range = [];
      const rangeWithDots = [];
      let l;

      for (let i = 1; i <= last; i++) {
        if (i == 1 || i == last || i >= left && i < right) {
          range.push(i);
        }
      }

      for (const i of range) {
        if (l) {
          if (i - l === 2) {
            rangeWithDots.push(l + 1);
          } else if (i - l !== 1) {
            rangeWithDots.push('...');
          }
        }
        rangeWithDots.push(i);
        l = i;
      }
      this.resultPagination = rangeWithDots;
    },
    changePage(page, index) {
      let url = window.location.href.split('?page=')[0];
      if (url.includes('?filter') || url.includes('?sort') || url.includes('?postalCode')) {
        url = window.location.href.split('&page=')[0];
        const currentPage = Number(new URLSearchParams(window.location.search).get('page'));
        if (page == '...') {
          let newPage;
          const pos1 = this.resultPagination.indexOf('...'); // 1
          const pos2 = this.resultPagination.indexOf('...', pos1 + 1); // 2nd last
          if (index === pos1) {
            newPage = this.resultPagination[pos1 + 1] - 1;
          } else if (index === pos2) {
            newPage = this.resultPagination[pos2 - 1] + 1;
          }
          location.href = `${url}&page=${newPage}`;
        } else if (page == 'next') {
          if (!currentPage) {
            const newPage = 2;
            location.href = `${url}&page=${newPage}`;
          } else {
            const newPage = currentPage + 1;
            location.href = `${url}&page=${newPage}`;
          }
        } else if (page == 'previous') {
          if (currentPage == 2) {
            location.href = `${url}`;
          } else {
            const newPage = currentPage - 1;
            location.href = `${url}&page=${newPage}`;
          }
        } else {
          location.href = `${url}&page=${page}`;
        }
      } else if (!url.includes('/filters')) {
        const currentPage = Number(new URLSearchParams(window.location.search).get('page'));
        if (page == '...') {
          let newPage;
          const pos1 = this.resultPagination.indexOf('...'); // 1
          const pos2 = this.resultPagination.indexOf('...', pos1 + 1); // 2nd last
          if (index === pos1) {
            newPage = this.resultPagination[pos1 + 1] - 1;
          } else if (index === pos2) {
            newPage = this.resultPagination[pos2 - 1] + 1;
          }
          location.href = `${url}?page=${newPage}`;
        } else if (page == 'next') {
          if (!currentPage) {
            const newPage = 2;
            location.href = `${url}?page=${newPage}`;
          } else {
            const newPage = currentPage + 1;
            location.href = `${url}?page=${newPage}`;
          }
        } else if (page == 'previous') {
          if (currentPage == 2) {
            location.href = `${url}`;
          } else {
            const newPage = currentPage - 1;
            location.href = `${url}?page=${newPage}`;
          }
        } else {
          location.href = `${url}?page=${page}`;
        }
      }
    },
  },
};
</script>
