<template>
  <div v-if="customer">
    <div
      v-if="customer.sources.total_count > 0"
      class="credit-cards">
      <div
        v-for="(card, index) in customer.sources.data"
        v-if="customer.sources.total_count > 0"
        :key="index"
        class="credit-card">
        <div
          v-if="card.brand === 'Visa'"
          class="image">
          <img
            src="/assets/v2/icons/CC-Visa@3x.png"
            alt="">
        </div>
        <div
          v-else-if="card.brand === 'MasterCard'"
          class="image">
          <img
            src="/assets/v2/icons/CC-MasterCard@3x.png"
            alt="">
        </div>
        <div
          v-else-if="card.brand === 'American Express'"
          class="image">
          <img
            src="/assets/v2/icons/CC-Amex@3x.png"
            alt="">
        </div>
        <div
          v-else
          class="image">
          <img
            src="/assets/v2/icons/CC-Generic@3x.png"
            alt="">
        </div>
        <div class="info">
          <div class="number">
            <span>
              {{ card.last4 }}
            </span>
          </div>
          <div class="expiry">
            {{ card.exp_month }}/{{ card.exp_year }}
          </div>
          <div class="is-selected">
            <input
              :name="card.id"
              :id="card.id"
              :checked="card.id === selected"
              class="checkbox"
              type="radio"
              @change="changeCard(card.id)" >
          </div>
          <button class="button delete" @click="removeCard(card.id)">
             &#10006;
          </button>
        </div>
      </div>
      <div
        v-show="!showAddPayment"
        class="credit-card-commands">
        <button
          class="button button--primary button--large"
          @click.prevent="showAddPayment = true">
          <span v-if="!isLoading">
            Add a Card
          </span>
          <pulse-loader
            v-else
            color="#ffffff"
            size="10px"/>
        </button>
      </div>
    </div>
    <div
      v-else
      v-show="showAddPayment == false"
      class="add-payment">
      <p class="margin-b-small">
        You have no cards on our system 😳
      </p>
      <button
        class="button button--primary button--large"
        @click.prevent="showAddPayment = true">
        Add a Card
      </button>
    </div>
    <div
      v-show="showAddPayment"
      class="new-card margin-b-none">
      <div
        class="title-wrap margin-b-small"
        style="grid-template-columns: 100%;">
        <h2>
          New Card
        </h2>
        <p style="color: red; font-size: 12px; margin-bottom: 0;">
          *please ensure that the postal/zip code matches the one your current bank associates with the given card.
        </p>
      </div>
      <card
        :class="{ complete }"
        :stripe="stripeKey"
        :options="stripeOptions"
        class="stripe-card"
        @change="complete = $event.complete"
      />
      <button
        :disabled="!complete"
        class="button button--primary button--large"
        @click="createStripeToken">
        <span v-if="!isLoading">
          Save Card
        </span>
        <pulse-loader
          v-else
          color="#ffffff"
          size="10px"/>
      </button>
      <button
        class="button button--secondary button--large"
        @click="showAddPayment = false">
        Cancel
      </button>
      <div
        v-if="cardErr"
        class="notification notification--warning">
        😳
        <span v-if="cardErr.hasOwnProperty('error')">
          {{ cardErr.error }}
        </span>
        😳
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.credit-card-commands {
	padding: 15px;
}
.credit-cards .credit-card .info {
  grid-template-columns: auto auto 30px 30px;
  .delete {
    width: 30px;
    height: 30px;
    background-color: #F83E40;
    color: #ffffff;
    padding: 0;
  }
}
.add-payment {
	padding: 15px;
}
.StripeElement {
	margin-bottom: 15px;
}
</style>

<script>
import {
  Card, createToken,
} from 'vue-stripe-elements-plus';

export default {
  components: {
    Card,
  },
  props: [
    'user',
    'stripeKey',
  ],
  data() {
    return {
      customer: null,
      selected: null,
      showAddPayment: false,
      complete: false,
      stripeOptions: {},
      cardErr: null,
      isLoading: false,
    };
  },
  computed: {
    paymentIsOpen() {
      return this.$store.state.paymentIsOpen;
    },
  },
  mounted() {
    this.getStripeCustomer();
  },
  methods: {
    createStripeToken() {
      const vm = this;

      this.isLoading = true;

      createToken()
        .then((data) => {
          vm.addPaymentCard(data.token.id);
        }).catch((error) => {
          vm.cardErr = error.response.data.errors;
        });
    },
    addPaymentCard(token) {
      axios({
        method: 'post',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
        data: {
          token,
        },
      })
        .then((res) => {
          this.customer = res.data.data;
          this.selected = res.data.data.default_source;
          this.isLoading = false;
          this.showAddPayment = false;
        }).catch((error) => {
          this.cardErr = error.response.data.errors;
          this.isLoading = false;
        });
    },
    getStripeCustomer() {
      const vm = this;

      axios({
        method: 'get',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
      })
        .then((response) => {
          vm.customer = response.data.data;
          vm.selected = response.data.data.default_source;
          vm.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    changeCard(cardId) {
      this.isLoading = true;

      axios({
        method: 'put',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
        data: {
          id: cardId,
        },
      })
        .then((response) => {
          this.isLoading = false;
          this.selected = cardId;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    removeCard(cardId) {
      this.isLoading = true;

      axios({
        method: 'delete',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
        data: {
          id: cardId,
        },
      })
        .then((response) => {
          this.customer = response.data.data;
          this.selected = response.data.data.default_source;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
          this.cardErr = error.response.data.errors;
        });
    },
  },
};
</script>
