<template>
  <div>
    <notifications
      group="errors"
      position="bottom left" />
    <div
      v-if="customer.attributes.sources.total_count !== 0"
      class="grid grid-gap-15">
      <div
        v-for="(card, index) in customer.attributes.sources.data"
        :key="index"
        :class="{active: card.id === customer.attributes.default_source}"
        class="group relative cursor-pointer border border-grey grid grid-columns-2 grid-gap-15 pr-50 rounded max-w-full justify-start items-center border-grey-lightest p-15"
        @click="setCard(card.id)">
        <div class="card-image">
          <img
            v-if="card.brand === 'Visa'"
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/visa.png"
            alt="">
          <img
            v-else-if="card.brand === 'MasterCard'"
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138560/runner/stores/mastercard.png"
            alt="">
          <img
            v-else-if="card.brand === 'American Express'"
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/amex.png"
            alt="">
          <img
            v-else
            class="w-30"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1542138559/runner/stores/genericCard.png"
            alt="">
        </div>
        <div class="info">
          <div class="number text-right">
            **** **** **** {{ card.last4 }}
          </div>
        </div>
        <span
          class="lg:hidden group-hover:block absolute pointer w-30 h-30 bg-red rounded text-white font-bold text-xl text-center cursor-pointer"
          style="top: 10px; right: 10px;"
          @click.stop="deleteCard(card.id)">
          &times;
        </span>
      </div>
      <div class="grid">
        <button
          v-show="!addPaymentIsShown"
          class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
          @click="toggleAddPaymentIsShown(true)">
          <span v-if="!isLoading">
            Add Card
          </span>
          <pulse-loader
            :loading="isLoading"
            color="#000000"
            size="10px"/>
        </button>
        <button
          v-show="addPaymentIsShown"
          class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
          @click="toggleAddPaymentIsShown(false)">
          Close
        </button>
      </div>
    </div>
    <div v-else>
      <div class="grid">
        <button
          v-show="!addPaymentIsShown"
          class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
          @click="toggleAddPaymentIsShown(true)">
          <span v-if="!isLoading">
            Add Card
          </span>
          <pulse-loader
            :loading="isLoading"
            color="#000000"
            size="10px"/>
        </button>
        <button
          v-show="addPaymentIsShown"
          class="border h-50 cursor-pointer rounded mb-15 items-center border-black"
          @click="toggleAddPaymentIsShown(false)">
          Close
        </button>
      </div>
    </div>
    <div
      v-if="addPaymentIsShown"
      class="add-payment">
      <h2>
        Add A Payment Method
      </h2>
      <p>
        Please add a credit card or a Visa/Mastercard debit card to your account. We do not accept cash payments or payment upon delivery.
      </p>
      <card
        :class="{ complete }"
        :stripe="stripeKey"
        class="stripe-card mb-15"
        @change="complete = $event.complete"/>
      <button
        v-show="complete"
        :disabled="!complete"
        class="grid h-50 items-center rounded bg-green cursor-pointer mb-15 text-white w-full"
        @click="getToken">
        <span v-if="!isLoading">
          Save Card
        </span>
        <pulse-loader
          :loading="isLoading"
          color="#ffffff"
          size="10px"/>
      </button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.active {
  background-color: #ffffff;
  border: 2px solid #50E3C2;
}
</style>

<script>
import { Card, createToken } from 'vue-stripe-elements-plus';
import api from '../mixins/api';

export default {
  components: {
    Card,
  },
  mixins: [
    'api',
  ],
  props: [
    'user',
  ],
  data() {
    return {
      isLoading: false,
      complete: false,
      addPaymentIsShown: false,
    };
  },
  computed: {
    stripeKey() {
      if (window.domain === 'getrunner.io') {
        return 'pk_live_h65mTFQnbtKT7tsWkrg4I9rG';
      }
      return 'pk_test_lFJwkqmRIXGq8OCbpmQOkwkW';
    },
    customer() {
      return this.$store.getters.customer;
    },
  },
  created() {
    this.getCustomer();
  },
  mounted() {
  },
  methods: {
    getToken() {
      this.isLoading = true;

      createToken()
        .then((data) => {
          this.addCard(data.token.id);
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async addCard(token) {
      const payload = {
        data: {
          type: 'stripe tokens',
          id: token,
        },
      };

      await api().post(`users/${this.user.id}/stripe/customer/sources`, payload)
        .then((response) => {
          this.addPaymentIsShown = false;
          this.getCustomer()
            .then((response) => {
              this.isLoading = false;
              this.addPaymentIsShown = false;
            })
            .catch((error) => {
              this.$notify({
                group: 'errors',
                type: 'error',
                title: 'Error',
                text: (typeof error.response !== 'undefined' && typeof error !== 'undefined') ? error.response.data.errors.error : 'An error has occured.',
                duration: -1,
              });
            });
        }).catch((error) => {
          this.isLoading = false;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: (typeof error.response !== 'undefined' && typeof error !== 'undefined') ? error.response.data.errors.error : 'An error has occured.',
            duration: -1,
          });
        });
    },
    async setCard(value) {
      this.isLoading = true;
      this.activeCard = value;
      const payload = {
        data: {
          type: 'stripe sources',
          id: value,
        },
      };

      await api().put(`users/${this.user.id}/stripe/customer/sources/${value}`, payload)
        .then((response) => {
          this.getCustomer();
          this.isLoading = false;
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    async deleteCard(value) {
      this.isLoading = true;
      const payload = {
        data: {
          type: 'stripe sources',
          id: value,
        },
      };

      await api().delete(`users/${this.user.id}/stripe/customer/sources/${value}`, payload)
        .then((response) => {
          this.getCustomer();
          this.isLoading = false;
        }).catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    getCustomer() {
      this.$store.dispatch('getCustomer');
    },
    toggleAddPaymentIsShown(value) {
      this.addPaymentIsShown = value;
    },
  },
};
</script>
