<template>
  <div
    id="payment-information"
    style="padding: 30px;">
    <div class="page-large">
      <div class="wrapper">
        <payment-info
          :stripe-key="stripeKey"
          :user="user"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
	.title-wrap {
		margin-top: 30px;
	}

	.credit-cards {

		.credit-card {

			.info {
				grid-template-columns: 30px auto auto 30px;
			}
		}
	}
</style>

<script>
import {
  Card, createToken,
} from 'vue-stripe-elements-plus';
import user from '../mixins/user.js';

export default {
  components: {
    Card,
  },
  mixins: [
    user,
  ],
  props: [
    'domain',
  ],
  data() {
    return {
      customer: {
        sources: '',
      },
      selected: null,
      showAddPayment: false,
      complete: false,
      stripeOptions: {

      },
      cardErr: null,
      isLoading: false,
      stripeKey: null,
    };
  },
  watch: {
    selected(newVal) {
      this.changeCard(newVal);
    },
  },
  created() {
    if (!this.$cookie.get('token')) {
      location.href = '/login';
    }
    this.getStripeKey();
  },
  mounted() {
    this.getCustomer();
  },
  methods: {
    createStripeToken() {
      const vm = this;

      vm.isLoading = true;

      createToken()
        .then((data) => {
          vm.addPaymentCard(data.token.id);
        }).catch((error) => {
          vm.cardErr = error.response.data.errors;
          vm.isLoading = false;
          console.log(vm.cardErr);
        });
    },
    addPaymentCard(token) {
      const vm = this;

      axios({
        method: 'post',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
        data: {
          token,
        },
      })
        .then((res) => {
          vm.getCustomer();
        }).catch((err) => {
          vm.cardErr = err.response.data.errors;
          vm.isLoading = false;
          console.log(vm.cardErr);
        });
    },
    getCustomer() {
      const vm = this;

      axios({
        method: 'get',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
      })
        .then((response) => {
          vm.customer = response.data.data;
          vm.selected = response.data.data.default_source;
          this.$store.commit('v2/toggleIsLoadingPage', false);
          vm.isLoading = false;
          vm.showAddPayment = false;
        }).catch((err) => {
          console.log(err);
        });
    },
    changeCard(card_id) {
      const vm = this;

      axios({
        method: 'put',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
        data: {
          id: card_id,
        },
      })
        .then((response) => {

        })
        .catch((error) => {
          console.log(error);
        });
    },
    removeCard(card_id) {
      const vm = this;

      vm.isLoading = true;

      axios({
        method: 'delete',
        url: '/api/v2/user/payments',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
        data: {
          id: card_id,
        },
      })
        .then((response) => {
          vm.getCustomer();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancelAddPayment() {
      this.isLoading = false;
      this.showAddPayment = false;
    },
    getStripeKey() {
      const vm = this;

      axios.get('/api/v2/env')
        .then((response) => {
          if (response.data.data.environment === 'production') {
            vm.stripeKey = 'pk_live_h65mTFQnbtKT7tsWkrg4I9rG';
          } else {
            vm.stripeKey = 'pk_test_lFJwkqmRIXGq8OCbpmQOkwkW';
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
