<template>
  <a
    style="cursor: pointer;"
    @click="goToProduct(formattedSubDomain, domain, product.attributes.slug, index); productAdClicked(product)">
    <img
      v-lazy="product.attributes.images[0].image"
      :src="product.attributes.images[0].image"
      class="product-image"
      alt>
    <div
      v-if="product.attributes.quantity < 1 || product.attributes.quantity == null"
      class="out-of-stock">
      <span style="position: absolute; width: 100%;">
        Out Of Stock
      </span>
    </div>
    <div v-if="product.attributes.incentives.length > 0">
      <div
        class="deal flex ai-center mb-5">
        <span class="badge mr-10 fs-12">
          DEAL
        </span>
        <span class="fs-12 fw-600">
          Buy {{ product.attributes.incentives.slice(-1)[0].attributes.minimumQuantity }}, Get
          ${{ (product.attributes.incentives.slice(-1)[0].attributes.savings / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} Off!!
        </span>
      </div>
    </div>
    <div
      v-else
      class="mb-5"
      style="min-height: 17px;"/>
    <span
      class="product-title fw-600 block mb-5 fs-12 c-444444"
      style="min-height: 26px;">
      {{ product.attributes.title }}
    </span>
    <span class="product-packaging c-acacac fs-12 block">
      {{ product.attributes.packaging }}
    </span>
    <div class="product-rating flex ai-center">
      <span
        v-if="product.attributes.averageRating != null"
        class="fw-600 fs-12 mr-5 c-444444"
      >
        {{ Number(product.attributes.averageRating / 100).toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 }) }}
      </span>
      <span
        v-else
        class="fw-600 fs-12 mr-5 c-444444"
      >
        --
      </span>
      <img
        class="star mr-5"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561044141/runner%20v4/icons/ProductCardIconStar.png"
        alt
      >
      <span class="c-acacac block fs-12">
        ( {{ product.attributes.reviewsCount }} )
      </span>
    </div>
    <div class="flex ai-center">
      <img
        class="delivery mr-5"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561054310/runner%20v4/icons/IconClock.png"
        alt
      >
      <span
        v-if="storeId == 10"
        class="fw-600 fs-12 c-444444">
        AM/PM
      </span>
      <span
        v-else
        class="fw-600 fs-12 c-444444">
        {{ product.attributes.deliveryWindow }}
      </span>
      <div
        v-if="!product.attributes.limitedTimeOfferPrice"
        class="ml-auto">
        <span class="fw-600 ml-auto c-444444">
          ${{ (product.attributes.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
        </span>
      </div>
      <div
        v-else
        class="ml-auto">
        <div class="flex ai-center relative">
          <span class="fw-600 c-444444">
            ${{ (product.attributes.limitedTimeOfferPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
          </span>
          <span class="linethrough old-price">
            ${{ ((product.attributes.limitedTimeOfferPrice + product.attributes.limitedTimeOfferSavings) / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
          </span>
        </div>
      </div>
    </div>
  </a>
</template>

<style lang="scss" scoped>
.product-packaging {
  margin-bottom: 5px;
}
.product-rating {
  margin-bottom: 5px;
}
.product-image {
  border-radius: 8px;
  height: 180px;
  @media (min-width: 640px) {
    height: 240px;
  }
}
.out-of-stock {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.product-title {
  height: 38px;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 16px;
  @media (min-width: 640px) {
    font-size: 16px;
    height: 39px;
  }
}
.star {
  width: 20px;
  height: 20px;
}
.delivery {
  width: 20px;
}
.deal {
  .badge {
    background-color: #008449;
    border-radius: 3px;
    padding: 2px 8px;
    color: #ffffff;
  }
  color: #008449;
}
.old-price {
  color: #f83e40;
  position: absolute;
  top: -15px;
  right: 0;
}
</style>

<script>
import { mapGetters } from 'vuex';
import { productClicked, adClicked, adViewed } from '../mixins/analytics';

export default {
  props: {
    index: {
      type: Number,
      default: null,
      required: true,
    },
    product: {
      type: Object,
      default: null,
      required: true,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: 'www',
      required: true,
    },
    manualSubDomain: {
      type: String,
      default: null,
      required: false,
    },
    storeId: {
      type: String,
      default: null,
      required: false,
    },
    stores: {
      type: Array,
      default: null,
      required: false,
    },
    isSearch: {
      type: Boolean,
      default: false,
      required: null,
    },
    userId: {
      type: String,
      default: null,
      required: false,
    },
  },
  computed: {
    formattedSubDomain() {
      if (this.manualSubDomain) {
        return this.manualSubDomain;
      }
      return this.subDomain;
    },
    ...mapGetters([
      'selectedAddress',
    ]),
  },
  mounted() {
    if (typeof this.product.attributes.ads !== 'undefined' && this.product.attributes.ads.length > 0) {
      const s = this.stores ? this.stores.find(store => store.id == this.storeId) : null;

      if (this.user) {
        const data = {
          ads: this.product.attributes.ads,
          product: this.product,
          userId: this.userId,
          storeId: this.storeId,
          inventoryId: s ? String(s.attributes.inventoryId) : null,
        };

        this.adViewed(data);
      } else {
        const data = {
          ads: this.product.attributes.ads,
          product: this.product,
          userId: this.userId,
          storeId: this.storeId,
          inventoryId: s ? String(s.attributes.inventoryId) : null,
        };

        this.adViewed(data);
      }
    }
  },
  methods: {
    productClicked,
    adClicked,
    adViewed,
    productAdClicked(product) {
      if (typeof product.attributes.ads !== 'undefined' && product.attributes.ads.length > 0) {
        const store = this.stores ? this.stores.find(store => store.id == this.storeId) : null;
        if (this.user) {
          const data = {
            ads: product.attributes.ads,
            product: this.product,
            userId: this.userId,
            storeId: this.storeId,
            inventoryId: store ? String(store.attributes.inventoryId) : '',
          };
          this.adClicked(data);
        } else {
          const data = {
            ads: product.attributes.ads,
            product: this.product,
            userId: this.userId,
            storeId: this.storeId,
            inventoryId: store ? String(store.attributes.inventoryId) : '',
          };
          this.adClicked(data);
        }
      }
    },
    goToProduct(formattedSubDomain, domain, slug, index) {
      const data = {
        product: this.product,
        index,
        subDomain: formattedSubDomain,
        domain,
        storeId: this.storeId,
      };
      if (this.isSearch) {
        const store = this.stores ? this.stores.find(store => store.id == this.storeId) : null;
        console.log(store);
        this.$store.commit('SET_INVENTORY_ID', store ? store.attributes.inventoryId : null);
        data.inventoryId = store ? String(store.attributes.inventoryId) : '';
        this.productClicked(data);
        location.href = `https://${formattedSubDomain}.${domain}/product/${slug}?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
      } else if (this.storeId) {
        const store = this.stores ? this.stores.find(store => store.id == this.storeId) : null;
        this.$store.commit('SET_INVENTORY_ID', store ? store.attributes.inventoryId : null);
        data.inventoryId = store ? String(store.attributes.inventoryId) : '';
        this.productClicked(data);
        location.href = `https://${formattedSubDomain}.${domain}/product/${slug}?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
      } else {
        this.productClicked(data);
        location.href = `https://${formattedSubDomain}.${domain}/product/${slug}?postalCode=${this.selectedAddress ? this.selectedAddress.attributes.postalCode : 'M6J1G5'}`;
      }
    },
  },
};
</script>
