<template>
  <div
    class="block">
    <div class="grid grid-2 ai-center">
      <h2 class="may-also-like fw-400 mb-20">
        You may also like
      </h2>
      <!-- <a
        href
        class="text-right underline c-acacac">Show all</a> -->
    </div>
    <moon-loader-wrapper
      :is-loading="isLoading"
      :full-screen="false"/>
    <carousel
      v-if="relatedProducts.length > 0 && !isLoading"
      :per-page="4"
      :per-page-custom="[[0, 2], [640, 3]]"
      :pagination-size="5"
      class="grid related-products"
      style="grid-gap: 30px;"
      navigation-prev-label
      navigation-next-label
      navigation-enabled
    >
      <slide
        v-for="product in relatedProducts"
        :key="product.id"
        class="product-slides">
        <product-card
          :product="product"
          :sub-domain="subDomain"
          :domain="domain" />
      </slide>
    </carousel>
  </div>
</template>

<style lang="scss" scoped>
.may-also-like {
  min-width: 200%;
  @media (min-width: 640px) {
    min-width: 100%;
  }
}
.product-slides {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  @media (min-width: 640px) {
    padding-left: 40px;
  }
}
</style>

<script>
import { Carousel, Slide } from 'vue-carousel';
import StarRating from 'vue-star-rating';
import { relatedProductsViewed } from '../mixins/analytics';

export default {
  components: {
    Carousel,
    Slide,
    StarRating,
  },
  props: {
    categoryId: {
      type: Number,
      default: null,
      required: true,
    },
    inventoryId: {
      default: null,
      required: true,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
    productId: {
      type: String,
      default: null,
      required: true,
    },
    storeId: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      relatedProducts: [],
    };
  },
  mounted() {
    this.getRelatedProducts();
  },
  methods: {
    relatedProductsViewed,
    async getRelatedProducts() {
      this.isLoading = true;

      await axios
        .get(`https://api.${this.domain}/runner/v4/inventories/${this.inventoryId}/categories/${this.categoryId}/products/${this.productId}/related-products?include=reviews&limit=5`)
        .then((response) => {
          this.relatedProducts = response.data.data;
          const segmentData = {
            productId: this.productId,
            products: response.data.data,
            subDomain: this.subDomain,
            domain: this.domain,
            storeId: this.storeId,
            inventoryId: this.inventoryId,
          };
          this.relatedProductsViewed(segmentData);
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
