<template>
  <div id="reviews">
    <review-modal
      v-if="activeModal == 'newReview'"
      :user="user"
      :domain="domain"
      :product-id="productId" />
    <moon-loader-wrapper
      :is-loading="isLoading"
      :full-screen="false"/>
    <div v-if="reviews && reviews.length > 0 && !isLoading">
      <div class="grid ai-center p-15">
        <h2 class="font-bold mb-0 sm:mb-50 text-center">
          Ratings and reviews
        </h2>
      </div>
      <div class="sm:flex sm:flex-row">
        <div class="min-w-250">
          <div class="grid review-summary mb-30 p-15">
            <div class="grid jc-center text-center ji-center">
              <span
                class="fs-30 font-semibold"
              >{{ productRating.toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 }) }}</span>
              <span class="star-rating">
                <star-rating
                  :rating="productRating"
                  :increment="0.1"
                  :show-rating="false"
                  :star-size="15"
                  :border-width="1"
                  inactive-color="white"
                  active-color="#ffdd7a"
                  border-color="#ffdd7a"
                  read-only
                />
              </span>
              <span class="c-acacac fs-14 mb-15 mb-0-md">
                Based on {{ reviews.length }} reviews
              </span>
            </div>
            <div class="reviews-numbers">
              <ul class="list-reset">
                <li class="grid review-line ai-center mb-5">
                  <span class="mr-10">5</span>
                  <div class="outer w-full mr-10">
                    <div
                      :style="{width: (((reviews.filter(review => review.attributes.value == 5)).length / reviews.length) * 100) + '%'}"
                      class="inner"
                    />
                  </div>
                  <span
                    class="c-acacac"
                  >{{ (((reviews.filter(review => review.attributes.value == 5)).length / reviews.length) * 100).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 1 }) }}%</span>
                </li>
                <li class="grid review-line ai-center mb-5">
                  <span class="mr-10">4</span>
                  <div class="outer w-full mr-10">
                    <div
                      :style="{width: (((reviews.filter(review => review.attributes.value == 4)).length / reviews.length) * 100) + '%'}"
                      class="inner"
                    />
                  </div>
                  <span
                    class="c-acacac"
                  >{{ (((reviews.filter(review => review.attributes.value == 4)).length / reviews.length) * 100).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 1 }) }}%</span>
                </li>
                <li class="grid review-line ai-center mb-5">
                  <span class="mr-10">3</span>
                  <div class="outer w-full mr-10">
                    <div
                      :style="{width: (((reviews.filter(review => review.attributes.value == 3)).length / reviews.length) * 100) + '%'}"
                      class="inner"
                    />
                  </div>
                  <span
                    class="c-acacac"
                  >{{ (((reviews.filter(review => review.attributes.value == 3)).length / reviews.length) * 100).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 1 }) }}%</span>
                </li>
                <li class="grid review-line ai-center mb-5">
                  <span class="mr-10">2</span>
                  <div class="outer w-full mr-10">
                    <div
                      :style="{width: (((reviews.filter(review => review.attributes.value == 2)).length / reviews.length) * 100) + '%'}"
                      class="inner"
                    />
                  </div>
                  <span
                    class="c-acacac"
                  >{{ (((reviews.filter(review => review.attributes.value == 2)).length / reviews.length) * 100).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 1 }) }}%</span>
                </li>
                <li class="grid review-line ai-center mb-5">
                  <span class="mr-10">1</span>
                  <div class="outer w-full mr-10">
                    <div
                      :style="{width: (((reviews.filter(review => review.attributes.value == 1)).length / reviews.length) * 100) + '%'}"
                      class="inner"
                    />
                  </div>
                  <span
                    class="c-acacac"
                  >{{ (((reviews.filter(review => review.attributes.value == 1)).length / reviews.length) * 100).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 1 }) }}%</span>
                </li>
              </ul>
            </div>
            <div class="grid ai-center">
              <button-component
                :text="'WRITE A REVIEW'"
                :color="'#444444'"
                :font-size="'15px'"
                :height="'45px'"
                :width="'250px'"
                :wrap-width="'100%'"
                :fill="false"
                :centered="true"
                :letter-spacing="'0px'"
                :font-weight="'400'"
                class="mobile-only"
                @click.native="setActiveModal('newReview')"/>
            </div>
          </div>
        </div>
        <div class="sm:ml-30 sm:w-full">
          <div class="sm:flex sm:flex-row sm:justify-between mb-30">
            <div class="border-bottom-fix sm:flex sm:flex-col sm:items-center place-start">
              <div class="px-10 py-5 bg-lightteal w-200 flex justify-center items-center rounded-sm mb-10">
                <h4 class="mb-0">
                  Share your feedback
                </h4>
              </div>
              <p class="w-200 mb-20 sm:mb-0 sm:w-full">
                Review this product to earn reward points!
              </p>
            </div>
            <button-component
              :text="'WRITE A REVIEW'"
              :color="'#444444'"
              :font-size="'15px'"
              :height="'45px'"
              :width="'150px'"
              :wrap-width="'unset'"
              :fill="false"
              :centered="true"
              :letter-spacing="'0px'"
              :font-weight="'100'"
              class="desktop-only flex items-center"
              @click.native="setActiveModal('newReview')"/>
          </div>
          <div class="grid p-15 sm:p-0 sm:py-15 border-top-desktop">
            <ul class="list-reset">
              <li
                v-for="(review, index) in orderedReviews"
                :key="review.id"
                class="mb-30 review">
                <div class="flex ac-center mb-20">
                  <span
                    class="fw-600 mr-10"
                  >{{ review.attributes.firstName }} {{ review.attributes.lastName[0] }}.</span>
                  <span class="vip c-ffffff uppercase fs-12 fw-600 mr-10">VIP</span>
                  <span class="mr-10">
                    <star-rating
                      :rating="review.attributes.value"
                      :increment="1"
                      :show-rating="false"
                      :star-size="10"
                      :border-width="1"
                      inactive-color="white"
                      active-color="#ffdd7a"
                      border-color="#ffdd7a"
                      read-only
                    />
                  </span>
                  <span
                    class="c-acacac date"
                  >{{ review.attributes.createdAt | moment('MMM Do, YYYY') }}</span>
                </div>
                <div>
                  <div class="review-text">
                    <span
                      v-if="review.attributes.title"
                      class="fw-600">{{ review.attributes.title }} -</span>
                    {{ review.attributes.description }}
                  </div>
                </div>
                <div class="text-right">
                  <span class="c-acacac mb-10">
                    Was this review helpful?
                  </span>
                  <div class="helpful flex">
                    <div
                      class="mr-10 cursor"
                      @click="upvoteReview(review)">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561140931/runner%20v4/icons/ProductIconThumpup.png"
                        alt
                      >
                      <span class="c-acacac">
                        {{ review.attributes.helpful }}
                      </span>
                    </div>
                    <div
                      class="cursor"
                      @click="downvoteReview(review)">
                      <img
                        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561140981/runner%20v4/icons/ProductIconThumpdown.png"
                        alt
                      >
                      <span class="c-acacac">
                        {{ review.attributes.unHelpful }}
                      </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      class="no-reviews mb-30 p-15">
      <h2 class="fw-400 mb-20">
        Ratings and reviews
      </h2>
      <div class="grid ji-center">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562078844/runner%20v4/icons/EmptystateIconClosed.png"
          alt="">
        <h2 style="font-weight: 100;">
          There are no reviews yet!
        </h2>
        <p class="c-acacac">
          Be the first to review this product and recieve 500 Reward Points!
        </p>
        <button-component
          :text="'WRITE A REVIEW'"
          :color="'#444444'"
          :font-size="'15px'"
          :height="'45px'"
          :width="'150px'"
          :wrap-width="'100%'"
          :fill="false"
          :centered="true"
          :letter-spacing="'0px'"
          :font-weight="'100'"
          class="desktop-only"
          @click.native="setActiveModal('newReview')"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.border-top-desktop {
  @media (min-width: 640px) {
    border-top: 1px solid #E8E8E8;
  }
}
.place-start {
  @media (min-width: 640px) {
    place-items: flex-start;
  }
}
.min-w-250 {
  min-width: 250px;
}
.mobile-only {
  @media (min-width: 640px) {
    display: none;
  }
}
.desktop-only {
  display: none;
  @media (min-width: 640px) {
    display: flex;
  }
}
.border-bottom-fix {
  border-bottom: 1px solid #E8E8E8;
  margin: 0px -15px;
  padding: 0px 15px;
  @media (min-width: 640px) {
  border-bottom: unset;
  margin: unset;
  padding: unset;
  }
}
.bg-lightteal {
  background-color: #DEF9ED;
}
.star-rating {
  margin: 10px 0px;
  @media (min-width: 640px) {
    margin: 0px 0px;
  }
}
.review-summary {
  max-width: 700px;
  margin: 0 auto 30px;
  @media (min-width: 640px) {
    display: flex;
    flex-flow: column;
  }
}
.review-line {
  grid-template-columns: 10px 1fr 30px;
  grid-gap: 5px;
}
.outer {
  height: 10px;
  background-color: #efefef;
  border-radius: 6px;
}
.inner {
  height: 10px;
  background-color: #444444;
  border-radius: 6px;
}
.helpful {
  margin-top: 5px;
  @media (min-width: 640px) {
    margin-top: 0px;
  }
  justify-content: flex-end;
  align-items: center;
}
.review-text {
  line-height: 20px;
  @media (min-width: 640px) {
    width: 75%;
  }
  margin-bottom: 10px;

}
.date {
  margin-left: auto;
}
.vip {
  height: 100%;
  background-color: #7bb9b8;
  border-radius: 3px;
  padding: 2px 8px;
}
.helpful img {
  // width: 15px;
  width: 20px;
  margin-top: -5px;
  @media (min-width: 640px) {
    width: 15px;
    margin-top: 0px;
  }
}
.write-review {
  color: #58DFA9;
  border: 1px solid #58DFA9;
  border-radius: 4px;
  padding: 8px;
  height: 48px;
  width: 165px;
  place-self: center;
}
.no-reviews {
  img {
    max-width: 100px;
  }
}
.review {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0px;
  }
}
.reviews-numbers {
  margin-bottom: 15px;
  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}
</style>

<script>
import StarRating from 'vue-star-rating';
import api from '../mixins/api';

export default {
  components: {
    StarRating,
  },
  mixins: [
    'api',
  ],
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
    productId: {
      type: String,
      default: null,
      required: true,
    },
    activeModal: {
      type: String,
      default: 'none',
      required: false,
    },
    user: {
      type: Object,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      reviews: [],
      isLoading: false,
      newReviewModalIsShown: false,
    };
  },
  computed: {
    productRating() {
      let ratingSum = 0;

      for (let i = 0; i < this.reviews.length; i++) {
        ratingSum += this.reviews[i].attributes.value;
      }

      return ratingSum / this.reviews.length;
    },
    orderedReviews() {
      return _.orderBy(this.reviews, 'attributes.createdAt', 'desc');
    },
  },
  mounted() {
    this.getReviews();
  },
  methods: {
    async upvoteReview(review) {
      const data = {
        type: 'product reviews',
        id: review.id,
        attributes: {
          helpful: 1,
        },
      };

      try {
        const response = await api().put(`https://api.${this.domain}/runner/v4/products/${this.productId}/reviews/${review.id}`, {
          data,
        });

        this.getReviews();
      } catch (error) {
        console.log(error);
      }
    },
    async downvoteReview(review) {
      const data = {
        type: 'product reviews',
        id: review.id,
        attributes: {
          unHelpful: 1,
        },
      };

      try {
        const response = await api().put(`https://api.${this.domain}/runner/v4/products/${this.productId}/reviews/${review.id}`, {
          data,
        });

        this.getReviews();
      } catch (error) {
        console.log(error);
      }
    },
    setActiveModal(modal) {
      this.$store.commit('SET_ACTIVE_MODAL', modal);
    },
    async getReviews() {
      this.isLoading = true;

      await axios
        .get(`https://api.${this.domain}/runner/v4/products/${this.productId}/reviews`)
        .then((response) => {
          this.reviews = response.data.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleNewReviewModal() {
      this.newReviewModalIsShown = !this.newReviewModalIsShown;
    },
  },
};
</script>
