<template>
  <div
    id="reviewModal"
    class="fixed"
    @click.self="setActiveModal('none')">
    <div v-if="user !== null">
      <div
        v-if="reviewSent"
        class="fixed modal sent">
        <div style="margin-bottom: 25px;">
          Review has been sent for processing.
        </div>
        <div>
          <img
            style="width: 30px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561043245/runner%20v4/icons/OrderhistoryIconCheckmark.png"
            alt="">
        </div>
      </div>
      <div v-else>
        <div
          class="fixed modal"
          style="">
          <span class="block mb-15 uppercase fs-20 fw-400">
            New Review
          </span>
          <p class="mb-15">
            Let us know what you think, and earn Reward Points!
          </p>
          <star-rating
            :increment="1"
            :show-rating="false"
            :star-size="30"
            :border-width="1"
            :rating="review.productRating"
            class="mb-15"
            inactive-color="white"
            active-color="#ffdd7a"
            border-color="#ffdd7a"
            @rating-selected="review.productRating = $event" />
          <input
            v-model="review.title"
            class="w-full px-15 mb-15"
            type="text"
            placeholder="title">
          <textarea
            v-model="review.description"
            rows="10"
            class="w-full mb-15 px-15 c-acacac"
            placeholder="new review" />
          <div class="submit-back-wrap">
            <button
              class="submit-btn"
              @click.stop="saveProductReview(review)">
              Submit
            </button>
            <button
              class="back-btn"
              @click.stop="setActiveModal('none')">
              Go back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      class="not-logged-in fixed modal notloggedin">
      You have to be logged in to make a review.
      <button-component
        :text="'Log In'"
        :text-color="'#313131'"
        :font-size="'16px'"
        :font-weight="'100'"
        :color="'#ACACAC'"
        :fill="false"
        :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/SideNavLogout.png'"
        :icon-spacing="'15px'"
        @click.native="goToPage('login')"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.submit-back-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 15px -15px;
  .submit-btn {
    color: #F83F40;
    padding: 15px;
    border: 1px solid #EFEFEF;
    border-bottom: 0px;
    width: 100%;
    font-weight: 100;
    text-align: center;
  }
  .back-btn {
    color: #ACACAC;
    padding: 15px;
    padding-bottom: 0px;
    border: 1px solid #EFEFEF;
    border-bottom: 0px;
    width: 100%;
    text-align: center;
    font-weight: 100;
  }
}
.not-logged-in {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  box-shadow: 0px 15px 24px -28px rgba(0,0,0, 0.5);
  width: 90% !important;
  @media (min-width: 640px) {
    width: 400px !important;
  }
}
.sent {
  top: 30% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 250px;
}
.notloggedin {
  top: 100px !important;
}
#reviewModal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.modal {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 15px;
  padding-bottom: 0px;
  z-index: 999;
  top: 50px;
  width: 90% !important;
  left: 6%;
  @media (min-width: 640px) {
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 400px !important;
  }
}
input {
  height: 50px;
}
input, textarea {
  border: 1px solid #cecece;
  border-radius: 4px;
}
.save-review {
  color: #58DFA9;
  border: 1px solid #58DFA9;
  border-radius: 4px;
  padding: 8px;
}
</style>

<script>
import StarRating from 'vue-star-rating';
import api from '../mixins/api';

export default {
  components: {
    StarRating,
  },
  mixins: [
    'api',
  ],
  props: {
    productId: {
      type: String,
      required: true,
      default: null,
    },
    domain: {
      type: String,
      required: true,
      default: null,
    },
    user: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      reviewSent: false,
      review: {
        productRating: 0,
        title: null,
        body: null,
      },
    };
  },
  methods: {
    setActiveModal(modal) {
      this.$store.commit('SET_ACTIVE_MODAL', modal);
    },
    saveProductReview(review) {
      if (!review.description) {
        return null;
      }
      this.reviewSent = true;
      const payload = {
        data: {
          type: 'product reviews',
          attributes: {
            value: this.review.productRating,
            title: review.title || null,
            description: review.description || null,
            userId: this.user.id,
			      productId: this.productId,
          },
        },
      };

      api().post(`https://api.${this.domain}/runner/v4/products/${this.productId}/reviews`, payload)
        .then((response) => {

        })
        .catch((error) => {
          console.log(error);
        });
    },
    goToPage(page) {
      this.$cookie.set('lastUrl', window.location.href, { domain: this.domain });
      window.location.href = `https://www.${this.domain}/${page}`;
    },
  },
};
</script>
