<template>
  <div id="rewards">
    <moon-loader-wrapper
      v-if="user"
      :full-screen="true"
      :is-loading="!user.attributes.rewardPoints"/>
    <div
      v-if="user && user.attributes.rewardPoints"
      class="rewards-wrap px-15">
      <ul class="tabs">
        <li
          :class="{active : activeTab === 'balance'}"
          class="tabs__balance">
          <a
            href=""
            @click.prevent="switchTab('balance')">
            Balance
          </a>
        </li>
        <li
          :class="{active : activeTab === 'earn'}"
          class="tabs__earn">
          <a
            href=""
            @click.prevent="switchTab('earn')">
            Earn
          </a>
        </li>
        <li
          :class="{active : activeTab === 'history'}"
          class="tabs__history">
          <a
            href=""
            @click.prevent="switchTab('history'), getRewardPointsHistory()">
            History
          </a>
        </li>
      </ul>
      <div
        v-show="activeTab === 'balance'"
        class="balance">
        <rewards-chart
          v-if="user.attributes.rewardPoints"
          :user-reward-points="user.attributes.rewardPoints"/>
        <img
          class="diamond"
          src="/assets/v2/icons/Points-Ruby@3x.png"
          alt="">
        <div class="copy margin-b-large">
          <h2>
            {{ user.attributes.rewardPoints }}
          </h2>
          <span>
            point balance
          </span>
        </div>
        <p>
          Redeem 1000 points of $10 with every purchase of $30 or more.
        </p>
        <div class="rewards-logo">
          <img
            src="/assets/global/rewards/Runner-Rewards.svg"
            alt="">
        </div>
        <div class="descriptions">
          <div class="description">
            <img
              src="/assets/global/rewards/Rewards-Dollars.svg"
              alt="">
            <h2>
              Earn Dollars
            </h2>
            <p>
              Every 1000 points you collect can be redeemed for $10 OFF your next delivery. No fees, no strings, just delivery with a smile.
            </p>
          </div>
          <div class="description">
            <img
              src="/assets/global/rewards/Rewards-Earn.svg"
              alt="">
            <h2>
              Ways To Earn
            </h2>
            <p>
              Earn points on every purchase, 100 points to be exact. Refer your friends and write reviews to gain the most points!
            </p>
          </div>
          <div class="description">
            <img
              src="/assets/global/rewards/Rewards-Bonus.svg"
              alt="">
            <h2>
              Bonus Points
            </h2>
            <p>
              Keep your notifications on, and your eyes on your emails. Promoted products purcahsed on certain days can earn you up to 1000 points!
            </p>
          </div>
          <div class="description description--secondary">
            <img
              src=""
              alt="">
            <h2>
              Give $10 Get $10
            </h2>
            <button
              class="button"
              @click="redirectToRewards">
              Refer Your Friends
            </button>
          </div>
        </div>
      </div>
      <div
        v-show="activeTab === 'earn'"
        class="earn">
        <div class="ways-to-earn">
          <div class="way-to-earn">
            <div class="points-earned">
              <span>
                1000
              </span>
              Points
            </div>
            <div class="how-to">
              <span>
                Refer A Friend
              </span>
              Invite your friends. Give $10 get $10
            </div>
          </div>
          <div class="way-to-earn">
            <div class="points-earned">
              <span>
                1000
              </span>
              Points
            </div>
            <div class="how-to">
              <span>
                Invited By A Friend
              </span>
              Register with the link sent from a friend, or use thir invite code.
            </div>
          </div>
          <div class="way-to-earn">
            <div class="points-earned">
              <span>
                500
              </span>
              Points
            </div>
            <div class="how-to">
              <span>
                Tag us on Instagram
              </span>
              Tag @runnerdelivery and earn. It's that simple!
            </div>
          </div>
          <div class="way-to-earn">
            <div class="points-earned">
              <span>
                500
              </span>
              Points
            </div>
            <div class="how-to">
              <span>
                First Review
              </span>
              Be the first to review a product.
            </div>
          </div>
          <div class="way-to-earn">
            <div class="points-earned">
              <span>
                100
              </span>
              Points
            </div>
            <div class="how-to">
              <span>
                Any Review
              </span>
              Review any product.
            </div>
          </div>
        </div>
      </div>
      <div
        v-show="activeTab === 'history'"
        class="history">
        <div
          v-for="event in userRewardPointsHistory"
          class="events">
          <div
            v-if="event.type === 1"
            class="event">
            <div class="details">
              <div class="description">
                Invitation
              </div>
              <div class="name">
                Invited By {{ JSON.parse(event.details).referrer_name }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 2"
            class="event">
            <div class="details">
              <div class="description">
                Completed An Order
              </div>
              <div class="name">
                Order #{{ JSON.parse(event.details).order_id }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 3"
            class="event">
            <div class="details">
              <div class="description">
                Cancelled An Order
              </div>
              <div class="name">
                Order #{{ JSON.parse(event.details).order_id }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 4"
            class="event">
            <div class="details">
              <div class="description">
                Used Reward Points
              </div>
              <div class="name">
                Order #{{ JSON.parse(event.details).order_id }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 5"
            class="event">
            <div class="details">
              <div class="description">
                Invited Friend Made Purchase
              </div>
              <div class="name">
                Friend: {{ JSON.parse(event.details).invited_name }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 6"
            class="event">
            <div class="details">
              <div class="description">
                Awarded By Runner
              </div>
              <div class="name">
                Details: {{ JSON.parse(event.details).reason }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 7"
            class="event">
            <div class="details">
              <div class="description">
                Reviewed Product
              </div>
              <div class="name">
                Product Reviewed: {{ JSON.parse(event.details).name }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
          <div
            v-if="event.type === 8"
            class="event">
            <div class="details">
              <div class="description">
                First Review Of Product
              </div>
              <div class="name">
                Product Reviewed: {{ JSON.parse(event.details).name }}
              </div>
              <div class="date">
                {{ event.created_at | moment('dddd, MMMM Do YYYY') }}
              </div>
            </div>
            <div class="points">
              {{ event.value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.rewards-wrap {
  max-width: 800px;
  margin: 0 auto;
}
.rewards-logo {
  text-align: center;
  margin-bottom: 30px;
  img {
    max-width: 250px;
  }
}
.tabs {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  margin: 0;
  li {
    a {
      color: #b4b4b4;
      font-weight: 400;
      font-size: 18px;
      display: block;
      height: 50px;
      line-height: 50px;
    }
    &.active {
      border-bottom: 3px solid #F83E40;
      a {
        color: #484848;
      }
    }
  }
}
.balance {
  position: relative;
  img.diamond {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 156px);
    top: 50px;
    max-width: 100px;
    @media screen and (min-width: 768px) {
      max-width: 150px;
    }
  }
  canvas {
    background-color: transparent;
  }
  .copy {
    display: grid;
    justify-content: center;
    text-align: center;
    h2 {
      font-weight: 100;
      font-size: 40px;
    }
    span {
      color: #b4b4b4;
    }
  }
  p {
    text-align: center;
    color: #b4b4b4;
  }
  h1 {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
}
.descriptions {
  .description {
    margin-bottom: 60px;
    text-align: center;
    img {
      margin-bottom: 15px;
    }
    h2 {
      text-align: center;
      margin-bottom: 15px;
      letter-spacing: 0.45px;
    }
    p {
      color: #484848;
      line-height: 20px;
    }
    &--secondary {
      h2 {
        color: #F83E40;
      }
      .button {
        background-color: #F83E40;
        color: #ffffff;
        letter-spacing: 0.27px;
        font-weight: bold;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0;
        width: 100%;
      }
    }
  }
}
#rewards > .page-large {
  max-width: 600px;
  margin: 0 auto 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.ways-to-earn {
  .way-to-earn {
    border-bottom: 1px solid #bcbcbc;
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 60px;
    .points-earned {
      display: grid;
      grid-template-rows: auto auto;
      grid-gap: 10px;
      justify-items: center;
      color: #bcbcbc;
      span {
        font-size: 25px;
        color: #313131;
      }
    }
    .how-to {
      display: grid;
      align-items: center;
      grid-template-rows: auto auto;
      grid-gap: 10px;
      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
.history {
  .event {
    border-bottom: 1px solid #bcbcbc;
    padding: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-gap: 60px;
    .details {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-gap: 10px;
      .description {
        font-size: 14px;
        font-weight: bold;
      }
      .name {
        color: #4a4a4a;
      }
    }
    .points {
      font-size: 25px;
      font-weight: 300;
    }
  }
}
</style>

<script>
import user from '../mixins/userv3';

export default {
  mixins: [
    user,
  ],
  props: [
    'domain',
  ],
  data() {
    return {
      activeTab: 'balance',
      userRewardPointsHistory: null,
    };
  },
  methods: {
    redirectToRewards() {
      location.href = '/refer-a-friend';
    },
    switchTab(tab) {
      this.activeTab = tab;
    },
    getRewardPointsHistory() {
      axios({
        method: 'get',
        url: `/api/v2/users/${this.user.id}/reward-points`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token')}`,
        },
      })
        .then((response) => {
          this.userRewardPointsHistory = response.data.data;
        })
        .catch((errors) => {
          console.log(errors);
        });
    },
  },
};
</script>
