<template>
  <div class="flex ml-auto sm:m-0 ai-center">
    <div class="flex flex-col w-full">
      <div class="reward-points flex ai-center mb-10">
        <div class="flex justify-between w-full">
          <span class="mr-50">
            {{ user.attributes.rewardPointsBalance }} points
          </span>
          <span class="text-grey-light">
            1,000 (Free delivery)
          </span>
        </div>
      </div>
      <div>
        <div class="outer">
          <div
            :style="{ width: rewardBar(user) + '%' }"
            class="inner"/>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.reward-points {
  min-width: 131px;
}
.outer {
  height: 10px;
  background-color: #efefef;
  border-radius: 20px;
  width: 100%;
}
.inner {
  height: 10px;
  background-color: #ffdd7a;
  border-radius: 20px;
}
</style>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      rewardVal: 0,
    };
  },
  methods: {
    goToOrderPage() {
      window.location.href = '/account/orders';
    },
    rewardBar(user) {
      const returnVar = user.attributes.rewardPointsBalance / 1000 * 100;
      if (returnVar > 100) {
        return 100;
      }
      return returnVar;
    },
  },
};
</script>
