<template>
  <div
    :class="{ 'is-logged-in': user && isHome }"
    class="search-wrap">
    <input
      type="text"
      placeholder="Search"
      class="input--icon"
      style="background-image: url('/assets/icons/Nav-Search.svg');"
      @click="openSearch">
    <div
      v-if="user && isHome"
      class="logged-in-buttons">
      <a
        class="button"
        @click="openFavourites">
        <img
          src="/assets/icons/Explore-Favourites.svg"
          alt="">
        <span>
          Favourites
        </span>
      </a>
      <a
        class="button"
        @click="reorderLastOrder()">
        <img
          src="/assets/icons/Explore-Reorder.svg"
          alt="">
        <span>
          Reorder
        </span>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'user',
    'domain',
  ],
  data() {
    return {
      isHome: false,
    };
  },
  mounted() {
    this.checkForHomePage();
  },
  methods: {
    openSearch() {
      document.getElementsByTagName('body')[0].style.cssText = 'position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;';
    },
    openFavourites() {
      document.getElementsByTagName('body')[0].style.cssText = 'position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;';
    },
    reorderLastOrder() {
      axios({
        method: 'post',
        url: '/api/v2/reorder',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
      })
        .then((response) => {
          this.getCart();
        })
        .catch((error) => {
          alert('Sorry, you don\'t have a last order!');
        });
    },
    checkForHomePage() {
      if (document.location.pathname === '/') {
        this.isHome = true;
      } else {
        this.isHome = false;
      }
    },
  },
};
</script>
