<template>
  <div
    v-show="searchIsOpen"
    id="search"
    class="overlay">
    <div class="search-wrap">
      <button
        class="button-close"
        style="background-image: url('/assets/v2/icons/View-Close@3x.png')"
        @click="closeSearch"/>
      <div class="runner-logo">
        <img
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/StoreFrontNavRunner.png"
          alt="">
      </div>
      <div class="title-wrap">
        <h1>
          Search
        </h1>
      </div>
      <div class="form-wrap">
        <input
          id="productSearch"
          ref="prodSearch"
          type="text"
          class="input"
          autofocus
          name="product"
          placeholder="Search For Something...">
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#search {
  overflow-y: scroll;
  .search-wrap {
    grid-template-columns: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}
.runner-logo {
  position: absolute;
  top: 15px;
  left: 0;
  width: 150px;
}
.overlay {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 15px;
  z-index: 1900;
}
.title-wrap {
  h1 {
    font-size: 28px;
    float: left;
  }
}
.button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-size: cover;
}
.search-wrap {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 100%;
  margin: 0;
  &.is-logged-in {
    grid-template-rows: 60px 60px;
    @media screen and (min-width: 768px) {
        grid-template-columns: minmax(60%, auto) auto;
        grid-template-rows: 100%;
    }
  }
  input {
    border-radius: 24px;
    color: #343434;

    &::placeholder {
        color: #343434;
    }
  }
  .logged-in-buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(auto, 150px));
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: right;
    }
    .button {
      align-items: center;
      border-radius: 24px;
      border: 1px solid #cecece;
      box-shadow: none;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 15px;
      justify-content: center;
      &:hover {
          transform: translateY(0);
      }
      img {
          margin: 0;
      }
    }
  }
}
#productSearch {
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-radius: 24px;
  color: #313131;
  font-size: 12px;
  height: 50px;
  padding: 5px 30px;
  line-height: normal;
  width: 100%;
  -webkit-appearance: none;
}
.form-wrap {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 100%
}
</style>

<script>
export default {
  props: {
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
  },
  computed: {
    searchIsOpen() {
      return this.$store.getters.searchStatus;
    },
  },
  watch: {
    searchIsOpen() {
      this.$nextTick(() => this.$refs.prodSearch.focus());
    },
  },
  mounted() {
    const client = algoliasearch('EWG2ZDNJEQ', '18570a327b9fce163e19ce027f79a3bb');
    const categories = client.initIndex('categories');
    const tags = client.initIndex('categories');
    const products = client.initIndex('new_products');

    autocomplete('#productSearch', {
      hint: false, autoselect: false,
    }, [
      {
        source: autocomplete.sources.hits(products, {
          hitsPerPage: 3,
        }),
        displayKey: 'name',
        templates: {
          header: '<div style="padding: 12px; font-size: 12px; font-weight: 700;">General Products</div>',
          suggestion(suggestion) {
            return `
              <img style="width: 30px; margin-right: 10px;" src="${suggestion ? suggestion.image : ''}">
                <span>
                  ${suggestion ? suggestion.title : ''}
                </span>
              `;
          },
        },
      },
      // {
      //   source: autocomplete.sources.hits(categories, {
      //     hitsPerPage: 3,
      //   }),
      //   displayKey: 'name',
      //   templates: {
      //     header: '<div style="padding: 12px; font-size: 12px; font-weight: 700; border-top: 1px solid rgba(228, 228, 228, 0.6);">Categories</div>',
      //     suggestion(suggestion) {
      //       return `<img style="width: 30px; margin-right: 10px;" src="${suggestion.image}">` + `<span>${suggestion.title}</span>`;
      //     },
      //   },
      // },
    ]).on('autocomplete:selected', (event, suggestion, dataset) => {
      // const store = this.stores.find(store => store.id == layoutAttributes.link.storeId);
      // this.$store.commit('SET_INVENTORY_ID', store.attributes.inventoryId);
      window.location.href = `/search?q=${suggestion ? suggestion.title : ''}`;
    });
    document.getElementById('productSearch').onkeypress = function (e) {
      if (!e) e = window.event;
      const keyCode = e.charCode || e.keyCode || e.which;

      if (keyCode === 13) {
        window.location.href = `/search?q=${document.getElementById('productSearch').value}`;

        return false;
      }
    };
  },
  methods: {
    closeSearch() {
      this.$store.commit('TOGGLE_SEARCH_STATUS');
    },
  },
};
</script>
