<template>
  <div id="tools">
    <social-sharing
      :url="url"
      :title="title"
      :description="description"
      class="rounded border-2 border-black text-black font-semibold h-50 pl-10 pr-10 flex justify-center items-center cursor-pointer"
      inline-template>
      <div>
        <network
          style="display: block;"
          network="facebook">
          Share This!
        </network>
      </div>
    </social-sharing>
    <!-- <div
      class="rounded border-2 border-black text-black font-semibold h-50 pl-10 pr-10 flex justify-center items-center cursor-pointer"
      @click.prevent="favouriteItem">
      Favourite
    </div> -->
  </div>
</template>

<style lang="scss" scoped>
#tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.button {
  display: grid;
  border: 2px solid #000000;
  color: #000000;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  height: 50px;
  align-content: center;
  cursor: pointer;
}
</style>

<script>
export default {
  props: [
    'productId',
    'type',
    'user',
    'title',
    'description',
  ],
  data() {
    return {
      favourite: false,
      url: '',
    };
  },
  mounted() {
    this.getCurrentUrl();

    // if (this.user) {
    //   this.isFavourite();
    // }
  },
  methods: {
    isFavourite() {
      axios({
        method: 'post',
        url: `https://${this.domain}/api/v2/user/isfavourite/`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
        data: {
          id: this.productId,
          type: this.type,
        },
      })
        .then((response) => {
          this.favourite = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    favouriteItem() {
      if (this.user) {
        axios({
          method: 'post',
          url: '/api/v2/user/favourites/',
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token')}`,
          },
          data: {
            id: this.productId,
            type: this.type,
          },
        })
          .then((response) => {
            this.isFavourite();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    getCurrentUrl() {
      this.url = window.location.href;
    },
  },
};
</script>
