<template>
  <div
    id="add-to-cart"
    class="z-50 bg-white md:relative md:p-0 pin-b pin-l pin-r">
    <div class="quantity">
      <button
        class="rounded"
        @click="decrement">
        <img :src="icons.minus">
      </button>
      <input
        type="number">
      <button
        class="rounded"
        @click="increment">
        <img :src="icons.plus">
      </button>
    </div>
    <div class="add">
      <button>
        ADD TO CART
      </button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#add-to-cart {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
}
.quantity {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-gap: 10px;
  height: 35px;
  button {
    img {
      width: 20px;
    }
    border: 1px #ACACAC solid;
    border-radius: 4px;
    height: 35px;
    width: 35px;
  }
  input {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
}
.add {
  @media (min-width: 640px) {
    width: 300px;
    height: 45px;
  }
  button {
    color: white;
  }
  text-align: center;
  background-color: #F83F40;
  border-radius: 4px;
  width: 100%;
  padding: 15px 0 15px 0;
  box-shadow: 0px 5px 16px -5px #F83F40;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
</style>

<script>
export default {
  data() {
    return {
      cartTotal: 1,
      rewardPointsUsed: 0,
      icons: {
        minus: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053220/runner%20v4/icons/IconMinusGrey.png',
        plus: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052526/runner%20v4/icons/IconPlusGrey.png',
      },
    };
  },
  methods: {
    increment() {
      this.cartTotal += 1;
    },
    decrement() {
      if (this.cartTotal > 0) {
        this.cartTotal -= 1;
      }
    },
    addBothToCart() {
      for (let i = 0; i < this.both.length; i++) {
        if (!this.user) {
          this.$store.commit('TOGGLE_LOGIN_MODAL_STATUS', 'open');
        } else if (this.cart && this.cart.attributes.products.length > 0) {
          let type = 'regular';

          if (this.inventoryId === 11) {
            type = 'giftItem';
          }
          const data = {
            userId: this.user.id,
            cartId: this.cart.id || '',
            payload: {

              products: [
                {
                  id: parseInt(this.both[i].id),
                  title: this.both[i].attributes.title,
                  runnerPrice: this.both[i].attributes.limitedTimeOfferPrice || this.both[i].attributes.runnerPrice,
                  quantity: this.cartTotal,
                  packaging: this.both[i].attributes.packaging,
                  allowSub: true,
                  type,
                  subTotal: 30,
                },
              ],
            },
          };

          this.$store.dispatch('updateCart', data);

          window.dataLayer.push({
            event: 'addToCart',
            ecommerce: {
              currencyCode: 'CAN',
              add: {
                products: [
                  {
                    name: this.both[i].attributes.title,
                    id: this.both[i].id,
                    price: (this.both[i].attributes.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                    retailPrice: (this.both[i].attributes.retailPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                    brand: this.both[i].attributes.producer,
                    category: this.both[i].attributes.category,
                    variant: this.both[i].attributes.packaging,
                    quantity: this.cartTotal,
                    dimension1: String(this.store.id),
                  },
                ],
              },
            },
          });
        } else {
          let type = 'regular';

          if (this.inventoryId === 11) {
            type = 'giftItem';
          }
          const data = {
            userId: this.user.id,
            payload: [
              {
                id: parseInt(this.both[i].id),
                title: this.both[i].attributes.title,
                runnerPrice: this.both[i].attributes.limitedTimeOfferPrice || this.both[i].attributes.runnerPrice,
                quantity: this.cartTotal,
                packaging: this.both[i].attributes.packaging,
                allowSub: true,
                type,
                subTotal: 30,
              },
            ],
          };
          this.$store.dispatch('createCart', data);

          window.dataLayer.push({
            event: 'addToCart',
            ecommerce: {
              currencyCode: 'CAN',
              add: {
                products: [
                  {
                    name: this.both[i].attributes.title,
                    id: this.both[i].id,
                    price: (this.both[i].attributes.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                    retailPrice: (this.both[i].attributes.retailPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                    brand: this.both[i].attributes.producer,
                    category: this.both[i].attributes.category,
                    variant: this.both[i].attributes.packaging,
                    quantity: this.cartTotal,
                    dimension1: String(this.store.id),
                  },
                ],
              },
            },
          });
        }
      }
    },
    addToCart() {
      if (!this.user) {
        this.$store.commit('TOGGLE_LOGIN_MODAL_STATUS', 'open');
      } else if (this.cart && this.cart.attributes.products.length > 0) {
        let type = 'regular';

        if (this.inventoryId === 11) {
          type = 'giftItem';
        }
        const data = {
          userId: this.user.id,
          cartId: this.cart.id || '',
          payload: {

            products: [
              {
                id: parseInt(this.product.id),
                title: this.product.attributes.title,
                runnerPrice: this.product.attributes.limitedTimeOfferPrice || this.product.attributes.runnerPrice,
                quantity: this.cartTotal,
                packaging: this.product.attributes.packaging,
                allowSub: true,
                type,
                subTotal: 30,
              },
            ],
          },
        };

        this.$store.dispatch('updateCart', data);
        // location.href = `https://lcbo.${this.domain}/`;
        this.sendGAAddToCart();
      } else {
        let type = 'regular';

        if (this.inventoryId === 11) {
          type = 'giftItem';
        }
        const data = {
          userId: this.user.id,
          payload: [
            {
              id: parseInt(this.product.id),
              title: this.product.attributes.title,
              runnerPrice: this.product.attributes.limitedTimeOfferPrice || this.product.attributes.runnerPrice,
              quantity: this.cartTotal,
              packaging: this.product.attributes.packaging,
              allowSub: true,
              type,
              subTotal: 30,
            },
          ],
        };

        this.$store.dispatch('createCart', data);

        // location.href = `https://lcbo.${this.domain}/`;
        this.sendGAAddToCart();
      }
    },
    sendGAAddToCart() {
      window.dataLayer.push({
        event: 'addToCart',
        ecommerce: {
          currencyCode: 'CAN',
          add: {
            products: [
              {
                name: this.product.attributes.title,
                id: this.product.id,
                price: (this.product.attributes.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                retailPrice: (this.product.attributes.retailPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }),
                brand: this.product.attributes.producer,
                category: this.product.attributes.category,
                variant: this.product.attributes.packaging,
                quantity: this.cartTotal,
                dimension1: String(this.store.id),
              },
            ],
          },
        },
      });
    },
  },
};
</script>
