<template>
  <div class="grid grid-gap-10">
    <div
      v-for="(address, index) in user.attributes.addresses"
      :key="index"
      :class="{active: address.attributes.selected === 1}"
      class="group relative border border-grey grid grid-gap-15 rounded max-w-full justify-start items-center border-grey-lightest p-15 pr-50"
      @click="setAddress(address, index)">
      {{ address.attributes.formattedAddress }}
      <span v-if="address.attributes.unitNumber">
        Unit # {{ address.attributes.unitNumber }}
      </span>
      <span
        class="lg:hidden group-hover:block absolute pointer w-30 h-30 bg-red rounded text-white font-bold text-xl text-center cursor-pointer"
        style="top: 10px; right: 10px;"
        @click.stop="deleteAddress(address)">
        &times;
      </span>
    </div>
    <button
      class="bg-white h-50 text-grey grid font-bold py-2 px-4 rounded border border-grey mb-15"
      @click="toggleDesktopNewAddressForm">
      New Address
    </button>
    <form
      v-show="desktopNewAddressFormIsShown"
      class="address-form"
      autocomplete="off">
      <div class="form-wrap">
        <span class="text-red text-sm">
          *Please start typing your address and select your address from the pre-populated dropdown
        </span>
        <input
          autocomplete="false"
          name="hidden"
          type="text"
          style="display:none;">
        <input
          :id="id"
          style="height: 50px !important"
          autocomplete="new-password"
          placeholder="Start typing and select from the dropdown"
          @focus="bindAutoComplete">
        <input
          v-model="newAddress.unitNumber"
          type="text"
          placeholder="Unit Number (Optional)">
        <input
          v-model="newAddress.businessName"
          type="text"
          placeholder="Business Name (Optional)">
      </div>
      <div class="form-wrap f-w-2 postal">
        <span>
          Postal Code
        </span>
        <input
          v-mask="'A#A #A#'"
          v-model="postalCode"
          type="text">
      </div>
      <button
        class="bg-green h-50 text-white grid font-bold py-2 px-4 rounded mb-15 w-full"
        @click.prevent="createAddress">
        Save Address
      </button>
    </form>
  </div>
</template>

<style lang="scss" scoped>
#hack {
  height: 50px !important;
}
.active {
  background-color: #ffffff;
  border: 2px solid #50E3C2;
}
.address-form {
  .form-wrap {
    display: grid;
    grid-gap: 15px;
    margin-bottom: 15px;
    align-items: center;
  }
  .postal {
    span {
      text-align: center;
      font-weight: 600;
    }
  }
}
input,
textarea {
  height: 50px;
  display: grid;
  -webkit-appearance: none;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  padding: 15px;
}
textarea {
  height: 200px !important;
}
</style>

<script>
import api from '../../mixins/api';

export default {
  props: {
    user: {
      type: Object,
      required: true,
      default: null,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      id: null,
      newAddress: {
        formattedAddress: null,
        lat: null,
        lng: null,
        placeId: null,
        postalCode: null,
        unitNumber: null,
        businessName: null,
        instructions: null,
      },
      activeAddress: 0,
      desktopNewAddressFormIsShown: false,
      postalCodeIsValid: false,
      newInventoryId: '',
      newPostalCode: '',
    };
  },
  computed: {
    postalCode: {
      get() {
        return this.$store.getters.postalCode;
      },
      set(value) {
        this.$store.commit('SET_POSTAL_CODE', value);
      },
    },
    inventoryId() {
      return this.$store.getters.inventoryId;
    },
    store() {
      return this.$store.getters.store;
    },
  },
  mounted() {
    this.id = this._uid;
  },
  methods: {
    async createAddress() {
      this.isLoading = true;

      const payload = {
        data: {
          type: 'addresses',
          attributes: {
            formattedAddress: this.newAddress.formattedAddress,
            placeId: this.newAddress.placeId,
            lat: this.newAddress.lat,
            lng: this.newAddress.lng,
            postalCode: this.newAddress.postalCode,
            unitNumber: this.newAddress.unitNumber,
            instructions: this.newAddress.instructions,
            businessName: this.newAddress.businessName,
            selected: this.newAddress.selected,
          },
        },
      };
      await api()
        .post(`https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses`, payload)
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
        });

      this.desktopNewAddressFormIsShown = false;
      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });

      this.isLoading = false;
    },
    async deleteAddress(address) {
      const response = await api()
        .delete(`https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`)
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
    },
    async setAddress(address) {
      if (address.attributes.selected == 1) {
        return false;
      }

      const response = await api()
        .put(`https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`, {
          data: {
            attributes: {
              selected: 1,
            },
          },
        })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.$cookie.get('userId', { domain: this.domain });

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
    },
    bindAutoComplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
			    (document.getElementById(this.id)),
			    {
			      bounds: cityBounds,
			      types: [
					    'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
    },
    pipeAddress() {
      const place = this.autocomplete.getPlace();
      this.newAddress.formattedAddress = place.formatted_address;
      this.newAddress.lat = place.geometry.location.lat();
      this.newAddress.lng = place.geometry.location.lng();
      this.newAddress.placeId = place.place_id;

      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i++) {
          if (place.address_components[i].types[0] === 'postal_code') {
            const postalCode = place.address_components[i].long_name;
            this.newPostalCode = postalCode;
            this.validatePostalCode();
            this.newAddress.postalCode = postalCode;
          } else {
            this.newAddress.postalCode = 'M4W 2L9';
          }
        }
      } else {
        this.address_error = true;
      }
    },
    async validatePostalCode() {
      try {
        const response = await api().get(`address/validate?postalCode=${this.newPostalCode}`);
        const stores = response.data.data;

        if (stores.length < 1) {
          alert(`Unfortunately, the postal code ${this.newPostalCode} is outside of our delivery range. Please try a Toronto address.`);
        } else {
          for (let i = 0; i < stores.length; i++) {
            const currentStoreId = this.store.id;

            if (stores[i].id == currentStoreId) {
              this.newInventoryId = stores[i].attributes.inventoryId;

              if (this.newInventoryId != this.inventoryId) {
                const r = confirm('This address is not within the postal code that you originally selected. It is possible that some inventory may not be in stock in your area');

                // if (r === true) {
                //   this.updateCart();
                // }
              }
            }
          }
        }
      } catch (error) {
        console.error(error);
      }
    },
    toggleDesktopNewAddressForm() {
      this.desktopNewAddressFormIsShown = !this.desktopNewAddressFormIsShown;
      if (typeof this.$store.state.v3.addAddressIsShown !== 'undefined') {
        this.$store.state.v3.addAddressIsShown = !this.$store.state.v3.addAddressIsShown;
      }
    },
  },
};
</script>
