<template>
  <div class="grid grid-gap-10">
    <div
      v-for="(address, index) in user.attributes.addresses"
      v-show="!isLoading"
      :key="index"
      class="options">
      <span v-if="!address.addressIsEditable && address">
        <img
          v-if="address.attributes.selected == 1"
          class="marker-icon"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564498181/runner%20v4/icons/ChecloutIconPinRed.png">
        <img
          v-else
          class="marker-icon"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561493813/runner%20v4/icons/ChecloutIconPin.png"
          @click="chooseAddress(address)">
        <div class="addresses-list">
          <div style="display: inline-grid; margin-bottom: 15px;">
            <span>
              {{ address.attributes.formattedAddress.split(',')[0] }}
              <span v-if="address.attributes.unitNumber">
                Unit {{ address.attributes.unitNumber }}
              </span>
            </span>
            <span
              v-if="address.attributes.formattedAddress.includes(',')"
              style="color:#B1B1B1; font-size: 12.5px;">
              {{ address.attributes.formattedAddress.split(',')[1] + ', ' + address.attributes.formattedAddress.split(',')[2] }}
            </span>
          </div>
          <span class="edit-btns">
            <img
              class="delete-btn"
              style="margin-left: 20px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1563473958/runner%20v4/icons/NavClose.png"
              @click="deleteAddress(address)">
          </span>
        </div>
      </span>
    </div>
    <!-- address add btn -->
    <div
      v-if="!addingNewAddress"
      style="margin-top: 25px; display: inline-flex;">
      <button-component
        :text="'Add New Address'"
        :font-size="'13px'"
        :font-weight="'100'"
        :letter-spacing="'0px'"
        :color="'red'"
        :fill="false"
        :width="'280px'"
        :height="'40px'"
        :icon="'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561053400/runner%20v4/icons/IconPlusRed.png'"
        :icon-width="'15px'"
        :icon-spacing="'10px'"
        @click.native="toggleAddressAdd"
      />
    </div>
    <!-- adding new address -->
    <div
      v-if="addingNewAddress"
      class="new-address-box">
      <div
        class="title"
        style="font-size: 17px; font-weight: 300; margin-bottom: 20px; margin-top: 20px;">
        Add New Address
      </div>
      <div class="add-inputs">
        <div>
          <div class="add-title">
            Street Address
          </div>
          <input
            id="account_address"
            v-model="newAddress"
            autocomplete="off"
            class="add-input-bar"
            placeholder="Address..."
            type="text"
            @focus="bindAutoComplete">
          <p
            v-if="addressEmpty"
            style="color: #f83f40">
            Please select an address from the autopopulated list.
          </p>
          <p
            v-if="addressChanged || address_error"
            style="color: #f83f40">
            Please re-select an address from the autopopulated list.
          </p>
        </div>
        <div>
          <div class="add-title">
            Unit Number (Optional)
          </div>
          <input
            id="unit-number-input"
            v-model="newUnitNumber"
            class="add-input-bar"
            placeholder="Unit Number...">
        </div>
        <div>
          <div class="add-title">
            Business Name (Optional)
          </div>
          <input
            id="business-name-input"
            v-model="newBusinessName"
            class="add-input-bar"
            placeholder="Business Name...">
        </div>
        <div>
          <div class="add-title">
            Postal Code
          </div>
          <input
            v-mask="'A#A #A#'"
            id="postal-code-input"
            v-model="newPostalCode"
            class="add-input-bar"
            type="text"
            placeholder="L5B 2C9">
          <p
            v-if="address_error"
            style="color: #f83f40">
            The address is not valid. Please select again from the autopopulated list.
          </p>
        </div>
        <div>
          <div class="add-title">
            Instructions for Runner (Optional)
          </div>
          <textarea
            id="instructions-input"
            v-model="instructionsAdd"
            class="add-input-area"
            placeholder="Instructions..."/>
          <span class="instruction-text">
            {{ instructionsAdd.length }}/500
          </span>
        </div>
        <div class="button-components">
          <button-component
            :fill="false"
            :color="'grey'"
            :text="'CANCEL'"
            :width="'100%'"
            :height="'35px'"
            :font-size="'12px'"
            @click.native="closeAddressAdd"/>
          <button-component
            v-if="user.id !== null"
            :fill="true"
            :color="'red'"
            :text="'SAVE NEW ADDRESS'"
            :width="'100%'"
            :height="'35px'"
            :font-size="'12px'"
            @click.native="addAddress"/>
          <button-component
            v-else-if="user.id === null"
            :fill="true"
            :color="'red'"
            :text="'  SAVE NEW ADDRESS'"
            :width="'100%'"
            :height="'35px'"
            :font-size="'12px'"
            @click.native="addAddress"/>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.new-address-box {
  height: 120%;
}
.sideNavOpen {
  @media (min-width: 640px) {
    margin-left: 300px;
  }
}
.button-components {
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  left: 0px;
  column-gap: 20px;
  padding: 20px;
  background: #fff;
  @media (min-width: 640px) {
    display: grid;
    position: unset;
    bottom: unset;
    left: unset;
    background: unset;
    padding: unset;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    column-gap: 20px;
    margin-top: 30px;
  }
}
.instruction-text {
  position:unset;
  @media (min-width:640px) {
    position: relative;
  }
  bottom: -18px;
  left: -47px;
  color: #ACACAC;
}
.add-inputs {
  display: grid;
  .add-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .add-input-bar {
    border: 1px #EFEFEF solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 100%;
    @media (min-width: 640px) {
      width: 365px;
    }
    font-weight: 100;
    margin-bottom: 10px;
  }
  .add-input-area {
    border: 1px #EFEFEF solid;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    @media (min-width: 640px) {
      width: 366px;
    }
    height: 100px;
    font-weight: 100;
  }
}
.box-wrap {
  @media (min-width: 640px) {
    padding: 45px;
    background: #F9F9F9;
  }
}
.addresses {
  border: 1px #EFEFEF solid;
  background-color: white;
  padding: 15px;
  @media screen and (min-width: 640px) {
    border: 1px #EFEFEF solid;
    padding: 40px;
    background-color: white;
  }
}
.marker-icon {
  width: 10px;
  top: 15px;
  position: relative;
  cursor: pointer;
}
.add-address-btn {
  border: 1px #f83f40 solid;
  color:red;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  cursor: pointer;
}
.edit-btns {
  margin-top: 5px;
  float: right;
  .default-btn {
    cursor: pointer;
    border: 1px #f83f40 solid;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    color: red;
    border-radius: 4px;
    padding-right: 25px;
  }
  .edit-btn {
    cursor: pointer;
    border: 1px #acacac solid;
    padding: 10px;
    padding-left: 60px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    padding-right: 60px;
    color: #acacac;
    border-radius: 4px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .delete-btn {
    display: inline;
    width: 15px;
    cursor:pointer;
  }
}
.title {
  font-size: 21px;
  font-weight: 500;
}
.options {
  border-bottom: 1px #EFEFEF solid;
  display: grid;
  .addresses-list {
    margin-left: 20px;
  }
}
</style>

<script>
import { mapActions } from 'vuex';
import api from '../../mixins/api';

export default {
  props: {
    user: {
      type: Object,
      required: true,
      default: null,
    },
    domain: {
      type: String,
      default: null,
      required: true,
    },
    subDomain: {
      type: String,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      autocomplete: '',
      inputs: {
        route: 'long_name',
        country: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        postal_code: 'short_name',
      },
      userAddresses: {},
      addingNewAddress: false,
      instructionsAdd: '',
      newAddress: '',
      addressEmpty: false,
      newAddressEdit: '',
      newUnitNumber: '',
      newBusinessName: '',
      address_error: false,
      postalCode: '',
      newPostalCode: '',
      addressArray: {},
      isLoading: false,
      needPostalCode: false,
      addressChanged: false,
    };
  },
  computed: {
    inventoryId() {
      return this.$store.getters.inventoryId;
    },
    store() {
      return this.$store.getters.store;
    },
  },
  mounted() {
    this.id = this._uid;
  },
  methods: {
    ...mapActions([
      'validate',
    ]),
    closeAddressEdit(address) {
      address.addressIsEditable = false;
    },
    closeAddressAdd() {
      this.addingNewAddress = false;
      this.needPostalCode = false;
      this.address_error = false;
      this.addressEmpty = false;
      this.addressArray = {};
      this.newAddress = '';
      this.newAddressEdit = '';
      this.newUnitNumber = '';
      this.newBusinessName = '';
      this.newPostalCode = '';
    },
    toggleEditAddress(address) {
      if (address.addressIsEditable === null) {
        address.addressIsEditable = true;
      }
      address.addressIsEditable = !address.addressIsEditable;

      for (let i = 0; i < this.userAddresses.length; i++) {
        if (address.attributes === this.userAddresses[i].attributes) {
          this.userAddresses[i] = address;
        }
      }
    },
    toggleAddressAdd() {
      this.addingNewAddress = !this.addingNewAddress;
    },
    async saveAddressEdit(address) {
      this.isLoading = true;
      address.addressIsEditable = false;

      const response = await axios({
        method: 'put',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
        data: {
          data: {
            type: 'addresses',
            attributes: {
              businessName: address.attributes.businessName,
              formattedAddress: this.newAddressEdit,
              instructions: address.attributes.instructions,
              lat: address.attributes.lat,
              lng: address.attributes.lng,
              postalCode: address.attributes.postalCode,
              unitNumber: address.attributes.unitNumber,
            },
          },
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.user.id;

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });

      this.isLoading = false;
    },
    async deleteAddress(address) {
      const response = await axios({
        method: 'delete',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.user.id;

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
    },
    async setDefaultAddress(address) {
      const response = await axios({
        method: 'put',
        url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses/${address.id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
        },
        data: {
          data: {
            type: 'addresses',
            attributes: {
              selected: 1,
            },
          },
        },
      })
        .catch((error) => {
          console.log(error);
        });

      const accessToken = this.$cookie.get('token', { domain: this.domain });
      const userId = this.user.id;

      this.$store.dispatch('getUser', {
        accessToken,
        userId,
      });
    },
    async addAddress() {
      this.isLoading = true;
      if (!this.newPostalCode) {
        this.address_error = true;
      }
      if (!Object.keys(this.addressArray).length) {
        this.addressEmpty = true;
        this.$notify({
          group: 'errors',
          type: 'error',
          title: 'Error',
          text: 'Invalid Street Address',
          duration: 10000,
        });
      } else {
        this.addressEmpty = false;
      }
      if (!this.address_error && !this.addressEmpty) {
        // guest add to cookie
        if (this.newAddress !== this.addressArray.printable_address) {
          this.addressChanged = true;
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: 'Please choose again from the autopopulated list',
            duration: 10000,
          });
        } else {
          this.addressChanged = false;
        }
        if (!this.user) {
          const tempAddress = {
            attributes: {
              formattedAddress: this.addressArray.printable_address,
              lat: this.addressArray.lat,
              lng: this.addressArray.lng,
              unitNumber: this.newUnitNumber,
              instructions: this.instructionsAdd,
              businessName: this.newBusinessName,
              postalCode: this.newPostalCode,
            },
          };
          this.$store.commit('SET_SELECTED_ADDRESS', tempAddress);
          window.location.href = '/';
        }
        if (!this.addressChanged) {
          const response = await axios({
            method: 'post',
            url: `https://api.${this.domain}/runner/v4/users/${this.user.id}/addresses`,
            headers: {
              Authorization: `Bearer ${this.$cookie.get('token', { domain: this.domain })}`,
            },
            data: {
              data: {
                type: 'addresses',
                attributes: {
                  formattedAddress: this.addressArray.printable_address,
                  lat: this.addressArray.lat,
                  lng: this.addressArray.lng,
                  unitNumber: this.newUnitNumber,
                  instructions: this.instructionsAdd,
                  businessName: this.newBusinessName,
                  postalCode: this.newPostalCode,
                },
              },
            },
          })
            .catch((error) => {
              this.address_error = true;
              this.$notify({
                group: 'errors',
                type: 'error',
                title: 'Error',
                text: error.response.data.errors.error,
                duration: -1,
              });
            });
          this.addingNewAddress = false;
          const tempAddress = {
            attributes: {
              formattedAddress: this.addressArray.printable_address,
              lat: this.addressArray.lat,
              lng: this.addressArray.lng,
              unitNumber: this.newUnitNumber,
              instructions: this.instructionsAdd,
              businessName: this.newBusinessName,
              postalCode: this.newPostalCode,
            },
          };
          this.addressArray = {};
          this.newAddress = '';
          this.newAddressEdit = '';
          this.newUnitNumber = '';
          this.newBusinessName = '';
          this.newPostalCode = '';
          const accessToken = this.$cookie.get('token', { domain: this.domain });
          const userId = this.user.id;
          this.isLoading = false;

          this.$store.dispatch('getUser', {
            accessToken,
            userId,
          });
        }
      }
    },
    async chooseAddress(address) {
      this.isLoading = true;
      await this.setDefaultAddress(address);
      this.isLoading = false;
    },
    bindAutoComplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('account_address')),
        {
          bounds: cityBounds,
          types: [
            'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
      this.newAddress = this.addressArray.printable_address;
      this.postalCode = '';
      this.addressChanged = false;
    },
    pipeAddress() {
      const data = {};
      const place = this.autocomplete.getPlace();

      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i++) {
          if (place.address_components[i].types[0] === 'postal_code') {
            place.lat = place.geometry.location.lat();
            place.lng = place.geometry.location.lng();
            this.postalCode = place.address_components[i].long_name;
            place.postalCode = this.postalCode;

            this.validatePostalCode(this.domain, this.postalCode)
              .then(() => {
                this.storeOutOfBoundsPostalCode()
                  .then(() => {
                    this.$cookie.set('inventoryId', 1, { domain: this.domain });
                    this.toggleAddressIsOutOfBounds();
                  })
                  .catch((error) => {
                    this.address_error = true;
                    this.$notify({
                      group: 'errors',
                      type: 'error',
                      title: 'Error',
                      text: error.response.data.errors.error,
                      duration: -1,
                    });
                  });
              })
              .catch((error) => {
                this.address_error = true;
                this.$notify({
                  group: 'errors',
                  type: 'error',
                  title: 'Error',
                  text: error.response.data.errors.error,
                  duration: -1,
                });
              });
          } else {
            this.address_error = true;
          }
          data.printable_address = place.formatted_address;
          data.lat = place.geometry.location.lat();
          data.lng = place.geometry.location.lng();


          this.newAddress = data.printable_address;
          this.newAddressEdit = data.printable_address;
          this.addressArray.printable_address = data.printable_address;
          this.addressArray.lat = data.lat;
          this.addressArray.lng = data.lng;
          // this.newPostalCode = data.postal_code;
          this.newPostalCode = this.postalCode;
        }
      } else {
        this.address_error = true;
      }
    },
    async validatePostalCode(domain, postalCode) {
      await this.$store.dispatch('validatePostalCode', {
        domain,
        postalCode,
      });
    },
    async storeOutOfBoundsPostalCode() {
      const postalCode = this.postalCode.substring(0, 3);

      await axios
        .post(`https://api.${this.domain}/runner/v4/postal-codes/out-of-bounds`, {
          data: {
            type: 'out of bounds postal codes',
            attributes: {
              postalCode,
            },
          },
        })
        .then((response) => {
          if (response) {
            this.address_error = false;
          } else {
            this.address_error = true;
          }
        })
        .catch((error) => {
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Error',
            text: error.response.data.errors.error,
            duration: -1,
          });
        });
    },
    toggleAddressIsOutOfBounds() {
      this.addressIsOutOfBounds = !this.addressIsOutOfBounds;
    },
    toggleDesktopNewAddressForm() {
      this.desktopNewAddressFormIsShown = !this.desktopNewAddressFormIsShown;
      this.$store.state.v3.addAddressIsShown = !this.$store.state.v3.addAddressIsShown;
    },
  },
};
</script>
