<template>
  <ul class="list-reset flex overflow-x-auto flex-no-wrap scrolling-touch">
    <li
      v-for="p in cart.attributes.products"
      :key="p.id"
      style="width: 150px;"
      class="p-15 mr-10 flex-none rounded">
      <img
        :src="p.image"
        class="product-image"
        alt="">
      <span class="quantity">
        {{ p.quantity }}
      </span>
      <span class="product-title block mb-5">
        {{ p.title }}
      </span>
      <span class="c-acacac fs-12 block mb-5">
        {{ p.packaging }}
      </span>
      <span class="block mb-5 font-bold">
        ${{ (p.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
      </span>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
.product-image {
  border-radius: 8px;
  height: 150px;
  margin-bottom: 15px;
}
.quantity {
  position: relative;
  top: -155px;
  left: 5px;
  border: 1px solid #444440;
  padding: 2px 8px;
}
.product-title {
  -webkit-line-clamp: 1;
  width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 400;
}
</style>

<script>
export default {
  props: [
    'domain',
    'subDomain',
    'cart',
  ],
  data() {
    return {
    };
  },
  computed: {
  },
  mounted() {
  },
  methods: {
  },
};
</script>
