<template>
  <div>
    <textarea
      id="personalMessage"
      v-model="giftOptions.personalMessage"
      class="delivery-text w-full border border-grey-lighter rounded"
      name=""
      cols="30"
      rows="10"
      placeholder="Add a personal message to your gift card..."
      @input="setGiftMessage"/>
  </div>
</template>

<style lang="scss" scoped>
.delivery-text {
  padding: 10px;
  background-image: url('https://res.cloudinary.com/dcnts7jzv/image/upload/v1561052383/runner%20v4/icons/CheckoutIconPencil.png');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position-y: 11px;
  background-position-x: 7px;
  text-indent: 20px;
  font-weight: 100;
}
</style>

<script>

export default {
  props: {
    giftOptions: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {

    };
  },
  methods: {
    setGiftMessage() {
      this.$store.commit('SET_GIFT_MESSAGE', document.querySelector('#personalMessage').value);
    },
  },
};
</script>
