<template>
  <div class="grid grid-gap-10">
    <div class="name-input mb-15">
      <div>
        <h3>
          First Name
        </h3>
        <input
          v-model="gift.firstName"
          type="text"
          placeholder="First Name"
          class="border border-grey-lighter h-50 px-15">
      </div>
      <div>
        <h3>
          Last Name
        </h3>
        <input
          v-model="gift.lastName"
          type="text"
          placeholder="Last Name"
          class="border border-grey-lighter h-50 px-15">
      </div>
    </div>
    <div class="grid grid-gap-15 mb-15">
      <div>
        <h3>
          Phone Number
        </h3>
        <the-mask
          :mask="['###-###-####']"
          v-model="gift.phoneNumber"
          name="phone_number"
          class="appearance-none w-full h-50 border-grey-lighter border mb-15 px-15"
          placeholder="Phone Number"
          type="tel"/>
        <h3>
          Email
        </h3>
        <input
          v-model="gift.email"
          type="email"
          placeholder="Email"
          class="border w-full border-grey-lighter h-50 mb-15 px-15">
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
h3 {
  margin-bottom: 10px;
  font-weight: 100;
}
.name-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>

<script>

export default {
  props: {
    user: {
      type: Object,
      required: true,
      default: null,
    },
    gift: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {

    };
  },
};
</script>
