<template>
  <div
    id="assignees"
    class="assignees">
    <div
      class="assignees-box">
      <div
        v-for="(assignee, index) in runners"
        v-show="assignee.job_type === 1 || assignee.job_type === 3 || assignee.job_type === 4 || assignee.job_type === 5"
        :key="index"
        class="assignee-list"
        @click="assignRunner(assignee)"
      >
        <!-- v-if="assignee.onDuty" -->
        <a
          style="color: white;"
          class="name"
        >
          <span
            :style="{ backgroundColor: assignee.color }"
            style="display: inline-block;"
            class="w-10 h-10 bg-dispatch-dark-grey rounded-full mr-15"
          />
          <span
            style="color: #9E9E9E;">{{ assignee.user.first_name }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.assignees-box {
  bottom: 10px;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.30);
  display: block;
  justify-items: left;
  background: #3c3c4c;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  :hover {
    background: #454550;
  }
}
.assignees{
  position: fixed;
  left: 395px;
  top: 70px;
  z-index: 9999;
  overflow: scroll;
  bottom: 10px;
}
.assignee-list {
  padding: 20px;
}
</style>

<script>
export default {
  props: [
    'domain',
    'selectedOrder',
    'assigneesInfoIsShown',
  ],
  data() {
    return {
      runners: [],
      colours: [
        'bg-circle-green',
        'bg-circle-yellow',
        'bg-circle-blue',
        'bg-circle-purple',
        'bg-circle-red',
        'bg-circle-teal',
        'bg-circle-orange',
      ],
      chosen_colour: '',
      notAvailable: 'opacity-25',
      selectedArr: [],
      selectedRunner: {},
      currentRunner: {},
      currentOrder: {},
      updated: false,
      top: 0,
    };
  },
  computed: {},
  async mounted() {
    this.getOnDutyRunners();
  },
  methods: {
    betweenTime(startTime, endTime) {
      const now = moment();
      return now.isBetween(startTime, endTime);
    },
    assignRunner(assignee) {
      if (assignee.id === 13440) {
        return;
      }
      this.selectedRunner = assignee;
      this.currentRunner = assignee;
      if (!this.selectedArr.includes(this.selectedRunner)) {
        this.selectedArr.push(this.selectedRunner);
      }
      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/tasks`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'tasks',
            attributes: {
              orderId: this.selectedOrder.id,
              type: 'order',
              courierId: this.currentRunner.user.id,
            },
          },
        },
      })
        .then((response) => {
          this.assigneesInfoIsShown = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async removeRunner(order, selectedRunner) {
      if (order.attributes.courier.firstName === selectedRunner.first_name) {
        order.attributes.courier = null;
      }
    },
    getOnDutyRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/couriers?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runners = response.data[0].scheduledRunner;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
