<template class="app">
  <div
    id="calendar"
    style="margin-left: 25px;margin-right: 25px;"
    class="calendar">
    <full-calendar
      ref="calendar"
      :config="config"
      :events="schedulesUpdate"
      @event-selected="editSchedule"
      @day-click="toggleScheduleModal"
    />
    <div
      style="top: 100px; position: absolute;left: 26px; font-size:14px"
      class="toggle-btns">
      <button
        :style="{backgroundColor: runnerBackgroundColor}"
        style="color:#FFFFFF; background-color:#993d46; border-radius:150%; width:30px; height:29px;"
        @click="toggleRunners()"
      >
        <p
          style="background-color: #26262E; border-radius: 150%; width: 22px; height: 21px; margin-left: 4px; font-size: 11px; padding-top: 4px;"
        >R</p>
      </button>
      <button
        :style="{backgroundColor: dispatcherBackgroundColor}"
        style="margin-left: 14px; margin-right: 16px; color:#FFFFFF; border-radius:150%; width:30px; height:29px;"
        @click="toggleDispatchers()"
      >
        <p
          style="padding-left: 1px; background-color: #26262E; border-radius: 150%; width: 22px; margin-left: 4px; font-size:11px; height: 21px; padding-top: 4px;"
        >D</p>
      </button>
      <button
        :style="{backgroundColor: courierBackgroundColor}"
        style="color:#FFFFFF; background-color:#7357a5; border-radius:150%; width:30px; height:29px;"
        @click="toggleCouriers()"
      >
        <p
          style="padding-right: 2px; background-color: #26262E; border-radius: 150%; width: 22px; height: 21px; font-size:11px; margin-left: 4px; padding-top: 4px;"
        >C</p>
      </button>
    </div>

    <div
      style="top: 96px; position: absolute;left: 175px;"
      class="search-bar">
      <img
        style="width: 20px; position: absolute; top:6px; left:10px;"
        type="image"
        name="image"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561486098/Dispatch/DistpatchIconSearch.svg"
        width="10px"
      >
      <input
        v-model="search"
        style="padding-left: 35.5px;background-color: #26262E; width: 200px; height: 37px; border-radius:150px; color:white; font-size:13px;"
        placeholder="Search..."
      >
      <p/>
    </div>
    <div
      v-if="newScheduleModalIsShown"
      style="background-color: #3c3c4c; border: #26262e; border-style: double; color: white;"
      class="scheduleModal"
    >
      <span
        class="close-button"
        @click="closeScheduleModal">&#10006;</span>
      <div class="control">
        <label class="label">Runner Position</label>
        <div class="select">
          <select v-model="newEvent.job_type">
            <option
              v-for="(runnerPosition, index) in runnerPositions"
              :value="runnerPosition.id"
              :key="index"
            >{{ runnerPosition.title }}</option>
          </select>
        </div>
      </div>
      <div class="control">
        <label class="label">Employee</label>
        <div class="select">
          <select v-model="newEvent.employee">
            <option
              v-for="(employee, index) in employees"
              :value="employee.id"
              :key="index"
            >{{ employee.first_name }} {{ employee.last_name }}</option>
          </select>
        </div>
      </div>
      <div class="control">
        <div class="field">
          <label class="label">Start on {{ currentDate | moment('LL') }}</label>
          <div class="control">
            <input
              v-model="newEvent.start.hour"
              type="time"
              class="input" >
          </div>
        </div>
        <div class="field">
          <label class="label">End</label>
          <div class="control">
            <input
              v-model="newEvent.end.hour"
              type="time"
              class="input">
          </div>
        </div>
        <div
          class="control"
          style="margin-top: 30px;">
          <button
            style="color: #FFFFFF;"
            class="button is-primary"
            @click="createSchedule(newEvent)"
          >Submit</button>
        </div>
      </div>
    </div>
    <div
      v-if="editScheduleModalIsShown"
      style="background-color: #3c3c4c; border: #26262e; border-style: double; color: white;"
      class="scheduleModal"
    >
      <span
        class="close-button"
        @click="closeScheduleModal">&#10006;</span>
      <div class="control">
        <label class="label">Runner Position</label>
        <div class="select">
          <select v-model="currentEvent.job.id">
            <option
              v-for="(runnerPosition, index) in runnerPositions"
              :value="runnerPosition.id"
              :key="index"
            >{{ runnerPosition.title }}</option>
          </select>
        </div>
      </div>
      <div class="control">
        <label class="label">Employee</label>
        <div class="select">
          <select v-model="currentEvent.user">
            <option
              v-for="(employee , index) in employees"
              :value="employee"
              :key="index"
            >{{ employee.first_name }} {{ employee.last_name }}</option>
          </select>
        </div>
      </div>
      <div
        v-if="formattedEvent.start && formattedEvent.end"
        class="control">
        <div class="field">
          <label class="label">Start</label>
          <div class="control">
            <input
              v-model="formattedEvent.start.date"
              class="input"
              type="text" >
            <input
              v-model="formattedEvent.start.hour"
              class="input"
              type="time" >
          </div>
        </div>
        <div class="field">
          <label class="label">End</label>
          <div class="control">
            <input
              v-model="formattedEvent.end.date"
              class="input"
              type="text" >
            <input
              v-model="formattedEvent.end.hour"
              class="input"
              type="time" >
          </div>
        </div>
        <div
          class="control"
          style="margin-top: 30px;">
          <button
            style="color:#FFFFFF"
            class="button is-primary"
            @click="updateSchedule(formattedEvent)"
          >Submit</button>
        </div>
        <div
          class="control"
          style="margin-top: 30px;">
          <button
            style="color:#FFFFFF"
            class="button is-primary"
            @click="removeSchedule(currentEvent.id)"
          >Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.scheduleModal {
  border: 1px solid #383838;
  padding: 30px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  min-width: 400px;
}
</style>

<script>
export default {
  props: ['domain'],
  data() {
    return {
      jobToggleClicked: true,
      runnerIsShown: true,
      runnerBackgroundColor: '#993d46',
      dispatcherIsShown: true,
      dispatcherBackgroundColor: '#386d32',
      courierIsShown: true,
      courierBackgroundColor: '#7357a5',
      updatedSearch: false,
      search: '',
      currentDate: null,
      newEvent: {
        start: {},
        end: {},
        endHour: '',
        employee: null,
        job_type: null,
      },
      currentEvent: {
        job: {},
        start: {},
        end: {},
        user: {},
      },
      formattedEvent: {},
      newScheduleModalIsShown: false,
      editScheduleModalIsShown: false,
      runnerPositions: [],
      employees: [],
      schedules: [],
      currentSchedules: [],
      config: {
        buttonText: {
          prev: '‹',
          next: '›',
        },
        views: {
          month: {
            buttonText: 'Month',
            titleFormat: 'MMMM YYYY',
          },
          agendaWeek: {
            buttonText: 'Week',
            titleFormat: 'MMMM D YYYY',
          },
          day: {
            type: 'agenda',
            duration: { days: 1 },
            buttonText: 'Day',
            titleFormat: 'MMMM D YYYY',
            columnHeader: false,
          },
          agendaDay: {
            resources: false,
          },
        },
        header: {
          left: '',
          center: 'prev, title, next',
          right: 'month, agendaWeek, day',
        },
        themeSystem: 'bootstrap4',
        contentHeight: 800,
        titleFormat: 'MMMM',
        timezone: 'America/Toronto',
        defaultView: 'month',
        eventRender(event, element) {},
      },
    };
  },
  computed: {
    schedulesUpdate() {
      if (this.search !== '') {
        if (this.updatedSearch === true) {
          this.schedules = this.getSearchedSchedules(this.search);
          this.updatedSearch = false;
        }
        return this.schedules;
      } if (this.search === '') {
        this.updatedSearch = false;
        return this.schedules;
      }
    },
  },
  watch: {
    search: {
      immediate: true,
      async handler(value) {
        if (value === '') {
          this.getSchedules();
        }
        this.updatedSearch = true;
      },
    },
    jobToggleClicked: {
      async handler(value) {
        this.getSchedules();
      },
    },
  },
  mounted() {
    this.getSchedules();
    this.getEmployees();
    this.getRunnerPositions();
  },
  methods: {
    editSchedule(event) {
      this.editScheduleModalIsShown = true;
      this.getSchedule(event.id);
    },
    closeScheduleModal() {
      this.newScheduleModalIsShown = false;
      this.editScheduleModalIsShown = false;
    },
    toggleScheduleModal(event) {
      if (this.currentDate !== event) {
        this.newScheduleModalIsShown = true;
        this.currentDate = event;
      } else {
        this.newScheduleModalIsShown = !this.newScheduleModalIsShown;
      }
      this.newEvent.start.date = moment(this.currentDate).format(
        'MMMM Do YYYY',
      );
      this.newEvent.start.hour = moment(this.currentDate).format(
        'HH:mm:ss',
      );
      this.newEvent.end.date = this.currentDate.format('MMMM Do YYYY');
      this.newEvent.end.hour = this.currentDate.format('HH:mm:ss');
    },
    jobTitle(title) {
      return title.split(' ').pop();
    },
    toggleRunners() {
      this.getRunners();
      this.jobToggleClicked = !this.jobToggleClicked;
      this.runnerIsShown = !this.runnerIsShown;
      if (!this.runnerIsShown) {
        this.runnerBackgroundColor = '#535365';
      } else {
        this.runnerBackgroundColor = '#993d46';
      }
    },
    toggleDispatchers() {
      this.getDispatchers();
      this.jobToggleClicked = !this.jobToggleClicked;
      this.dispatcherIsShown = !this.dispatcherIsShown;
      if (!this.dispatcherIsShown) {
        this.dispatcherBackgroundColor = '#535365';
      } else {
        this.dispatcherBackgroundColor = '#386d32';
      }
    },
    toggleCouriers() {
      this.getCouriers();
      this.jobToggleClicked = !this.jobToggleClicked;
      this.courierIsShown = !this.courierIsShown;
      if (!this.courierIsShown) {
        this.courierBackgroundColor = '#535365';
      } else {
        this.courierBackgroundColor = '#7357a5';
      }
    },
    getRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules?job_type=1`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getDispatchers() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules?job_type=2`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCouriers() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules?job_type=3`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleRunners(schedule) {
      if (this.schedulesShown === false) {
        for (let i = 0; i < schedule.length; i++) {
          this.hiddenSchedules.push(schedule[i]);
          if (schedule[i].backgroundColor === '#ff66ff') {
            this.schedule[i] = null;
          }
        }
      } else if (this.schedulesShown === true) {
        for (let j = 0; j < this.hiddenSchedules.length; j++) {
          this.schedule.push(hiddenSchedules[i]);
        }
      }
    },
    getRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules?job_type=1`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getDispatchers() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules?job_type=2`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCouriers() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules?job_type=3`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSchedules() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/schedules`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSearchedSchedules(name) {
      axios
        .get(`https://api.${this.domain}/dispatch/v2/schedules?q=${name}`)
        .then((response) => {
          this.showEditEventBox = false;
          this.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async updateSchedule(currentEvent) {
      let sentEvent = {};
      sentEvent = this.currentEvent;
      sentEvent.end = `${currentEvent.end.date} ${currentEvent.end.hour}`;
      sentEvent.start = `${currentEvent.start.date} ${currentEvent.start.hour}`;
      axios
        .put(
          `https://api.${this.domain}/dispatch/v2/schedules/${sentEvent.id}`,
          sentEvent,
        )
        .then((response) => {
          this.showEditEventBox = false;
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getEmployees() {
      axios
        .get(`https://api.${this.domain}/dispatch/v2/employees`)
        .then((response) => {
          this.employees = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createSchedule() {
      const sentEvent = {};
      sentEvent.employee = this.newEvent.employee;
      sentEvent.end = `${this.newEvent.end.date} ${this.newEvent.end.hour}`;
      sentEvent.job_type = this.newEvent.job_type;
      sentEvent.start = `${this.newEvent.start.date} ${this.newEvent.start.hour}`;
      axios
        .post(
          `https://api.${this.domain}/dispatch/v2/schedules/`,
          sentEvent,
        )
        .then((response) => {
          this.newScheduleModalIsShown = false;
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSchedule(eventId) {
      axios
        .get(`https://api.${this.domain}/dispatch/v2/schedules/${eventId}`)
        .then((response) => {
          this.currentEvent = response.data;
          const formattedEvent = {
            start: {
              date: '',
              hour: '',
            },
            end: {
              date: '',
              hour: '',
            },
          };

          formattedEvent.start.date = moment(this.currentEvent.start).format('MMMM Do YYYY');
          formattedEvent.start.hour = moment(this.currentEvent.start).format('HH:mm:ss');
          formattedEvent.end.date = moment(this.currentEvent.end).format('MMMM Do YYYY');
          formattedEvent.end.hour = moment(this.currentEvent.end).format('HH:mm:ss');

          this.formattedEvent = formattedEvent;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    removeSchedule(scheduleId) {
      axios
        .delete(
          `https://api.${this.domain}/dispatch/v2/schedules/${scheduleId}`,
        )
        .then((response) => {
          this.showEditEventBox = false;
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getRunnerPositions() {
      axios
        .get(`https://api.${this.domain}/dispatch/v2/runner-positions`)
        .then((response) => {
          this.runnerPositions = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
