<template>
  <div
    v-if="user.attributes"
    id="customer-information"
    style="padding: 25px;"
    class="customer-information">
    <div class="background">
      <div class="columns">
        <div class="left-side">
          <div>
            <div style="color: white; margin-top: 15px;">
              Customer Information
            </div>
          </div>
          <div class="box">
            <span class="title">
              Customer Number
            </span>
            <div
              style="margin-top: 20px;"
              class="text">
              {{ customerId }}
            </div>
          </div>
          <div
            v-click-outside="outsideTagInfo"
            class="box">
            <div style="display: flex;">
              <span
                style="flex: 22;"
                class="title">
                Tags
              </span>
              <img
                style="cursor: pointer;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbuttonWhite.svg"
                @click="toggleBadges">
              <div
                v-if="showingBadges"
                class="badge-box"
                style="">
                <div
                  v-for="(tag, index) in customerTags"
                  :key="index"
                  class="badges influencer-teal"
                  @click="saveUserBadge(tag)">
                  {{ tag.title }}
                </div>
              </div>
            </div>
            <div class="badges-wrap">
              <span
                v-for="(badge, index) in userBadges"
                :key="index"
                class="badges influencer-teal">
                {{ badge.attributes.title }}
                <div
                  style="position: relative; right: -11px;"
                  @click="deleteTag(badge.id)">
                  &times;
                </div>
              </span>
            </div>
          </div>
          <div class="box">
            <span class="title">
              Last Activity
            </span>
            <div
              style="margin-top: 20px;"
              class="text">
              <!-- {{ user.attributes.updated_at }} -->
            </div>
          </div>
          <div class="box">
            <span class="title">
              Customer Since
            </span>
            <div
              style="margin-top: 20px;"
              class="text">
              {{ user.attributes.createdAt | moment('LL') }}
            </div>
          </div>
          <div class="box">
            <span class="title">
              Facebook ID
            </span>
            <div
              style="margin-top: 20px;"
              class="text">
              {{ user.attributes.facebookId || 'n/a' }}
            </div>
          </div>
          <div class="box">
            <span class="title">
              Stripe ID
            </span>
            <div
              style="margin-top: 20px;"
              class="text">
              {{ user.attributes.stripeId }}
            </div>
          </div>
        </div>
        <div class="right-side">
          <div>
            <button
              style="margin-top: 15px;"
              class="login-btn"
              @click.stop="loginAsUser(customerId)">
              Login as customer
            </button>
          </div>

          <!-- contact info not edit -->
          <div
            v-if="!showingContactInfoEdit"
            style="grid-template-rows: 40px 50px 35px; display: grid;"
            class="box">
            <div style="display: flex;">
              <span
                style="flex:22;"
                class="title">
                Contact Information
              </span>
              <span
                class="editBtn"
                style="border: 1px #9E9E9E solid; color: #9E9E9E;"
                @click="toggleContactInfoEdit">
                Edit
              </span>
            </div>
            <div>
              <div style="text-align: center; padding-top: 10px; display: inline-block; color: #FFFFFF; border-radius: 100%; background-color: #50506a; width: 40px; height: 40px;">
                {{ user.attributes.firstName[0] }}
              </div>
              <span style="color: #FFFFFF; font-size: 16px; margin-left: 20px;">
                {{ user.attributes.firstName + ' ' + user.attributes.lastName }}
              </span>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; margin-left: 65px;">
              <div>
                <div class="title">
                  Date of Birth
                </div>
                <div class="text">
                  {{ user.attributes.dateOfBirth | moment('LL') }}
                </div>
              </div>
              <div>
                <div class="title">
                  Gender
                </div>
                <div class="text">
                  {{ user.attributes.gender || 'n/a' }}
                </div>
              </div>
              <div style="padding-top: 20px;">
                <div class="title">
                  Phone Number
                </div>
                <div class="text">
                  {{ user.attributes.phoneNumber | phoneNumber }}
                </div>
              </div>
              <div style="padding-top: 20px;">
                <div class="title">
                  Email
                </div>
                <div class="text">
                  {{ user.attributes.email }}
                </div>
              </div>
            </div>
          </div>

          <!-- edit contact info -->
          <div
            v-if="showingContactInfoEdit"
            style="grid-template-rows: 40px 50px 35px;"
            class="box">
            <div style="display: flex;">
              <span
                style="flex:22;"
                class="title">
                Contact Information
              </span>
              <span
                class="editBtn"
                style="flex: 5; border: 1px #9E9E9E solid; color: #9E9E9E;"
                @click="closeContactInfoEdit">
                Cancel
              </span>
              <span
                class="editBtn"
                style="margin-left: 25px; flex: 5; border: 1px #F83F41 solid !important; color: #FFFFFF; background-color: #F83F41;"
                @click="saveContactInfoEdits">
                Save
              </span>
            </div>
            <div>
              <div style="text-align: center; padding-top: 10px; display: inline-block; color: #FFFFFF; border-radius: 100%; background-color: #50506a; width: 40px; height: 40px;">
                {{ user.attributes.firstName[0] }}
              </div>
              <input
                v-model="user.attributes.firstName"
                style="color: #FFFFFF; font-size: 16px; margin-left: 20px;">
              <input
                v-model="user.attributes.lastName"
                style="color: #FFFFFF; font-size: 16px; margin-left: 20px;">
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr; margin-left: 65px;">
              <div>
                <div class="title">
                  Date of Birth
                </div>
                <input
                  v-model="user.attributes.dateOfBirth"
                  type="date"
                  class="text">
              </div>
              <div>
                <div class="title">
                  Gender
                </div>
                <select v-model="user.attributes.gender">
                  <option
                    disabled
                    value="">Please select one</option>
                  <option>male</option>
                  <option>female</option>
                  <option>other</option>
                </select>
              </div>
              <div style="padding-top: 20px;">
                <div class="title">
                  Phone Number
                </div>
                <the-mask
                  v-model="user.attributes.phoneNumber"
                  mask="###-###-####"
                  class="text"
                  placeholder="Phone Number..."
                  type="tel"/>
              </div>
              <div style="padding-top: 20px;">
                <div class="title">
                  Email
                </div>
                <input
                  v-model=" user.attributes.email"
                  class="text">
              </div>
            </div>
          </div>

          <!-- not showing reward pts edit -->
          <div
            v-if="!showingRewardPtsEdit"
            class="box">
            <div
              style="display: flex;">
              <span
                style="flex:22;"
                class="title">
                Reward Points
              </span>
              <span
                class="editBtn"
                @click="toggleRewardPtsEdit">
                Edit
              </span>
            </div>
            <div style="color: #FFFFFF; margin-top: 20px;">
              {{ user.attributes.rewardPoints }}
            </div>
          </div>

          <!-- editing reward pt -->
          <div
            v-if="showingRewardPtsEdit"
            class="box">
            <div
              style="display: flex;">
              <span
                style="flex:22;"
                class="title">
                Reward Points
              </span>
              <span
                class="editBtn"
                style="flex: 5; border: 1px #9E9E9E solid; color: #9E9E9E;"
                @click="closeRewardPtsEdit">
                Cancel
              </span>
              <span
                class="editBtn"
                style="margin-left: 25px; flex: 5; border: 1px #F83F41 solid !important; color: #FFFFFF; background-color: #F83F41;"
                @click="">
                Save
              </span>
            </div>
          </div>


          <!-- not showing notes edit -->
          <div
            v-if="!showingNotesEdit"
            class="box">
            <div
              style="display: flex;">
              <span
                style="flex:22;"
                class="title">
                Notes
              </span>
              <span
                class="editBtn"
                @click="toggleNotesEdit">
                Edit
              </span>
            </div>
            <div>
              <moon-loader
                :loading="isLoading"
                style="margin-left: 44%; padding-top: 20px; padding-bottom: 20px;"
                color="#ffffff"
                size="30px" />
              <ul
                v-if="!isLoading"
                id=""
                class="text-xs text-white p-15 w-full"
                style="background-color: #3c3c4c; margin-bottom: 10px;"
                name="">
                <li
                  v-for="(notes, index) in user.attributes.notes[0]"
                  :key="index"
                  class="mb-10 mr-5"
                  @mouseover="upHere = true"
                  @mouseleave="upHere = false">
                  {{ notes.created_at | moment('MMMM D, h:mm:ss a') }} {{ '- ' + notes.title + ' - ' + notes.body }}
                  <span
                    v-show="upHere"
                    class="cursor-pointer"
                    @click="deleteNote(notes.id)">
                    &#10005;
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <!-- showing notes edit -->
          <div
            v-if="showingNotesEdit"
            class="box">
            <div
              style="display: flex;">
              <span
                style="flex:22;"
                class="title">
                Notes
              </span>
              <span
                class="editBtn"
                style="flex: 5; border: 1px #9E9E9E solid; color: #9E9E9E;"
                @click="closeNotesEdit">
                Cancel
              </span>
              <span
                class="editBtn"
                style="margin-left: 25px; flex: 5; border: 1px #F83F41 solid !important; color: #FFFFFF; background-color: #F83F41;"
                @click="notesApplyEdit">
                Save
              </span>
            </div>
            <input
              v-model="newNotesTitle"
              placeholder="Title..."
              style="background-color: #484a4e;">
            <textarea
              v-model="newNotes"
              style="width: 100%; height: 70%; margin-top: 10px; border: 1px #9E9E9E solid; border-radius: 4px; background-color: #3C3C4C;"
              placeholder="Type something..."/>
          </div>
        </div>
      </div>
      <div
        v-if="!showingAddressEdit"
        class="rows">
        <div
          style="margin-top: 15px;"
          class="row-text">
          <div
            class="title"
            style="font-size: 18px; padding: 20px;">
            Address
          </div>
          <div class="row-table-header">
            <div class="title">
              Default
            </div>
            <div class="title">
              Unit
            </div>
            <div class="title">
              Instructions
            </div>
            <div class="title">
              Address
            </div>
            <div class="title"/>
          </div>
          <div
            v-for="(address, index) in userAddress"
            :key="index"
            class="row-table">
            <div>
              <img
                v-show="address.attributes.selected === 1"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCheckmark.svg">
            </div>
            <div>
              {{ address.attributes.unitNumber || '-' }}
            </div>
            <div>
              {{ address.attributes.instructions }}
            </div>
            <div>
              {{ address.attributes.formattedAddress }}
            </div>
            <div>
              <span
                class="editBtn"
                style="border: 1px #9E9E9E solid; color: #9E9E9E;"
                @click="toggleAddressEdit(address.id, index)">
                Edit
              </span>
            </div>
          </div>
        </div>
        <div
          style="margin-top: 15px;"
          class="row-text">
          <div
            class="title"
            style="font-size: 18px; padding: 20px;">
            Orders
          </div>
          <div class="row-table-header">
            <div class="title">
              Order #
            </div>
            <div class="title">
              Date
            </div>
            <div class="title">
              Time
            </div>
            <div class="title">
              Status
            </div>
            <div class="title"/>
          </div>
          <div
            v-for="(order, index) in userOrders"
            :key="index"
            class="row-table">
            <div>
              {{ order.id || '-' }}
            </div>
            <div>
              {{ order.created_at | moment('LL') }}
            </div>
            <div>
              {{ order.created_at | moment('hh:mm:s') }}
            </div>
            <div>
              <img
                v-if="order.status !== 5"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCheckmark.svg">
              <img
                v-if="order.status === 5"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCrossmark.svg">
            </div>
            <div>
              <a
                :href="`/past-orders/${order.id}`"
                class="editBtn"
                style="border: 1px #9E9E9E solid; color: #9E9E9E;">
                View
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        v-else-if="showingAddressEdit"
        class="rows">
        <div
          style="margin-top: 15px;"
          class="row-text">
          <div
            class="title"
            style="font-size: 18px; padding: 20px;">
            Address
          </div>
          <div class="row-table-header">
            <div class="title">
              Default
            </div>
            <div class="title">
              Unit
            </div>
            <div class="title">
              Instructions
            </div>
            <div class="title">
              Address
            </div>
            <div class="title"/>
          </div>
          <div
            v-for="(address, index) in userAddress"
            :key="index"
            class="row-table">
            <div>
              <img
                v-show="address.attributes.selected === 1"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCheckmark.svg">
            </div>
            <input
              v-model="address.attributes.unitNumber"
              :placeholder="address.attributes.unitNumber || ''"
              class="mr-15"
              style="color: #FFFFFF; font-size: 16px;">
            <input
              v-model="address.attributes.instructions"
              :placeholder="address.attributes.instructions || ''"
              class="mr-15"
              style="color: #FFFFFF; font-size: 16px;">
            <input
              id="addressInput"
              ref="addressInput"
              :placeholder="address.attributes.formattedAddress || ''"
              class="mr-15"
              autocomplete="new-password"
              style="color: #FFFFFF; font-size: 16px;"
              @focus="bindAutoComplete">
            <div>
              <span
                class="editBtn"
                style="border: 1px #9E9E9E solid; color: #9E9E9E;"
                @click="closeAddressEdit">
                Close
              </span>
              <span
                class="editBtn"
                style="margin-left: 25px; flex: 5; border: 1px #F83F41 solid !important; color: #FFFFFF; background-color: #F83F41;"
                @click="saveAddressEdits">
                Save
              </span>
            </div>
          </div>
        </div>
        <div
          style="margin-top: 15px;"
          class="row-text">
          <div
            class="title"
            style="font-size: 18px; padding: 20px;">
            Orders
          </div>
          <div class="row-table-header">
            <div class="title">
              Order #
            </div>
            <div class="title">
              Date
            </div>
            <div class="title">
              Time
            </div>
            <div class="title">
              Status
            </div>
            <div class="title"/>
          </div>
          <div
            v-for="(order, index) in userOrders"
            :key="index"
            class="row-table">
            <div>
              {{ order.id || '-' }}
            </div>
            <div>
              {{ order.created_at | moment('LL') }}
            </div>
            <div>
              {{ order.created_at | moment('hh:mm:s') }}
            </div>
            <div>
              <img
                v-if="order.status !== 5"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCheckmark.svg">
              <img
                v-if="order.status === 5"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCrossmark.svg">
            </div>
            <div>
              <span
                class="editBtn"
                style="border: 1px #9E9E9E solid; color: #9E9E9E;">
                View
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="!isLoading"
      class="pagination-wrap">
      <pagination
        :meta="meta"
        class="pagination"
        @next="getUserOrders"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.badges-wrap {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: center;
  padding: 15px;
  .badges {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 15px;
  }
  .badges:last-child {
    margin-right: 0px;
  }
}
.login-btn {
  font-size: 12px;
  background-color: #F83F41;
  border: 1px solid red;
  height: 25px;
  width: 172px;
  border-radius: 19px;
  border: 1px solid #979797;
  color: white;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
}
#customer-information {
  background-color: #3c3c4c;
  .background{
    height: 100%;
    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }
    .rows {
      display: grid;
      .row-text {
        border: 1px #252629 solid;
      }
      .row-table {
        color: #FFFFFF;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
        border-bottom: 1px #252629 solid;
        padding: 10px 0px 10px 25px;
      }
      .row-table-header {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
        padding: 0px 0px 20px 23px;
      }
    }
  }
  input {
    background-color: #26262E;
  }
}
.left-side {
  display: grid;
  grid-template-rows: 1fr repeat(6, 2fr);
}
.right-side {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 5fr;
}
.title {
  color: #9E9E9E;
}
.text {
  color: white;
  font-size: 13px;
}
.box {
  border: 1px #252629 solid;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
}
.editBtn {
  width: 61px;
  border: 1px solid rgb(158, 158, 158);
  color: rgb(158, 158, 158);
  height: 25px;
  border-radius: 19px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.badge-box {
  height: 225px;
  width: 151px;
  border: 1px solid #252629;
  border-radius: 8px;
  background-color: #3C3C4C;
  position: absolute;
  left: 50%;
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  z-index: 100;
}
.badges{
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 25px;
  border-radius: 19px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: white;
  justify-self: center;
}
  .influencer-teal {
    border: 1px #16C5B5 solid;
    background-color: #16C5B5;
  }
  .vip {
    border: 1px #16C5B5 solid;
    background-color: #16C5B5;
  }
  .investor {
    border: 1px  #32C941 solid;
    background-color: #32C941;
  }
  .business {
    border: 1px #F6A648 solid;
    background-color: #F6A648;
  }
  .influencer-pink {
    border: 1px #F44B86 solid;
    background-color: #F44B86;
  }

</style>

<script>
import draggable from 'vuedraggable';
import api from '../mixins/api';

export default {
  filters: {
    phoneNumber(value) {
      return value.replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: [
    'domain',
    'customerId',
  ],
  data() {
    return {
      upHere: false,
      newNotesTitle: '',
      newNotes: '',
      user: {},
      userAddress: [],
      userOrders: [],
      userBadges: [],
      customerTags: [],
      showingContactInfoEdit: false,
      showingRewardPtsEdit: false,
      showingNotesEdit: false,
      showingBadges: false,
      showingAddressEdit: false,
      meta: {
        current_page: 1,
        last_page: null,
        prev: null,
      },
      isLoading: false,
      noPostalCode: false,
      noPostalAddress: '',
      addressIsOutOfBounds: false,
      addressPayload: {},
      currentAddressIndex: 0,
    };
  },
  async mounted() {
    await this.getCustomerTags();
    await this.getUserInformation();
    await this.getUserAddress();
    await this.getUserOrders(this.meta.current_page);
    await this.getUserBadges();
  },
  methods: {
    saveContactInfoEdits() {
      try {
        this.showingContactInfoEdit = false;
        this.isLoading = true;
        axios({
          method: 'put',
          url: `https://api.${this.domain}/dispatch/v2/users/${this.customerId}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', {
              domain: window.domain,
            })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
          data: {
            user: {
              firstName: this.user.attributes.firstName,
              lastName: this.user.attributes.lastName,
              dateOfBirth: this.user.attributes.dateOfBirth,
              phoneNumber: this.user.attributes.phoneNumber,
              email: this.user.attributes.email,
              gender: this.user.attributes.gender ? this.user.attributes.gender : '',
            },
          },
        }).then(() => {
          this.getUserInformation();
          this.isLoading = false;
        })
          .catch((error) => {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    notesApplyEdit() {
      this.notesIsEditable = false;
      this.isLoading = true;
      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/user/${this.customerId}/notes`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            attributes: {
              title: this.newNotesTitle,
              body: this.newNotes,
            },
          },
        },
      }).then(() => {
        this.getUserInformation();
        this.newNotes = '';
        this.newNotesTitle = '';
        this.showingNotesEdit = false;
        this.isLoading = false;
      })
        .catch((error) => {
          console.log(error);
        });
    },
    loginAsUser(userId) {
      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/login/${userId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      }).then((res) => {
        console.log(res);
        this.$cookie.set('token', res.data.data.attributes.accessToken, { domain: window.domain });
        this.$cookie.set('userId', res.data.data.attributes.user.id, { domain: window.domain });
        location.href = `https://www.${window.domain}/`;
      })
        .catch((error) => {
          console.log(error);
        });
    },
    outsideTagInfo() {
      this.showingBadges = false;
    },
    toggleBadges() {
      this.showingBadges = !this.showingBadges;
    },
    toggleContactInfoEdit() {
      this.showingContactInfoEdit = true;
    },
    toggleRewardPtsEdit() {
      this.showingRewardPtsEdit = true;
    },
    toggleNotesEdit() {
      this.showingNotesEdit = true;
    },
    toggleAddressEdit(addressId, addressIndex) {
      this.showingAddressEdit = true;
      this.currentAddressId = addressId;
      this.currentAddressIndex = addressIndex;
    },
    closeContactInfoEdit() {
      this.showingContactInfoEdit = false;
      this.getUserInformation();
    },
    closeRewardPtsEdit() {
      this.showingRewardPtsEdit = false;
    },
    closeNotesEdit() {
      this.showingNotesEdit = false;
    },
    closeAddressEdit() {
      this.showingAddressEdit = false;
    },
    getUserInformation() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/users/${this.customerId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.user = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCustomerTags() {
      try {
        axios({
          method: 'get',
          url: `https://api.${this.domain}/dispatch/v2/tags?type=customer`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
        })
          .then((response) => {
            this.customerTags = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    getUserBadges() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/user/${this.customerId}/tags`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.userBadges = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    saveUserBadge(tag) {
      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/user/${this.customerId}/tags`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            attributes: tag,
          },
        },
      }).then(() => {
        this.getUserInformation();
        this.toggleBadges();
        this.getUserBadges();
      })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteTag(id) {
      axios({
        method: 'delete',
        url: `https://api.${this.domain}/dispatch/v2/user/${this.customerId}/tags/${id}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      }).then(() => {
        this.getUserInformation();
        this.getUserBadges();
      })
        .catch((error) => {
          console.log(error);
        });
    },
    getUserAddress() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/addresses?userId=${this.customerId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.userAddress = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUserOrders(page) {
      this.isLoading = true;
      if (page === undefined) {
        page = 1;
      }
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/users/${this.customerId}/orders?page=${page}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.userOrders = response.data.data;
          const results = response.data;
          function getPagingRange(
            current,
            { min = 1, total = 20, length = 5 } = {},
          ) {
            if (length > total) length = total;

            let start = current - Math.floor(length / 2);
            start = Math.max(start, min);
            start = Math.min(start, min + total - length);

            return Array.from({ length }, (el, i) => start + i);
          }
          this.meta.current_page = response.data.current_page;
          this.meta.last_page = response.data.last_page;
          this.meta.prev = response.data.prev_page_url;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    bindAutoComplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
			    (document.getElementById('addressInput')),
			    {
			      bounds: cityBounds,
			      types: [
					    'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
    },
    pipeAddress() {
      const place = this.autocomplete.getPlace();
      if (!place.postalCode) {
        this.noPostalCode = true;
        this.noPostalAddress = place.address_components[0].long_name;
        if (this.postalCode) {
          place.postalCode = this.postalCode;
        }
      } else {
        this.noPostalCode = false;
      }
      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i += 1) {
          if (place.address_components[i].types[0] === 'postal_code' || this.postalCode) {
            place.lat = place.geometry.location.lat();
            place.lng = place.geometry.location.lng();
            if (!this.noPostalAddress || !this.postalCode) {
              this.postalCode = place.address_components[i].long_name;
            }
            place.postalCode = this.postalCode;
            const payload = {
              data: {
                type: 'user addresses',
                attributes: {
                  formattedAddress: place.formatted_address,
                  placeId: place.place_id,
                  lat: place.lat,
                  lng: place.lng,
                  postalCode: place.postalCode,
                  unitNumber: '',
                  instructions: '',
                },
              },
            };
            this.addressPayload = payload;
          }
        }
      } else {
        alert('ERROR');
      }
    },
    async saveAddressEdits() {
      try {
        this.addressPayload.data.attributes.unitNumber = this.userAddress[this.currentAddressIndex].attributes.unitNumber;
        this.addressPayload.data.attributes.instructions = this.userAddress[this.currentAddressIndex].attributes.instructions;
        await axios.put(`https://api.${this.domain}/dispatch/v2/users/${this.customerId}/addresses/${this.currentAddressId}`, this.addressPayload)
          .catch((error) => {
            console.log(error);
          });
        location.reload();
      } catch (error) {
        console.log(error);
      }
    },
    async deleteNote(noteId) {
      try {
        await axios.delete(`https://api.${this.domain}/dispatch/v2/user/${this.customerId}/notes/${noteId}`)
          .catch((error) => {
            console.log(error);
          });
        this.getUserInformation();
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
