<template class="app">
  <div
    id="customers-table"
    class="customers-table"
  >
    <div
      style="position: absolute; top: 65px; left: 20%;"
      class="search-bar">
      <img
        style="width: 20px; position: relative; left:35px;"
        type="image"
        name="image"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561486098/Dispatch/DistpatchIconSearch.svg"
        width="10px"
      >
      <input
        v-model="search"
        style="padding-left: 35.5px;background-color: #26262E; width: 376px; padding-top: 9px; padding-bottom: 9px; border-radius:150px; color:white; font-size:12px;"
        placeholder="Search By Name..."
      >
      <button
        class="viewBtn"
        style="width: 85px; padding-top: 7px; padding-bottom: 7px; font-size: 14px;"
        @click.stop="getSearchedUsers(search)">
        Search
      </button>
    </div>
    <div
      v-if="isLoading"
      class="">
      <moon-loader
        :loading="isLoading"
        color="#ffffff"
        size="30px" />
    </div>
    <div
      v-if="!isLoading"
      class="table">
      <thead class="header">
        <tr>
          <th class="title">Name</th>
          <th class="title">Phone Number</th>
          <th class="title">Email</th>
          <th class="title">Join Date</th>
        </tr>
      </thead>
      <div
        v-for="(user, index) in usersUpdate"
        :key="index">
        <table>
          <tbody>
            <tr class="rowTr">
              <td
                class="info"
              >{{ user.first_name + ' ' + user.last_name }}</td>
              <td
                class="info">
                {{ user.phone_number | phoneNumber }}
              </td>
              <td
                class="info"
              >
                {{ user.email }}
              </td>
              <td class="info">
                {{ user.created_at | moment('LL') }}
              </td>
              <a
                :href="'customers/' + user.id"
                class="viewBtn">
                View
              </a>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="!isLoading"
      class="pagination-wrap">
      <pagination
        :meta="meta"
        class="pagination"
        @next="getUsers"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.pagination-wrap {
  padding-left: 0% !important;
}
.customers-table {
  height: 100vh;
  background-color: #3C3C4C;
  justify-content: center;
  display: grid;
  align-items: center;
}
.table {
  background-color: #3C3C4C;
  display: grid;
  overflow-y: scroll;
  height: 90%;
  margin-top: 12%;
  .header {
    width: 955px;
    padding-left: 8px;
    tr {
      display: flex;
      .title {
        flex: 1;
      }
    }
  }
  .rowTr {
    display: flex;
  }
}
th,
td {
  text-align: left;
}
td {
  padding: 10px;
}
table {
  overflow-x: auto;
  width: 1000px;
}
th {
  font-size: 16px;
  font-weight: normal;
}
.wrap {
  height: 100vh;
}
.title {
  color: #9e9e9e;
}
.rowTr {
  border-bottom: 1px solid #2a2a36;
}
#textDate {
  padding-top: 8px;
  padding-left: 36px;
}
.info {
  color: #ffffff;
  flex: 1;
}
.viewBtn {
  font-size: 12px;
  border: 1px solid red;
  border-radius: 150px;
  border: 1px solid #979797;
  color: #979797;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  :focus {
    outline: none;
  }
  .logo {
    height: 20px;
    width: 20px;
  }
}
</style>

<script>
export default {
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  props: ['domain'],
  data() {
    return {
      selectedOrder: {},
      users: [],
      isLoading: false,
      meta: {
        current_page: 1,
        last_page: null,
        prev: null,
      },
      search: '',
      updatedSearch: false,
    };
  },
  computed: {
    usersUpdate() {
      // if (this.search !== '') {
      //   if (this.updatedSearch === true) {
      //     this.users = this.getSearchedUsers(this.search);
      //     this.updatedSearch = false;
      //   }
      //   return this.users;
      // } if (this.search === '') {
      //   this.updatedSearch = false;
      //   return this.users;
      // }
      return this.users;
    },
  },
  // watch: {
  //   search: {
  //     immediate: true,
  //     async handler(value) {
  //       if (value === '') {
  //         this.getUsers();
  //       }
  //       this.updatedSearch = true;
  //     },
  //   },
  // },
  async mounted() {
    this.getUsers(this.meta.current_page);
  },
  methods: {
    toggleOrderInfo(order) {
      this.orderInfoIsShown = !this.orderInfoIsShown;
      this.selectedOrder = order;
    },
    loginAsUser(userId) {
      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/login/${userId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      }).then((res) => {
        console.log(res);
        this.$cookie.set('token', res.data.data.attributes.accessToken, { domain: window.domain });
        this.$cookie.set('userId', res.data.data.attributes.user.id, { domain: window.domain });
        location.href = `https://www.${window.domain}/`;
      })
        .catch((error) => {
          console.log(error);
        });
    },
    getSearchedUsers(name) {
      this.isLoading = true;
      axios
        .get(`https://api.${this.domain}/dispatch/v2/users?search=${name}`)
        .then((response) => {
          this.users = response.data.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUsers(page) {
      this.isLoading = true;
      if (page === undefined) {
        page = 1;
      }
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/users?page=${page}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          const results = response.data.data;
          this.users = results;
          function getPagingRange(
            current,
            { min = 1, total = 20, length = 5 } = {},
          ) {
            if (length > total) length = total;

            let start = current - Math.floor(length / 2);
            start = Math.max(start, min);
            start = Math.min(start, min + total - length);

            return Array.from({ length }, (el, i) => start + i);
          }

          this.meta.current_page = response.data.current_page;
          this.meta.last_page = getPagingRange(this.meta.current_page, {
            min: 1,
            total: response.data.total,
            length: 10,
          });
          this.meta.prev = response.data.prev_page_url;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
