<template>
  <div
    id="map"
    class="map min-h-full z-30 fixed"
    style="left: 385px; top: 45px;">
    <div
      :class="{'bg-toggled': mapToggled}"
      class="bg-red border-sm p-15 cursor-pointer"
      @click="mapToggled = !mapToggled">
      TOGGLE MAP
    </div>
    <gmap-map
      v-if="mapToggled"
      ref="gmap"
      :center="{ lat:chosenPosition.latitude - 0.01, lng:chosenPosition.longitude + 0.05 }"
      :zoom="$store.state.zoomLevel"
      :options="options"
      class="map z-50"
    >
      <!-- runners -->
      <div>
        <gmap-marker
          v-for="(m, index) in markersRunnersUpdate"
          :key="index"
          :position="m.position"
          :clickable="true"
          :icon="m.icon"
          @click="toggleRunnerInfo(m)"
        />
        <div v-if="showingRunnerInfo">
          <GmapInfoWindow
            :position="runnerInfoPosition"
            :options="{
              pixelOffset: {
                width: 0,
                height: -35
              }
          }">
            <div>
              Runner/Courier ID: #{{ runnerInfoID }}
            </div>
            <div>
              Full Name: {{ runnerInfoFirstName + ' ' + runnerInfoLastName }}
            </div>
          </GmapInfoWindow>
        </div>
      </div>
      <!-- <div>
        <gmap-marker
          v-for="(m, index) in markersRunnersShadowUpdate"
          :key="index"
          :position="m.position"
          :icon="m.icon"
          @click="center = m.position"
        />
      </div> -->
      <!-- inventories -->
      <div>
        <div v-if="showingStoreInfo">
          <GmapInfoWindow
            :position="storeInfo.position"
            :options="{
              pixelOffset: {
                width: 0,
                height: -35
              }
          }">
            <div v-if="storeInfo.store.hours">
              Hours: {{ storeInfo.store.hours }}
            </div>
            <div v-else>
              Hours: Not available
            </div>
            <div>
              Store: {{ storeInfo.vendor }}
            </div>
            <div>
              Location: {{ storeInfo.location.address }}
            </div>
          </GmapInfoWindow>
        </div>
        <gmap-marker
          v-for="(m, index) in markersInventoriesUpdate"
          :key="index"
          :position="m.position"
          :clickable="true"
          @click="toggleStoreInfo(m)"
        />
      </div>
      <div v-if="activeTab === 'scheduled'">
        <div v-if="showingScheduledOrderInfo">
          <GmapInfoWindow
            :position="scheduledOrderInfoPosition"
            :options="{
              pixelOffset: {
                width: 0,
                height: -35
              }
          }">
            <div>
              ID: #{{ scheduledOrderInfoID }}
            </div>
            <div>
              Full Name: {{ scheduledOrderInfoFirstName + ' ' + scheduledOrderInfoLastName }}
            </div>
          </GmapInfoWindow>
        </div>
        <gmap-marker
          v-for="(m, index) in markersScheduledUpdate"
          :key="index"
          :position="m.position"
          :clickable="true"
          :label="{text: String(m.label), color: '#000000'}"
          :icon="{path: 'M17.5,33 C25.1666667,24.3635401 29,17.9052068 29,13.625 C29,7.20468978 23.8512746,2 17.5,2 C11.1487254,2 6,7.20468978 6,13.625 C6,17.9052068 9.83333333,24.3635401 17.5,33 Z', origin: {x: 0, y: 0}, anchor:{x: 18, y: 30}, scaledSize:{x:25, y:25}, fillColor: '#FFFFFF', fillOpacity: 1, strokeWeight: 0, scale: 1.2, labelOrigin: {x: 18, y: 15}}"
          @click="toggleScheduledOrderInfo(m)"
        />
      </div>
      <div v-if="activeTab === 'current'">
        <div v-if="showingTaskInfo">
          <GmapInfoWindow
            :position="taskInfoPosition"
            :options="{
              pixelOffset: {
                width: 0,
                height: -35
              }
            }"
          >
            <div>
              ID: #{{ taskInfoID }}
            </div>
            <div>
              Full Name: {{ taskInfoFirstName + ' ' + taskInfoLastName }}
            </div>
          </GmapInfoWindow>
        </div>
        <div
          v-for="(m, index) in taskOrderUpdate"
          :key="index">
          <!-- <gmap-cluster> -->
          <gmap-marker
            :position="m.position"
            :clickable="true"
            :label="{text: String(m.label), color: '#fff'}"
            :icon="{path: 'M17.5,33 C25.1666667,24.3635401 29,17.9052068 29,13.625 C29,7.20468978 23.8512746,2 17.5,2 C11.1487254,2 6,7.20468978 6,13.625 C6,17.9052068 9.83333333,24.3635401 17.5,33 Z', origin: {x: 0, y: 0}, anchor:{x: 18, y: 30}, scaledSize:{x:25, y:25}, fillColor: taskOrderUpdate[index].color, fillOpacity: 1, strokeWeight: 0, scale: 1.2, labelOrigin: {x: 18, y: 15}}"
            @click="toggleTaskInfo(m)"
          />
          <!-- </gmap-cluster> -->
          <!-- <div
            v-for="(p, index) in polylines"
            :key="index">
            <gmap-polyline
              v-for="(info, index) in p"
              :key="index"
              :clickable="true"
              :path.sync="p"
              :options="{ panBy: {x: 200, y: 100}, strokeColor:info.color || '#fe6e00', fillOpacity: 0.2, strokeWeight: 0.4 }"
              @click="polyLineInfo(p)"/>
          </div> -->
        </div>
      </div>
      <!-- unassigned current -->
      <div v-if="activeTab === 'current'">
        <div v-if="showingOrderInfo">
          <GmapInfoWindow
            :position="orderInfoPosition"
            :options="{
              pixelOffset: {
                width: 0,
                height: -35
              }
          }">
            <div>
              ID: #{{ orderInfoID }}
            </div>
            <div>
              Full Name: {{ orderInfoFirstName + ' ' + orderInfoLastName }}
            </div>
          </GmapInfoWindow>
        </div>
        <!-- <gmap-cluster
          :zoom-on-click="false"
          :styles="mcOptions.styles"
          @click=""
        > -->
        <gmap-marker
          v-for="(m, index) in unassignedOrderUpdate"
          :key="index"
          :position="m.position"
          :clickable="true"
          :label="{text: String(index+1), color: '#000000'}"
          :icon="{path: 'M17.5,33 C25.1666667,24.3635401 29,17.9052068 29,13.625 C29,7.20468978 23.8512746,2 17.5,2 C11.1487254,2 6,7.20468978 6,13.625 C6,17.9052068 9.83333333,24.3635401 17.5,33 Z', origin: {x: 0, y: 0}, anchor:{x: 18, y: 30}, scaledSize:{x:25, y:25}, fillColor: '#FFFFFF', fillOpacity: 1, strokeWeight: 0, scale: 1.2, labelOrigin: {x: 18, y: 15}}"
          @click="toggleOrderInfo(m)"
        />
        <!-- </gmap-cluster> -->
      </div>
    </gmap-map>
  </div>
</template>

<style lang="scss" scoped>
.bg-toggled {
  opacity: 0.5;
}
.map {
  height: 100%;
  width: 100%;
}
</style>

<script>
import mapStyle from '../mapStyle.json';

export default {
  props: [
    'domain',
    'activeTab',
    'zoomLevel',
    'chosenPosition',
    'scheduleTabToggled',
    'current',
    'unassignedCurrent',
    'scheduled',
  ],
  data() {
    return {
      mapToggled: false,
      mcOptions: {
        styles: [{
          url: 'https://googlemaps.github.io/js-marker-clusterer/images/m1.png',
          width: 54,
          height: 53,
          textColor: 'white',
        }],
      },
      currentStoreInfo: {},
      currentRunnerInfoShowing: {},
      currentTaskInfoShowing: {},
      currentOrderInfoShowing: {},
      currentScheduledOrderInfoShowing: {},
      runnerInfoPosition: {},
      runnerInfoFirstName: '',
      runnerInfoLastName: '',
      runnerInfoID: null,
      storeInfo: {},
      taskInfoPosition: {},
      taskInfoFirstName: '',
      taskInfoLastName: '',
      taskInfoID: null,
      orderInfoPosition: {},
      orderInfoFirstName: '',
      orderInfoLastName: '',
      orderInfoID: null,
      scheduledOrderInfoPosition: {},
      scheduledOrderInfoFirstName: '',
      scheduledOrderInfoLastName: '',
      scheduledOrderInfoID: null,
      showingRunnerInfo: false,
      showingTaskInfo: false,
      showingOrderInfo: false,
      showingScheduledOrderInfo: false,
      showingStoreInfo: false,
      path: [],
      inventories: [],
      colours: {},
      runnersLocation: [],
      runnersLocationShadow: [],
      wayPtArr: [],
      options: {
        draggable: true,
        scrollwheel: true,
        disableDoubleClickZoom: false,
        styles: mapStyle,
        disableDefaultUI: true,
        directionDisplay: null,
        stepDisplay: null,
        markerArray: [],
      },
      markersRunnersShadow: [],
      markersRunners: [],
      markersInventories: [],
      markersScheduled: [],
      markersCurrent: [],
      markersUnassignedCurrent: [],
    };
  },
  computed: {
    polylines() {
      const groupedByContainer = _.groupBy(this.path, path => path.id);
      const containerArray = Object.keys(groupedByContainer).map(key => groupedByContainer[key]);
      return containerArray;
    },
    markersRunnersUpdate() {
      if (this.$store.state.updated === true) {
        this.getRunnersLocation();
      }
      return this.markersRunners;
    },
    // markersRunnersShadowUpdate() {
    //   if (this.$store.state.updated === true) {
    //     this.getRunnersLocationShadow();
    //   }
    //   return this.markersRunnersShadow;
    // },
    markersInventoriesUpdate() {
      if (this.$store.state.updated === true) {
        this.getInventories();
      }
      return this.markersInventories;
    },
    markersScheduledUpdate() {
      if (this.scheduleTabToggled) {
        this.isLoading = false;
        this.markersScheduled = [];
        // gets the lat lng from each order
        for (let i = 0; i < this.$store.getters.getScheduledOrders.length; i++) {
          this.markersScheduled.push({
            label: this.markersScheduled.length + 1,
            position: {
              lat: this.$store.getters.getScheduledOrders[i].address.lat,
              lng: this.$store.getters.getScheduledOrders[i].address.lng,
            },
            orderNum: this.$store.getters.getScheduledOrders[i].id,
            customerFirstName: this.$store.getters.getScheduledOrders[i].customer.first_name,
            customerLastName: this.$store.getters.getScheduledOrders[i].customer.last_name,
          });
        }
        return this.markersScheduled;
      }
    },
    unassignedOrderUpdate() {
      this.markersUnassignedCurrent = [];
      // gets the lat lng from each order
      for (let i = 0; i < this.$store.getters.getOrders.length; i++) {
        this.markersUnassignedCurrent.push({
          label: this.markersUnassignedCurrent.length + 1,
          position: {
            lat: this.$store.getters.getOrders[i].address.lat,
            lng: this.$store.getters.getOrders[i].address.lng,
          },
          orderNum: this.$store.getters.getOrders[i].id,
          customerFirstName: this.$store.getters.getOrders[i].customer.first_name,
          customerLastName: this.$store.getters.getOrders[i].customer.last_name,
        });
      }
      return this.markersUnassignedCurrent;
    },
    taskOrderUpdate() {
      this.markersCurrent = [];
      this.path = [];
      // gets the lat lng from each order
      for (let i = 0; i < this.$store.getters.getTasks.length; i++) {
        this.markersCurrent.push({
          label: this.$store.getters.getTasks[i].index,
          position: {
            lat: this.$store.getters.getTasks[i].order.address.lat,
            lng: this.$store.getters.getTasks[i].order.address.lng,
          },
          id: this.$store.getters.getTasks[i].courier.id,
          color: this.$store.getters.getTasks[i].color || '#fe6e00',
          orderNum: this.$store.getters.getTasks[i].order.id,
          customerFirstName: this.$store.getters.getTasks[i].order.customer.first_name,
          customerLastName: this.$store.getters.getTasks[i].order.customer.last_name,
        });
        this.path.push({
          id: this.$store.getters.getTasks[i].courier.id, color: this.$store.getters.getTasks[i].color, lat: this.$store.getters.getTasks[i].order.address.lat, lng: this.$store.getters.getTasks[i].order.address.lng,
        });
      }
      return this.markersCurrent;
    },
    storeArrGet() {
      return this.$store.state.storeArr;
    },
  },
  created() {
    this.interval = setInterval(() => this.getRunnersLocation(), 120000);
  },
  mounted() {
    this.getInventories();
    // this.getRunnersLocationShadow();
    this.getRunnersLocation();
    // setTimeout(() => {
    //   this.createCargoRoute();
    // }, 1000);
  },
  methods: {
    toggleRunnerInfo(info) {
      if (this.currentRunnerInfoShowing !== info) {
        this.currentRunnerInfoShowing = info;
        this.showingRunnerInfo = true;
        this.runnerInfoPosition = info.position;
        this.runnerInfoFirstName = info.runnerFirstName;
        this.runnerInfoLastName = info.runnerLastName;
        this.runnerInfoID = info.id;
      } else {
        this.showingRunnerInfo = !this.showingRunnerInfo;
      }
    },
    toggleTaskInfo(info) {
      if (this.currentTaskInfoShowing !== info) {
        this.currentTaskInfoShowing = info;
        this.showingTaskInfo = true;
        this.taskInfoPosition = info.position;
        this.taskInfoFirstName = info.customerFirstName;
        this.taskInfoLastName = info.customerLastName;
        this.taskInfoID = info.orderNum;
      } else {
        this.showingTaskInfo = !this.showingTaskInfo;
      }
    },
    toggleOrderInfo(info) {
      if (this.currentOrderInfoShowing !== info) {
        this.currentOrderInfoShowing = info;
        this.showingOrderInfo = true;
        this.orderInfoPosition = info.position;
        this.orderInfoFirstName = info.customerFirstName;
        this.orderInfoLastName = info.customerLastName;
        this.orderInfoID = info.orderNum;
      } else {
        this.showingOrderInfo = !this.showingOrderInfo;
      }
    },
    toggleStoreInfo(info) {
      if (this.currentStoreInfo !== info) {
        this.currentStoreInfo = info;
        this.showingStoreInfo = true;
        this.storeInfo = info;
      } else {
        this.showingStoreInfo = !this.showingStoreInfo;
      }
    },
    toggleScheduledOrderInfo(info) {
      if (this.currentScheduledOrderInfoShowing !== info) {
        this.currentScheduledOrderInfoShowing = info;
        this.showingScheduledOrderInfo = true;
        this.scheduledOrderInfoPosition = info.position;
        this.scheduledOrderInfoFirstName = info.customerFirstName;
        this.scheduledOrderInfoLastName = info.customerLastName;
        this.scheduledOrderInfoID = info.orderNum;
      } else {
        this.showingScheduledOrderInfo = !this.showingScheduledOrderInfo;
      }
    },
    polyLineInfo(info) {
      console.log(info);
    },
    getRunnersLocation() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/courier-location?filters=onDutyNow`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runnersLocation = response.data.data;
          this.markersRunners = [];
          // gets the lat lng from each order
          for (let i = 0; i < this.runnersLocation.length; i++) {
            if (moment(this.runnersLocation[i].created_at).format('YYYY-MM-DD') === moment().format('YYYY-MM-DD')) {
              if (!this.$store.state.storeArr.includes('Toggle All Runners')) {
                this.markersRunners.push({
                  label: i,
                  icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 8.5,
                    // scaledSize: new google.maps.Size(30, 30),
                    fillColor: this.runnersLocation[i].color,
                    fillOpacity: 0.4,
                    strokeWeight: 0.4,
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0), // anchor
                  },
                  position: {
                    lat: parseFloat(this.runnersLocation[i].latitude),
                    lng: parseFloat(this.runnersLocation[i].longitude),
                  },
                  created_at: this.runnersLocation[i].created_at,
                  id: this.runnersLocation[i].runner_id,
                  runnerFirstName: this.runnersLocation[i].first_name,
                  runnerLastName: this.runnersLocation[i].last_name,
                });
              }
            }
          }
          this.$store.dispatch('SET_UPDATED', false);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getInventories() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/stores`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.inventories = response.data.data;
          this.markersInventories = [];
          // gets the lat lng from each order
          for (let i = 0; i < this.inventories.length; i++) {
            // if (this.$store.state.storeArr.includes(this.inventories[i].attributes.vendor)) {
            if (this.$store.state.storeArr.includes('Toggle All Stores')) {
              this.markersInventories.push({
                label: i,
                logo: {
                  url: this.inventories[i].attributes.store.logo,
                  scaledSize: new google.maps.Size(30, 30),
                  origin: new google.maps.Point(0, 0), // origin
                  anchor: new google.maps.Point(0, 0), // anchor
                },
                position: {
                // address: this.inventories[i].attributes.location.address,
                // postalCode: this.inventories[i].attributes.location.postalCode,
                  lat: parseFloat(this.inventories[i].attributes.location.lat),
                  lng: parseFloat(this.inventories[i].attributes.location.lng),
                },
                id: this.inventories[i].id,
                vendor: this.inventories[i].attributes.vendor,
                location: this.inventories[i].attributes.location,
                store: this.inventories[i].attributes.store,
              });
            }
            // this.$store.dispatch('SET_UPDATED', false);
          }
          this.isLoading = false;
          this.$store.dispatch('SET_UPDATED', false);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    attachInstructionText(marker, text) {
      google.maps.event.addListener(marker, 'click', () => {
        this.stepDisplay.setContent(text);
        this.stepDisplay.open(this.$refs.gmap.$mapObject, marker);
      });
    },
    getIcon(label) {
      const mySvg = 'data:image/svg+xml;charset=UTF-8, <svg height="210" width="400"><path d="M150 0 L75 200 L225 200 Z" /></svg>';

      const myIcon = {
        url: mySvg,
      };

      return myIcon;
    },
  },
};
</script>
