<template>
  <div
    id="header"
    style="height: 45px; background-color: #3c3c4c;"
    class="flex items-center border-b border-dispatch-dark-grey">
    <img
      :href="'https://www.' + domain"
      style="cursor: pointer;"
      class="w-40 mx-15"
      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557765613/Dispatch/1024x1024.jpg"
      alt="Runner Logo">
    <div
      class="h-60 cursor-pointer flex items-center relative"
      style="margin-right: 150px;"
      @click="toggleTerritoryMenu">
      <span class="text-white font-thin text-2xl mr-30">
        {{ currentTerritory }}
      </span>
      <img
        class="w-60"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
        alt="">
      <ul
        v-if="territoryMenuIsShown"
        class="absolute z-50 border border-dispatch-dark-grey p-15 border-t-0 w-full"
        style="top: 60px; background-color: #3c3c4c;">
        <li>
          <a
            href=""
            class="pb-15 block">
            Runner Central
          </a>
        </li>
        <li>
          <a href="">
            Mississauga
          </a>
        </li>
      </ul>
    </div>
    <ul class="nav flex list-none items-center h-60 mb-0">
      <li
        :class="{'active': activePageGet === 'manage'}"
        class="h-60 flex items-center mr-30">
        <a href="/manage">
          Manage
        </a>
      </li>
      <li
        :class="{'active': activePageGet === 'past-orders'}"
        class="h-60 flex items-center mr-30">
        <a href="/past-orders">
          Past Orders
        </a>
      </li>
      <li
        :class="{'active': activePageGet === 'schedule'}"
        class="h-60 flex items-center mr-30">
        <a href="/schedule">
          Schedule
        </a>
      </li>
      <li
        :class="{'active': activePageGet === 'customers'}"
        class="h-60 flex items-center mr-30">
        <a href="/customers">
          Customers
        </a>
      </li>
    </ul>
    <div
      v-if="userFirstName !== null"
      class="avatar flex bg-dispatch-dark-grey absolute flex items-center justify-center pr-15">
      <div class="text-white">
        {{ userFirstName || 'N/A' }}
      </div>
      <span
        style="background-color: #3c3c4c;"
        class="avatar-icon text-white rounded-full absolute flex items-center justify-center">
        {{ userFirstName[0] || 'N/A' }}
      </span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.nav {
  a {
    font-size: 16px;
  }
}
.active {
  border-bottom: 3px solid  #F83F41;
  a {
    color: #F83F41
  }
}
.avatar {
  right: 15px;
  border-radius: 20px;
  width: fit-content;
  height: 26px;
  padding-left: 10px;
  padding-right: 27px;
  .avatar-icon {
    width: 20px;
    right: 2px;
    height: 20px;
    font-size: 10px;
  }
}
</style>


<script>
export default {
  props: [
    'domain',
  ],
  data() {
    return {
      loggedInUser: '',
      currentTerritory: 'Runner Central',
      territoryMenuIsShown: false,
    };
  },
  computed: {
    userFirstName() {
      return this.$cookie.get('userFirstName', { domain: this.domain });
    },
    userLastName() {
      return this.$cookie.get('userLastName', { domain: this.domain });
    },
    userId() {
      return this.$cookie.get('userId', { domain: this.domain });
    },
    activePageGet() {
      return this.$store.state.activePage;
    },
  },
  methods: {
    toggleTerritoryMenu() {
      this.territoryMenuIsShown = !this.territoryMenuIsShown;
    },
  },
};
</script>
