<template>
  <div
    v-click-outside="outsideStoreList"
    id="mapcontrols"
    class="mapcontrols">
    <div
      id="controls"
      class="flex flex-row-reverse pr-10">
      <div
        id="store"
        class="absolute z-50 mb-50 cursor-pointer">
        <img
          id="store"
          :src="storeIconGrey"
          class="icon"
          @click.stop="toggleStoreList()">
      </div>
      <div
        v-if="showingStoreList"
        class="store-list">
        <div
          class="lcbo-text cursor-pointer"
          style="padding: 10px;"
          @click.stop="toggleStores('Toggle All Stores')">
          Toggle All Stores
        </div>
        <div
          class="wine-rack-text cursor-pointer"
          style="padding: 10px;"
          @click.stop="toggleStores('Toggle All Runners')">
          Toggle All Runners
        </div>
      </div>
      <div
        id="warn"
        class="absolute z-50 cursor-pointer">
        <img
          id="warn"
          :src="dispatchWarnIcon"
          class="icon">
      </div>
      <div>
        <div
          id="plusminus"
          class="absolute z-50">
          <span class="plus-icon">
            <img
              :src="plusIcon"
              class="cursor-pointer"
              @click="zoomIn">
          </span>
        </div>
        <div
          id="plusminus"
          class="absolute z-50">
          <span class="minus-icon">
            <img
              :src="minusIcon"
              style="transform: rotate(90deg);"
              class="cursor-pointer"
              @click="zoomOut">
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.store-list {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 113px;
  z-index: 100;
  bottom: 75px;
  background-color: #3C3C4C;
  color: #9E9E9E;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);
  .lcbo-text:hover {
    opacity: 0.5;
  }
  .wine-rack-text:hover {
    opacity: 0.5;
  }
}

.icon {
  position: fixed;
  bottom: 10px;
  right: 65px !important;
  display: block;
  border-radius: 150px;
  padding: 6px;
  background-color: #3C3C4C;
  width: 30px;
  height: 30px;
  -webkit-box-shadow:  0 10px 3px rgba(0,0,0,0.15);
  -moz-box-shadow:  0 10px 3px rgba(0,0,0,0.15);
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.20);
}

  .plus-icon {
    display: flex;
    transform: rotate(-90deg) !important;
    position: fixed;
    bottom: 25px;
    right: 103px;
    background-color: #3C3C4C;
    border-radius: 150px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-left: 8px;
    padding-right: 8px;
    width: 30px;
    height: 40px;
    -webkit-box-shadow:  0 10px 3px rgba(0,0,0,0.15);
    -moz-box-shadow:  0 10px 3px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);
  }

  .minus-icon {
    display: flex;
    transform: rotate(90deg) !important;
    position: fixed;
    bottom: 25px;
    right: 61px;
    background-color: #3C3C4C;
    border-radius: 150px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    transform: rotate(180deg) scaleX(-1);
    padding-left: 8px;
    padding-right: 8px;
    width: 30px;
    height: 40px;
    -webkit-box-shadow:  0 -3px 10px 3px rgba(0,0,0,0.15);
    -moz-box-shadow:  0 -3px 10px 3px rgba(0,0,0,0.15);
	  box-shadow: 0 -3px 10px 3px rgba(0,0,0,0.15);
  }

  #store {
    bottom: 30px !important;
    right: 195px !important;
    :hover {
		  background-color: #535365;
	  }
  }
  #warn {
    bottom: 30px !important;
    right: 152px !important;
    :hover {
		  background-color: #535365;
	  }
  }

  #plusminus {
    :hover {
		  background-color: #535365;
	  }
  }
</style>
<script>
export default {
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: [
    'domain',
    'zoomLevel',
  ],
  data() {
    return {
      showingStoreList: false,
      toggledArr: [],
      zoomCalc: 13,
      storeIcon: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1560289922/partners/businessSidenavDemographics.svg',
      storeIconGrey: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1560289836/partners/businessSidenavDemographicsGray.svg',
      dispatchWarnIcon: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862291/Dispatch/DistpatchIconWarning.svg',
      plusIcon: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561041712/Dispatch/DistpatchIconPlus.svg',
      minusIcon: 'https://res.cloudinary.com/dcnts7jzv/image/upload/v1561041712/Dispatch/DistpatchIconMinus.svg',
    };
  },
  mounted() {
  },
  methods: {
    outsideStoreList() {
      this.showingStoreList = false;
    },
    zoomIn() {
      this.zoomCalc = this.zoomCalc + 1;
      this.$store.dispatch('SET_ZOOM_LEVEL', this.zoomCalc);
    },
    zoomOut() {
      this.zoomCalc = this.zoomCalc - 1;
      this.$store.dispatch('SET_ZOOM_LEVEL', this.zoomCalc);
    },
    toggleStoreList() {
      this.showingStoreList = !this.showingStoreList;
    },
    toggleStores(storeName) {
      this.$store.dispatch('SET_UPDATED', true);
      if (!this.toggledArr.includes(storeName)) {
        this.toggledArr.push(storeName);
      } else if (this.toggledArr.includes(storeName)) {
        this.toggledArr.splice(this.toggledArr.indexOf(storeName), 1);
      }
      this.$store.dispatch('loadStoreArr', this.toggledArr);
    },
  },
};
</script>
