<template>
  <div
    v-click-outside="outside"
    v-if="!reload"
    :style="{display: showing}"
    class="order-details z-50 fixed border border-dispatch-dark-grey p-15 rounded overflow-y-auto scrolling-touch"
    style="left: 390px; top: 65px; background-color: #3c3c4c;"
    @click.stop="">
    <div
      v-click-outside="outsideOrderInfo"
      style="display: flex; flex-direction: row-reverse; margin-bottom: 10px;">
      <img
        class="cursor-pointer"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557865337/Dispatch/DistpatchIconSettings.svg"
        alt=""
        @click.stop="toggleOrderInfo">
    </div>
    <div
      v-click-outside="outsideScheduleModal"
      v-if="showReschedule"
      style="background-color: #3c3c4c; border: #26262e; border-style: double; color: white;"
      class="scheduleModal"
    >
      <span
        class="close-button"
        @click.stop="closeScheduleModal">&#10006;</span>
      <div class="control">
        <div class="field">
          <label class="label">Schedule Date</label>
          <div class="control">
            <input
              v-model="newOrder.schedule_time"
              class="input"
              type="text" >
          </div>
        </div>
        <span style="color: #9e9e9e;">
          Example: YYYY-MM-DD HH:MM:SS
        </span>
        <div
          class="control"
          style="margin-top: 30px;">
          <button
            style="color: #FFFFFF;"
            class="button is-primary"
            @click.stop="rescheduleOrder()"
          >Submit</button>
        </div>
      </div>
    </div>
    <div
      v-click-outside="outsideCancellationModal"
      v-if="showCancellation"
      style="background-color: #3c3c4c; border: #26262e; border-style: double; color: white;"
      class="scheduleModal"
    >
      <span
        class="close-button"
        @click.stop="closeCancellationModal">&#10006;</span>
      <div class="control">
        <span style="color: #9e9e9e;">
          Are you sure you'd like to cancel the order?
        </span>
        <div
          class="control"
          style="margin-top: 30px;">
          <button
            style="color: #FFFFFF;"
            class="button is-primary"
            @click.stop="proceedCancellation()"
          >Yes.</button>
        </div>
        <div
          class="control"
          style="margin-top: 30px;">
          <button
            style="color: #FFFFFF;"
            class="button is-primary"
            @click.stop="closeCancellationModal"
          >No.</button>
        </div>
      </div>
    </div>
    <div
      v-if="newOrder.first_time === 1"
      class="flex items-center justify-center mb-5">
      <img
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862287/Dispatch/DistpatchIconMapNewuser.svg"
        alt="">
      <span
        class="text-dispatchOrange text-sm">
        NEW USER
      </span>
    </div>
    <div
      v-if="orderInfoIsShown"
      style="position: absolute; left: 103%; z-index: 999999999999; top: 1%;">
      <div class="order-info">
        <div
          style="align-self: center; padding-top:5px; padding-bottom:5px;;"
          @click.stop="toggleReschedule()">
          <img
            style="padding-right: 10px;"
            class="cursor-pointer"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg">
          Re-schedule
        </div>
        <div style="align-self: center; padding-top:5px;">
          <img
            class="cursor-pointer"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconInfo.svg">
          Order details
        </div>
        <div
          style="align-self: center; padding-top:5px; padding-bottom:7px;"
          @click.stop="toggleCancellation()">
          <img
            style="padding-right: 10px;"
            class="cursor-pointer"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561055966/Dispatch/DistpatchIconDelete.svg">
          Cancellation
        </div>
        <div
          style="align-self: center; padding-top:5px; padding-bottom:5px; margin-left: 2px;"
          @click.stop="">
          <img
            style="padding-right: 10px;"
            class="cursor-pointer"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561055966/Dispatch/DistpatchIconDelete.svg">
          <span style="text-decoration: underline; ">Report fraud</span>
        </div>
      </div>
    </div>
    <div
      class="mb-5"
      style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 5px;">
      <div class="flex flex-col border border-dispatch-dark-grey p-15 rounded">
        <span
          style="color: #9e9e9e;"
          class="text-lg mb-10">
          Order Number
        </span>
        <span class="text-white text-sm">
          # {{ orderId }}
        </span>
      </div>
      <div class="flex flex-col border border-dispatch-dark-grey p-15 rounded">
        <span
          style="color: #9e9e9e;"
          class="text-lg mb-10">
          Order Placed
        </span>
        <span class="text-white text-sm">
          {{ newOrder.created_at | moment('MMMM D, h:mm:ss a') }}
        </span>
      </div>
    </div>
    <div class="border p-15 rounded border-dispatch-dark-grey mb-5">
      <div style="display: flex; justify-content: space-between;">
        <span style="color: #9e9e9e; font-size: 18px; margin-bottom: 10px;">
          Scheduled Time
        </span>
        <div style="display: flex;">
          <div
            v-if="!scheduleTimeIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 0px 13px; width: 100%; height: 67%;"
            @click.stop="toggleScheduleTimeEdits">
            Edit
          </div>
          <div
            v-if="scheduleTimeIsEditable"
            class="text-sm cursor-pointer"
            style="margin-right: 20px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px;padding: 0px 13px; width: 100%; height: 67%;"
            @click.stop="toggleScheduleTimeEdits">
            Cancel
          </div>
          <span
            v-if="scheduleTimeIsEditable"
            class="text-sm cursor-pointer"
            style="color: #FFFFFF; background-color: #F83F41; border-radius: 18px;  padding: 0px 13px; width: 100%; height: 67%;"
            @click.stop="rescheduleOrder()">
            Save
          </span>
        </div>
      </div>
      <div v-if="!scheduleTimeIsEditable">
        <span style="color: white; font-size: 0.865rem;">
          {{ (newOrder.schedule_time) | moment('LLL') || 'n/a' }}
        </span>
      </div>
      <div
        v-else-if="scheduleTimeIsEditable"
        style="display: grid;">
        <input
          v-model="newOrder.schedule_time"
          :placeholder="newOrder.schedule_time"
          style="background: #26262e; width: 50%; color: white;">
        <span style="color: #9e9e9e66; font-size: 0.865rem;">
          Example: 2019-08-14 15:00:00
        </span>
      </div>
    </div>
    <order-stripe-charge
      :key="newId"
      :domain="domain"
      :order-id="newId">
      <tooltip
        :header="'Steps to identify fraud:'"
        :step1="'1. Check payment method'"
        :step2="'2. Check the location of the postal code'"
        :step3="'3. Risk evaluation may be showing “normal”, but for precautions make sure the evaluation number is relatively low (ie: number 30 is considered modetaretly high for us ).'"
        :step4="'4. Check “Order Content” and “Total Order” for abnormally high order price.'"/>
    </order-stripe-charge>

    <!-- CONTACT -->
    <div
      class="border p-15 rounded mb-5"
      style="border-color: #26262e;">
      <div class="flex justify-between items-center mb-10">
        <span
          style="color: #9e9e9e;"
          class="text-lg">
          Contact
        </span>
        <div style="display: flex;">
          <a
            :href="`/customers/${newOrder.user_id}`"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;">
            Info
          </a>
          <div
            v-if="contactIsEditable"
            class="text-sm cursor-pointer"
            style="margin-right: 20px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="toggleContactIsEditable">
            Cancel
          </div>
          <span
            v-if="contactIsEditable"
            class="text-sm cursor-pointer"
            style="color: #FFFFFF; background-color: #F83F41; border-radius: 18px; padding: 2px 15px;"
            @click.stop="contactApplyEdit()">
            Save
          </span>
        </div>
      </div>
      <div
        v-if="!contactIsEditable"
        class="flex">
        <div>
          <span
            class="rounded-full flex items-center justify-center text-white mr-10"
            style="background-color: #50506a; width: 40px; height: 40px;">
            {{ newOrder.customer.first_name[0] }}
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-white text-sm mb-10">
            {{ newOrder.customer.first_name + ' ' + newOrder.customer.last_name }}
          </span>
          <div class="flex mb-10">
            <span
              style="color: rgb(158, 158, 158);"
              class="flex-1 text-sm mr-10">
              {{ newOrder.customer.phone_number | phoneNumber }}
            </span>
            <span
              style="color: rgb(158, 158, 158);"
              class="flex-1 text-sm">
              {{ newOrder.customer.email }}
            </span>
          </div>
          <moon-loader
            v-if="isLoading"
            :loading="isLoading"
            style="margin-left: 65%; padding: 20px 0px;"
            color="#ffffff"
            size="30px" />
          <div
            v-else
            class="flex">
            <span
              v-for="(badge, index) in userBadges"
              :key="index"
              class="badges influencer-teal">
              {{ badge.attributes.title }}
              <div
                style="position: relative; right: -11px;"
                @click="deleteTag(badge.id)">
                &times;
              </div>
            </span>
          </div>
        </div>
      </div>


      <!-- CONTACT EDITABLE-->
      <div
        v-if="contactIsEditable"
        class="flex">
        <div>
          <span
            class="rounded-full flex items-center justify-center text-white mr-10"
            style="background-color: #50506a; width: 40px; height: 40px;">
            {{ newOrder.customer.first_name[0] }}
          </span>
        </div>
        <div class="flex flex-col">
          <input
            v-model="newOrder.customer.first_name"
            :placeholder="newOrder.customer.first_name"
            style="color: #FFFFFF; background-color : #484a4e; width: 100%;"
            class="text-white text-sm mb-10">
          <input
            v-model="newOrder.customer.last_name"
            :placeholder="newOrder.customer.last_name"
            style="color: #FFFFFF; background-color : #484a4e; width: 100%;"
            class="text-white text-sm mb-10">
          <div class="flex mb-10">
            <input
              v-model="newOrder.customer.phone_number"
              :placeholder="newOrder.customer.phone_number | phoneNumber "
              style="color: #FFFFFF; background-color : #484a4e; width: 33%; margin-right:10px;"
              class="text-sm">
            <input
              v-model="newOrder.customer.email"
              :placeholder="newOrder.customer.email"
              style="color: #FFFFFF; background-color : #484a4e; width: 100%;"
              class="flex-1 text-sm">
          </div>
          <div class="flex">
            <span class="mr-15 tag text-white text-sm">
              VIP
            </span>
            <span class="tag text-white text-sm">
              Influencer
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="isOrderGift"
      class="order-gift-wrapper">
      <div>
        <div class="header">
          <img
            style="width: 23px; margin-right: -185px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1562695477/gift/IconGiftCircle.png"
            alt="">
          <span
            v-if="!giftIsEditable"
            style="color: #9e9e9e;"
            class="text-lg">
            Gift Recipient Details
          </span>
          <span
            v-else
            style="color: #9e9e9e; margin-left: 100px;"
            class="text-lg">
            Gift Recipient Details
          </span>
          <div style="display: flex;">
            <div
              v-if="!giftIsEditable"
              class="text-sm cursor-pointer"
              style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
              @click.stop="toggleGiftEdits">
              Edit
            </div>
            <div
              v-if="giftIsEditable"
              class="text-sm cursor-pointer"
              style="margin-right: 20px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
              @click.stop="toggleGiftEdits">
              Cancel
            </div>
            <span
              v-if="giftIsEditable"
              class="text-sm cursor-pointer"
              style="color: #FFFFFF; background-color: #F83F41; border-radius: 18px; padding: 2px 15px;"
              @click.stop="giftApplyEdit()">
              Save
            </span>
          </div>
        </div>

        <!-- GIFT IS NOT EDITABLE -->
        <div v-if="!giftIsEditable">
          <div
            class="customer-info-wrapper">
            <div class="customer-info">
              <span class="title">
                Name
              </span>
              <span class="attribute">
                {{ newOrder.gift.firstName + ' ' + newOrder.gift.lastName }}
              </span>
            </div>
            <div class="customer-info">
              <span class="title">
                Phone
              </span>
              <span class="attribute">
                {{ (newOrder.gift.phoneNumber).toString() | phoneNumber }}
              </span>
            </div>
            <div class="customer-info">
              <span class="title">
                Email
              </span>
              <span class="attribute">
                {{ newOrder.gift.email || 'n/a' }}
              </span>
            </div>
          </div>
          <div
            class="customer-info-wrapper"
            style="border-bottom: 0px;">
            <div class="customer-info">
              <span class="title">
                Note
              </span>
              <span
                class="attribute"
                style="white-space: pre-line;">
                {{ newOrder.gift.message }}
              </span>
            </div>
          </div>
        </div>


        <!-- GIFT IS EDITABLE -->
        <div v-if="giftIsEditable">
          <div
            class="customer-info-wrapper">
            <div class="customer-info">
              <span class="title">
                Name
              </span>
              <input
                v-model="newOrder.gift.firstName"
                style="margin-left: 24px;"
                class="attribute input">
              <input
                v-model="newOrder.gift.lastName"
                style="margin-left: 15px;"
                class="attribute input">
            </div>
            <div class="customer-info">
              <span class="title">
                Phone
              </span>
              <input
                v-model="newOrder.gift.phoneNumber"
                class="attribute input">
            </div>
            <div class="customer-info">
              <span class="title">
                Email
              </span>
              <input
                v-model="newOrder.gift.email"
                class="attribute input">
            </div>
          </div>
          <div
            class="customer-info-wrapper"
            style="border-bottom: 0px;">
            <div class="customer-info">
              <span class="title">
                Note
              </span>
              <input
                v-model="newOrder.gift.message"
                class="attribute input">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CUSTOMER NOTES -->
    <div class="border p-15 rounded border-dispatch-dark-grey mb-5">
      <div class="flex justify-between items-center mb-10">
        <span
          style="color: #9e9e9e;"
          class="text-lg">
          Customer Notes
        </span>
        <div style="display: flex;">
          <div
            v-if="!notesIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="toggleNotesIsEditable">
            Edit
          </div>
          <div
            v-if="notesIsEditable"
            class="text-sm cursor-pointer"
            style="margin-right: 20px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="toggleNotesIsEditable">
            Cancel
          </div>
          <span
            v-if="notesIsEditable"
            class="text-sm cursor-pointer"
            style="color: #FFFFFF; background-color: #F83F41; border-radius: 18px; padding: 2px 15px;"
            @click.stop="notesApplyEdit()">
            Save
          </span>
        </div>
      </div>
      <div v-if="!notesIsEditable" >
        <moon-loader
          :loading="isLoading"
          style="margin-left: 45%; padding: 20px 0px;"
          color="#ffffff"
          size="30px" />
        <ul
          v-if="!isLoading && customerNotes"
          id=""
          class="text-xs text-white p-15 w-full"
          style="background-color: #3c3c4c; margin-bottom: 10px;"
          name="">
          <li
            v-for="(notes, index) in customerNotes"
            :key="index"
            style="padding-bottom: 10px;">
            {{ notes.attributes.createdAt | moment('MMMM D, h:mm:ss a') }} {{ '- ' + notes.attributes.title + ' - ' + notes.attributes.body }}
          </li>
        </ul>
      </div>
      <div v-if="notesIsEditable" >
        <input
          v-model="newNotesTitle"
          placeholder="Title..."
          style="background-color: #484a4e;">
        <textarea
          id=""
          v-model="newNotes"
          style="background-color: #484a4e;"
          class="textarea text-xs text-white p-15 w-full"
          name=""
          placeholder="Type something..."/>
      </div>
    </div>

    <!-- DELIVERY ADDRESS -->
    <div class="border p-15 rounded rounded-b-none border-dispatch-dark-grey">
      <div class="flex justify-between items-center mb-10">
        <span
          style="color: #9e9e9e;"
          class="text-lg">
          Delivery Address
        </span>
        <div style="display: flex;">
          <div
            v-if="!addressIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="toggleAddressIsEditable">
            Edit
          </div>
          <div
            v-if="addressIsEditable"
            class="text-sm cursor-pointer"
            style="margin-right: 20px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="toggleAddressIsEditable">
            Cancel
          </div>
          <span
            v-if="addressIsEditable"
            class="text-sm cursor-pointer"
            style="color: #FFFFFF; background-color: #F83F41; border-radius: 18px; padding: 2px 15px;"
            @click.stop="addressApplyEdit()">
            Save
          </span>
        </div>
      </div>

      <!-- DELIVERY ADDRESS -->
      <div v-if="!addressIsEditable">
        <div class="flex">
          <span
            class="flex-1 text-sm"
            style="color: rgb(158, 158, 158);">
            Address
          </span>
          <span class="flex-1 text-white text-sm">
            {{ newOrder.address.address }}
          </span>
        </div>
        <div class="flex">
          <span
            class="flex-1 text-sm"
            style="color: rgb(158, 158, 158);">
            Unit
          </span>
          <span class="flex-1 text-white text-sm">
            {{ newOrder.unit_number || '...' }}
          </span>
        </div>
      </div>

      <!-- EDITABLE DELIVERY ADDRESS -->
      <!-- TODO GOOGLE MAPS AUTO COMPLETE take a look at orderaddress from dispatchv1 -->
      <div v-if="addressIsEditable">
        <div class="flex">
          <span
            class="flex-1 text-sm"
            style="color: rgb(158, 158, 158);">
            Address
          </span>

          <!-- DO GOOGLE MAPS AUTOCOMPLETE HERE -->
          <input
            id="account_address"
            v-model="newOrder.address.address"
            :placeholder="newOrder.address.address"
            type="text"
            name="account_address"
            style="color: #FFFFFF; background-color : #484a4e; width: 100%;"
            class="input flex-1 text-white text-sm"
            @focus="clearContent"
            @blur="removeMapApi">
        </div>

        <div class="flex">
          <span
            class="flex-1 text-sm"
            style="color: rgb(158, 158, 158);">
            Unit
          </span>
          <input
            v-model="newOrder.unit_number"
            :placeholder="newOrder.unit_number || '...'"
            style="color: #FFFFFF; background-color : #484a4e; width: 100%;"
            class="flex-1 text-white text-sm">
        </div>
      </div>
    </div>

    <!-- DELIVERY ADDRESS -->
    <div
      v-if="!addressIsEditable"
      class="border p-15 rounded rounded-t-none border-t-0 border-dispatch-dark-grey mb-5">
      <div class="flex">
        <span
          class="flex-1 text-sm"
          style="color: rgb(158, 158, 158);">
          Instructions
        </span>
        <span class="flex-1 text-white text-sm">
          {{ newOrder.instructions || '...' }}
        </span>
      </div>
    </div>

    <!-- EDITABLE DELIVERY ADDRESS -->
    <div
      v-if="addressIsEditable"
      class="border p-15 rounded rounded-t-none border-t-0 border-dispatch-dark-grey mb-5">
      <div class="flex">
        <span
          class="flex-1 text-sm"
          style="color: rgb(158, 158, 158);">
          Instructions
        </span>
        <input
          v-model="newOrder.instructions"
          :placeholder="newOrder.instructions || '...'"
          style="color: #FFFFFF; background-color : #484a4e; width: 100%;"
          class="flex-1 text-white text-sm">
      </div>
    </div>


    <!-- ORDER CONTENT -->
    <div class="border rounded border-dispatch-dark-grey mb-5">
      <div class="flex justify-between items-center mb-10">
        <span
          style="color: #9e9e9e; padding: 15px;"
          class="text-lg">
          Order Content
        </span>
        <div style="display: flex; padding: 15px;">
          <div
            v-if="!contentIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="toggleContentIsEditable">
            Edit
          </div>
          <div
            v-if="contentIsEditable"
            class="text-sm cursor-pointer"
            style="margin-right: 20px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click.stop="cancelContentEdits">
            Cancel
          </div>
          <div
            v-if="contentIsEditable"
            class="text-sm cursor-pointer"
            style="color: #FFFFFF; background-color: #F83F41; border-radius: 18px; padding: 2px 15px;"
            @click.stop="contentApplyEdit()">
            Save
          </div>
        </div>
      </div>
      <moon-loader
        :loading="isLoading"
        style="margin-left: 44%; padding-top: 20px; padding-bottom: 20px;"
        color="#ffffff"
        size="30px" />
      <!-- ORDER CONTENT -->
      <div
        v-show="isLoading === false"
        v-if="!contentIsEditable"
        class="text-white text-xs w-full">
        <div
          class="order-content-wrap"
          style="display: grid; grid-row-gap: 20px;">
          <div
            v-for="(item) in orderContentUpdate"
            v-show="item.quantity !== 0"
            :key="item.id"
            class="order-content-table">
            <div>
              {{ item.quantity }}x
            </div>
            <div>
              {{ item.packaging }}
            </div>
            <div>
              {{ item.title }}
            </div>
            <div>
              ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              <span
                class="block italic"
                style="color: #9e9e9e;">
                ${{ (item.retailPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="contentIsEditable"
        class="text-white text-xs w-full">
        <div style="display: grid; grid-row-gap: 20px;">
          <div
            v-for="(item, index) in orderContentUpdate"
            v-show="item.quantity !== 0"
            :key="index"
            class="order-content-table"
            style="padding: 15px; display: grid; grid-template-columns: 30px 3fr 6fr 1fr;">
            <div>
              <input
                v-model="newOrderContentQty[index]"
                :placeholder="item.quantity"
                class="text-white text-sm"
                style="border: 1px #252629; border-style: solid; background-color : #484a4e; width: 75%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            </div>
            <div>
              {{ item.packaging }}
            </div>
            <div>
              {{ item.title }}
            </div>
            <div>
              ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              <span
                class="block italic"
                style="color: #9e9e9e;">
                ${{ (item.retailPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </div>
          </div>
          <div
            v-for="(item, index) in temporaryAddedOrdContent"
            v-show="temporaryAddedOrdContent.length !== 0"
            :key="index"
            class="order-content-table"
            style="padding: 15px; display: grid; grid-template-columns: 30px 3fr 6fr 1fr;">
            <div>
              <input
                v-model="item.quantity"
                :placeholder="item.quantity"
                class="text-white text-sm"
                style="border: 1px #252629; border-style: solid; background-color : #484a4e; width: 75%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            </div>
            <div>
              {{ item.packaging }}
            </div>
            <div>
              {{ item.title }}
            </div>
            <div>
              ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              <span
                class="block italic"
                style="color: #9e9e9e;">
                ${{ (item.retailPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PRODUCT ADD -->
    <div
      v-show="contentIsEditable"
      style="margin: 15px;">
      <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <p style="color: #9e9e9e; padding-bottom: 11px;">
          Product ID #
        </p>
        <p style="color: #9e9e9e;">
          Quantity
        </p>
        <!-- <input
          v-model="newProductId"
          placeholder="Enter ID..."
          style="color: #FFFFFF; background-color : #26262e; width: 70%; padding: 4px; padding-left: 10px;"
          class="text-white text-sm mb-10"> -->
        <search
          :domain="domain"
        />
        <div>
          <input
            v-model="newProductQuantity"
            style="color: #FFFFFF; background-color : #26262e; width: 40%; padding: 4px; padding-left: 10px;"
            class="text-white text-sm mb-10">
          <img
            style="float: right; filter: hue-rotate(-45deg) saturate(10.5); cursor: pointer"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbutton.svg"
            @click.stop="addToContent($store.state.searchResult)">
        </div>
      </div>
      <div v-if="this.$store.state.searchResult.title !== undefined">
        <div style="color: #f83f41;">
          {{ 'New Product: ' + $store.state.searchResult.title }}
        </div>
        <div style="color: #f83f41;">
          New Quantity: {{ newProductData.quantity || '0' }}
        </div>
        <div
          v-if="newProductData.quantity > 0"
          style="color: #9e9e9e;">
          Press 'Save' to confirm
        </div>
      </div>
    </div>

    <!-- PRODUCT AVAILABILITY -->
    <div class="border pt-15 rounded border-dispatch-dark-grey mb-5">
      <div class="flex justify-between items-center mb-10 px-15">
        <span
          style="color: #9e9e9e;"
          class="text-lg">
          Product Availability
        </span>
        <!-- <span
          v-if="!availabilityIsEditable"
          @click.stop="toggleAvailabilityIsEditable"
          class="text-sm cursor-pointer"
          style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;">
          Edit
        </span>
        <span
          v-if="availabilityIsEditable"
          @click.stop="toggleAvailabilityIsEditable"
          class="text-sm cursor-pointer"
          style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;">
          Save
        </span> -->
      </div>
      <order-inventories
        :key="newId"
        :domain="domain"
        :order-id="newId"/>
    </div>


    <!-- ORDER TOTAL -->
    <div class="border pt-15 rounded border-dispatch-dark-grey mb-5 p-15">
      <div class="flex justify-between items-center mb-10">
        <span
          style="color: #9e9e9e;"
          class="text-lg">
          Order Total
        </span>
      </div>
      <div class="flex justify-between mb-10">
        <span class="text-white text-sm">
          Item
        </span>
        <span class="text-white text-sm">
          ${{ newOrder.subtotal.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
        </span>
      </div>
      <div class="flex justify-between mb-10">
        <span class="text-white text-sm">
          Tax
        </span>
        <span class="text-white text-sm">
          ${{ newOrder.display_tax_total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
        </span>
      </div>
      <div class="flex justify-between mb-10">
        <span class="text-white text-sm">
          Delivery
        </span>
        <span class="text-white text-sm">
          ${{ newOrder.delivery.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
        </span>
      </div>
      <div class="flex justify-between mb-10">
        <span class="text-white text-sm">
          Service Fee
        </span>
        <span class="text-white text-sm">
          ...
        </span>
      </div>
      <div class="flex justify-between mb-10">
        <span class="text-white text-sm italic">
          Discount
        </span>
        <span class="text-white text-sm">
          ${{ newOrder.discount.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) || '...' }}
        </span>
      </div>
      <div class="flex justify-between mb-10">
        <span class="text-white text-sm bold">
          Tip
        </span>
        <span class="text-white text-sm">
          ${{ newOrder.tip.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) || '...' }}
        </span>
      </div>
      <div class="flex justify-between">
        <span class="text-white text-sm">
          Total
        </span>
        <span class="text-white text-sm font-bold">
          ${{ newOrder.total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
        </span>
      </div>
    </div>
    <div class="border pt-15 rounded border-dispatch-dark-grey mb-5 p-15 relative">
      <div class="flex justify-between items-center mb-10">
        <span
          style="color: #9e9e9e;"
          class="text-sm">
          Assign order to:
        </span>
      </div>
      <div class="flex">
        <div class="flex items center mr-15">
          <span
            v-if="newOrder.courier.first_name === null"
            style="color: #FFFFFF;"
            class="text-sm">
            Add a runner...
          </span>
          <div
            v-if="newOrder.courier.first_name !== null"
            :style="{backgroundColor: colour}"
            style="width: 20px; height: 20px;"
            class="rounded-full flex items-center justify-center mr-10">
            <div
              style="width: 5px; height: 5px;"
              class="rounded-full bg-black"/>
          </div>
          <span
            v-if="newOrder.courier.first_name !== null"
            class="text-white text-sm">
            {{ newOrder.courier.first_name }}
          </span>
          <span
            v-if="newOrder.courier.first_name !== null"
            style="color: #9e9e9e; padding-left: 3px;"
            class="cursor-pointer">
            &times;
          </span>
        </div>
        <assignees
          v-show="assigneesInfoIsShown"
          :assignees-info-is-shown="assigneesInfoIsShown"
          :selected-order="order"
          :order-index="'false'"
          :domain="domain"
        />
        <img
          class="absolute cursor-pointer"
          style="right: 10px; top: 30px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbutton.svg"
          alt=""
          @click.stop="toggleAssigneesInfo()">
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.badges-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  justify-content: center;
}
.badges {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  border-radius: 19px;
  text-align: center;
  cursor: pointer;
  color: white;
  margin-right: 15px;
}
.badges:nth-child(3) {
  margin-right: 0px;
}
// badges colour
  .influencer-teal {
    border: 1px #16C5B5 solid;
    background-color: #16C5B5;
  }
  .vip {
    border: 1px #16C5B5 solid;
    background-color: #16C5B5;
  }
  .investor {
    border: 1px  #32C941 solid;
    background-color: #32C941;
  }
  .business {
    border: 1px #F6A648 solid;
    background-color: #F6A648;
  }
  .influencer-pink {
    border: 1px #F44B86 solid;
    background-color: #F44B86;
  }
// end badges colour
.order-gift-wrapper {
  border: 1px #252629 solid;
  margin: 5px 0px;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
  }
  .customer-info-wrapper {
      display: grid;
      row-gap: 10px;
      margin: 10px 0px;
      border-bottom: 1px #252629 solid;
      padding: 15px;
    .customer-info {
      display: flex;
      .title {
        flex: 1;
        color: #9E9E9E;
      }
      .attribute {
        flex: 300px;
        color: white;
      }
      .attribute.input {
        background-color: #26262e;

      }
    }
  }
}
.order-content-table:last-child  {
  border-bottom: 0px !important;
}
.order-content-wrap {
  .order-content-table {
    display: grid;
    grid-template-columns: 20px 3fr 6fr 1fr;
    border-bottom: 1px #252629 solid;
    padding: 0px 15px 10px 15px;
  }
}
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.scheduleModal {
  border: 1px solid #383838;
  padding: 30px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  min-width: 400px;
}
.order-info {
  padding: 10px;
  position: fixed;
  background-color: #3c3c4c;
  color: #9e9e9e;
  display: inline-flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 12px 3px rgba(0,0,0,0.15);
  div:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.tag {
  background-color: #16C5B5;
  border-radius: 20px;
  padding: 4px 8px;
}
.order-details {
  width: 501px;
  max-height: calc(100vh - 70px);
  -webkit-box-shadow: 3px 23px 26px -2px rgba(0,0,0,0.42);
  -moz-box-shadow: 3px 23px 26px -2px rgba(0,0,0,0.42);
  box-shadow: 3px 23px 26px -2px rgba(0,0,0,0.42);
}
</style>

<script>
import draggable from 'vuedraggable';
import api from '../mixins/api';

export default {
  filters: {
    phoneNumber(value) {
      return value.replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: [
    'orderId',
    'domain',
    'tasks',
    'orderType',
    'activeTab',
  ],
  data() {
    return {
      order: {},
      temporaryAddedOrdContent: [],
      customerNotes: {},
      confirmBool: true,
      showing: '',
      joey: {},
      showCancellation: false,
      showReschedule: false,
      orderIndex: 0,
      newProductData: {},
      newProductId: '',
      newProductQuantity: 0,
      orderInfoIsShown: false,
      colour: '',
      addressArray: {},
      newFirstName: '',
      newLastName: '',
      newPhoneNumber: '',
      newEmail: '',
      newNotes: '',
      newNotesTitle: '',
      newAddress: '',
      newUnitNumber: '',
      newInstructions: '',
      newOrderContentQty: [],
      newOrderContentTitle: [],
      scheduleTimeIsEditable: false,
      contactIsEditable: false,
      giftIsEditable: false,
      notesIsEditable: false,
      addressIsEditable: false,
      contentIsEditable: false,
      availabilityIsEditable: false,
      assigneesInfoIsShown: false,
      stripeCharge: {
        attributes: {
          paymentMethod: null,
        },
      },
      isLoading: false,
      autocomplete: '',
      inputs: {
        route: 'long_name',
        country: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        postal_code: 'short_name',
      },
      newId: this.orderId,
      userBadges: [],
      reload: true,
    };
  },
  computed: {
    isOrderGift() {
      return this.newOrder.gift !== null;
    },
    orderContentUpdate() {
      return this.newOrder.content;
    },
    orderIdUpdate() {
      return this.orderId;
    },
    newOrder() {
      return this.order;
    },
  },
  watch: {
    orderIdUpdate(newVal) {
      this.newId = newVal;
    },
  },
  async mounted() {
    await this.refreshOrder();
    Echo.channel('order-channel')
      .listen('NewOrder', (e) => {
        this.$store.dispatch('getOrders');
        this.$store.dispatch('getScheduledOrders');
      });
    this.getCustomerNotes();
    this.newFirstName = this.newOrder.customer.first_name;
    this.newLastName = this.newOrder.customer.last_name;
    this.newPhoneNumber = this.newOrder.customer.phone_number;
    this.newEmail = this.newOrder.customer.email;
    this.newAddress = this.newOrder.address.address;
    for (let i = 0; i < this.newOrder.content.length; i++) {
      this.newOrderContentQty.push(this.newOrder.content[i].quantity);
      this.newOrderContentTitle.push(this.newOrder.content[i].title);
    }

    this.getRunners();
    this.getUserBadges();
  },
  methods: {
    async refreshOrder() {
      this.reload = true;
      this.isLoading = true;
      try {
        const response = await api().get(`https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`);
        this.order = response.data.data;
        this.newOrderContentQty = [];
        this.newOrderContentTitle = [];
        for (let i = 0; i < this.newOrder.content.length; i += 1) {
          this.newOrderContentQty.push(this.order.content[i].quantity);
          this.newOrderContentTitle.push(this.order.content[i].title);
        }
      } catch (error) {
        console.log(error);
      }
      this.reload = false;
      this.isLoading = false;
    },
    getUserBadges() {
      this.isLoading = true;
      try {
        axios({
          method: 'get',
          url: `https://api.${this.domain}/dispatch/v2/user/${this.newOrder.user_id}/tags`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
        })
          .then((response) => {
            this.userBadges = response.data.data;
            this.isLoading = false;
          })
          .catch((error) => {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    deleteTag(id) {
      try {
        axios({
          method: 'delete',
          url: `https://api.${this.domain}/dispatch/v2/user/${this.newOrder.user_id}/tags/${id}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
        }).then(() => {
          this.getUserBadges();
        })
          .catch((error) => {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    toggleGiftEdits() {
      this.giftIsEditable = !this.giftIsEditable;
    },
    toggleScheduleTimeEdits() {
      this.scheduleTimeIsEditable = !this.scheduleTimeIsEditable;
    },
    proceedCancellation() {
      axios({
        method: 'put',
        url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'order',
            attributes: {
              status: 5,
            },
          },
        },
      }).then((response) => {
        alert(response.data.message);
        this.showCancellation = false;
        window.location.reload();
      })
        .catch((error) => {
          console.log(error);
        });
    },
    outside() {
      this.showing = 'none';
    },
    outsideCancellationModal() {
      this.showCancellation = false;
    },
    outsideScheduleModal() {
      this.showReschedule = false;
    },
    outsideOrderInfo() {
      this.orderInfoIsShown = false;
    },
    cancelOrder() {
      axios({
        method: 'put',
        url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'order',
            attributes: {
              status: 5,
            },
          },
        },
      }).then(() => {
        this.showCancellation = false;
      })
        .catch((error) => {
          console.log(error);
        });
    },
    rescheduleOrder() {
      let status;
      if (moment().diff(this.newOrder.schedule_time, 'days') < 0) {
        status = 7;
      } else {
        status = 0;
      }
      if (this.newOrder.status === 0) {
        console.log('order');
        axios({
          method: 'put',
          url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', {
              domain: window.domain,
            })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
          data: {
            data: {
              type: 'order',
              attributes: {
                status,
                schedule_time: this.newOrder.schedule_time,
              },
            },
          },
        }).then(() => {
          this.scheduleTimeIsEditable = false;
        })
          .catch((error) => {
            console.log(error);
          });
      } else if (this.newOrder.status === 7) {
        console.log('scheduled');
        axios({
          method: 'put',
          url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', {
              domain: window.domain,
            })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
          data: {
            data: {
              type: 'order',
              attributes: {
                status,
                schedule_time: this.newOrder.schedule_time,
              },
            },
          },
        }).then(() => {
          this.scheduleTimeIsEditable = false;
        })
          .catch((error) => {
            console.log(error);
          });
      } else {
        console.log('task');
        let taskId = -1;
        for (let i = 0; i < this.tasks.length; i += 1) {
          if (this.tasks[i].attributes.orderId === this.orderId) {
            taskId = this.tasks[i].id;
          }
        }
        if (taskId !== -1) {
          axios({
            method: 'put',
            url: `https://api.${this.domain}/dispatch/v2/tasks/${taskId}`,
            headers: {
              Authorization: `Bearer ${this.$cookie.get('token', {
                domain: window.domain,
              })}`,
              Accept: 'application/json',
              ContentType: 'application/json',
            },
            data: {
              data: {
                type: 'task',
                attributes: {
                  scheduleTime: this.newOrder.schedule_time,
                },
              },
            },
          }).then(() => {
            this.scheduleTimeIsEditable = false;
          })
            .catch((error) => {
              console.log(error);
            });
        } else {
          alert('ERROR has occured. Please refresh the page.');
        }
      }
    },
    toggleCancellation() {
      this.showCancellation = true;
    },
    closeCancellationModal() {
      this.showCancellation = false;
    },
    toggleReschedule() {
      this.showReschedule = true;
    },
    closeScheduleModal() {
      this.showReschedule = false;
    },
    async getRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/couriers?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runners = response.data[0].scheduledRunner;

          for (let i = 0; i < response.data.length; i++) {
            if (this.newOrder.courier.id === response.data[i].user_id) {
              this.colour = response.data[i].color;
            }
          }

          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    giftApplyEdit() {
      this.giftIsEditable = false;
      axios({
        method: 'put',
        url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'order',
            attributes: {
              gift: {
                phone_number: this.newOrder.gift.phoneNumber,
                first_name: this.newOrder.gift.firstName,
                last_name: this.newOrder.gift.lastName,
                email: this.newOrder.gift.email,
                message: this.newOrder.gift.message,
              },
            },
          },
        },
      }).then(() => {
      })
        .catch((error) => {
          console.log(error);
        });
    },
    contactApplyEdit() {
      this.contactIsEditable = false;
      axios({
        method: 'put',
        url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'order',
            attributes: {
              phone_number: this.newOrder.customer.phoneNumber,
              first_name: this.newOrder.customer.firstName,
              last_name: this.newOrder.customer.lastName,
              email: this.newOrder.customer.email,
            },
          },
        },
      }).then(() => {
      })
        .catch((error) => {
          console.log(error);
        });
    },
    getCustomerNotes() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/user/${this.newOrder.user_id}/notes`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      }).then((response) => {
        this.customerNotes = response.data.data;
      })
        .catch((error) => {
          console.log(error);
        });
    },
    notesApplyEdit() {
      this.notesIsEditable = false;
      this.isLoading = true;
      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/user/${this.newOrder.user_id}/notes`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            attributes: {
              title: this.newNotesTitle,
              body: this.newNotes,
            },
          },
        },
      }).then(() => {
        this.getCustomerNotes();
        this.newNotes = '';
        this.newNotesTitle = '';
        this.isLoading = false;
      })
        .catch((error) => {
          console.log(error);
        });
    },
    addressApplyEdit() {
      alert('Please refresh the page to see changes on the map.');
      this.newOrder.address.address = this.newAddress;
      this.addressIsEditable = false;
      axios({
        method: 'put',
        url: `https://api.${this.domain}/dispatch/v2/orders/${this.orderId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'order',
            attributes: {
              formattedAddress: this.addressArray.formattedAddress,
              postalCode: this.addressArray.postalCode,
              lat: this.addressArray.lat,
              lng: this.addressArray.lng,
              unitNumber: this.newOrder.unitNumber,
              instructions: this.newOrder.instructions,
            },
          },
        },
      }).then(() => {
      })
        .catch((error) => {
          console.log(error);
        });
    },
    addToContent(result) {
      this.temporaryAddedOrdContent.push({
        allowSub: false,
        id: result.id,
        image: result.image,
        packaging: result.packaging,
        quantity: this.newProductQuantity,
        retailPrice: result.retail_price,
        runnerPrice: result.runner_price,
        title: result.title,
      });
      const data = {};
      data.id = this.$store.state.searchResult.id;
      data.quantity = this.newProductQuantity;
      this.newProductData = data;
    },
    async contentApplyEdit() {
      this.isLoading = true;
      this.reload = true;
      this.$store.dispatch('SET_LOADING', true);
      let data = {};
      let data2 = {};
      const arr = [];
      for (let i = 0; i < this.newOrder.content.length; i++) {
        this.newOrder.content[i].quantity = parseInt(this.newOrderContentQty[i], 10);
        this.newOrder.content[i].title = this.newOrderContentTitle[i];
        data.id = this.newOrder.content[i].id;
        data.title = this.newOrder.content[i].title;
        data.runnerPrice = this.newOrder.content[i].runnerPrice;
        data.retailPrice = this.newOrder.content[i].retailPrice;
        data.quantity = this.newOrder.content[i].quantity;
        data.packaging = this.newOrder.content[i].packaging;
        data.image = this.newOrder.content[i].image;
        data.subTotal = this.newOrder.content[i].subTotal;
        data.rewardPoints = this.newOrder.content[i].rewardPoints;
        arr.push(data);
        data = {};
      }
      for (let i = 0; i < this.temporaryAddedOrdContent.length; i++) {
        if (parseInt(this.temporaryAddedOrdContent[i].id, 10) > -1 && parseInt(this.temporaryAddedOrdContent[i].quantity, 10) > 0) {
          data2.productId = parseInt(this.temporaryAddedOrdContent[i].id, 10);
          data2.productQuantity = parseInt(this.temporaryAddedOrdContent[i].quantity, 10);
          arr.push(data2);
          data2 = {};
        }
      }
      const newItemsDict = {};
      newItemsDict.newItems = arr;
      newItemsDict.isVerify = true;
      // console.log('new items', newItemsDict);
      if (this.confirmBool === true) {
        axios.put(`https://api.${this.domain}/dispatch/v2/orders/${this.orderId}/items`, newItemsDict)
          .then((response) => {
            const r = confirm(response.data.message);
            if (r == true) {
              this.confirmBool = false;
            } else {
              this.confirmBool = true;
            }
            newItemsDict.isVerify = this.confirmBool;
            if (this.confirmBool === false) {
              axios.put(`https://api.${this.domain}/dispatch/v2/orders/${this.orderId}/items`, newItemsDict)
                .then((response) => {
                  // console.log('proceeded', newItemsDict);
                  this.reload = true;
                  this.refreshOrder();
                  this.reload = false;
                  console.log(response);
                })
                .catch((error) => {
                  alert('Cannot refund these items | Or some other error.');
                  this.reload = true;
                  this.refreshOrder();
                  this.reload = false;
                  this.isLoading = false;
                  console.log(error);
                });
            }
            this.reload = true;
            this.refreshOrder();
            this.reload = false;
            this.isLoading = false;
            this.newProductData.id = '';
            this.newProductData.quantity = '';
            this.newOrderContentQty = [];
            this.newOrderContentTitle = [];
            this.$store.dispatch('SET_SEARCH_RESULT', {});
          })
          .catch((error) => {
            alert('Cannot refund these items | Or some other error.');

            this.isLoading = false;
            console.log(error);
          });
      }
      this.contentIsEditable = false;
      this.reload = false;
      this.$store.dispatch('SET_LOADING', false);
    },
    toggleContactIsEditable() {
      this.contactIsEditable = !this.contactIsEditable;
    },
    toggleNotesIsEditable() {
      this.notesIsEditable = !this.notesIsEditable;
    },
    toggleAddressIsEditable() {
      this.addressIsEditable = !this.addressIsEditable;
    },
    toggleContentIsEditable() {
      this.contentIsEditable = !this.contentIsEditable;
    },
    cancelContentEdits() {
      this.contentIsEditable = false;
      this.temporaryAddedOrdContent = [];
      this.newProductData.id = '';
      this.newProductData.quantity = '';
      this.newOrderContentQty = [];
      this.newOrderContentTitle = [];
      for (let i = 0; i < this.newOrder.content.length; i += 1) {
        this.newOrderContentQty.push(this.newOrder.content[i].quantity);
        this.newOrderContentTitle.push(this.newOrder.content[i].title);
      }
    },
    toggleAvailabilityIsEditable() {
      this.availabilityIsEditable = !this.availabilityIsEditable;
    },
    toggleOrderInfo() {
      this.orderInfoIsShown = !this.orderInfoIsShown;
    },
    toggleAssigneesInfo() {
      this.assigneesInfoIsShown = !this.assigneesInfoIsShown;
    },
    removeMapApi() {
      $('#google_autocomplete').next().remove();
      $('#google_autocomplete').remove();
      $('script[charset=\'UTF-8\']').remove();
    },
    bindAutocomplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('account_address')),
        {
          bounds: cityBounds,
          types: [
            'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );
      this.autocomplete.addListener('place_changed', this.pipeAddress);
    },
    pipeAddress() {
      const place = this.autocomplete.getPlace();
      const data = {};

      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i++) {
          const input = place.address_components[i].types[0];
          data.postalCode = place.address_components[i].long_name;

          if (this.inputs[input]) {
            data[input] = place.address_components[i][this.inputs[input]];
          }
        }
        this.newAddress = data.printable_address ? data.printable_address : place.formatted_address;
        data.lat = place.geometry.location.lat();
        data.lng = place.geometry.location.lng();
        this.addressArray.formattedAddress = place.formatted_address;
        this.addressArray.lat = data.lat;
        this.addressArray.lng = data.lng;
        this.addressArray.postalCode = data.postalCode;
      }
    },

    clearContent() {
      if (document.getElementById('account_address').value === 'Please Enter Address') {
        document.getElementById('account_address').value = '';
      }
      this.bindAutocomplete();
    },
  },
};
</script>
