<template>
  <div>
    <moon-loader
      :loading="isLoading"
      class="flex items-center justify-center p-30"
      color="#ffffff"
      size="30px"/>
    <button
      v-if="inventoryShowing !== orderInventories.length && !isLoading"
      class="view-all-btn"
      @click="showMore()">
      View All
    </button>
    <button
      v-else-if="inventoryShowing === orderInventories.length && !isLoading"
      class="view-all-btn"
      @click="showLess()">
      View Less
    </button>
    <table
      v-if="!availabilityIsEditable"
      class="w-full">
      <thead>
        <tr
          v-if="!isLoading"
          style="color: rgb(158, 158, 158);">
          <th class="text-sm font-thin pb-10 pl-15">
            Store Name
          </th>
          <th class="text-sm font-thin pb-10 pl-15">
            Address
          </th>
          <th class="text-sm font-thin pb-10">
            Hours
          </th>
          <th class="text-sm font-thin pb-10 pr-15 text-right">
            Qty
          </th>
        </tr>
      </thead>
      <tbody v-if="orderInventories">
        <tr
          v-for="orderInventory in orderInventories.slice(0, inventoryShowing)"
          :key="orderInventory.id">
          <td
            style="width: 35%;"
            class="text-xs text-white border-b border-dispatch-dark-grey py-15 pl-15">
            {{ orderInventory.attributes.title }}
          </td>
          <td
            style="width: 37%;"
            class="text-xs text-white border-b border-dispatch-dark-grey py-15 pl-15">
            <div
              v-if="orderInventory.attributes.address"
              style="font-size: 12px;">
              {{ orderInventory.attributes.address.split(',')[0] }}
            </div>
            <span
              v-if="orderInventory.attributes.address"
              style="color:#B1B1B1; font-size: 12px;">
              {{ orderInventory.attributes.address.split(',')[1] + ', ' + orderInventory.attributes.address.split(',')[2] }}
            </span>
            <!-- {{ orderInventory.attributes.address }} -->
          </td>
          <td class="text-xs text-white border-b border-dispatch-dark-grey py-15">
            {{ orderInventory.attributes.hours }}
          </td>
          <td class="text-xs text-white border-b border-dispatch-dark-grey py-15 pr-15 text-right">
            {{ orderInventory.attributes.inStock }} / {{ orderInventory.attributes.totalItems }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
.view-all-btn {
  position: relative;
  top: -35px;
  float: right;
  margin-right: 10px;
  color: #9e9e9e;
  font-weight: 100;
  border: 1px #9e9e9e solid;
  width: 83px;
  border-radius: 19px;
  height: 25px;
}
</style>

<script>
export default {
  props: [
    'orderId',
    'domain',
  ],
  data() {
    return {
      isLoading: false,
      orderInventories: [],
      availabilityIsEditable: false,
      inventoryShowing: 5,
    };
  },
  mounted() {
    this.getOrderInventories();
  },
  methods: {
    showMore() {
      this.inventoryShowing = this.orderInventories.length;
    },
    showLess() {
      this.inventoryShowing = 5;
    },
    getOrderInventories() {
      this.isLoading = true;
      axios.get(`https://api.${this.domain}/dispatch/v2/orders/${this.orderId}/inventories`)
        .then((response) => {
          this.orderInventories = response.data.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
