<template>
  <div
    id="orders"
    class="orders absolute overflow-y-auto scrolling-touch"
    style="background-color: #3c3c4c">
    <dispatch-map
      :schedule-tab-toggled="scheduleTabToggled"
      :zoom-level="zoomLevel"
      :active-tab="activeTab"
      :chosen-position="chosenPosition"
      :current="tasks"
      :unassigned-current="orders"
      :scheduled="scheduledOrders"
      :domain="domain" />
    <map-controls
      :zoom-level="zoomLevel"
      :domain="domain"/>
    <order-details
      v-if="orderInfoIsShown"
      :key="selectedOrder.id"
      :order-id="selectedOrder.id"
      :tasks="tasks"
      :active-tab="activeTab"
      :order-type="orderType"
      :domain="domain" />
    <transition name="fade">
      <task-box
        v-if="taskBoxToggled"
        :domain="domain">
        <div
          v-show="!hideTasks"
          class="list">
          <div
            v-for="(container, index) in containers"
            :key="index"
            class="task-list cursor-pointer"
            @click.stop="toggleListIsShown(container)"
          >
            <div
              :style="{ 'background-color': container[0].color || '#fe6e00' }"
              style="padding-top:15px; padding-bottom:15px;"
              class="task-name text-white">
              <img
                v-if="showingTaskUpdate[container[0].container_id] === true"
                style="margin-left: 20px; margin-right: 10px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
                alt
              >
              <img
                v-else-if="showingTaskUpdate[container[0].container_id] !== true"
                class="rotated"
                style="margin-left: 18px; margin-right: 10px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
                alt
              >
              <img
                class="icon-location"
                style="position: absolute; right: 20px; margin: -4px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862117/Dispatch/DistpatchIconLocation.svg"
                alt
                @click.stop="getRunnersLocation(container[0].courier.id)"
              >
              <img
                v-if="container[0].courier ? container[0].courier.role === 1 : false"
                style="margin-right: 10px; margin-bottom: 3px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567613024/Dispatch/DispatchIconCar.svg"
              >
              <img
                v-else-if="container[0].courier ? container[0].courier.role === 4 : false"
                style="margin-right: 10px; margin-bottom: 3px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564581447/Dispatch/DispatchIconBicycle.svg"
              >
              <span>
                {{ container[0].courier.first_name }}
              </span>
              <span style="position: absolute; margin-left: 4px; margin-top: 2px; font-size: 13px;">
                ({{ container.length }})
              </span>
            </div>
            <moon-loader
              :loading="taskLoading"
              style="margin-left: 44%; padding-top: 20px; padding-bottom: 20px;"
              color="#ffffff"
              size="30px" />
            <div>
              <draggable
                v-if="taskLoading === false"
                v-bind="containerOptions"
                :list="container"
                :move="checkTaskMove"
                @change="updateTaskToTask">
                <transition-group
                  v-if="!taskLoading">
                  <div
                    v-for="(task, index) in container"
                    v-show="showingTaskUpdate[task.container_id] === true && taskLoading === false && task.state < 3"
                    :key="task.index"
                    :style="{backgroundColor: taskColour[taskColorBool(task.order.created_at)]}"
                    :class="{'has-rush-only-products': task ? task.order.has_rush_products : false}"
                    style="display: grid; position: relative; left: 0px; width: 100%; vertical-align:middle;"
                    class="order border-dispatch-dark-grey border-b p-20 cursor-pointer"
                    @click.stop="toggleOrderInfo(task.order)"
                  >
                    <div>
                      <span class="text-white mr-10">{{ task.index }}.</span>
                      <span class="mr-10">
                        <img
                          :src="task.store_logo"
                          class="w-30"
                          alt >
                      </span>
                      <span
                        style="color: #9E9E9E"
                        class="text-white mb-5 text-sm">
                        #{{ task.order.id }}
                        <div
                          class="inline-flex">
                          <span
                            v-for="(badge, index) in task.order.customer.tags"
                            :key="index"
                            class="badges influencer-teal">
                            {{ badge.title }}
                          </span>
                        </div>
                      </span>
                    </div>
                    <div style="margin-left: 70px;">
                      <div
                        style="display: flex;"
                        class="mr-10">
                        <img
                          v-if="task.order.customer.first_time === 1"
                          style="position: absolute; left: 52px;"
                          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862287/Dispatch/DistpatchIconMapNewuser.svg">
                        <div
                          class="text-white mb-5"
                          style="flex: 1;"
                        >{{ task.order.customer.first_name + ' ' + task.order.customer.last_name[0].toUpperCase() }}.</div>
                        <div style="flex: 1;">
                          <span
                            :style="{color: taskTextColour[taskColorBool(task.order.created_at)]}"
                            style="margin-left: 33px;"
                            class="text-sm"
                          >{{ task.order.created_at | moment('h:mm a') }}</span>
                        </div>
                      </div>
                      <div
                        style="display: flex;"
                        class="w3-border">
                        <span
                          style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                        <span
                          style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                        <span
                          :style="{backgroundColor: fillOrNot[getTaskStatus(task.state)]}"
                          style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                        <span
                          style="border-radius: 4px; background-color: #26262e; height:6px; width:20%"/>
                      </div>
                    </div>
                  </div>
                </transition-group>
              </draggable>
            </div>
          </div>
        </div>
      </task-box>
    </transition>
    <ul class="flex h-50 justify-center items-center p-0 bg-dispatch-dark-grey m-0">
      <li
        :class="{'active': activeTab == 'current'}"
        class="border-r border-b flex-1 border-dispatch-dark-grey"
        @click="toggleActiveTab('current', 0)"
      >
        <a
          href="#"
          class="block text-center h-50 flex items-center justify-center">
          Current
        </a>
      </li>
      <li
        :class="{'active': activeTab == 'scheduled'}"
        class="flex-1 border-dispatch-dark-grey border-b"
        @click="toggleActiveTab('scheduled', 7)"
      >
        <a
          href="#"
          class="block text-center h-50 flex items-center justify-center">
          Scheduled
          <!-- <span class="notification-schedule">
            {{ Object.keys(scheduleUpdate).length }}
          </span> -->
        </a>
      </li>
    </ul>
    <div
      v-if="isLoading"
      class="flex items-center justify-center p-30">
      <moon-loader
        :loading="isLoading"
        color="#ffffff"
        size="30px" />
    </div>
    <button
      :class="{isToggled: echoPaused}"
      class="p-15 w-full bg-white"
      @click.stop="toggleEcho">
      <span v-if="echoPaused">
        Turn On
      </span>
      <span v-else-if="!echoPaused">
        Pause
      </span>
      Live Updates
    </button>
    <button
      :class="{isToggled: taskBoxToggled}"
      class="task-box-btn"
      @click.stop="toggleTaskBox">
      Task Box
    </button>
    <draggable
      v-bind="currentOrdersOptions"
      :list="currentOrders"
      :move="checkOrderMove"
      @change="updateOrderToTask"
    >
      <div
        v-for="(order, index) in orders"
        v-show="activeTab === 'current'"
        :key="order.id"
        :style="{backgroundColor: taskColour[taskColorBool(order.created_at)]}"
        :class="{'has-rush-only-products': order ? order.has_rush_products : false}"
        class="order border-dispatch-dark-grey border-b p-20 flex cursor-pointer"
        @click.stop="toggleOrderInfo(order)"
      >
        <div>
          <span class="text-white mr-10">
            {{ index + 1 }}.
          </span>
        </div>
        <div
          class="mr-10"
          style="display: grid; grid-template-rows: 30px 0px;">
          <!-- Since null in store attributes gonna add the logos manually -->
          <!-- <img
            v-if="order.store.logo"
            :src="order.store.logo"
            class="w-30"
            alt> -->
          <img
            v-if="order.store.options.storeLogo"
            :src="order.store.options.storeLogo"
            alt=""
            class="w-30">
          <img
            v-else
            :src="storeImages[order.store.id - 1]"
            alt=""
            class="w-30">
          <div style="display: grid">
            <img
              v-if="order.first_time === 1"
              style="margin-left: 6px; width: 17px; margin-top: 5px;"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561489568/Dispatch/DistpatchIconMapNewuser.svg"
              alt="">
            <img
              v-if="order.payment_method === 'APPLE'"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564083254/Dispatch/DispatchIconApplepay.svg">
          </div>
        </div>
        <div class="flex flex-col mr-10">
          <span
            style="margin-bottom: 9px; margin-top: 7px;"
            class="id-badge text-white mb-5 text-sm">
            #{{ order.id }}
            <img
              v-if="order.is_apple_pay"
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564083254/Dispatch/DispatchIconApplepay.svg"
              alt="">
            <div
              class="flex">
              <span
                v-for="(badge, index) in order.user.tags"
                :key="index"
                class="badges influencer-teal">
                {{ badge.title }}
              </span>
            </div>
          </span>
          <span
            style="font-size: 18px; font-weight; 500;"
            class="text-white mb-5">
            {{ order.user.first_name + ' ' + order.user.last_name[0].toUpperCase() }}.
          </span>
          <span
            style="color: #9E9E9E;"
            class="text-white mb-5 text-sm"
          >
            {{ order.user.phone_number | phoneNumber }}
          </span>
        </div>
        <img
          class="absolute"
          style="right: 15px; align-self:center; width: 20px; margin-top: 2px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbuttonWhite.svg"
          alt
          @click.stop="toggleAssigneesInfo(order)"
        >
        <div class="flex items-center">
          <span
            v-if="!order.schedule_time"
            :style="{color: taskTextColour[taskColorBool(order.created_at)]}"
            class="text-sm"
          >
            {{ order.created_at | moment('h:mm a') }}
          </span>
          <span
            v-else-if="order.schedule_time"
            :style="{color: taskTextColour[taskColorBool(order.schedule_time)]}"
            class="text-sm flex flex-col justify-center align-center"
          >
            <span>
              scheduled for:
            </span>
            {{ order.schedule_time | moment('h:mm a') }}
          </span>
        </div>
        <div>
          <img
            src
            alt >
        </div>
      </div>
    </draggable>

    <div
      v-show="!hideTasks"
      class="list">
      <div
        v-for="(container, index) in containers"
        :key="index"
        class="task-list cursor-pointer"
        @click.stop="toggleListIsShown(container)"
      >
        <div
          :style="{ 'background-color': container[0].color || '#fe6e00' }"
          style="padding-top:15px; padding-bottom:15px;"
          class="task-name text-white">
          <img
            v-if="showingTaskUpdate[container[0].container_id] === true"
            style="margin-left: 20px; margin-right: 10px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <img
            v-else-if="showingTaskUpdate[container[0].container_id] !== true"
            class="rotated"
            style="margin-left: 18px; margin-right: 10px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <img
            class="icon-location"
            style="position: absolute; right: 20px; margin: -4px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862117/Dispatch/DistpatchIconLocation.svg"
            alt
            @click.stop="getRunnersLocation(container[0].courier.id)"
          >
          <img
            v-if="container[0].courier ? container[0].courier.role === 1 : false"
            style="margin-right: 10px; margin-bottom: 3px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1567613024/Dispatch/DispatchIconCar.svg"
          >
          <img
            v-else-if="container[0].courier ? container[0].courier.role === 4 : false"
            style="margin-right: 10px; margin-bottom: 3px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564581447/Dispatch/DispatchIconBicycle.svg"
          >
          <span>
            {{ container[0].courier.first_name }}
          </span>
          <span style="position: absolute; margin-left: 4px; margin-top: 2px; font-size: 13px;">
            ({{ container.length }})
          </span>
        </div>
        <moon-loader
          :loading="taskLoading"
          style="margin-left: 44%; padding-top: 20px; padding-bottom: 20px;"
          color="#ffffff"
          size="30px" />
        <div>
          <draggable
            v-if="taskLoading === false"
            v-bind="containerOptions"
            :list="container"
            :move="checkTaskMove"
            @change="updateTaskToTask">
            <transition-group
              v-if="!taskLoading">
              <div
                v-for="(task, index) in container"
                v-show="showingTaskUpdate[task.container_id] === true && taskLoading === false && task.state < 3"
                :key="task.index"
                :style="{backgroundColor: taskColour[taskColorBool(task.order.created_at)]}"
                :class="{'has-rush-only-products': typeof task.order !== 'undefined' ? (task.order.content).some(o => o.is_rush_only_product) : false}"
                style="display: grid; position: relative; left: 0px; width: 100%; vertical-align:middle;"
                class="order border-dispatch-dark-grey border-b p-20 cursor-pointer"
                @click.stop="toggleOrderInfo(task.order)"
              >
                <div>
                  <span class="text-white mr-10">{{ task.index }}.</span>
                  <span class="mr-10">
                    <img
                      :src="task.store_logo"
                      class="w-30"
                      alt >
                  </span>
                  <span
                    style="color: #9E9E9E"
                    class="text-white mb-5 text-sm">
                    #{{ task.order.id }}
                    <div
                      class="inline-flex">
                      <span
                        v-for="(badge, index) in task.order.customer.tags"
                        :key="index"
                        class="badges influencer-teal">
                        {{ badge.title }}
                      </span>
                    </div>
                  </span>
                </div>
                <div style="margin-left: 70px;">
                  <div
                    style="display: flex;"
                    class="mr-10">
                    <img
                      v-if="task.order.customer.first_time === 1"
                      style="position: absolute; left: 52px;"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862287/Dispatch/DistpatchIconMapNewuser.svg">
                    <div
                      class="text-white mb-5"
                      style="flex: 1;"
                    >{{ task.order.customer.first_name + ' ' + task.order.customer.last_name[0].toUpperCase() }}.</div>
                    <div style="flex: 1;">
                      <span
                        :style="{color: taskTextColour[taskColorBool(task.order.created_at)]}"
                        style="margin-left: 33px;"
                        class="text-sm"
                      >{{ task.order.created_at | moment('h:mm a') }}</span>
                    </div>
                  </div>
                  <div
                    style="display: flex;"
                    class="w3-border">
                    <span
                      style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                    <span
                      style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                    <span
                      :style="{backgroundColor: fillOrNot[getTaskStatus(task.state)]}"
                      style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                    <span
                      style="border-radius: 4px; background-color: #26262e; height:6px; width:20%"/>
                  </div>
                </div>
              </div>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>

    <!-- schedule logic-->
    <div v-show="hideTasks">
      <div
        v-for="(schedule, index) in scheduleUpdate"
        :key="index"
        class="position: sticky; bg-dispatch-dark-grey cursor-pointer"
        @click.stop="toggleScheduleListIsShown(schedule)"
      >
        <div
          :class="{'today' : isToday(index)}"
          style="padding-top:15px; padding-bottom:15px;"
          class="scheduled-header text-white cursor-pointer flex flex-row">
          <img
            v-if="showingScheduleUpdate[index] !== true"
            class="rotated mr-10"
            style="margin-left: 17px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <img
            v-else-if="showingScheduleUpdate[index] === true"
            class="mr-10"
            style="margin-left: 17px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <div class="flex flex-row justify-between w-full">
            <span>
              {{ index | moment('ll') }}
            </span>
            <span class="text-xs mr-30">
              ({{ schedule.length }})
            </span>
          </div>
        </div>
        <div
          v-show="showingScheduleUpdate[index] === true"
          class="border-dispatch-dark-grey"
          style="display:flex; padding: 7px; color: #848488; background-color: #3c3c4c;"
        >
          <p
            class="title"
            style="flex: 0; margin-left: 76px;">
            ID
          </p>
          <p
            class="title"
            style="flex: 1; margin-left: 51px;">Name</p>
          <p
            class="title"
            style="flex: 2; margin-right: 20px;">Time</p>
        </div>
        <div
          v-for="(array, index) in scheduleContainers"
          v-show="showingScheduleUpdate[index] === true"
          :key="index">
          <div
            v-for="(order, index) in array"
            v-show="schedule[0].formattedDate === array[index].formattedDate"
            :key="index"
            :style="{border: isOver2Hrs(array[index].schedule_time)[0]}"
            style="justify-content: center; align-items: end; margin-top: -1px; display: flex; padding: 20px; position: relative; left: 0px; width: 100%; vertical-align:middle; background-color: #3c3c4c;"
            @click.stop="toggleOrderInfo(order)"
          >
            <img
              class="absolute cursor-pointer"
              style="width: 20px; right: 35px; align-self:center; "
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbuttonWhite.svg"
              alt
              @click.stop="toggleAssigneesInfo(order)"
            >
            <span style="color: #FFFFFF; flex: 0; margin-right: 20px;">
              {{ order.formattedIndex + 1 }}
            </span>
            <img
              :src="order.store_logo"
              style="width: 20px;"
              class="mr-10">
            <span
              style="flex: 0; margin-right: 20px;"
              class="text-white mb-5 text-sm">#{{ order.id }}</span>
            <span
              v-if="Object.keys(order.customer).length > 0"
              style="flex: 1;"
              class="text-white mb-5 text-sm"
            >{{ order.user.first_name + ' ' + order.user.last_name[0].toUpperCase() }}.</span>
            <span
              :style="{color: isOver2Hrs(array[index].schedule_time)[1]}"
              style="flex: 2;"
              class="mb-5 text-sm"
            >{{ order.schedule_time | moment('h:mm a') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- christian - there is an easier way of doing this click outside....its a extenson on @click-->
    <assignees
      v-click-outside="outside"
      v-show="assigneesInfoIsShown"
      :selected-order="selectedOrder"
      :assignees-info-is-shown="assigneesInfoIsShown"
      :domain="domain"
    />
  </div>
</template>

<style lang="scss" scoped>
//animation css start
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
//end animation
.has-rush-only-products {
  border: 10px solid #ce85ff47;
  border-radius: 3px;
}
.task-box-btn {
  outline: none;
  position: absolute;
  right: 0px;
  top: 52px;
  background-color: #b895ff;
  color: white;
  width: 20%;
  height: 20px;
  border-radius: 3px;
  :hover {
    opacity: 0.5;
  }
}
.isToggled {
  opacity: 0.5;
}
.today {
  background-color: #191923;
}
.id-badge {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
}
// badges colour
  .influencer-teal {
    border: 1px #16C5B5 solid;
    background-color: #16C5B5;
  }
  .vip {
    border: 1px #16C5B5 solid;
    background-color: #16C5B5;
  }
  .investor {
    border: 1px  #32C941 solid;
    background-color: #32C941;
  }
  .business {
    border: 1px #F6A648 solid;
    background-color: #F6A648;
  }
  .influencer-pink {
    border: 1px #F44B86 solid;
    background-color: #F44B86;
  }
// end badges colour
.badges {
  font-size: 12px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 13px;
  border-radius: 19px;
  text-align: center;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.notification-schedule {
  background: #F83E41;
  border-radius: 100%;
  width: 20px;
  position: absolute;
  right: 25px;
  height: 20px;
}
.icon-location:hover {
  filter: invert(1);
}
.task-name:hover {
  opacity: 0.5;
}
.scheduled-header:hover {
  opacity: 0.5;
}
.rotated {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.orders {
  width: 385px;
  left: 0;
  height: calc(100vh - 60px);
  -webkit-box-shadow: 3px 23px 26px -2px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 3px 23px 26px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 3px 23px 26px -2px rgba(0, 0, 0, 0.42);
}
.active {
  a {
    background-color: #3c3c4c;
  }
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  background: #26262e;
}
.textarea {
  -webkit-appearance: none;
}
</style>

<script>
import draggable from 'vuedraggable';
import api from '../mixins/api';

export default {
  components: {
    draggable,
  },
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  // every prop, lets follow the vue documentation on this, ie type, default, etc.
  props: {
    domain: {
      type: String,
      default: null,
    },
    orders: {
      type: Array,
      default: null,
      required: true,
    },
    scheduled_orders: {
      type: Array,
      default: null,
      required: true,
    },
    tasks: {
      type: Array,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      echoPaused: false,
      scheduleTabToggled: false,
      fillOrNot: ['#FFFFFF', '#26262e'],
      joey: {},
      taskTextColour: ['#FFFFFF', '#eca124', '#ee3f41'],
      taskColour: ['#3c3c4c', 'rgba(245,166,35,0.21)', 'rgba(248,63,65,0.14)'],
      chosenPosition: {
        latitude: 43.660491,
        longitude: -79.402288,
      },
      runnersLocation: [],
      selectedTaskDragged: [],
      orderToTaskEl: [],
      orderFromTaskEl: [],
      taskToTaskEl: [],
      taskFromTaskEl: [],
      zoomLevel: 13,
      listIsShown: true,
      dateListIsShown: true,
      orderInfoIsShown: false,
      taskBoxToggled: false,
      taskInfoIsShown: false,
      assigneesInfoIsShown: false,
      taskOrders: [],
      runners: [],
      selectedOrder: {},
      selectedTask: [],
      selectedDate: [],
      activeTab: 'current',
      isLoading: true,
      taskLoading: false,
      drag: false,
      hideTasks: false,
      currentOrders: [],
      scheduledOrders: [],
      showingTask: {},
      showingSchedule: {},
      orderType: '',
      storeImages: [
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1568983196/runner%20v4/icons/IconLcboLogoCircle.png',
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1568054994/runner%20v4/icons/IconRushLogociCircle.png',
        '',
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1568054833/runner%20v4/icons/IconGiftLogoCircle.png',
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1568054817/runner%20v4/icons/IconWinerackLogoCircle.png',
        '',
        '',
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1568054812/runner%20v4/icons/IconRunnerLogoCircle.png',
      ],
    };
  },
  computed: {
    showingTaskUpdate() {
      return this.showingTask;
    },
    showingScheduleUpdate() {
      return this.showingSchedule;
    },
    containers() {
      const sortedTasks = _.sortBy(
        this.$store.getters.getTasks,
        'index',
      );
      const tasks = sortedTasks;
      const groupedByContainer = _.groupBy(tasks, task => task.container_id);
      const containerArray = Object.keys(groupedByContainer).map(key => groupedByContainer[key]);
      return containerArray;
    },
    containerOptions() {
      return {
        animation: 200,
        group: {
          name: 'container',
          put: ['currentOrders', 'container'],
        },
        disabled: false,
        ghostClass: 'ghost',
      };
    },
    currentOrdersOptions() {
      return {
        animation: 200,
        group: 'currentOrders',
        disabled: false,
        ghostClass: 'ghost',
      };
    },
    currentOrdersUpdate() {
      return this.currentOrders;
    },
    scheduleUpdate() {
      if (this.scheduleTabToggled) {
        const results = this.scheduled_orders;

        const map = results.map((result, index) => {
          result.formattedIndex = index;
          return result;
        });

        const formattedResults = map.map((result) => {
          result.formattedDate = moment(
            result.schedule_time,
          ).format('YYYYMMDD');
          return result;
        });

        const t2 = _.groupBy(formattedResults, 'formattedDate');

        Object.keys(t2).forEach((key) => {
          t2[key] = _.orderBy(t2[key], [o => o.schedule_time || o.created_at], 'asc');
        });

        this.$store.dispatch('getScheduledOrders');
        return t2;
      }
    },
    scheduleContainers() {
      if (this.scheduleTabToggled) {
        const results = this.scheduled_orders;

        const map = results.map((result, index) => {
          result.formattedIndex = index;
          return result;
        });

        const formattedResults = map.map((result) => {
          result.formattedDate = moment(
            result.schedule_time,
          ).format('YYYYMMDD');
          return result;
        });

        const t2 = _.groupBy(formattedResults, 'formattedDate');

        Object.keys(t2).forEach((key) => {
          t2[key] = _.orderBy(t2[key], [o => o.schedule_time || o.created_at], 'asc');
        });

        this.$store.dispatch('getScheduledOrders');
        return t2;
      }
    },
  },
  mounted() {
    try {
      this.orders.map((o) => {
        if (o.status !== 5 && o.status !== 7) {
          this.currentOrders.push(o);
        } else if (o.status === 7) {
          this.scheduledOrders.push(o);
        }
      });
      this.isLoading = false;

      Echo.channel('task-channel')
        .listen('TaskStateUpdated', (e) => {
          if (!this.echoPaused) {
            this.isLoading = true;
            this.$store.dispatch('getOrders');
            this.$store.dispatch('getScheduledOrders');
            this.$store.dispatch('getTasks');
            this.isLoading = false;
          }
        });
      Echo.channel('order-channel')
        .listen('NewOrder', (e) => {
          if (!this.echoPaused) {
            this.isLoading = true;
            this.$store.dispatch('getOrders');
            this.$store.dispatch('getScheduledOrders');
            this.$store.dispatch('getTasks');
            this.isLoading = false;
          }
        });
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    toggleEcho() {
      this.echoPaused = !this.echoPaused;

      if (this.echoPaused === false) {
        this.isLoading = true;
        this.$store.dispatch('getOrders');
        this.$store.dispatch('getScheduledOrders');
        this.$store.dispatch('getTasks');
      }
    },
    isToday(date) {
      return moment(date).format('YYYY MM DD') === moment().format('YYYY MM DD');
    },
    getTaskStatus(status) {
      if (status === 2) {
        return 0;
      }
      return 1;
    },
    isOver2Hrs(schedule_time) {
      const timeDifference = moment.duration(moment().diff(schedule_time));
      const hours = timeDifference.asHours();
      if (hours > 2) {
        return ['1px #F83F41 solid', '#F83F41'];
      }
      return ['1px #151517 solid', '#FFFFFF'];
    },
    taskColorBool(createdAt) {
      const timeDifference = moment.duration(moment().diff(createdAt));
      const hours = timeDifference.asHours();
      if (hours > 1 && hours < 1.5) {
        return 1;
      }
      if (hours > 1.5) {
        return 2;
      }
      return 0;
    },
    outside() {
      this.assigneesInfoIsShown = false;
      this.orderInfoIsShown = false;
      this.taskBoxToggled = false;
    },
    toggleListIsShown(task) {
      if (task.isShown === null) {
        task.isShown = true;
      }
      task.isShown = !task.isShown;
      for (let i = 0; i < task.length; i++) {
        this.showingTask[task[i].container_id] = task.isShown;
      }
      this.$forceUpdate();
    },
    toggleScheduleListIsShown(schedule) {
      if (schedule.isShown === null) {
        schedule.isShown = true;
      }
      schedule.isShown = !schedule.isShown;
      for (let i = 0; i < schedule.length; i++) {
        this.showingSchedule[schedule[i].formattedDate] = schedule.isShown;
      }
      this.$forceUpdate();
    },
    toggleOrderInfo(order) {
      this.orderInfoIsShown = true;
      this.assigneesInfoIsShown = false;
      this.taskBoxToggled = false;
      this.selectedOrder = order;
    },
    toggleTaskBox() {
      this.orderInfoIsShown = false;
      this.assigneesInfoIsShown = false;
      this.taskBoxToggled = true;
    },
    toggleAssigneesInfo(order) {
      if (this.selectedOrder !== order) {
        this.assigneesInfoIsShown = true;
        this.selectedOrder = order;
      } else {
        this.assigneesInfoIsShown = !this.assigneesInfoIsShown;
      }
      this.orderInfoIsShown = false;
      this.taskBoxToggled = false;
    },
    getRunnersLocation(runnerId) {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/courier-location?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runnersLocation = response.data.data;
          this.chosenPosition = {};

          for (let i = 0; i < this.runnersLocation.length; i++) {
            if (runnerId === this.runnersLocation[i].runner_id) {
              this.chosenPosition.latitude = this.runnersLocation[i].latitude;
              this.chosenPosition.longitude = this.runnersLocation[i].longitude;
              return;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/couriers?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runners = response.data[0].scheduledRunner;
          this.joey = response.data[0].joey;
          const user = {
            color: '#000000',
            created_at: `${moment().format('YYYY-MM-DD')} 00:00:00`,
            deleted_at: null,
            end: `${moment().format('YYYY-MM-DD')} 23:59:59`,
            id: 13440,
            job_type: 3,
            start: `${moment().format('YYYY-MM-DD')} 00:00:00`,
            user_id: 13440,
            user: this.joey,
          };
          this.runners.push(user);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleActiveTab(tab, status) {
      this.orderInfoIsShown = false;
      this.taskBoxToggled = false;
      this.activeTab = tab;
      if (status === 7) {
        this.scheduleTabToggled = true;
        this.hideTasks = true;
        this.$store.dispatch('getScheduledOrders');
      } else {
        this.hideTasks = false;
        this.scheduleTabToggled = false;
      }
    },
    checkOrderMove(evt) {
      this.orderToTaskEl = evt.draggedContext;
      this.orderFromTaskEl = evt.relatedContext;
    },
    checkTaskMove(evt) {
      this.taskToTaskEl = evt.draggedContext;
      this.taskFromTaskEl = evt.relatedContext;
    },
    updateOrderToTask() {
      const orderOrderId = this.orderToTaskEl.element.id;
      const orderCourierId = this.orderFromTaskEl.element.courier.id;
      const orderTaskContainerId = this.orderFromTaskEl.element.container_id;
      const orderTaskIndex = this.orderFromTaskEl.index;
      this.taskLoading = true;

      if (orderCourierId) {
        axios({
          method: 'post',
          url: `https://api.${this.domain}/dispatch/v2/tasks/`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
          data: {
            data: {
              type: 'tasks',
              attributes: {
                orderId: orderOrderId,
                type: 'order',
                courierId: orderCourierId,
                containerId: orderTaskContainerId,
                index: orderTaskIndex,
              },
            },
          },
        }).then(() => {
          this.$store.dispatch('getTasks');
          this.$store.dispatch('getOrders');
          this.$store.getters.getOrders.map((o) => {
            if (o.status !== 5 && o.status !== 7) {
              this.currentOrders.push(o);
            } else if (o.status === 7) {
              this.scheduledOrders.push(o);
            }
          });
        })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.taskLoading = false;

        alert('Not implemented switching Order order # in list.');
      }
    },
    async updateTaskToTask() {
      if (!this.taskToTaskEl.element || !this.taskFromTaskEl.element) {
        return;
      }
      const taskId = this.taskToTaskEl.element.id;
      const taskOrderId = this.taskToTaskEl.element.order.id;
      const taskCourierId = this.taskFromTaskEl.element.courier.id;
      const taskContainerId = this.taskFromTaskEl.element.container_id;
      const taskOrderIndex = this.taskToTaskEl.futureIndex;
      this.taskLoading = true;
      if (taskCourierId) {
        axios({
          method: 'put',
          url: `https://api.${this.domain}/dispatch/v2/tasks/${taskId}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
            Accept: 'application/json',
            ContentType: 'application/json',
          },
          data: {
            data: {
              type: 'tasks',
              attributes: {
                orderId: taskOrderId,
                type: 'order',
                courierId: taskCourierId,
                containerId: taskContainerId,
                index: taskOrderIndex,
              },
            },
          },
        }).then(() => {
          this.$store.dispatch('getTasks');
          this.taskLoading = false;
        })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.taskLoading = false;
        alert('Cannot assign to null.');
      }
    },
  },
};
</script>
