<template>
  <div>
    <div
      v-if="isLoading"
      class="flex items-center justify-center p-30">
      <moon-loader
        :loading="isLoading"
        color="#ffffff"
        size="30px"/>
    </div>
    <div v-else>
      <div
        v-if="Object.keys(stripeCharge).length"
        :style="{borderColor: borderColor[getPaymentMethod(stripeCharge.attributes.applePay)]}"
        class="flex flex-col border p-15 rounded mb-5">
        <div>
          <div class="flex mb-10 items-center">
            <span
              style="padding-right: 35px;"
              class="text-white text-sm">
              Payment Method
            </span>
            <span
              v-if="stripeCharge.attributes.paymentMethod === 'Visa'"
              class="text-white text-sm">
              <img
                style="width: 25%; padding-right: 5px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564083930/Dispatch/DispatchIconVisa.svg">
              <span>
                •••• •••• •••• {{ stripeCharge.attributes.paymentLastFourDigits }}
              </span>
            </span>
            <span
              v-else-if="stripeCharge.attributes.applePay"
              class="text-white text-sm">
              <!-- <div style="color: #F83F41;">
              WARNING: APPLE PAY
            </div> -->
              <img
                style="margin-right: 5px;"
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564083254/Dispatch/DispatchIconApplepay.svg">
              <span>
                Apple Pay
              </span>
            </span>
            <span
              v-else-if="stripeCharge.attributes.paymentMethod === 'American Express'"
              class="text-white text-sm">
              <img
                src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1564083931/Dispatch/DispatchIconAmericanexpress.svg">
              <span>
                •••• •••• •••• {{ stripeCharge.attributes.paymentLastFourDigits }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="isLoading"
      class="flex items-center justify-center p-30">
      <moon-loader
        :loading="isLoading"
        color="#ffffff"
        size="30px"/>
    </div>
    <div v-else>
      <div
        v-if="Object.keys(stripeCharge).length"
        class="flex flex-col border border-dispatch-dark-grey p-15 rounded mb-5">
        <slot/>
        <div class="flex mb-10 items-center">
          <span class="text-white text-sm flex-1">
            Postal Code
          </span>
          <span class="text-white text-sm flex-1">
            {{ stripeCharge.attributes.postalCode }}
          </span>
        </div>
        <div class="flex items-center">
          <span class="text-white text-sm flex-1">
            Risk Evaluation
          </span>
          <span class="text-white text-sm flex-1 flex items-center">
            <span
              :style="{backgroundColor: riskColour[getRiskColour(stripeCharge.attributes.riskScore)]}"
              style="border-radius: 50%; width: 27px;"
              class="mr-10 flex items-center justify-center p-5">
              {{ stripeCharge.attributes.riskScore }}
            </span>
            <span>
              {{ stripeCharge.attributes.riskLevel }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
export default {
  props: [
    'orderId',
    'domain',
  ],
  data() {
    return {
      riskColour: ['rgb(109, 193, 79)', '#FF1D35'],
      isLoading: false,
      stripeCharge: {},
      borderColor: ['#26262e', '#16C5B5'],
    };
  },
  mounted() {
    this.getStripeCharge();
  },
  methods: {
    getPaymentMethod(applePay) {
      if (applePay) {
        return 1;
      }
      return 0;
    },
    getRiskColour(riskScore) {
      if (riskScore > 20) {
        return 1;
      }
      return 0;
    },
    getStripeCharge() {
      this.isLoading = true;
      axios.get(`https://api.${this.domain}/dispatch/v2/orders/${this.orderId}/stripe/charge`)
        .then((response) => {
          this.stripeCharge = response.data.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
