<template>
  <!-- WHEN GIVEN THE TIME TO DO SO, RE-MAKE CSS -->
  <div
    :style="{display: display}"
    style="background: #3c3c4c;"
    class="order-information z-50 fixed border border-dispatch-dark-grey p-15 rounded overflow-y-auto scrolling-touch">
    <div
      class="cursor-pointer"
      style="color: #FFFFFF; right: 10px; position:absolute;"
      @click="toggleOrderInfo"> x </div>

    <!-- top row ord num | name -->
    <div
      class=""
      style="display: grid; grid-template-columns: 1fr 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px; height:83%;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e;"
          class="text-lg mb-10">
          Order Number
        </span>
        <span class="text-white text-sm">
          # {{ order.id }}
        </span>
      </div>
      <div
        class="border"
        style="border-color: #26262d; padding: 15px;">
        <div class="flex justify-between items-center mb-10">
          <span
            style="color: #9e9e9e;"
            class="text-lg">
            Name
          </span>
        </div>
        <div
          class="flex">
          <div>
            <span
              class="rounded-full flex items-center justify-center text-white mr-10"
              style="background-color: #3B3C4B; width: 40px; height: 40px;">
              {{ order.attributes.customer.firstName[0] }}
            </span>
          </div>
          <div class="flex flex-col">
            <span class="text-white text-sm mb-10">
              {{ order.attributes.customer.firstName }}
            </span>
            <div class="flex mb-10">
              <span
                style="color: rgb(158, 158, 158);"
                class="flex-1 text-sm mr-10">
                {{ order.attributes.customer.phoneNumber | phoneNumber }}
              </span>
              <span
                style="color: rgb(158, 158, 158);"
                class="flex-1 text-sm">
                {{ order.attributes.customer.email }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd row device | customer notes -->
    <div
      class=""
      style=" margin-botom: -9px; display: grid; grid-template-columns: 1fr 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px; height:83%;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e;"
          class="text-lg mb-10">
          Device
        </span>
        <span class="text-white text-sm">
          Web Desktop
        </span>
      </div>
      <div
        class="border"
        style="border-color: #26262d; padding: 15px; margin-top: 20px">
        <div class="flex justify-between items-center mb-10">
          <span
            style="color: #9e9e9e;"
            class="text-lg">
            Customer Notes
          </span>
          <span
            v-if="!customerNotesIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click="toggleCustomerNotesIsEditable">
            Edit
          </span>
          <span
            v-else-if="customerNotesIsEditable"
            class="text-sm cursor-pointer"
            style="margin-left: 250px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click="customerNotesApplyEdit()">
            Save
          </span>
          <span
            v-show="customerNotesIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e;"
            @click="toggleCustomerNotesIsEditable">
            &times;
          </span>
        </div>
        <div v-if="!customerNotesIsEditable" >
          <h1
            id=""
            class="textarea text-xs text-white bg-dispatch-grey p-15 w-full"
            name="">{{ previousCustomerNotes || 'Type something...' }}</h1>
        </div>
        <div v-if="customerNotesIsEditable" >
          <textarea
            id=""
            v-model="newCustomerNotes"
            style="background-color: #484a4e;"
            class="textarea text-xs text-white p-15 w-full"
            name=""
            placeholder="Type something..."/>
        </div>
      </div>
    </div>

    <!-- 3rd row delivery address | activity log -->
    <div
      class=""
      style="margin-bottom: -239px; display: grid; grid-template-columns: 1fr 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px; height:30%;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e;"
          class="text-lg mb-10">
          Delivery Address
        </span>
        <span
          style="color: #9e9e9e; font-size: 15px; "
          class="">
          Unit
        </span>
        <span class="text-white text-sm">
          123
        </span>
        <span
          style="position: absolute; padding-top: 47px; padding-left: 48px;"
          class="text-white text-sm">
          {{ order.attributes.address.address }}
        </span>
      </div>
      <div
        class="border"
        style="border-color: #26262d; padding-top: 15px; margin-top: 10px;">
        <div class="flex justify-between items-center mb-10">
          <span
            style="color: #9e9e9e; padding-left:16px;"
            class="text-lg">
            Activity Log
          </span>
        </div>
        <div
          style="display:inline-grid; width: 100%;"
        >
          <div style="padding-left: 250px;">
            <span
              style="color: #9E9E9E; padding-right:100px">
              Date
            </span>
            <span
              style="color: #9E9E9E;">
              Time
            </span>
          </div>
          <div style="border-bottom: 1px #252629 solid; width:100%">
            <div style="margin-top: 14px; padding-bottom: 14px;">
              <span style="color: #FFFFFF; font-size: 13px; margin-left: 16px;"> Received </span>
              <span
                style="color: #FFFFFF; font-size: 13px; margin-right: 74px; margin-left: 179px;">
                {{ order.attributes.createdAt | moment('MMM D YYYY') }}
              </span>
              <span
                style="color: #FFFFFF; font-size: 13px;">
                {{ order.attributes.createdAt | moment('LT') }}
              </span>
            </div>
          </div>
          <div style="margin-top: 14px; padding-bottom: 14px; border-bottom: 1px #252629 solid; width:100%">
            <span style="color: #FFFFFF; font-size: 13px; margin-left: 16px;"> Scheduled Time </span>
            <span
              style="color: rgb(158, 158, 158); font-size: 13px; margin-right: 75px; margin-left: 137px;">
              {{ order.attributes.deliveredAt | moment('MMM D YYYY') }}
            </span>
            <span
              style="color: rgb(158, 158, 158); font-size: 13px;">
              {{ order.attributes.deliveredAt | moment('LT') }}
            </span>
          </div>
          <div style="margin-top: 14px; padding-bottom: 14px; border-bottom: 1px #252629 solid; width:100%">
            <span style="color: #FFFFFF; font-size: 13px; margin-left: 16px;"> Dispatch </span>
            <span
              style="color: #FFFFFF; font-size: 13px; margin-right: 76px; margin-left: 179px;">
              {{ order.attributes.deliveredAt | moment('MMM D YYYY') }}
            </span>
            <span
              style="color: #FFFFFF; font-size: 13px;">
              {{ order.attributes.deliveredAt | moment('LT') }}
            </span>
          </div>
          <div style="margin-top: 14px; padding-bottom: 14px; border-bottom: 1px #252629 solid; width:100%;">
            <span style="color: #9E9E9E; font-size: 13px; margin-left: 16px; position: relative;"> Product Substitution </span>
            <span
              style="color: #FFFFFF; font-size: 13px; margin-right: 76px; margin-left: 113px;">
              {{ order.attributes.deliveredAt | moment('MMM D YYYY') }}
            </span>
            <span
              style="color: #FFFFFF; font-size: 13px;">
              {{ order.attributes.deliveredAt | moment('LT') }}
            </span>
            <span style="color: #9E9E9E; font-size: 10px; margin-left: 16px; position: relative; right: 448px; font-style: italic; top: 11px;">
              Refund: $8.31
            </span>
          </div>
          <div style="margin-top: 14px; padding-bottom: 14px; border-bottom: 1px #252629 solid; width:100%">
            <div>
              <span style="color: #FFFFFF; font-size: 13px; margin-left: 16px;"> En Route </span>
              <span
                style="color: #FFFFFF; font-size: 13px; margin-right: 123px; margin-left: 233px;">
                -
              </span>
              <span
                style="color: #FFFFFF; font-size: 13px;">
                -
              </span>
            </div>
          </div>
          <div style="margin-top: 14px; padding-bottom: 15px; width:100%">
            <span style="color: #FFFFFF; font-size: 13px; margin-left: 16px;"> Delivered </span>
            <span
              style="color: #FFFFFF; font-size: 13px; margin-right: 78px; margin-left: 174px;">
              {{ order.attributes.deliveredAt | moment('MMM D YYYY') }}
            </span>
            <span
              style="color: #FFFFFF; font-size: 13px;">
              {{ order.attributes.deliveredAt | moment('LT') }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- fourth row: instructions ?? -->
    <div
      class=""
      style="margin-bottom: -253px; display: grid; grid-template-columns: 1fr 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px; height:25%;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e;"
          class="text-lg mb-10">
          Instructions
        </span>
        <span class="text-white text-sm">
          {{ order.attributes.instructions || '' }}
        </span>
      </div>
      <div
        class="border"
        style="margin-top: 247px; border-color: #26262d; padding: 15px;">
        <div class="flex justify-between items-center mb-10">
          <span
            style="color: #9e9e9e;"
            class="text-lg">
            Notes
          </span>
          <span
            v-if="!notesIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click="toggleNotesIsEditable">
            Edit
          </span>
          <span
            v-else-if="notesIsEditable"
            class="text-sm cursor-pointer"
            style="margin-left: 400px; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click="notesApplyEdit()">
            Save
          </span>
          <span
            v-show="notesIsEditable"
            class="text-sm cursor-pointer"
            style="color: #9e9e9e;"
            @click="toggleNotesIsEditable">
            &times;
          </span>
        </div>
        <div v-if="!notesIsEditable" >
          <h1
            id=""
            class="textarea text-xs text-white bg-dispatch-grey p-15 w-full"
            name="">{{ previousNotes || 'Type something...' }}</h1>
        </div>
        <div v-if="notesIsEditable" >
          <textarea
            id=""
            v-model="newNotes"
            style="background-color: #484a4e;"
            class="textarea text-xs text-white p-15 w-full"
            name=""
            placeholder="Type something..."/>
        </div>
      </div>
    </div>

    <!-- ASSIGN ORDER TO BOX -->
    <div
      class=""
      style="width: 49.3%; margin-bottom: -239px; display: inline-grid; grid-template-columns: 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px; height:100%;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e; margin-bottom: 10px;"
          class="text-lg">
          Assign order to:
        </span>
        <assignees
          v-show="assigneesInfoIsShown"
          :assignees-info-is-shown="assigneesInfoIsShown"
          :selected-order="order"
          :domain="domain"
        />
        <div style="display: flex; justify-content: space-between;">
          <span
            v-if="order.attributes.courier === null"
            style="color: #FFFFFF;"
            class="text-sm">
            Add a runner...
          </span>
          <div style="display: flex;">
            <div
              v-if="order.attributes.courier.firstName !== null"
              :style="{backgroundColor: colour}"
              style="width: 20px; height: 20px;"
              class="rounded-full flex items-center justify-center mr-10">
              <div
                style="width: 5px; height: 5px;"
                class="rounded-full bg-black"/>
            </div>
            <span
              v-if="order.attributes.courier.firstName !== null"
              class="text-white text-sm">
              {{ order.attributes.courier.firstName }}
            </span>
            <span
              v-if="order.attributes.courier.firstName !== null"
              style="color: #9e9e9e; padding-left: 3px;"
              class="cursor-pointer">
              &times;
            </span>
          </div>
          <img
            class="cursor-pointer"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbutton.svg"
            alt=""
            @click.stop="toggleAssigneesInfo()">
        </div>
      </div>
    </div>

    <!-- ORDER CONTENT ROW-->
    <div
      style="width: 100%; padding: 10px; margin-top: 405px; display: inline-grid; grid-template-columns: 1fr; gap: 5px 15px;"
      class="border border-dispatch-dark-grey">
      <div class="order-content">
        <div
          style="padding-bottom: 20px; color: #9e9e9e;">
          Order Content

          <span
            v-if="!contentIsEditable"
            class="text-sm cursor-pointer"
            style="right: 62px; position: absolute; margin-left: 86%; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click="toggleContentIsEditable">
            Edit
          </span>
          <span
            v-else-if="contentIsEditable"
            class="text-sm cursor-pointer"
            style="margin-left: 83%; color: #9e9e9e; border: 1px solid #9e9e9e; border-radius: 18px; padding: 2px 8px;"
            @click="contentApplyEdit()">
            Save
          </span>
          <span
            v-show="contentIsEditable"
            class="text-sm cursor-pointer"
            style="margin-left: 5px; color: #9e9e9e;"
            @click="toggleContentIsEditable">
            &times;
          </span>
        </div>
        <div
          class="order-content-headers">
          <div
            style="color: #9e9e9e;">
            Quantity
          </div>
          <div
            style="color: #9e9e9e;">
            Package
          </div>
          <div
            style="color: #9e9e9e;">
            Item
          </div>
          <div
            style="color: #9e9e9e;">
            Price
          </div>
          <div
            style="color: #9e9e9e;">
            Allow Sub
          </div>
        </div>
      </div>
      <!-- TABLE NON EDITABLE -->
      <table
        v-if="!contentIsEditable"
        style="color:#FFFFFF; font-size: 13px;">
        <tbody>
          <tr
            v-for="(item, index) in order.attributes.orderContent"
            :key="index">
            <td style="width: 20%;">
              {{ item.quantity }}x
            </td>
            <td style="width: 20%;">
              {{ item.packaging }}
            </td>
            <td style="width: 20%;">
              {{ item.title }}
            </td>
            <td style="width: 20%;">
              ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              <span
                class="block italic"
                style="color: #9e9e9e;">
                ${{ (item.retailPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </td>
            <td style="">
              <img
                :src="checkIcon"
                style="padding-left: 24px;">
            </td>
          </tr>
        </tbody>
      </table>

      <!-- TABLE EDITABLE -->
      <table
        v-if="contentIsEditable"
        style="color:#FFFFFF; font-size: 13px;">
        <tbody>
          <tr
            v-for="(item, index) in order.attributes.orderContent"
            :key="index">
            <td style="width: 20%;">
              <input
                v-model="newOrderContentQty[index]"
                :placeholder="item.quantity"
                class="text-white text-sm"
                style="background-color : #484a4e; width: 25%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            </td>
            <td style="width: 20%;">
              {{ item.packaging }}
            </td>
            <td style="width: 20%;">
              <input
                v-model="newOrderContentTitle[index]"
                :placeholder="item.title"
                class="text-white flex-1 text-sm mr-10"
                style="background-color : #484a4e; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            </td>
            <td style="width: 20%;">
              ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              <span
                class="block italic"
                style="color: #9e9e9e;">
                ${{ (item.retailPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
              </span>
            </td>
            <td style="">
              <img :src="checkIcon" >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- signature and order total -->
    <div
      class=""
      style="margin-top: 12px; display: grid; grid-template-columns: 1fr 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e;">
          Signature
        </span>
        <img
          :src="order.attributes.signature"
          style="margin: 17px; width: auto; height: 300px; background-color: #FFFFFF;">
      </div>
      <!-- ORDER TOTAL -->
      <div class="padding: 20px; border pt-15 rounded border-dispatch-dark-grey mb-5">
        <div class="flex justify-between items-center mb-10">
          <span
            style="margin-left: 15px; color: #9e9e9e;">
            Order Total
          </span>
        </div>
        <div style="padding: 20px; border-bottom: 1px #252629 solid; width:100%; display: flex; justify-content: space-between;">
          <span class="text-white text-sm">
            Item
          </span>
          <span class="text-white text-sm">
            ${{ order.attributes.subtotal.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </span>
        </div>
        <div style="padding: 20px; border-bottom: 1px #252629 solid; width:100%; display: flex; justify-content: space-between;">
          <span class="text-white text-sm">
            Tax
          </span>
          <span class="text-white text-sm">
            ${{ order.attributes.displayTaxTotal.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </span>
        </div>
        <div style="padding: 20px; border-bottom: 1px #252629 solid; width:100%; display: flex; justify-content: space-between;">
          <span class="text-white text-sm">
            Delivery
          </span>
          <span class="text-white text-sm">
            ${{ order.attributes.delivery.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </span>
        </div>
        <div style="padding: 20px; border-bottom: 1px #252629 solid; width:100%; display: flex; justify-content: space-between;">
          <span class="text-white text-sm">
            Service Fee
          </span>
          <span class="text-white text-sm">
            ...
          </span>
        </div>
        <div style="padding: 20px; border-bottom: 1px #252629 solid; width:100%; display: flex; justify-content: space-between;">
          <span class="text-white text-sm italic">
            Discount
          </span>
          <span class="text-white text-sm">
            ${{ order.attributes.discount.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) || '...' }}
          </span>
        </div>
        <div style="padding: 20px; width:100%; display: flex; justify-content: space-between;">
          <span class="text-white text-sm">
            Total
          </span>
          <span class="text-white text-sm font-bold">
            ${{ order.attributes.total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
          </span>
        </div>
      </div>
    </div>
    <div
      class=""
      style="margin-top: 12px; display: grid; grid-template-columns: 1fr; gap: 5px 15px;">
      <div
        style="padding: 15px;"
        class="flex flex-col border border-dispatch-dark-grey rounded">
        <span
          style="color: #9e9e9e;">
          Product Availability List
        </span>
        <div>
          <table
            class="w-full">
            <thead>
              <tr style="color: rgb(158, 158, 158);">
                <th style="font-size: 13px; padding-bottom: 10px padding-left: 15px">
                  Store Name
                </th>
                <th style="font-size: 13px">
                  Address
                </th>
                <th style="font-size: 13px">
                  Area
                </th>
                <th class="text-sm font-thin pb-10">
                  Hours
                </th>
                <th class="text-sm font-thin pb-10 pr-15 text-right">
                  Qty
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="orderInventory in orderInventories"
                :key="orderInventory.id">
                <!--- NEED ACTUAL ADDRESS AND AREA NAMES -->
                <td class="text-xs text-white border-b border-dispatch-dark-grey py-5 pl-15">
                  {{ orderInventory.attributes.title }}
                </td>
                <td class="text-xs text-white border-b border-dispatch-dark-grey py-5">
                  {{ orderInventory.attributes.address_id }}
                </td>
                <td class="text-xs text-white border-b border-dispatch-dark-grey py-5">
                  {{ orderInventory.attributes.location_id }}
                </td>
                <td class="text-xs text-white border-b border-dispatch-dark-grey py-5">
                  {{ orderInventory.attributes.hours }}
                </td>
                <td class="text-xs text-white border-b border-dispatch-dark-grey py-5 pr-15 text-right">
                  {{ orderInventory.attributes.inStock }} / {{ orderInventory.attributes.totalItems }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.order-content {
  .order-content-headers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.tag {
  background-color: #16C5B5;
  border-radius: 20px;
  padding: 4px 8px;
}
.order-information {
  width:100%;
  height:100%;
  padding: 45px;
  padding-bottom: 100px;
}
</style>

<script>
import draggable from 'vuedraggable';
import api from '../mixins/api';

export default {
  filters: {
    phoneNumber(value) {
      return value.replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  props: [
    'order',
    'orderId',
    'domain',
    'selectedRunner',
    'selectedArr',
  ],
  data() {
    return {
      isLoading: false,
      orderInventories: [],
      checkIcon:
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCheckmark.svg',
      display: 'block',
      newFirstName: '',
      newLastName: '',
      newPhoneNumber: '',
      newEmail: '',
      previousCustomerNotes: '',
      newCustomerNotes: '',
      previousNotes: '',
      newNotes: '',
      newAddress: '',
      newUnitNumber: '',
      newInstructions: '',
      newOrderContentQty: [''],
      newOrderContentTitle: [''],
      contactIsEditable: false,
      customerNotesIsEditable: false,
      notesIsEditable: false,
      addressIsEditable: false,
      contentIsEditable: false,
      availabilityIsEditable: false,
      assigneesList: [],
      selectedOrder: {},
      assigneesInfoIsShown: false,
      stripeCharge: {
        attributes: {
          paymentMethod: null,
        },
      },
      isLoading: false,
    };
  },
  mounted() {
    this.getOrderInventories();
  },
  methods: {
    getOrderInventories() {
      this.isLoading = true;
      axios.get(`https://api.${this.domain}/dispatch/v2/orders/${this.order.id}/inventories`)
        .then((response) => {
          this.orderInventories = response.data.data;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleCustomerNotesIsEditable() {
      this.customerNotesIsEditable = !this.customerNotesIsEditable;
    },
    customerNotesApplyEdit() {
      this.previousCustomerNotes = this.newCustomerNotes;
      this.customerNotesIsEditable = false;
    },
    toggleNotesIsEditable() {
      this.notesIsEditable = !this.notesIsEditable;
    },
    notesApplyEdit() {
      this.previousNotes = this.newNotes;
      this.notesIsEditable = false;
    },
    toggleContentIsEditable() {
      this.contentIsEditable = !this.contentIsEditable;
    },
    contentApplyEdit() {
      for (let i = 0; i < this.order.attributes.orderContent.length; i++) {
        this.order.attributes.orderContent[i].quantity = this.newOrderContentQty[i];
        this.order.attributes.orderContent[i].title = this.newOrderContentTitle[i];
      }
      this.contentIsEditable = false;
    },
    toggleAssigneesInfo() {
      this.assigneesInfoIsShown = !this.assigneesInfoIsShown;
    },
    toggleOrderInfo() {
      if (this.display !== 'none') {
        this.display = 'none';
      } else {
        this.display = 'block';
      }
    },
  },
};
</script>
