<template class="app">
  <div
    v-if="meta !== null"
    id="pagination"
    class="pagination">
    <ul
      style="background-color: #3c3c4c;"
      class="pagination">
      <li
        :class="{ 'disabled': meta.prev === null }">
        <a
          href="#"
          @click="next(meta.current_page-1)">
          &lt; prev
        </a>
      </li>
      <li
        v-for="page in meta.last_page"
        :key="page"
        :class="{ 'active':meta.current_page === page }">
        <a
          :key="page"
          :class="{ 'active':meta.current_page === page }"
          href="#"
          @click.prevent="next(page)">
          {{ page }}
        </a>
      </li>
      <li
        :class="{ 'disabled': meta.current_page === meta.last_page }"
        class="next">
        <a
          href="#"
          @click="next(meta.current_page+1)">
          next &gt;
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
.pagination {
  // position: absolute;
  // bottom: 0;
  // margin-bottom: -11px;
  // width: 100%;
  // left: 0;
  // padding-left: 20%;
  margin: 10px;
}
.active {
	border-radius:150px;
	color: white;
  background-color: #2A2A36;
}

.disabled a {
   pointer-events:none;
   opacity:0.2;
}

li {
  display: inline;
  a {
    color: #9E9E9E;
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }
  :hover {
		background-color: #535365;
  }
}
</style>

<script>
export default {
  props: {
    meta: {
      type: Object,
      default: null,
    },
  },
  methods: {
    next(page) {
      console.log(page);
      this.$emit('next', page);
    },
  },
};
</script>
