<template class="app">
  <div
    id="past-orders-table"
    class="past-orders-table"
  >
    <div
      v-if="isLoading"
      class="flex items-center justify-center p-30">
      <moon-loader
        :loading="isLoading"
        color="#ffffff"
        size="30px" />
    </div>
    <div
      v-if="!isLoading"
      id="wrap">
      <div
        v-for="(date, index) in orders"
        :key="index">
        <p
          id="textDate"
          class="date bg-dispatch-dark-grey h-50 w-full">{{ index | moment('ll') }}</p>
        <table style="margin-left: 30px !important;">
          <thead>
            <tr>
              <th class="title">Stores</th>
              <th class="title">ID</th>
              <th class="title">Name</th>
              <th class="title">Status</th>
              <th class="title">Time</th>
              <th class="title">Runners</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(order, index) in date"
              :key="index"
              class="rowTr">
              <td class="info">
                <img
                  :src="order.attributes.store.logo"
                  class="w-30" >
              </td>
              <td class="info">{{ order.attributes.userId }}</td>
              <td
                class="info"
              >{{ order.attributes.customer.firstName + ' ' + order.attributes.customer.lastName[0].toUpperCase() }}.</td>
              <td
                v-if="order.attributes.status === 3"
                class="info">
                <img :src="checkIcon" >
              </td>
              <td
                v-else-if="order.attributes.status === 0"
                class="info">
                <img :src="crossIcon" >
              </td>
              <td class="info">{{ order.attributes.createdAt | moment('h:mm a') }}</td>
              <td
                class="info"
              >{{ order.attributes.courier.firstName + ' ' + order.attributes.courier.lastName }}</td>
              <a
                :href="'/past-orders/'+order.id"
                class="viewBtn">
                View
              </a>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <pagination
      v-if="!isLoading"
      :meta="meta"
      class="pagination"
      @next="getOrders"/>
    <order-information
      v-if="orderInfoIsShown"
      :order="selectedOrder"
      :domain="domain" />
  </div>
</template>

<style lang="scss" scoped>
.past-orders-table{
  // height: 100vh;
  background-color: #3c3c4c;
  display: grid;
  justify-content: center;
}
#wrap {
  padding-bottom: 17px;
}
th,
td {
  text-align: left;
}
td {
  padding: 10px;
}
table {
  // overflow-x: auto;
  width: 1000px;
}
th {
  height: 50px;
  font-size: 19px;
  font-weight: normal;
}
.wrap {
  height: 100vh;
}
.title {
  color: #9e9e9e;
}
.table {
  width: 100% !important;
  table-layout: fixed;
}
.rowTr {
  border-bottom: 1px solid #2a2a36;
}
.date {
  color: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky !important;
  top: 0 !important;
  font-size: 20px;
}
#textDate {
  padding-top: 8px;
  padding-left: 36px;
}
.info {
  color: #ffffff;
  width: 15%;
}
.viewBtn {
  border: 1px solid black;
  border-radius: 150px;
  border: 1px solid #979797;
  color: #979797;
  margin-top: 14px;
  padding-right: 10px;
  padding-left: 10px;
  :focus {
    outline: none;
  }
  .logo {
    height: 20px;
    width: 20px;
  }
}
</style>

<script>
export default {
  props: ['domain'],
  data() {
    return {
      orderInfoIsShown: false,
      selectedOrder: {},
      orders: [],
      isLoading: false,
      checkIcon:
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCheckmark.svg',
      crossIcon:
        'https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862285/Dispatch/DistpatchIconCrossmark.svg',
      meta: {
        current_page: 1,
        last_page: null,
        prev: null,
      },
    };
  },
  async mounted() {
    this.getOrders(this.meta.current_page);
  },
  methods: {
    toggleOrderInfo(order) {
      this.orderInfoIsShown = !this.orderInfoIsShown;
      this.selectedOrder = order;
    },
    getOrders(page) {
      this.isLoading = true;
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/orders?status=3&page=${page}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          const results = response.data.data;

          function getPagingRange(
            current,
            { min = 1, total = 20, length = 5 } = {},
          ) {
            if (length > total) length = total;

            let start = current - Math.floor(length / 2);
            start = Math.max(start, min);
            start = Math.min(start, min + total - length);

            return Array.from({ length }, (el, i) => start + i);
          }

          this.meta.last_page = getPagingRange(this.meta.current_page, {
            min: 1,
            total: this.meta_last_page,
            length: 10,
          });
          this.meta.current_page = response.data.meta.current_page;
          this.meta.prev = response.data.links.prev;

          const formattedResults = results.map((result) => {
            result.attributes.formattedDate = moment(
              result.attributes.createdAt,
            ).format('YYYY-MM-DD');
            return result;
          });
          const t2 = _.groupBy(formattedResults, 'attributes.formattedDate');
          this.orders = t2;

          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
