<template>
  <div
    v-click-outside="outsideRunnerInfo"
    id="runners"
    class="runners">
    <div class="runner-list-wrap">
      <div
        v-for="(runner, index) in onDutyArr"
        v-show="runner.job_type === 1 || runner.job_type === 3 || runner.job_type === 4 || runner.job_type === 5"
        :key="index"
        style="background-color: #3c3c4c;"
        class="flex flex-row-reverse p-10 flex m-0 cursor-pointer">
        <span
          v-if="betweenTime(runner.start, runner.end)"
          :style="{ backgroundColor: runner.color }"
          class="text-white block text-center flex flex-row-reverse z-50"
          @click.stop="toggleRunnerInfo(runner)">
          <span>
            {{ runner.user.first_name.substring(0,1) }}
          </span>
        </span>
        <span
          v-if="!betweenTime(runner.start, runner.end)"
          :style="{ backgroundColor: runner.color }"
          style="opacity: 0.2;"
          class="text-white block text-center flex flex-row-reverse z-50"
          @click.stop="toggleRunnerInfo(runner)">
          <span>
            {{ runner.user.first_name.substring(0,1) }}
          </span>
        </span>
      </div>
      <div
        v-if="showingRunnerInfo"
        class="runner-info">
        <div style="padding: 10px;">
          Full Name:
          <div :style="{ color: selectedRunner.color }">
            {{ selectedRunner.user.first_name + ' ' + selectedRunner.user.last_name }}
          </div>
        </div>
        <div style="padding: 10px;">
          Time Working:
          <div style="color: #9e9e9e;">
            {{ selectedRunner.start | moment('LTS') }} - {{ selectedRunner.end | moment('LTS') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.runner-info {
  flex: auto;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  display: flex;
  right: 55px;
  top: 45px;
  background-color: #3c3c4c;
  height: 14%;
  color: white;
  box-shadow: 0 0 13px 2px rgba(0,0,0,0.15);
  border-radius: 13px;
}

.runners {
  overflow-y: scroll;
  max-height: 800px;
  // bottom: 10px;
  z-index: 100;
  top: 45px;
  right: 0px;
  position: fixed;
	box-shadow:  0px 10px 9px 0px rgba(0, 0, 0, 0.45)
	:hover:not(a) {

	}
	span {
	  min-width:26px;
   	height:26px;
		border-radius:150px;
		// padding-top: 5px;
		// padding-left: 9px;
		// padding-right: 9px;
		color: white;
    text-align: center;
		font-size: 14px;
    span {
      padding-top: 5px;
    }
	}
}
</style>

<script>
export default {
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: [
    'domain',
  ],
  data() {
    return {
      selectedRunner: {},
      showingRunnerInfo: false,
      chosen_colour: '',
      notAvailable: 'opacity-25',
      onDutyArr: [],
      onDutyNowArr: [],
    };
  },
  computed: {
  },
  async mounted() {
    this.getOnDutyRunners();
  },
  methods: {
    outsideRunnerInfo() {
      this.showingRunnerInfo = false;
    },
    toggleRunnerInfo(runner) {
      if (this.selectedRunner !== runner) {
        this.showingRunnerInfo = true;
        this.selectedRunner = runner;
      } else {
        this.showingRunnerInfo = !this.showingRunnerInfo;
      }
    },
    betweenTime(startTime, endTime) {
      const now = moment();
      return now.isBetween(startTime, endTime);
    },
    async getOnDutyRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/couriers?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.onDutyArr = response.data[0].scheduledRunner;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
