<template>
  <div
    id="search"
    class="overlay">
    <div class="search-wrap">
      <div class="form-wrap">
        <input
          id="productSearch"
          v-model="searchResult.title"
          autofocus
          placeholder="Product Name/ID...">
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#productSearch {
  background-color: #26262e;
  color: white;
  font-size: 12px;
  line-height: normal;
  width: 95%;
  height: 24px;
}
.form-wrap {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 100%
}
</style>

<script>
export default {
  props: [
    'domain',
  ],
  data() {
    return {
      searchResult: {},
    };
  },
  mounted() {
    const client = algoliasearch('EWG2ZDNJEQ', '18570a327b9fce163e19ce027f79a3bb');
    let algoliaIndex = '';

    // if (this.subDomain === 'winerack') {
    //   algoliaIndex = 'winerack';
    // } else {
    //   algoliaIndex = 'new_products';
    // }

    algoliaIndex = 'new_products';
    const index = client.initIndex(algoliaIndex);

    autocomplete('#productSearch', {
      hint: false, autoselect: false,
    }, [
      {
        source: autocomplete.sources.hits(index, {
          hitsPerPage: 5,
        }),
        displayKey: 'name',
        templates: {
          suggestion(suggestion) {
            return `<div style="font-size: 13px; background-color: #5d5d77; color: #FFFFFF; padding: 10px; opacity: 0.95; border: 0.5px #26262e solid;"><img style="width: 30px; margin-right: 10px; cursor: pointer;" src="${suggestion.image}">` + `<span style="cursor: pointer;">${suggestion.title}</span> </div>`;
          },
        },
      },
    ]).on('autocomplete:selected', (event, suggestion, dataset) => {
      this.searchResult = suggestion;
      this.$store.dispatch('SET_SEARCH_RESULT', suggestion);
    });
  },
  methods: {
  },
};
</script>
