<template>
  <div
    v-click-outside="outside"
    :style="{display: showing}"
    :class="{expand: isExpanded}"
    class="task-box z-50 fixed border border-dispatch-dark-grey p-15 rounded overflow-y-auto scrolling-touch"
    @click.stop="">
    <slot/>
    <span
      v-if="!isExpanded"
      class="expand-text"
      @click="expandBox">
      expand (to scroll)
    </span>
    <span
      v-else
      class="expand-text"
      @click="shrinkBox">
      shrink
    </span>
  </div>
</template>

<style lang="scss" scoped>
.expand-text {
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  :hover {
    opacity: 0.5;
  }
}
.expand {
  height: 90%;
}
.task-box {
  min-width: 400px;
  left: 390px;
  top: 65px;
  background-color: #3c3c4c;
}
</style>

<script>

export default {
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  // every prop, lets follow the vue documentation on this, ie type, default, etc.
  data() {
    return {
      showing: '',
      isExpanded: true,
    };
  },
  computed: {
  },
  mounted() {
  },
  methods: {
    outside() {
      this.assigneesInfoIsShown = false;
      this.orderInfoIsShown = false;
      this.taskBoxToggled = false;
    },
    expandBox() {
      this.isExpanded = true;
    },
    shrinkBox() {
      this.isExpanded = false;
    },
  },
};
</script>
