<template>
  <div
    v-click-outside="outsideTooltip"
    class="wrap-box">
    <div class="tooltip">
      <img
        style="cursor: pointer; width: 20px; opacity: 0.6;"
        src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1559159204/partners/businessIconsTooltip.svg"
        alt=""
        @click="toggleInfo">
      <div style="position: fixed;">
        <div
          v-if="showingTooltip"
          class="box">
          <div
            style="padding-bottom: 4px;"
            class="header">
            {{ header }}
          </div>
          <div class="steps">
            <div
              style="padding-top: 4px; padding-bottom: 4px;"
              class="step1">
              {{ step1 }}
            </div>
            <div
              style="padding-top: 4px; padding-bottom: 4px;"
              class="step2">
              {{ step2 }}
            </div>
            <div
              style="padding-top: 4px; padding-bottom: 4px;"
              class="step3">
              {{ step3 }}
            </div>
            <div
              style="padding-top: 4px; padding-bottom: 4px;"
              class="step4">
              {{ step4 }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrap-box {
  position: absolute;
}
.tooltip {
  position: relative;
  left: 425px;
  top: -9px;
}
.info {
  color: #C0C0C0;
}
.box {
  border: 1px #252629 solid;
  color: #9E9E9E;
  background-color: #3c3c4c;
  position: relative;
  right: -50px;
  top: -28px;
  width: 36vh;
  border-radius: 4px;
  padding: 13px;
  font-size: 14px;
}
</style>

<script>

export default {
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  props: {
    header: {
      type: String,
      default: 'Title',
      required: true,
    },
    step1: {
      type: String,
      default: 'Title',
      required: true,
    },
    step2: {
      type: String,
      default: 'Title',
      required: true,
    },
    step3: {
      type: String,
      default: 'Title',
      required: true,
    },
    step4: {
      type: String,
      default: 'Title',
      required: true,
    },
  },
  data() {
    return {
      showingTooltip: false,
    };
  },
  methods: {
    toggleInfo() {
      this.showingTooltip = !this.showingTooltip;
    },
    outsideTooltip() {
      this.showingTooltip = false;
    },
  },
};
</script>
