body {
    margin: 0px;
}

html {
    color: #2b2b2b;
    font-family: 'sofia-pro', Helvetica, sans-serif !important;
    font-weight: 300;
    letter-spacing: 2px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    text-decoration: none;

}

$break-small: "only screen and (min-width : 420px)" !default;

.affiliate-wrap {
    align-items: center;
    flex-direction: column;
    flex: 1;

    h1 {
        text-align: center;
    }
}

button {
    display: flex;
    justify-content: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    cursor: pointer;  
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
    webkit-appearance: none;
    border: none;
    box-shadow: none;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    cursor: pointer;  
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
}    

.btnPrimary {
    background-color: #F83E40;
    border-radius: 40px; 
    color: #FFFFFF;
    font-weight: 800;
}

// AFFILIATE BACKEND

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 5px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eaeaea;

    @media #{$break-small} {
        flex-direction: row;
        height: 75px;
    }
 

    .logo {
    background-color: none;
    padding:5px;

        img{
            height: 60px; 
            width:160px; 
        }
    }

    .total-earnings {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        line-height: 30px;
        margin: 10px 0px;
        flex: 1;
        background-color: none; 

        @media #{$break-small} {
            flex-direction: row;
            text-align: right;
            margin: 0;
        }

        .earnings {
            margin: 0px 20px;
            font-size: 25px;
            font-weight: 400;
        }
    }

    .nav{
        right:0;
        list-style-type: none;
        text-align: center;
        margin:0px 20px;

        @media #{$break-small} {
            border-left: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
        }


        a {
            display: inline-block;
            line-height: 85px;
            width: 150px;
            padding:0 20px;
            font-size: 15px;
            font-weight: 500;        
            text-decoration: none;
            color: #000000; 
            
            img{
                width: 20px;
                height: 26px;
                float: left;
                position: relative; 
                top: 28px;
            }
        }

        a.active{
            border-bottom:2px solid #F83E40;
            font-weight: 600;
            color: #F83E40;
        }       
    }
}

.create-user {
    display: flex;
    flex: 1;
    margin: 40px auto 0px auto;

    @media #{$break-small} {
        align-items: flex-start;
    }
}

.create {

    @media #{$break-small} {
        margin: 0px 20px !important;
    }
}

.page-heading {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 25px;
    
    @media #{$break-small} {
        flex-direction: row;
    }

    h1 {
        font-size: 20px;
        flex: 2;

        @media #{$break-small} {
        text-align: left;
        }
    }
    
    .time-period {
        flex: 1;
        text-align: center;

        @media #{$break-small} {
            text-align: right;
        }
    } 
}

.content-wrap {
    display: flex;
    flex-direction: column;

    @media #{$break-small} {
        flex-direction: row;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 20px;
        padding: 20px;
        border: 1px solid #aeaeae;
        min-height: 260px;

        .display-font {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            font-size: 45px;
        }

        .container-title {
            text-align: right;
            margin: 10px 10px 0px 10px;
            height:20px;
            font-weight: 400;
        }
    }
}

.payout-wrap {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    text-align: center;

    .payout-date {
        font-weight: 600;
        color: #F83E40;
        font-size: 35px;
    }
}

// PROMO SIGNUP



.intro-text {
    padding: 10px;
    text-align: center;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
            flex: 1;
            border: 1px solid #aeaeae;
            padding: 5px;
            margin:20px 10px;
            text-align: center;
            height: 50px;
        }

        .help-block {
            font-weight: 300;
            font-size: 15px;
            padding: 10px;
            margin: -5px 10px 0px 10px;
            border: 1px solid #F83E40 !important; 
        }

        .promoBtn {
            margin-top: 30px;
        }
    }
}



