<template>
  <section class="section">
    <div class="container">
      <div class="tabs is-boxed">
        <ul class="is-left">
          <li
            v-for="runner in runners"
            :class="{ 'is-active': selectedRunner == runner }"
            :key="runner.id"
            @click.prevent="selectedRunner = runner">
            <a>
              <span>
                {{ runner.first_name }}
              </span>
            </a>
          </li>
        </ul>
        <ul class="is-right">
          <li
            :class="{ 'is-active': travelMode=='DRIVING' }"
            @click.prevent="travelMode='DRIVING'">
            <a>
              <span>
                Driving
              </span>
            </a>
          </li>
          <li
            :class="{ 'is-active': travelMode=='BICYCLING' }"
            @click.prevent="travelMode='BICYCLING'">
            <a>
              <span>
                Bicycing
              </span>
            </a>
          </li>
          <li
            :class="{ 'is-active': showLCBO }"
            @click.prevent="showLCBO=!showLCBO">
            <a>
              <span>
                LCBO
              </span>
            </a>
          </li>
          <li
            :class="{ 'is-active': showOrders }"
            @click.prevent="showOrders=!showOrders">
            <a>
              <span>
                Orders
              </span>
            </a>
          </li>
        </ul>
      </div>
      <gmap-map
        ref="gmap"
        :center="{ lat:43.660491, lng:-79.402288 }"
        :zoom="13"
        :options="options"
        :resize-bus="bus"
        class="map-address"
        style="width: 100; height: 500px;">
        <gmap-marker
          v-for="(store,index) in stores"
          v-if="showLCBO"
          :key="'lcbo'+index"
          :position="{ lat:parseFloat(store.latitude), lng:parseFloat(store.longitude) }"
          :title="store.name"
          :clickable="true"
          icon="/assets/icons/LCBOicon.png"
        />
        <gmap-marker
          v-for="order in orders"
          v-if="showOrders"
          :key="'order'+order.id"
          :position="{ lat:order.address.lat, lng:order.address.lng }"
          :title="'order '+order.id"
          :clickable="true"
          @click="showOrder(order)"
        />
        <gmap-marker
          v-if="selectedRunner"
          :key="selectedRunner.id"
          :position="{ lat:selectedRunner.location.lat, lng:selectedRunner.location.lng }"
          :title="'runner'+selectedRunner.first_name"
          :clickable="true"
          icon="/assets/icons/RunnerIcon.png"
        />
      </gmap-map>
    </div>
  </section>
</template>

<script>
import { loaded } from 'vue2-google-maps';

export default {
  data() {
    return {
            	pageInfo: {
        page: 'couriers',
        title: 'Couriers',
      },
      bus: null,
      showLCBO: false,
      showOrders: true,
      stores: [],
      runners: [],
      orders: [],
      selectedRunner: null,
      polygonOptions: {
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
      },
      directionsDisplay: null,
      travelMode: 'DRIVING',
      options: {
        draggable: true,
        scrollwheel: true,
        disableDoubleClickZoom: false,
        styles: [
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [
              {
                color: '#e9e9e9',
              },
              {
                lightness: 17,
              },
            ],
          },
          {
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5',
              },
              {
                lightness: 20,
              },
            ],
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 17,
              },
            ],
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 29,
              },
              {
                weight: 0.2,
              },
            ],
          },
          {
            featureType: 'road.arterial',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 18,
              },
            ],
          },
          {
            featureType: 'road.local',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 16,
              },
            ],
          },
          {
            featureType: 'poi',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5',
              },
              {
                lightness: 21,
              },
            ],
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [
              {
                color: '#dedede',
              },
              {
                lightness: 21,
              },
            ],
          },
          {
            elementType: 'labels.text.stroke',
            stylers: [
              {
                visibility: 'on',
              },
              {
                color: '#ffffff',
              },
              {
                lightness: 16,
              },
            ],
          },
          {
            elementType: 'labels.text.fill',
            stylers: [
              {
                saturation: 36,
              },
              {
                color: '#333333',
              },
              {
                lightness: 40,
              },
            ],
          },
          {
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f2f2f2',
              },
              {
                lightness: 19,
              },
            ],
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#fefefe',
              },
              {
                lightness: 20,
              },
            ],
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#fefefe',
              },
              {
                lightness: 17,
              },
              {
                weight: 1.2,
              },
            ],
          },
        ],
        disableDefaultUI: true,
      },
    };
  },
  computed: {
    waypts() {
      if (!this.selectedRunner) return [];
      const temp = [];
      this.selectedRunner.orders.forEach((order) => {
        temp.push({
          location: new google.maps.LatLng(order.address.lat, order.address.lng),
          stopover: true,
        });
      });
      return temp;
    },
  },
  watch: {
    selectedRunner(val) {
      this.getDirection(val);
    },
    travelMode(val) {
      this.getDirection(this.selectedRunner);
    },
  },
  mounted() {
    this.getRunners();
    this.getOrders();
    const vm = this;
        	loaded.then(() => {
      this.directionsDisplay = new google.maps.DirectionsRenderer();
      this.$nextTick(() => {
        vm.$refs.gmap.$mapCreated.then((map) => {
          vm.directionsDisplay.setMap(map);
        });
      });
    });
  },
  methods: {
    getOrders() {
        		const vm = this;

      axios.get('/api/v1/dispatch/orders/ready')
        .then((response) => {
                    	vm.orders = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
        	},
    getDirection(runner) {
      const vm = this;
      const directionsService = new google.maps.DirectionsService().route({
        origin: new google.maps.LatLng(runner.location.lat, runner.location.lng),
        destination: new google.maps.LatLng(43.6477782, -79.3895629),
        travelMode: vm.travelMode,
        optimizeWaypoints: true,
        waypoints: vm.waypts,
      }, (result, status) => {
        if (status == 'OK') {
          vm.directionsDisplay.setDirections(result);
        }
      });
    },

    showOrder(order) {
      if (this.selectedRunner == null) {
        return '';
      }
      if (confirm(`Order#${order.id}\nName: ${order.customer.first_name} ${order.customer.last_name
      }\nItems: ${order.items_excerpt}\nDo you want assign this to ${this.selectedRunner.first_name}?`) == true) {
        this.assignRunners(order, this.selectedRunner);
      } else {

      }
    },

    assignRunners(order, selectedRunner) {
      const vm = this;

      axios.put('/api/v1/dispatch/assign_runners', {
        orderId: order.id,
        runner_1: selectedRunner.id,
        runner_2: null,
      })
        .then((response) => {
          vm.getRunners();
          vm.getOrders();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getRunners() {
      const vm = this;
      axios.get('/api/v1/dispatch/runnners_onduty')
        .then((res) => {
          vm.runners = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
	.badge {
		background-color: #FF0000;
		color: #ffffff;
		position: absolute;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		right: 0;
		top: 0;
		font-size: small;
		line-height: 15px;
		text-align: center;
	}

	.first_time {
		color: #F73638;
	}
</style>
