<template>
  <section class="section">
    <div class="container">
      <div class="box">
        <div class="columns">
          <div class="column">
            <div class="field is-grouped">
              <div class="control">
                <input
                  v-model="searchQuery"
                  class="input"
                  type="text"
                  placeholder="Search By Name, Email, or Phone Number..."
                  @keyup.enter="searchCustomer(); page = 1">
              </div>
              <div class="control">
                <button
                  class="button is-primary"
                  @click="searchCustomer(); page = 1">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-hidden-mobile">
          <div class="column">
            Name
          </div>
          <div class="column">
            Phone Number
          </div>
          <div class="column">
            Email
          </div>
          <div class="column">
            Join Date
          </div>
          <div class="column">
            View
          </div>
        </div>
        <div
          v-for="customer in customers"
          :key="customer.id"
          class="columns">
          <div class="column">
            <p>
              {{ customer.first_name | name }} {{ customer.last_name | name }}
            </p>
          </div>
          <div class="column">
            <p>
              {{ customer.phone_number | phoneNumber }}
            </p>
          </div>
          <div class="column">
            <p>
              {{ customer.email | email }}
            </p>
          </div>
          <div class="column">
            <p>
              {{ customer.created_at | created_at }}
            </p>
          </div>
          <div class="column">
            <button
              class="button is-primary"
              @click="getCustomer(customer)">
              View
            </button>
          </div>
        </div>
      </div>
      <div class="box">
        <nav class="pagination">
          <a
            v-if="page > 1"
            class="pagination-previous"
            href="#"
            @click.prevent="page -= 1">
            Previous
          </a>
          <a
            v-if="page < totalPage"
            class="pagination-next"
            href="#"
            @click.prevent="page += 1">
            Next page
          </a>
          <ul
            v-if="totalPage <= 5"
            class="pagination-list">
            <li v-for="n in totalPage">
              <a
                :class="{ 'pagination-link': true, 'is-current': n == page }"
                href="#"
                @click.prevent="page=n">
                {{ n }}
              </a>
            </li>
          </ul>
          <ul
            v-else-if="page < 4"
            class="pagination-list">
            <li>
              <a
                :class="{'is-current': page == 1}"
                class="pagination-link"
                href="#"
                @click.prevent="page = 1">1</a>
            </li>
            <li>
              <a
                :class="{'is-current': page == 2}"
                class="pagination-link"
                href="#"
                @click.prevent="page = 2">2</a>
            </li>
            <li>
              <a
                :class="{'is-current': page == 3}"
                class="pagination-link"
                href="#"
                @click.prevent="page = 3">3</a>
            </li>
            <li>
              <a
                :class="{'is-current': page == 4}"
                class="pagination-link"
                href="#"
                @click.prevent="page = 4">4</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage">{{ totalPage }}</a>
            </li>
          </ul>
          <ul
            v-else-if="page > totalPage - 3"
            class="pagination-list">
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = 1">
                1
              </a>
            </li>
            <li>
              <span class="pagination-ellipsis">
                &hellip;
              </span>
            </li>
            <li>
              <a
                :class="{'is-current': page == totalPage - 3}"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage - 3">{{ totalPage - 3 }}</a>
            </li>
            <li>
              <a
                :class="{'is-current': page == totalPage - 2}"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage - 2">{{ totalPage - 2 }}</a>
            </li>
            <li>
              <a
                :class="{'is-current': page == totalPage - 1}"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage - 1">{{ totalPage - 1 }}</a>
            </li>
            <li>
              <a
                :class="{'is-current': page == totalPage}"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage">{{ totalPage }}</a>
            </li>
          </ul>
          <ul
            v-else
            class="pagination-list">
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = 1">
                1
              </a>
            </li>
            <li>
              <span class="pagination-ellipsis">
                &hellip;
              </span>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page -= 1">
                {{ page - 1 }}
              </a>
            </li>
            <li>
              <a class="pagination-link is-current">{{ page }}</a>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page += 1">{{ page + 1 }}</a>
            </li>
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage">{{ totalPage }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  filters: {
    phoneNumber(phoneNumber) {
      return phoneNumber.replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
    name(name) {
      return name.charAt(0) + name.slice(1).toLowerCase();
    },
    email(email) {
      return email.toLowerCase();
    },
  },
  data() {
    return {
      pageInfo: {
        page: 'customers',
        title: 'Customers',
      },
      customers: {},
      searchQuery: null,
      page: 1,
      totalPage: null,
    };
  },
  watch: {
    page(newVal) {
      this.searchCustomer();
    },
  },
  mounted() {
    this.getCustomers();
  },
  methods: {
    getCustomers() {
      axios.get(`/api/v1/dispatch/customers?page=${this.page}`)
        .then((response) => {
          this.customers = response.data.data;
          this.totalPage = response.data.last_page;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    searchCustomer() {
      if (this.searchQuery) {
        axios.get(`/api/v1/dispatch/customers/search/${this.searchQuery}?page=${this.page}`)
          .then((response) => {
            this.customers = response.data.data;
            this.totalPage = response.data.last_page;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.getCustomers();
      }
    },
    getCustomer(customer) {
    	window.location.href = `/dispatch/customers/${customer.id}`;
    },
  },
};
</script>
