<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Customer #
            </h1>
            <h2 class="subtitle">
              {{ customer.id }}
            </h2>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Name
            </h1>
            <h2
              v-if="!editCustomer"
              class="subtitle">
              {{ customer.first_name | name }} {{ customer.last_name | name }}
            </h2>
            <div
              v-else
              class="columns">
              <div class="field column">
                <p class="control">
                  <input
                    v-model="customer.first_name"
                    class="input"
                    type="text">
                </p>
              </div>
              <div class="field column">
                <p class="control">
                  <input
                    v-model="customer.last_name"
                    class="input"
                    type="text">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Phone Number
            </h1>
            <h2
              v-if="!editCustomer"
              class="subtitle">
              {{ customer.phone_number | phoneNumber }}
            </h2>
            <div v-else>
              <div class="field">
                <p class="control">
                  <input
                    v-model="customer.phone_number"
                    class="input"
                    type="text">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Email
            </h1>
            <h2
              v-if="!editCustomer"
              class="subtitle">
              {{ customer.email | email }}
            </h2>
            <div v-else>
              <div class="field">
                <p class="control">
                  <input
                    v-model="customer.email"
                    class="input"
                    type="text">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Date Of Birth
            </h1>
            <h2
              v-if="!editCustomer"
              class="subtitle">
              {{ customer.date_of_birth | isEmpty }}
            </h2>
            <div v-else>
              <div class="field">
                <p class="control">
                  <input
                    v-model="customer.date_of_birth"
                    class="input"
                    type="text">
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Additional Info
            </h1>
            <h2 class="subtitle">
              {{ customer.additional_info | isEmpty }}
            </h2>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Reward Points: {{ customer.rewardPoints }}
            </h1>
            <div v-if="editCustomer">
              <div class="field">
                <p class="control">
                  <input
                    v-model="customer.rewardPointsTransaction"
                    class="input"
                    placeholder="Please enter negative or positive amount"
                    type="text">
                  <input
                    v-model="customer.rewardPointsTransactionReason"
                    class="input"
                    placeholder="Reason For Points Transaction"
                    type="text">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Customer Since
            </h1>
            <h2 class="subtitle">
              {{ customer.created_at }}
            </h2>
          </div>
        </div>
        <div
          v-if="customer.invited_by"
          class="column">
          <div class="box">
            <h1 class="title">
              Invited By
            </h1>
            <h2 class="subtitle">
              <a
                :href="'/dispatch/customers/'+customer.invited_by.id"
                target="_blank">{{ customer.invited_by.name }}</a>
            </h2>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Last Activity
            </h1>
            <h2 class="subtitle">
              {{ customer.updated_at }}
            </h2>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Gender
            </h1>
            <h2 class="subtitle">
              {{ customer.gender | isEmpty }}
            </h2>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Facebook ID
            </h1>
            <h2 class="subtitle">
              {{ customer.facebook_id | isEmpty }}
            </h2>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Stripe ID
            </h1>
            <h2 class="subtitle">
              {{ customer.stripe_id | isEmpty }}
            </h2>
          </div>
        </div>
      </div>
      <div
        v-if="customer.address_objects.length>0"
        class="box">
        <h1 class="title">Address</h1>
        <div class="columns">
          <div class="column is-1">
            Selected
          </div>
          <div class="column is-1">
            Unit
          </div>
          <div class="column is-2">
            Instructions
          </div>
          <div class="column is-5">
            Address
          </div>
          <div class="column is-4"/>
        </div>
        <div
          v-for="address_object in customer.address_objects"
          class="columns">
          <div class="column is-1">
            <span v-if="address_object.selected">√</span>
          </div>
          <div class="column is-1">
            <span v-if="editAddress == address_object.id">
              <div class="control">
                <input
                  :placeholder="address_object.unit"
                  v-model="unit"
                  class="input"
                  type="text">
              </div>
            </span>
            <span v-else>
              {{ address_object.unit }}
            </span>

          </div>
          <div class="column is-2">
            <span v-if="editAddress == address_object.id">
              <div class="control">
                <input
                  :placeholder="address_object.instructions"
                  v-model="instructions"
                  class="input"
                  type="text">
              </div>
            </span>
            <span v-else>
              {{ address_object.instructions }}
            </span>

          </div>
          <div class="column is-5">
            <span v-if="editAddress == address_object.id">
              <dispatch-customer-address :placeholder="address_objectformatted_address"/>
            </span>
            <span v-else>
              {{ address_object.formatted_address }}
            </span>

          </div>
          <div class="column is-4">
            <button
              v-if="editAddress == null"
              class="button is-primary"
              @click="editAddress = address_object.id">Edit</button>
            <button
              v-if="editAddress == address_object.id"
              class="button is-primary"
              @click="saveAddress(address_object.id)">Save</button>
            <button
              v-if="editAddress == address_object.id"
              class="button"
              @click="editAddress = null">Cancel</button>
          </div>
        </div>
      </div>
      <div class="box">
        <h1 class="title">Notes</h1>
        <div
          v-for="note in notes"
          :key="note.id"
          class="columns">
          <div class="column">
            {{ note.note }}
          </div>
          <div class="column">
            <button
              class="button is-primary"
              @click="deleteNotes(note.id)">Delete</button>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <input
              v-model="note"
              type="text"
              class="input">
          </div>
          <div class="column">
            <button
              class="button is-primary"
              @click="saveNote">Add</button>
          </div>
        </div>
      </div>
      <div
        v-if="orders.length>0"
        class="box">
        <h1 class="title">
          Orders
        </h1>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              ID
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              Date
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              Status
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              View
            </h2>
          </div>
        </div>
        <div
          v-for="order in orders"
          class="columns">
          <div class="column">
            <h2 class="subtitle">
              {{ order.id }}
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              {{ order.created_at }}
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              {{ order.status }}
            </h2>
          </div>
          <div class="column">
            <button
              class="button is-primary"
              @click="getOrder(order)">
              View
            </button>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="columns">
          <div class="column">
            <button
              :disabled="currentPage<=1"
              class="button is-primary"
              @click="currentPage-=1">Prev</button>
          </div>
          <div class="column">
            <span>{{ currentPage+' / '+totalPage }}</span>
          </div>
          <div class="column">
            <button
              :disabled="currentPage>=totalPage"
              class="button is-primary"
              @click="currentPage+=1">Next</button>
          </div>
        </div>
      </div>

      <div
        v-if="orders.length==0"
        class="box">
        <h1 class="title">
          Orders
        </h1>
        No order found
      </div>

      <div
        v-if="customer.invite_users.length>0"
        class="box">
        <h1 class="title">
          Invited Users
        </h1>
        <div class="columns">
          <div class="column">
            id
          </div>
          <div class="column">
            name
          </div>
          <div class="column">
            has purchase
          </div>
        </div>
        <div
          v-for="invite_user in customer.invite_users"
          :key="invite_user.id"
          class="columns">
          <div class="column">
            {{ invite_user.id }}
          </div>
          <div class="column">
            <a :href="'/dispatch/customers/'+invite_user.id">{{ invite_user.first_name+" "+invite_user.last_name }}</a>
          </div>
          <div class="column">
            {{ invite_user.hasPurcahse }}
          </div>
        </div>
      </div>

      <div class="box">
        <div class="columns">
          <div class="column">
            <button
              class="button is-primary"
              href=""
              @click.prevent="LoginCustomer">
              Login As Customer
            </button>
            <button
              :disabled="passwordText == 'Password Reseted'"
              class="button is-primary"
              href="#"
              @click.prevent="changePassword">
              {{ passwordText }}
            </button>
            <button
              v-if="!editCustomer"
              class="button is-primary"
              @click="editCustomer = true">
              Edit Customer
            </button>
            <button
              v-else
              class="button is-primary"
              @click="updateCustomer">
              Save Customer
            </button>
            <button
              v-if="editCustomer"
              class="button is-primary"
              @click="cancelEditCustomer">
              Cancel Edit Customer
            </button>
          </div>
        </div>
      </div>
      <div class="box">
        <h1><a
          href=""
          @click.prevent="showOtherOptions=!showOtherOptions">Delete Customer</a></h1>
        <div
          v-if="showOtherOptions"
          class="columns">
          <div class="column">
            <button
              class="button is-primary"
              @click="deleteCustomer()">
              Delete Customer
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  filters: {
    name(name) {
      return String(name).charAt(0) + String(name).slice(1).toLowerCase();
    },
    phoneNumber(phoneNumber) {
      return String(phoneNumber).replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
    email(email) {
      return String(email).toLowerCase();
    },
    isEmpty(value) {
      if (value) {
        return value;
      }

      return 'None';
    },
  },
  props: [
    'customerid',
    'domain',
  ],
  data() {
    return {
      pageInfo: {
        page: 'customers',
        title: 'Customer',
      },
      customer: {
        addresses: [

        ],
        rewardPointsTransaction: 0,
        rewardPointsTransactionReason: '',
        address_objects: [
          {
            address: {

            },
          },
        ],
      },
      editAddress: null,
      unit: null,
      instructions: null,
      orders: {

      },
      currentPage: 1,
      totalPage: 0,
      editCustomer: false,
      passwordText: 'Change Password',
      showOtherOptions: false,
      notes: [],
      note: null,
    };
  },
  watch: {
    currentPage(newVal) {
      this.getCustomerOrders(newVal);
    },
  },
  created() {
    this.getCustomer();
    this.getCustomerOrders(this.currentPage);
  },
  methods: {
    getCustomer() {
      const vm = this;

      axios.get(`/api/v1/dispatch/customers/${vm.customerid}`)
        .then((response) => {
          vm.customer = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    saveAddress(id) {
      const vm = this;

      const data = {
        id,
      };

      if (document.getElementById('address_object').value != '') {
        data.address = document.getElementById('address_object').value;
      }
      if (vm.unit) {
        data.unit = vm.unit;
      }
      if (vm.instructions) {
        data.instructions = vm.instructions;
      }

      axios.post(`/api/v1/dispatch/customers/${vm.customerid}/addresses`, data)
        .then((response) => {
          vm.getCustomer();
          vm.editAddress = null;
          vm.unit = null;
          vm.instructions = null;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCustomerOrders(page) {
      const vm = this;

      axios.get(`/api/v1/dispatch/customers/${vm.customerid}/orders?page=${page}`)
        .then((response) => {
          vm.orders = response.data.data;
          vm.totalPage = response.data.last_page;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getOrder(order) {
      window.location.href = `/dispatch/orders/${order.id}`;
    },
    updateCustomer() {
      const vm = this;
      const data = {
        customer: vm.customer,
      };

      axios.put(`/api/v1/dispatch/customers/${vm.customerid}`, data)
        .then((response) => {
          vm.getCustomer();
          vm.editCustomer = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    changePassword() {
      const vm = this;

      axios.put(`/api/v1/dispatch/customers/${vm.customerid}/password`)
        .then((response) => {
          vm.passwordText = 'Password Reseted';
        })
        .catch((error) => {
          console.log(error);
        });
    },
    LoginCustomer() {
      axios.post(`/api/v1/dispatch/login/${this.customerid}`)
        .then((response) => {
          this.$cookie.set('token', response.data.data.attributes.accessToken, { domain: this.domain });
          this.$cookie.set('userId', response.data.data.attributes.user.id, { domain: this.domain });
          location.href = `https://www.${this.domain}`;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancelEditCustomer() {
      this.editCustomer = false;
      this.getCustomer();
    },
    deleteCustomer() {
      const vm = this;

      axios.delete(`/api/v1/dispatch/customers/${vm.customerid}`)
        .then((response) => {
          location.href = '/dispatch/customers';
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
