<template>
  <div id="r-order">
    <div class="r-section">
      <section class="r-container">
        <a
          class=""
          href="/dispatch/orders"
          @click.prevent="getBack">
          Back ///
        </a>

        <h1 clas="r-title">
          Order {{ order.id }}
        </h1>

        <p class="r-text">
          {{ customer.first_name }} {{ customer.last_name }}
        </p>

        <p class="r-text">
          Status
        </p>

        <a
          v-if="order.status == 0"
          :href="'/dispatch/orders/' + order.id + '/processing'"
          class="r-button--primary">
          Processing
        </a>

        <a
          v-else-if="order.status == 1"
          :href="'/dispatch/orders/' + order.id + '/onroute'"
          class="r-button--primary">
          On Route
        </a>

        <a
          v-else-if="order.status == 2"
          :href="'/dispatch/orders/' + order.id + '/delivered'"
          class="r-button--primary">
          Delivered
        </a>

        <p
          v-else
          class="r-text">
          Order Had Been Delivered |
          <a
            v-if="!receipt_sent"
            href="#"
            @click.prevent="sendReceipt">Resend the receipt</a>
          <span v-else>Receipt sent</span>
        </p>

        <h1 class="r-subtitle">
          Navigation
        </h1>
        <p class="r-text"/></p><h5>
          Delivery Address
        </h5>
        <span v-if="instructions.hasOwnProperty('unitno')">
          {{ instructions.unitno }} - {{ order_content.address }}
        </span>
        <span v-else>
          {{ order_content.address }}
        </span>

        <a
          v-if="platform == 'Android'"
          :href="'google.navigation:q=' + order_content.address"
          target="_blank">
          Navigation
        </a>
        <a
          v-else-if="platform == 'iOS'"
          :href="'//maps.apple.com/?q=' + order_content.address"
          target="_blank">
          Navigation
        </a>
        <a
          v-else
          :href="'//maps.google.com/?q=' + order_content.address"
          target="_blank">
          Navigation
        </a>

        <h5>
          List of Stores
        </h5>
        <a
          :href="'/dispatch/order/'+order.id+'/stores'"
          target="_blank">Click Here</a>

        <h5>
          Runners Assigned
        </h5>
        <table
          v-if="(order.runner_1 && runner_1) || (order.runner_2 && runner_2)"
          class="r-table">
          <tbody>
            <tr v-if="order.runner_1 && runner_1">
              <td>{{ runner_1.id }}</td>
              <td>{{ runner_1.first_name }} {{ runner_1.last_name }}</td>
              <td>
                <a
                  :href="'/dispatch/runners/'+runner_1.id"
                  target="_blank">View</a>
              </td>
            </tr>
            <tr v-if="order.runner_2 && runner_2">
              <td>{{ runner_2.id }}</td>
              <td>{{ runner_2.first_name }} {{ runner_2.last_name }}</td>
              <td>
                <a
                  :href="'/dispatch/runners/'+runner_2.id"
                  target="_blank">View</a>
              </td>
            </tr>
          </tbody>
        </table>
        <p v-else>No runners assigned</p>
                </p>

        <h1 class="r-subtitle">
          Estimated Arrival Time
        </h1>
        <p class="r-text">
          {{ order.estimateTime }}
        </p>

        <h1 class="r-subtitle">
          Instructions
        </h1>

        <p
          v-if="instructions.hasOwnProperty('instruction')"
          class="r-text">
          {{ instructions.instruction }}
        </p>
        <p
          v-else
          class="r-text">
          No instructions
        </p>

        <table class="r-table">
          <thead>
            <tr>
              <td/>
              <td>
                Quantity
              </td>
              <td>
                Item
              </td>
              <td>
                Price
              </td>
              <td v-if="user.role == 1">
                Runner Price
              </td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in order_content.items">
              <td>
                <input type="checkbox">
              </td>
              <td>
                {{ item.qty }}
              </td>
              <td>
                <a
                  :href="'/products/'+item.primary_category+'/'+item.id"
                  target="_blank">{{ item.name }} {{ item.package }}</a>
              </td>
              <td>
                ${{ item.true_price | fixed2decimal }}
              </td>
              <td v-if="user.role == 1">
                ${{ item.runner_price | fixed2decimal }}
              </td>
            </tr>
          </tbody>
        </table>

        <table
          v-if="user.role == 1"
          class="r-table">
          <tbody>
            <tr>
              <td>
                Mark Up
              </td>
              <td>
                ${{ order_content.markup }}
              </td>
            </tr>
          </tbody>
        </table>

        <table
          v-if="user.role == 1"
          class="r-table">
          <tbody>
            <tr>
              <td>
                Subtotal
              </td>
              <td>
                ${{ order_content.runner_subtotal | fixed2decimal }}
              </td>
            </tr>
            <tr>
              <td>
                Tax
              </td>
              <td>
                ${{ order_content.tax }}
              </td>
            </tr>
            <tr>
              <td>
                Delivery
              </td>
              <td>
                ${{ order_content.delivery }}
              </td>
            </tr>
            <tr>
              <td>
                Tip
              </td>
              <td>
                ${{ order_content.tip }}
              </td>
            </tr>
            <tr>
              <td>
                Total
              </td>
              <td>
                ${{ order_content.total }}
              </td>
            </tr>
            <tr v-if="order.status == 5 || order.status == 6 ">
              <td>
                Refund
              </td>
              <td>
                - ${{ refund.refund_amount | fixed2decimal }}
              </td>
            </tr>
            <tr v-if="order.status == 5 || order.status == 6 ">
              <td>
                Revised Total
              </td>
              <td>
                ${{ refund.revised_total | fixed2decimal }}
              </td>
            </tr>


            <!-- <tr>
                            <td>
                                Credit Card
                            </div>
                            <td>
                                Last Four: {{ order.card_last_four }}
                            </td>
                        </tr> -->
          </tbody>
        </table>

        <div class="row">
          <h1 class="r-subtitle">
            Identification Details
          </h1>
          <h5>{{ customer.first_name }} {{ customer.last_name }}</h5>
          <p class="r-text">01/01/1906</p>
          <h5>Digital Signature</h5>
          <div v-if="order_content.hasOwnProperty('signature')">
            <img
              :src="order_content.signature"
              alt="">
          </div>
          <div
            v-else
            class="r-form">
            <div @click="signaturePad.on()">
              <canvas/>
            </div>
            <div>{{ signatureError }}</div>
            <div class="r-input-field">
              <button
                class="r-button--secondary"
                @click="clearPad">Clear</button>
              <button
                class="r-button--secondary"
                @click="savePad">Save</button>
            </div>
          </div>
        </div>

        <div class="row">
          <h1 class="r-subtitle">
            Admin Notes On Runner
          </h1>
          <div class="r-form">
            <div class="r-input-field">
              <input
                id="admin_notes"
                v-model="admin_notes"
                type="text"
                name="admin_notes">
            </div>
            <div class="r-input-field">
              <button
                class="r-button--secondary"
                @click="saveNotes">
                Save
              </button>
            </div>
          </div>
        </div>

        <table class="r-table">
          <thead>
            <tr>
              <td>
                Activity Log
              </td>
              <td/>
            </tr>
          </thead>
          <tbody>
            <tr v-for="log in order.activity_log">
              <td>
                {{ log.log }}
              </td>
              <td>
                {{ log.time }}
              </td>
            </tr>
          </tbody>
        </table>
        <p class="r-text">Contact</p>
        <a
          :href="'tel:' + customer.phone_number"
          class="r-button--primary">
          Call
        </a>
        <a
          :href="'sms://+1' + customer.phone_number"
          class="r-button--primary">
          Text
        </a>
        <a
          :href="'mailto:' + customer.email"
          class="r-button--primary">
          Email
        </a>
      </section>
    </div>
  </div>
</template>

<script>
export default {

  filters: {
    fixed2decimal(value) {
      if (!value) {
        return 0;
      }
      return Number(`${Math.round(`${value}e${2}`)}e-${2}`).toFixed(2);
    },
  },
  data() {
    return {
      orderId: null,
      order: {},
      user: {},
      order_content: {},
      instructions: {},
      customer: {},
      refund: {},
      refund_items: {},
      admin_notes: '',
      signaturePad: '',
      signatureError: '',
      closest_store: {},
      position: {},
      runner_1: '',
      runner_2: '',

      receipt_sent: false,
    };
  },
  computed: {
    platform() {
      const userAgent = navigator.userAgent || navigator.vendor || window.opera;

      // Windows Phone must come first because its UA also contains "Android"
      if (/windows phone/i.test(userAgent)) {
        return 'Windows Phone';
      }

      if (/android/i.test(userAgent)) {
        return 'Android';
      }

      // iOS detection from: http://stackoverflow.com/a/9039885/177710
      if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        return 'iOS';
      }

      return 'unknown';
    },
  },
  watch: {
    // position: function(newVal){
    //     if (newVal) {
    //         this.find_closest_marker(newVal.lat,newVal.lng);
    //     }
    // }
  },
  mounted() {
    this.orderId = window.location.pathname.split('/')[window.location.pathname.split('/').length - 1];

    this.getOrder(this.orderId);

    this.signaturePad = new SignaturePad(document.querySelector('canvas'));

    this.signaturePad.off();

    // this.getLocation();

    const vm = this;
    axios.get(`${location.protocol}//${location.host}/user`)
      .then((response) => {
        vm.user = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },

  methods: {
    // find_closest_marker: function( lat1, lon1 ) {
    //     var pi = Math.PI;
    //     var R = 6371; //equatorial radius
    //     var distances = [];
    //     var closest = -1;
    //     var vm = this;
    //     for(var i=0; i<vm.order.stores.length; i++ ) {
    //         var lat2 = vm.order.stores[i].latitude;
    //         var lon2 = vm.order.stores[i].longitude;

    //         var chLat = lat2-lat1;
    //         var chLon = lon2-lon1;

    //         var dLat = chLat*(pi/180);
    //         var dLon = chLon*(pi/180);

    //         var rLat1 = lat1*(pi/180);
    //         var rLat2 = lat2*(pi/180);

    //         var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
    //                     Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(rLat1) * Math.cos(rLat2);
    //         var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    //         var d = R * c;

    //         distances[i] = d;
    //         if ( closest == -1 || d < distances[closest] ) {
    //             closest = i;
    //         }
    //     }

    //     // (debug) The closest marker is:
    //     vm.closest_store = vm.order.stores[closest];
    // },
    getBack() {
      history.go(-1);
    },

    getOrder(id) {
      const vm = this;

      axios.get(`${location.protocol}//${location.host}/api/v1/dispatch/order/${id}`)
        .then((response) => {
          vm.order = response.data;
          vm.order_content = response.data.content;
          vm.instructions = JSON.parse(vm.order_content.instructions);
          vm.customer = vm.order_content.customer;
          if (vm.order.status == 5 || vm.order.status == 6) {
            vm.refund_items = response.data.content.refund.refund_items;
            vm.refund = response.data.content.refund;
          }
          vm.admin_notes = vm.order.admin_notes;
          if (vm.order.runner_1) {
            vm.getRunner(1, vm.order.runner_1);
          }
          if (vm.order.runner_2) {
            vm.getRunner(2, vm.order.runner_2);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRunner(runnerType, runnerId) {
      const vm = this;
      axios.get(`${location.protocol}//${location.host}/api/v1/dispatch/runners/${runnerId}`)
        .then((res) => {
          console.log(res.data);
          if (runnerType == 1 && res.data) {
            vm.runner_1 = res.data;
          } else if (runnerType == 2 && res.data) {
            vm.runner_2 = res.data;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

    sendReceipt() {
      const vm = this;

      axios.post(`${location.protocol}//${location.host}/api/v1/dispatch/order/${vm.order.id}/receipt`)
        .then((response) => {
          vm.getOrder(vm.order.id);
          vm.receipt_sent = true;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    saveNotes() {
      const vm = this;

      axios.post(`${location.protocol}//${location.host}/api/v1/dispatch/order/${vm.order.id}/admin_notes`, {
        admin_notes: vm.admin_notes,
      })
        .then((response) => {
          vm.getOrder(vm.order.id);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    clearPad() {
      this.signaturePad.clear();

      this.signatureError = '';
    },

    savePad() {
      if (this.signaturePad.isEmpty()) {
        this.signatureError = 'Signature Required';
      } else {
        this.saveSignature();

        this.signaturePad.off();

        this.signatureError = '';
      }
    },

    getLocation() {
      const vm = this;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          vm.position = { lat: position.coords.latitude, lng: position.coords.longitude };
        });
      } else {
        console.log('Geolocation is not supported by this browser.');
      }
    },

    saveSignature() {
      const vm = this;

      axios.post(`${location.protocol}//${location.host}/api/v1/dispatch/order/${vm.order.id}/signature`, {
        signature: vm.signaturePad.toDataURL(),
      })
        .then((response) => {
          vm.getOrder(vm.order.id);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
