<template/>

<script>
export default {
  data() {
    return {
      isOrders: false,
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  mounted() {
    this.checkIfPageIsOrders();
  },
  methods: {
    checkIfPageIsOrders() {
      if (window.location.pathname === '/dispatch/orders') {
        this.isOrders = true;
      } else {
        this.isOrders = false;
      }
    },
  },
};
</script>
