<template>
  <section>
    <input
      id="address-input"
      type="text"
      class="input">
    <div class="tabs is-boxed">
      <ul class="is-left">
        <li
          :class="{ 'is-active': travelMode=='DRIVING' }"
          @click.prevent="travelMode='DRIVING'">
          <a>
            <span>
              Driving
            </span>
          </a>
        </li>
        <li
          :class="{ 'is-active': travelMode=='BICYCLING' }"
          @click.prevent="travelMode='BICYCLING'">
          <a>
            <span>
              Bicycing
            </span>
          </a>
        </li>
      </ul>
    </div>
    <gmap-map
      ref="gmap"
      :center="{ lat:43.660491, lng:-79.402288 }"
      :zoom="13"
      :options="options"
      :resize-bus="bus"
      class="map-address"
      style="width: 100; height: 500px;"
    />
    <p
      v-for="(address,index) in addresses"
      :key="index">
      {{ index }} - {{ address.printable_address }}
    </p>
  </section>
</template>

<script>
import { loaded } from 'vue2-google-maps';

export default {
  data() {
    return {
            	pageInfo: {
        page: 'map',
        title: 'Maps',
      },
      bus: null,
      autocomplete: '',
      address_error: false,
      inputs: {
        route: 'long_name',
        country: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        postal_code: 'short_name',
      },
      addresses: [

      ],
      directionsDisplay: null,
      travelMode: 'DRIVING',
      options: {
        draggable: true,
        scrollwheel: true,
        disableDoubleClickZoom: false,
        styles: [
          {
            featureType: 'water',
            elementType: 'geometry',
            stylers: [
              {
                color: '#e9e9e9',
              },
              {
                lightness: 17,
              },
            ],
          },
          {
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5',
              },
              {
                lightness: 20,
              },
            ],
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 17,
              },
            ],
          },
          {
            featureType: 'road.highway',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 29,
              },
              {
                weight: 0.2,
              },
            ],
          },
          {
            featureType: 'road.arterial',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 18,
              },
            ],
          },
          {
            featureType: 'road.local',
            elementType: 'geometry',
            stylers: [
              {
                color: '#ffffff',
              },
              {
                lightness: 16,
              },
            ],
          },
          {
            featureType: 'poi',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f5f5f5',
              },
              {
                lightness: 21,
              },
            ],
          },
          {
            featureType: 'poi.park',
            elementType: 'geometry',
            stylers: [
              {
                color: '#dedede',
              },
              {
                lightness: 21,
              },
            ],
          },
          {
            elementType: 'labels.text.stroke',
            stylers: [
              {
                visibility: 'on',
              },
              {
                color: '#ffffff',
              },
              {
                lightness: 16,
              },
            ],
          },
          {
            elementType: 'labels.text.fill',
            stylers: [
              {
                saturation: 36,
              },
              {
                color: '#333333',
              },
              {
                lightness: 40,
              },
            ],
          },
          {
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'transit',
            elementType: 'geometry',
            stylers: [
              {
                color: '#f2f2f2',
              },
              {
                lightness: 19,
              },
            ],
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.fill',
            stylers: [
              {
                color: '#fefefe',
              },
              {
                lightness: 20,
              },
            ],
          },
          {
            featureType: 'administrative',
            elementType: 'geometry.stroke',
            stylers: [
              {
                color: '#fefefe',
              },
              {
                lightness: 17,
              },
              {
                weight: 1.2,
              },
            ],
          },
        ],
        disableDefaultUI: true,
      },
    };
  },
  computed: {
    origin() {
      if (this.addresses.length == 0) return '';

      return {
        lat: this.addresses[0].lat,
        lng: this.addresses[0].lng,
      };
    },
    waypts() {
      if (this.addresses.length < 2) {
        return [

        ];
      }

      const temp = [

      ];

      for (let index = 1; index < this.addresses.length; index++) {
        temp.push({
          location: new google.maps.LatLng(this.addresses[index].lat, this.addresses[index].lng),
          stopover: true,
        });
      }

      return temp;
    },
  },
  watch: {
    travelMode(val) {
      this.getDirection();
    },
    addresses(val) {
      this.getDirection();
    },
  },
  mounted() {
    const vm = this;

        	loaded.then(() => {
      this.bindAutocomplete();
      this.directionsDisplay = new google.maps.DirectionsRenderer();
      this.$nextTick(() => {
        vm.$refs.gmap.$mapCreated.then((map) => {
          vm.directionsDisplay.setMap(map);
        });
      });
    });
  },
  methods: {
    bindAutocomplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('address-input')),
        {
          bounds: cityBounds,
          types: [
            'geocode',
          ],
          componentRestrictions: {
            country: 'ca',
          },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
    },
    pipeAddress() {
      let data = {

        },
        place = this.autocomplete.getPlace(),
        vm = this;

      if (place.address_components !== undefined) {
        vm.address_error = false;

        for (let i = 0; i < place.address_components.length; i++) {
          const input = place.address_components[i].types[0];

          if (this.inputs[input]) {
            data[input] = place.address_components[i][this.inputs[input]];
          }
        }

        data.printable_address = place.formatted_address;
        data.lat = place.geometry.location.lat();
        data.lng = place.geometry.location.lng();

        vm.validateAddress(data);
      } else {
        vm.address_error = true;
      }
    },
    validateAddress(data) {
      const vm = this;

      api.post('/api/v2/address/validate', {
        address: data,
      })
        .then((res) => {
          vm.addresses.push(data);
          document.getElementById('address-input').value = '';
        })
        .catch((err) => {
          console.log(err);
          vm.address_error = true;
          document.getElementById('address-input').value = '';
        });
    },
    getDirection() {
      const vm = this;
      const directionsService = new google.maps.DirectionsService().route({
        origin: new google.maps.LatLng(this.origin.lat, this.origin.lng),
        destination: new google.maps.LatLng(this.origin.lat, this.origin.lng),
        travelMode: vm.travelMode,
        optimizeWaypoints: true,
        waypoints: vm.waypts,
      }, (result, status) => {
        if (status == 'OK') {
          console.log(result);
          vm.directionsDisplay.setDirections(result);
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
	.badge {
		background-color: #FF0000;
		color: #ffffff;
		position: absolute;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		right: 0;
		top: 0;
		font-size: small;
		line-height: 15px;
		text-align: center;
	}

	.first_time {
		color: #F73638;
	}
</style>
