<template>
  <nav
    :class="{ 'nav-fixed': isOrders }"
    class="bg-dispatch-grey">
    <div class="container">
      <ul class="list-reset flex h-50 items-center">
        <li>
          <a
            :class="{ 'is-active': pageInfo.page == 'customers' }"
            href="/dispatch/customers"
            class="text-white mr-15">
            Customers
          </a>
        </li>
        <li>
          <a
            :class="{ 'is-active': pageInfo.page == 'orders' }"
            href="/dispatch/orders"
            class="text-white mr-15">
            Orders
          </a>
        </li>
        <li>
          <a
            :class="{ 'is-active': pageInfo.page == 'schedule' }"
            href="/dispatch/schedule"
            class="text-white mr-15">
            Schedule
          </a>
        </li>
      </ul>
      <span class="nav-toggle">
        <span/>
        <span/>
        <span/>
      </span>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      pageInfo: {
        page: '',
        title: '',
      },
      isOrders: false,
    };
  },
  computed: {

  },
  mounted() {
    this.checkIfPageIsOrders();
  },
  methods: {
    checkIfPageIsOrders() {
      if (window.location.pathname === '/dispatch/orders') {
        this.isOrders = true;
      } else {
        this.isOrders = false;
      }
    },
    logout() {
      axios.post('/api/v1/user/logout', {
        type: 'api',
      })
        .then((response) => {
          if (response.data === true) {
            window.location.href = '/dispatch/login';
          } else {
            this.error = response.data;
          }
        })
        .catch((error) => {
          console.log(error);
          this.error = error.response.data;
        });
    },
  },
};
</script>
