<template>
  <section class="section">
    <div class="container">
      <div class="box">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              Hours
            </h1>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Monday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.monday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.monday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Tuesday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.tuesday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.tuesday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Wednesday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.wednesday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.wednesday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Thursday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.thursday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.thursday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Friday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.friday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.friday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Saturday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.saturday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.saturday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              Sunday
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.sunday_schedule.open"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="hours.sunday_schedule.close"
                    name="">
                    <option
                      v-for="n in time"
                      :value="n">
                      {{ n + ':00' }}
                    </option>
                  </select>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <button
              :class="{ 'is-loading': hoursIsLoading }"
              class="button is-primary"
              @click.prevent="updateHours">
              Update Hours
            </button>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Store Status
            </h1>
            <div class="field is-grouped">
              <p class="control">
                <span class="select">
                  <select
                    id=""
                    v-model="closeStore"
                    name="">
                    <option value="true">
                      Closed
                    </option>
                    <option value="false">
                      Open
                    </option>
                  </select>
                </span>
              </p>
              <p class="control">
                <button
                  :class="{ 'is-loading': storeStatusIsLoading }"
                  class="button is-primary"
                  @click.prevent="updateStoreStatus">
                  Confirm
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Phone Number
            </h1>
            <div class="field is-grouped">
              <p class="control">
                <input
                  id="phone_number"
                  v-model="phoneNumber"
                  class="input"
                  type="text"
                  placeholder="">
              </p>
              <p class="control">
                <button
                  :class="{ 'is-loading': phoneNumberIsLoading }"
                  class="button is-primary"
                  @click.prevent="updatePhoneNumber">
                  Confirm
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import storeHours from '../mixins/storeHours';

export default {
  mixins: [storeHours],

  data() {
    return {
      pageInfo: {
        page: 'options',
        title: 'Site Options',
      },
      time: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
            	hours: {
        monday_schedule: {},
        tuesday_schedule: {},
        wednesday_schedule: {},
        thursday_schedule: {},
        friday_schedule: {},
        saturday_schedule: {},
        sunday_schedule: {},
      },
            	closeStore: false,
      phoneNumber: '',
      hoursIsLoading: false,
      storeStatusIsLoading: false,
      phoneNumberIsLoading: false,
    };
  },

  mounted() {
    this.getHours();

    this.getStoreStatus();

    this.getPhoneNumber();

    this.$bus.$emit('pageInfo', this.pageInfo);
  },

  methods: {
    updateHours() {
      const vm = this;
      this.hoursIsLoading = true;

      axios.put('/api/v1/options/hours', {
        monday_schedule: JSON.stringify([vm.hours.monday_schedule.open, vm.hours.monday_schedule.close]),
        tuesday_schedule: JSON.stringify([vm.hours.tuesday_schedule.open, vm.hours.tuesday_schedule.close]),
        wednesday_schedule: JSON.stringify([vm.hours.wednesday_schedule.open, vm.hours.wednesday_schedule.close]),
        thursday_schedule: JSON.stringify([vm.hours.thursday_schedule.open, vm.hours.thursday_schedule.close]),
        friday_schedule: JSON.stringify([vm.hours.friday_schedule.open, vm.hours.friday_schedule.close]),
        saturday_schedule: JSON.stringify([vm.hours.saturday_schedule.open, vm.hours.saturday_schedule.close]),
        sunday_schedule: JSON.stringify([vm.hours.sunday_schedule.open, vm.hours.sunday_schedule.close]),
      })
        .then((response) => {
          vm.hoursIsLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getStoreStatus() {
      const vm = this;

      axios.get('/api/v1/options/store-status')
        .then((response) => {
          vm.closeStore = response.data.close_store;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    updateStoreStatus() {
      const vm = this;
      this.storeStatusIsLoading = true;

      axios.put('/api/v1/options/store-status', {
        close_store: vm.closeStore,
      })
        .then((response) => {
          this.storeStatusIsLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getPhoneNumber() {
      const vm = this;

      axios.get('/api/v1/options/phone-number')
        .then((response) => {
          vm.phoneNumber = response.data.phone_number.replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
        })
        .catch((error) => {
          console.log(error);
        });
    },

    updatePhoneNumber() {
      const vm = this;
      this.phoneNumberIsLoading = true;

      axios.put('/api/v1/options/phone-number', {
        phone_number: vm.phoneNumber,
      })
        .then((response) => {
          this.phoneNumberIsLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
