<template>
  <section class="section">
    <div
      v-if="order"
      class="container">
      <div class="columns">
        <div class="column is-3">
          <div class="box">
            <h1 class="title">
              Order #
            </h1>
            <h1 class="subtitle">
              <span
                v-if="order.gift"
                class="first_time">
                Gift
              </span>
              {{ order.id }}
              <span
                v-if="order.first_time"
                class="first_time">
                First Time
              </span>
              <span
                v-if="order.isGoogleorApplePay"
                class="first_time">
                <img
                  src="/assets/v2/icons/Checkout-ApplePay.png"
                  alt="">
              </span>
            </h1>
          </div>
        </div>
        <div class="column is-3">
          <div class="box">
            <h1 class="title">
              Date
            </h1>
            <h1 class="subtitle">
              {{ order.created_at | dateFormat }}
            </h1>
          </div>
        </div>
        <div class="column is-6">
          <div class="box">
            <h1 class="title">
              Name
            </h1>
            <div v-if="showEditOrder">
              <input
                v-if="order.customer.first_name"
                v-model="order.customer.first_name"
                class="input">
              <input
                v-else
                v-model="order.customer.firstName"
                class="input">
              <input
                v-if="order.customer.last_name"
                v-model="order.customer.last_name"
                class="input">
              <input
                v-else
                v-model="order.customer.lastName"
                class="input">
            </div>
            <h1
              v-else
              class="subtitle">
              <span v-if="order.customer.first_name">
                {{ order.customer.first_name }} {{ order.customer.last_name }}
              </span>
              <span v-else>
                {{ order.customer.firstName }} {{ order.customer.lastName }}
              </span>
            </h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Phone Number
            </h1>
            <div v-if="showEditOrder">
              <input
                v-model="order.customer.phone_number"
                class="input">
            </div>
            <h1
              v-else
              class="subtitle">
              <span v-if="order.customer.phone_number">
                {{ order.customer.phone_number | phoneNumber }}
              </span>
              <span v-else>
                {{ order.customer.phoneNumber | phoneNumber }}
              </span>
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Email
            </h1>
            <div v-if="showEditOrder">
              <input
                v-model="order.customer.email"
                class="input">
            </div>
            <h1
              v-else
              class="subtitle">
              {{ order.customer.email }}
            </h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Status
            </h1>
            <h1
              v-if="order.status == 0"
              class="subtitle">
              Received
            </h1>
            <h1
              v-else-if="order.status == 1"
              class="subtitle">
              Processing
            </h1>
            <h1
              v-else-if="order.status == 2"
              class="subtitle">
              On Routes
            </h1>
            <h1
              v-else-if="order.status == 5"
              class="subtitle">
              Cancelled
            </h1>
            <h1
              v-else-if="order.status == 6"
              class="subtitle">
              Refunded
            </h1>
            <h1
              v-else-if="order.status == 3"
              class="subtitle">
              Delivered
            </h1>
            <h1
              v-else-if="order.status == 7"
              class="subtitle">
              Scheduled
            </h1>
            <h1
              v-else
              class="subtitle">
              Waiting
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Device
            </h1>
            <h1
              v-if="order.device == 1"
              class="subtitle">
              Web Desktop
            </h1>
            <h1
              v-else-if="order.device == 2"
              class="subtitle">
              Web Mobile
            </h1>
            <h1
              v-else-if="order.device == 3"
              class="subtitle">
              iOS
            </h1>
            <h1
              v-else-if="order.device == 4"
              class="subtitle">
              Android
            </h1>
            <h1
              v-else-if="order.device == 5"
              class="subtitle">
              Manual Order
            </h1>
            <h1
              v-else-if="order.device == 6"
              class="subtitle">
              Concierge
            </h1>
            <h1
              v-else
              class="subtitle">
              Unknown
            </h1>
          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <h1 class="title">
              Runners Assigned
            </h1>
            <div class="subtitle field is-grouped">
              <p class="control">
                <span class="select">
                  <select v-model="runner_1">
                    <option value="">None</option>
                    <option
                      v-for="runner in runners"
                      :value="runner.id">{{ runner.first_name }}</option>
                  </select>
                </span>
              </p>
              <p class="control">
                <span class="select">
                  <select v-model="runner_2">
                    <option value="">None</option>
                    <option
                      v-for="runner in runners"
                      :value="runner.id">{{ runner.first_name }}</option>
                  </select>
                </span>
              </p>
              <button
                :class="{ 'is-loading': runnersIsLoading }"
                class="button is-primary"
                @click="assignRunners()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="order.gift"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Address
            </h1>
            <h1 class="subtitle">
              {{ order.gift.address.address }}
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Name
            </h1>
            <h1 class="subtitle">
              {{ order.gift.first_name }} {{ order.gift.last_name }}
            </h1>
          </div>
        </div>
      </div>
      <div
        v-if="order.gift"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Email
            </h1>
            <h1 class="subtitle">
              {{ order.gift.email }}
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Phone Number
            </h1>
            <h1 class="subtitle">
              {{ order.gift.phone_number }}
            </h1>
          </div>
        </div>
      </div>
      <div
        v-if="order.gift"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Personal Note
            </h1>
            <h1 class="subtitle">
              {{ order.gift.message }}
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Scheduled Time
            </h1>
            <h1 class="subtitle">
              {{ order.schedule_time }}
            </h1>
          </div>
        </div>
      </div>
      <div
        v-if="order.gift"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Unit Number
            </h1>
            <h1 class="subtitle">
              {{ order.unit_number }}
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Recipient Instructions
            </h1>
            <h1 class="subtitle">
              {{ order.instructions }}
            </h1>
          </div>
        </div>
      </div>
      <div
        v-if="!order.gift"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Delivery Address
            </h1>
            <div v-if="showEditOrder">
              <dispatch-order-address :placeholder="order.address.address"/>
            </div>
            <h1
              v-else
              class="subtitle">
              {{ order.address.address || order.address }}
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Unit Number
            </h1>
            <div
              v-if="showEditOrder"
              class="subtitle">
              <input
                v-model="order.unit_number"
                class="input">
            </div>
            <h1
              v-else
              class="subtitle">
              <span v-if="order.unit_number">
                {{ order.unit_number }}
              </span>
              <span v-else>
                No unit number given
              </span>
            </h1>
          </div>
        </div>
      </div>
      <div
        v-if="!order.gift"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Instructions
            </h1>
            <div
              v-if="showEditOrder"
              class="subtitle">
              <textarea
                v-model="order.instructions"
                class="input"/>
            </div>
            <h1
              v-else
              class="subtitle">
              <span v-if="order.instructions">
                {{ order.instructions }}
              </span>
              <span v-else>
                No instructions given
              </span>
            </h1>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Scheduled Time
            </h1>
            <h1 class="subtitle">
              {{ order.schedule_time }}
            </h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Additional_info
            </h1>
            <h1 class="subtitle">
              <span>{{ order.additional_info }}</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div
            v-if="order.gift"
            class="box">
            <gmap-map
              ref="gmap"
              :center="{ lat:order.gift.address.lat, lng:order.gift.address.lng }"
              :zoom="16"
              :options="options"
              :resize-bus="bus"
              class="map-address"
              style="width: 100; height: 500px;">
              <gmap-marker
                :position="{ lat:order.gift.address.lat, lng:order.gift.address.lng }"
                title="Delivery Address"
                icon="/assets/icons/Run_Map.svg"
              />
            </gmap-map>
          </div>
          <div
            v-else
            class="box">
            <gmap-map
              ref="gmap"
              :center="{ lat:order.address.lat, lng:order.address.lng }"
              :zoom="16"
              :options="options"
              :resize-bus="bus"
              class="map-address"
              style="width: 100; height: 500px;">
              <gmap-marker
                :position="{ lat:order.address.lat, lng:order.address.lng }"
                title="Delivery Address"
                icon="/assets/icons/Run_Map.svg"
              />
            </gmap-map>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="columns">
              <div class="column">
                <h1 class="title">
                  Order Content
                </h1>
              </div>
              <div
                v-if="!id.includes('tbg')"
                class="column">
                <button
                  v-if="!showEditItems"
                  :class="{'is-loading':loadingOrder}"
                  :disabled="loadingOrder"
                  class="button is-primary"
                  @click.prevent="toggleEditItems">Edit Items</button>
                <button
                  v-else
                  class="button is-primary"
                  @click.prevent="saveItems()">Save Items</button>
                <button
                  v-if="showEditItems"
                  class="button is-default"
                  @click.prevent="getCart">Reload Cart</button>
                <button
                  v-if="showEditItems"
                  class="button is-default"
                  @click.prevent="showEditItems = false">Cancel Edit</button>
              </div>
              <div class="column"/>
            </div>
            <div>
              <div class="columns">
                <div class="column">
                  <h1 class="subtitle">
                    Quantity
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    Package
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    Item
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    Price
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    Runner Price
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    Allow Sub
                  </h1>
                </div>
              </div>
              <div
                v-for="item in order.content"
                class="columns">
                <div class="column">
                  <div v-if="showEditItems">
                    <input
                      v-model.number="item.qty || item.quantity"
                      type="number">
                  </div>
                  <h1
                    v-else
                    class="subtitle">
                    {{ item.qty || item.quantity }}
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    {{ item.package || item.packaging }}
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    {{ item.name || item.title }}
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    <span v-if="item.true_price">
                      ${{ (item.true_price).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                    </span>
                    <span v-else-if="item.truePrice">
                      ${{ (item.truePrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                    </span>
                    <span v-else-if="item.runnerPrice">
                      ${{ ((item.runnerPrice / 100) / 1.12).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                    </span>
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    <span v-if="item.runner_price">
                      ${{ (item.runner_price).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                    </span>
                    <span v-else-if="item.runnerPrice">
                      ${{ (item.runnerPrice / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                    </span>
                  </h1>
                </div>
                <div class="column">
                  <h1 class="subtitle">
                    {{ item.allowSub }}
                  </h1>
                </div>
              </div>
            </div>
            <hr v-if="showEditItems">
            <p v-if="showEditItems && cart.attributes.products.length > 0">
              These items below will <strong>add</strong> to the cart when clicking save items, If you do not want to add any new items in this order, please <strong>remove</strong> the items in the <strong>shopping cart</strong>
            </p>
            <div
              v-for="item in cart.attributes.products"
              v-if="showEditItems"
              class="columns">
              <div class="column">
                <h1 class="subtitle">
                  {{ item.quantity || item.qty }}
                </h1>
              </div>
              <div class="column">
                <h1 class="subtitle">
                  {{ item.packaging || item.package }}
                </h1>
              </div>
              <div class="column">
                <h1 class="subtitle">
                  {{ item.title || item.name }}
                </h1>
              </div>
              <div class="column">
                <h1 class="subtitle">
                  no real price
                </h1>
              </div>
              <div class="column">
                <h1 class="subtitle">
                  ${{ (item.runnerPrice / 100).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                </h1>
              </div>
            </div>
            <div v-if="saveItemsStatus">
              {{ saveItemsStatus }}
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Subtotal
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <h1
                  v-else
                  class="subtitle">
                  ${{ (order.subtotal / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                </h1>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Tax
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <h1
                  v-else
                  class="subtitle">
                  ${{ (order.display_tax_total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                </h1>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Delivery
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <h1
                  v-else
                  class="subtitle">
                  ${{ (order.delivery / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                </h1>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Service Fee
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <h1
                  v-else
                  class="subtitle">
                  ${{ (order.service_fee / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                </h1>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Discount
                  <span v-if="order.discountType"> ( {{ order.discountType }} )</span>
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <div v-else>
                  <h1
                    v-if="order.discount > 0"
                    class="subtitle">
                    -${{ (order.discount / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                  </h1>
                  <h1
                    v-else
                    class="subtitle">
                    $0
                  </h1>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Tip
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <h1
                  v-else
                  class="subtitle">
                  ${{ (order.tip / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                </h1>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <h1 class="subtitle">
                  Total
                </h1>
              </div>
              <div class="column">
                <div v-if="showEditItems">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"/>
                  <span class="sr-only">Loading...</span>
                </div>
                <h1
                  v-else
                  class="subtitle">
                  ${{ (order.total / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Signature
            </h1>
            <div v-if="order.signature">
              <div v-if="order.signature.includes('data:image/png;base64,')">
                <img
                  :src="order.signature"
                  alt="">
              </div>
              <div v-else>
                <img
                  :src="'data:image/png;base64,'+order.signature"
                  alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title">
              Admin Notes
            </h1>
            <div class="field">
              <div v-for="note in order.admin_notes">
                {{ note }}
              </div>
              <p class="control">
                <input
                  id="admin_note"
                  v-model="order.admin_note"
                  class="input"
                  name="admin_note">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button
                  class="button is-primary"
                  @click="saveNotes">
                  Save Note
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="!id.includes('tbg')"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              List of Stores
            </h1>
            <div class="columns">
              <div class="column is-3">
                <h1 class="subtitle">
                  Store Name
                </h1>
              </div>
              <div class="column is-4">
                <h1 class="subtitle">
                  Address
                </h1>
              </div>
              <div class="column is-3">
                <h1 class="subtitle">
                  Hours
                </h1>
              </div>
              <div class="column is-2">
                <h1 class="subtitle">
                  Inventories
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="order.activity_log != ''"
        class="columns">
        <div class="column">
          <div class="box">
            <h1 class="title">
              Activity Log
            </h1>
            <ul v-for="log in order.activity_log">
              <li class="subtitle">
                {{ log.log }} - {{ log.time }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-if="!id.includes('tbg')">
        <div
          v-show="!loadingOrder"
          class="columns">
          <div class="column">
            <div class="box">
              <h1 class="title">
                Order Controls
              </h1>
              <div class="field id-grouped">
                <div class="control">
                  <button
                    :disabled="receiptResponse"
                    class="button is-primary"
                    @click="sendReceipt()">
                    <span v-if="receiptResponse">Receipt Sent</span>
                    <span v-else>Send Receipt</span>
                  </button>
                  <a
                    :href="'/dispatch/customers/'+order.user_id"
                    target="_blank"
                    class="button is-primary">
                    Customer Info
                  </a>
                  <button
                    v-if="!showEditOrder"
                    class="button is-primary"
                    @click="showEditOrder = true">
                    Edit Order
                  </button>
                  <button
                    v-if="showEditOrder"
                    class="button is-primary"
                    @click="updateOrderDetails()">
                    Update Order Details
                  </button>
                  <button
                    v-if="showEditOrder"
                    class="button is-primary"
                    @click="showEditOrder = false">
                    Cancel Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          v-show="!loadingOrder"
          class="columns">
          <div class="column">
            <div class="box">
              <h1 class="title">
                <a
                  href=""
                  @click.prevent="showOtherOptions = !showOtherOptions">Refund, Cancelation, and Delete</a>
              </h1>
              <div
                v-if="showOtherOptions"
                class="field id-grouped">
                <div class="control">
                  <button
                    class="button is-primary"
                    disabled>
                    Issue Refund
                  </button>
                  <button
                    :disabled="order.status===5"
                    class="button is-primary"
                    @click="cancelOrder()">
                    Cancel Order
                  </button>
                  <button
                    class="button is-primary"
                    @click="deleteOrder()">
                    Delete Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="columns">
          <div class="column">
            <div class="box">
              <h1 class="title">
                Order Controls
              </h1>
              <div class="field id-grouped">
                <div class="control">
                  <button
                    :disabled="order.status===5"
                    class="button is-primary"
                    @click="cancelTBGOrders(order.id)">
                    Cancel Order
                  </button>
                  <button
                    :disabled="order.status===3"
                    class="button is-primary"
                    @click="deliverTBGOrders(order.id)">
                    Order Delivered
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="orders.length>0"
        class="box">
        <h1 class="title">
          Other Orders for this customer
        </h1>
        <div class="columns">
          <div class="column">
            <h2 class="subtitle">
              ID
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              Date
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              Status
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              View
            </h2>
          </div>
        </div>
        <div
          v-for="order in orders"
          class="columns">
          <div class="column">
            <h2 class="subtitle">
              {{ order.id }}
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              {{ order.created_at }}
            </h2>
          </div>
          <div class="column">
            <h2 class="subtitle">
              {{ order.status }}
            </h2>
          </div>
          <div class="column">
            <a
              :href="'/dispatch/orders/' + order.id"
              class="button is-primary">
              View
            </a>
          </div>
        </div>
      </div>
      <div
        v-if="orders.length == 0"
        class="box">
        <h1 class="title">
          Orders
        </h1>
        No order found
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.first_time {
  color: #F73638;
}
</style>

<script>
import mapStyle from '../mapStyle.json';

export default {
  filters: {
    dateFormat(value) {
      if (!value) return 'Date not avaliable';

      return moment(value).format('MMM DD, YYYY  hh:mm A');
    },
    hoursFormat(date) {
      if (date) {
        return moment(`${parseInt(date / 60)}:${((date / 60) - parseInt(date / 60)) * 60}`, 'kk:mm').format('h:mma');
      }

      return 'Close Today';
    },
    phoneNumber(phoneNumber) {
      if (phoneNumber) {
        return phoneNumber.replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
      }
    },
  },
  props: [
    'id',
  ],
  data() {
    return {
      pageInfo: {
        page: 'orders',
        title: 'Order',
      },
      bus: null,
      loadingOrder: false,
      runnersIsLoading: false,
      order: null,
      admin_notes: '',
      admin_note: null,
      runners: {},
      runner_1: null,
      runner_2: null,
      receipt_sent: false,
      showEditOrder: false,
      showEditItems: false,
      showOtherOptions: false,
      saveItemsStatus: null,
      receiptResponse: false,
      orders: [],
      options: {
        draggable: true,
        scrollwheel: true,
        disableDoubleClickZoom: false,
        styles: mapStyle,
        disableDefaultUI: true,
      },
    };
  },
  computed: {
    dayOfweek() {
      return moment().format('d');
    },
    cart() {
      return this.$store.getters.cart;
    },
    user() {
      return this.$store.getters.user;
    },
  },
  watch: {
    showEditOrder(newVal) {
      if (newVal) {
        window.scrollTo(0, 0);
      }
    },
  },
  created() {
    this.getOrder(this.id);
    this.getRunners();
    this.$store.dispatch('getCart');
  },
  methods: {
    toggleEditItems() {
      this.alertStripe();
      this.showEditItems = !this.showEditItems;
    },
    getOrder(id) {
      const vm = this;

      this.loadingOrder = true;
      axios.get(`/api/v1/dispatch/orders/${id}`)
        .then((response) => {
          vm.loadingOrder = false;
          vm.order = response.data;
          if (vm.order.runner_1) {
            vm.getRunner(1, vm.order.runner_1);
          }
          if (vm.order.runner_2) {
            vm.getRunner(2, vm.order.runner_2);
          }
          vm.getCustomerOrders();
          vm.getStores(vm.id);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRunner(runnerType, runnerId) {
      const vm = this;

      axios.get(`/api/v1/dispatch/runners/${runnerId}`)
        .then((res) => {
          if (runnerType == 1) {
            vm.runner_1 = res.data.id;
          } else {
            vm.runner_2 = res.data.id;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    sendReceipt() {
      const vm = this;

      axios.post(`/api/v1/dispatch/order/${vm.order.id}/receipt`)
        .then((response) => {
          vm.getOrder(vm.order.id);
          vm.receipt_sent = true;
          vm.receiptResponse = true;
        })
        .catch((error) => {
          vm.receiptResponse = true;
          console.log(error);
        });
    },
    saveNotes() {
      const vm = this;

      axios.post(`/api/v1/dispatch/order/${vm.order.id}/admin_notes`, {
        admin_notes: vm.order.admin_note,
      })
        .then((response) => {
          vm.getOrder(vm.order.id);
          vm.admin_note = null;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteOrder() {
      const vm = this;

      console.log(vm.order.id);

      if (confirm('You sure you wanna delete this, fossi?')) {
        axios.delete(`/api/v1/dispatch/orders/${vm.order.id}`)
          .then((response) => {
            window.location.href = '/dispatch/orders';
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    cancelOrder() {
      const vm = this;

      console.log(vm.order.id);
      axios.put(`/api/v1/dispatch/order/${vm.order.id}/cancel`)
        .then((response) => {
          vm.getOrder(vm.order.id);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRunners() {
      axios.get('/api/v1/dispatch/runners/')
        .then((response) => {
          this.runners = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateOrderDetails() {
      const data = {};
      data.first_name = this.order.customer.first_name;
      data.last_name = this.order.customer.last_name;
      data.phone_number = this.order.customer.phone_number;
      data.email = this.order.customer.email;
      data.address = document.getElementById('address_object').value;
      data.instructions = this.order.instructions;
      data.unitno = this.order.unit_number;

      axios.put(`/api/v1/dispatch/order/${this.id}`, data)
        .then((response) => {
          this.showEditOrder = false;
          this.getOrder(this.order.id);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    saveItems() {
      this.saveItemsStatus = null;
      const items = this.order.content;
      const result = Object.keys(items).map(key => items[key]);

      if (confirm('Please finish modify the order before save the items') === true) {
        if (this.cart.attributes.products.length > 0) {
          this.order.content = result.concat(this.cart.attributes.products);
        }

        axios.put(`/api/v1/dispatch/order/${this.id}/items`, this.order.content)
          .then((response) => {
            this.showEditItems = false;
            this.saveItemsStatus = response.data.status;
            this.getOrder(this.order.id);
            this.getCart();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    assignRunners() {
      this.runnersIsLoading = true;
      let url = null;
      url = '/api/v1/dispatch/assign_runners';

      axios.put(url, {
        orderId: this.order.id,
        runner_1: this.runner_1,
        runner_2: this.runner_2,
      })
        .then((response) => {
          this.runnersIsLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCustomerOrders() {
      axios.get(`/api/v1/dispatch/customers/${this.order.user_id}/orders`)
        .then((response) => {
          this.orders = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    alertStripe() {
      if (this.order.isGoogleorApplePay) {
        alert('Order Is Apple Pay! DO NOT UPCHARGE!!!');
      }
    },
  },
};
</script>
