<template>
  <section>
    <div class="container">
      <!-- <div class="absolute pin-t pin-r bg-white z-50">
        <staff/>
      </div> -->
      <div
        class="columns"
        style="margin: 0;">
        <div
          :class="{ 'half-width': showMap }"
          class="orders">
          <div class="tabs is-boxed">
            <ul>
              <li
                :class="{ 'is-active': status == 7 }"
                style="position: relative;"
                @click.prevent="status = 7">
                <a>
                  <span>
                    Scheduled
                  </span>
                  <span
                    v-if="countScheduled > 0"
                    class="badge">
                    {{ countScheduled }}
                  </span>
                </a>
              </li>
              <li
                :class="{ 'is-active': status == 1 }"
                style="position: relative;"
                @click.prevent="status = 1">
                <a>
                  <span>
                    Recieved
                  </span>
                  <span
                    v-if="countReceived > 0"
                    class="badge">
                    {{ countReceived }}
                  </span>
                </a>
              </li>
              <li
                :class="{ 'is-active': status == 2 }"
                @click.prevent="status = 2">
                <a>
                  <span>
                    In Progress
                  </span>
                </a>
              </li>
              <li
                :class="{ 'is-active': status == 3 }"
                @click.prevent="status = 3">
                <a>
                  <span>
                    Complete
                  </span>
                </a>
              </li>
            </ul>
            <ul class="is-right">
              <li style="margin-right: 5px;">
                <button
                  class="button is-primary"
                  @click="toggleLcbos">
                  LCBOs
                </button>
              </li>
              <li>
                <button
                  class="button is-primary"
                  @click="toggleMap">
                  Map
                </button>
              </li>
            </ul>
          </div>
          <div
            class="columns is-hidden-mobile"
            style="margin: 0;">
            <div class="column">
              Index / Order #
            </div>
            <div class="column">
              Name
            </div>
            <div class="column">
              Status
            </div>
            <div class="column">
              Order Details
            </div>
            <div class="column">
              <span v-if="status == 7">
                Schedule Date
              </span>
              <span v-else-if="status == 3">
                Delivered Date
              </span>
              <span v-else>
                Date
              </span>
            </div>
            <div class="column">
              Runners
            </div>
            <div class="column">
              View
            </div>
          </div>
          <div
            v-for="(order, index) in orders"
            :key="order.id"
            :id="order.id"
            :style="{ backgroundColor: timeWarning(order)}"
            class="columns"
            style="margin: 0;">
            <div class="column">
              <span
                v-if="order.gift"
                class="first_time">Gift </span>
              <span
                v-if="order.first_time"
                class="first_time">*</span>
              {{ index + ' / ' + order.id }}
            </div>
            <div class="column">
              {{ order.customer.first_name || order.customer.firstName }} {{ order.customer.last_name || order.customer.lastName }}
            </div>
            <div class="column">
              <span v-if="order.status == 0">
                Received
              </span>
              <span v-if="order.status == 1">
                Processing
              </span>
              <span v-if="order.status == 2">
                On Route
              </span>
              <span v-if="order.status == 3">
                Delivered
              </span>
              <span v-if="order.status == 4">
                Cancel Request Pending
              </span>
              <span v-if="order.status == 5">
                Cancelled
              </span>
              <span v-if="order.status == 6">
                Refunded
              </span>
              <span v-if="order.status == 7">
                Schedule
              </span>
              <span v-if="order.device == 6">
                / Concierge
              </span>
            </div>
            <div class="column">
              {{ order.items_excerpt }}
            </div>
            <div
              v-if="order.status == 7"
              class="column">
              {{ order.schedule_time | dateFormat }}
            </div>
            <div
              v-else-if="order.status == 3"
              class="column">
              {{ order.delivered_at | dateFormat }}
            </div>
            <div
              v-else
              class="column">
              {{ order.created_at | dateFormat }}
            </div>
            <div class="column">
              {{ order.runner }}
            </div>
            <div class="column">
              <a
                :href="'/dispatch/orders/' + order.id"
                class="button is-primary"
                target="_blank">
                View
              </a>
              <span v-if="order.inventory_id == 3">
                <img
                  style="max-width: 30px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1543003352/icons/StoresIconWineRack.png"
                  alt="">
              </span>
              <span v-else-if="order.inventory_id == 11">
                <img
                  style="max-width: 30px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1543003351/icons/StoresIconGift.png"
                  alt="">
              </span>
              <span v-else-if="order.inventory_id == 18">
                <img
                  style="max-width: 30px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1559250651/rush/RushIconLogoCircle.png"
                  alt="">
              </span>
              <span v-else>
                <img
                  style="max-width: 30px;"
                  src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1549909636/icons/LCBOicon.png"
                  alt="">
              </span>
            </div>
          </div>
        </div>
        <gmap-map
          v-if="showMap"
          ref="gmap"
          :center="{ lat: 43.660491, lng: -79.402288 }"
          :zoom="12"
          :options="options"
          :resize-bus="bus"
          class="map-address is-one-quarter">
          <gmap-marker
            v-for="(order, index) in orders"
            v-if="status != 3"
            :key="'order' + index"
            :position="{ lat: parseFloat(order.address.lat), lng: parseFloat(order.address.lng) }"
            @click="openOrderInfoWindow = order.id"
          >
            <gmap-info-window :opened="true">
              <p>
                {{ order.customer.firstName + ' ' + order.customer.lastName }}
              </p>
              <p>
                {{ order.id }}
              </p>
              <p v-if="order.runner_1">
                Runner: {{ order.runner_1 }}
              </p>
            </gmap-info-window>
          </gmap-marker>
          <gmap-marker
            v-for="(store,index) in stores"
            v-if="showLcbos"
            :key="'lcbo' + index"
            :position="{ lat: parseFloat(store.latitude), lng: parseFloat(store.longitude) }"
            :title="store.name"
            :clickable="true"
            icon="/assets/icons/LCBOicon.png"
            @click="openStoreInfoWindow = store.id"
          >
            <gmap-info-window :opened="openStoreInfoWindow == store.id">
              <p>
                {{ store.name }}
              </p>
              <p>
                {{ store.telephone }}
              </p>
              <p>
                {{ store.address_line_1 }}, {{ store.address_line_2 }}
              </p>
              <p>
                {{ store.city }}, {{ store.postal_code }}
              </p>
            </gmap-info-window>
          </gmap-marker>
          <gmap-marker
            v-for="(runner,index) in runners"
            v-if="runner.location.lat && runner.onduty"
            :key="'runner ' + index"
            :position="{ lat: runner.location.lat, lng: runner.location.lng }"
            :title="runner.first_name"
            :clickable="true"
            icon="/assets/icons/RunnerIcon.png"
            @click="openRunnerInfoWindow = runner.id"
          >
            <gmap-info-window :opened="openRunnerInfoWindow == runner.id">
              <p>
                {{ runner.first_name }} {{ runner.last_name }}
              </p>
              <p>
                {{ runner.phone_number }}
              </p>
            </gmap-info-window>
          </gmap-marker>
        </gmap-map>
      </div>
      <div class="box">
        <nav class="pagination">
          <a
            v-if="page > 1"
            class="pagination-previous"
            href="#"
            @click.prevent="page -= 1">
            Previous
          </a>
          <a
            v-if="page < totalPage"
            class="pagination-next"
            href="#"
            @click.prevent="page += 1">
            Next page
          </a>
          <ul
            v-if="totalPage <= 5"
            class="pagination-list">
            <li
              v-for="n in totalPage"
              :key="n">
              <a
                :class="{ 'pagination-link': true, 'is-current': n == page }"
                href="#"
                @click.prevent="page=n">
                {{ n }}
              </a>
            </li>
          </ul>
          <ul
            v-else-if="page < 4"
            class="pagination-list">
            <li>
              <a
                :class="{ 'is-current': page == 1 }"
                class="pagination-link"
                href="#"
                @click.prevent="page = 1">
                1
              </a>
            </li>
            <li>
              <a
                :class="{ 'is-current': page == 2 }"
                class="pagination-link"
                href="#"
                @click.prevent="page = 2">
                2
              </a>
            </li>
            <li>
              <a
                :class="{ 'is-current': page == 3 }"
                class="pagination-link"
                href="#"
                @click.prevent="page = 3">
                3
              </a>
            </li>
            <li>
              <a
                :class="{'is-current': page == 4}"
                class="pagination-link"
                href="#"
                @click.prevent="page = 4">
                4
              </a>
            </li>
            <li>
              <span class="pagination-ellipsis">
                &hellip;
              </span>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage">
                {{ totalPage }}
              </a>
            </li>
            <li>
              <input
                v-model.number="redirectPage"
                type="number"
                class="pagination-link"
                style="width:50px">
            </li>
            <li>
              <input
                :disabled="!redirectPage"
                type="button"
                class="pagination-link"
                style="width:50px"
                value="Go"
                @click="page=redirectPage">
            </li>
          </ul>
          <ul
            v-else-if="page > totalPage - 3"
            class="pagination-list">
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = 1">
                1
              </a>
            </li>
            <li>
              <span class="pagination-ellipsis">
                &hellip;
              </span>
            </li>
            <li>
              <a
                :class="{ 'is-current': page == totalPage - 3 }"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage - 3">
                {{ totalPage - 3 }}
              </a>
            </li>
            <li>
              <a
                :class="{ 'is-current': page == totalPage - 2 }"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage - 2">
                {{ totalPage - 2 }}
              </a>
            </li>
            <li>
              <a
                :class="{ 'is-current': page == totalPage - 1 }"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage - 1">
                {{ totalPage - 1 }}
              </a>
            </li>
            <li>
              <a
                :class="{ 'is-current': page == totalPage }"
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage">
                {{ totalPage }}
              </a>
            </li>
            <li>
              <input
                v-model.number="redirectPage"
                type="number"
                class="pagination-link"
                style="width:50px">
            </li>
            <li>
              <input
                :disabled="!redirectPage"
                type="button"
                class="pagination-link"
                style="width:50px"
                value="Go"
                @click="page = redirectPage">
            </li>
          </ul>
          <ul
            v-else
            class="pagination-list">
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = 1">
                1
              </a>
            </li>
            <li>
              <span class="pagination-ellipsis">
                &hellip;
              </span>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page -= 1">
                {{ page - 1 }}
              </a>
            </li>
            <li>
              <a class="pagination-link is-current">
                {{ page }}
              </a>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page += 1">
                {{ page + 1 }}
              </a>
            </li>
            <li>
              <span class="pagination-ellipsis">
                &hellip;
              </span>
            </li>
            <li>
              <a
                class="pagination-link"
                href="#"
                @click.prevent="page = totalPage">
                {{ totalPage }}
              </a>
            </li>
            <li>
              <input
                v-model.number="redirectPage"
                type="number"
                class="pagination-link"
                style="width:50px">
            </li>
            <li>
              <input
                :disabled="!redirectPage"
                type="button"
                class="pagination-link"
                style="width:50px"
                value="Go"
                @click="page = redirectPage">
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
p {
  margin-bottom: 0;
}
.container {
  max-width: none;
  width: 100%;
}
.section {
  padding: 3em 0;
}
.badge {
  background-color: #FF0000;
  color: #ffffff;
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
  font-size: small;
  line-height: 15px;
  text-align: center;
}
.first_time {
  color: #F73638;
}
.map-address {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  width: 800px;
}
.orders {
  width: 100%;
  &.half-width {
    width: calc(100% - 800px);
  }
}
</style>
<script>
import mapStyle from '../mapStyle.json';

export default {
  filters: {
    dateFormat(value) {
      if (!value) return 'Date not avaliable';

      return moment(value).format('MMM DD, YYYY  hh:mm A');
    },
  },
  data() {
    return {
      pageInfo: {
        page: 'orders',
        title: 'Orders',
      },
      bus: null,
      orders: [
        {
          content: {},
          customer: {},
        },
      ],
      redirectPage: null,
      status: 1,
      page: 1,
      totalPage: null,
      ordersLocation: [],
      stores: [],
      countScheduled: 0,
      countReceived: 0,
      showLcbos: false,
      showMap: false,
      runners: [
        {
          location: {
            lat: null,
            lng: null,
          },
        },
      ],
      openOrderInfoWindow: null,
      openStoreInfoWindow: null,
      openRunnerInfoWindow: null,
      options: {
        draggable: true,
        scrollwheel: true,
        disableDoubleClickZoom: false,
        styles: mapStyle,
        disableDefaultUI: true,
      },
      currentTimeStamp: moment().tz('America/Toronto').format('x'),
    };
  },
  watch: {
    page(newVal) {
      this.getOrders();
    },
    status(newVal) {
      this.page = 1;
        	this.getOrders();
    },
  },
  mounted() {
    this.getOrders();
    this.getRunnersOnDuty();
    this.checkOrders(0);
    this.checkOrders(7);

    setInterval(() => {
      this.getRunnersOnDuty();
    }, 30000);

    setInterval(() => {
      this.getOrders();
      this.checkOrders(0);
      this.checkOrders(7);
    }, 120000);
  },
  methods: {
    getOrders() {
      const vm = this;

      let status = 'received';

      if (vm.status === 1) {
        status = 'received';
      } else if (vm.status === 2) {
        status = 'in_progress';
      } else if (vm.status === 3) {
        status = 'complete';
      } else if (vm.status === 7) {
        status = 'scheduled';
      }

      axios.get(`/api/v1/dispatch/orders/${status}?page=${this.page}`)
        .then((response) => {
          vm.orders = response.data.data;
          vm.totalPage = response.data.last_page;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    checkOrders(status) {
      if (status === 0) {
        var temp = 'received';
      } else if (status === 7) {
        var temp = 'scheduled';
      }
      const vm = this;

      axios.get(`/api/v1/dispatch/orders/${temp}`)
        .then((response) => {
          if (status === 0) {
            vm.countReceived = response.data.total;
          } else if (status === 7) {
            vm.countScheduled = response.data.total;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    timeWarning(order) {
      if (order.status === 3 || order.status === 5 || order.status === 6) {
        return null;
      }

      let ShouldDeliveryOn;

      if (order.schedule_time) {
        ShouldDeliveryOn = moment(order.schedule_time).tz('America/Toronto').format('x');
      } else {
        ShouldDeliveryOn = moment(order.created_at).add(2, 'h').tz('America/Toronto').format('x');
      }

      const duration = ShouldDeliveryOn - this.currentTimeStamp;

      if (duration < 3600000 && duration > 1800000) {
        return '#FFFF00';
      }
      if (duration < 1800000) {
        return '#FF4500';
      }
    },
    getRunnersOnDuty() {
      const vm = this;

      axios.get('/api/v1/dispatch/runners/onduty')
        .then((response) => {
          vm.runners = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    formatLocation(loc) {
      return loc;
    },
    toggleMap() {
      this.showMap = !this.showMap;
    },
    toggleLcbos() {
      this.showLcbos = !this.showLcbos;
    },
  },
};
</script>
