<template>
  <section class="section">
    <div class="container">
      <full-calendar
        v-if="schedules.length > 0"
        ref="calendar"
        :events="schedules"
        :config="config"
        @event-selected="editSchedule"
        @day-click="toggleScheduleModal"/>
      <div
        v-if="newScheduleModalIsShown"
        class="scheduleModal">
        <span
          class="close-button"
          @click="closeScheduleModal">
          &#10006;
        </span>
        <div class="control">
          <label class="label">Runner Position</label>
          <div class="select">
            <select v-model="newEvent.job_type">
              <option
                v-for="runnerPosition in runnerPositions"
                :value="runnerPosition.id">
                {{ runnerPosition.title }}
              </option>
            </select>
          </div>
        </div>
        <div class="control">
          <label class="label">Employee</label>
          <div class="select">
            <select v-model="newEvent.employee">
              <option
                v-for="employee in employees"
                :value="employee.id">
                {{ employee.first_name }} {{ employee.last_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="control">
          <div class="field">
            <label class="label">Start</label>
            <div class="control">
              <input
                v-model="newEvent.start"
                class="input"
                type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">End</label>
            <div class="control">
              <input
                v-model="newEvent.end"
                class="input"
                type="text" >
            </div>
          </div>
          <div
            class="control"
            style="margin-top: 30px;">
            <button
              class="button is-primary"
              @click="createSchedule(newEvent)">Submit</button>
          </div>
        </div>
      </div>
      <div
        v-if="editScheduleModalIsShown"
        class="scheduleModal">
        <span
          class="close-button"
          @click="closeScheduleModal">
          &#10006;
        </span>
        <div class="control">
          <label class="label">Runner Position</label>
          <div class="select">
            <select v-model="currentEvent.job.id">
              <option
                v-for="runnerPosition in runnerPositions"
                :value="runnerPosition.id">
                {{ runnerPosition.title }}
              </option>
            </select>
          </div>
        </div>
        <div class="control">
          <label class="label">Employee</label>
          <div class="select">
            <select v-model="currentEvent.user">
              <option
                v-for="employee in employees"
                :value="employee">
                {{ employee.first_name }} {{ employee.last_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="control">
          <div class="field">
            <label class="label">Start</label>
            <div class="control">
              <input
                v-model="currentEvent.start"
                class="input"
                type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">End</label>
            <div class="control">
              <input
                v-model="currentEvent.end"
                class="input"
                type="text" >
            </div>
          </div>
          <div
            class="control"
            style="margin-top: 30px;">
            <button
              class="button is-primary"
              @click="updateSchedule(currentEvent)">Submit</button>
          </div>
          <div
            class="control"
            style="margin-top: 30px;">
            <button
              class="button is-primary"
              @click="removeSchedule(currentEvent.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.scheduleModal {
  border: 1px solid #383838;
  padding: 30px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  min-width: 400px;
}
</style>
<script>
export default {
  filters: {
    roleName(value) {
      if (value === 1) {
        return 'Admin';
      }
      if (value === 2) {
        return 'Runner';
      }
      if (value === 5) {
        return 'Dispatch';
      }

      return 'Unknown';
    },
  },
  data() {
    return {
      newEvent: {
        start: '',
        end: '',
        employee: null,
        job_type: null,
      },
      currentEvent: {
        job: {},
        start: '',
        end: '',
        user: {},
      },
      runnerPositions: [],
      employees: [],
      currentDate: null,
      newScheduleModalIsShown: false,
      editScheduleModalIsShown: false,
      schedules: [],
      scheduledOrders: [],
      config: {
        titleFormat: 'MMMM',
        defaultView: 'month',
        timezone: 'America/Toronto',
        height: 400,
      },
    };
  },
  mounted() {
    this.getSchedules();
    this.getEmployees();
    this.getRunnerPositions();
  },
  methods: {
    editSchedule(event) {
      this.editScheduleModalIsShown = true;
      this.getSchedule(event.id);
    },
    closeScheduleModal() {
      this.newScheduleModalIsShown = false;
      this.editScheduleModalIsShown = false;
    },
    toggleScheduleModal(event) {
      this.newScheduleModalIsShown = !this.newScheduleModalIsShown;
      this.currentDate = event;
      this.newEvent.start = moment(this.currentDate).format('MMMM Do YYYY HH:mm:ss');
      this.newEvent.end = this.currentDate.format('MMMM Do YYYY HH:mm:ss');
    },
    createSchedule() {
      axios.post('/api/v1/dispatch/schedules', this.newEvent)
        .then((response) => {
          this.newScheduleModalIsShown = false;
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getScheduledOrders() {
      axios.get('/api/v1/dispatch/schedules/orders')
        .then((response) => {
          this.scheduledOrders = response.data;

          this.scheduledOrders.forEach((scheduledOrder) => {
            scheduledOrder.start = moment(start);
            scheduledOrder.end = moment(end);
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSchedule(eventId) {
      axios.get(`/api/v1/dispatch/schedules/${eventId}`)
        .then((response) => {
          this.currentEvent = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSchedules() {
      axios.get('/api/v1/dispatch/schedules')
        .then((response) => {
          this.schedules = Array.from(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    removeSchedule(scheduleId) {
      axios.delete(`/api/v1/dispatch/schedules/${scheduleId}`)
        .then((response) => {
          this.showEditEventBox = false;
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateSchedule(currentEvent) {
      axios.put(`/api/v1/dispatch/schedules/${currentEvent.id}`, currentEvent)
        .then((response) => {
          this.showEditEventBox = false;
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getEmployees() {
      axios.get('/api/v1/dispatch/employees')
        .then((response) => {
          this.employees = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRunnerPositions() {
      axios.get('/api/v1/dispatch/runner-positions')
        .then((response) => {
          this.runnerPositions = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
