<template>
  <ul>
    <li v-for="d in staff.dispatch">
      {{ d.name }}
    </li>
  </ul>
</template>

<style lang="scss" scoped>

</style>

<script>
export default {
  data() {
    return {
      staff: {
        dispatch: [
          {
            name: 'Jarek Hardy',
          },
        ],
        runners: [
          {
            name: 'Debbie',
            transport: 'bike',
          },
        ],
      },
    };
  },
  mounted() {
  },
  methods: {
  },
};
</script>
