<template>
  <div id="customer">
    <fixed-header :domain="domain"/>
    <customer-information
      :customer-id="customerId "
      :domain="domain"/>
  </div>
</template>

<style lang="scss" scoped>
#customer {
  height: 100vh;
  background-color: #3c3c4c;
}
</style>

<script>
export default {
  props: [
    'domain',
    'customer-id',
  ],
  mounted() {
    this.$store.dispatch('loadActivePage', 'customers');
    if (this.$cookie.get('userId') === null) {
      location.href = `https://dispatch.${window.domain}/login`;
    }
  },
};
</script>
