<template>
  <div id="customers">
    <fixed-header :domain="domain"/>
    <customer-table :domain="domain"/>
    <pagination :domain="domain"/>
  </div>
</template>

<style lang="scss" scoped>
#customers {
  height: 100vh;
}
</style>

<script>
export default {
  props: [
    'domain',
  ],
  mounted() {
    this.$store.dispatch('loadActivePage', 'customers');
    if (this.$cookie.get('userId') === null) {
      location.href = `https://dispatch.${window.domain}/login`;
    }
  },
};
</script>
