<template>
  <div
    id="login"
    style="background-color: #f1f5f8; height: 100vh;">
    <div
      class="login">
      <h1 style="color: #3c3c4c; font-size: 17px; display: flex; justify-self: center;">
        Dispatch v2.
      </h1>
      <div
        class="box-login"
        style="background-color: #FFFFFF;">
        <div class="mb-15">
          <input
            v-model="email"
            type="email"
            placeholder="email"
            name="email"
            class="h-50 px-15 appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" >
        </div>
        <div class="mb-15">
          <input
            v-model="password"
            placeholder="password"
            type="password"
            name="password"
            class="h-50 px-15 appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" >
        </div>
        <button
          class="login-btn"
          @click="login">
          Login
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.box-login {
  background-color: rgb(255, 255, 255);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 25px;
}
.login {
  width: 400px;
  display:grid;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}
.form {
  width: 400px;
}
.input-wrap {
  border-radius: 8px;
  -webkit-box-shadow: 2px 14px 12px -6px rgba(0,0,0,0.18);
  -moz-box-shadow: 2px 14px 12px -6px rgba(0,0,0,0.18);
  box-shadow: 2px 14px 12px -6px rgba(0,0,0,0.18);
}
.email {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #cfcfcf;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  appearance: none;
  grid-template-columns: 100px 1fr;
}
.password {
  padding: 15px;
  border: 1px solid #cfcfcf;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: none;
  appearance: none;
  grid-template-columns: 100px 1fr;
}
.password, .email {
  input {
    border: 0;
    border-radius: 8px;
    &:focus {
      outline: 0;
    }
  }
}
label {
  color: #979797;
}
.login-btn {
  width: 100%;
  appearance: none;
  border: 0;
  background-color: #f83e40;
  color: #ffffff;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
</style>

<script>
import Vue from 'vue';
import api from '../mixins/api';

export default {
  data() {
    return {
      email: '',
      password: '',
    };
  },
  mounted() {
  },
  methods: {
    login() {
      const payload = {
        email: this.email,
        password: this.password,
      };
			  api().post('/login', payload)
        .then((response) => {
          const accessToken = response.data.data.attributes.accessToken;
          const firstName = response.data.data.attributes.user.firstName;
          const lastName = response.data.data.attributes.user.lastName;
          const userId = response.data.data.attributes.user.id;
          const domain = `dispatchv2.${window.domain}`;
          this.$cookie.set('accessToken', accessToken);
          this.$cookie.set('userFirstName', firstName);
          this.$cookie.set('userLastName', lastName);
          this.$cookie.set('userId', userId);
          location.href = `https://dispatch.${window.domain}/manage`;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
