<template>
  <div id="manage">
    <fixed-header :domain="domain"/>
    <orders
      :domain="domain"
      :tasks="JSON.parse(tasks)"
      :orders="JSON.parse(orders)"
      :scheduled_orders="JSON.parse(scheduled_orders)" />
    <runners :domain="domain"/>
  </div>
</template>

<script>
export default {
  props: {
    domain: {
      type: String,
      default: null,
      required: true,
    },
    orders: {
      type: String,
      default: null,
      required: true,
    },
    scheduled_orders: {
      type: String,
      default: null,
      required: true,
    },
    tasks: {
      type: String,
      default: null,
      required: true,
    },
  },
  computed: {
    formattedOrders() {
      return this.$store.state.orders;
    },
    formattedTasks() {
      return this.$store.state.tasks;
    },
  },
  mounted() {
    this.$store.commit('SET_ORDERS', JSON.parse(this.orders));
    this.$store.commit('SET_SCHEDULED_ORDERS', JSON.parse(this.scheduled_orders));
    this.$store.commit('SET_TASKS', JSON.parse(this.tasks));
    this.$store.dispatch('loadActivePage', 'manage');

    if (this.$cookie.get('userId') === null) {
      location.href = `https://dispatch.${window.domain}/login`;
    }
  },
};
</script>
