<template>
  <div id="manage">
    <fixed-header :domain="domain"/>
    <order
      :order-id="orderId"
      :domain="domain"/>
  </div>
</template>

<style lang="scss" scoped>
#manage {
  min-height: 100vh;
}
</style>

<script>
export default {
  props: [
    'domain',
    'orderId',
  ],
  mounted() {
    this.$store.dispatch('loadActivePage', 'past-orders');
    if (this.$cookie.get('userId') === null) {
      location.href = `https://dispatch.${window.domain}/login`;
    }
  },
};
</script>
