<template>
  <div id="schedule">
    <fixed-header :domain="domain"/>
    <calendar :domain="domain"/>
  </div>
</template>

<style lang="scss" scoped>
#schedule {
  padding-bottom: 22px;
  margin-bottom: -18px;
  min-height: 100vh;
  background-color: #3C3C4C;
}
</style>

<script>
export default {
  props: [
    'domain',
  ],
  mounted() {
    this.$store.dispatch('loadActivePage', 'schedule');
    if (this.$cookie.get('userId') === null) {
      location.href = `https://dispatch.${window.domain}/login`;
    }
  },
};
</script>
