// DOM ELEMENTS
// ==========================================================================

.r-body {
    width: 100%;
    min-height: 100vh;
    background-color: $background-blue;
    flex-direction: column;
    display: flex;
    color: $white;
}

// LOGIN
// ==========================================================================

.r-logo {
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;

    img {
        flex:1;
    }

}

// BUTTONS
// ==========================================================================

button {
    border: none;
    text-decoration:none
}

.r-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin: 20px 30px 30px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 12px;

}

a {
    text-decoration:none;
    color: $white;
}

.button-red{
    color: $white;
    background-color: $red;
}

.button-white{
    color: $background-blue;
    background-color: $white;
}

.button-green{
    color: $white;
    background-color: #7ED321;
}

.button-grey {
    color: $light-gray;
    background-color: none;
    border: 1px solid $light-gray;
}


// CONTAINERS
// ==========================================================================

.r-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.r-login-container{
    justify-content: flex-end;    
}

.r-signature-image-container {
    margin-bottom: 70px;
}

// INPUTS
// ==========================================================================

.r-input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $card-background;
    color: $white;  
    min-height: 50px;
    padding: 10px;
    text-align:center;
    margin: 10px 30px; 
    border:none;

    .r-input-title {
        height: 15px;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        color: $white;  
    }

}

.r-item-check{
    width: 10px;
    height: 10px;
    background-color: none;
    border: 1px solid $card-background;
    padding:5px;
    border-radius: 2px;
}

.check{
    background-color: $red;
}

// ORDER LIST
// ==========================================================================

.r-orderNav {
    display: flex;
    min-height: 50px;
    background-color: $card-background;

    .r-navItem {
        flex:1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
    }

    .active{
        border-bottom: 2px solid $red;
    }
}

.r-order {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 20px;

    .order-status{
        width: 10px;
        height: 10px;
        background-color: #7ED321;
        border-radius: 50%;
        padding:5px;
    }

    .order-number{
        color: $white;
        font-size: 12px;
        flex: 1;
        padding:5px 20px;
    }

    .order-recipient{
        flex: 3;
        color: #AEAEAE;
        font-size: 12px;
        padding:5px;
    }

    .view-order{
        padding:5px;
    }


}

// ORDER PROCESS
// ==========================================================================

.r-back {
    display: flex;
    min-height: 50px;
    padding: 10px 20px;
    align-items: center;
    font-size: 12px;
}

.r-pageTitle{
     padding: 10px 20px;
     justify-content: center;
     text-align: center;

    .r-title {
        color: #000;
        font-size: 20px; 
        padding:10px 15px;
        letter-spacing: 5px;
        color: #fff;
        text-transform: uppercase;
    }

    .r-orderNumber{
        color: $white;
        font-size: 15px;

    }

    .r-pageDescription{
        color: $light-gray;
        font-size: 15px;
        padding:15px 20px;    
    }

}

.r-pageContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 

    .r-navigation-address {
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
    }

    .r-item{
        display: flex;
        padding: 10px;
        min-height: 75px;
        text-align: left;
        

        
        .r-item-qty{
            padding: 0px 20px;
        }

        .link-wrap{
            flex: 1;
            display: flex;
            align-items: space-between;
        
            .r-item-name{
                padding-right: 10px;
                flex:2;

                .name{
                    font-size: 15px;
                }

                .region{
                    padding:5px 0px;
                    font-size: 12px;
                }

                .description{
                    font-weight: 600;
                    font-size: 12px;
                    padding:10px 0px;
                }
            
            }

            .r-item-price{
                font-size: 12px;
                color: $light-gray;
                padding-right:10px;
            }
            
            .r-item-view{
                width: 5px;
                padding: 0px 10px;
            }

        }
    }
    
    .recipient-name{
        color: #000;
        font-size: 20px; 
        padding:10px 30px;
        letter-spacing: 5px;
        color: #fff;
    }

    .recipient-address{
        color: $light-gray;
        font-size: 12px;
        
    }

    .order-instructions{
        color: $light-gray;
        font-size: 12px;
        padding:15px 20px; 
        min-height: 75px;  

    }

    .contact-actions{
        display: flex;
        font-weight: 600;

        .customer-contact-L{
            flex: 1;
            margin: 20px 5px 20px 20px;
            font-weight: 600;
        }

        .customer-contact-R{
            flex: 1;
            margin: 20px 20px 20px 5px;
            font-weight: 600;
        }

    }
    
    .button-container{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    
            .delivered-button{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                line-height: 250px;
                font-weight: 600;
            }
    }

}

.r-pageAction {
    justify-content: flex-end;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .call{
        color: $light-gray;
        padding-bottom: 10px;
        font-size: 15px;
    } 
}


// SIGNATURE
// ==========================================================================

.r-signature{
    flex: 1;
    background-color: #1A1F23;
    margin: 0px 20px;
    position: relative;
}

.r-signature-action{
    justify-content: flex-end;   
    display: flex;
    justify-content: center;
    text-align: center;

    .r-button{
        margin: 20px;
    }

    a {
        flex: 1;
    }
}

