#r-reset {
    background-color: $dark-gray;
    min-height: 100vh;
    position: relative;

    .r-reset__logo {
        display: block;
        margin: 0 0 30px 0;
        text-align: center;
    }

    .r-form {
        margin: 0 auto;
        width: 100%;

        @media #{$medium-and-up} {
            width: 400px;
        }
    }

    .r-reset__text {
        color: $white;
    }

    .r-reset__content {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
        
        @media #{$medium-and-up} {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate( -50%, -50% );
        }
    }

    .r-button--secondary {
        padding: 0 20px;
    }
}