// DOM Elements
// ==========================================================================
*, *:before, *:after {
  box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sofia-pro,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background-size: cover;
    background-size: 100%;
}

body{
    margin: 0px;
    overflow-x: hidden;
}


// colours
// ==========================================================================
$background-blue: #2B323A;
$card-background: #323C46;
$primary-blue: #4A90E2;
$primary-pink: #D97DEC;
$dark-gray: #2B2B2B;
$light-gray: #AEAEAE;
$white: #FFF;
$red: #F83E40;


// Global
// ==========================================================================
$medium-and-up: "only screen and (min-width : 1024px)" !default;
$small-and-up: "only screen and (min-width : 640px)" !default;
$medium-and-below: "only screen and (max-width : 1024px)" !default;
$small-and-below: "only screen and (max-width : 640px)" !default;
$content-width-medium-up: 1200px;

// Global
// ==========================================================================
