<template>
  <div
    id="orders"
    class="orders absolute overflow-y-auto scrolling-touch"
    style="background-color: #3c3c4c">
    <dispatch-map
      :zoom-level="zoomLevel"
      :active-tab="activeTab"
      :chosen-position="chosenPosition"
      :domain="domain" />
    <map-controls
      :zoom-level="zoomLevel"
      :domain="domain"/>
    <order-details
      v-if="orderInfoIsShown"
      :get-current-orders="getCurrentOrders"
      :get-schedules="getSchedules"
      :tasks="tasks"
      :active-tab="activeTab"
      :current-orders="currentOrders"
      :order-type="orderType"
      :order="selectedOrder"
      :domain="domain" />
    <ul class="flex h-50 justify-center items-center p-0 bg-dispatch-dark-grey m-0">
      <li
        :class="{'active': activeTab == 'current'}"
        class="border-r border-b flex-1 border-dispatch-dark-grey"
        @click="toggleActiveTab('current', 0)"
      >
        <a
          href="#"
          class="block text-center h-50 flex items-center justify-center">
          Current
        </a>
      </li>
      <li
        :class="{'active': activeTab == 'scheduled'}"
        class="flex-1 border-dispatch-dark-grey border-b"
        @click="toggleActiveTab('scheduled', 7)"
      >
        <a
          href="#"
          class="block text-center h-50 flex items-center justify-center">
          Scheduled
          <!-- <span class="notification-schedule">
            {{ Object.keys(scheduleUpdate).length }}
          </span> -->
        </a>
      </li>
    </ul>
    <div
      v-if="isLoading"
      class="flex items-center justify-center p-30">
      <moon-loader
        :loading="isLoading"
        color="#ffffff"
        size="30px" />
    </div>
    <draggable
      v-bind="currentOrdersOptions"
      :list="currentOrders"
      :move="checkOrderMove"
      @change="updateOrderToTask"
    >
      <div
        v-for="(order, index) in currentOrdersUpdate"
        v-show="activeTab === 'current'"
        :key="order.id"
        :style="{backgroundColor: taskColour[taskColorBool(order.attributes.createdAt)]}"
        class="order border-dispatch-dark-grey border-b p-20 flex cursor-pointer"
        @click.stop="toggleOrderInfo(order)"
      >
        <div>
          <span class="text-white mr-10">
            {{ index + 1 }}.
          </span>
        </div>
        <div
          class="mr-10"
          style="display: grid; grid-template-rows: 30px 0px;">
          <img
            :src="order.attributes.store.logo"
            class="w-30"
            alt >
          <img
            v-if="order.attributes.firstTime === 1"
            style="margin-left: 4px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1561489568/Dispatch/DistpatchIconMapNewuser.svg"
            alt="">
        </div>
        <div class="flex flex-col mr-10">
          <span class="text-white mb-5 text-sm">
            #{{ order.id }}
          </span>
          <span class="text-white mb-5">
            {{ order.attributes.customer.firstName + ' ' + order.attributes.customer.lastName[0].toUpperCase() }}.
          </span>
          <span
            class="text-white mb-5 text-sm"
          >
            {{ order.attributes.customer.phoneNumber | phoneNumber }}
          </span>
        </div>
        <img
          class="absolute"
          style="right: 15px; align-self:center; width: 20px;"
          src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbuttonWhite.svg"
          alt
          @click.stop="toggleAssigneesInfo(order)"
        >
        <div class="flex items-center">
          <span
            :style="{color: taskTextColour[taskColorBool(order.attributes.createdAt)]}"
            style="padding-left: 88px;"
            class="text-sm"
          >
            {{ order.attributes.createdAt | moment('h:mm a') }}
          </span>
        </div>
        <div>
          <img
            src
            alt >
        </div>
      </div>
    </draggable>

    <div
      v-show="!hideTasks"
      class="list">
      <div
        v-for="(container, index) in containers"
        :key="index"
        class="task-list cursor-pointer"
        @click.stop="toggleListIsShown(container)"
      >
        <div
          :style="{ 'background-color': container[0].attributes.color || '#fe6e00' }"
          style="padding-top:15px; padding-bottom:15px;"
          class="task-name text-white">
          <img
            v-if="showingTaskUpdate[container[0].attributes.container] === true"
            style="margin-left: 20px; margin-right: 43px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <img
            v-else-if="showingTaskUpdate[container[0].attributes.container] !== true"
            class="rotated"
            style="margin-left: 18px; margin-right: 45px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <img
            class="icon-location"
            style="position: absolute; right: 20px; margin: -4px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862117/Dispatch/DistpatchIconLocation.svg"
            alt
            @click.stop="getRunnersLocation(container[0].attributes.courier.id)"
          >
          {{ container[0].attributes.courier.first_name }}
          <span style="position: absolute; margin-left: 4px; margin-top: 1px; font-size: 13px;">
            ({{ container.length }})
          </span>
        </div>
        <moon-loader
          :loading="taskLoading"
          style="margin-left: 44%; padding-top: 20px; padding-bottom: 20px;"
          color="#ffffff"
          size="30px" />
        <div>
          <draggable
            v-if="taskLoading === false"
            v-bind="containerOptions"
            :list="container"
            :move="checkTaskMove"
            @change="updateTaskToTask">
            <transition-group
              v-if="taskLoading === false">
              <div
                v-for="(task, index) in container"
                v-show="showingTaskUpdate[task.attributes.container] === true && taskLoading === false && task.attributes.state < 3"
                :key="task.attributes.index"
                :style="{backgroundColor: taskColour[taskColorBool(task.attributes.order.attributes.createdAt)]}"
                style="display: grid; position: relative; left: 0px; width: 100%; vertical-align:middle;"
                class="order border-dispatch-dark-grey border-b p-20 cursor-pointer"
                @click.stop="toggleOrderInfo(task.attributes.order)"
              >
                <div>
                  <span class="text-white mr-10">{{ task.attributes.index }}.</span>
                  <span class="mr-10">
                    <img
                      :src="task.storeLogo"
                      class="w-30"
                      alt >
                  </span>
                  <span
                    style="color: #9E9E9E"
                    class="text-white mb-5 text-sm">#{{ task.attributes.order.id }}</span>
                </div>
                <div style="margin-left: 70px;">
                  <div
                    style="display: flex;"
                    class="mr-10">
                    <img
                      v-if="task.attributes.order.attributes.customer.firstTime === 1"
                      style="position: absolute; left: 52px;"
                      src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862287/Dispatch/DistpatchIconMapNewuser.svg">
                    <div
                      class="text-white mb-5"
                      style="flex: 1;"
                    >{{ task.attributes.order.attributes.customer.firstName + ' ' + task.attributes.order.attributes.customer.lastName[0].toUpperCase() }}.</div>
                    <div style="flex: 1;">
                      <span
                        :style="{color: taskTextColour[taskColorBool(task.attributes.order.attributes.createdAt)]}"
                        style="margin-left: 33px;"
                        class="text-sm"
                      >{{ task.attributes.order.attributes.createdAt | moment('h:mm a') }}</span>
                    </div>
                  </div>
                  <div
                    style="display: flex;"
                    class="w3-border">
                    <span
                      style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                    <span
                      style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                    <span
                      :style="{backgroundColor: fillOrNot[getTaskStatus(task.attributes.state)]}"
                      style="border-radius: 4px; background-color: #FFFFFF; height:6px; width:20%"/>
                    <span
                      style="border-radius: 4px; background-color: #26262e; height:6px; width:20%"/>
                  </div>
                </div>
              </div>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>

    <!-- schedule logic-->
    <div v-show="hideTasks">
      <div
        v-for="(schedule, index) in scheduleUpdate"
        :key="index"
        class="position: sticky; bg-dispatch-dark-grey cursor-pointer"
        @click.stop="toggleScheduleListIsShown(schedule)"
      >
        <div
          style="padding-top:15px; padding-bottom:15px;"
          class="scheduled-header text-white cursor-pointer">
          <img
            v-if="showingScheduleUpdate[index] !== true"
            class="rotated mr-10"
            style="margin-left: 17px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          <img
            v-else-if="showingScheduleUpdate[index] === true"
            class="mr-10"
            style="margin-left: 17px;"
            src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557862473/Dispatch/DispatchIconDropdown.svg"
            alt
          >
          {{ index | moment('ll') }}
        </div>
        <div
          v-show="showingScheduleUpdate[index] === true"
          class="border-dispatch-dark-grey"
          style="display:flex; padding: 7px; color: #848488; background-color: #3c3c4c;"
        >
          <p
            class="title"
            style="flex: 0; margin-left: 43px;">
            ID
          </p>
          <p
            class="title"
            style="flex: 1; margin-left: 51px;">Name</p>
          <p
            class="title"
            style="flex: 2; margin-right: 20px;">Time</p>
        </div>
        <div
          v-for="(array, index) in scheduleContainers"
          v-show="showingScheduleUpdate[index] === true"
          :key="index">
          <div
            v-for="(order, index) in array"
            v-show="schedule[0].attributes.formattedDate === array[index].attributes.formattedDate"
            :key="index"
            :style="{border: isOver2Hrs(array[index].attributes.scheduleTime)[0]}"
            style="margin-top: -1px; display: flex; padding: 20px; position: relative; left: 0px; width: 100%; vertical-align:middle; background-color: #3c3c4c;"
            @click.stop="toggleOrderInfo(order)"
          >
            <img
              class="absolute cursor-pointer"
              style="width: 20px; right: 35px; align-self:center; "
              src="https://res.cloudinary.com/dcnts7jzv/image/upload/v1557861966/Dispatch/DistpatchIconAddbuttonWhite.svg"
              alt
              @click.stop="toggleAssigneesInfo(order)"
            >
            <span style="color: #FFFFFF; flex: 0; margin-right: 20px;">
              {{ order.formattedIndex + 1 }}
            </span>
            <span
              style="flex: 0; margin-right: 20px;"
              class="text-white mb-5 text-sm">#{{ order.id }}</span>
            <span
              style="flex: 1;"
              class="text-white mb-5 text-sm"
            >{{ order.attributes.customer.firstName + ' ' + order.attributes.customer.lastName[0].toUpperCase() }}.</span>
            <span
              :style="{color: isOver2Hrs(array[index].attributes.scheduleTime)[1]}"
              style="flex: 2;"
              class="mb-5 text-sm"
            >{{ order.attributes.scheduleTime | moment('h:mm a') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- christian - there is an easier way of doing this click outside....its a extenson on @click-->
    <assignees
      v-click-outside="outside"
      v-show="assigneesInfoIsShown"
      :selected-order="selectedOrder"
      :assignees-info-is-shown="assigneesInfoIsShown"
      :domain="domain"
    />
  </div>
</template>

<style lang="scss" scoped>
.notification-schedule {
  background: #F83E41;
  border-radius: 100%;
  width: 20px;
  position: absolute;
  right: 25px;
  height: 20px;
}
.icon-location:hover {
  filter: invert(1);
}
.task-name:hover {
  opacity: 0.5;
}
.scheduled-header:hover {
  opacity: 0.5;
}
.rotated {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.orders {
  width: 385px;
  left: 0;
  height: calc(100vh - 60px);
  -webkit-box-shadow: 3px 23px 26px -2px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 3px 23px 26px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 3px 23px 26px -2px rgba(0, 0, 0, 0.42);
}
.active {
  a {
    background-color: #3c3c4c;
  }
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  background: #26262e;
}
.textarea {
  -webkit-appearance: none;
}
</style>

<script>
import draggable from 'vuedraggable';
import api from '../mixins/api';

export default {
  components: {
    draggable,
  },
  filters: {
    phoneNumber(value) {
      return value
        .replace(/[^0-9]/g, '')
        .replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    },
  },
  directives: {
    'click-outside': {
      bind(el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
        	const compName = vNode.context.name;
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`;
          if (compName) { warn += `Found in component '${compName}'`; }

          console.warn(warn);
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
          	binding.value(e);
          }
        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
      },

      unbind(el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
      },
    },
  },
  // every prop, lets follow the vue documentation on this, ie type, default, etc.
  props: {
    domain: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      fillOrNot: ['#FFFFFF', '#26262e'],
      joey: {},
      taskTextColour: ['#FFFFFF', '#eca124', '#ee3f41'],
      taskColour: ['#3c3c4c', 'rgba(245,166,35,0.21)', 'rgba(248,63,65,0.14)'],
      chosenPosition: {
        latitude: 43.660491,
        longitude: -79.402288,
      },
      runnersLocation: [],
      selectedTaskDragged: [],
      orderToTaskEl: [],
      orderFromTaskEl: [],
      taskToTaskEl: [],
      taskFromTaskEl: [],
      zoomLevel: 13,
      listIsShown: true,
      dateListIsShown: true,
      orderInfoIsShown: false,
      taskInfoIsShown: false,
      assigneesInfoIsShown: false,
      taskOrders: [],
      runners: [],
      tasks: [],
      selectedOrder: {},
      selectedTask: [],
      selectedDate: [],
      activeTab: 'current',
      isLoading: true,
      taskLoading: false,
      drag: false,
      hideTasks: false,
      currentOrders: [],
      scheduledOrders: [],
      showingTask: {},
      showingSchedule: {},
      orderType: '',
    };
  },
  computed: {
    showingTaskUpdate() {
      return this.showingTask;
    },
    showingScheduleUpdate() {
      return this.showingSchedule;
    },
    containers() {
      const groupedByContainer = _.groupBy(this.tasks, task => task.attributes.container);
      const containerArray = Object.keys(groupedByContainer).map(key => groupedByContainer[key]);

      return containerArray;
    },
    containerOptions() {
      return {
        animation: 200,
        group: {
          name: 'container',
          put: ['currentOrders', 'container'],
        },
        disabled: false,
        ghostClass: 'ghost',
      };
    },
    currentOrdersOptions() {
      return {
        animation: 200,
        group: 'currentOrders',
        disabled: false,
        ghostClass: 'ghost',
      };
    },
    currentOrdersUpdate() {
      return this.currentOrders;
    },
    scheduleUpdate() {
      if (this.$store.state.updated === true) {
        this.getSchedules();
      }
      return this.scheduledOrders;
    },
    scheduleContainers() {
      if (this.$store.state.updated === true) {
        this.getSchedules();
      }
      return this.scheduledOrders;
    },
  },
  mounted() {
    this.getCurrentOrders();
    this.getRunners();
    this.getTasks();
    this.getSchedules();

    Echo.channel('task-channel')
      .listen('TaskStateUpdated', (e) => {
        this.getTasks();
        this.getCurrentOrders();
        this.getSchedules();
      });
    Echo.channel('order-channel')
      .listen('NewOrder', (e) => {
        this.getTasks();
        this.getCurrentOrders();
        this.getSchedules();
      });
  },
  methods: {
    getTaskStatus(status) {
      if (status === 2) {
        return 0;
      }
      return 1;
    },
    isOver2Hrs(scheduleTime) {
      const timeDifference = moment.duration(moment().diff(scheduleTime));
      const hours = timeDifference.asHours();
      if (hours > 2) {
        return ['1px #F83F41 solid', '#F83F41'];
      }
      return ['1px #151517 solid', '#FFFFFF'];
    },
    taskColorBool(createdAt) {
      const timeDifference = moment.duration(moment().diff(createdAt));
      const hours = timeDifference.asHours();
      if (hours > 1 && hours < 1.5) {
        return 1;
      }
      if (hours > 1.5) {
        return 2;
      }
      return 0;
    },
    outside() {
      this.assigneesInfoIsShown = false;
      this.orderInfoIsShown = false;
    },
    toggleListIsShown(task) {
      this.$store.dispatch('SET_UPDATED', true);
      if (task.isShown === null) {
        task.isShown = true;
      }
      task.isShown = !task.isShown;
      for (let i = 0; i < task.length; i++) {
        this.showingTask[task[i].attributes.container] = task.isShown;
      }
      this.$store.dispatch('SET_UPDATED', false);
    },
    toggleScheduleListIsShown(schedule) {
      this.$store.dispatch('SET_UPDATED', true);
      if (schedule.isShown === null) {
        schedule.isShown = true;
      }
      schedule.isShown = !schedule.isShown;
      for (let i = 0; i < schedule.length; i++) {
        this.showingSchedule[schedule[i].attributes.formattedDate] = schedule.isShown;
      }
      this.$store.dispatch('SET_UPDATED', false);
    },
    toggleOrderInfo(order) {
      this.orderInfoIsShown = true;
      // if (order.attributes.courier.firstName === null) {
      //   this.orderType = 'order';
      // } else if (order.attributes.courier.firstName !== null) {
      //   this.orderType = 'task';
      // }
      this.selectedOrder = order;
    },
    toggleAssigneesInfo(order) {
      if (this.selectedOrder !== order) {
        this.assigneesInfoIsShown = true;
        this.selectedOrder = order;
      } else {
        this.assigneesInfoIsShown = !this.assigneesInfoIsShown;
      }
    },
    getRunnersLocation(runnerId) {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/courier-location?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runnersLocation = response.data.data;
          this.chosenPosition = {};
          for (let i = 0; i < this.runnersLocation.length; i++) {
            if (runnerId === this.runnersLocation[i].runner_id) {
              this.chosenPosition.latitude = this.runnersLocation[i].latitude;
              this.chosenPosition.longitude = this.runnersLocation[i].longitude;
              return;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCurrentOrders() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/orders?status=0`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.currentOrders = response.data.data;
          this.assigneesInfoIsShown = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getTasks() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/tasks?state=1,2`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          const results = response.data.data;
          this.tasks = response.data.data;

          const sortedTasks = _.sortBy(
            results,
            'attributes.index',
          );
          this.tasks = sortedTasks;
          this.isLoading = false;
          this.assigneesInfoIsShown = false;
          this.taskLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSchedules() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/orders?status=7`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', {
            domain: window.domain,
          })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          const results = response.data.data;
          const map = results.map((result, index) => {
            result.formattedIndex = index;
            return result;
          });
          const formattedResults = map.map((result) => {
            result.attributes.formattedDate = moment(
              result.attributes.scheduleTime,
            ).format('YYYYMMDD');
            return result;
          });
          const t2 = _.groupBy(formattedResults, 'attributes.formattedDate');
          this.scheduledOrders = t2;
          this.isLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getRunners() {
      axios({
        method: 'get',
        url: `https://api.${this.domain}/dispatch/v2/couriers?filters=onDuty`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
      })
        .then((response) => {
          this.runners = response.data[0].scheduledRunner;
          this.joey = response.data[0].joey;
          const user = {
            color: '#000000',
            created_at: `${moment().format('YYYY-MM-DD')} 00:00:00`,
            deleted_at: null,
            end: `${moment().format('YYYY-MM-DD')} 23:59:59`,
            id: 13440,
            job_type: 3,
            start: `${moment().format('YYYY-MM-DD')} 00:00:00`,
            user_id: 13440,
            user: this.joey,
          };
          this.runners.push(user);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleActiveTab(tab, status) {
      this.orderInfoIsShown = false;
      this.activeTab = tab;
      if (status === 7) {
        this.hideTasks = true;
      } else {
        this.hideTasks = false;
      }
    },
    checkOrderMove(evt) {
      this.orderToTaskEl = evt.draggedContext;
      this.orderFromTaskEl = evt.relatedContext;
    },
    checkTaskMove(evt) {
      this.taskToTaskEl = evt.draggedContext;
      this.taskFromTaskEl = evt.relatedContext;
    },
    updateOrderToTask() {
      const orderOrderId = this.orderToTaskEl.element.attributes.orderId;
      const orderCourierId = this.orderFromTaskEl.element.attributes.courier.id;
      const orderTaskContainerId = this.orderFromTaskEl.element.attributes.container;
      const orderTaskIndex = this.orderFromTaskEl.index;
      this.taskLoading = true;

      axios({
        method: 'post',
        url: `https://api.${this.domain}/dispatch/v2/tasks/`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'tasks',
            attributes: {
              orderId: orderOrderId,
              type: 'order',
              courierId: orderCourierId,
              containerId: orderTaskContainerId,
              index: orderTaskIndex,
            },
          },
        },
      }).then(() => {
        this.getTasks();
      })
        .catch((error) => {
          console.log(error);
        });
    },
    async updateTaskToTask() {
      const taskId = this.taskToTaskEl.element.id;
      const taskOrderId = this.taskToTaskEl.element.attributes.order.id;
      const taskCourierId = this.taskFromTaskEl.element.attributes.courier.id;
      const taskContainerId = this.taskFromTaskEl.element.attributes.container;
      const taskOrderIndex = this.taskToTaskEl.futureIndex;
      this.taskLoading = true;
      axios({
        method: 'put',
        url: `https://api.${this.domain}/dispatch/v2/tasks/${taskId}`,
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          Accept: 'application/json',
          ContentType: 'application/json',
        },
        data: {
          data: {
            type: 'tasks',
            attributes: {
              orderId: taskOrderId,
              type: 'order',
              courierId: taskCourierId,
              containerId: taskContainerId,
              index: taskOrderIndex,
            },
          },
        },
      }).then(() => {
        this.getTasks();
      })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
