<template>
  <div class="field">
    <p class="control">
      <input
        id="address_object"
        type="hidden"
        name="address_object">
      <input
        id="account_address"
        :placeholder="placeholder"
        class="input"
        type="text"
        name="account_address"
        @focus="clearContent"
        @blur="removeMapApi">
    </p>
    <p
      v-if="address_bounds"
      class="help is-danger">
      {{ address_bounds.address }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      default: 'Please Enter Address',
    },
  },

  data() {
    return {
      address: '',
      autocomplete: '',
      inputs: {
        route: 'long_name',
        country: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        postal_code: 'short_name',
      },

    };
  },
  mounted() {

  },

  methods: {
    removeMapApi() {
      $('#google_autocomplete').next().remove();
      $('#google_autocomplete').remove();
      $("script[charset='UTF-8']").remove();
    },
    bindAutocomplete() {
      const cityBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(43.629720, -79.436106),
        new google.maps.LatLng(43.673200, -79.349498),
      );

      this.autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('account_address')),
        {
          bounds: cityBounds,
          types: ['geocode'],
          componentRestrictions: { country: 'ca' },
        },
      );

      this.autocomplete.addListener('place_changed', this.pipeAddress);
    },

    /**
             * Look up places and emit an event.
             *
             * @return {Void}
             */
    pipeAddress() {
      const data = {};
      const place = this.autocomplete.getPlace();
      const vm = this;

      if (place.address_components !== undefined) {
        for (let i = 0; i < place.address_components.length; i++) {
          const input = place.address_components[i].types[0];
          if (this.inputs[input]) {
            data[input] = place.address_components[i][this.inputs[input]];
          }
        }

        data.printable_address = place.formatted_address;
        data.lat = place.geometry.location.lat();
        data.lng = place.geometry.location.lng();
        document.getElementById('address_object').value = JSON.stringify(data);
        vm.address = document.getElementById('address_object').value;
      }
    },

    clearContent(event) {
      if (document.getElementById('account_address').value == 'Please Enter Address') {
        document.getElementById('account_address').value = '';
      }

      this.bindAutocomplete();
    },
  },
};
</script>
