<template>
    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <p>
                        ID
                    </p>
                </div>
                <div class="column">
                    <p>
                        Name
                    </p>
                </div>
                <div class="column">
                    <p>
                        Date
                    </p>
                </div>
                <div class="column">
                    <p>
                        Order
                    </p>
                </div>
                <div class="column">
                    <p>
                        View
                    </p>
                </div>
                <div class="column">
                    <p>
                        Active
                    </p>
                </div>
            </div>
            <div class="columns" :key="bundle.id" v-for="bundle in bundles">
                <div class="column">
                    <p>
                        {{ bundle.id }}
                    </p>
                </div>
                <div class="column">
                    <p>
                        {{ bundle.name }}
                    </p>
                </div>
                <div class="column">
                    <p>
                        {{ bundle.created_at }}
                    </p>
                </div>
                <div class="column">
                    <div class="field" v-if="!loadingBundles">
                        <div class="control">
                            <div class="select is-primary">
                                <select v-model="bundle.order" @change="updateBundle(bundle)">
                                    <option value="">Select Order</option>
                                    <option :value="n" :key="n" v-for="n in count">{{n}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="button is-loading" v-else>
                        Loading
                    </button>
                </div>
                <div class="column">
                    <a class="button is-primary" :class="{'is-loading':loadingBundles}" :href="'/command/bundles/'+bundle.id">
                        View
                    </a>
                </div>
                <div class="column">
                    <input type="checkbox" v-model="bundle.is_active" @change="updateBundle(bundle)" v-if="!loadingBundles">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="columns">
                <div class="column">
                    <button class="button is-primary" @click="newBundle">
                        New
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getBundles();
            this.getActiveBundles();
        },

        data: function() {
            return {
            	bundles: [],
                count: 0,
                loadingBundles: false,
            }
        },
        computed:{
            strBundles(){
                return JSON.stringify(this.bundles);
            },
        },
        methods: {
            getBundles: function() {
                var vm = this;

                axios.get('/api/v1/command/bundles')
                    .then(function(response) {
                        vm.bundles = response.data;        
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            getActiveBundles: function() {
                var vm = this;

                axios.get('/api/v2/bundles')
                    .then(function(response) {
                        vm.count = response.data.data.length;

                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            updateBundle(bundle){
                var vm = this;
                console.log(bundle);
                vm.loadingBundles = true;
                axios.post('/api/v1/command/bundles/' + bundle.id,{
                    order: bundle.order,
                    is_active: bundle.is_active,
                })
                    .then(function(response) {
                        vm.getBundles();
                        vm.getActiveBundles();
                        vm.loadingBundles = false;
                    })
                    .catch(function(error) {
                        console.log(error)
                    });
            },

            newBundle: function() {
                var vm = this;

                axios.post('/api/v1/command/bundles')
                    .then(function(response) {
                        window.location.href = '/command/bundles/' + response.data.id;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
        }
    }
</script>
