<template>
    <div class="column">
	    <div class="box">
			<div class="columns">
				<div class="column">
					<p>
						ID
					</p>
				</div>
				<div class="column">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Name</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='name'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('name')" v-if="editBundle=='name'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='name'">Cancel</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Inventory</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='inventory'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('inventory')" v-if="editBundle=='inventory'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='inventory'">Cancel</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<p>
						{{bundle.id}}
					</p>
				</div>
				<div class="column">
					<div class="field" v-if="editBundle=='name'">
                        <p class="control">
                            <input class="input" type="text" v-model="bundle.name">
                        </p>
                    </div>
					<p v-else>
						{{bundle.name}}
					</p>
				</div>
				<div class="column">
					<div class="field" v-if="editBundle=='inventory'">
                        <p class="control">
                            <input class="input" type="text" v-model="bundle.inventory">
                        </p>
                    </div>
					<p v-else>
						{{bundle.inventory}}
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Description</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='description'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('description')" v-if="editBundle=='description'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='description'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='description'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.description">
						</p>
					</div>
					<p v-else>
						<span v-if="bundle.description">{{bundle.description}}</span>
						<span v-else>None</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Secondary Description</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='secondary_description'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('secondary_description')" v-if="editBundle=='secondary_description'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='secondary_description'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='secondary_description'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.secondary_description">
						</p>
					</div>
					<p v-else>
						<span v-if="bundle.secondary_description">{{bundle.secondary_description}}</span>
						<span v-else>None</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Price in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='price_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('price_in_cents')" v-if="editBundle=='price_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='price_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='price_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.price_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.price_in_cents}}</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Regular Price in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='regular_price_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('regular_price_in_cents')" v-if="editBundle=='regular_price_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='regular_price_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='regular_price_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.regular_price_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.regular_price_in_cents}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Tax in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='tax_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('tax_in_cents')" v-if="editBundle=='tax_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='tax_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='tax_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.tax_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.tax_in_cents}}</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Regular Price Tax in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='regular_price_tax_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('regular_price_tax_in_cents')" v-if="editBundle=='regular_price_tax_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='regular_price_tax_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='regular_price_tax_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.regular_price_tax_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.regular_price_tax_in_cents}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Pre Tax Price in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='pre_tax_price_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('pre_tax_price_in_cents')" v-if="editBundle=='pre_tax_price_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='pre_tax_price_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='pre_tax_price_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.pre_tax_price_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.pre_tax_price_in_cents}}</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Pre-tax Regular Price in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='pre_tax_regular_price_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('pre_tax_regular_price_in_cents')" v-if="editBundle=='pre_tax_regular_price_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='pre_tax_regular_price_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='pre_tax_regular_price_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.pre_tax_regular_price_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.pre_tax_regular_price_in_cents}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Markup % in Decimals</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='markup_percentage'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('markup_percentage')" v-if="editBundle=='markup_percentage'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='markup_percentage'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='markup_percentage'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.markup_percentage">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.markup_percentage}}</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Markup in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='markup_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('markup_in_cents')" v-if="editBundle=='markup_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='markup_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='markup_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.markup_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.markup_in_cents}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Runner Price in cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='runner_price_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('runner_price_in_cents')" v-if="editBundle=='runner_price_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='runner_price_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='runner_price_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.runner_price_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.runner_price_in_cents}}</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Limited time offer savings in Cents</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='limited_time_offer_savings_in_cents'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="updateBundle('limited_time_offer_savings_in_cents')" v-if="editBundle=='limited_time_offer_savings_in_cents'">Save</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='limited_time_offer_savings_in_cents'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='limited_time_offer_savings_in_cents'">
						<p class="control">
							<input class="input" type="text" v-model="bundle.limited_time_offer_savings_in_cents">
						</p>
					</div>
					<p v-else>
						<span>{{bundle.limited_time_offer_savings_in_cents}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Banner Image</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='banner_url'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="editBundle=null" v-if="editBundle=='banner_url'">Back</a>
							<a @click.prevent="editBundle=null;bundle.banner_url='';updateBundle('remove_banner')" v-if="editBundle=='banner_url'">Remove</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='banner_url'">
						<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="bannerUrlOptions"></vue-dropzone> -->
					</div>
					<p v-else>
						<img :src="bundle.banner_url" :alt="bundle.name">
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2; flex-basis: 0;">
							<h1>Image</h1>
						</li>
						<li style="flex-grow: 1; flex-basis: 0;">
							<a @click.prevent="editBundle='image_url'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="editBundle=null;" v-if="editBundle=='image_url'">Cancel</a>
							<a @click.prevent="editBundle=null;bundle.image_url='';updateBundle('remove_image')" v-if="editBundle=='image_url'">Remove</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='image_url'">
						<p class="control">
							<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="imageUrlOptions"></vue-dropzone> -->
						</p>
						<img :src="bundle.image_url">
					</div>
					<p v-else>
						<img :src="bundle.image_url" :alt="bundle.name">
					</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="columns">
				<div class="column">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Carousel</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editBundle='carousel_images'" v-if="editBundle==null">Edit</a>
							<a @click.prevent="editBundle=null;" v-if="editBundle=='carousel_images'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editBundle=='carousel_images'">
						<p class="control">
							<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="carouselUrlOptions"></vue-dropzone> -->
						</p>
					</div>
					<p v-else>
						<div :key="key" v-for="(carousel,key) in bundle.carousel_images">
							<a href="" style="position: absolute;font-size: 40px;" @click.prevent="removeCarousel(carousel)">X</a>
							<img :src="carousel" :alt="bundle.name">
						</div>

					</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="columns">
				<div class="column">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Related Products</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">

						</li>
					</ul>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					id
				</div>
				<div class="column">
					name
				</div>
				<div class="column">
					package
				</div>
				<div class="column">
					runner price
				</div>
				<div class="column is-2">
					Delete
				</div>
			</div>
			<div class="columns" :key="related_product.id" v-for="related_product in related_products">
				<div class="column">
					{{related_product.id}}
				</div>
				<div class="column">
					{{related_product.name}}
				</div>
				<div class="column">
					{{related_product.package}}
				</div>
				<div class="column">
					{{related_product.runner_price_in_cents/100}}
				</div>
				<div class="column is-2">
					<button class="button" @click="removeRelatedProducts(related_product.id)">X</button>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<input type="text" class="input" v-model="related_product_id">
				</div>
				<div class="column">
					<button class="button is-primary" @click="addRelatedProduct(related_product_id)">Add Related Product</button>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="columns">
				<div class="column">
					<button class="button is-primary" @click="removeBundle">
                        Delete Bundle
                    </button>
				</div>
			</div>
		</div>
        <div class="box">
			<div class="columns">
				<div class="column is-1">
					<p>
						Qty
					</p>
				</div>
				<div class="column is-1">
					<p>
						ID
					</p>
				</div>
				<div class="column is-3">
					<p>
						Name
					</p>
				</div>
				<div class="column is-2">
					<p>
						Price
					</p>
				</div>
				<div class="column is-3">
					<p>
						Desc
					</p>
				</div>
				<div class="column">

				</div>
			</div>

			<div class="columns" v-for="product in bundle.products" v-if="bundle.products.length != 0">
				<div class="column is-1">
					{{product.pivot.quantity}}
				</div>
				<div class="column is-1">
					{{ product.id }}
				</div>
				<div class="column is-3">
					{{ product.name | str_limit }}
				</div>
				<div class="column is-2">
					${{ product.price_in_cents/100 }}
				</div>
				<div class="column is-3">
					{{ product.description | str_limit }}
				</div>
				<div class="column">
                    <button class="button is-primary" @click="RemoveProduct(product.id)">
                        Delete
                    </button>
				</div>
			</div>

			<div class="columns" v-if="bundle.products.length == 0">
        		<div class="column">
					<p>No Product for the Bundle</p>
				</div>
			</div>
        </div>
        <div class="box">
        	<div class="columns" v-if="showAddProduct">
        		<div class="column">
					<p>Product ID</p>
				</div>
				<div class="column">

				</div>
			</div>
			<div class="columns" v-if="showAddProduct">
        		<div class="column">
					<div class="field">
                        <p class="control">
                            <input class="input" type="number" placeholder="ProductId" v-model="newProduct.id">
                        </p>
                    </div>
				</div>
				<div class="column">
					<div class="field">
                        <p class="control">
                            <input class="input" type="number" placeholder="Quantity" v-model="newProduct.qty">
                        </p>
                    </div>
				</div>
				<div class="column">
					<button class="button is-primary" @click="AddProduct" :disabled="newProduct.id==null">
                        Add
                    </button>
                    <button class="button is-primary" @click="clearNewProduct">
                        Cancel
                    </button>
				</div>
			</div>
			<div class="columns" v-else>
				<div class="column">
					<button class="button is-primary" @click="showAddProduct = true">
                        Add New Product
                    </button>
				</div>
			</div>
			<div class="columns" v-if="newProductErr">
        		<div class="column">
					<p>{{newProductErr}}</p>
				</div>
			</div>
        </div>
    </div>
</template>

<script>
export default {
	mounted() {
		this.getBundle();
	},
	data: function() {
		return {
            	bundle: {
            		products: [

				]
            	},
			related_products: [

			],
			related_product_id: null,
            	newProduct        : {
            		id : null,
            		qty: 0
            	},
            	showAddProduct  : false,
            	editBundle      : null,
            	newProductErr   : null,
			loadingSpin     : null,
			bannerUrlOptions: {
				url           : '/api/v1/command/bundles/'+this.id,
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'banner_url',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			imageUrlOptions: {
				url           : '/api/v1/command/bundles/'+this.id,
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'image_url',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			carouselUrlOptions: {
				url           : '/api/v1/command/bundles/'+this.id,
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'carousel_images',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			}
		};
	},
	watch: {
        	newProduct: {
        		handler: function(newVal){
        			this.newProductErr = null;
        		},
        		deep: true
        	}
	},
	props: [
		'id'
	],
	filters: {
		str_limit(str){
			if (!str) return;
			if (str.length > 15) {
				return str.substring(0, 15) + '...';
			}
			else {
				return str;
			}
		}
	},
	methods: {
		onImageChange(e) {
			var files = e.target.files || e.dataTransfer.files;

			if (!files.length)
				return;

			var image = new Image();
			var reader = new FileReader();
			var vm = this;

			reader.onload = (e) => {
				vm.bundle.image_url = e.target.result;
			};
			reader.readAsDataURL(files[0]);

		},
		onBannerChange(e) {
			var files = e.target.files || e.dataTransfer.files;

			if (!files.length)
				return;

			var image = new Image();
			var reader = new FileReader();
			var vm = this;

			reader.onload = (e) => {
				vm.bundle.banner_url = e.target.result;
			};
			reader.readAsDataURL(files[0]);

		},
		getBundle: function() {
            	var vm = this;

			axios.get('/api/v1/command/bundles/' + this.id)
				.then(function(response) {
					vm.bundle = response.data;
					vm.getRelatedProducts();
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		RemoveProduct(productId){
            	var vm = this;

			axios.delete('/api/v1/command/bundles/' + this.id + '/' + productId)
				.then(function(response) {
					vm.getBundle();
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		AddProduct(){
            	var vm = this;

			axios.put('/api/v1/command/bundles/' + this.id + '/' + this.newProduct.id, {
				qty: vm.newProduct.qty
			})
				.then(function(response) {
					vm.getBundle();
					vm.clearNewProduct();
				})
				.catch(function(error) {
					vm.newProductErr=error.response.data.error;
				});
		},
		removeCarousel(url){
            	var vm = this;

			console.log(url);
			axios.put('/api/v1/command/bundles/' + this.id + '/carousel', {
				url: url
			})
				.then(function(response) {
					vm.getBundle();
					vm.loadingSpin = null;
					vm.editBundle = null;
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		updateBundle(type){
            	var vm = this;

			this.loadingSpin = type;
			var data = new FormData();

			if (type == 'description') {
				data.append('description', this.bundle.description);
			}
			if (type == 'secondary_description') {
				data.append('secondary_description', this.bundle.secondary_description);
			}
			if (type == 'name') {
				data.append('name', this.bundle.name);
			}
			if (type == 'banner_url') {
				data.append('banner_url', this.bundle.banner_url);
			}
			if (type == 'image_url') {
				data.append('image_url', this.bundle.image_url);
			}

			if (type == 'remove_image'){
				data.append('remove_img', 'yes');
			}

			if (type == 'remove_banner'){
				data.append('remove_banner', 'yes');
			}

			if (type == 'price_in_cents') {
				data.append('price_in_cents', this.bundle.price_in_cents);
			}
			if (type == 'regular_price_in_cents') {
				data.append('regular_price_in_cents', this.bundle.regular_price_in_cents);
			}
			if (type == 'limited_time_offer_savings_in_cents') {
				data.append('limited_time_offer_savings_in_cents', this.bundle.limited_time_offer_savings_in_cents);
			}

			if (type == 'pre_tax_price_in_cents') {
				data.append('pre_tax_price_in_cents', this.bundle.pre_tax_price_in_cents);
			}
			if (type == 'tax_in_cents') {
				data.append('tax_in_cents', this.bundle.tax_in_cents);
			}
			if (type == 'pre_tax_regular_price_in_cents') {
				data.append('pre_tax_regular_price_in_cents', this.bundle.pre_tax_regular_price_in_cents);
			}
			if (type == 'regular_price_tax_in_cents') {
				data.append('regular_price_tax_in_cents', this.bundle.regular_price_tax_in_cents);
			}
			if (type == 'markup_percentage') {
				data.append('markup_percentage', this.bundle.markup_percentage);
			}
			if (type == 'markup_in_cents') {
				data.append('markup_in_cents', this.bundle.markup_in_cents);
			}
			if (type == 'runner_price_in_cents') {
				data.append('runner_price_in_cents', this.bundle.runner_price_in_cents);
			}
			if (type == 'inventory') {
				data.append('inventory', this.bundle.inventory);
			}
			console.log(data);
			axios.post('/api/v1/command/bundles/' + this.id, data)
				.then(function(response) {
					vm.getBundle();
					vm.loadingSpin = null;
					vm.editBundle = null;
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		removeBundle() {
			var vm = this;

			axios.delete('/api/v1/command/bundles/' + this.id)
				.then(function(response) {
					location.href='/command/bundles';
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		addRelatedProduct(id){
			var vm = this;

			axios.post('/api/v1/command/bundles/' + this.id + '/products', {
				id: id
			})
				.then(function(response) {
					vm.related_product_id = null;
					vm.getRelatedProducts();
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		getRelatedProducts(){
			var vm = this;

			axios.get('/api/v1/command/bundles/' + this.id + '/products')
				.then(function(response) {
					vm.related_products = response.data;
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		removeRelatedProducts(id){
			var vm = this;

			axios.delete('/api/v1/command/bundles/' + this.id + '/products/' + id)
				.then(function(response) {
					vm.getRelatedProducts();
				})
				.catch(function(error) {
					console.log(error);
				});
		},
		clearNewProduct(){
            	this.showAddProduct = false;
            	this.newProduct.qty = 0;
            	this.newProduct.id = null;
            	this.newProductErr = null;
		}
	}
};
</script>