<template>
    <div class="column">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <p>
                        ID
                    </p>
                </div>
                <div class="column">
                    <p>
                        Name
                    </p>
                </div>
                <div class="column">
                    <p>
                        Date
                    </p>
                </div>
                <div class="column">
                    <p>
                        Order
                    </p>
                </div>
                <div class="column">
                    <p>
                        View
                    </p>
                </div>
                <div class="column">
                    <p>
                        Active
                    </p>
                </div>
            </div>
            <div class="columns" v-for="cartStarter in cartStarters">
                <div class="column">
                    <p>
                        {{ cartStarter.id }}
                    </p>
                </div>
                <div class="column">
                    <p>
                        {{ cartStarter.name }}
                    </p>
                </div>
                <div class="column">
                    <p>
                        {{ cartStarter.created_at }}
                    </p>
                </div>
                <div class="column">
                    <div class="field" v-if="!loadingCartStarters">
                        <div class="control">
                            <div class="select is-primary">
                                <select v-model="cartStarter.order" @change="updateCartStarter(cartStarter)">
                                    <option value="">Select Order</option>
                                    <option :value="n" v-for="n in count">{{n}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="button is-loading" v-else>
                        Loading
                    </button>
                </div>
                <div class="column">
                    <button class="button is-primary" :class="{'is-loading':loadingCartStarters}" @click="redirectCartStarter(cartStarter.id)">
                        View
                    </button>
                </div>
                <div class="column">
                    <input type="checkbox" v-model="cartStarter.isActive" @change="updateCartStarter(cartStarter)" v-if="!loadingCartStarters">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="columns">
                <div class="column">
                    <button class="button is-primary" @click="newCartStarters">
                        New
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getCartStarters();
            this.getActiveCartStarters();
        },

        data: function() {
            return {
            	cartStarters: {},
                count: 0,
                loadingCartStarters: false,
            }
        },
        computed:{
            strCartStarters(){
                return JSON.stringify(this.cartStarters);
            }
        },
        watch: {
            strCartStarters(newVal){
                this.getActiveCartStarters();
            }
        },
        methods: {
            getCartStarters: function() {
                var vm = this;

                axios.get('/api/v1/command/cart-starters')
                    .then(function(response) {
                        vm.cartStarters = response.data;        
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            getActiveCartStarters: function() {
                var vm = this;

                axios.get('/api/v1/cart-starters')
                    .then(function(response) {
                        vm.count = response.data.length;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            updateCartStarter(cartstarter){
                var vm = this;
                vm.loadingCartStarters = true;
                axios.post('/api/v1/command/cart-starters/' + cartstarter.id,{
                    order: cartstarter.order,
                    isActive: cartstarter.isActive,
                })
                    .then(function(response) {
                        vm.getCartStarters();
                        vm.loadingCartStarters = false;
                    })
                    .catch(function(error) {
                        console.log(error)
                    });
            },

            newCartStarters: function() {
                var vm = this;

                axios.post('/api/v1/command/cart-starters')
                    .then(function(response) {
                        window.location.href = '/command/cart-starters/' + response.data.id;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            redirectCartStarter: function(id) {
                window.location.href = '/command/cart-starters/' + id;
            }
        }
    }
</script>
