<template>
    <div class="column">
	    <div class="box">
			<div class="columns">
				<div class="column">
					<p>
						ID
					</p>
				</div>
				<div class="column">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Name</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editCartStarter='name'" v-if="editCartStarter==null">Edit</a>
							<a @click.prevent="updateCartStarter('name')" v-if="editCartStarter=='name'">Save</a>
							<a @click.prevent="editCartStarter=null" v-if="editCartStarter=='name'">Cancel</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<p>
						{{cartStarter.id}}
					</p>
				</div>
				<div class="column">
					<div class="field" v-if="editCartStarter=='name'">
                        <p class="control">
                            <input class="input" type="text" v-model="cartStarter.name">
                        </p>
                    </div>
					<p v-else>
						{{cartStarter.name}}
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Description</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editCartStarter='description'" v-if="editCartStarter==null">Edit</a>
							<a @click.prevent="updateCartStarter('description')" v-if="editCartStarter=='description'">Save</a>
							<a @click.prevent="editCartStarter=null" v-if="editCartStarter=='description'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editCartStarter=='description'">
						<p class="control">
							<input class="input" type="text" v-model="cartStarter.description">
						</p>
					</div>
					<p v-else>
						<span v-if="cartStarter.description">{{cartStarter.description}}</span>
						<span v-else>None</span>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Secondary Description</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editCartStarter='secondary_description'" v-if="editCartStarter==null">Edit</a>
							<a @click.prevent="updateCartStarter('secondary_description')" v-if="editCartStarter=='secondary_description'">Save</a>
							<a @click.prevent="editCartStarter=null" v-if="editCartStarter=='secondary_description'">Cancel</a>
						</li>
					</ul>
					<div class="field" v-if="editCartStarter=='secondary_description'">
						<p class="control">
							<input class="input" type="text" v-model="cartStarter.secondary_description">
						</p>
					</div>
					<p v-else>
						<span v-if="cartStarter.secondary_description">{{cartStarter.secondary_description}}</span>
						<span v-else>None</span>
					</p>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Banner Image</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editCartStarter='banner_image'" v-if="editCartStarter==null">Edit</a>
							<button class="button is-primary" :class="{'is-loading': loadingSpin == 'banner_image'}"  @click.prevent="updateCartStarter('banner_image')" v-if="editCartStarter=='banner_image'">Save</button>
							<a @click.prevent="editCartStarter=null;cartStarter.banner_image=''" v-if="editCartStarter=='banner_image'">Cancel</a>
							<a @click.prevent="editCartStarter=null;cartStarter.banner_image='';updateCartStarter('remove_banner')" v-if="editCartStarter=='banner_image'">Remove</a>
						</li>
					</ul>
					<div class="field" v-if="editCartStarter=='banner_image'">
						<p class="control">
							<input class="input" type="file" v-on:change="onBannerChange">
						</p>

						<img :src="cartStarter.banner_image">
					</div>
					<p v-else>
						<img :src="cartStarter.banner_image" :alt="cartStarter.name">
					</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<ul style="display: flex;">
						<li style="flex-grow: 2;flex-basis: 0;">
							<h1>Image</h1>
						</li>
						<li style="flex-grow: 1;flex-basis: 0;">
							<a @click.prevent="editCartStarter='img_url'" v-if="editCartStarter==null">Edit</a>
							<button class="button is-primary" :class="{'is-loading': loadingSpin == 'img_url'}" @click.prevent="updateCartStarter('img_url')" v-if="editCartStarter=='img_url'">Save</button>
							<a @click.prevent="editCartStarter=null;cartStarter.img_url=''" v-if="editCartStarter=='img_url'">Cancel</a>
							<a @click.prevent="editCartStarter=null;cartStarter.img_url='';updateCartStarter('remove_img')" v-if="editCartStarter=='img_url'">Remove</a>
						</li>
					</ul>
					<div class="field" v-if="editCartStarter=='img_url'">
						<p class="control">
							<input class="input" type="file" v-on:change="onImageChange">
						</p>
						<img :src="cartStarter.img_url">
					</div>
					<p v-else>
						<img :src="cartStarter.img_url" :alt="cartStarter.name">
					</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="columns">
				<div class="column">
					<button class="button is-primary" @click="removeCartStarter">
                        Delete Cart Starter
                    </button>
				</div>
			</div>
		</div>
        <div class="box">
			<div class="columns">
				<div class="column">
					<p>
						Product ID
					</p>
				</div>
				<div class="column">
					<p>
						Name
					</p>
				</div>
				<div class="column">
					<p>
						Price
					</p>
				</div>
				<div class="column">
					<p>
						Package
					</p>
				</div>
				<div class="column">
					
				</div>
			</div>

			<div class="columns" v-for="product in cartStarter.products" v-if="cartStarter.products.length != 0">
				<div class="column">
					{{ product.id }}
				</div>
				<div class="column">
					{{ product.name }}
				</div>
				<div class="column">
					${{ product.price_in_cents/100 }}
				</div>
				<div class="column">
					{{ product.package }}
				</div>
				<div class="column">
                    <button class="button is-primary" @click="RemoveProduct(product.id)">
                        Delete
                    </button>
				</div>
			</div>

			<div class="columns" v-if="cartStarter.products.length == 0">
        		<div class="column">
					<p>No Product for the Cart Starter</p>
				</div>
			</div>
        </div>
        <div class="box">
        	<div class="columns" v-if="showAddProduct">
        		<div class="column">
					<p>Product ID</p>
				</div>
				<div class="column">

				</div>
			</div>
			<div class="columns" v-if="showAddProduct">
        		<div class="column">
					<div class="field">
                        <p class="control">
                            <input class="input" type="number" placeholder="ProductId" v-model="newProduct.id">
                        </p>
                    </div>
				</div>
				<div class="column">
					<button class="button is-primary" @click="AddProduct" :disabled="newProduct.id==null">
                        Add
                    </button>
                    <button class="button is-primary" @click="clearNewProduct">
                        Cancel
                    </button>
				</div>
			</div>
			<div class="columns" v-else>
				<div class="column">
					<button class="button is-primary" @click="showAddProduct = true">
                        Add New Product
                    </button>
				</div>
			</div>
			<div class="columns" v-if="newProductErr">
        		<div class="column">
					<p>{{newProductErr}}</p>
				</div>
			</div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getCartStarter();
        },

        data: function() {
            return {
            	cartStarter: {
            		products: []
            	},
            	newProduct:{
            		id: null,
            		qty: 0
            	},
            	showAddProduct: false,
            	editCartStarter: null,
            	newProductErr: null,
				loadingSpin: null,
            }
        },
        watch: {
        	newProduct: {
        		handler: function(newVal){
        			this.newProductErr = null
        		},
        		deep: true
        	}
        },

        props: ['id'],

        filters: {
            
        },

        methods: {
            onImageChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.cartStarter.img_url = e.target.result;
                };
                reader.readAsDataURL(files[0]);

            },
            onBannerChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.cartStarter.banner_image = e.target.result;
                };
                reader.readAsDataURL(files[0]);

            },
            getCartStarter: function() {
            	var vm = this;

                axios.get('/api/v1/command/cart-starters/' + this.id)
                    .then(function(response) {
                        vm.cartStarter = response.data;        
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            RemoveProduct(productId){
            	var vm = this;
                axios.delete('/api/v1/command/cart-starters/' + this.id + '/' + productId)
                    .then(function(response) {
                        vm.getCartStarter();        
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            AddProduct(){
            	var vm = this;
                axios.put('/api/v1/command/cart-starters/' + this.id + '/' + this.newProduct.id)
                    .then(function(response) {
                        vm.getCartStarter();
                        vm.clearNewProduct();
                    })
                    .catch(function(error) {
                        vm.newProductErr=error.response.data.error;
                    });
            },
            updateCartStarter(type){
            	var vm = this;
				this.loadingSpin = type;
                var data = new FormData();

                if (type == 'description') {
                    data.append('description', this.cartStarter.description);
                }
                if (type == 'secondary_description') {
                    data.append('secondary_description', this.cartStarter.secondary_description);
                }
                if (type == 'name') {
                    data.append('name', this.cartStarter.name);
                }
                if (type == 'banner_image') {
                    data.append('banner_image', this.cartStarter.banner_image);
                }
                if (type == 'img_url') {
                    data.append('img_url', this.cartStarter.img_url);
                }

                if(type == 'remove_img'){
                    data.append('remove_img', 'yes');
                }

                if(type == 'remove_banner'){
                    data.append('remove_banner', 'yes');
                }
                axios.post('/api/v1/command/cart-starters/' + this.id,data)
                    .then(function(response) {
                        vm.getCartStarter();
                        vm.loadingSpin = null;
                        vm.editCartStarter = null;
                    })
                    .catch(function(error) {
                        console.log(error)
                    });
            },
            removeCartStarter(){
				var vm = this;
                axios.delete('/api/v1/command/cart-starters/' + this.id)
                    .then(function(response) {
                        location.href="/command/cart-starters";
                    })
                    .catch(function(error) {
                        console.log(error)
                    });
            },
            clearNewProduct(){
            	this.showAddProduct = false;
            	this.newProduct.qty = 0;
            	this.newProduct.id = null;
            	this.newProductErr = null;
            }
        }
    }
</script>
