<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          Clients
        </h1>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-1">ID</div>
        <div class="column is-2">Name</div>
        <div class="column is-3">Email</div>
        <div class="column is-2">Phone</div>
        <div class="column">View</div>
      </div>
      <div
        v-for="(client, index) in clients"
        :key="index"
        class="columns">
        <div class="column is-1">{{ client.id }}</div>
        <div class="column is-2">{{ client.business_name }}</div>
        <div class="column is-3">{{ client.contact_email }}</div>
        <div class="column is-2">{{ client.contact_phone }}</div>
        <div class="column">
          <a
            :href="'/command/clients/'+client.id"
            class="button is-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      clients: [],
    };
  },
  mounted() {
    this.getClients();
  },
  methods: {
    getClients() {
      const vm = this;

      axios.get('/api/v1/command/clients')
        .then((response) => {
          vm.clients = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
