<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="columns">
            <div class="column">
              <p>
                {{ client.business_name }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a
          id="export"
          href="#"
          type="button"
          class="button is-primary">
          Export to CSV
        </a>
      </div>
      <div class="column is-4 is-offset-2 has-text-right">
        <h1 class="title">
          Date Range
        </h1>
        <date-picker
          v-model="timeRange"
          lang="en"
          range/>
      </div>
    </div>
    <div class="tabs">
      <ul>
        <li :class="{ 'is-active': tab == 0 }">
          <a @click.prevent="tab = 0">
            Sales
          </a>
        </li>
        <li :class="{ 'is-active': tab == 1 }">
          <a @click.prevent="tab = 1">
            Share Percentage
          </a>
        </li>
      </ul>
    </div>
    <div
      id="dvData"
      class="box">
      <table class="table">
        <thead v-show="tab == 0">
          <tr>
            <td>
              Brand
            </td>
            <td>
              SKU
            </td>
            <td>
              Name
            </td>
            <td>
              Packaging
            </td>
            <td>
              Unit Sold
            </td>
            <td>
              Retail Price
            </td>
            <td>
              Runner Price
            </td>
            <td>
              Total Runner Sales
            </td>
            <td v-show="false">
              Orders
            </td>
          </tr>
        </thead>
        <tbody v-show="tab == 0">
          <tr
            v-for="(product, index) in client.products"
            :key="index">
            <td>
              {{ product.brand }}
            </td>
            <td>
              {{ product.sku }}
            </td>
            <td>
              {{ product.name }}
            </td>
            <td>
              {{ product.packaging }}
            </td>
            <td>
              {{ product.sold }}
            </td>
            <td>
              <span v-if="product.true_price">
                ${{ product.true_price }}
              </span>
            </td>
            <td>
              <span v-if="product.runner_price">
                ${{ product.runner_price }}
              </span>
            </td>
            <td>
              <span v-if="product.total_runner_sales">
                ${{ product.total_runner_sales }}
              </span>
            </td>
            <td v-show="false">
              {{ product.orders }}
            </td>
          </tr>
        </tbody>
        <thead v-show="tab == 1">
          <tr>
            <td/>
            <td/>
          </tr>
        </thead>
        <tbody v-show="tab == 1">
          <tr
            v-for="(re, index) in client.report"
            :key="index">
            <td>
              {{ re[0] }}
            </td>
            <td>
              {{ re[1] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>

export default {
  filters: {
    timeFormat(value) {
      return moment(value).format('YYYY-MM-DD');
    },
    currency(val) {
      return Number(`${Math.round(`${val }e${ 2}`)}e-${2}`).toFixed(2);
    },
  },
  props: [
    'id',
  ],
  data() {
    return {
            	client: {
        products: {

        },
      },
      timeRange: [
        moment().subtract(30, 'day'),
        moment(),
      ],
      tab: 0,
    };
  },
  watch: {
    timeRange(newVal) {
            	this.getReport();
    },
  },
  mounted() {
    $(document).ready(() => {
      function exportTableToCSV($table, filename) {
        let $headers = $table.find('tr:has(th)'),
          $rows = $table.find('tr:has(td)'),

          // Temporary delimiter characters unlikely to be typed by keyboard
          // This is to avoid accidentally splitting the actual contents
          tmpColDelim = String.fromCharCode(11), // vertical tab character
          tmpRowDelim = String.fromCharCode(0), // null character
          // actual delimiter characters for CSV format
          colDelim = '","',
          rowDelim = '"\r\n"';

        // Grab text from table into CSV formatted string
        let csv = '"';

        csv += formatRows($headers.map(grabRow));
        csv += rowDelim;
        csv += `${formatRows($rows.map(grabRow))  }"`;

        // Data URI
        let csvData = `data:application/csv;charset=utf-8,${  encodeURIComponent(csv)}`;

        $(this)
          .attr({
            download: filename,
            href: csvData,

            // ,'target' : '_blank' //if you want it to open in a new window
          });

        //------------------------------------------------------------
        // Helper Functions
        //------------------------------------------------------------
        // Format the output so it has the appropriate delimiters
        function formatRows(rows) {
          return rows.get().join(tmpRowDelim)
            .split(tmpRowDelim).join(rowDelim)
            .split(tmpColDelim)
.join(colDelim);
        }

        // Grab and format a row from the table
        function grabRow(i, row) {
          let $row = $(row);

          // for some reason $cols = $row.find('td') || $row.find('th') won't work...
          let $cols = $row.find('td');

          if (!$cols.length) $cols = $row.find('th');

          return $cols.map(grabCol)
            .get().join(tmpColDelim);
        }

        // Grab and format a column from the table
        function grabCol(j, col) {
          let $col = $(col),
            $text = $col.text();

          return $text.replace('"', '""'); // escape double quotes
        }
      }

      // This must be a hyperlink
      $('#export').click(function (event) {
        // var outputFile = 'export'
        let outputFile = window.prompt('What do you want to name your output file (Note: This won\'t have any effect on Safari)') || 'export';

        outputFile = `${outputFile.replace('.csv', '')  }.csv`;

        // CSV
        exportTableToCSV.apply(this, [
          $('#dvData>table'), outputFile,
        ]);

        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
      });
    });
    this.getReport();
  },
  methods: {
    getReport() {
            	const vm = this;

            	if (vm.timeRange) {
            		axios.post(`/api/v1/command/clients/${this.id}`, {
            			time: vm.timeRange,
            		})
	                    .then((response) => {
	                        vm.client = response.data;
	                    })
	                    .catch((error) => {
	                        console.log(error);
	                    });
            	} else {
	                axios.post(`/api/v1/command/clients/${this.id}`)
	                    .then((response) => {
	                        vm.client = response.data;
	                    })
	                    .catch((error) => {
	                        console.log(error);
	                    });
      }
    },
  },
};
</script>
