<template>
  <div class="w-full">
    <div>
      <h2>
        Store Kill Switch
      </h2>
      <p class="mb-5">
        Global Store Is Closed
      </p>
      <input
        id=""
        v-model="globalStoreStatus"
        class="mb-30"
        type="checkbox"
        name="">
      <h2>
        Store Wide Notification
      </h2>
      <p class="mb-5">
        Notification Is Active
      </p>
      <input
        id=""
        v-model="globalNotification.isActive"
        class="mb-30"
        type="checkbox"
        name="">
      <p class="mb-5">
        Title
      </p>
      <input
        v-model="globalNotification.title"
        class="mb-30 appearance-none w-full border p-8 p-8 rounded"
        type="text">
      <p class="mb-5">
        Body
      </p>
      <textarea
        id=""
        v-model="globalNotification.body"
        class="mb-30 appearance-none w-full border p-8 p-8 rounded"
        name=""
        cols="30"
        rows="10"/>
      <button
        class="bg-red text-white font-bold p-8 rounded"
        @click="updateConfig">
        Update
      </button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: [
    'domain',
  ],
  data() {
    return {
      globalNotification: {},
      globalStoreStatus: null,
    };
  },
  mounted() {
    this.getConfig();
  },
  methods: {
    // just used for store notification right now
    getConfig() {
      api().get('/config/92002993827773499200982773')
	      .then((response) => {
          const data = response.data.data.find(c => c.attributes.hasOwnProperty('globalNotification'));
          const data2 = response.data.data.find(c => c.attributes.hasOwnProperty('close_store'));
          this.globalNotification = JSON.parse(data.attributes.globalNotification);
          this.globalStoreStatus = JSON.parse(data2.attributes.close_store);
	      })
        .catch((error) => {
          console.log(error);
        });
    },
    updateConfig() {
      const payload = {
        data: {
          globalNotification: this.globalNotification,
          globalStoreStatus: this.globalStoreStatus,
        },
      };

      api().put('/config/92002993827773499200982773', payload)
	      .then((response) => {
          location.reload();
	      })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
