<template>
    <div class="column">
        <h1>Coupons</h1>
        <a href="#" @click.prevent="showNewCoupon = true" v-if="!showNewCoupon">New Coupon</a>
        <div class="box" v-if='showNewCoupon'>
            <div class="columns">
                <div class="column is-2">
                    
                </div>
                <div class="column is-2">
                    <input class="input" type="number" placeholder="Value" v-model="newCoupon.value">
                </div>
                <div class="column">
                    <input class="input" type="text" placeholder="code" v-model="newCoupon.code">
                </div>
                <div class="column">
                    <input class="input" type="date" v-model="newCoupon.active_until">
                </div>
                <div class="column is-2">
                    <a href="#" @click.prevent="saveCoupon">Confirm</a>
                </div>
                <div class="column">
                    <a href="#" @click.prevent="showNewCoupon=false">Cancel</a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="columns">
                <div class="column is-1">
                    <p>ID</p>
                </div>
                <div class="column is-1">
                    <p>Value</p>
                </div>
                <div class="column is-3">
                    <p>Code</p>
                </div>
                <div class="column is-3">
                    <p>Active Until</p>
                </div>
                <div class="column is-1">
                    <p>Used</p>
                </div>
                <div class="column is-1">
                    <p>Is Active</p>
                </div>
                <div class="column is-2">
                    <p></p>
                </div>
            </div>
            <div class="columns" v-for="coupon in coupons">
                <div class="column is-1" >
                    {{coupon.id}}
                </div>
                <div class="column is-1">
                    <input class="input" type="text" v-model="coupon.value" v-if="showEditCoupon && EditCouponId == coupon.id">
                    <span v-else>{{coupon.value}}</span>
                </div>
                <div class="column is-3">
                    <input class="input" type="text" v-model="coupon.code" v-if="showEditCoupon && EditCouponId == coupon.id">
                    <span v-else><a href="#" @click.prevent="getCoupon(coupon.id)">{{coupon.code}}</a></span>
                </div>
                <div class="column is-3">
                    <input class="input" type="date" v-model="coupon.active_until" v-if="showEditCoupon && EditCouponId == coupon.id">
                    <span v-else>{{coupon.active_until}}</span>
                </div>
                <div class="column is-1">
                    <p>{{coupon.used}}</p>
                </div>

                <div class="column is-1" v-if="showEditCoupon && EditCouponId == coupon.id">
                    <input type="checkbox" :id="coupon.id" v-model="coupon.is_active">
                    <label :for="coupon.id">Active</label>
                </div>
                <div class="column is-1" v-else>
                    <span v-if="coupon.is_active">√</span>
                    <span v-else>X</span>
                </div>

                <div class="column is-2" v-if="showEditCoupon && EditCouponId == coupon.id">
                    <a class="button is-primary" href="#" @click.prevent="updateCoupon(coupon)">Save</a>
                    <a class="button" href="#" @click.prevent="showEditCoupon = false; EditCouponId = false">Cancel</a>
                </div>
                <div class="column is-2" v-else>
                    <a class="button is-primary" href="#" @click.prevent="showEditCoupon = true; EditCouponId = coupon.id">Edit</a>
                </div>   
            </div>
        </div>
        <div class="modal" style="display:flex;" v-if="showUsersModal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Used Users</p>
                    <button class="delete" aria-label="close" @click.prevent="showUsersModal=false"></button>
                </header>
                <section class="modal-card-body">
                    <div class="columns">
                        <div class="column is-1">
                            ID
                        </div>
                        <div class="column is-5">
                            Email
                        </div>
                        <div class="column is-4">
                            Name
                        </div>
                        <div class="column is-2">
                            View
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column" v-if="used_users.length==0">
                            No user used this coupon
                        </div>
                    </div>
                    <div class="columns" v-for="used_user in used_users">
                        <div class="column is-1">
                            {{used_user.id}}
                        </div>
                        <div class="column is-5">
                            {{used_user.email}}
                        </div>
                        <div class="column is-4">
                            {{used_user.name}}
                        </div>
                        <div class="column is-2">
                            <a class="button is-primary" :href="'/dispatch/customers/'+used_user.id" target="_blank">View</a>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" @click.prevent="showUsersModal=false">OK</button>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        	this.getCoupons();
        },
        data: function() {
            return {
            	showNewCoupon: false,
            	newCoupon: {},
            	coupons: [],
                used_users: [],
            	showEditCoupon: false,
                showUsersModal: false,
            	EditCouponId: false,
            }
        },

        methods: {
        	saveCoupon: function(){
        		var vm = this;
                axios.post(location.protocol + '//' + location.host + '/api/v1/command/coupons', {
                    coupon: this.newCoupon
                })
                .then(function (response) {
                	if (response.data) {
                		vm.showNewCoupon = false;
                		vm.newCoupon = {};
                		vm.getCoupons();
                	}
                })
                .catch(function (error) {
                    console.log(error);
                }); 
        	},
        	getCoupons: function(){
        		var vm = this;
                axios.get('/api/v1/command/coupons')
                .then(function (response) {
                	vm.coupons = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                }); 
        	},
            getCoupon: function(id){
                var vm = this;
                this.showUsersModal = true;
                axios.get('/api/v1/command/coupons/'+id)
                .then(function (response) {
                    vm.used_users = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                }); 
            },
        	updateCoupon: function(coupon){
        		var vm = this;
                axios.put('/api/v1/command/coupons/'+ coupon.id, {
                	value: coupon.value,
                	code: coupon.code,
                	active_until: coupon.active_until,
                	is_active: coupon.is_active,
                })
                .then(function (response) {
                	if (response.data) {
                		vm.getCoupons();
                		vm.showEditCoupon= false,
            			vm.EditCouponId= false
                	}
                })
                .catch(function (error) {
                    console.log(error);
                }); 
        	}
        }
    }
</script>
