<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          Customers
        </h1>
      </div>
      <div class="column">
        <date-picker
          v-model="timeRange"
          lang="en"
          range/>
      </div>
      <div class="column">
        <a
          id="export"
          href="#"
          type="button"
          class="button is-primary">
          Export to CSV
        </a>
      </div>
    </div>
    <div
      id="dvData"
      class="box">
      <table class="table">
        <thead v-show="timeRange">
          <tr>
            <td colspan="2">
              Time Range
            </td>
            <td colspan="9">
              <span v-if="timeRange">
                {{ timeRange[0] | timeFormat }} to {{ timeRange[1] | timeFormat }}
              </span>
              <span v-else>
                ALL
              </span>
            </td>
          </tr>
        </thead>
        <thead>
          <tr>
            <td>
              ID
            </td>
            <td>
              First Name
            </td>
            <td>
              Last Name
            </td>
            <td>
              Email
            </td>
            <td>
              Phone
            </td>
            <td>
              Has Purchase
            </td>
            <td>
              Active?
            </td>
            <td>
              Gender
            </td>
            <td>
              Date Added
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(customer, index) in customers">
            <td>
              {{ customer.id }}
            </td>
            <td>
              {{ customer.first_name }}
            </td>
            <td>
              {{ customer.last_name }}
            </td>
            <td>
              {{ customer.email }}
            </td>
            <td>
              {{ customer.phone_number }}
            </td>
            <td>
              <span v-if="customer.hasPurchase">
                Yes
              </span>
              <span v-else>
                No
              </span>
            </td>
            <td>
              {{ customer.ActiveThisPeriod }}
            </td>
            <td>
              <div class="select">
                <select
                  id=""
                  v-model="customer.gender"
                  name=""
                  @change="updateGender(customer.gender, customer.id)">
                  <option value="unknown">
                    unknown
                  </option>
                  <option value="male">
                    male
                  </option>
                  <option value="female">
                    female
                  </option>
                </select>
              </div>
            </td>
            <td>
              {{ customer.created_at }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      v-if="totalPage"
      class="box">
      <nav class="pagination">
        <a
          v-if="page>1"
          class="pagination-previous"
          href="#"
          @click.prevent="page-=1">
          Previous
        </a>
        <a
          v-if="page<totalPage"
          class="pagination-next"
          href="#"
          @click.prevent="page+=1">
          Next page
        </a>
        <ul
          v-if="totalPage <= 5"
          class="pagination-list">
          <li v-for="n in totalPage">
            <a
              :class="{ 'pagination-link': true, 'is-current': n == page }"
              href="#"
              @click.prevent="page=n">
              {{ n }}
            </a>
          </li>
        </ul>
        <ul
          v-else-if="page<4"
          class="pagination-list">
          <li>
            <a
              :class="{'is-current': page == 1}"
              class="pagination-link"
              href="#"
              @click.prevent="page=1">1</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == 2}"
              class="pagination-link"
              href="#"
              @click.prevent="page=2">2</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == 3}"
              class="pagination-link"
              href="#"
              @click.prevent="page=3">3</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == 4}"
              class="pagination-link"
              href="#"
              @click.prevent="page=4">4</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage">{{ totalPage }}</a>
          </li>
        </ul>
        <ul
          v-else-if="page>totalPage-3"
          class="pagination-list">
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page = 1">
              1
            </a>
          </li>
          <li>
            <span class="pagination-ellipsis">
              &hellip;
            </span>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage-3}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage-3">{{ totalPage-3 }}</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage-2}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage-2">{{ totalPage-2 }}</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage-1}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage-1">{{ totalPage-1 }}</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage">{{ totalPage }}</a>
          </li>
        </ul>
        <ul
          v-else
          class="pagination-list">
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page = 1">
              1
            </a>
          </li>
          <li>
            <span class="pagination-ellipsis">
              &hellip;
            </span>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page -= 1">
              {{ page-1 }}
            </a>
          </li>
          <li>
            <a class="pagination-link is-current">{{ page }}</a>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page+=1">{{ page+1 }}</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage">{{ totalPage }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    timeFormat(value) {
      return moment(value).format('YYYY-MM-DD');
    },
    currency(val) {
      return Number(`${Math.round(`${val}e${2}`)}e-${2}`).toFixed(2);
    },
  },
  data() {
    return {
      customers: [
        {

        },
      ],
      totalPage: null,
      page: 1,
      timeRange: null,
    };
  },
  watch: {
    timeRange(newVal) {
      this.getCustomers();
    },
    page(newVal) {
      this.getCustomers();
    },
  },
  mounted() {
    $(document).ready(() => {
      function exportTableToCSV($table, filename) {
        let $headers = $table.find('tr:has(th)'),
          $rows = $table.find('tr:has(td)'),

          // Temporary delimiter characters unlikely to be typed by keyboard
          // This is to avoid accidentally splitting the actual contents
          tmpColDelim = String.fromCharCode(11), // vertical tab character
          tmpRowDelim = String.fromCharCode(0), // null character
          // actual delimiter characters for CSV format
          colDelim = '","',
          rowDelim = '"\r\n"';

        // Grab text from table into CSV formatted string
        let csv = '"';

        csv += formatRows($headers.map(grabRow));
        csv += rowDelim;
        csv += `${formatRows($rows.map(grabRow))}"`;

        // Data URI
        const csvData = `data:application/csv;charset=utf-8,${encodeURIComponent(csv)}`;

        $(this)
          .attr({
            download: filename,
            href: csvData,

            // ,'target' : '_blank' //if you want it to open in a new window
          });

        //------------------------------------------------------------
        // Helper Functions
        //------------------------------------------------------------
        // Format the output so it has the appropriate delimiters
        function formatRows(rows) {
          return rows.get().join(tmpRowDelim)
            .split(tmpRowDelim).join(rowDelim)
            .split(tmpColDelim)
            .join(colDelim);
        }

        // Grab and format a row from the table
        function grabRow(i, row) {
          const $row = $(row);

          // for some reason $cols = $row.find('td') || $row.find('th') won't work...
          let $cols = $row.find('td');

          if (!$cols.length) $cols = $row.find('th');

          return $cols.map(grabCol)
            .get().join(tmpColDelim);
        }

        // Grab and format a column from the table
        function grabCol(j, col) {
          let $col = $(col),
            $text = $col.text();

          return $text.replace('"', '""'); // escape double quotes
        }
      }

      // This must be a hyperlink
      $('#export').click(function (event) {
        // var outputFile = 'export'
        let outputFile = window.prompt('What do you want to name your output file (Note: This won\'t have any effect on Safari)') || 'export';

        outputFile = `${outputFile.replace('.csv', '')}.csv`;

        // CSV
        exportTableToCSV.apply(this, [
          $('#dvData>table'), outputFile,
        ]);

        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
      });
    });
    this.getCustomers();
  },
  methods: {
    getCustomers() {
      const vm = this;

      if (vm.timeRange) {
        axios.post(`/api/v1/command/customers?page=${this.page}`, {
          time: vm.timeRange,
        })
          .then((response) => {
            vm.customers = response.data;
            vm.totalPage = null;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        axios.post(`/api/v1/command/customers?page=${this.page}`)
          .then((response) => {
            vm.customers = response.data.data;
            vm.totalPage = response.data.last_page;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    updateGender(customerGender, customerId) {
      axios.put(`/api/v1/command/customers/${customerId}`, {
        gender: customerGender,
      });
    },
  },
};
</script>
