<template>
    <div class="column">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>ID</h1>
                        </li>
                    </ul>
                    <p>
                        <span>{{custom_product.id}}</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Name</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='name'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('name')" v-if="editCustomProduct=='name'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='name'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='name'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.name">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.name">{{custom_product.name}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Package</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='package'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('package')" v-if="editCustomProduct=='package'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='package'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='package'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.package">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.package">{{custom_product.package}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Description</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='description'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('description')" v-if="editCustomProduct=='description'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='description'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='description'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.description">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.description">{{custom_product.description}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Primary Category</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='primary_category'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('primary_category')" v-if="editCustomProduct=='primary_category'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='primary_category'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='primary_category'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.primary_category">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.primary_category">{{custom_product.primary_category}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Secondary Category</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='secondary_category'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('secondary_category')" v-if="editCustomProduct=='secondary_category'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='secondary_category'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='secondary_category'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.secondary_category">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.secondary_category">{{custom_product.secondary_category}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Pre-Tax Price in Cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='pre_tax_price_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('pre_tax_price_in_cents')" v-if="editCustomProduct=='pre_tax_price_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='price_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='pre_tax_price_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.pre_tax_price_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.pre_tax_price_in_cents}}</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Origin</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='origin'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('origin')" v-if="editCustomProduct=='origin'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='origin'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='origin'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.origin">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.origin">{{custom_product.origin}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Tax in cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='tax_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('tax_in_cents')" v-if="editCustomProduct=='tax_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='tax_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='tax_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.tax_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.tax_in_cents}}</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Pre-Tax Regular Price in cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='pre_tax_regular_price_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('pre_tax_regular_price_in_cents')" v-if="editCustomProduct=='pre_tax_regular_price_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='pre_tax_regular_price_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='pre_tax_regular_price_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.pre_tax_regular_price_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.pre_tax_regular_price_in_cents}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Regular Price Tax in Cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='regular_price_tax_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('regular_price_tax_in_cents')" v-if="editCustomProduct=='regular_price_tax_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='regular_price_tax_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='regular_price_tax_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.regular_price_tax_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.regular_price_tax_in_cents}}</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Markup % in Decimals</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='markup_percentage'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('markup_percentage')" v-if="editCustomProduct=='markup_percentage'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='markup_percentage'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='markup_percentage'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.markup_percentage">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.markup_percentage}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Price in Cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='price_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('price_in_cents')" v-if="editCustomProduct=='price_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='price_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='price_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.price_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.price_in_cents}}</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Regular Price In Cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='regular_price_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('regular_price_in_cents')" v-if="editCustomProduct=='regular_price_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='regular_price_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='regular_price_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.regular_price_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.regular_price_in_cents}}</span>
                    </p>
                </div>
            </div>
        </div>
         <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Product ID</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='product_final_id'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('product_final_id')" v-if="editCustomProduct=='product_final_id'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='product_final_id'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='product_final_id'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.product_final_id">
                        </p>
                    </div>
                    <p v-else>
                        <span v-if="custom_product.product_final_id">{{custom_product.product_final_id}}</span>
                        <span v-else>None</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>limited_time_offer_savings_in_cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='limited_time_offer_savings_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('limited_time_offer_savings_in_cents')" v-if="editCustomProduct=='limited_time_offer_savings_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='limited_time_offer_savings_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='limited_time_offer_savings_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.limited_time_offer_savings_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.limited_time_offer_savings_in_cents}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Markup In Cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='markup_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('markup_in_cents')" v-if="editCustomProduct=='markup_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='markup_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='markup_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.markup_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.markup_in_cents}}</span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Runner Price In Cents</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='runner_price_in_cents'" v-if="editCustomProduct==null">Edit</a>
                            <a @click.prevent="updateCustomProduct('runner_price_in_cents')" v-if="editCustomProduct=='runner_price_in_cents'">Save</a>
                            <a @click.prevent="editCustomProduct=null" v-if="editCustomProduct=='runner_price_in_cents'">Cancel</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='runner_price_in_cents'">
                        <p class="control">
                            <input class="input" type="text" v-model="custom_product.runner_price_in_cents">
                        </p>
                    </div>
                    <p v-else>
                        <span>{{custom_product.runner_price_in_cents}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Image</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='image'" v-if="editCustomProduct==null">Edit</a>
                            <button class="button is-primary" :class="{'is-loading': loadingSpin == 'image_url'}"  @click.prevent="updateCustomProduct('image_url')" v-if="editCustomProduct=='image'">Save</button>
                            <a @click.prevent="editCustomProduct=null;custom_product.image_url=''" v-if="editCustomProduct=='image'">Cancel</a>
                            <a @click.prevent="editCustomProduct=null;custom_product.image_url='';updateCustomProduct('remove_image')" v-if="editCustomProduct=='image'">Remove</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='image'">
                        <p class="control">
                            <input class="input" type="file" v-on:change="onImageChange">
                        </p>

                        <img :src="custom_product.image_url">
                    </div>
                    <p v-else>
                        <img :src="custom_product.image_url" :alt="custom_product.image_url">
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <ul style="display: flex;">
                        <li style="flex-grow: 2;flex-basis: 0;">
                            <h1>Thumbnail</h1>
                        </li>
                        <li style="flex-grow: 1;flex-basis: 0;">
                            <a @click.prevent="editCustomProduct='thumbnail'" v-if="editCustomProduct==null">Edit</a>
                            <button class="button is-primary" :class="{'is-loading': loadingSpin == 'image_thumb_url'}" @click.prevent="updateCustomProduct('image_thumb_url')" v-if="editCustomProduct=='thumbnail'">Save</button>
                            <a @click.prevent="editCustomProduct=null;custom_product.image_thumb_url=''" v-if="editCustomProduct=='thumbnail'">Cancel</a>
                            <a @click.prevent="editCustomProduct=null;custom_product.image_thumb_url='';updateCustomProduct('remove_thumbnail')" v-if="editCustomProduct=='thumbnail'">Remove</a>
                        </li>
                    </ul>
                    <div class="field" v-if="editCustomProduct=='thumbnail'">
                        <p class="control">
                            <input class="input" type="file" v-on:change="onThumbnailChange">
                        </p>
                        <img :src="custom_product.image_thumb_url">
                    </div>
                    <p v-else>
                        <img :src="custom_product.image_thumb_url" :alt="custom_product.image_thumb_url">
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="columns" v-if="!editCustomProduct">
                <div class="column">
                    <button class="button is-primary" @click="removeCustomProduct">
                        Delete Custom Product
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getCustomProduct();
        },

        data: function() {
            return {
                custom_product: {},
                editCustomProduct: null,
                newProductErr: null,
                loadingSpin: null,
            }
        },

        props: ['id'],

        methods: {
            onImageChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.custom_product.image_url = e.target.result;
                };
                reader.readAsDataURL(files[0]);

            },
            onThumbnailChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.custom_product.image_thumb_url = e.target.result;
                };
                reader.readAsDataURL(files[0]);

            },
            getCustomProduct: function() {
                var vm = this;

                axios.get('/api/v1/command/custom-products/' + this.id)
                    .then(function(response) {
                        vm.custom_product = response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            updateCustomProduct(type){
                var vm = this;
                this.loadingSpin = type;
                var data = new FormData();

                if (type == 'description') {
                    data.append('description', this.custom_product.description);
                }
                if (type == 'name') {
                    data.append('name', this.custom_product.name);
                }

                if (type == 'package') {
                    data.append('package', this.custom_product.package);
                }

                if (type == 'primary_category') {
                    data.append('primary_category', this.custom_product.primary_category);
                }
                if (type == 'secondary_category') {
                    data.append('secondary_category', this.custom_product.secondary_category);
                }

                if (type == 'price_in_cents') {
                    data.append('price_in_cents', this.custom_product.price_in_cents);
                }
                if (type == 'regular_price_in_cents') {
                    data.append('regular_price_in_cents', this.custom_product.regular_price_in_cents);
                }
                if (type == 'limited_time_offer_savings_in_cents') {
                    data.append('limited_time_offer_savings_in_cents', this.custom_product.limited_time_offer_savings_in_cents);
                }

                if (type == 'pre_tax_price_in_cents') {
                    data.append('pre_tax_price_in_cents', this.custom_product.pre_tax_price_in_cents);
                }
                if (type == 'tax_in_cents') {
                    data.append('tax_in_cents', this.custom_product.tax_in_cents);
                }
                if (type == 'pre_tax_regular_price_in_cents') {
                    data.append('pre_tax_regular_price_in_cents', this.custom_product.pre_tax_regular_price_in_cents);
                }
                if (type == 'regular_price_tax_in_cents') {
                    data.append('regular_price_tax_in_cents', this.custom_product.regular_price_tax_in_cents);
                }
                if (type == 'markup_percentage') {
                    data.append('markup_percentage', this.custom_product.markup_percentage);
                }
                if (type == 'markup_in_cents') {
                    data.append('markup_in_cents', this.custom_product.markup_in_cents);
                }
                if (type == 'runner_price_in_cents') {
                    data.append('runner_price_in_cents', this.custom_product.runner_price_in_cents);
                }

                if (type == 'origin') {
                    data.append('origin', this.custom_product.origin);
                }
                if (type == 'image_url') {
                    data.append('image_url', this.custom_product.image_url);
                }
                if (type == 'image_thumb_url') {
                    data.append('image_thumb_url', this.custom_product.image_thumb_url);
                }

                if(type == 'remove_image'){
                    data.append('remove_image', 'yes');
                }

                if(type == 'remove_thumbnail'){
                    data.append('remove_thumbnail', 'yes');
                }
                axios.post('/api/v1/command/custom-products/' + this.id,data)
                    .then(function(response) {
                        vm.getCustomProduct();
                        vm.loadingSpin = null;
                        vm.editCustomProduct = null;
                    })
                    .catch(function(error) {
                        console.log(error)
                    });
            },
            removeCustomProduct(){
                var vm = this;
                axios.delete('/api/v1/command/custom-products/' + this.id)
                    .then(function(response) {
                        location.href="/command/custom-products";
                    })
                    .catch(function(error) {
                        console.log(error)
                    });
            },
            clearNewProduct(){
                this.showAddProduct = false;
                this.newProduct.qty = 0;
                this.newProduct.id = null;
                this.newProductErr = null;
            }
        }
    }
</script>
