<template>
  <div class="column">
    <div class="box">
      <div class="columns">
        <div class="column is-1">
          <p>
            ID
          </p>
        </div>
        <div class="column is-4">
          <p>
            Name
          </p>
        </div>
        <div class="column">
          <p>
            Price in Cents
          </p>
        </div>
        <div class="column">
          <p>
            Date
          </p>
        </div>
        <div class="column">
          <p>
            View
          </p>
        </div>
      </div>
      <div
        v-for="custom_product in custom_products"
        class="columns">
        <div class="column is-1">
          <p>
            {{ custom_product.id }}
          </p>
        </div>
        <div class="column is-4">
          <p>
            {{ custom_product.name }}
          </p>
        </div>
        <div class="column">
          <p>
            {{ custom_product.price_in_cents }}
          </p>
        </div>
        <div class="column">
          <p>
            {{ custom_product.created_at }}
          </p>
        </div>
        <div class="column">
          <a
            :href="'/command/custom-products/'+custom_product.id"
            class="button is-primary">
            View
          </a>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <button
            class="button is-primary"
            @click="newCustomProducts">
            New
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  data() {
    return {
      custom_products: [],
    };
  },
  mounted() {
    this.getCustomProducts();
  },

  methods: {
    getCustomProducts() {
      const vm = this;

      axios.get('/api/v1/command/custom-products')
        .then((response) => {
          vm.custom_products = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    newCustomProducts() {
      const vm = this;

      axios.post('/api/v1/command/custom-products')
        .then((response) => {
          window.location.href = `/command/custom-products/${response.data.id}`;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
