<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          Employees
        </h1>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-1">ID</div>
        <div class="column is-2">Name</div>
        <div class="column is-3">Email</div>
        <div class="column is-2">Phone</div>
        <div class="column is-2">Role</div>
        <div class="column">View</div>
      </div>

      <div
        v-for="(employee, index) in employees"
        class="columns">
        <div class="column is-1">{{ employee.id }}</div>
        <div class="column is-2">{{ employee.first_name }} {{ employee.last_name }}</div>
        <div class="column is-3">{{ employee.email }}</div>
        <div class="column is-2">{{ employee.phone_number }}</div>
        <div class="column is-2">
          <span v-if="employee.role == 1">Admin</span>
          <span v-else-if="employee.role == 2">Runner</span>
          <span v-else-if="employee.role == 3">Customer</span>
          <span v-else-if="employee.role == 4">Promote</span>
          <span v-else-if="employee.role == 5">Dispatch</span>
          <span v-else-if="employee.role == 6">Concierge</span>
          <span v-else>Unkown</span>
        </div>
        <div class="column">
          <a
            :href="'/command/employees/'+employee.id"
            class="button is-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  data() {
    return {
      employees: [],
    };
  },
  mounted() {
    this.getEmployees();
  },
  methods: {
    getEmployees() {
      axios({
        method: 'get',
        url: '/api/v1/command/employees',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
        },
      })
        .then((response) => {
          this.employees = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
