<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="columns">
            <div class="column">
              <p>
                Name
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p>
                {{ employee.first_name }} {{ employee.last_name }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="columns">
            <div class="column">
              <p>
                Email
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p>
                {{ employee.email }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <div class="columns">
            <div class="column">
              <p>
                Phone number
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p>
                {{ employee.phone_number }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a
          id="export"
          href="#"
          type="button"
          class="button is-primary">Export to CSV</a>
      </div>
      <div class="column is-4 is-offset-2 has-text-right">
        <h1 class="title">
          Date Range
        </h1>
        <date-picker
          v-model="timeRange"
          lang="en"
          range/>
      </div>
    </div>
    <div class="tabs">
      <ul>
        <li :class="{ 'is-active': employeeTab == 0 }"><a @click.prevent="employeeTab = 0">Tips</a></li>
        <li :class="{ 'is-active': employeeTab == 1 }"><a @click.prevent="employeeTab = 1">Schedules</a></li>
      </ul>
    </div>
    <div
      id="dvData"
      class="box">
      <table class="table">
        <thead style="display:none;">
          <tr>
            <td>Name</td>
            <td>Email/Phone</td>
            <td>Date Range</td>
          </tr>
        </thead>
        <thead style="display:none;">
          <tr>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.email }}/{{ employee.phone_number }}</td>
            <td>
              <span v-if="timeRange">{{ timeRange[0] | timeFormat }} to {{ timeRange[1] | timeFormat }}</span>
              <span v-else>ALL</span>
            </td>
          </tr>
          <tr>
            <td/>
            <td/>
            <td/>
          </tr>
        </thead>


        <thead style="display:none;">
          <tr>
            <td>Orders</td>
          </tr>
        </thead>
        <thead v-show="employeeTab == 0">
          <tr>
            <td>ID</td>
            <td>Delivery Date</td>
            <td/>
            <td/>
            <td>Tip</td>
          </tr>
        </thead>
        <tbody v-show="employeeTab == 0">
          <tr v-for="order in employee.orders">
            <td>{{ order.id }}</td>
            <td>{{ order.delivered_at }}</td>
            <td/>
            <td/>
            <td>${{ (order.tip / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</td>
          </tr>
        </tbody>
        <tfoot v-show="employeeTab == 0">
          <tr>
            <td>Tip Total</td>
            <td/>
            <td/>
            <td/>
            <td>${{ (employee.totalTip / 100).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</td>
          </tr>
        </tfoot>

        <thead style="display:none;">
          <tr>
            <td>Schedule</td>
          </tr>
        </thead>
        <thead v-show="employeeTab == 1">
          <tr>
            <td>Start</td>
            <td>End</td>
            <td>Job</td>
            <td>Hours</td>
            <td>Earned</td>
          </tr>
        </thead>
        <tbody v-show="employeeTab == 1">
          <tr v-for="schedule in employee.schedules">
            <td>{{ schedule.start }}</td>
            <td>{{ schedule.end }}</td>
            <td>{{ schedule.job }}</td>
            <td>{{ schedule.hours }}</td>
            <td>${{ schedule.earn }}</td>
          </tr>
        </tbody>
        <tfoot v-show="employeeTab == 1">
          <tr>
            <td>TotalEarnings</td>
            <td/>
            <td/>
            <td/>
            <td>${{ employee.totalEarn }}</td>
          </tr>
        </tfoot>
        <tfoot style="display:none;">
          <tr>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
          </tr>
          <tr>
            <td>Total</td>
            <td/>
            <td/>
            <td/>
            <td>${{ employee.totalEarn + (employee.totalTip / 100) }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>

<script>
import api from '../mixins/api';

export default {
  filters: {
        	timeFormat(value) {
        		return moment(value).format('YYYY-MM-DD');
        	},
    currency(val) {
      return Number(`${Math.round(`${val}e${2}`)}e-${2}`).toFixed(2);
    },
  },
  mixins: [
    'api',
  ],

  props: ['id'],

  data() {
    return {
            	employee: {
            		orders: [{}],
        schedules: [{}],
            	},
            	timeRange: null,
      employeeTab: 0,
    };
  },

  watch: {
    timeRange(newVal) {
            	this.getEmployee();
    },
  },
  mounted() {
    $(document).ready(() => {
      function exportTableToCSV($table, filename) {
        let $headers = $table.find('tr:has(th)'),
          $rows = $table.find('tr:has(td)'),
          // Temporary delimiter characters unlikely to be typed by keyboard
          // This is to avoid accidentally splitting the actual contents
          tmpColDelim = String.fromCharCode(11), // vertical tab character
          tmpRowDelim = String.fromCharCode(0), // null character
          // actual delimiter characters for CSV format
          colDelim = '","',
          rowDelim = '"\r\n"';
        // Grab text from table into CSV formatted string
        let csv = '"';
        csv += formatRows($headers.map(grabRow));
        csv += rowDelim;
        csv += `${formatRows($rows.map(grabRow))}"`;
        // Data URI
        const csvData = `data:application/csv;charset=utf-8,${encodeURIComponent(csv)}`;
        $(this)
          .attr({
            download: filename,
            href: csvData,
            // ,'target' : '_blank' //if you want it to open in a new window
          });
        //------------------------------------------------------------
        // Helper Functions
        //------------------------------------------------------------
        // Format the output so it has the appropriate delimiters
        function formatRows(rows) {
          return rows.get().join(tmpRowDelim)
            .split(tmpRowDelim).join(rowDelim)
            .split(tmpColDelim)
            .join(colDelim);
        }
        // Grab and format a row from the table
        function grabRow(i, row) {
          const $row = $(row);
          // for some reason $cols = $row.find('td') || $row.find('th') won't work...
          let $cols = $row.find('td');
          if (!$cols.length) $cols = $row.find('th');
          return $cols.map(grabCol)
            .get().join(tmpColDelim);
        }
        // Grab and format a column from the table
        function grabCol(j, col) {
          let $col = $(col),
            $text = $col.text();
          return $text.replace('"', '""'); // escape double quotes
        }
      }
      // This must be a hyperlink
      $('#export').click(function (event) {
        // var outputFile = 'export'
        let outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
        outputFile = `${outputFile.replace('.csv', '')}.csv`;

        // CSV
        exportTableToCSV.apply(this, [$('#dvData>table'), outputFile]);

        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
      });
    });
    this.getEmployee();
  },
  methods: {
    getEmployee() {
      if (this.timeRange) {
        axios({
          method: 'post',
          url: `/api/v1/command/employees/${this.id}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          },
          data: {
            time: this.timeRange,
          },
        })
          .then((response) => {
            this.employee = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        axios({
          method: 'post',
          url: `/api/v1/command/employees/${this.id}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          },
        })
          .then((response) => {
            this.employee = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
