<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          Firebase Cloud Messaging
        </h1>
      </div>
    </div>
    <div class="tabs">
      <ul>
        <li :class="{'is-active': fcmTab == 0}"><a @click.prevent="fcmTab=0">Individual</a></li>
        <li :class="{'is-active': fcmTab == 1}"><a @click.prevent="fcmTab=1">Pool</a></li>
      </ul>
    </div>
    <div class="box">
      <div
        v-if="fcmTab==0"
        class="columns">
        <div class="column is-6">
          <div class="columns">
            <div class="column is-9">
              <input
                v-model="query"
                class="input"
                type="text">
            </div>
            <div class="column is-2">
              <button
                :class="{'button':true, 'is-primary':true, 'is-outlined':true, 'is-loading': loadingCustomers}"
                :disabled="loadingCustomers"
                @click="getCustomers">Search</button>
            </div>
          </div>
          <div
            class="box"
            style="height: 600px;overflow: scroll;">
            <div class="columns">
              <div class="column is-2">
                Select
              </div>
              <div class="column is-6">
                Name
              </div>
              <div class="column is-2">
                Orders
              </div>
              <div class="column is-2">
                FCM
              </div>
            </div>
            <div
              v-for="customer in customers"
              class="columns">
              <div class="column is-2">
                <input
                  :value="customer.id"
                  v-model="selectedCustomers"
                  type="checkbox">
              </div>
              <div class="column is-6">
                {{ customer.name }}
                <p>{{ customer.email }}</p>
              </div>
              <div class="column is-2">
                {{ customer.orders }}
              </div>
              <div class="column is-2">
                <p v-if="customer.fcm_token">Yes</p>
                <p v-else>No</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <input
                class="button"
                type="button"
                value="Check All"
                @click="checkAll">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">
              <input
                v-model="title"
                class="input"
                type="text"
                placeholder="title">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <textarea
                v-model="description"
                class="textarea"
                placeholder="Description"/>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <input
                v-model="coupon"
                class="input"
                type="text"
                placeholder="coupon">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <input
                v-model="product"
                class="input"
                type="text"
                placeholder="Product ID">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button
                class="button is-primary"
                @click.prevent="sendFCM">SEND NOTIFICATION</button>
            </div>
          </div>
          <div
            v-for="res in response"
            v-if="response"
            class="columns">
            <div class="column">
              {{ res[0] }}
            </div>
          </div>
        </div>
      </div>
      <div v-if="fcmTab==1">
        <div class="columns">
          <div class="column">
            <command-fcm-address/>
          </div>
          <div class="column is-2">
            <div class="field">
              <div class="control has-icons-right">
                <input
                  v-model="radius"
                  class="input"
                  type="number">
                <span class="icon is-small is-right">
                  KM
                </span>
              </div>
            </div>
          </div>
          <div class="column">
            <button
              :class="{'button':true, 'is-primary':true, 'is-outlined':true, 'is-loading':scanning || loadingCustomers}"
              :disabled="scanning || loadingCustomers"
              @click.prevent="searchCustomersRange">Radar</button>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div
              class="box"
              style="height: 600px;overflow: scroll;">
              <div class="columns">
                <div class="column is-2">
                  <p>ID</p>
                </div>
                <div class="column">
                  <p>Name</p>
                </div>
                <div class="column is-2">
                  <p>FCM</p>
                </div>
              </div>
              <div
                v-for="customerObj in selectedCustomersObj"
                :key="customerObj.id"
                class="columns">
                <div class="column is-2">
                  <p>{{ customerObj.id }}</p>
                </div>
                <div class="column">
                  <p>{{ customerObj.name }}</p>
                  <p>{{ customerObj.email }}</p>
                </div>
                <div class="column is-2">
                  <p v-if="customerObj.fcm_token">Yes</p>
                  <p v-else>No</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="columns">
              <div class="column">
                <input
                  v-model="title"
                  class="input"
                  type="text"
                  placeholder="title">
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <textarea
                  v-model="description"
                  class="textarea"
                  placeholder="Description"/>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  v-model="coupon"
                  class="input"
                  type="text"
                  placeholder="coupon">
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  v-model="product"
                  class="input"
                  type="text"
                  placeholder="Product ID">
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <button
                  class="button is-primary"
                  @click.prevent="sendFCM">SEND NOTIFICATION</button>
              </div>
            </div>
            <div
              v-for="res in response"
              v-if="response"
              class="columns">
              <div class="column">
                {{ res[0] }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fcmTab: 0,
      customers: [{
        location: null,
      }],
      query: null,
      selectedCustomers: [],
      selectedCustomersObj: [],
      radius: 1,
      title: null,
      description: null,
      coupon: null,
      product: null,
      response: null,
      scanning: false,
      loadingCustomers: false,
    };
  },
  watch: {
    fcmTab(newVal) {
      this.selectedCustomers = [];
      this.selectedCustomersObj = [];
      this.query = null;
      this.getCustomers();
    },
  },
  mounted() {
    this.getCustomers();
  },
  methods: {
    getCustomers() {
      const vm = this;
      this.loadingCustomers = true;
      if (vm.query) {
        axios.get(`/api/v1/command/fcm/customers/${vm.query}`)
          .then((response) => {
            vm.customers = response.data;
            vm.loadingCustomers = false;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        axios.get('/api/v1/command/fcm/customers/')
          .then((response) => {
            vm.customers = response.data;
            vm.loadingCustomers = false;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    sendFCM() {
      const vm = this;
      this.response = null;

      const data = {
        ids: vm.selectedCustomers,
        title: vm.title,
        description: vm.description,
      };

      if (this.coupon) {
        data.coupon = this.coupon;
      }

      if (this.product) {
        data.product = this.product;
      }

      axios.post('/api/v1/command/fcm', data)
        .then((response) => {
          vm.selectedCustomers = [];
          vm.title = null;
          vm.description = null;
          vm.coupon = null;
          vm.product = null;
          vm.response = [
            [`success: ${response.data.success}`],
            [`failure: ${response.data.failure}`],
          ];
        })
        .catch((error) => {
          vm.response = error.response.data;
        });
    },
    checkAll() {
      this.selectedCustomers = this.customers.map(customer => customer.id);
    },
    searchCustomersRange() {
      const vm = this;
      this.scanning = true;
      const address = JSON.parse(document.getElementById('address_object').value);
      const center = {
        lat: address.lat,
        lng: address.lng,
      };
      vm.selectedCustomersObj = [];
      for (let i = 0; i < vm.customers.length; i++) {
        if (vm.customers[i].location) {
          const distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(center), new google.maps.LatLng(vm.customers[i].location));
          if (distance < vm.radius * 1000) {
            vm.selectedCustomersObj.push(vm.customers[i]);
            vm.selectedCustomers.push(vm.customers[i].id);
          }
        }
      }
      this.scanning = false;
    },
  },
};
</script>
