<template>
    <div class="column">
        <div class="tabs is-centered">
    	  	<ul>
				<li :class="{'is-active': isActive == 0.1}"><a @click.prevent="isActive=0.1">Overview</a></li>
				<li :class="{'is-active': isActive == 0.2}"><a @click.prevent="isActive=0.2">Sale</a></li>
    	    	<li :class="{'is-active': isActive == 0}"><a @click.prevent="isActive=0">Beer</a></li>
    	    	<li :class="{'is-active': isActive == 1}"><a @click.prevent="isActive=1">Champagne</a></li>
    	    	<li :class="{'is-active': isActive == 2}"><a @click.prevent="isActive=2">Coolers</a></li>
    	    	<li :class="{'is-active': isActive == 3}"><a @click.prevent="isActive=3">Rose</a></li>
    	    	<li :class="{'is-active': isActive == 4}"><a @click.prevent="isActive=4">Spirits</a></li>
    	    	<li :class="{'is-active': isActive == 5}"><a @click.prevent="isActive=5">Wine</a></li>
				<li :class="{'is-active': isActive == 6}"><a @click.prevent="isActive=6">Cider</a></li>
    	  	</ul>
    	</div>
		<div class="box" v-if="isActive == 0.1 ">
			<h1>Categories Order</h1>
			<div class="columns">
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="beer" v-model="categories_order">
						Beer
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="champagne" v-model="categories_order">
						Champagne
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="coolers" v-model="categories_order">
						Coolers
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="rose" v-model="categories_order">
						Rose
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="spirits" v-model="categories_order">
						Spirits
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="wine" v-model="categories_order">
						Wine
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="cider" v-model="categories_order">
						Cider
					</label>
				</div>
				<div class="column">
					<label class="checkbox">
						<input type="checkbox" value="sale" v-model="categories_order">
						Sale
					</label>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					{{categories_order}}
				</div>
				<div class="column">
					<button class="button" @click="updateCategoryOrder">Update Categories Order</button>
				</div>
			</div>
		</div>
        <div class="box" v-else>
            <div class="columns">
            	<div class="column">
            		<p>ID</p>
            	</div>
            	<div class="column">
            		<p>Name</p>
            	</div>
            	<div class="column">
            		<p>Package</p>
            	</div>
            	<div class="column">

            	</div>
            </div>
            <div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.beer" v-show="isActive===0">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
                    <a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
            		<a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
            <div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.champagne" v-show="isActive===1">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
            		<a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
                    <a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
            <div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.coolers" v-show="isActive===2">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
            		<a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
                    <a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
            <div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.rose" v-show="isActive===3">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
            		<a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
                    <a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
            <div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.spirits" v-show="isActive===4">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
            		<a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
                    <a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
            <div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.wine" v-show="isActive===5">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
            		<a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
                    <a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
			<div class="columns" :key="product.id" v-for="(product, index) in featuredProducts.cider" v-show="isActive===6">
            	<div class="column">
            		<div class="field" v-if="isEditProduct == product.id">
						<div class="control">
							<input class="input" type="text" v-model="product.id">
						</div>
					</div>
					<p v-else>{{product.id}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.name}}</p>
            	</div>
            	<div class="column">
            		<div v-if="isEditProduct == product.id">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
            		<p v-else>{{product.package}}</p>
            	</div>
            	<div class="column">
            		<a class="button is-primary" @click.prevent="isEditProduct = product.id" v-if="!isEditProduct || isEditProduct != product.id">Edit</a>
            		<a class="button is-primary" @click.prevent="removeProduct(index)" v-if="!isEditProduct || isEditProduct != product.id">Remove</a>
                    <a class="button is-primary" @click.prevent="updateFeaturedProducts" v-if="isEditProduct == product.id">Save</a>
            		<a class="button is-primary" @click.prevent="isEditProduct = null" v-if="isEditProduct == product.id">Cancel</a>
            	</div>
            </div>
        </div>
		<div class="box" v-if="isActive == 0.1">
			<h1>Save the current featured products</h1>
			<div class="columns">
				<div class="column">
					<date-picker v-model="timeRange" lang="en" range></date-picker>
				</div>
				<div class="column">
					<button class="button is-primary" @click="saveFeatureProductReport">Save featured products for reports</button>
				</div>
			</div>
		</div>
        <div class="box" v-if="isActive!=0.1 && isActive!=0.2">
            <div class="columns" v-if="!showNewProduct">
                <div class="column">
                    <a href="#" @click.prevent="showNewProduct=true" class="button is-primary">New Featured Product</a>
                </div>
            </div>
            <div class="columns" v-if="showNewProduct">
                <div class="column">
                    <p>ID</p>
                </div>
                <div class="column">
                    <p>Category</p>
                </div>
                <div class="column">

                </div>
            </div>
            <div class="columns" v-if="showNewProduct">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" v-model="newproduct.id">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <div class="select">
                            <select v-model="newproduct.category">
                                <option value="beer">Beer</option>
                                <option value="champagne">Champagne</option>
                                <option value="coolers">Coolers</option>
                                <option value="rose">Rose</option>
                                <option value="spirits">Spirits</option>
                                <option value="wine">Wine</option>
								<option value="cider">Cider</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <a href="#" @click.prevent="addNewProduct(newproduct.id)" class="button is-primary" v-if="showNewProduct">Save</a>
                    <a href="#" @click.prevent="showNewProduct=false;" class="button is-primary" v-if="showNewProduct">Cancel</a>
                </div>
            </div>
        </div>
		<div class="box">
			<div class="columns" :key='r.id' v-for="r in featuredProductsReport">
				<div class="column">
					{{r.key}}
				</div>
				<div class="column">
					<span :key="v" v-for="v in r.value">{{v + ' '}}</span>
				</div>
				<div class="column">
					{{r.start}}
				</div>
				<div class="column">
					{{r.end}}
				</div>
				<div class="column">
					<button class="button" @click="removeFeatureProductReport(r.id)">Delete</button>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="columns" v-show="isActive == 0.2">
				<div class="column">
					Sale Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.sale_banner" alt="sale_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="saleOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 0">
				<div class="column">
					Beer Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.beer_banner" alt="beer_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="beerOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 1">
				<div class="column">
					Champagne Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.champagne_banner" alt="champagne_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="champagneOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 2">
				<div class="column">
					Coolers Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.coolers_banner" alt="coolers_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="coolersOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 3">
				<div class="column">
					Rose Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.rose_banner" alt="rose_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="roseOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 4">
				<div class="column">
					Spirits Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.spirits_banner" alt="spirits_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="spiritsOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 5">
				<div class="column">
					Wine Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.wine_banner" alt="wine_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="wineOptions"></vue-dropzone> -->
				</div>
			</div>
			<div class="columns" v-show="isActive == 6">
				<div class="column">
					Cider Banner
				</div>
				<div class="column">
					<img :src="categoriesBanner.cider_banner" alt="cider_banner">
				</div>
				<div class="column">
					<!-- <vue-dropzone ref="myVueDropzone" id="dropzone" :options="ciderOptions"></vue-dropzone> -->
				</div>
			</div>
		</div>
    </div>
</template>

<script>
export default {
	created() {
		this.getFeaturedProducts();
		this.getCategoryOrder();
		this.getCategoryBanner();
		this.getFeatureProductReport();
	},
	mounted() {

	},
	data: function() {
		return {
            	featuredProducts: {
            		beer: [

				],
            		champagne: [

				],
            		coolers: [

				],
            		rose: [

				],
            		spirits: [

				],
				wine: [

				],
				cider: [

				]
			},
			timeRange: [
				moment().subtract(30, 'day'),
				moment()
			],
			featuredProductsReport: [

			],
			categoriesBanner: {
				beer     : null,
            		champagne: null,
            		coolers  : null,
            		rose     : null,
            		spirits  : null,
				wine     : null,
				cider    : null,
				sale     : null
			},
			categories_order: [

			],
			beer_banner     : null,
			champagne_banner: null,
			coolers_banner  : null,
			rose_banner     : null,
			spirits_banner  : null,
			wine_banner     : null,
			cider_banner    : null,
			bannerUpdated   : false,
            	isActive        : 0.1,
            	isEditProduct   : null,
			showNewProduct  : false,
			newproduct      : {
				id      : null,
				category: 'beer'
			},
			beerOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'beer_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			champagneOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'champagne_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			coolersOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'coolers_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			roseOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'rose_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			spiritsOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'spirits_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			wineOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'wine_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			ciderOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'cider_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			},
			saleOptions: {
				url           : '/api/v1/command/options/category-banners',
				thumbnailWidth: 150,
				maxFilesize   : 5,
				paramName     : 'sale_banner',
				headers       : {
					'X-CSRF-TOKEN': window.Laravel.csrfToken
				}
			}
		};
	},
	watch: {
		isActive(newVal) {
			if (newVal == 0) {
				this.newproduct.category = 'beer';
			}
			else if (newVal == 1){
				this.newproduct.category = 'champagne';
			}
			else if (newVal == 2){
				this.newproduct.category = 'coolers';
			}
			else if (newVal == 3){
				this.newproduct.category = 'rose';
			}
			else if (newVal == 4){
				this.newproduct.category = 'spirits';
			}
			else if (newVal == 5){
				this.newproduct.category = 'wine';
			}
		}
	},
	computed: {
        	beerIds() {
        		return this.featuredProducts.beer.map(function(x) {
					   return parseInt(x.id);
			});
        	},
        	champagneIds() {
			return this.featuredProducts.champagne.map(function(x) {
				return parseInt(x.id);
			});
        	},
        	coolersIds() {
        		return this.featuredProducts.coolers.map(function(x) {
					   return parseInt(x.id);
			});
        	},
        	roseIds(){
        		return this.featuredProducts.rose.map(function(x) {
					   return parseInt(x.id);
			});
        	},
        	spiritsIds(){
        		return this.featuredProducts.spirits.map(function(x) {
					   return parseInt(x.id);
			});
        	},
        	wineIds(){
        		return this.featuredProducts.wine.map(function(x) {
					   return parseInt(x.id);
			});
		},
		ciderIds(){
        		return this.featuredProducts.cider.map(function(x) {
					   return parseInt(x.id);
			});
        	}
	},
	methods: {
		getFeaturedProducts(){
			var vm = this;

			axios.get('/api/v1/command/options/featured-products')
				.then(res => {
					vm.featuredProducts = res.data;
				})
				.catch(error => {
					console.log(error);
				});
		},
		getCategoryBanner() {
			var vm = this;

        		axios.get('/api/v1/command/options/category-banners')
        			.then(res => {
        				vm.categoriesBanner = res.data;
        			})
        			.catch(error => {
					console.log(error);
				});
		},
		addNewProduct(productId){
			if (this.newproduct.category == 'beer') {
				this.featuredProducts.beer.push(this.newproduct);
			}
			else if (this.newproduct.category == 'champagne'){
				this.featuredProducts.champagne.push(this.newproduct);
			}
			else if (this.newproduct.category == 'coolers'){
				this.featuredProducts.coolers.push(this.newproduct);
			}
			else if (this.newproduct.category == 'rose'){
				this.featuredProducts.rose.push(this.newproduct);
			}
			else if (this.newproduct.category == 'spirits'){
				this.featuredProducts.spirits.push(this.newproduct);
			}
			else if (this.newproduct.category == 'wine'){
				this.featuredProducts.wine.push(this.newproduct);
			}
			else if (this.newproduct.category == 'cider'){
				this.featuredProducts.cider.push(this.newproduct);
			}
			console.log(this.featuredProducts);
			this.isEditProduct = null;
			this.updateFeaturedProducts();
			this.newproduct.id=null;
			this.newproduct.category='beer';
		},
		removeProduct(index){
			console.log(index+'|'+this.isActive);
			if (this.isActive == 0) {
				this.featuredProducts.beer.splice(index, 1);
			}
			else if (this.isActive == 1){
				this.featuredProducts.champagne.splice(index, 1);
			}
			else if (this.isActive == 2){
				this.featuredProducts.coolers.splice(index, 1);
			}
			else if (this.isActive == 3){
				this.featuredProducts.rose.splice(index, 1);
			}
			else if (this.isActive == 4){
				this.featuredProducts.spirits.splice(index, 1);
			}
			else if (this.isActive == 5){
				this.featuredProducts.wine.splice(index, 1);
			}
			else if (this.isActive == 6){
				this.featuredProducts.cider.splice(index, 1);
			}
			this.isEditProduct = null;
			this.updateFeaturedProducts();
		},
		updateCategoryOrder(){
			var vm = this;

        		axios.put('/api/v1/command/options/categories-order', {
        			order: this.categories_order
        		})
    			.then(res => {
    				vm.categories_order = res.data;
    			})
    			.catch(error => {
					console.log(error);
				});
		},
		getCategoryOrder(){
			var vm = this;

        		axios.get('/api/v1/command/options/categories-order')
    			.then(res => {
					vm.categories_order = res.data;
    			})
    			.catch(error => {
					console.log(error);
				});
		},
        	updateFeaturedProducts(){
			var vm = this;

        		axios.put('/api/v1/command/options/featured-products', {
        			beer     : vm.beerIds,
        			champagne: vm.champagneIds,
        			coolers  : vm.coolersIds,
        			rose     : vm.roseIds,
        			spirits  : vm.spiritsIds,
				wine     : vm.wineIds,
				cider    : vm.ciderIds
        		})
    			.then(res => {
    				vm.isEditProduct = null;
					if (vm.showNewProduct) {
						vm.showNewProduct = false;
					}
    				this.getFeaturedProducts();
    			})
    			.catch(error => {
					console.log(error);
				});
		},
		saveFeatureProductReport(){
			var vm = this;

        		axios.post('/api/v1/command/options/featured-products-report', {
        			beer     : vm.beerIds,
        			champagne: vm.champagneIds,
        			coolers  : vm.coolersIds,
        			rose     : vm.roseIds,
        			spirits  : vm.spiritsIds,
				wine     : vm.wineIds,
				time     : vm.timeRange
        		})
    			.then(res => {
    				vm.getFeatureProductReport();
    			})
    			.catch(error => {
					console.log(error);
				});
		},
		getFeatureProductReport(){
			var vm = this;

        		axios.get('/api/v1/command/options/featured-products-report')
    			.then(res => {
    				vm.featuredProductsReport = res.data;
    			})
				.catch(error => {
					console.log(error);
				});
		},
		removeFeatureProductReport(id){
			var vm = this;

        		axios.delete('/api/v1/command/options/featured-products-report/'+id)
    			.then(res => {
    				vm.getFeatureProductReport();
    			})
				.catch(error => {
					console.log(error);
				});
		}
	}
};
</script>