<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <img
          src="/assets/icons/Logo_Command.svg"
          alt="Runner Command">
        <button class="button is-pulled-right">
          Logout
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {

  data() {
    return {

    };
  },

  watch: {

  },
  mounted() {

  },

  methods: {

  },
};
</script>
