<template>
	<div class="column">
        <div class="columns">
            <div class="column">
                <h1 class="title">
                    Invited Users
                </h1>
            </div>
        </div>
        <div class="box">
            <div class="columns">
            	<div class="column is-1">ID</div>
                <div class="column">User</div>
                <div class="column">has Purchase/Invited User</div>
            </div>
            <div class="columns" :key="index" v-for="(user, index) in invitedUsers">
                <div class="column is-1">{{user.id}}</div>
                <div class="column"><a target="_blank" :href="'/dispatch/customers/'+user.id">{{user.name}}</a></div>
                <div class="column">{{user.purchased+' / '+user.total}}</div>
            </div>
            <div class="columns" v-if="isLoading">
                <div class="column">
                    Just loading not broken, be patient please...
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getInvitedUsers();
        },
        data: function() {
            return {
                invitedUsers: [],
                isLoading: false,
            }
        },
        methods: {
            getInvitedUsers: function(){
                var vm = this;
                vm.isLoading = true;
                axios.get('/api/v1/command/invited')
                    .then(response => {
                        vm.invitedUsers = response.data;
                        vm.isLoading=false;
                    })
                    .catch(error => {
                        console.log(error);
                        vm.isLoading=false;
                    });
            },
        }
    }
</script>