<template>
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        New
      </p>
      <ul class="menu-list">
        <li>
          <a href="/command/overview">
            Overview
          </a>
        </li>
        <li>
          <a href="/command/stores">
            Stores
          </a>
        </li>
        <li>
          <a href="/command/tags">
            Tags
          </a>
        </li>
        <li>
          <a href="/command/config">
            Config
          </a>
        </li>
      </ul>
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li>
          <a
            :class="{'is-active': active == 'overview'}"
            href="/command">
            Overview
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'orders'}"
            href="/command/orders">
            Orders
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'reports'}"
            href="/command/reports">
            Reports
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'segments'}"
            href="/command/segments">
            Segments
          </a>
        </li>
      </ul>
      <p class="menu-label">
        Products
      </p>
      <ul class="menu-list">
        <li>
          <a
            :class="{'is-active': active == 'featured'}"
            href="/command/featured">
            Featured Products
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'cartstarters'}"
            href="/command/cart-starters">
            Cart Starters
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'bundles'}"
            href="/command/bundles">
            Bundles
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'customproducts'}"
            href="/command/custom-products">
            Custom Products
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'products'}"
            href="/command/products">
            Product List
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'reviews'}"
            href="/command/reviews">
            Reviews
          </a>
        </li>
      </ul>
      <p class="menu-label">
        Notifications
      </p>
      <ul class="menu-list">
        <li>
          <a
            :class="{'is-active': active == 'fcm'}"
            href="/command/fcm">
            FCM
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'notifications'}"
            href="/command/notifications">
            Web Notifications
          </a>
        </li>
      </ul>
      <p class="menu-label">
        Users
      </p>
      <ul class="menu-list">
        <li>
          <a
            :class="{'is-active': active == 'clients'}"
            href="/command/clients">
            Clients
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'invited-users'}"
            href="/command/invited_users">
            Invited Users
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'coupons'}"
            href="/command/coupons">
            Coupons
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'employees'}"
            href="/command/employees">
            Employees
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'customers'}"
            href="/command/customers">
            Customers
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'schedule'}"
            href="/command/schedule">
            Schedule
          </a>
        </li>
        <li>
          <a
            :class="{'is-active': active == 'logout'}"
            href="/logout">
            Logout
          </a>
        </li>
      </ul>
    </aside>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: String,
      default: 'overview',
    },
  },
  data() {
    return {
      pageInfo: {
        page: '',
        title: '',
      },
    };
  },
};
</script>
