<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title">
          Web Notifications
        </h1>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-2">
          <p>Enable</p>
        </div>
        <div class="column is-2">
          <p>Image</p>
        </div>
        <div class="column is-2">
          <p>Title</p>
        </div>
        <div class="column is-3">
          <p>Text</p>
        </div>
        <div class="column is-4">
          <p>Modification</p>
        </div>
      </div>
      <div
        v-for="(notification, index) in notifications"
        class="columns">
        <div class="column is-2">
          <input
            v-model="enable"
            :value="notification.id"
            type="radio"
            name="enable">
        </div>
        <div class="column is-2">
          <img
            :src="notification.image"
            alt="">
        </div>
        <div class="column is-2">
          <p>{{ notification.title }}</p>
        </div>
        <div class="column is-2">
          <p>{{ notification.text }}</p>
        </div>
        <div class="column is-2">
          <a
            href="#"
            @click.prevent="text=notification.text;edit_id=notification.id">Edit</a>
        </div>
        <div class="column is-2">
          <a
            href="#"
            @click.prevent="deleteNotification(notification.id)">Delete</a>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <button
            class="button is-primary"
            @click="hideNotification">Hide All Notification</button>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-3">
          <p>New/Edit Notification</p>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <input
            v-model="title"
            class="input"
            type="text"
            placeholder="Title">
        </div>
        <div class="column is-3">
          <input
            v-model="text"
            class="input"
            type="text"
            placeholder="Content">
        </div>
        <div class="column is-4">
          <input
            v-model="image"
            class="input"
            type="text"
            placeholder="Image Url">
        </div>
        <div class="column">
          <button
            :disabled="!title"
            class="button is-primary"
            @click="saveNotification">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: '',
      enable: '',
      notifications: '',
      edit_id: '',
      image: '',
      title: '',
    };
  },

  watch: {
    enable(newVal) {
      this.selectNotification(newVal);
    },
  },
  mounted() {
    this.getNotifications();
  },

  methods: {
    saveNotification() {
      const vm = this;
      axios.post(`/api/v1/command/notifications/${vm.edit_id}`, {
        text: vm.text,
        title: vm.title,
        image: vm.image,
      })
        .then((response) => {
          vm.getNotifications();
          vm.edit_id = '';
          vm.text = '';
          vm.title = '';
          vm.image = '';
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getNotifications() {
      const vm = this;

      axios.get('/api/v1/command/notifications')
        .then((response) => {
          vm.notifications = response.data;
          for (let i = 0; i < vm.notifications.length; i++) {
            if (vm.notifications[i].enable) {
              vm.enable = vm.notifications[i].id;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteNotification(id) {
      const vm = this;

      axios.delete(`${location.protocol}//${location.host}/api/v1/command/notifications/${id}`)
        .then((response) => {
          vm.getNotifications();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    hideNotification() {
      const vm = this;
      vm.enable = '';
      axios.post(`${location.protocol}//${location.host}/api/v1/command/notifications/hide/`)
        .then((response) => {
          vm.getNotifications();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    selectNotification(id) {
      const vm = this;

      axios.post(`${location.protocol}//${location.host}/api/v1/command/notifications/select/${id}`)
        .then((response) => {
          vm.getNotifications();
        })
        .catch((error) => {
          console.log(error);
        });
    },

  },
};
</script>
