<template>
  <div class="column">
    <div class="columns">
      <div class="column"/>
      <div class="column is-4 is-offset-2 has-text-right">
        <date-picker
          v-model="timeRange"
          lang="en"
          confirm
          type="date"
          format="YYYY-MM-DD"
          range
          @confirm="getNewRunnerNumbers(); getNewLabattNumbers(); getNewLostCraftNumbers();"/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <table class="table">
          <thead>
            <tr>
              <td>
                Runner Numbers
              </td>
              <td/>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                All Product Sales
              </td>
              <td>
                ${{ runner.allProductSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Spirit Sales
              </td>
              <td>
                ${{ runner.totalSpiritSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Wine Sales
              </td>
              <td>
                ${{ runner.totalWineSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Beer Sales
              </td>
              <td>
                ${{ runner.totalBeerSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Cooler Sales
              </td>
              <td>
                ${{ runner.totalCoolerSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <td>
                Labatt Numbers
              </td>
              <td/>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                All Product Sales
              </td>
              <td>
                ${{ labatt.allProductSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Spirit Sales
              </td>
              <td>
                ${{ labatt.totalSpiritSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Wine Sales
              </td>
              <td>
                ${{ labatt.totalWineSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Beer Sales
              </td>
              <td>
                ${{ labatt.totalBeerSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Cooler Sales
              </td>
              <td>
                ${{ labatt.totalCoolerSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <td>
                Lost Craft Numbers
              </td>
              <td/>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                All Product Sales
              </td>
              <td>
                ${{ lostCraft.allProductSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Spirit Sales
              </td>
              <td>
                ${{ lostCraft.totalSpiritSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Wine Sales
              </td>
              <td>
                ${{ lostCraft.totalWineSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Beer Sales
              </td>
              <td>
                ${{ lostCraft.totalBeerSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total Cooler Sales
              </td>
              <td>
                ${{ lostCraft.totalCoolerSales.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
          </tbody>
        </table>
        <p/>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      timeRange: [
        moment().subtract(30, 'day').format('YYYY-MM-DD'),
        moment().format('YYYY-MM-DD'),
      ],
      runner: {
        allProductSales: 0,
        totalSpiritSales: 0,
        totalWineSales: 0,
        totalBeerSales: 0,
        totalCoolerSales: 0,
      },
      labatt: {
        allProductSales: 0,
        totalSpiritSales: 0,
        totalWineSales: 0,
        totalBeerSales: 0,
        totalCoolerSales: 0,
      },
      lostCraft: {
        allProductSales: 0,
        totalSpiritSales: 0,
        totalWineSales: 0,
        totalBeerSales: 0,
        totalCoolerSales: 0,
      },
    };
  },
  mounted() {
    this.getNewRunnerNumbers();
    this.getNewLabattNumbers();
  },
  methods: {
    getNewRunnerNumbers() {
      const startDate = moment(this.timeRange[0]).format('YYYY-MM-DD');
      const endDate = moment(this.timeRange[1]).format('YYYY-MM-DD');

      axios.get(`/api/v1/command/new-numbers/partners/0?startDate=${startDate}&endDate=${endDate}`)
        .then((response) => {
          this.runner.allProductSales = response.data.data.allProductSales;
          this.runner.totalSpiritSales = response.data.data.totalSpiritSales;
          this.runner.totalWineSales = response.data.data.totalWineSales;
          this.runner.totalBeerSales = response.data.data.totalBeerSales;
          this.runner.totalCoolerSales = response.data.data.totalCoolerSales;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getNewLabattNumbers() {
      const startDate = moment(this.timeRange[0]).format('YYYY-MM-DD');
      const endDate = moment(this.timeRange[1]).format('YYYY-MM-DD');

      axios.get(`/api/v1/command/new-numbers/partners/1?startDate=${startDate}&endDate=${endDate}`)
        .then((response) => {
          this.labatt.allProductSales = response.data.data.allProductSales;
          this.labatt.totalSpiritSales = response.data.data.totalSpiritSales;
          this.labatt.totalWineSales = response.data.data.totalWineSales;
          this.labatt.totalBeerSales = response.data.data.totalBeerSales;
          this.labatt.totalCoolerSales = response.data.data.totalCoolerSales;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getNewLostCraftNumbers() {
      const startDate = moment(this.timeRange[0]).format('YYYY-MM-DD');
      const endDate = moment(this.timeRange[1]).format('YYYY-MM-DD');

      axios.get(`/api/v1/command/new-numbers/partners/5?startDate=${startDate}&endDate=${endDate}`)
        .then((response) => {
          this.lostCraft.allProductSales = response.data.data.allProductSales;
          this.lostCraft.totalSpiritSales = response.data.data.totalSpiritSales;
          this.lostCraft.totalWineSales = response.data.data.totalWineSales;
          this.lostCraft.totalBeerSales = response.data.data.totalBeerSales;
          this.lostCraft.totalCoolerSales = response.data.data.totalCoolerSales;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
