<template>
  <div class="column">
    <div class="columns">
      <div class="column is-4 is-offset-8 has-text-right">
        <h1 class="title">
          Date Range
        </h1>

        <date-picker
          v-model="timeRange"
          lang="en"
          range/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="title">
          Orders
        </h1>
      </div>
      <div
        class="column"
        style="text-align: right;">
        <a
          id="export"
          href="#"
          type="button"
          class="button is-primary"
          @click="exportOrders">Export to CSV</a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <h1 class="subtitle">
            Total Revenue
          </h1>
          <h2 class="title">
            ${{ totalRevenue }}
          </h2>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h1 class="subtitle">
            Total Tax
          </h1>
          <h2 class="title">
            ${{ totalTax }}
          </h2>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h1 class="subtitle">
            Total Stripe Fee
          </h1>
          <h2 class="title">
            ${{ totalStripeFee }}
          </h2>
        </div>
      </div>
    </div>
    <div
      id="dvData"
      class="box">
      <table class="table">
        <thead v-show="timeRange">
          <tr>
            <td colspan="2">Time Range</td>
            <td colspan="9">
              <span v-if="timeRange">{{ timeRange[0] | timeFormat }} to {{ timeRange[1] | timeFormat }}</span>
              <span v-else>ALL</span>
            </td>
          </tr>
        </thead>
        <thead>
          <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Day</td>
            <td>Subtotal</td>
            <td>Delivery</td>
            <td>Discount</td>
            <td>Markup</td>
            <td>Tax</td>
            <td>Tip</td>
            <td>Total</td>
            <td>Stripe Fee</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(order, index) in orders">
            <td>{{ order.id }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.day }}</td>
            <td>${{ order.subtotal }}</td>
            <td>${{ order.delivery }}</td>
            <td>${{ order.discount }}</td>
            <td>${{ order.markup }}</td>
            <td>${{ order.tax }}</td>
            <td>${{ order.tip }}</td>
            <td>${{ order.total }}</td>
            <td>${{ order.stripe }}</td>
          </tr>
        </tbody>
        <tfoot v-show="false">
          <tr>
            <td colspan="2">Total Revenue</td>
            <td colspan="9">
              <span>{{ totalRevenue | currency }}</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">Total Tax</td>
            <td colspan="9">
              <span>{{ totalTax | currency }}</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">Total Stripe Fee</td>
            <td colspan="9">
              <span>{{ totalStripeFee | currency }}</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div
      v-if="totalPage"
      class="box">
      <nav class="pagination">
        <a
          v-if="page>1"
          class="pagination-previous"
          href="#"
          @click.prevent="page-=1">
          Previous
        </a>
        <a
          v-if="page<totalPage"
          class="pagination-next"
          href="#"
          @click.prevent="page+=1">
          Next page
        </a>
        <ul
          v-if="totalPage <= 5"
          class="pagination-list">
          <li v-for="n in totalPage">
            <a
              :class="{ 'pagination-link': true, 'is-current': n == page }"
              href="#"
              @click.prevent="page=n">
              {{ n }}
            </a>
          </li>
        </ul>
        <ul
          v-else-if="page<4"
          class="pagination-list">
          <li>
            <a
              :class="{'is-current': page == 1}"
              class="pagination-link"
              href="#"
              @click.prevent="page=1">1</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == 2}"
              class="pagination-link"
              href="#"
              @click.prevent="page=2">2</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == 3}"
              class="pagination-link"
              href="#"
              @click.prevent="page=3">3</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == 4}"
              class="pagination-link"
              href="#"
              @click.prevent="page=4">4</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage">{{ totalPage }}</a>
          </li>
        </ul>
        <ul
          v-else-if="page>totalPage-3"
          class="pagination-list">
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page = 1">
              1
            </a>
          </li>
          <li>
            <span class="pagination-ellipsis">
              &hellip;
            </span>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage-3}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage-3">{{ totalPage-3 }}</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage-2}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage-2">{{ totalPage-2 }}</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage-1}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage-1">{{ totalPage-1 }}</a>
          </li>
          <li>
            <a
              :class="{'is-current': page == totalPage}"
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage">{{ totalPage }}</a>
          </li>
        </ul>
        <ul
          v-else
          class="pagination-list">
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page = 1">
              1
            </a>
          </li>
          <li>
            <span class="pagination-ellipsis">
              &hellip;
            </span>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page -= 1">
              {{ page-1 }}
            </a>
          </li>
          <li>
            <a class="pagination-link is-current">{{ page }}</a>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page+=1">{{ page+1 }}</a>
          </li>
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
          <li>
            <a
              class="pagination-link"
              href="#"
              @click.prevent="page=totalPage">{{ totalPage }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>

export default {
  filters: {
    timeFormat(value) {
      return moment(value).format('YYYY-MM-DD');
    },
    currency(val) {
      return Number(`${Math.round(`${val}e${2}`)}e-${2}`).toFixed(2);
    },
  },
  data() {
    return {
      orders: null,
      totalRevenue: 0,
      totalTax: 0,
      totalStripeFee: 0,
      timeRange: null,
      page: 1,
      totalPage: null,
    };
  },
  watch: {
    timeRange(newVal) {
      this.getOrders();
    },
    page(newVal) {
      this.getOrders();
    },
  },
  mounted() {
    // $(document).ready(() => {
    //   function exportTableToCSV($table, filename) {
    //     let $headers = $table.find('tr:has(th)'),
    //       $rows = $table.find('tr:has(td)'),
    //       // Temporary delimiter characters unlikely to be typed by keyboard
    //       // This is to avoid accidentally splitting the actual contents
    //       tmpColDelim = String.fromCharCode(11), // vertical tab character
    //       tmpRowDelim = String.fromCharCode(0), // null character
    //       // actual delimiter characters for CSV format
    //       colDelim = '","',
    //       rowDelim = '"\r\n"';
    //     // Grab text from table into CSV formatted string
    //     let csv = '"';
    //     csv += formatRows($headers.map(grabRow));
    //     csv += rowDelim;
    //     csv += `${formatRows($rows.map(grabRow))}"`;
    //     // Data URI
    //     const csvData = `data:application/csv;charset=utf-8,${encodeURIComponent(csv)}`;
    //     $(this)
    //       .attr({
    //         download: filename,
    //         href: csvData,
    //         // ,'target' : '_blank' //if you want it to open in a new window
    //       });
    //     //------------------------------------------------------------
    //     // Helper Functions
    //     //------------------------------------------------------------
    //     // Format the output so it has the appropriate delimiters
    //     function formatRows(rows) {
    //       return rows.get().join(tmpRowDelim)
    //         .split(tmpRowDelim).join(rowDelim)
    //         .split(tmpColDelim)
    //         .join(colDelim);
    //     }
    //     // Grab and format a row from the table
    //     function grabRow(i, row) {
    //       const $row = $(row);
    //       // for some reason $cols = $row.find('td') || $row.find('th') won't work...
    //       let $cols = $row.find('td');
    //       if (!$cols.length) $cols = $row.find('th');
    //       return $cols.map(grabCol)
    //         .get().join(tmpColDelim);
    //     }
    //     // Grab and format a column from the table
    //     function grabCol(j, col) {
    //       let $col = $(col),
    //         $text = $col.text();
    //       return $text.replace('"', '""'); // escape double quotes
    //     }
    //   }
    //   // This must be a hyperlink
    //   $('#export').click(function (event) {
    //     // var outputFile = 'export'
    //     let outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
    //     outputFile = `${outputFile.replace('.csv', '')}.csv`;

    //     // CSV
    //     exportTableToCSV.apply(this, [$('#dvData>table'), outputFile]);

    //     // IF CSV, don't do event.preventDefault() or return false
    //     // We actually need this to be a typical hyperlink
    //   });
    // });
    // this.getOrders(this.timeRange);
  },
  methods: {
    getOrders() {
      const vm = this;
      const data = {};

      if (vm.timeRange) {
        data.time = vm.timeRange;

        axios.post(`/api/v1/command/orders?page=${this.page}`, data)
          .then((response) => {
            vm.orders = response.data.orders;
            vm.totalRevenue = response.data.totalRevenue;
            vm.totalTax = response.data.totalTax;
            vm.totalStripeFee = response.data.totalStripeFee;
            vm.totalPage = null;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        axios.post(`/api/v1/command/orders?page=${this.page}`, data)
          .then((response) => {
            vm.orders = response.data.orders;
            vm.totalRevenue = response.data.totalRevenue;
            vm.totalTax = response.data.totalTax;
            vm.totalStripeFee = response.data.totalStripeFee;
            vm.totalPage = response.data.totalPages;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    exportOrders() {
      const baseUrl = '/api/v1/command/orders/export';

      axios({
        method: 'get',
        url: baseUrl,
        headers: {
          Authorization: `Bearer ${this.jwtToken}`,
        },
        responseType: 'blob',
      })
	    .then((response) => {
          const url = window.URL.createObjectURL(new Blob([
            response.data,
          ]));
          const link = document.createElement('a');

          link.href = url;
          link.setAttribute('download', 'order-items.xlsx');
          document.body.appendChild(link);
          link.click();
	            })
	            .catch((error) => {
	                console.log(error);
	            });
    },
  },
};
</script>
