<template>
  <div class="column">
    <div class="columns">
      <div class="column is-4 is-offset-8 has-text-right">
        <h1 class="title">
          Date Range
        </h1>
        <date-picker
          v-model="timeRange"
          lang="en"
          confirm
          type="date"
          format="YYYY-MM-DD"
          range
          @confirm="getNumbers"/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <table class="table">
          <thead>
            <tr>
              <th>
                Orders
              </th>
              <th/>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Cost Of Goods
              </td>
              <td>
                ${{ orders.costOfGoods.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Tips
              </td>
              <td>
                ${{ orders.tips.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Delivery Fees
              </td>
              <td>
                ${{ orders.deliveryFees.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Discounts
              </td>
              <td>
                ${{ orders.discounts.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Stripe Fee
              </td>
              <td>
                ${{ orders.stripeFees.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Markup
              </td>
              <td>
                ${{ orders.markup.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Taxes
              </td>
              <td>
                ${{ orders.taxes.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Total
              </td>
              <td>
                ${{ orders.total.toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th>
                Order Items
              </th>
              <th/>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Cost Of Goods
              </td>
              <td>
                ${{ (orderItems.costOfGoods / 100).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
            <tr>
              <td>
                Markup
              </td>
              <td>
                ${{ (orderItems.markup / 100).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../mixins/api';

export default {
  data() {
    return {
      timeRange: [
        moment().subtract(30, 'day').format('YYYY-MM-DD'),
        moment().format('YYYY-MM-DD'),
      ],
      orders: {
        costOfGoods: 0,
        tips: 0,
        deliveryFees: 0,
        discounts: 0,
        stripeFees: 0,
        markup: 0,
        total: 0,
        taxes: 0,
      },
      orderItems: {
        costOfGoods: 0,
        markup: 0,
      },
    };
  },
  mounted() {
    this.getNumbers();
  },
  methods: {
    getNumbers() {
      const startDate = moment(this.timeRange[0]).format('YYYY-MM-DD');
      const endDate = moment(this.timeRange[1]).format('YYYY-MM-DD');

      api().get(`temp-dash-numbers?startDate=${startDate}&endDate=${endDate}`)
        .then((response) => {
          this.orders.costOfGoods = response.data.data.orders.costOfGoods;
          this.orders.tips = response.data.data.orders.tips;
          this.orders.deliveryFees = response.data.data.orders.deliveryFees;
          this.orders.discounts = response.data.data.orders.discounts;
          this.orders.stripeFees = response.data.data.orders.stripeFees;
          this.orders.markup = response.data.data.orders.markup;
          this.orders.taxes = response.data.data.orders.taxes;
          this.orders.total = response.data.data.orders.total;

          this.orderItems.costOfGoods = response.data.data.orderItems.costOfGoods;
          this.orderItems.markup = response.data.data.orderItems.markup;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
