<template>
  <div class="w-full">
    <div class="grid grid-columns-2 mb-15">
      <div>
        <button class="bg-red text-white font-bold p-8 rounded">
          New Product
        </button>
      </div>
      <div class="search-wrap">
        <input
          v-model="searchQuery"
          class="appearance-none border p-8 p-8 rounded"
          type="text"
          placeholder="Enter Product Name...">
        <button
          class="bg-red text-white font-bold p-8 rounded"
          @click="searchProduct()">
          Search
        </button>
      </div>
    </div>
    <table class="runner-table table-auto">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Sku
          </th>
          <th>
            Title
          </th>
          <th>
            Category
          </th>
          <th>
            Packaging
          </th>
          <th>
            Price
          </th>
          <th>
            Store
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="product in products"
          :key="product.id"
          @click="goToProduct(product.id)">
          <td>
            {{ product.id }}
          </td>
          <td>
            {{ product.attributes.sku }}
          </td>
          <td>
            <a :href="'/command/products/' + product.id">
              {{ product.attributes.title }}
            </a>
          </td>
          <td>
            {{ product.attributes.category }}
          </td>
          <td>
            {{ product.attributes.packaging }}
          </td>
          <td>
            ${{ (product.attributes.runnerPrice / 100).toLocaleString('en-US', {maximumFractionDigits: 2, minimumFractionDigits: 2}) }}
          </td>
          <td>
            {{ product.attributes.store }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
.search-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
}
</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  data() {
    return {
      products: {
        product: {
          attributes: {},
        },
      },
      searchQuery: null,
      deleteProductIsLoading: false,
    };
  },
  mounted() {
    this.getProducts();
  },
  methods: {
    getProducts() {
      axios({
        method: 'get',
        url: '/api/v1/command/products',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
        },
      })
        .then((response) => {
          this.products = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    searchProduct() {
      if (this.searchQuery) {
        axios({
          method: 'get',
          url: `/api/v1/command/products/search/${this.searchQuery}`,
          headers: {
            Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
          },
        })
          .then((response) => {
            this.products = response.data.data;
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.getProducts();
      }
    },
    goToProduct(productId) {
      window.location = `/command/products/${productId}`;
    },
  },
};
</script>
