<template>
  <div class="w-full">
    <div class="flex justify-between mb-15">
      <h2 class="m-0 items-center flex">
        {{ product.id }} - {{ product.attributes.title }}
      </h2>
      <button
        class="bg-red text-white font-bold p-8 rounded"
        @click="updateProduct">
        Update
      </button>
    </div>
    <div class="border rounded p-15 mb-15 grid grid-columns-2 grid-gap-15">
      <div class="items-center">
        <p class="mb-5">
          Title
        </p>
        <input
          v-model="product.attributes.title"
          class="appearance-none w-full border p-8 p-8 rounded"
          type="text">
      </div>
      <div class="items-center">
        <p class="mb-5">
          Category
        </p>
        <select
          id=""
          v-model.number="product.attributes.categoryId"
          class="appearance-none border p-8 p-8 rounded"
          name="">
          <option
            v-for="category in categories"
            :key="category.id"
            :value="category.id">
            {{ category.attributes.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="border rounded p-15 mb-15">
      <div class="items-center grid grid-columns-3 grid-gap-15">
        <div>
          <p class="mb-5">
            Alcohol Content
          </p>
          <input
            v-model="product.attributes.alcoholContent"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Is Active
          </p>
          <input
            v-model="product.attributes.isActive"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Packaging
          </p>
          <input
            v-model="product.attributes.packaging"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Producer
          </p>
          <input
            v-model="product.attributes.producer"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Producing Country
          </p>
          <input
            v-model="product.attributes.producingCountry"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            SKU
          </p>
          <input
            v-model="product.attributes.sku"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Retail Price
          </p>
          <input
            v-model="product.attributes.retailPrice"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Runner Price
          </p>
          <input
            v-model="product.attributes.runnerPrice"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Markup
          </p>
          <input
            v-model="product.attributes.markup"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Sugar Content
          </p>
          <input
            v-model="product.attributes.sugarContent"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            UPC
          </p>
          <input
            v-model="product.attributes.upc"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Wholesale Price
          </p>
          <input
            v-model="product.attributes.wholesalePrice"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Markup Percentage
          </p>
          <input
            v-model="product.attributes.markupPercentage"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="items-center">
          <p class="mb-5">
            Product Rating
          </p>
          <input
            v-model="product.attributes.productRating"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
      </div>
    </div>
    <div class="border rounded p-15 mb-15">
      <div class="mb-15 items-center">
        <p class="mb-5">
          Image
        </p>
        <input
          v-model="product.attributes.image"
          class="appearance-none w-full border p-8 p-8 rounded"
          type="text">
      </div>
      <div class="mb-15 items-center">
        <p class="mb-5">
          Image Thumbnail
        </p>
        <input
          v-model="product.attributes.imageThumbnail"
          class="appearance-none w-full border p-8 p-8 rounded"
          type="text">
      </div>
      <div class="mb-15 items-center">
        <p class="mb-5">
          Long Desription
        </p>
        <input
          v-model="product.attributes.longDescription"
          class="appearance-none w-full border p-8 p-8 rounded"
          type="text">
      </div>
      <div class="mb-15 items-center">
        <p class="mb-5">
          Short Description
        </p>
        <input
          v-model="product.attributes.shortDescription"
          class="appearance-none w-full border p-8 p-8 rounded"
          type="text">
      </div>
      <div class="mb-15 items-center">
        <p class="mb-5">
          Slug
        </p>
        <input
          v-model="product.attributes.slug"
          class="appearance-none w-full border p-8 p-8 rounded"
          type="text">
      </div>
    </div>
    <div class="border rounded p-15 mb-15">
      <div class="mb-15">
        <p class="mb-5">
          Incentives
        </p>
        <table class="runner-table table-auto">
          <thead>
            <tr>
              <th>
                Title
              </th>
              <th>
                Start Date
              </th>
              <th>
                End Date
              </th>
              <th>
                Savings
              </th>
              <th>
                Is Active
              </th>
              <th>
                Reward Points
              </th>
              <th>
                Minimum Quantity
              </th>
              <th>
                Coupon Code
              </th>
              <th>
                Minimum Cart Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="productIncentive in productIncentives"
              :key="productIncentive.id"
              @click="editProductIncentive(productIncentive)">
              <!-- <span @click="deleteProductIncentive(productIncentive.id)">
                &times;
              </span> -->
              <td>
                {{ productIncentive.attributes.title }}
              </td>
              <td>
                {{ productIncentive.attributes.startDate }}
              </td>
              <td>
                {{ productIncentive.attributes.endDate }}
              </td>
              <td>
                {{ productIncentive.attributes.savings }}
              </td>
              <td>
                {{ productIncentive.attributes.isActive }}
              </td>
              <td>
                {{ productIncentive.attributes.rewardPoints }}
              </td>
              <td>
                {{ productIncentive.attributes.minimumQuantity }}
              </td>
              <td>
                {{ productIncentive.attributes.couponCode }}
              </td>
              <td>
                {{ productIncentive.attributes.minimumCartValue }}
              </td>
            </tr>
          </tbody>
        </table>
        <div
          v-if="editProductIncentiveIsShown"
          class="fixed bg-overlay pin z-50 overflow-auto flex"
          @click.self="toggleEditProductIncentive">
          <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex">
            <div class="mb-15 items-center">
              <p class="mb-5">
                Title
              </p>
              <input
                v-model="activeProductIncentive.attributes.title"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Start Date
              </p>
              <input
                v-model="activeProductIncentive.attributes.startDate"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                End Date
              </p>
              <input
                v-model="activeProductIncentive.attributes.endDate"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Savings
              </p>
              <input
                v-model="activeProductIncentive.attributes.savings"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Is Active
              </p>
              <input
                v-model="activeProductIncentive.attributes.isActive"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Reward Points
              </p>
              <input
                v-model="activeProductIncentive.attributes.rewardPoints"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Minimum Quantity
              </p>
              <input
                v-model="activeProductIncentive.attributes.minimumQuantity"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Coupon Code
              </p>
              <input
                v-model="activeProductIncentive.attributes.couponCode"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="mb-15 items-center">
              <p class="mb-5">
                Minimum Cart Value
              </p>
              <input
                v-model="activeProductIncentive.attributes.minimumCartValue"
                class="appearance-none w-full border p-8 p-8 rounded"
                type="text">
            </div>
            <div class="flex justify-end">
              <button
                class="bg-red text-white font-bold p-8 rounded mr-15"
                @click="updateProductIncentive">
                Update
              </button>
              <button
                class="bg-red text-white font-bold p-8 rounded"
                @click="deleteProductIncentive(activeProductIncentive)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <select
          id=""
          v-model="newIncentive"
          class="appearance-none border p-8 p-8 rounded mr-15"
          name="">
          <option
            v-for="incentive in incentives"
            :key="incentive.id"
            :value="incentive">
            {{ incentive.attributes.title }}
          </option>
        </select>
        <button
          class="bg-red text-white font-bold p-8 rounded"
          @click="addProductIncentive">
          New Product Incentive
        </button>
      </div>
      <div
        v-if="addProductIncentiveIsShown"
        class="fixed bg-overlay pin z-50 overflow-auto flex"
        @click.self="toggleAddProductIncentive">
        <div class="relative p-8 bg-white w-full max-w-md m-auto flex-col flex">
          <div class="mb-15 items-center">
            <p class="mb-5">
              Title
            </p>
            <input
              v-model="newProductIncentive.attributes.title"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Start Date
            </p>
            <input
              v-model="newProductIncentive.attributes.startDate"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              End Date
            </p>
            <input
              v-model="newProductIncentive.attributes.endDate"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Savings
            </p>
            <input
              v-model="newProductIncentive.attributes.savings"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Is Active
            </p>
            <input
              v-model="newProductIncentive.attributes.isActive"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Reward Points
            </p>
            <input
              v-model="newProductIncentive.attributes.rewardPoints"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Minimum Quantity
            </p>
            <input
              v-model="newProductIncentive.attributes.minimumQuantity"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Coupon Code
            </p>
            <input
              v-model="newProductIncentive.attributes.couponCode"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <div class="mb-15 items-center">
            <p class="mb-5">
              Minimum Cart Value
            </p>
            <input
              v-model="newProductIncentive.attributes.minimumCartValue"
              class="appearance-none w-full border p-8 p-8 rounded"
              type="text">
          </div>
          <button
            class="bg-red text-white font-bold p-8 rounded"
            @click="createProductIncentive">
            Save
          </button>
        </div>
      </div>
    </div>
    <div class="border rounded p-15 mb-15">
      <div>
        <div class="mb-15 items-center">
          <p class="mb-15">
            Tags
          </p>
          <div class="mb-15">
            <button
              v-for="productTag in productTags"
              :key="productTag.id"
              class="bg-red text-white font-bold p-8 rounded mr-15">
              <span @click="deleteProductTag(productTag.id)">
                &times;
              </span>
              {{ productTag.attributes.title }}
            </button>
          </div>
          <select
            id=""
            v-model.number="newTag"
            class="appearance-none w-full border p-8 p-8 rounded"
            name=""
            @change="createProductTag">
            <option
              v-for="tag in tags"
              :key="tag.id"
              :value="tag.id">
              {{ tag.attributes.title }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="border rounded p-15 mb-15">
      <div>
        <div class="mb-15 items-center">
          <p class="mb-15">
            Partners
          </p>
          <div class="mb-15">
            <button
              v-for="productPartner in productPartners"
              :key="productPartner.id"
              class="bg-red text-white font-bold p-8 rounded mr-15">
              <span @click="deleteProductPartner(productPartner.id)">
                &times;
              </span>
              {{ productPartner.attributes.title }}
            </button>
          </div>
          <select
            id=""
            v-model.number="newPartnerId"
            class="appearance-none w-full border p-8 p-8 rounded"
            name=""
            @change="createProductPartner">
            <option
              v-for="partner in partners"
              :key="partner.id"
              :value="partner.id">
              {{ partner.attributes.title }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: [
    'productId',
  ],
  data() {
    return {
      product: {
        attributes: {},
      },
      categories: [],
      tags: [],
      newTag: null,
      productTags: [],
      incentives: [],
      newIncentive: null,
      productIncentives: [],
      editProductIncentiveIsShown: false,
      addProductIncentiveIsShown: false,
      activeProductIncentive: {
        attributes: {},
      },
      newProductIncentive: {
        type: 'product incentives',
        attributes: {
          incentiveId: null,
          title: null,
          startDate: null,
          endDate: null,
          savings: null,
          isActive: null,
          rewardPoints: null,
          minimumQuantity: null,
          couponCode: null,
          minimumCartValue: null,
        },
      },
      partners: [],
      newPartnerId: null,
      productPartners: [],
    };
  },
  mounted() {
    this.getProduct();
    this.getCategories();
    this.getTags();
    this.getProductTags();
    this.getIncentives();
    this.getProductIncentives();
    this.getPartners();
    this.getProductPartners();
  },
  methods: {
    getCategories() {
      api().get('categories')
        .then((response) => {
          this.categories = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getProduct() {
      api().get(`products/${this.productId}`)
        .then((response) => {
          this.product = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateProduct() {
      const payload = {
        data: {
          type: 'products',
          id: this.productId,
          attributes: this.product.attributes,
        },
      };

      api().put(`products/${this.productId}`, payload)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getTags() {
      api().get('tags')
        .then((response) => {
          this.tags = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getProductTags() {
      api().get(`products/${this.productId}/tags`)
        .then((response) => {
          this.productTags = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createProductTag() {
      api().post(`products/${this.productId}/tags/${this.newTag}`)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteProductTag(productTagId) {
      api().delete(`products/${this.productId}/tags/${productTagId}`)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getIncentives() {
      api().get('incentives')
        .then((response) => {
          this.incentives = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getProductIncentives() {
      api().get(`products/${this.productId}/incentives`)
        .then((response) => {
          this.productIncentives = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createProductIncentive() {
      const payload = {
        data: {
          type: 'product incentives',
          attributes: this.newProductIncentive.attributes,
        },
      };

      api().post(`products/${this.productId}/incentives`, payload)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    editProductIncentive(productIncentive) {
      this.activeProductIncentive = productIncentive;
      this.toggleEditProductIncentive();
    },
    toggleEditProductIncentive() {
      this.editProductIncentiveIsShown = !this.editProductIncentiveIsShown;
    },
    addProductIncentive() {
      this.newProductIncentive.attributes.title = this.newIncentive.attributes.title;
      this.newProductIncentive.attributes.incentiveId = this.newIncentive.id;
      this.toggleAddProductIncentive();
    },
    toggleAddProductIncentive() {
      this.addProductIncentiveIsShown = !this.addProductIncentiveIsShown;
    },
    updateProductIncentive() {
      const payload = {
        data: {
          type: 'product incentives',
          id: this.activeProductIncentive.id,
          attributes: this.activeProductIncentive.attributes,
        },
      };

      api().put(`products/${this.productId}/incentives/${this.activeProductIncentive.id}`, payload)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteProductIncentive(productIncentive) {
      api().delete(`products/${this.productId}/incentives/${productIncentive.id}`)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getPartners() {
      api().get('partners')
        .then((response) => {
          this.partners = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getProductPartners() {
      api().get(`products/${this.productId}/partners`)
        .then((response) => {
          this.productPartners = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createProductPartner() {
      const payload = {
        data: {
          type: 'product partners',
          attributes: {
            partnerId: this.newPartnerId,
          },
        },
      };
      api().post(`products/${this.productId}/partners`, payload)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteProductPartner(productPartnerId) {
      api().delete(`products/${this.productId}/partners/${productPartnerId}`)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
