<template>
    <div class="column">
		<div class="columns">
        	<div class="column">
        	</div>
            <div class="column is-4 is-offset-2 has-text-right" v-show="tabs != 2">
                <date-picker v-model="timeRange" lang="en" range></date-picker>
            </div>
        </div>
        <div class="tabs">
            <ul>
                <li :class="{'is-active':tabs == 1}"><a @click="tabs = 1">Categories</a></li>
                <li :class="{'is-active':tabs == 2}"><a @click="tabs = 2">Busiest Day Report</a></li>
                <li :class="{'is-active':tabs == 3}"><a @click="tabs = 3">Top Products</a></li>
                <li :class="{'is-active':tabs == 4}"><a @click="tabs = 4">Feature Products</a></li>
            </ul>
        </div>
        <div class="box" v-show="tabs == 1">
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Wine
                    </h1>
                </div>
            </div>
            <div class="columns" v-if="report">
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Sales
                        </h1>
                        <h2 class="title">
                            ${{report.wine.sale}}
                        </h2>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Percentage
                        </h1>
                        <h2 class="title">
                        {{(report.wine.percentage*100).toFixed(2)}}%
                        </h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns" :key="index" v-for="(sub,key,index) in report.wine.data">
                    <div class="column">
                        {{key}}
                    </div>
                    <div class="column">
                        ${{(sub.sale).toFixed(2)}}
                    </div>
                    <div class="column">
                        {{(sub.percentage*100).toFixed(2)}}%
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Spirits
                    </h1>
                </div>
            </div>
            <div class="columns" v-if="report">
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Sales
                        </h1>
                        <h2 class="title">
                            ${{report.spirits.sale}}
                        </h2>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Percentage
                        </h1>
                        <h2 class="title">
                        {{(report.spirits.percentage*100).toFixed(2)}}%
                        </h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns" :key="index" v-for="(sub,key,index) in report.spirits.data">
                    <div class="column">
                        {{key}}
                    </div>
                    <div class="column">
                        ${{(sub.sale).toFixed(2)}}
                    </div>
                    <div class="column">
                        {{(sub.percentage*100).toFixed(2)}}%
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Beer
                    </h1>
                </div>
            </div>
            <div class="columns" v-if="report">
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Sales
                        </h1>
                        <h2 class="title">
                            ${{report.beer.sale}}
                        </h2>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Percentage
                        </h1>
                        <h2 class="title">
                        {{(report.beer.percentage*100).toFixed(2)}}%
                        </h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns" :key="index" v-for="(sub,key,index) in report.beer.data">
                    <div class="column">
                        {{key}}
                    </div>
                    <div class="column">
                        ${{(sub.sale).toFixed(2)}}
                    </div>
                    <div class="column">
                        {{(sub.percentage*100).toFixed(2)}}%
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Cider
                    </h1>
                </div>
            </div>
            <div class="columns" v-if="report">
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Sales
                        </h1>
                        <h2 class="title">
                            ${{report.cider.sale}}
                        </h2>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Percentage
                        </h1>
                        <h2 class="title">
                        {{(report.cider.percentage*100).toFixed(2)}}%
                        </h2>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        RTD
                    </h1>
                </div>
            </div>
            <div class="columns" v-if="report">
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Sales
                        </h1>
                        <h2 class="title">
                            ${{report.RTD.sale}}
                        </h2>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <h1 class="subtitle">
                            Percentage
                        </h1>
                        <h2 class="title">
                        {{(report.RTD.percentage*100).toFixed(2)}}%
                        </h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns" :key="index" v-for="(sub,key,index) in report.RTD.data">
                    <div class="column">
                        {{key}}
                    </div>
                    <div class="column">
                        ${{(sub.sale).toFixed(2)}}
                    </div>
                    <div class="column">
                        {{(sub.percentage*100).toFixed(2)}}%
                    </div>
                </div>
            </div>
        </div>
        <div class="box" v-show="tabs == 2">
            <canvas id="myChart" width="400" height="200"></canvas>
            <h5>Day of Week</h5>
            <canvas id="myDetails" width="400" height="200"></canvas>
            <h5>Hour of Day</h5>
            <canvas id="myHours" width="400" height="200"></canvas>
            <h5>Weather</h5>
            <canvas id="myWeather" width="400" height="200"></canvas>
        </div>
        <div v-show="tabs == 3">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        Product ID
                    </div>
                    <div class="column">
                        Name
                    </div>
                    <div class="column">
                        Package
                    </div>
                    <div class="column">
                        Primary Category
                    </div>
                    <div class="column">
                        Sold Qty
                    </div>
                </div>
                <div class="columns" :key="product.id" v-for="product in topProducts">
                    <div class="column">
                        {{product.id}}
                    </div>
                    <div class="column">
                        {{product.name}}
                    </div>
                    <div class="column">
                        {{product.package}}
                    </div>
                    <div class="column">
                        {{product.primary_category}}
                    </div>
                    <div class="column">
                        {{product.qty}}
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>Beer</h1>
                <div class="columns">
                    <div class="column">
                        Product ID
                    </div>
                    <div class="column">
                        Name
                    </div>
                    <div class="column">
                        Package
                    </div>
                    <div class="column">
                        Primary Category
                    </div>
                    <div class="column">
                        Sold Qty
                    </div>
                </div>
                <div class="columns" :key="product.id" v-for="product in topCategoryProducts.beer">
                    <div class="column">
                        {{product.id}}
                    </div>
                    <div class="column">
                        {{product.name}}
                    </div>
                    <div class="column">
                        {{product.package}}
                    </div>
                    <div class="column">
                        {{product.primary_category}}
                    </div>
                    <div class="column">
                        {{product.qty}}
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>Wine</h1>
                <div class="columns">
                    <div class="column">
                        Product ID
                    </div>
                    <div class="column">
                        Name
                    </div>
                    <div class="column">
                        Package
                    </div>
                    <div class="column">
                        Primary Category
                    </div>
                    <div class="column">
                        Sold Qty
                    </div>
                </div>
                <div class="columns" :key="product.id" v-for="product in topCategoryProducts.wine">
                    <div class="column">
                        {{product.id}}
                    </div>
                    <div class="column">
                        {{product.name}}
                    </div>
                    <div class="column">
                        {{product.package}}
                    </div>
                    <div class="column">
                        {{product.primary_category}}
                    </div>
                    <div class="column">
                        {{product.qty}}
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>Spirits</h1>
                <div class="columns">
                    <div class="column">
                        Product ID
                    </div>
                    <div class="column">
                        Name
                    </div>
                    <div class="column">
                        Package
                    </div>
                    <div class="column">
                        Primary Category
                    </div>
                    <div class="column">
                        Sold Qty
                    </div>
                </div>
                <div class="columns" :key="product.id" v-for="product in topCategoryProducts.spirits">
                    <div class="column">
                        {{product.id}}
                    </div>
                    <div class="column">
                        {{product.name}}
                    </div>
                    <div class="column">
                        {{product.package}}
                    </div>
                    <div class="column">
                        {{product.primary_category}}
                    </div>
                    <div class="column">
                        {{product.qty}}
                    </div>
                </div>
            </div>
            <div class="box">
                <h1>Coolers</h1>
                <div class="columns">
                    <div class="column">
                        Product ID
                    </div>
                    <div class="column">
                        Name
                    </div>
                    <div class="column">
                        Package
                    </div>
                    <div class="column">
                        Primary Category
                    </div>
                    <div class="column">
                        Sold Qty
                    </div>
                </div>
                <div class="columns" :key="product.id" v-for="product in topCategoryProducts.coolers">
                    <div class="column">
                        {{product.id}}
                    </div>
                    <div class="column">
                        {{product.name}}
                    </div>
                    <div class="column">
                        {{product.package}}
                    </div>
                    <div class="column">
                        {{product.primary_category}}
                    </div>
                    <div class="column">
                        {{product.qty}}
                    </div>
                </div>
            </div>
        </div>
        <div v-show="tabs == 4">
            <div class="box" v-if="featuredProductReport">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Featured Category</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Prev Sales</th>
                            <th>Sales</th>
                            <th>Prev Page View</th>
                            <th>Page View</th>
                        </tr>
                    </thead>
                    <tbody :key="cate.id" v-for="cate in featuredProductReport">
                        <tr :key="p.id" v-for="p in cate.products">
                            <td>{{cate.key}}</td>
                            <td>{{p.id}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.PerviousQtySold}}</td>
                            <td>{{p.TotalQtySold}}</td>
                            <td>{{p.pageviews}}</td>
                            <td>{{p.Previousageviews}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
 
    export default {
        mounted() {
            this.getReport();
            this.getBusyDay();
            this.getProductsTop();
            this.getCategoryProductsTop('beer');
            this.getCategoryProductsTop('wine');
            this.getCategoryProductsTop('spirits');
            this.getCategoryProductsTop('coolers');
            this.getFeatureProductReport();
        },

        data: function() {
            return {
                timeRange: [
                    moment().subtract(30, 'day'),
                    moment()
                ],
                topProducts: [],
                topCategoryProducts: {
                    beer: [],
                    wine: [],
                    spirits: [],
                    coolers: []
                },
                report: null,
                busyDay: null,
                tabs: 1,
                busyHour: null,
                weatherOrder: null,
                featuredProductReport: null
            }
        },

        props: ['id'],

        watch: {
            timeRange(newVal){
                this.getReport();
                this.getProductsTop();
                this.getCategoryProductsTop('beer');
                this.getCategoryProductsTop('wine');
                this.getCategoryProductsTop('spirits');
                this.getCategoryProductsTop('coolers');
                this.getFeatureProductReport();
            },
        },
        filters: {
        	timeFormat(value){
        		return moment(value).format('YYYY-MM-DD');
        	},
            currency: function(val) {
                return Number(Math.round(val + 'e' + 2) + 'e-' + 2).toFixed(2);
            }
        },
        methods: {
            getReport: function() {
            	var vm = this;

            	if (vm.timeRange) {
            		axios.post('/api/v1/command/report',{
            			time: vm.timeRange
            		})
	                    .then(function(response) {
	                        vm.report = response.data;        
	                    })
	                    .catch(function(error) {
	                        console.log(error);
	                    });
            	}else{
	                axios.post('/api/v1/command/report')
	                    .then(function(response) {
	                        vm.report = response.data;        
	                    })
	                    .catch(function(error) {
	                        console.log(error);
	                    });
                }
            },
            getFeatureProductReport() {
                let vm = this;
                axios.post('/api/v1/command/report/featured-products',{
                    time: this.timeRange
                })
                .then(function(response) {
                    vm.featuredProductReport = response.data;        
                })
                .catch(function(error) {
                    console.log(error);
                });  

            },
            getBusyDay: function() {
            	var vm = this;

                axios.get('/api/v1/command/busiest_day_of_the_week')
                    .then(function(response) {
                        vm.busyDay = response.data;   
                        vm.getBusyHour();
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            getBusyHour: function() {
            	var vm = this;

                axios.get('/api/v1/command/busiest_hour_of_the_day')
                    .then(function(response) {
                        vm.busyHour = response.data;   
                        vm.getWeather();
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            getWeather: function() {
            	var vm = this;

                axios.get('/api/v1/command/weather_with_order')
                    .then(function(response) {
                        vm.weatherOrder = response.data;   
                        vm.renderChart();
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            renderChart(){
                var ctx = document.getElementById("myChart");
                var ctx2 = document.getElementById("myDetails");
                var ctx3 = document.getElementById("myHours");
                var ctx4 = document.getElementById("myWeather");
                let vm = this;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                        datasets: [{
                            label: '# of Orders',
                            data: vm.busyDay.total,
                            backgroundColor: [
                                'rgba(148, 0, 211, 0.5)',
                                'rgba(75, 0, 130, 0.5)',
                                'rgba(0, 0, 255, 0.5)',
                                'rgba(0, 255, 0, 0.5)',
                                'rgba(255, 255, 0, 0.5)',
                                'rgba(255, 127, 0, 0.5)',
                                'rgba(255, 0 , 0, 0.5)'
                            ]
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                var myDetails = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: vm.busyDay.labels,
                        datasets: [{
                            label: 'Monday',
                            fill: false,
                            data: vm.busyDay.details.mon,
                            borderColor: ['rgba(148, 0, 211, 0.5)']
                        },{
                            label: 'Tuesday',
                            fill: false,
                            data: vm.busyDay.details.tue,
                            borderColor: ['rgba(75, 0, 130, 0.5)']
                        },{
                            label: 'Wednesday',
                            fill: false,
                            data: vm.busyDay.details.wed,
                            borderColor: ['rgba(0, 0, 255, 0.5)']
                        },{
                            label: 'Thursday',
                            fill: false,
                            data: vm.busyDay.details.thu,
                            borderColor: ['rgba(0, 255, 0, 0.5)']
                        },{
                            label: 'Friday',
                            fill: false,
                            data: vm.busyDay.details.fri,
                            borderColor: ['rgba(255, 255, 0, 0.5)']
                        },{
                            label: 'Saturday',
                            fill: false,
                            data: vm.busyDay.details.sat,
                            borderColor: ['rgba(255, 127, 0, 0.5)']
                        },{
                            label: 'Sunday',
                            fill: false,
                            data: vm.busyDay.details.sun,
                            borderColor: ['rgba(255, 0 , 0, 0.5)']
                        },]
                    },
                    options: {}
                });
                var myHours = new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],
                        datasets: [{
                            label: 'Monday',
                            fill: false,
                            data: vm.busyHour.details.mon,
                            borderColor: ['rgba(148, 0, 211, 0.5)']
                        },{
                            label: 'Tuesday',
                            fill: false,
                            data: vm.busyHour.details.tue,
                            borderColor: ['rgba(75, 0, 130, 0.5)']
                        },{
                            label: 'Wednesday',
                            fill: false,
                            data: vm.busyHour.details.wed,
                            borderColor: ['rgba(0, 0, 255, 0.5)']
                        },{
                            label: 'Thursday',
                            fill: false,
                            data: vm.busyHour.details.thu,
                            borderColor: ['rgba(0, 255, 0, 0.5)']
                        },{
                            label: 'Friday',
                            fill: false,
                            data: vm.busyHour.details.fri,
                            borderColor: ['rgba(255, 255, 0, 0.5)']
                        },{
                            label: 'Saturday',
                            fill: false,
                            data: vm.busyHour.details.sat,
                            borderColor: ['rgba(255, 127, 0, 0.5)']
                        },{
                            label: 'Sunday',
                            fill: false,
                            data: vm.busyHour.details.sun,
                            borderColor: ['rgba(255, 0 , 0, 0.5)']
                        },]
                    },
                    options: {}
                });
                var myWeather = new Chart(ctx4, {
                    type: 'line',
                    data: {
                        labels: vm.weatherOrder.date,
                        datasets: [{
                            label: 'Highest Temp',
                            fill: false,
                            data: vm.weatherOrder.apparentTemperaturesMax,
                            borderColor: ['rgba(148, 0, 211, 0.5)']
                        },{
                            label: 'Lowest Temp',
                            fill: false,
                            data: vm.weatherOrder.apparentTemperaturesMin,
                            borderColor: ['rgba(75, 0, 130, 0.5)']
                        }]
                    },
                    options: {}
                });
            },
            getProductsTop: function() {
            	var vm = this;

                axios.post('/api/v1/command/top_products',{
					time: this.timeRange
				})
                    .then(function(response) {
                        vm.topProducts = response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },

            getCategoryProductsTop: function(category) {
            	var vm = this;

                axios.post('/api/v1/command/top_products/'+category,{
					time: this.timeRange
				})
                    .then(function(response) {
                        vm.topCategoryProducts[category] = response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
        }
    }
</script>
