<template>
  <div class="column">
    <div class="tabs">
      <ul>
        <li :class="{'is-active': reviewType === 0}"><a @click.prevent="reviewType=0">Under Reviewing</a></li>
        <li :class="{'is-active': reviewType === 1}"><a @click.prevent="reviewType=1">Approved</a></li>
        <li :class="{'is-active': reviewType === 2}"><a @click.prevent="reviewType=2">Rejected</a></li>
      </ul>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column">
          <p>
            Product ID
          </p>
        </div>
        <div class="column">
          <p>
            User
          </p>
        </div>
        <div class="column">
          <p>
            Value
          </p>
        </div>
        <div class="column">
          <p>
            Title
          </p>
        </div>
        <div class="column">
          <p/>
        </div>
        <div class="column">
          <p>
            Approve
          </p>
        </div>
        <div
          v-if="reviewType==0"
          class="column">
          <p/>
        </div>
      </div>
      <div v-for="review in reviews">
        <div class="columns">
          <div class="column">
            <p>
              {{ review.product_id }}
            </p>
          </div>
          <div class="column">
            <a
              :href="'/dispatch/customers/' + review.user_id"
              target="_blank">
              {{ review.user ? review.user.first_name + ' ' + review.user.last_name : review.user_id }}
            </a>
          </div>
          <div class="column">
            <p>
              {{ review.value }}
            </p>
          </div>
          <div class="column">
            <p>
              {{ review.title }}
            </p>
          </div>
          <div class="column">
            <button
              class="button is-primary"
              @click="showDesc = review.id">ShowBody</button>
          </div>
          <div
            v-if="reviewType!=1"
            class="column">
            <button
              class="button is-primary"
              @click="reviewApprove(review.id, 'yes', review.product_id)">
              Approve
            </button>
          </div>
          <div
            v-if="reviewType!=2"
            class="column">
            <button
              class="button is-primary"
              @click="reviewApprove(review.id, 'no')">
              Reject
            </button>
          </div>
        </div>
        <div
          v-if="showDesc == review.id"
          class="columns">
          <div class="column">
            <div class="box">
              {{ review.description }}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div
      v-if="totalPage > 1"
      class="box">
      <div class="columns">
        <div class="column">
          <a
            v-if="page > 1"
            href="#"
            @click.prevent="page -= 1">
            Previous
          </a>
        </div>
        <div
          class="column"
          style="text-align: right;">
          <a
            v-if="page < totalPage"
            href="#"
            @click.prevent="page += 1">
            Next page
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  data() {
    return {
      reviews: [],
      reviewType: 0,
      page: 1,
      totalPage: null,
      showDesc: null,
    };
  },
  watch: {
    page(newVal) {
      this.getReviews();
    },
    reviewType(newVal) {
      this.getReviews(newVal);
    },
  },
  mounted() {
    this.getReviews(this.reviewType);
  },
  methods: {
    getReviews(type) {
      api().get(`reviews/${type}?page=${this.page}`)
        .then((response) => {
          this.reviews = response.data.data;
          this.totalPage = response.data.last_page;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    reviewApprove(reviewId, approve, productId) {
      api().post(`reviews/${reviewId}`, {
        approve,
        productId,
      })
        .then(() => {
          this.getReviews(this.reviewType);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
