<template>
    <div class="column">
    	<div class="box">
	        <div class="columns">
	        	<div class="column">
	        		<p>Title</p>
	        	</div>
	        	<div class="column">
	        		<p>Description</p>
	        	</div>
	        	<div class="column">
	        		<p>Rate</p>
	        	</div>
	        	<div class="column">
	        		<p>Background Color</p>
	        	</div>
	        	<div class="column">
	        		<p>View</p>
	        	</div>
	        </div>
	        <div class="columns" v-for="runnerPositions in runnerPositions">
	        	<div class="column">
	        		<p>{{ runnerPosition.title }}</p>
	        	</div>
	        	<div class="column">
	        		<p>{{ runnerPosition.description }}</p>
	        	</div>
	        	<div class="column">
	        		<p>{{ runnerPosition.rate }}</p>
	        	</div>
	        	<div class="column">
	        		<p>{{ runnerPosition.backgroundColor }}</p>
	        	</div>
	        	<div class="column">
	        		<p><button class="button is-primary" @click.prevent="selectJob = job">Select</button></p>
	        	</div>
	        </div>
        </div>
        <div class="box" v-if="!newJob">
        	<div class="columns">
        		<div class="column">
        			<p>
        				<button class="button" @click.prevent="showNewJob">New Job</button>
        			</p>
        		</div>
        	</div>
        </div>
        <div class="box" v-if="newJob">
	        <div class="columns">
	        	<div class="column">
	        		<p>Title</p>
	        	</div>
	        	<div class="column">
	        		<p>Description</p>
	        	</div>
	        	<div class="column">
	        		<p>Rate</p>
	        	</div>
	        	<div class="column">
	        		<p>Background Color</p>
	        	</div>
	        </div>
	        <div class="columns">
	        	<div class="column">
					<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="newJob.title">
					  	</div>
					</div>
	        	</div>
	        	<div class="column">
					<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="newJob.description">
					  	</div>
					</div>
	        	</div>
	        	<div class="column">
	        		<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="newJob.rate">
					  	</div>
					</div>
	        	</div>
	        	<div class="column">
	        		<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="newJob.backgroundColor">
					  	</div>
					</div>
	        	</div>
	        </div>
	        <div class="columns">
	        	<div class="column">
	        		<p>
	        			<button class="button is-primary" @click.prevent="createJob()">Save</button>
	        		</p>
	        	</div>
	        	<div class="column">
	        		<p>
	        			<button class="button is-primary" @click.prevent="newJob = null">Cancel</button>
	        		</p>
	        	</div>
	        </div>
        </div>
        <div class="box" v-if="selectJob">
	        <div class="columns">
	        	<div class="column">
	        		<p>Title</p>
	        	</div>
	        	<div class="column">
	        		<p>Description</p>
	        	</div>
	        	<div class="column">
	        		<p>Rate</p>
	        	</div>
	        	<div class="column">
	        		<p>Background Color</p>
	        	</div>
	        </div>
	        <div class="columns">
	        	<div class="column">
					<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="selectJob.title">
					  	</div>
					</div>
	        	</div>
	        	<div class="column">
					<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="selectJob.description">
					  	</div>
					</div>
	        	</div>
	        	<div class="column">
	        		<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="selectJob.rate">
					  	</div>
					</div>
	        	</div>
	        	<div class="column">
	        		<div class="field">
						<div class="control">
						    <input type="text" class="input is-primary" v-model="selectJob.backgroundColor">
					  	</div>
					</div>
	        	</div>
	        </div>
	        <div class="columns">
	        	<div class="column">
	        		<p>
	        			<button class="button is-primary" @click.prevent="updateJob(selectJob)">Save</button>
	        		</p>
	        	</div>
	        	<div class="column">
	        		<p>
	        			<button class="button is-primary" @click.prevent="selectJob = null">Cancel</button>
	        		</p>
	        	</div>
	        	<div class="column">
	        		<p>
	        			<button class="button is-primary" @click.prevent="removeJob(selectJob.id)">Remove</button>
	        		</p>
	        	</div>
	        </div>
        </div>
    </div>
</template>

<script>
export default {
	mounted() {
		this.getRunnerPositions();
	},
	data: function() {
		return {
			runnerPositions: [],
			selectJob: null,
			newJob: null
		}
	},
	methods: {
		showNewRunnerPosition() {
			this.newJob = {
				title: null,
				description: null,
				rate: null,
				backgroundColor: null
			}
		},
		getRunnerPositions() {
			axios.get('/api/v1/command/runner-positions')
				.then(function (response) {
					this.runnerPositions = response.data;
				})
				.catch(function (error) {
					console.log(error);
				}); 
		},
		removeRunnerPosition(id) {
			axios.delete('/api/v1/command/runner-positions/' + id)
				.then(function (response) {
					this.selectRunnerPosition = null;
					this.getRunnerPositions();
				})
				.catch(function (error) {
					console.log(error);
				}); 
		},
		createRunnerPosition() {
			axios.post('/api/v1/command/runner-positions', this.newRunnerPosition)
				.then(function (response) {
					this.newRunnerPosition = null;
					this.getRunnerPosition();
				})
				.catch(function (error) {
					console.log(error);
				}); 
		},
		updateRunnerPosition(runnerPosition) {
			axios.put('/api/v1/command/runner-positions/' + runnerPosition.id,{
				title: runnerPosition.title,
				description: runnerPosition.description,
				rate: runnerPosition.rate,
				backgroundColor: runnerPosition.backgroundColor
			})
				.then(function (response) {
					this.selectRunnerPosition = null;
					this.getRunnerPositions();
				})
				.catch(function (error) {
					console.log(error);
				}); 
		}
	}
}
</script>
