<template>
  <section class="section">
    <div class="container">
      <div
        v-show="showCalender"
        id="calendar"
        style="width:80%;"/>
      <div
        v-if="showEventBox"
        class="modal"
        style="display:block">
        <div class="modal-background"/>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">New Schedule</p>
            <button
              class="delete"
              @click.prevent="showEventBox=false"/>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">User</label>
              <div class="control">
                <div class="select">
                  <select v-model="event.user">
                    <option
                      v-for="employee in employees"
                      :value="employee.id">{{ employee.first_name }} {{ employee.last_name }} - {{ employee.role | roleName }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Runner Position Type</label>
              <div class="control">
                <div class="select">
                  <select v-model="event.job_type">
                    <option
                      v-for="runnerPosition in runnerPositions"
                      :value="runnerPosition.id">{{ runnerPosition.title }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Start</label>
              <div class="control">
                <input
                  v-model="event.start"
                  class="input"
                  type="text"
                  placeholder="Schedule Start">
              </div>
            </div>
            <div class="field">
              <label class="label">End</label>
              <div class="control">
                <input
                  v-model="event.end"
                  class="input"
                  type="text"
                  placeholder="Schedule End">
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <a
              :disabled="!event.user || !event.job_type || !event.start || !event.end"
              class="button is-primary"
              @click.prevent="createSchedule">Save changes</a>
            <a
              class="button"
              @click.prevent="showEventBox=false">Cancel</a>
          </footer>
        </div>
      </div>
      <div
        v-if="showEditEventBox"
        class="modal"
        style="display:block">
        <div class="modal-background"/>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">{{ selectedSchedule.title }}</p>
            <button
              class="delete"
              @click.prevent="showEditEventBox = false"/>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Start</label>
              <div class="control">
                <input
                  v-model="selectedSchedule.start"
                  class="input"
                  type="text"
                  placeholder="Schedule Start">
              </div>
            </div>
            <div class="field">
              <label class="label">End</label>
              <div class="control">
                <input
                  v-model="selectedSchedule.end"
                  class="input"
                  type="text"
                  placeholder="Schedule End">
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <a
              class="button is-primary"
              @click.prevent="updateSchedule(selectedSchedule.id, selectedSchedule.start, selectedSchedule.end)">Update changes</a>
            <a
              class="button is-danger"
              @click.prevent="removeSchedule(selectedSchedule.id)">Delete</a>
            <a
              class="button"
              @click.prevent="showEditEventBox=false">Cancel</a>
          </footer>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  filters: {
    roleName(value) {
      if (value === 1) {
        return 'Admin';
      }
      if (value === 2) {
        return 'Runner';
      }
      if (value === 5) {
        return 'Dispatch';
      }

      return 'Unknown';
    },
  },

  data() {
    return {
      showCalender: false,
      showEventBox: false,
      showEditEventBox: false,
      orders: [],
      runnerPositions: [],
      event: {
        job_type: 1,
        start: null,
        end: null,
        user: null,
      },
      calendar: null,
      schedules: [],
      selectedSchedule: {},
    };
  },
  watch: {
    showEventBox(newVal) {
      if (!newVal) {
        this.event.job_type = 'runner';
        this.event.start = null;
        this.event.end = null;
        this.event.user = null;
      }
    },
    showEditEventBox(newVal) {
      if (!newVal) {
        this.selectedSchedule = {

        };
      }
    },
    showCalender(newVal) {
      if (newVal) {
        this.calendar.fullCalendar('render');
      }
    },
    orders(newVal) {
      if (this.calendar.fullCalendar('getEventSourceById', 11111111)) {
        this.calendar.fullCalendar('removeEventSource', 11111111);
      }
      this.calendar.fullCalendar('addEventSource', {
        id: 11111111,
        events: newVal,
        editable: false,
      });
    },
    schedules(newVal) {
      if (this.calendar.fullCalendar('getEventSourceById', 22222222)) {
        this.calendar.fullCalendar('removeEventSource', 22222222);
      }
      this.calendar.fullCalendar('addEventSource', {
        id: 22222222,
        events: newVal,
        editable: true,
      });
    },
  },
  mounted() {
    this.getEmployees();
    this.getSchedules();
    this.getScheduleOrders();
    this.getRunnerPositions();
  },
  methods: {
    createCalendar() {
      const vm = this;

      this.calendar = document.getElementById('#calendar').fullCalendar({
        defaultView: 'month',
        timezone: 'America/Toronto',
        header: {
          left: 'prev, next today',
          center: 'title',
          right: 'month, agendaWeek, agendaDay',
        },
        height: 'auto',
        selectable: true,
        selectHelper: true,
        select(start, end) {
          vm.event.start = start;
          vm.event.end = end;
          vm.showEventBox = true;

          vm.calendar.fullCalendar('unselect');
        },
        eventClick(event) {
          if (event.url) {
            window.open(event.url);

            return false;
          }
          if (event.source.id === 22222222) {
            vm.selectedSchedule = event;
            vm.showEditEventBox = true;
          }
        },
        eventDrop(event) {
          vm.updateSchedule(event.id, event.start, event.end);
        },
        eventResize(event) {
          vm.updateSchedule(event.id, event.start, event.end);
        },
      });
    },
    getScheduleOrders() {
      const vm = this;

      axios.get('/api/v1/dispatch/schedule/orders')
        .then((response) => {
          vm.orders = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getSchedules() {
      const vm = this;

      axios.get('/api/v1/dispatch/schedule')
        .then((response) => {
          vm.schedules = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createSchedule() {
      const vm = this;

      axios.post('/api/v1/dispatch/schedule', this.event)
        .then((response) => {
          vm.showEventBox = false;
          vm.getSchedules();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    removeSchedule(id) {
      const vm = this;

      axios.delete(`/api/v1/dispatch/schedule/${id}`)
        .then((response) => {
          vm.showEditEventBox = false;
          vm.getSchedules();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    updateSchedule(id, start, end) {
      const vm = this;

      axios.put(`/api/v1/dispatch/schedule/${id}`, {
        start,
        end,
      })
        .then((response) => {
          vm.showEditEventBox = false;
          vm.getSchedules();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getEmployees() {
      const vm = this;

      axios.get('/api/v1/dispatch/schedule/employees')
        .then((response) => {
          vm.employees = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRunnerPositions() {
      axios.get('/api/v1/dispatch/schedule/runner-positions')
        .then(function (response) {
          this.runnerPositions = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
