<template>
  <div class="column">
    <div class="columns">
      <div class="column">
        <date-picker
          v-model="timeRange"
          lang="en"
          range/>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <input
          v-model="categoryId"
          placeholder="Category Id"
          class="input"
          type="text">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a
          class="button is-primary"
          @click="applyFilter">
          Apply
        </a>
      </div>
      <div class="column">
        <a
          v-show="result.length > 0"
          type="button"
          class="button is-primary"
          @click="exportSegment">
          Export to CSV
        </a>
      </div>
    </div>
    <div class="box">
      <table class="table">
        <thead v-show="false">
          <tr>
            <th rowspan="3">
              {{ subject | capitalize }}
              {{ condition_desc == 1 ? 'Who has Purchased' : '' }}
              {{ condition_desc == 2 ? 'Who has Added to the cart' : '' }}
              {{ condition_value | capitalize }} BetWeen
              {{ timeRange[0] | timeFormat }} ~ {{ timeRange[1] | timeFormat }}
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>
              Email
            </th>
            <th>
              Phone Number
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Date Of Birth
            </th>
            <th>
              UID
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(r, index) in result"
            :key="index">
            <td>
              {{ r.email }}
            </td>
            <td>
              {{ r.phone }}
            </td>
            <td>
              {{ r.fn }}
            </td>
            <td>
              {{ r.ln }}
            </td>
            <td>
              {{ r.dob }}
            </td>
            <td>
              {{ r.uid }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    timeFormat(value) {
      return moment(value).format('YYYY-MM-DD');
    },
    capitalize(value) {
      if (!value) return '';
      value = value.toString();

      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  data() {
    return {
      timeRange: [
        moment().subtract(30, 'day'),
        moment(),
      ],
      categoryId: '',
      result: [],
    };
  },
  methods: {
    exportSegment() {
      axios({
        method: 'get',
        url: `/api/v1/command/segment/export?categoryId=${this.categoryId}`,
        responseType: 'blob',
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
        },
      })
	      .then((response) => {
          const url = window.URL.createObjectURL(new Blob([
            response.data,
          ]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'segment.xlsx');
          document.body.appendChild(link);
          link.click();
	      })
        .catch((error) => {
          console.log(error);
        });
    },
    applyFilter() {
      axios({
        method: 'post',
        url: '/api/v1/command/segment',
        data: {
          time: this.timeRange,
          categoryId: this.categoryId,
        },
        headers: {
          Authorization: `Bearer ${this.$cookie.get('token', { domain: window.domain })}`,
        },
      })
        .then((response) => {
          this.result = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
