<template>
  <div class="w-full">
    <table class="runner-table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Store
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="store in stores"
          :key="store.id"
          @click="goToStore(store.id)">
          <td>
            {{ store.id }}
          </td>
          <td>
            {{ store.attributes.title }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>

</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  data() {
    return {
      stores: {},
    };
  },
  mounted() {
    this.getStores();
  },
  methods: {
    getStores() {
      api().get('stores')
        .then((response) => {
          this.stores = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    goToStore(storeId) {
      window.location = `/command/stores/${storeId}`;
    },
  },
};
</script>
