<template>
  <div class="w-full">
    <div class="flex justify-between">
      <h2 class="m-0 items-center flex">
        {{ store.attributes.title }}
      </h2>
      <button
        class="bg-red text-white font-bold p-8 rounded"
        @click="updateStore">
        Update
      </button>
    </div>
    <ul class="flex py-15 border-b">
      <li
        :class="{'text-red': activeTab === 'general'}"
        class="pr-15 cursor-pointer hover:text-red"
        @click="changeTab('general')">
        General
      </li>
      <li
        :class="{'text-red': activeTab === 'carousel'}"
        class="pr-15 cursor-pointer hover:text-red"
        @click="changeTab('carousel')">
        Carousel
      </li>
      <li
        :class="{'text-red': activeTab === 'featuredProducts'}"
        class="pr-15 cursor-pointer hover:text-red"
        @click="changeTab('featuredProducts')">
        Featured Products
      </li>
      <li
        :class="{'text-red': activeTab === 'categories'}"
        class="pr-15 cursor-pointer hover:text-red"
        @click="changeTab('categories')">
        Categories
      </li>
    </ul>
    <div v-if="activeTab === 'general'">
      <div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Store Title
          </p>
          <input
            v-model="store.attributes.title"
            class="appearance-none border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Store Status
          </p>
          <input
            v-model="store.attributes.isActive"
            type="checkbox">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            About Text
          </p>
          <input
            v-model="store.attributes.options.aboutText"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Banner Image
          </p>
          <input
            v-model="store.attributes.options.bannerImage"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Tower Image
          </p>
          <input
            v-model="store.attributes.options.towerImage"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Block Image
          </p>
          <input
            v-model="store.attributes.options.blockImage"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Banner Logo
          </p>
          <input
            v-model="store.attributes.options.bannerLogo"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Gift Options
          </p>
          <input
            v-model="store.attributes.options.giftOptions"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Navigation Logo
          </p>
          <input
            v-model="store.attributes.options.navigationLogo"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Next Delivery Time
          </p>
          <input
            v-model="store.attributes.options.nextDeliveryTime"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Primary Color
          </p>
          <input
            v-model="store.attributes.options.primaryColor"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Secondary Color
          </p>
          <input
            v-model="store.attributes.options.secondaryColor"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Store Logo
          </p>
          <input
            v-model="store.attributes.options.storeLogo"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Tagline
          </p>
          <input
            v-model="store.attributes.options.tagLine"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Explore Blurb
          </p>
          <input
            v-model="store.attributes.options.exploreBlurb"
            class="appearance-none w-full border p-8 p-8 rounded"
            type="text">
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Layout
          </p>
          <v-jsoneditor
            v-model="store.attributes.options.layouts"
            height="400px"
            @error="onError"/>
        </div>
        <div class="mb-15 items-center">
          <p class="mb-5">
            Cart Extras
          </p>
          <v-jsoneditor
            v-model="store.attributes.cartExtras"
            height="400px"
            @error="onError"/>
        </div>
      </div>
    </div>
    <div v-if="activeTab === 'carousel'">
      <div class="carousel-wrap">
        <ul>
          <li
            v-for="(carousel, index) in store.attributes.options.carousel"
            :key="index"
            :class="{'text-red': activeSlide === index}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeSlide(index)">
            Slide {{ index + 1 }}
          </li>
          <button
            class="bg-red text-white font-bold p-8 rounded"
            @click="addSlide">
            Add Slide
          </button>
        </ul>
        <div>
          <div
            v-for="(carousel, index) in store.attributes.options.carousel"
            :key="index">
            <div
              v-if="index === activeSlide"
              class="mb-15 items-center">
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Alt Text
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].altText"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Button Link
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].buttonLink"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Button Text
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].buttonText"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Deep Link
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].deepLink"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Deep Link Type
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].deepLinkType"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Desktop Image
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].imageDesktop"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Mobile Image
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].imageMobile"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Is Video
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].isVideo"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Sort Order
                </p>
                <input
                  v-model.number="store.attributes.options.carousel[index].sortOrder"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Subtitle
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].subtitle"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Title
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].title"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Type
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].type"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  URL
                </p>
                <input
                  v-model="store.attributes.options.carousel[index].url"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <button
                class="bg-red text-white font-bold p-8 rounded"
                @click="removeSlide(index)">
                Remove Slide
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="activeTab === 'featuredProducts'">
      <div class="carousel-wrap">
        <ul>
          <li
            v-for="(featuredProduct, index) in store.attributes.options.featuredProducts"
            :key="index"
            :class="{'text-red': activeFeaturedProduct === index}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeFeaturedProduct(index)">
            Section {{ index + 1 }}
          </li>
        </ul>
        <div>
          <div
            v-for="(featuredProduct, index) in store.attributes.options.featuredProducts"
            :key="index">
            <div
              v-if="index === activeFeaturedProduct"
              class="mb-15 items-center">
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Category Id
                </p>
                <input
                  v-model="store.attributes.options.featuredProducts[index].categoryId"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Slug
                </p>
                <input
                  v-model="store.attributes.options.featuredProducts[index].slug"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Sort Order
                </p>
                <input
                  v-model="store.attributes.options.featuredProducts[index].sortOrder"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Title
                </p>
                <input
                  v-model="store.attributes.options.featuredProducts[index].title"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  URL
                </p>
                <input
                  v-model="store.attributes.options.featuredProducts[index].url"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="activeTab === 'categories'">
      <div class="carousel-wrap">
        <ul>
          <li
            :class="{'text-red': activeCategory === 0}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeCategory(0)">
            Category 1
          </li>
          <li
            :class="{'text-red': activeCategory === 1}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeCategory(1)">
            Category 2
          </li>
          <li
            :class="{'text-red': activeCategory === 2}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeCategory(2)">
            Category 3
          </li>
          <li
            :class="{'text-red': activeCategory === 3}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeCategory(3)">
            Category 4
          </li>
          <li
            :class="{'text-red': activeCategory === 4}"
            class="mb-15 cursor-pointer hover:text-red"
            @click="changeCategory(4)">
            Category 5
          </li>
        </ul>
        <div>
          <div
            v-for="(category, index) in store.attributes.options.categories"
            :key="index">
            <div
              v-if="index === activeCategory"
              class="mb-15 items-center">
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Category Id
                </p>
                <input
                  v-model="store.attributes.options.categories[index].categoryId"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Image
                </p>
                <input
                  v-model="store.attributes.options.categories[index].image"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Slug
                </p>
                <input
                  v-model="store.attributes.options.categories[index].slug"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Title
                </p>
                <input
                  v-model="store.attributes.options.categories[index].title"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="mb-15 items-center">
                <p class="mb-5">
                  Type
                </p>
                <input
                  v-model="store.attributes.options.categories[index].type"
                  class="appearance-none w-full border p-8 p-8 rounded"
                  type="text">
              </div>
              <div class="carousel-wrap">
                <ul>
                  <li
                    v-for="(subCategory, index) in store.attributes.options.categories[activeCategory].categories"
                    :key="index"
                    :class="{'text-red': activeSubCategory === index}"
                    class="mb-15 cursor-pointer hover:text-red"
                    @click="changeSubCategory(index)">
                    SubCategory {{ index + 1 }}
                  </li>
                </ul>
                <div>
                  <div
                    v-for="(subCategory, index) in store.attributes.options.categories[activeCategory].categories"
                    :key="index">
                    <div
                      v-if="index === activeSubCategory"
                      class="mb-15 items-center">
                      <div class="mb-15 items-center">
                        <p class="mb-5">
                          Category Id
                        </p>
                        <input
                          v-model="store.attributes.options.categories[activeCategory].categories[index].categoryId"
                          class="appearance-none w-full border p-8 p-8 rounded"
                          type="text">
                      </div>
                      <div class="mb-15 items-center">
                        <p class="mb-5">
                          Image
                        </p>
                        <input
                          v-model="store.attributes.options.categories[activeCategory].categories[index].image"
                          class="appearance-none w-full border p-8 p-8 rounded"
                          type="text">
                      </div>
                      <div class="mb-15 items-center">
                        <p class="mb-5">
                          Slug
                        </p>
                        <input
                          v-model="store.attributes.options.categories[activeCategory].categories[index].slug"
                          class="appearance-none w-full border p-8 p-8 rounded"
                          type="text">
                      </div>
                      <div class="mb-15 items-center">
                        <p class="mb-5">
                          Title
                        </p>
                        <input
                          v-model="store.attributes.options.categories[activeCategory].categories[index].title"
                          class="appearance-none w-full border p-8 p-8 rounded"
                          type="text">
                      </div>
                      <div class="mb-15 items-center">
                        <p class="mb-5">
                          Type
                        </p>
                        <input
                          v-model="store.attributes.options.categories[activeCategory].categories[index].type"
                          class="appearance-none w-full border p-8 p-8 rounded"
                          type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.carousel-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
}
</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  props: [
    'storeId',
  ],
  data() {
    return {
      activeTab: 'general',
      activeSlide: 0,
      activeFeaturedProduct: 0,
      activeCategory: 0,
      activeSubCategory: 0,
      store: {},
    };
  },
  mounted() {
    this.getStore();
  },
  methods: {
    changeTab(newTab) {
      this.activeTab = newTab;
    },
    changeSlide(newSlide) {
      this.activeSlide = newSlide;
    },
    changeFeaturedProduct(newFeaturedProduct) {
      this.activeFeaturedProduct = newFeaturedProduct;
    },
    changeCategory(newCategory) {
      this.activeCategory = newCategory;
    },
    changeSubCategory(newSubCategory) {
      this.activeSubCategory = newSubCategory;
    },
    addSlide() {
      const newSlide = {
        image1x: null,
        image2x: null,
        image3x: null,
        altText: null,
        buttonLink: null,
        buttonText: null,
        deepLink: null,
        deepLinkType: null,
        imageDesktop: null,
        imageMobile: null,
        isVideo: false,
        sortOrder: null,
        subtitle: null,
        title: null,
        type: null,
        url: null,
      };

      this.store.attributes.options.carousel.push(newSlide);
    },
    removeSlide(slideIndex) {
      this.store.attributes.options.carousel.splice(slideIndex, 1);
    },
    getStore() {
      api().get(`stores/${this.storeId}`)
	      .then((response) => {
          this.store = response.data.data;
          this.store.attributes.options = JSON.parse(response.data.data.attributes.options);
	      })
        .catch((error) => {
          console.log(error);
        });
    },
    updateStore() {
      const payload = {
        data: {
          type: 'stores',
          id: this.storeId,
          attributes: {
            isActive: this.store.attributes.isActive,
            options: this.store.attributes.options,
            cartExtras: JSON.stringify(this.store.attributes.cartExtras),
            title: this.store.attributes.title,
          },
        },
      };

      api().put(`stores/${this.store.id}`, payload)
        .then((response) => {
          location.reload();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onError(error) {
      console.log(error);
    },
  },
};
</script>
