<template>
  <div class="w-full">
    <div
      v-if="addTagDialogIsShown"
      class="fixed pin z-50 overflow-auto bg-overlay flex"
      @click.self="toggleAddTagDialog">
      <div class="relative p-15 bg-white w-full max-w-md m-auto">
        <h2 class="mb-15">
          New Tag
        </h2>
        <form
          action=""
          class="flex flex-col">
          <input
            v-model="newTag.title"
            class="appearance-none border rounded w-full p-8 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-15"
            type="text"
            placeholder="title">
          <input
            v-model="newTag.slug"
            class="appearance-none border rounded w-full p-8 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-15"
            type="text"
            placeholder="slug">
          <input
            v-model="newTag.type"
            class="appearance-none border rounded w-full p-8 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-15"
            type="text"
            placeholder="type">
          <button
            class="bg-red text-white font-bold p-8 rounded"
            @click="storeTag">
            Add
          </button>
        </form>
      </div>
    </div>
    <div class="grid grid-columns-2 mb-15">
      <div>
        <button
          class="bg-red text-white font-bold p-8 rounded"
          @click="toggleAddTagDialog">
          New Tag
        </button>
      </div>
    </div>
    <table class="runner-table table-auto">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Title
          </th>
          <th>
            Slug
          </th>
          <th>
            Type
          </th>
          <th/>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="tag in tags"
          :key="tag.id">
          <td>
            {{ tag.id }}
          </td>
          <td>
            {{ tag.attributes.title }}
          </td>
          <td>
            {{ tag.attributes.slug }}
          </td>
          <td>
            {{ tag.attributes.type }}
          </td>
          <td>
            <button
              class="bg-red text-white font-bold p-8 rounded"
              @click="deleteTag(tag.id)">
              &times;
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import api from '../mixins/api';

export default {
  mixins: [
    'api',
  ],
  data() {
    return {
      addTagDialogIsShown: false,
      tags: {
        tag: {
          attributes: {},
        },
      },
      newTag: {},
    };
  },
  mounted() {
    this.getTags();
  },
  methods: {
    toggleAddTagDialog() {
      this.addTagDialogIsShown = !this.addTagDialogIsShown;
    },
    getTags() {
      api().get('tags')
        .then((response) => {
          this.tags = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    storeTag() {
      const payload = {
        data: {
          type: 'tags',
          attributes: {
            title: this.newTag.title,
            slug: this.newTag.slug,
            type: this.newTag.type,
          },
        },
      };
      api().post('tags', payload)
        .then((response) => {

        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteTag(tagId) {
      const r = confirm('Are you sure that you want to delete this tag?');

      if (r == true) {
        api().delete(`tags/${tagId}`)
          .then((response) => {
            location.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>
